{% put styles %}
    <link href="/plugins/digitalfox/researchpublication/assets/css/style.css" rel="stylesheet" />
{% endput %}

{% set Journals = __SELF__.journals %}

<!-- bloc-0 -->
<div class="col-md-12 journal-section">
		<div class="row voffset">
      {% if Journals.count %}
          {% for Journal in Journals %}
          <div>
            <div class="bg-custom-blue rounded quote-heading">
              <h4 class="no-margin h-text">
                {% if Journal.file_mime %}
                <a href="//docs.google.com/gview?url={{url(Journal.file | media)}}&embedded=true" class="Journals">
                  {{Journal.title}}
                </a>
                {% else %}
                  {{Journal.title}}
                {% endif %}

              </h4>
            </div>
            <div class="indent-block">
            <p> {% if Journal.authors %} {{Journal.authors}} {% endif %} {% if Journal.journal_year %} ({{Journal.journal_year}}) {% endif %}</p>

            {% if Journal.source %}
              <p>
                <b style="color:#0b56a8;">Source: </b>
                <span>{{Journal.source}}</span>
                <span>
                  {% if Journal.link %}
                      <a href="{{Journal.link}}" target="_blank">View link</a>
                  {% endif %}
                </span>
              </p>
            {% endif %}

            <p>
              {% if Journal.volume %}
              <b style="color:#0b56a8;">Volume:</b> <span style="color:#15b;">{{Journal.volume}}</span>
              {% endif %}

              {% if Journal.issue %}
              <b style="color:#0b56a8;">Issue:</b> <span style="color:#15b;">{{Journal.issue}}</span>
              {% endif %}


              <br>
              {{ html_clean(Journal.description) }}

            </p>
            </div>
          </div>
          {% endfor %}
      {% else %}
        <h1 align="center">No Journals found!</h1>
      {% endif %}
		</div>
  </div>

<!-- <div class="col-md-12 journal-section">
		<div class="row voffset">
      {% if Journals.count %}
          {% for Journal in Journals %}
        			<div class="col-sm-4">
                  <div class="bordered">

                      {% if Journal.file_mime %}
            			    <a href="//docs.google.com/gview?url={{url(Journal.file | media)}}&embedded=true" class="Journals">
                        <p  align="center">
                          <img src="/plugins/digitalfox/researchpublication/assets/icons/{{Journal.file_mime}}.png" alt="{{Journal.file_mime}}" class="img-responsive" style="max-height:100px;" />
                        </p>
                      </a>
                      {% endif %}

                            {% if Journal.title %}
                			<p class="journal">
                				<b style="color:#0b56a8;">Title :</b>  <span style="color:#15b;">{{Journal.title}}</span>
                			</p>
                            {% endif %}

                      {% if Journal.authors %}
                      <p class="journal">
                        <b style="color:#0b56a8;"> Authors : </b> <span style="color:#15b;">{{Journal.authors}}</span>
                      </p>
                      {% endif %}

                      {% if Journal.journal_year %}
                      <p class="journal">
                        <b style="color:#0b56a8;"> Year: </b>  <span style="color:#15b;">{{Journal.journal_year}}</span>
                      </p>
                      {% endif %}


                      {% if Journal.journal %}
                      <p class="journal">
                          <b style="color:#0b56a8;"> Journal:</b> <span style="color:#15b;">{{Journal.journal}}</span>
                      </p>
                      {% endif %}

                      {% if Journal.volume %}
                      <p class="journal">
                          <b style="color:#0b56a8;">Volume:</b> <span style="color:#15b;">{{Journal.volume}}</span>
                      </p>
                      {% endif %}

                      {% if Journal.issue %}
                      <p class="journal">
                          <b style="color:#0b56a8;">Issue:</b> <span style="color:#15b;">{{Journal.issue}}</span>
                      </p>
                      {% endif %}

                       {% if Journal.link %}
                        <p class="journal">
                            <span><a href="{{Journal.link}}" target="_blank">View link</a></span> </a>
                        </p>
                        {% endif %}

                				{{ html_clean(Journal.description) }}
                  			</div>
              </div>
          {% endfor %}
      {% else %}
        <h1 align="center">No Journals found!</h1>
      {% endif %}
		</div>
  </div>
 -->
<!-- bloc-0 END -->
