{% set post = __SELF__.post %}
{% set posts = __SELF__.posts %}

{% put meta %}
  <meta name="keywords" content="{{post.seo_keywords}}">
  <meta name="description" content="{{post.seo_description}}">
{% endput %}

<h2><span><strong>{{ post.title }}</strong></span> <span class="pull-right"><h4><a class="blue-heading" href="javascript:void(0);"  onclick="window.history.back();">  <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a> </h4></span></h2>
<div class="col-sm-9">

  <p class="info">
      <b><em>Posted
      {% if post.categories.count %} in
          {% for category in post.categories %}
              <a href="/blog/category/{{category.slug}}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
      {% endif %}<br>
       {{ post.published_at|date('M d, Y') }}</em></b>
  </p>

  {% if post.featured_images.count %}
      <div class="featured-images text-center pull-right">
          {% for image in post.featured_images %}
              <p>
                  <img
                      data-src="{{ image.filename }}"
                      src="{{ image.path }}"
                      alt="{{ image.description }}"
                      style="max-width: 100%" />
              </p>
          {% endfor %}
      </div>
  {% endif %}
  <div class="content image-style post-content" style="text-align:justify;">{{ post.content_html|raw }}</div>

  <div class="b-b-gray">
    <div class="addthis_inline_share_toolbox"></div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-582976526a4c494e"></script>
  </div>
