{% put styles %}
    <link href="/plugins/digitalfox/researchpublication/assets/css/style.css" rel="stylesheet" />
{% endput %}

{% set Books = __SELF__.books %}

<!-- bloc-0 -->
  <div class="col-md-12 journal-section">
		<div class="row voffset">
      {% if Books.count %}
          {% for Book in Books %}
        			<div class="col-sm-4">
                  <div class="bordered">

                    {% if Book.file_mime %}
                    <a href="//docs.google.com/gview?url={{url(Book.file | media)}}&embedded=true" class="Books">
                      <p  align="center">
                        <img src="/plugins/digitalfox/researchpublication/assets/icons/{{Book.file_mime}}.png" alt="{{Journal.file_mime}}" class="img-responsive" style="max-height:100px;" />
                      </p>
                    </a>
                    {% endif %}

                {% if Book.title %}
                <p class="journal">
                  <b style="color:#0b56a8;">Chapter Title :</b>  <span style="color:#15b;">{{Book.title}}</span>
                </p>
                {% endif %}

                {% if Book.book_year %}
                <p class="journal">
                  <b style="color:#0b56a8;"> Year: </b>  <span style="color:#15b;">{{Book.book_year}}</span>
                </p>
                {% endif %}

                {% if Book.authors %}
                <p class="journal">
                  <b style="color:#0b56a8;"> Authors : </b> <span style="color:#15b;">{{Book.authors}}</span>
                </p>
                {% endif %}


                {% if Book.book_title %}
                <p class="journal">
                    <b style="color:#0b56a8;"> Book Title:</b> <span style="color:#15b;">{{Book.book_title}}</span>
                </p>
                {% endif %}

                {% if Book.editors %}
                <p class="journal">
                    <b style="color:#0b56a8;">Editors:</b> <span style="color:#15b;">{{Book.editors}}</span>
                </p>
                {% endif %}

                {% if Book.publisher %}
                <p class="journal">
                    <b style="color:#0b56a8;">Publisher:</b> <span style="color:#15b;">{{Book.publisher}}</span>
                </p>
                {% endif %}

                 {% if Book.link %}
                  <p class="journal">
                      <span><a href="{{Book.link}}" target="_blank">View link</a></span> </a>
                  </p>
                  {% endif %}

                	{{html_clean(Book.description)}}

            			</div>
              </div>
          {% endfor %}
      {% else %}
        <h1 align="center">No books found!</h1>
      {% endif %}
		</div>
  </div>

<!-- bloc-0 END -->
