<!-- Checkbox -->
<div class="checkbox custom-checkbox" tabindex="0">

  <div class="checkbox-inline" style="padding:0px;">
    <input type="hidden" name="on_behalf" value="0">
    <input type="checkbox" id="on_behalf" name="on_behalf" value="1">

    <label for="on_behalf">
      On behalf of
    </label>
  </div>
  <div class="checkbox-inline">
    <input type="hidden" name="in_honor" value="0">
    <input type="checkbox" id="in_honor" name="in_honor" value="1">

    <label for="in_honor">
      In honor
    </label>
  </div>

  <div class="checkbox-inline">
    <input type="hidden" name="in_memory" value="0">
    <input type="checkbox" id="in_memory" name="in_memory" value="1">

    <label for="in_memory">
      In memory of
    </label>
  </div>
</div>