<a href="/about/our-model" class="btn btn-lg btn-lapis-lazuli pulse-hvr animated">Our Model</a>
<a href="/services/programs-and-services" class="btn btn-lg btn-bright-cerulean pulse-hvr animated">Programs &amp; Services</a>
<a href="/about/support-nscc" class="btn btn-lg btn-bright-cerulean donate-btn pulse-hvr animated">Support NSCC</a>
<a href="/about/support-nscc" class="btn btn-lapis-lazuli donate-btn-dark pulse-hvr animated">Donate</a>
