==
<?php
function onStart()
{
  $buttons = [
                [
                  'name' => 'Our Mission',
                  'url'  => '',
                  'style' => 'btn-bright-cerulean donate-btn',
                  'content' => '<h3 class="mg-md ">Our Mission</h3>  <p style="margin-bottom:0;">Our mission is to measure and improve the climate for learning in schools to help children realize their fullest potential as individuals and as engaged members of society.</p>'
                ],
                [
                  'name' => 'Our Vision',
                  'url'  => '',
                  'style' => 'btn-bright-cerulean',
                  'content' => '<h3 class="mg-md ">Our Vision</h3>  <p style="margin-bottom:0;">Children will develop the essential social, emotional and intellectual skills to become healthy and productive citizens.</p>'
                ],
                [
                  'name' => 'What We Do',
                  'url'  => '',
                  'style' => 'btn-lapis-lazuli donate-btn',
                  'content' => '<h3 class="mg-md ">What we do</h3>  <p style="margin-bottom:0;">- Advocacy and policy <br>- Measurement and research <br>- Educational services</p>'
                ],
                [
                  'name' => 'Donate',
                  'url'  => '/donate',
                  'style' => 'btn-success',
                  'content' => ''
                ]
            ];


$this['buttons'] = $buttons;
}
?>
==
<div class="col-sm-12 bg-gr-tx-wt lg-shadow bannerContent">
    <h3 class="mg-md ">
      We measure and improve the climate for learning in schools.
    </h3>
    <p style="margin-bottom:0;">
      The National School Climate Center promotes safe, supportive learning environments that nurture social and emotional, civic, and academic growth for all students.
    </p>
  </div>

    <div align="center">
    {% for btn in buttons %}
      {% if(btn.content == '') %}
        <a href="{{btn.url}}" data-url="{{btn.url}}" data-content="" class="btn btn-lg {{btn.style}} pulse-hvr animated bannerContentButton">{{btn.name}}</a>
      {% else %}
        <a href="#" data-url="{{btn.url}}" data-content="{{btn.content}}" class="btn btn-lg {{btn.style}} pulse-hvr animated bannerContentButton">{{btn.name}}</a>
      {% endif %}
    {% endfor %}
    </div>



{% put scripts %}

<script>

  $(document).ready(function(){
      $('.bannerContentButton').click(function(){
          var url = $(this).data('url');
          var content = $(this).data('content');

          if( content )
          $('.bannerContent').html(content);

      });
  });

</script>
{% endput %}