<div data-control="toolbar">
    <!--<a
        href="<?= Backend::url('digitalfox/stripe/payment/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Payment
    </a>-->

    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('rainlab.blog::lang.blog.delete_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>

    <a class="btn btn-primary" href="<?= Backend::url('digitalfox/stripe/payment/export') ?>"> <i class="oc-icon-download"></i> Export records</a>

    <p class="btn "><b> Total Donation : <span style="color:green"> $<?= $totalDonation ?> </span></b></p>
</div>
