==
<!doctype html>
<html>

<head>
  <meta name="google-site-verification" content="fHvYrZdewbLo3QtuciKsA0YvdpGsXt0DIE_JN6QRrr0" />
  <meta charset="utf-8">
  {% placeholder meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="shortcut icon" type="image/png" href="{{'favicon.ico'|theme }}" />

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{'assets/includes/style.css'|theme }}">
  <link rel="stylesheet" type="text/css" href="{{'assets/includes/style_custom.css'|theme }}">
  <link rel="stylesheet" type="text/css" href="{{'assets/includes/master.css'|theme }}">
  <link rel="stylesheet" href="{{'assets/includes/css/animate.min.css'|theme }}" />
  <link rel="stylesheet" href="{{'assets/includes/css/font-awesome.min.css'|theme }}" />
  <link rel="stylesheet" href="{{'assets/includes/css/sweetalert2.css'|theme }}" />
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' rel='stylesheet'
    type='text/css'>
  {% styles %}
  <link rel="stylesheet" href="{{'assets/includes/css/responsive.css'|theme }}" />

  <script src="{{'assets/includes/js/jquery-2.1.0.min.js'|theme }}"></script>
  <script src="{{'assets/includes/js/bootstrap.min.js'|theme }}"></script>
  <script src="{{'assets/includes/js/blocs.min.js'|theme }}"></script>
  <script src="{{'assets/includes/js/jqBootstrapValidation.js'|theme }}"></script>
  <script src="{{'assets/includes/js/formHandler.js'|theme }}"></script>
  <script src="{{'assets/includes/js/googleSearch.js'|theme }}"></script>
  <script src="{{'assets/includes/js/jquery.cookie.js'|theme }}"></script>
  <!-- <script src="{{'assets/includes/js/donation_popup.js'|theme }}"></script> -->
  <script src="{{'assets/includes/js/sweetalert2.min.js'|theme }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="//ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js" type="text/javascript"></script>
  <title>{{ this.page.title }} </title>
  <style>
    .page-container {
      margin-top: 90px;
    }

    .error {
      color: red;
    }

    .collapse-chevron-show {
      display: block !important;
    }
  </style>

  {% framework %}
</head>

<body>

  {% partial "popups/donation_popup" %}

  <!-- Main container -->
  <div class="page-container">
    {% partial "header" %}

    {% page %}

    {% partial "footer" %}

  </div>
  <!-- Main container END -->

  <!-- NewsLetter Success Signup message -->
  {% flash success %}
  {% if message=='newslatter-success-message'%}
  <script>
    $(document).ready(function () {
      swal('', 'Thanks for signing up!', 'success');
    });
  </script>
  {% endif %}
  {% endflash %}
  <!-- NewsLetter Success Signup message End-->
  {% partial 'popups/donations-annual-popup.htm' %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2725547-7"></script>
  <script>
    $.prototype.slow = function (ms) {
      if (!arguments.length) {
        return this._slow;
      }
      if (typeof ms === 'string') {
        ms = milliseconds(ms);
      }
      this._slow = ms;
      return this;
    };

    $('.collapse-header').click(function () {

      _this = $(this);

      if (_this.hasClass('active')) {

        _this.find('.collapse-chevron-show').removeClass('fa-chevron-right').addClass('fa-chevron-down');
        _this.removeClass('active');
        _this.next('.collapse').slideUp(1000);

      } else {

        _this.find('.collapse-chevron-show').removeClass('fa-chevron-down').addClass('fa-chevron-right');
        _this.addClass('active');
        _this.next('.collapse').slideDown(1000);

      }

    });


    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-2725547-7');
  </script>



  <script>
    function divScrollTop(target) {
      var top = $(target).offset().top - 90;

      $('html, body').animate({
        scrollTop: top
      }, 500);
    }
  </script>


  {% scripts %}

  <script>
    $('.dropdown-toggle').hover(function () {
      $(this).siblings('.dropdown-menu').show();
    });

    $('.dropdown-toggle').mouseout(function () {
      $(this).siblings('.dropdown-menu').hide();
    });

    $('.dropdown-menu').mouseover(function () {
      $(this).show();
    });

    $('.dropdown-menu').mouseout(function () {
      $(this).hide();
    });


    $(document).ready(function () {
      var interval = 1000 * 60 * 120;
      var donationPopup = function () {
        var displayPopup = function () {
          $('#donations-annual-popup').modal('show');
          $.cookie('donation-annual', Date.now(), {
            expires: 1,
            path: '/'
          });
        }
        if (!$.cookie('donation-annual')) {
          displayPopup();
        } else {
          var cookieOfDA = $.cookie('donation-annual');
          let intervalTime = Date.now() - cookieOfDA;
          if (intervalTime > interval) {
            displayPopup();
          }
        }
        setTimeout(function () {
          donationPopup();
        }, 1000 * 60);
      }
      donationPopup();
    });
  </script>
</body>
<!-- Google Analytics -->
<!-- Google Analytics END -->

</html>