==
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% placeholder meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="shortcut icon" type="image/png" href="{{'favicon.png'|theme }}" />

	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{'assets/includes/style.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{'assets/includes/style_custom.css'|theme }}">
	<link rel="stylesheet" href="{{'assets/includes/css/animate.min.css'|theme }}"/>
  <link rel="stylesheet" href="{{'assets/includes/css/font-awesome.min.css'|theme }}"/>
	<link rel="stylesheet" href="{{'assets/includes/css/sweetalert2.css'|theme }}"/>
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  {% styles %}

	<script src="{{'assets/includes/js/jquery-2.1.0.min.js'|theme }}"></script>
	<script src="{{'assets/includes/js/bootstrap.min.js'|theme }}"></script>
	<script src="{{'assets/includes/js/blocs.min.js'|theme }}"></script>
	<script src="{{'assets/includes/js/jqBootstrapValidation.js'|theme }}"></script>
  <script src="{{'assets/includes/js/formHandler.js'|theme }}"></script>
  <script src="{{'assets/includes/js/googleSearch.js'|theme }}"></script>
  <script src="{{'assets/includes/js/jquery.cookie.js'|theme }}"></script>
  <script src="{{'assets/includes/js/donation_popup.js'|theme }}"></script>
	<script src="{{'assets/includes/js/sweetalert2.min.js'|theme }}"></script>


    <title>{{ this.page.title }}</title>

</head>
<body>
<!-- Main container -->
<div class="page-container">
{% page %}
</div>
<!-- Main container END -->

<!-- NewsLetter Success Signup message -->
{% flash success %}
  {% if message=='newslatter-success-message'%}
    <script>
      $(document).ready(function(){
        swal('','Thanks for signing up!','success');
      });
    </script>
  {% endif %}
{% endflash %}
<!-- NewsLetter Success Signup message End-->

{% scripts %}
</body>
<!-- Google Analytics -->
<!-- Google Analytics END -->
</html>
