title = "Learning Center - National School Climate Center"
url = "/resource-center/learning-center/old"
layout = "default"
is_hidden = 0
==
<!-- bloc-41 -->
<div class="bloc bg-field bgc-platinum-lc l-bloc header-banner" id="bloc-41">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h1 class="mg-md tc-platinum  text-center lg-shadow">
					<strong style="color:white">School Climate Resource Center</strong>
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-41 END -->

<!-- bloc-42 -->
<div class="bloc l-bloc full-width-bloc bloc-bg-texture texture-paper" id="bloc-42">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-6">
				<img class="img-responsive" src="{{'assets/includes/img/5-stage-overview.jpg'|theme}}" />
			</div>
			<div class="col-sm-6 ">
			 <div class="col-sm-12 container-bg-white" style="margin-bottom:20px;">
				<h3 class="mg-md heading-color">
					Welcome to the School Climate Resource Center !
				</h3>
				<p>
        This interactive online learning environment is designed to support education leaders and their school communities in build their capacity and expertise in creating and maintaining positive school climates. This innovative platform brings together:
        <ul>
					<li>Nearly two decades worth of school climate research and expert voices from the field</li>
					<li>An array of reliable and valid school climate measurement and benchmarking tools</li>
					<li>Practical resources that school communities can use to transform their climate and sustain their efforts</li>
					<li>Multiple social capability features to engage your team and connect with educators nationwide</li>
          <li>In the Resource Center, education leaders and school community members involved in school climate improvement process can get support throughout their work and customize their engagement.</li>
				</ul>

			</p><br>
		</div>
			<a href="//scrc.schoolclimate.org/" class="btn   btn-lg btn-bright-cerulean animated pulse-hvr">Join the Learning Community Now !</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-42 END -->
