<div data-control="toolbar">
    <a
        href="<?= Backend::url('indikator/news/subscribers/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('indikator.news::lang.new.subscribers')) ?>
    </a>
    <?php if (Indikator\News\Models\Subscribers::count() > 0): ?>
    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onRemoveSubscribers"
        data-request-confirm="<?= e(trans('indikator.news::lang.flash.delete')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator>
        <?= e(trans('system::lang.plugins.remove')) ?>
    </button>
    <?php endif ?>
</div>
