<form method="POST" action="http://stagingcms/about/contact-us" accept-charset="UTF-8" data-request="ContactUs::onHandleForm" id="contact-us-form" data-request-validate>

   <input type="hidden" name="oid" value="00D500000006zNM">
   <div class="bloc-34-field">
      <input type="text" class="form-control required"  placeholder="First Name" name="first_name">
   </div>
   <div class="bloc-34-field">
      <input type="text" class="form-control required"  placeholder="Last Name" name="last_name">
   </div>
   <div class="bloc-34-field">
      <input type="text" class="form-control required email" placeholder="E-mail" name="email">
   </div>
   <div class="bloc-34-field">
      <input type="text" class="form-control required number" placeholder="Phone" name="phone">
   </div>
   <div class="bloc-34-field">
      <input type="text" class="form-control required"  placeholder="School/Company" name="company">
   </div>
   <div class="bloc-34-field">
      <input type="text" class="form-control required"  placeholder="City" name="city">
   </div>
   <div class="bloc-34-field">
      <input type="text" class="form-control required"  placeholder="State" name="state">
   </div>
   <div class="bloc-34-field">
     <select title="Interest" name="interest" class="form-control required" >
         {% for key, interest in __SELF__.interests %}
         <option value="{{interest}}" {% if __SELF__.p_url == key %} selected {% endif %}>{{interest}}</option>
         {% endfor %}
     </select>
   </div>
   <div class="bloc-34-field">
      <textarea wrap="soft" class="form-control required" placeholder="Message" type="text" rows="10" name="comments"></textarea>
   </div>
   <br>
  <input type="hidden" name="email_template_path" value="{{ 'pages/emails/contact-us' | theme}}">

  <div class="bloc-34-field">
    {% partial "captcha" %}
  </div>

  <div class="bloc-34-field">
    <input type="submit" class="btn btn-bright-cerulean  btn-lg submit-contact-form" value="Submit" name="Submit">
  </div>


</form>

{% put scripts %}
<script>

$(window).on('ajaxErrorMessage', function(event, message){
    event.preventDefault();
});
$(window).on('ajaxError', function(event, context, status,jqXHR ){
    event.preventDefault();
});


$(window).on('ajaxBeforeSend', function(event, context, status,jqXHR ){
  $('.submit-contact-form').prop('disabled', true);
});

$(window).on('ajaxSuccess', function(event, context, status,jqXHR ){
  $('.submit-contact-form').prop('disabled', false);
  $("#contact-us-form").trigger("reset");
  grecaptcha.reset();

  swal("", "Thank you so much for contacting the National School Climate Center. We have sent you an email confirming that your inquiry was received by us. We will be in touch with you shortly.", "success");
});

$(window).on('ajaxInvalidField', function(event, fieldElement, fieldName, errorMsg, isFirst) {
    $(fieldElement).after('<label for="last_name" generated="true" class="error">'+errorMsg+'</label>')
});

$(document).on('ajaxPromise', '[data-request]', function() {
    $(this).closest('form').find('.error').remove();
});

</script>
{% endput %}
