{% set posts = __SELF__.posts %}

{% if slug !='' %}
   <h4 ><a class="blue-heading" href="/blog">Blogs</a> / {{ slug }} / {{ slugdescription }}</h4><br>
{% endif %}
	<div class="col-sm-9">
      {% for post in posts %}
      <div class="blogpost row">
        <div class="col-sm-12">
              <div class="meta">
                  <div class="date">
                      <p class="day"><span>{{ post.published_at|date('d') }}</span></p>
                      <p class="month">{{ post.published_at|date('M , y') }}</p>
                  </div>
              </div>
              <div class="featured">
                {% if post.featured_images.count %}
                    {% for key , image in post.featured_images %}
                        {% if key == 0 %}
                        <a href="/blog/post/{{ post.slug }}">
                          <img
                              data-src="{{ image.filename }}"
                              src="{{ image.path }}"
                              alt="{{ image.description }}"
                              style="max-width: 100%" />
                        </a>
                        {% endif %}
                    {% endfor %}
										{% else %}
									  <!--	<a href="/blog/post/{{ post.slug }}">
												<img
														src="{{'assets/images/no-image-found.png'|theme }}"
														data-src = "not-found"
														class="attachment-mini"
														style="max-width: 100%" />
											</a>-->
                {% endif %}
              </div>
              <div class="excerpt thumb">
                  <h3><a class="title-href" href="/blog/post/{{ post.slug }}">{{ post.title }}</a></h3>
                  <div class="cats">
                    {% for category in post.categories %}
                        <a href="/blog/category/{{category.slug}}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}

                    {% endfor %}
                  </div>
                  <p>{{ html_limit(post.summary, 250) }}</p>

              </div>
            </div>
          </div>
          <br>
      {% else %}
        <ul>
          <li class="no-data">{{ noPostsMessage }}</li>
        </ul>
      {% endfor %}

      {{ posts.appends({ search : search }).render|raw }}

</div>
<div class="col-sm-3 border-gray" style="padding-top:20px;padding-bottom:20px">
  <div class="sidebar-posts">

      <div class="widget Vibe Tabs" id="vibetabs-2">
          <div class="tabs tabbable">
						<div class="widget widget_search" id="search-2">
								<form action="/blog" class="searchform" id="searchform" method="get" role="search">
                  <div class="input-group">
                    <input type="text" id="s" name="search"  value="{{ search }}"  class="input-sm form-control" placeholder="Search"> <span class="input-group-btn">
                    <button class="btn btn-sm btn-primary" id="searchsubmit" type="submit" > <i class="fa fa-search"></i></button> </span>
                  </div>
                 </form>
						</div><br>
            <!--  <div class="tab-content light">
                  <div id="tab1" class="tab-pane active">

                      <ul class="more_posts">
                        {% for post in sideMenuPosts %}
                          <li>
                              <a title="{{ post.title }}" href="/blog/post/{{ post.slug }}">
                                {% if post.featured_images.count %}
                                    {% for key , image in post.featured_images %}
                                        {% if key == 0 %}
                                          <img
                                              data-src="{{ image.filename }}"
                                              src="{{ image.path }}"
                                              alt="{{ image.description }}"
                                              class="attachment-mini"
                                               />
                                        {% endif %}
                                    {% endfor %}

                    								{% else %}
                    										<img
                    												src="{{'assets/images/no-image-found.png'|theme }}"
                                            data-src = "not-found"
                                            class="attachment-mini"
                                        />
                                {% endif %}
															</a>
															<a class="blue-heading" href="/blog/post/{{ post.slug }}">
															 <span >{{ post.title }}</span>
															</a>
                                <small>
                                  {% if post.categories.count %}
                                      {% for category in post.categories %}
                                          <a rel="category tag" href="/blog?category={{category.slug}}">{{ category.name }}</a>  {% if not loop.last %}, {% endif %}
                                      {% endfor %}
                                  {% endif %}
                                </small>
                            </li>
                            {% endfor %}
                          </ul>
                  </div>

              </div>-->
          </div>
      </div>

</div>
