{% set posts = __SELF__.posts %}

{% for post in posts %}
  <div class="col-sm-4">
    {% if post.featured_images.count %}
        {% for key , image in post.featured_images %}
            {% if key == 0 %}
            <a href="/blog/post/{{ post.slug }}">
              <img
                  data-src="{{ image.filename }}"
                  src="{{ image.path }}"
                  alt="{{ image.description }}"
                  class="img-responsive" style="min-height: 259px;"/>
            </a>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h3 class="mg-md">
    <a class="title-href" href="/blog/post/{{ post.slug }}">{{ post.title }}</a>
    </h3>
    <p>
    {{post.summary}}
    </p>
  </div>
{% endfor%}
