<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<div class="row">
			<div class="col-lg-12">
      	<img src="{{url}}plugins/digitalfox/stripev2/assets/img/email_logo.png" width="45%">
				<img src="{{url}}plugins/digitalfox/stripev2/assets/img/email_logo_separator.png" width="100%">
				<br>
				<br>
				<br>
				<p>{{ date }}</p>
				<br>
				<p> A donation amount of ${{ amount }} {{ monthly }} receved by {{donorName}} Email:{{donorEmail}}</p>
				<br>
				<br>
				<p>Sincerely, </p>
				<p>National School Climate Center </p>
				<br>
				<br>
		 		<br>
				<p  align="right" style="color:#1B2E7E;" >
					<b style="font-size:20px">NATIONAL SCHOOL CLIMATE CENTER (NSCC)</b><br>
					<span style="font-style: italic">Educating hearts and minds, because the Three Rs are not enough<br>
					341 West 38 th Street, 9 th Floor, New York, NY 10018<br>
					(T) 212.707.8799 (F) 212.957.6616 www.schoolclimate.org<span>
				</p>
			</div>
		</div>
	</body>
</html>
