 h1 {
	 /* color: #29C2E5; */
 }

 /* Payments */
 .payment-card {
   background: #ffffff;
   padding: 20px;
   margin-bottom: 25px;
   border: 1px solid #e7eaec;
 }
 .payment-icon-big {
   font-size: 60px;
   color: #d1dade;
 }
 .payments-method.panel-group .panel + .panel {
   margin-top: -1px;
 }
 .payments-method .panel-heading {
   padding: 15px;
 }
 .payments-method .panel {
   border-radius: 0;
 }
 .payments-method .panel-heading h5 {
   margin-bottom: 5px;
 }
 .payments-method .panel-heading i {
   font-size: 26px;
 }

 .payments-method .panel-heading {
    padding: 15px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
 }

 #donationForm a{
	 color: #08c;
	 text-decoration: none;
 }
 #donationForm a:hover{
	 color:#005580;
	 border-bottom: 2px solid #005580;
 }
 #donationForm a:active{
	 top: 1px;
	 position: relative;
	 color: #017cbb;
 }

 .frequency-btn input[type="radio"] {
    opacity: 0;
    position: absolute;
  }

  .donnation-container .thank-you-msg {
      color: #061ddc;
      font-size: 16px;
      margin-bottom: 27px;
  }

  .donnation-container .address-header {
      line-height: 22px;
      font-size: 16px;
      margin-bottom: 27px;
  }

.donnation-container .donation-amount-container {
    margin: 16px 0;
}
.donnation-container .donation-amount-container .col-sm-3 .section-heading
  padding: 15px;
}
.donnation-container .submit-donation{
  margin-right: 20px;
}
span.checkbox-text {
    font-size: 20px;
    vertical-align: middle;
  }
.btn-amount {
    color: #fff;
    background-color: #2EC1E4;
    border-color: #2EC1E4;
    padding: 10px;
    border-radius: 0;
    font-size: 16px;
    width: 100% !important;
}
.donnation-container .btn-success{
  width: 100% !important;
}
.btn-amount:hover{
    color: #fff;
}
.donnation-container .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 10px;
    border-radius: 0;
    font-size: 16px;
}

.donnation-container .form-control {
    min-height: 40px;
    border-radius: 0;
}
.donnation-container .col-sm-3 {
    padding: 15px;
}
.expiration_date .col-md-4  {
    padding: 0;
}
.row.expiration_date {
    padding-left: 17px;
}
.row.donnation-container {
    background: #f9f9f9;
    margin: 0 10px 115px;
    padding: 25px 0;
}
.section-heading{
  color: #5a5757;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  padding-bottom: 9px;
  margin-bottom: 30px;
}

 input[type="radio"] {
	 left: -99999px;
   -webkit-appearance: radio;
   opacity: 0;
   position: absolute;
 }

 input[type=submit]:focus {
		 outline: thin dotted #AAAAAA;
		 outline-offset: -2px;
 }


.stateFieldWrapper .stateField, .countryFieldWrapper .countryField {
    margin-top: 0.3em;
    max-width: 265px;
    width: 100%;
}

 @media screen and (-webkit-min-device-pixel-ratio:0) {

 }

 /*hack to style the dropdown in firefox*/
 @-moz-document url-prefix() {

 }

 textarea{
	 -webkit-border-radius: 4px 4px 4px 4px;
	 -moz-border-radius: 4px 4px 4px 4px;
	 border-radius: 4px 4px 4px 4px;
	 background-color: rgb(255, 255, 255);
	 border: 2px solid rgb(180, 180, 180);
	 outline: none;
	 padding: 8px 0px 5px 5px;
	 margin: 5px 1px 5px 0;
	 font-size: 1em;
	 font-weight: 500;
	 width: 94%;
	 max-width: 620px;
	 height: 100px !important;
	 line-height: 20px;
 }

 .requiredMark{
	 color: #29C2E5;
 }

 .infield {
	 position: relative;
	 margin-bottom: .5em;
 }


 .infield label {
	 position: absolute;
	 left: 10px;
	 top: 20px;
	 z-index: 7;
	 color: #777777;
	 font-size: 1.15em;
 }

 .donation-msg{
   line-height: 32px;
 }

.preview-close
	 {
		 color: #333333 !important;
		 float: right !important;
		 position: relative !important;
		 top: 13px !important;
		 right: 7px !important;
		 font-size: 18px !important;
		 color: #FFFFFF !important;
	 }

/*	.multifield{
	 max-width: 640px;
	 padding-bottom: 20px;
 }
 .multifield input[type="text"]{
	 width: 50%;
	 float: right;
 }
 */

 /*Test Buttons*/
 input[type=submit] {
       border: none;
       font-size: inherit;
       color: inherit;
       margin: 0 0 40px 0;
       letter-spacing: 1px;
       font-weight: 700;
       outline: none;
       position: relative;
       -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
       transition: all 0.3s;
       -webkit-border-radius: 4px 4px 4px 4px;
       -moz-border-radius: 4px 4px 4px 4px;
       border-radius: 4px 4px 4px 4px;
       font-size: 1.5em;
       font-weight: 200;
       text-align: center;
       vertical-align: middle;
       cursor: pointer;
       border: 1px transparent solid;
       color: #FFFFFF;
       background-color: #29C2E5;
       display: inline-block;
       padding: 10px 0;
       width: 96%;
       max-width:300px;
       min-width: 0;
       margin-right: 36px !important;
       margin-top: 25px !important;
  }


  /*Test Buttons*/
  .payment-buttons button[type=button] {
        border: none;
        font-size: inherit;
        color: inherit;
        margin: 0 0 40px 0;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        font-size: 1.5em;
        font-weight: 200;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px transparent solid;
        color: #FFFFFF;
        background-color: #29C2E5;
        display: inline-block;
        padding: 10px 0;
        width: 96%;
        max-width:300px;
        min-width: 0;
        margin-right: 36px !important;
        margin-top: 25px !important;
   }


.paypal{
  background: #345BA9 !important
}

.payment-btn  {
        letter-spacing: 1px;
        position: relative;
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        font-size: 1.5em;
        font-weight: 200;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px transparent solid;
        color: #FFFFFF;
        display: inline-block;
        padding: 10px 15px;
        margin-right: 36px !important;
        margin-top: 25px !important;
   }

  .payment-btn:hover, .payment-btn:active, .payment-btn:after, .payment-btn:before{
    color: #FFFFFF !important;
  }

 #tributeLoadingButton {
	 min-width:255px;
 }

 input[type=submit]:after {
	 content: '';
	 position: absolute;
	 z-index: -1;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 transition: all 0.3s;
	 width: 0%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 background: #FFFFFF;
 }

 input[type=submit]:hover,
 input[type=submit]:active {
	 color: #fff;
	 background: #29C2E5;
 }
 input[type=submit]:active{
	 position: relative;
	 top: 2px;
 }


 /*Modules*/
 #amount{
	 margin-bottom: 2em;
	 max-width: 650px;
	 }
	 #amount:before,
	 #amount:after,
	 .amountOtherWrapper .error:before,
	 .amountOtherWrapper .error:after
		{
			 content: " "; /* 1 */
			 display: table; /* 2 */
	 }

	 #amount:after, .amountOtherWrapper .error:after {
			 clear: both;
	 }

	 #amount, .amountOtherWrapper .error{
			 *zoom: 1;
	 }

   #amount label {
       float: left;
       margin-right: 0.5%;
       text-align: center;
       color: #ffffff;
       font-size: 1.5em;
       text-align: center;
       vertical-align: middle;
       background-color: #355ca9;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       border-radius: 4px 4px 4px 4px;
       background-image: none;
       padding: 9px;
       min-width: 90px;
       margin: 8px;
   }

   	 html.no-touch #amount label:hover{
			 background-color: #DDDDDD;
		 }
		 html.no-touch #amount label.selected:hover {
			 background-color: #29C2E5;
		 }
		 #amount label:active{
			 position: relative;
			 top: 1px;
			 background-color: #efefef;
		 }
		 #amount label.selected {
			 color: white;
			 background-color: #5cb85c;
		 }

		 #amount #donationAmountOther{
       font-size: 1.3em;
       max-width: 49%;
    }
    span.donation-text
    {
        margin-top: 0px;
        display: block;
        padding: 15px;
    }
    .recurring-notification {
      margin-bottom: 15px;
      display: block;
      padding: 6px;
      color: #FF9800;
      background: #f9f9f9;
      width: 46%;
      border-radius: 5px;
    }
		 .amountOtherWrapper{
			 position: relative;
			 }
		 #otherPaymentChoice-close{
			 position: relative;
			 top: -20px;
		 }
		 #otherPaymentChoice-close:active{
			 top: -19px !important;
		 }
		 #dollarSign{
			 font-size: 3.5em;
			 color: #CCCCCC;
			 margin: 0;
			 position: absolute;
			 top: 0;
			 left: 15px;
		 }
		 #amount .otherClose{
			 position: relative;
			 left: -36px;
			 top: 15px;
			 opacity: .6;
			 }
			 #amount .otherClose:hover{
				 border-bottom: 0;
				 opacity: 1;
			 }
			 #amount .otherClose:active{none
				 top: 16px;
			 }

 #paymentType{
	 margin-bottom: 1em;
	 padding-bottom: 2em;
	 border-bottom: 1px dotted #efefef;
	 }
	 .butterfly #paymentType{
		 width: 47%;
		 margin-right: 3%;
		 float: left;
	 }
	 #paymentType ul{
		 list-style-type: none;
		 margin: 0;
		 padding: 0 0 20px 0;
	 }
	 /* simple clearfix hack */
	 #paymentType ul:before,
	 #paymentType ul:after {
			 content: " "; /* 1 */
			 display: table; /* 2 */
	 }
	 #paymentType ul:after {
			 clear: both;
	 }

	 #paymentType .tabContents .modalLink:hover{
		 background: transparent !important;
	 }
	 /**
		* For IE 6/7 only
		* Include this rule to trigger hasLayout and contain floats.
		*/
	 #paymentType ul {
			 *zoom: 1;
	 }
	 #paymentType ul > li {
			 float: left;
			 display: inline-block;
			 margin-right: .5em;
			 margin-bottom: 1em;
		 }
		 #paymentType ul > li > a {
				 border: 0;
				 border-radius: 0;
				 color: #333333;
				 display: block;
				 background: #CCCCCC;
			 -webkit-border-radius: 2px;
			 -moz-border-radius: 2px;
			 border-radius: 4px 4px 4px 4px;
			 padding: 1em;
			 }
			 #paymentType ul > li > a:hover{
				 color: #000000;
			 }
			 #paymentType a:hover{
				 background: #DDDDDD;
				 border: none !important;
			 }
			 #paymentType a.active{
				 color: #FFFFFF;
				 position: relative;
				 background-color: #29C2E5;
				 }
				 #paymentType a.active:hover{
					 color: #efefef;
				 }

					 #paymentType a#cc-link{
						 width: 206px;
						 padding-left: 100px;
						 background-image: url("../img/cc-icons.png");
						 background-repeat: no-repeat;
						 background-position: 11px 16px;
						 text-indent: -9999px;
						 padding: 1.1em 0;
						 }
						 #paymentType a#cc-link.visa{
							 background-position: 11px -32px;
						 }
						 #paymentType a#cc-link.mastercard{
							 background-position: 11px -80px;
						 }
						 #paymentType a#cc-link.discover{
							 background-position: 11px -128px;
						 }
						 #paymentType a#cc-link.americanexpress{
							 background-position: 11px -176px;
						 }
					 #paymentType a#pp-link{
						 background-image: url(../../../images/expressDonation/odfv2/paypal-icon.png);
						 background-repeat: no-repeat;
						 background-position: 10px 16px;
						 text-indent: -9999px;
						 padding: 1.1em 2em;
					 }
					 #paymentType a#pbc-link{
						 background-image: url(../../../images/expressDonation/odfv2/check-icon.png);
						 background-repeat: no-repeat;
						 background-position: 9px 17px;
						 padding: 1.1em 1em 1.1em 62px;
					 }
				 #accountTypePersonalRB{
					 margin-bottom: .5em;
				 }
				 .method-types {
					 width: 94%;
					 max-width: 620px;
				 }
					 .m-type {
						 float: left;
						 width: 48%;
					 }
						 .m-type.left {
							 padding-right: 2%;
							 width: 50%;
						 }
						 .m-type label {
							 display: inline-block;
							 margin-bottom: .5em;
						 }
						 .m-type select{
							 width: 100%;
						 }
				 .clear {
					 clear: both;
				 }



			 /* This Makes the arrows */
			 #paymentType .active:after, #paymentType .active:before {
				 top: 100%;
				 border: solid transparent;
				 content: " ";
				 height: 0;
				 width: 0;
				 position: absolute;
				 pointer-events: none;
			 }
			 #paymentType .active:after {
				 border-color: rgba(148, 18, 44, 0);
				 border-top-color: #29C2E5;
				 border-width: 15px;
				 left: 50%;
				 margin-left: -15px;
			 }
			 #paymentType .active:before {
				 border-color: rgba(0, 0, 0, 0);
				 border-top-color: ;
				 border-width: 36px;
				 left: 50%;
				 margin-left: -36px;
			 }


			 #paymentType .second{
				 }
				 #paymentType .expirationWrapper{
					 padding-top: .25em;
					 /* to keep year select wrapping in expiration date - whm 5/18/13 */
					 min-width: 310px;
				 }
				 #paymentType .expirationWrapper > div{
					 display: inline-block;
				 }
				 #donationForm #whatsThis{
					 position: absolute;
					 left: 89%;
					 top: 2em;
					 display: block;
					 font-size: .75em;
					 -webkit-border-radius: 15px;
					 border-radius: 15px;
					 width: 20px;
					 height: 20px;
					 line-height: 20px;
					 text-align: center;
					 overflow: hidden;
					 color: #FFFFFF;
					 background-color: #CCCCCC;
				 }
				 #donationForm #whatsThis:active{
					 position: absolute;
				 }
				 #donationForm #whatsThis:hover{
					 color: #FFFFFF !important;
					 background-color: #08c !important;
				 }
				 .butterfly #donationForm #whatsThis{
					 left: 87%;
				 }
				 #pp{
					 color: #1a2a64;
					 font-style: italic;
					 padding: 3em 0;
				 }
				 #pbc .statement p {
					 width: 85%;
					 color: #aaaaaa;
					 font-style: italic;
					 font-size: .90em;
				 }
				 #expYear{
					 position: relative;
					 right: -5px;
				 }

		 .help-text{
			 color: #aaaaaa;
		 }

			 #paymentType .help-text{
				 display: block;
				 clear: both;
				 margin-top: 2em;
				 font-size: .9em;
				 max-width: 600px;
				 color: #aaaaaa;
				 padding: 2em 0;
				 }
				 .help-text img{
					 position: relative;
					 left: 40px;
					 top: 15px;
				 }



 #monthly-row, #amount .radio{
	 margin-bottom: 1em;
 }


 #donationForm #whatsThis:active {
 /*    	top: 2em;  */
		 position: absolute;
 }




	 .tributeTypes{
		 width:50%;
		 float: left;
	 }

	 .tributeTypes .radio div, .cardTypes .radio div{
		 padding-bottom: 10px;
	 }

	 #cardSelection{
		 clear: both;
	 }

	 #tributeFilter{
		 max-width: 640px;
		 min-height: 100px;
	 }

	 #cards {
			max-width: 620px;
	 }

	 #cards .cardSelection{
		 display: inline-block;
		 margin-bottom: 0.5em;
		 -webkit-transform: translateX(0);
		 transform: translateX(0);
		 margin-right: 2%;
	 }

	 #cards label{
		 background-image: none;
		 padding-left: 0;
		 cursor: pointer;
	 }
	 #cards label:hover, #cards label.focused {
		 position: relative;
		 top: 1px;
	 }
	 #cards label:active{
		 position: relative;
		 top: 2px;
	 }
	 #cards label img{
		 width: 100%;
		 display: block;
	 }
	 #cards .card-label label.selected img{
		 border: 3px solid color: #29C2E5 !important;
		 position: relative;
		 }

	 #cards .cardSelection label{
		 display: block;
		 margin: 0 auto;
		 overflow: hidden;
	 }

	 #cards .cardSelection label img{
		 max-width: 100%;
		 border: none;
	 }

	 #emailText .help-text{
		 margin-top: 0;
		 padding: 0;
		 float: left;
		 clear: inherit;
		 margin-top: 20px;
	 }

	 #cardPreview{
		 /*min-height: 340px;*/
		 min-height: 140px;
		 margin-top: 20px;
	 }
	 #cardPreview img{
		 max-height: 300px;
		 width: auto;
	 }

	 #cardPreview ul {
		 list-style-type: none;
		 margin: 0;
		 padding-top: 0 1em;
		 padding-bottom: 1em;
		 }
		 #cardPreview ul li{
			 }

	 #tributesFooter{
		 margin-top: 20px;
			 max-width: 620px;
			 width: 96%;
	 }

	 .tfleft {
		 float: left;
			 width: 70px;
	 }
	 .tfright {
		 float: right;
			 width: 75%;
	 }

	 #tributeButton, #tributeLoadingButton, #tributePaypalLoadingButton {
		 float: right;
		 margin-top: 5px;
	 }

	 #tributeMailCardPreview {
		 background-color: #EFEFEF;
			 border-left: 2px solid #D7D7D7;
		 border-right: 2px solid #D7D7D7;
		 border-bottom: 2px solid #D7D7D7;
		 max-width: 620px;
		 -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		 border-radius: 4px;
		 width: 96%;
		 }
		 #tributeMailCardPreview:after {
				 content: "";
				 display: table;
				 clear: both;
			 }
		 #tributeMailCardPreview h4{
			 width: 100%;
			 text-align: center;
			 font-size: 1.15em;
			 background-color: #d7d7d7;
			 padding: 20px 0;
			 -webkit-border-radius: 4px 4px 0 0;
			 -moz-border-radius: 4px 4px 0 0;
			 border-radius: 4px 4px 0 0;
			 margin-bottom: 0;
		 }
		 #tributeMailCardPreview ul{
			 width: 20%;
			 float: left;
			 margin-top:20px;
		 }
	 #tributeMailCardPreview ul li{
		 margin-bottom: 5px;
	 }
	 #tributeMailCardPreview ul li a{
		 -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		 border-radius: 4px;
		 background-color: #d7d7d7;
		 color: #181818;
		 display: block;
		 padding: 5px;
		 text-align: center;
		 width: 100px;
		 }
		 #tributeMailCardPreview ul li a:hover{
			 background-color: #ffffff;
			 color: #181818;
			 border-bottom: transparent;
			 }
			 #cards .selected{
			 color: #FFFFFF;
			 }
			 #cards div.preview-image {
				 border: 2px solid rgb(210, 210, 210);
				 content: "";
				 padding: 2px;
				 overflow: hidden;
			 }
			 #cards .selected div{
				 border: 2px solid #29C2E5;
			 }
			 #cards .previewOn:after {
				 /* Displays an arrow icon using CSS based icons */
				 content: "";
				 width: 0;
				 height: 0;
				 border-left: 15px solid transparent;
				 border-right: 15px solid transparent;
				 border-top: 15px solid #29C2E5;
				 display: block;
				 margin: auto;
				 margin-bottom: -15px;
			 }

		 #tributeMailCardPreview ul li a.selected{
			 background-color: #29C2E5;
			 color: #FFFFFF;
		 }
		 #tributeMailCardPreview #flashCard{
			 margin: 0 auto;
			 width: 100%;
			 }
			 #tributeMailCardPreview #flashCard embed, #tributeMailCardPreview #cardIFrame{
						 height: 390px;
						 width: 100%;
			 }
			 #tributeMailCardPreview #flashCard embed, #tributeMailCardPreview #flashCard  {
					 height: 451px\9;
					 width: 620px\9;
			 }


	 .mfp-close{
		 /* Moving these styles to .preview-close */
		 /* Sorry I know this is messy. shame. */
	 }

	 .cardSection{
		 width: 70%;
		 float: right;
		 margin-top: 20px;
		 }
		 .cardSection img{
			 width: 98%;
			 margin-right: 2%;
			 height: auto;
			 padding-bottom: 15px;
		 }

	 .jqEasyCounterMsg{
		 margin-top: -40px;
			 max-width: 610px;
			 position: relative;
			 text-align: right;
			 width: 94%;
	 }
	 #donationForm #backButton:hover{
		 border-bottom: none;
	 }
	 #backButton{
		 line-height: 3em;
		 color: #414142 !important;
		 font-size: 1.1em;
	 }
	 #backButton:before{
		 margin-right: 5px;
	 }

 .mfp-content{
	 margin: auto;
	 max-width: 600px;
	 background: #FFFFFF;
	 padding: 2em;
	 }

 .mfp-img-mobile .mfp-content {
	 background: none;
	 padding: 0;
 }

 /* start state */
 .my-mfp-zoom-in .zoom-anim-dialog {
	 opacity: 0;

	 -webkit-transition: all 0.2s ease-in-out;
	 -moz-transition: all 0.2s ease-in-out;
	 -o-transition: all 0.2s ease-in-out;
	 transition: all 0.2s ease-in-out;



	 -webkit-transform: scale(0.8);
	 -moz-transform: scale(0.8);
	 -ms-transform: scale(0.8);
	 -o-transform: scale(0.8);
	 transform: scale(0.8);
 }

 /* animate in */
 .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	 opacity: 1;

	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
 }

 /* animate out */
 .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	 -webkit-transform: scale(0.8);
	 -moz-transform: scale(0.8);
	 -ms-transform: scale(0.8);
	 -o-transform: scale(0.8);
	 transform: scale(0.8);

	 opacity: 0;
 }

 /* Dark overlay, start state */
 .my-mfp-zoom-in.mfp-bg {
	 opacity: 0;
	 -webkit-transition: opacity 0.3s ease-out;
	 -moz-transition: opacity 0.3s ease-out;
	 -o-transition: opacity 0.3s ease-out;
	 transition: opacity 0.3s ease-out;
 }
 /* animate in */
 .my-mfp-zoom-in.mfp-ready.mfp-bg {
	 opacity: 0.8;
 }
 /* animate out */
 .my-mfp-zoom-in.mfp-removing.mfp-bg {
	 opacity: 0;
 }


input.good, #provinceRec.good {
 border: 2px solid #6cba66;
}


/* === Errors === */

.expirationWrapper.error select.creditcardexpiry {
 border: 2px solid red;
}

body p.error, #billingInfo p.error, #pbc .error{
 color: red;
 margin-top: 0;
 font-style: normal;
 text-align: left;
 text-indent: 3px;
}


.alert{
 padding: 8px 35px 8px 14px;
 margin: 1em 0;
 max-width: 620px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
}



/* === This is so things fold gracefully on the butterfly === */
@media (max-width:1200px){
		 .butterfly h1 img{
			 max-width: 120px;
			 margin: 0 auto;
		 }
		 .butterfly input[type=submit],
		 .butterfly .thinking{
			 font-size: 1em;
		 }
		 #topNav{
			 bottom: 90px;
			 }
							 .m-type {
										 width: 100%;
										 margin-bottom: .5em;
							 }
							 .m-type.left {
															 padding: 0;
															 width: 100%;
							 }
	 }
	 @media (max-width:1310px){
			 .butterfly #paymentType a#cc-link,
			 .butterfly #paymentType a#pp-link,
			 .butterfly #paymentType a#pbc-link {
				 width: auto;
				 padding: 10px;
				 background-image: none;
				 text-indent: 0;
			 }
			 .butterfly #pp {
					 padding: 1em;
			 }
	 }
	 @media (max-width:1490px){
			 .butterfly .help-text img {
				 position: auto;
				 left: auto;
				 margin-top: .5em;
				 padding-left: 5px;
			 }
	 }
	 @media (max-width:950px){
		 #paymentType .expirationWrapper {
				 min-width: 240px;
		 }
		 .butterfly input[type=submit],
		 .butterfly .thinking {
			 padding-left: 0.2em;
			 padding-right: 0.2em;
		 }
		 .butterfly #paymentType ul > li{
			 margin-right: 0.2em;
		 }
		 .butterfly #paymentType a#cc-link,
		 .butterfly #paymentType a#pp-link,
		 .butterfly #paymentType a#pbc-link {
			 font-size: 0.9em;
		 }
     input[type=submit] {
        max-width: 300px !important;
        margin-right: 10px !important;
     }

     .payment-btn {
        margin-right: 10px !important;
     }
	 }

	 @media (max-width:850px) {

		 .butterfly #pageWrapper{
			 position: relative;
			 padding: 1.5em !important;
			 margin-bottom: 200px;
		 }
		 .butterfly h1 img {
			 max-width: 160px;
			 margin: 0 auto;
			 margin: 1em 0 0 1em;
		 }
		 #billingInfo h3{
			 display:block;
		 }
		 #paymentType .expirationWrapper{
			 /* whm 5/18/13 */
			 min-width: 240px;
		 }
		 header {
			 padding: 1em 5%;
		 }
 .logo-wrap div {
	 position: relative;
	 float: left;
	 padding: 0 1%;
	 height: 110px;
	 box-sizing: border-box;
 }
 .logo-wrap div img {
	 position: relative;
	 top: 50%;
	 -webkit-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 transform: translateY(-50%);
	 box-sizing: border-box;
 }
			 header .logo {
				 float: left;
			 }
			 .extra-logo-wrap {
				 width: auto;
			 }
			 .extra-logo-wrap:before {
				 top: 50%;
				 left: 20px;
				 bottom: auto;
				 margin: 0;
				 margin-top: -20px;
				 height: 40px;
				 border-left: solid 1px #CCC;
				 border-bottom: 0;
			 }
			 header h1.icon-logo {
				 font-size: 6.8em;
				 padding: 0;
			 }
			 header .phone-donate {
				 width: auto;
				 padding: 0;
				 margin:0;
				 bottom: 60px;
				 right: 40px;
			 }
			 .extra-logo {
				 float: left !important;
				 padding: 0 0 0 2.6em !important;
				 margin: .3em 0;
				 max-height: 85px;
				 max-width: 100% !important;
				 width: auto;
			 }

       .donation-amount-container  .col-sm-4 {
         padding: 0 10px !important;
       }
	 }

	 @media (max-width:600px){

     .recurring-notification{
       width: 100%;
     }
		 body.butterfly #pageWrapper{
			 padding: 1.5em;
		 }
		 body.butterfly header{
			 height: 190px;
		 }

		 body.butterfly h1 img {
			 max-width: 120px;
			 float: none;
			 margin: 0 auto;
		 }

		 }
		 .logo-wrap {
			 overflow
		 }


/* === iPads (portrait and landscape) === */

@media (max-width:850px){
  .donation-amounts {
      width: 100%;
      clear: both;
  }
  span.donation-text {
    margin-top: 0px;
    display: block;
    padding: 15px;
}
 header,
 .butterfly header {
	 position: relative !important;
	 z-index: 100;
	 height: 200px;
	 min-height: inherit !important;
	 width: 100%;
	 max-width: 100%;
 }
 #pageWrapper,
 .butterfly #pageWrapper{
	 position: relative;
	 left: 0;
	 padding: 3em;
	 margin-bottom: 200px;
 }

 h1 img,
 .butterfly h1 img{
	 max-width: 160px;
	 float: left;
	 margin: 1em 0 0 1em;
 }

 #donationForm #whatsThis{
	 left: 90%;
 }

 .infield label{
	 position:static;
	 display:inline-block;
	 width:100%;

 }

 .stateFieldWrapper label {
	 position:static;
	 display:inline-block;
	 width:100%;
	 color: #777777;
		 font-size: 1.15em;

 }


 /* the important is used because there is
 a inline style tag in one of the Jquery
 files that needs to be changed.It would require some
 work on the page once changed. -K.Grandberry 8/5/16 */
 .tabContents input {
	 text-indent:10px !important;
 }

 #billingInfo input {
	 text-indent:10px !important;
 }

 #donationForm #whatsThis {
	 top: 0em;
 }
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width:600px){

 .infield label{
	 position:static;
 }


 .stateFieldWrapper label {
	 position:static;
	 display:inline-block;
	 width:100%;
	 color: #777777;
	 font-size: 1.15em;

 }

 /* the important is used because there is
 a inline style tag in one of the Jquery
 files that needs to be changed.It would require some
 work on the page once changed. -K.Grandberry 8/5/16 */

 .tabContents input {
	 text-indent:10px !important;
 }

 #billingInfo input {
	 text-indent:10px !important;
 }

 #donationForm #whatsThis {
	 top: 0em;
 }

 .extra-logo-wrap {
	 text-align: center;
	 width: 50%;
 }
 .extra-logo-wrap:before {
	 left: 0;
 }
 .extra-logo {
	 display: inline-block;
	 float: none !important;
 }
 .logo-wrap div:first-child:nth-last-child(1) {
	 width: 100%;
 }
 .logo-wrap div:first-child:nth-last-child(2),
 .logo-wrap div:first-child:nth-last-child(2) ~ div {
	 width: 50%;
 }

 #alternate_adddress_suggestion {right:4em }

 h2#mainheader, h2#tributeheader {
		 line-height: 35px;
 }

 #header .logo {
	 position: static;
	 left: auto;
	 bottom: auto;
	 width: 100%;
 }
	 #header h1.icon-logo {
		 display: inline-block;
		 font-size: 6em;
	 }

 h1 img {
	 max-width: 120px;
	 float: none;
	 margin: -.6em auto;
 }

 h2#mainheader, h2#tributeheader{
	 font-size: 1.5em;
	 font-weight: bold;
	 margin-bottom: .5em;
 }

 #header .phone-donate {
	 position: absolute;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 2px;
	 line-height: 2em;
	 text-align: center;
	 width: 100%;
	 background-color: #DDD;
	 font-size: .65em;
	 -webkit-border-radius: 0;
	 -moz-border-radius: 0;
	 border-radius: 0;
 }
 #amount label {
	 float: left;
	 width: 30%;
	 margin-right: 2%;
	 margin-bottom: .25em;
	 }
	 #otherPaymentChoice-close{
		 display: none;
	 }
	 #amount .otherClose,
	 #amount .otherClose:active {
		 left: auto;
		 right: 5px;
		 position: absolute;
	 }
	 #amount #donationAmountOther {
			 width: 100%;
	 }
	 #paymentType a#cc-link, #paymentType a#pp-link, #paymentType a#pbc-link{
		 width: auto;
		 padding: 10px;
		 background-image: none;
		 text-indent: 0;
	 }
	 #pp {
			 padding: 1em;
	 }
	 #paymentType .second{
		 width: 100%;
		 float: auto;
	 }
	 #donationForm #whatsThis{
		 left: 87%;
	 }
	 #billingInfo{
		 margin-bottom: 0;
	 }
	 #billingInfo h3, #country-text{
		 float: auto;
		 width: 100%;
	 }
	 #billingInfo #country-text, #country-select{
		 width: 90%;
		 margin-bottom: 1em;
		 text-align: left; s
	 }
	 .zipWrapper,
	 .stateFieldWrapper,
	 .countryFieldWrapper{
		 width: 100%;
		 float: auto;
	 }
	 .foot-logo{
		 display: none;
	 }
	 #billingInfoFooter .security-state{
		 width: 100%;
		 float: none;
		 padding: 1em 0;
		 text-align: left;
	 }
	 input[type=submit], .thinking{
		 font-size: 1em;
		 margin-top: 30px;
	 }

	 #tributesFooter {
		 width: 100%;
	 }

	 .tfleft, .tfright {
		 float:none;
	 }

	 .tfleft {
		 margin-bottom: 20px;
	 }

	 .tfright {
		 width: 100%;
	 }

	 #tributeButton, #tributeLoadingButton {
			 float: none;
			 margin-right: 0;
			 padding-left: 0;
			 padding-right: 0;
	 }
	 #tributeMailCardPreview ul {
			 float: none;
			 margin: 5px auto 0 auto;
			 width: 100%;
			 padding: 0 0 0 5px;
	 }
	 #cardPreview ul {
			 padding-bottom: 0;
	 }
	 #tributeMailCardPreview ul li {
				display: inline-block;
			 margin-right: 3px;
	 }
	 #tributeMailCardPreview ul li a {
			 font-size: 0.75em;
			 width: 50px;
	 }
	 #tributeFilter label {
		 font-size: 0.8em;
	 }
	 .cardSection {
			 float: none;
			 margin: 20px auto 0;
			 margin-top: 20px;
			 width: 90%;
	 }
	 #cardPreview img {
			 max-height: none;
			 width: 100% !important;
	 }

	 html .mfp-inline-holder .mfp-content,
	 html .mfp-ajax-holder .mfp-content{ /* Fixes Magnific Popup on iPhones. The padding we've added for other devices is too much for iPhone */
		 padding: 1em;
		 width: 85%;
	 }
	 #printReceipt,
	 .conf_share{
		 width: 34%;
		 padding-top: 20px;
		 padding-bottom: 60px;
	 }

	 #tributeMailCardPreview #cardIFrame{
		 height: 200px;
	 }

	 input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"] {
			 width: 98%
	 }

	 .method-types{
		 width: 100%;
	 }
	 .m-type select {
		 width: 98%;
	 }


}

/* Retina iPhones (landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

 #tributeMailCardPreview ul {
		 float: none;
		 margin: 5px auto 0 auto;
		 width: 100%;
		 padding: 0 0 0 5px;
 }

 #cardPreview ul {
	 padding-bottom: 0;
 }

 #tributeMailCardPreview ul li {
		 display: inline-block;
		 margin-right: 3px;
 }

 #tributeMailCardPreview ul li a {
		 font-size: 0.75em;
		 width: 50px;
 }

 .cardSection {
		 float: none;
		 margin: 20px auto 0;
		 margin-top: 20px;
		 width: 90%;
 }

 #cardPreview img {
		 max-height: none;
		 width: 100% !important;
 }

}

/* IE 10 fix for "X" showing in input fields --------- */
input::-ms-clear {
 display: none; /* Disables black X on text fields in IE10+ */
}


/*-----------------------------------------------------------------------------*\
 CASL related styling
\*-----------------------------------------------------------------------------*/
#stayConnectedCBLabel{margin-bottom:2em;}


/*-----------------------------------------------------------------------------*\
 PayPal style
\*-----------------------------------------------------------------------------*/
#paymentType.ppStyle{
 border-bottom: 0px;
 margin-bottom: 0em;
 padding-bottom: 0em;
 padding: 0em;
 }
#pp.ppStyle{
 border-bottom: 0px;
 margin-bottom: 0em;
 padding-bottom: 0em;
 padding: 0em;
 }
#billingInfo.ppStyle{
 border-bottom: 0px;
 margin-bottom: 0em;
 padding-bottom: 0em;
 padding: 0em;
 }

 .h3-color{
     color: #181818;
 }
 video {
     position: fixed;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -100;
     transform: translateX(-50%) translateY(-50%);
  background: url('img/Everest.jpg') no-repeat;
   background-size: cover;
   transition: 1s opacity;
 }

 #polina {
   background: #afafaf;
 }

 #polina .container-bg-white-trans{
   background: #fff;
 }

.swal2-confirm{
  background-color: #29c2e5 !important;
}

.icheckbox_square-orange {
    background-color: white !important;
}


@media (max-width: 767px){

  input[type=submit] {
    max-width: 88% !important;
    margin: 0 15px !important;
    right: 4px;
  }

  .row.expiration_date{
    padding: 0 15px !important;
  }

  #expYear{
    right: 0 !important;
  }

  .donation-form select{
    width: 98% !important;
  }
}
