.payment-bloc-bottom {
    background: #495192;
    border-radius: 0 0 15px 15px;
}

.payment-bloc-bottom .tab-bar {
    display: flex;
    text-align: center;
    margin-top: 0px;
}

.payment-bloc-bottom .step {
    font-size: 25px;
    font-weight: 500;
    flex: 1;
    padding: 10px 0;
    background: #3b437d;
    cursor: pointer;
}

.payment-bloc-bottom .step.active {
    background: #5abbd4;
}

.tab {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    padding: 50px;
}

.btn-outline {
    background: transparent;
    border: 2px solid white;
    font-size: 20px;
    color: white;
}

.btn-amount {
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    margin: 0 5px 5px 0;
    padding: 6px 12px 3px 100px;
}

.li-amount:after {
    content: 'Amount: $';
    position: absolute;
    display: block;
    left: 20px;
    top: 8px;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.btn-next {
    color: #495192 !important;
    font-weight: 900 !important;
    padding: 6px 33px !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.btn-back {
    color: white;
    font-weight: 700;
    margin: 0px;
}

.btn-back:hover {
    text-decoration: none;
    color: #eee;
}

.tab.active {
    display: block;
}

.tab {
    display: none;
}

.tab .input-group-addon {
    background: transparent;
    border: 2px solid white;
    border-right: 0px;
    color: #eeeeee;
    font-weight: 600;
    border-radius: 0;
}

.tab .col-sm-3,
.tab .col-sm-6,
.col-sm-4,
.col-sm-8,
.col-sm-5,
.col-sm-7 {
    padding-left: 10px;
    padding-right: 10px;
}

.tab .form-control {
    background: transparent;
    border: 2px solid white;
    border-left: 0px;
    border-radius: 0;
    height: 45px !important;
    color: white;
    font-size: 20px;
    line-height: 20px;
}

.tab .policy-para {
    font-weight: 200;
    color: white;
    font-size: 15px !important;
    margin-top: -25px;
}

.tab .btn.focus,
.tab .btn:focus,
.tab .btn:hover {
    color: #eee !important;
}

.invalid {
    border-color: #ff5c6b !important;
}

.icheckbox_square-orange {
    margin-top: -4px !important;
}

input.masked,
.shell span {
    font-size: 16px;
    font-family: monospace;
    padding-right: 10px;
    background-color: transparent;
    text-transform: uppercase;
}


.shell {
    position: relative;
    line-height: 1;
}

.shell span {
    position: absolute;
    left: 3px;
    top: 1px;
    color: #ccc;
    pointer-events: none;
    z-index: -1;
}

.shell span i {
    font-style: normal;
    color: transparent;
    opacity: 0;
    visibility: hidden;
}

.btn-submit {
    background-color: azure !important;
    letter-spacing: 0px !important;
    border-radius: 0px !important;
    font-size: inherit !important;
    width: auto !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}

.btn-submit:hover,
.btn-submit:active {
    background: #f0ffff85 !important;
}


.btn-next {
    color: #495192 !important;
    font-weight: 900 !important;
    padding: 6px 33px !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

input[type=submit].btn-submit {
    background-color: azure !important;
    letter-spacing: 0px !important;
    border-radius: 0px !important;
    font-size: inherit !important;
    width: auto !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}

input[type=submit].btn-submit:hover,
input[type=submit].btn-submit:active {
    background: #f0ffff85 !important;
}

.tab .input-group-addon {
    border-radius: 5px 0 0 5px;
}

.tab .input-group .form-control {
    border-radius: 0 5px 5px 0;
}

.btn-next {
    background-color: rgb(221, 221, 221) !important;
    ;
}

#amount {
    margin-bottom: 0;
    padding-bottom: 6px;
}

@media (max-width: 1024px) {

    .li-amount-sel,
    .li-amount {
        width: calc(50% - 5px) !important;
    }

    .mobile-mt-0 {
        margin-top: 0px !important;
    }

    .mobile-mb-6 {
        margin-bottom: 6px !important;
    }

    .mobile-mt-25 {
        margin-top: 25px !important;
    }

    .tab .row.block {
        margin-top: 0px;
    }

    #tab-payment .row.row.block {
        margin-top: 45px;
    }
}

@media (max-width: 480px) {
    .tab {
        padding-left: 0;
        margin-left: px;
        list-style: none;
        padding: 20px;
    }

    .tab .form-control {
        font-size: 15px;
    }

    .tab .list-inline>li {
        width: 100% !important;
    }

    .tab .row.block {
        margin-top: 0px;
    }

    .mobile-mt-0 {
        margin-top: 0px !important;
    }

    .mobile-mb-6 {
        margin-bottom: 6px !important;
    }

    .mobile-mt-25 {
        margin-top: 25px !important;
    }
}

.li-amount-sel .btn {
    font-weight: 700 !important;
}

.li-amount:after {
    font-weight: 700 !important;
}