title = "Search - National School Climate Center"
url = "/search"
layout = "default"
is_hidden = 0
==

<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="">
			<div class="col-sm-12">
          <gcse:searchresults-only  queryParameterName="q" linktarget="_parent" ></gcse:searchresults-only>
      </div>
		</div>
	</div>
</div>
