title = "Case Studies - National School Climate Center"
url = "/publications/case-studies"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
					<h3 class="mg-md ">
						Case Studies
					</h3>
					<p>
					 <b>NSCC‘s</b> case studies are designed to showcase a variety of school’s experiences with the school climate improvement process. Want to know more about school climate improvement for your community?
					</p>
				</div>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean pulse-hvr animated">Contact Us</a>
			 </div>
			</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-4 case-studies">
					<center>
						<h3><a target="_blank" href="{{'assets/pdf/csci-case-studies/Arts-and-Technology-Academy-CS.pdf'|theme}}">Arts and Technology Academy </a></h3>
					</center>
				</div>
				<div class="col-sm-8">
					<p>
						<a target="_blank" href="{{'assets/pdf/csci-case-studies/Arts-and-Technology-Academy-CS.pdf'|theme}}"><img height="76" width="120" alt="arts and technology academy" src="{{'assets/images/arts-and-technology-academy-120x76.jpg'|theme}}"></a>
					</p>
					<p>In October 2012, Center for Technology, Essex (CTE) participated in the Comprehensive School Climate Inventory (CSCI). Responses revealed Social-Emotional Security (SES) to be a central challenge. To gain more understanding about SES perceptions, CTE coordinated a full-day Student Focus Forum. Learn more about this creative process and the action steps proposed.</p>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-sm-4 case-studies">
         <center>
				    <h3><a target="_blank"  href="{{'assets/pdf/csci-case-studies/Center-for-Technology-Essex-CS.pdf'|theme}}">Center for Technology, Essex </a></h3>
	       </center>
				</div>
				<div class="col-sm-8">
					<p>
						<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Center-for-Technology-Essex-CS.pdf'|theme}}"><img height="76" width="120" alt="CTE" src="{{'assets/images/CTE-120x76.jpg'|theme}}" ></a>
					</p>
					<p>Vanessa Camilleri, former Social-Emotional Learning Specialist for Arts and Technology Academy (ATA), has partnered with NSCC to administer the Comprehensive School Climate Inventory (CSCI) since 2007. Read on as she outlines simple, yet, concrete ways to engage a community around action planning.</p>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-sm-4 case-studies">
					<center>
						<h3><a target="_blank"  href="{{'assets/pdf/csci-case-studies/Clayton-School-District-CS.pdf'|theme}}">Clayton School District </a></h3>
				  </center>
				</div>
				<div class="col-sm-8">
					<p>
						<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Clayton-School-District-CS.pdf'|theme}}"><img height="76" width="120" alt="school district of clayton" src="{{'assets/images/school-district-of-clayton-120x76.png'|theme}}" ></a>
					</p>
					<p>As the assistant superintendent of teaching and learning for the School District of Clayton, Dr. Garganigo is leading the effort to improve school climate at a district level. Read about her leadership style and her roles as both teacher and collaborator.</p>
				</div>
			</div><br><br>
			</div>

			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4 case-studies">
						<center>
							<h3><a target="_blank"  href="{{'assets/pdf/csci-case-studies/Nettle-Creek-CS.pdf'|theme}}">Nettle Creek </a></h3>

						</center>
					</div>
					  <div class="col-sm-8">
							<p>
								<a target="_blank" href="{{'assets/pdf/csci-case-studies/Nettle-Creek-CS.pdf'|theme}}"><img height="43" width="120" alt="growTheCreek" src="{{'assets/images/growTheCreek-120x43.png'|theme}}" ></a>
							</p>
	            <p>Two Rivers Public Charter School first administered the Comprehensive School Climate Inventory (CSCI) in 2009. One action planning result? A school-wide character education campaign called Scholarly Habits.Read how this social program is nurturing healthy habits of perseverance, responsibility and collaboration.</p>
						</div>
				 </div><br><br>
				 <div class="row">
					<div class="col-sm-4 case-studies">
					 <center>
						 <h3><a target="_blank"  href="{{'assets/pdf/csci-case-studies/Tenafly-CS.pdf'|theme}}">Tenafly </a></h3>
					</center>
					</div>
					<div class="col-sm-8">
						<p>
							<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Tenafly-CS.pdf'|theme}}"><img height="76" width="120" alt="tenafly" src="{{'assets/images/tenafly-120x76.png'|theme}}" ></a>
						</p>
						<p>Tenafly Middle School administered the Comprehensive School Climate Inventory (CSCI) in 2013. Read how NSCC collaborated with the Tenafly leadership team to translate assessment findings into their “Tiger Stripes” advisory program. Advisory lesson examples included!</p>
					</div>
				</div><br><br>
			  <div class="row">
					<div class="col-sm-4 case-studies">
						<center>
							<h3><a target="_blank"  href="{{'assets/pdf/csci-case-studies/Two-Rivers-Public-Charter-School-CS.pdf'|theme}}">Two Rivers Public Charter School </a></h3>
						</center>
					</div>
					<div class="col-sm-8">
						<p>
								<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Two-Rivers-Public-Charter-School-CS.pdf'|theme}}"><img height="71" width="200" alt="two rivers" src="{{'assets/images/two-rivers-310x71.jpg'|theme}}" ></a>
						</p>
						<p>Two Rivers Public Charter School first administered the Comprehensive School Climate Inventory (CSCI) in 2009. One action planning result? A school-wide character education campaign called Scholarly Habits.Read how this social program is nurturing healthy habits of perseverance, responsibility and collaboration.</p>
					</div>
				</div><br><br>
        </div>
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-4 case-studies">
							<center>
								<h3><a target="_blank"  href="{{'assets/pdf/csci-case-studies/Widsor-Public-Schools-CS.pdf'|theme}}">Windsor Public Schools </a></h3>
							</center>
						</div>
						<div class="col-sm-8">
							<p>
									<a target="_blank" href="{{'assets/pdf/csci-case-studies/Widsor-Public-Schools-CS.pdf'|theme}}"><img height="76" width="120" alt="windsor public schools" src="{{'assets/images/windsor-public-schools-120x76.jpg'|theme}}" ></a>
							</p>
							<p>The Windsor District Climate Committee first administered the Comprehensive School Climate Inventory (CSCI) in April 2012. Unfortunately, low parent engagement prevented deep analysis of results. Read the follow-up strategies and incentives Windsor District implemented to increase their parent engagement by as much as 4x when they returned to the CSCI in May 2013.</p>
						</div>
					</div>
				 </div>

	</div>
</div>
