title = "School Climate Policy - National School Climate Center"
url = "/publications/policy"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<style>
.mg-md{
	font-size: 22px;
}
</style>
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
				<h3 class="mg-md text-center lg-shadow ">
					Policy Publications
					<!-- <a href="/policy/policy-center" class="btn   btn-lg  btn-bright-cerulean pulse-hvr animated">Visit Our Policy Center</a> -->
				</h3>
			    </div>
			</div>
		</div>
	</div>
</div>

<!-- bloc-47 -->
<div class="bloc bgc-platinum l-bloc bg-gray" id="bloc-47">
	<div class="container bloc-lg b-divider container-bg-white">
		<div class="">
			<div class="col-sm-12">
				<h3 class="mg-md heading-color">
				  School Climate Policy and Practice Trends: A Paradox
				</h3>
				<p class="font-size-16">
					Jonathan Cohen (2014) <br> There has never been more federal and state support for school climate reform efforts in America… <br><a target="_blank" class="btn btn-lapis-lazuli btn-md" href="{{'assets/pdf/policy/SCPolicy&PracticeTrends-CommentaryTCRecord2-28-14.pdf'|theme}}">View</a><br><br>
				</p>
				<h3 class="mg-md heading-color">
				  School Climate Guide for District Policymakers and Education Leaders
				</h3>
				<p class="font-size-16">
					Terry Pickeral, Lou Ann Evans, William Hughes, & David Hutchison (2009) <br>This guide is a companion to the National School Climate Standards.<br><a  class="btn btn-lapis-lazuli btn-md"  target="_blank" href="{{'assets/pdf/policy/district-guide-csee.pdf'|theme}}">View</a><br>
				</p>
				<h3 class="mg-md heading-color">
					The School Climate Challenge
				</h3>
				<p class="font-size-16">
					National School Climate Council (2007) <br>In order to formulate ways to meet the policy, practice and teacher education challenges…<br><a  class="btn btn-lapis-lazuli btn-md"  target="_blank" href="{{'assets/pdf/policy/school-climate-challenge-web.pdf'|theme}}">View</a><br>
				</p>
				<h3 class="mg-md heading-color">
				  National School Climate Standards: Benchmarks to Promote Effective Teaching, Learning and Comprehensive School Improvement
				</h3>
				<p class="font-size-16">
					National School Climate Council (2009).<br>The National School Climate Council developed these five standards (and sixteen indicators) that support a sustainable school climate improvement effort. A growing number of states, districts, and foreign educational ministries have adopted or adapted these standards into policy and/or law.
          <br><a class="btn btn-lapis-lazuli btn-md"  target="_blank" href="{{'assets/pdf/policy/school-climate-standards.pdf'|theme}}">View</a>
				</p>
				<h3 class="mg-md heading-color">
					Commentaries on the National School Climate Standards: Benchmarks to Promote Effective Teaching, Learning and Comprehensive School Improvement
				</h3>
				<p class="font-size-16">
					Jonathan Cohen (2010) <br> The School Climate Standards were developed by the National School Climate Council and scores of other educators…<br><a class="btn btn-lapis-lazuli btn-md"  target="_blank" href="{{'assets/pdf/policy/SC-Brief-Standards%20commentaries.pdf'|theme}}">View</a>
				</p>
				<h3 class="mg-md heading-color">
					State Policies on School Climate and Bully Prevention Efforts: Challenges and Opportunities for Deepening State Policy Support for Safe, Supportive and Civil Schools
				</h3>
				<p class="font-size-16">
					Jennifer Piscatelli, Chiqueena Lee (2011) <br>In July 2011, the National School Climate Center (NSCC) completed a 50-state policy scan on state school climate and anti-bullying policies to better understand…<br><a class="btn btn-lapis-lazuli btn-md"  target="_blank" href="{{'assets/pdf/policy/policy_brief.pdf'|theme}}">View</a>
				</p>

			</div>
		</div>
	</div>
</div>
<!-- bloc-47 END -->

<!-- bloc-48
<div class="bloc bgc-platinum l-bloc" id="bloc-48">
	<div class="container bloc-sm" >
		<div class="row">
			<div class="col-sm-12">
				<h3 class="text-center heading-color">
					<strong>Additional Policy Papers/Briefs</strong>
				</h3>
			</div>
		</div>
	</div>
</div>
 bloc-48 END -->

<!-- bloc-49
<div class="bloc bgc-platinum l-bloc" id="bloc-49">
	<div class="container bloc-md " style="padding-top:0;">
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-12 border-gray">
				<h3 class="mg-md">
					Changing the School Climate Is the First Step to Reform in Many Schools with Federal Improvement Grants
				</h3>
				<p class="font-size-16">
					Center on Education Policy, George Washington University (2012)<br>
					This special CEP report highlights findings about the critical element of school climate…<br><a class="btn btn-lapis-lazuli btn-md"  target="_blank" href="{{'assets/pdf/policy/Education-Policy-Brief-7-12.pdf'|theme}}">View</a>
				</p>
			</div>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-12 border-gray" style="padding-bottom: 3px;" >
				<h3 class="mg-md">
					Two Wrongs Don’t Make a Right: Why Zero Tolerance is Not the Solution to Bullying
				</h3><br>
				<p class="font-size-16">
					Advancement Project, The Alliance for Social Justice, and GSA Network (2012)<br>
					This policy brief critiques current zero tolerance responses…<br>
					<a class="btn btn-lapis-lazuli btn-md"  href="{{'assets/pdf/policy/Two-wrongs-dont-make-a-right.pdf'|theme}}" target="_blank" >View</a>
				</p>
			</div>
		</div>
		</div>
	</div>
</div>
 bloc-49 END -->