title = "School Climate Practice - National School Climate Center"
url = "/publications/practice"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center">
					<h3 class="mg-md">
						School Climate Practice
					</h3>
					<p>
					NSCC's School Climate Practice Briefs summarize effective practices that support implementation and sustainability efforts. Interested in learning more?<br><br>
					 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean pulse-hvr animated">Contact Us</a>
					
					</p>
				</div>
				
			 </div>
		</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="col-sm-12">
			<div class="col-sm-3">

				<nav class="nav-sidebar" style="padding-top:0px;">
					<ul class="nav-tab-2 nav tabs" id="MainMenu">
								<li class="active" style="margin-top:0px;">
									<a href="#tab1" data-toggle="tab">
											Practice Briefs
									</a>
								</li>
								<li class="">
									<a href="#tab2" data-toggle="tab">
											Case Studies
									</a>
								</li>
					</ul>
				</nav>


			</div>
			<div class="tab-content tab-content-1 col-sm-9">
					<div class="tab-pane active" id="tab1">
								<div>
									<div class="bg-custom-blue rounded quote-heading">
									  <h4 class="no-margin h-text"><a href="{{'assets/pdf/practice/sc-brief-measurement.pdf'|theme}}" target="_blank">School Climate Measurement and Analysis</a></h4>
								  </div>
									<div class="indent-block">
									<p>Darlene Faster and Daisy Lopez (2013)</p>
									<p>Today, school climate assessment has become an increasingly important and valued aspect of district, state, and federal policy. Recognizing that effective school climate improvement efforts are grounded in valid and reliable data, the Federal Department of Education launched the Safe and Supportive Schools grant in 2010 to provide 11 states with federal assistance that supports the development of rigorous school climate measurement systems. States like Connecticut and Georgia have strong legislation and practice efforts in place that focus explicitly on school climate reform. These efforts have helped to make school climate, including effective and valid/reliable assessment, a clear priority within our education system nationwide.</p>
							  	</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
											<a href="{{'assets/pdf/practice/sc-brief-youth.pdf'|theme}}" target="_blank">
												School Climate and Youth Development
										  </a>
										</h4>
							  	</div>
									<div class="indent-block">
										<p>Richard Cardillo (2013)</p>
										<p>Consistently and deliberately supporting students to be engaged as co-leaders and co-learners is an essential requirement for successful school climate improvement efforts. It is a trite truism to envelope our school climate reform efforts with the phrase “it’s all about the kids”. As we examine our existing policies and procedures, are we able to truly state that students played a significant role in <strong>shaping</strong> the integral parts of determining what we want our school to be? All too frequently, the norm has been to initiate and implement first, and to inform students and ask for input after the fact. If we are truly committed to supporting students in developing strong intellectual, social, emotional, and civic capacities, it behooves us to include them substantively in all school climate improvement efforts from their inception.</p>
									</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
											<a  href="{{'assets/pdf/practice/sc-brief-leadership.pdf'|theme}}"  target="_blank">
												School Climate and Shared Leadership
										  </a>
										</h4>
									</div>
									<div class="indent-block">
										<p>William H. Hughes and Terry Pickeral (2013)</p>
										<p>A positive school climate improves student achievement and a sense of belonging. This year, more than ever, school leaders need efficient, low-cost and effective ways to boost school achievement. We know that important factors in a positive school climate are also significant mediators of learning: empowerment, authentic, engagement, self-efficacy, and motivation. Being intentional in our practices and co-leading on a positive school climate is a strategy that pays off long term for youth, faculty and school districts—with stronger student achievement within a productive, safe learning environment—a good return on investment of human and financial resources.</p>
								  </div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
											<a  href="{{'assets/pdf/practice/sc-brief-moral-social.pdf'|theme}}"  target="_blank">
												School Climate, Moral, And Social Development
										  </a>
										</h4>
									</div>
									<div class="indent-block">
										<p>Richard Weissbourd, Suzanne M. Bouffard, and Stephanie M. Jones</p>
										<p>At the heart of positive school climate are strong relationships. When you walk into a school with positive climate, you see students and staff who are caring, respectful, and committed to their communities, both their immediate communities (e.g., school and neighborhood) and the broader world. You don’t just see posters proclaiming these values—in these schools, these values live and breathe. People are more likely to greet one another in the hallways, offer to help one another, take pride in one another’s successes. In these schools adults don’t just ignore students making derogatory remarks in the hallways. These practices become part of the fabric of the school, permeating day to day interactions and instructional practices.</p>
									</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
											<a  href="{{'assets/pdf/practice/sc-brief-inclusion.pdf'|theme}}"  target="_blank">
												School Climate and Inclusion
											</a>
										</h4>
									</div>
                  <div class="indent-block">
										<p>Clement Coulston and Kaitlyn Smith (2013)</p>
										<p>School climate is the holistic context of the life, vigor and quality of the social connectedness, physical elements, and supportive practices that nurture inclusion and safeness. In order to invest in school climate, one must analyze how his or her individual actions and behaviors contribute to the collective feeling of the school. Students, educators, support staff, families and the community are all key affiliations in co-creating an engaging and inclusive school climate</p>
									</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
											<a  href="{{'assets/pdf/practice/sc-brief-equity.pdf'|theme}}"  target="_blank">
												School Climate and Equity
											</a>
										</h4>
									</div>
									<div class="indent-block">
										<p>By Randy Ross (2013)</p>
										<p>Equity is intrinsic to all aspects of school climate work. It is not a separate issue. From this perspective, the National School Climate Council definition could be modified to describe an “equitable school climate” as referring to “The quality and character of school life that fosters children’s, youth’s, and families’ full access to: (1) Appropriately supported, high expectations for learning and achievement; (2) Emotionally and physically safe, healthy learning environments; (3) Caring relationships with peers and adults; (4) Participation that meaningfully enhances academic, social-emotional, civic, and moral development. An equitable school climate responds to the wide range of cultural norms, goals, values, interpersonal relationships, leadership practices, and organizational structures within the broader community.</p>
							  	</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
											<a  href="{{'assets/pdf/practice/sc-brief-dropout-prevention.pdf'|theme}}"  target="_blank">
												School Climate and Dropout Prevention
											</a>
										</h4>
									</div>
									<div class="indent-block">
										<p>Marty Duckenfield and Beth Reynolds</p>
										<p>Developing and sustaining high-quality school climates is deeply tied to strategies emerging from dropout prevention research and work. This research conducted across several decades has revealed not only the at-risk factors most often associated with students who drop out, but also a broad range of strategies that, in combination, go a long way toward meeting the needs of students, particularly those at risk of dropping out. Interestingly enough, many of these strategies link tightly to the significant factors in positive school climates including connectedness, engagement, empowerment, and self-efficacy.</p>
							  	</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
											<a  href="{{'assets/pdf/practice/sc-brief-bully-prevention.pdf'|theme}}"  target="_blank">
												School Climate and Bullying Prevention
											</a>
										</h4>
									</div>
									<div class="indent-block">
										<p>Jonathan Cohen and Jo Ann Freiberg (2013)</p>
										<p>This brief summarizes research and best practices that do effectively prevent any kind of mean-spirited behaviors including but not limited to bullying and harassment which is identical to promoting safe, supportive, engaging and healthy school communities.</p>
									</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
											<a  href="{{'assets/pdf/practice/sc-brief-adult-learning.pdf'|theme}}"  target="_blank">
												School Climate and Adult Learning
											</a>
										</h4>
									</div>
									<div class="indent-block">
										<p>Jonathan Cohen and Philip Brown (2013)</p>
										<p>The school’s climate supports or undermines educators’ capacity to be adult learners, which in turn has an important impact on their capacity to promote student learning and achievement. In fact, school climate has a powerful effect on teacher retention rates (Cohen, McCabe, Michelli, &amp; Pickeral, 2009). Research also underscores and supports the notion that a collaborative school climate and collegial adult climate focused on the well-being and growth of all children provides an essential foundation for effective teaching and supportive learning environments.</p>
								  </div>
								</div>


								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
											<a  href="{{'assets/pdf/practice/sc-brief-standards.pdf'|theme}}"  target="_blank">
												School Climate and the National School Climate Standards
											</a>
										</h4>
									</div>
									<div class="indent-block">
										<p>Patricia A. Ciccone and Jo Ann Freibeg (2013)</p>
										<p>Increasingly, more and more areas of educational practice are being guided by sets of national standards for content, leadership, professional ethics, family-school partnerships, and school accreditation, among others. Similarly, there is growing appreciation that standards are needed to effectively measure improvement in school climate. The increased national attention on school climate flags both the need to improve schools using measurable outcomes and the need to prepare all students to address the myriad of challenges they face in the 21st century.</p>
									</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
											<a  href="{{'assets/pdf/practice/sc-brief-research.pdf'|theme}}"  target="_blank">
												School Climate Research
											</a>
										</h4>
									</div>
									<div class="indent-block">
										<p>Amrit Thapa, Research Director (2013)</p>
										<p>As early as a century ago educational reformers had recognized that the distinctive culture of a school affects the life and learning of its students. However, the rise of systematic empirical study of school climate grew out of industrial/organizational research coupled with the observation that school-specific processes accounted for a great deal of variation in student achievement. Since then the research in school climate has been expanding systematically, and many countries are showing a keen interest in this field.</p>
								  </div>
								</div>
								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
										<!--     <a  href="http://www.nprinc.com/refcards/sccl.htm"  target="_blank"> -->
												School Climate: Building Safe, Supportive and Engaging Classrooms &amp; Schools
									<!--         </a> -->
										</h4>
									</div>
									<div class="indent-block">
										<p>Cohen, J. &amp; Elias, M. (2011)</p>
										<p>National Professional Resources, Inc. – A six-page, laminated reference guide.</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
 									</div>
								</div>
								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												Social, Emotional, Ethical and Academic Education: Creating a Climate for Learning, Participation in Democracy and Well-being
										</h4>
									</div>
									<div class="indent-block">
										  <p>Jonathan Cohen&nbsp;(2006)<br>
											<em>Harvard Educational Review</em>, &nbsp;Vol. 76, No. 2, Summer, pages 201-237</p>
											<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
								  </div>
								</div>


								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												Emotional Intelligence in Classrooms and in Schools: What We See in the Educational Setting
										</h4>
									</div>
									<div class="indent-block">
										<p>Allen, J. &nbsp;and Cohen, J. (2006)</p>
										<p>Emotional Intelligence in Classrooms and in Schools: What We See in the Educational Setting. In A Critique of Emotional Intelligence: &nbsp;What are the Problems and How can They be Fixed?&nbsp;Edited by K. R. Murphy. Lawrence Erlbaum Associates.</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
							   </div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												The Social, Emotional and Academic Education of Children: Theories, Goals, Methods and Assessments
										</h4>
									</div>
									<div class="indent-block">
										<p>Cohen, J. and Sandy, S. (2007)</p>
										<p>In Educating People to be Emotionally Intelligent. Edited by R. Bar-On, J.G. Maree &amp; M. J. Elias. Westport, CN: Praeger</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>
								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												Interdisciplinary Psychoanalysis and the Education of Children: Psychoanalytic and Educational Partnerships
										</h4>
									</div>
									<div class="indent-block">
										<p>Jonathan Cohen&nbsp;(2007)</p>
										<p><em>Psychoanalytic Study of the Child</em>. Volume 62. Edited by R. A. King, P. B. Neubauer, S. l Abrams &amp; A. S. &nbsp;Dowling. (pages 180-207). New Haven: Yale University Press</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>


								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												Measuring and Improving School Climate: A Pro-social Strategy that Recognizes, Educates and Supports the Whole Child and the Whole School Community
										</h4>
									</div>
									<div class="indent-block">
										<p>Jonathan Cohen&nbsp;(2012)</p>
										<p>The Handbook of &nbsp;Prosocial Education. Edited by P.M. Brown, M.W Corrigian and A. Higgins-D’Alessandro. Rowman &amp; Littlefield</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												Jonathan Cohen on School Climate: Engaging the Whole Village, Teaching the Whole Child and Social, Emotional, Ethical and Civic Learning
										</h4>
									</div>
									<div class="indent-block">
										<p>Jonathan Cohen (2011)</p>
										<p><em>The Challenge: Creating Safe and Drug Free Schools</em> (a publication of the U.S. Dept of Education), Vol 16, No 4.</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												Creating a Positive School Climate: A Foundation for Resilience
										</h4>
									</div>
									<div class="indent-block">
										<p>Jonathan Cohen (2013)</p>
										<p>In S. Goldstein and R.B. Brooks (eds.), <em>Handbook of Resilience in Children</em> pages 411-423.</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												Mental Health Clinicians and Educators Learning Together: School Climate Reform and the Promotion of Effective K-12 Risk Prevention/Health Promotion Efforts
										</h4>
									</div>
									<div class="indent-block">
										<p>Jonathan Cohen (2014)</p>
										<p><em>Journal of Infant, Child, and Adolescent Psychotherapy</em> Volume 13: 4. pages 342-349</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												The Foundation for Democracy: School Climate Reform and Prosocial Education
										</h4>
									</div>
									<div class="indent-block">
										<p>Jonathan Cohen (2014)</p>
										<p><em>Journal of Character Education</em> Vol. 10, Number 1, pages 43-52</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>

								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												School Climate and Prosocial Educational Improvement: Essential Goals and Processes that Support School Success for All
										</h4>
									</div>
									<div class="indent-block">
										<p>National School Climate Council (2015)</p>
										<p><em>Teachers College Record</em></p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>


								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												Standing Up for Each Other: Improve Your School Climate by Fostering Diversity and Inclusion
										</h4>
									</div>
									<div class="indent-block">
										<p>Jonathan Cohen (2015)</p>
										<p><em>ADVISE</em> (a publication of the National Association for Secondary School Principals)October/November</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>


								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												Rethinking Effective Bully and Violence Prevention Effects: Promoting Healthy School Climates, Positive Youth Development, and Preventing Bully-Victim-Bystander Behavior
										</h4>
									</div>
                  <div class="indent-block">
										<p>Cohen, J., Espelage, D., Twemlow, S.W, Berkowitz, M.W. &amp; Comer, J.P. (2015)</p>
										<p><em>International Journal of Violence and Schools</em> 15, pages 2-40.</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>
								
								 
								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												 Involvement in Extracurricular Activities: Identifying Differences in Perceptions of School Climate 
										</h4>
									</div>
                  <div class="indent-block">
										<p>Martinez, A., Coker, C, McMahon, S.D., Cohen, J. &amp; Thapa, A. (2016)</p>
										<p><em>The Educational and Developmental Psychologist,</em>  Volume 33, Issue 1, pages 70–84</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>
								
								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												School Climate Improvement: What U.S. Educators Want and Need?  
										</h4>
									</div>
                  <div class="indent-block">
										<p>Cohen, J., &amp; Thapa, A. (2017).</p>
										<p><em>International Journal on School Climate and Violence Prevention,</em> Vol. 2, Issue 1, pages 90-116</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>
								
								
								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												School Climate/Social Emotional Learning Measurement Systems: Trends, Contributions, Challenges and Opportunities
										</h4>
									</div>
                  <div class="indent-block">
										<p>Cohen, J., Thapa, A. &amp; Higgins-D'Alessandro, A. (2017)</p>
										<p><em>Journal of Educational Leadership and Policy, </em> Vol 1, pages 117-139. ISSN#: 2473-2826</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>
								
								<div>
									<div class="bg-custom-blue rounded quote-heading">
										<h4 class="no-margin h-text">
												School Climate, Social Emotional Learning, Character Education and other Prosocial “Camps”:  Similarities and a Difference
										</h4>
									</div>
                  <div class="indent-block">
										<p>Cohen, J. (2017)</p>
										<p><em>Teachers College Record</em>, September 20, 2017</p>
										<p><a href="/about/contact-us" target="_blank">Contact Us</a> to request access.</p>
									</div>
								</div>
								
								
								
				</div>

				<div id="tab2" class="tab-pane">

					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-12">
									<a target="_blank" href="{{'assets/pdf/csci-case-studies/Arts-and-Technology-Academy-CS.pdf'|theme}}"><h2>Arts and Technology Academy </h2></a>
								<p>
									<a target="_blank" href="{{'assets/pdf/csci-case-studies/Arts-and-Technology-Academy-CS.pdf'|theme}}"><img style="margin:0px 10px; float:left;" height="76" width="120" alt="arts and technology academy" src="{{'assets/images/arts-and-technology-academy-120x76.jpg'|theme}}"></a>
								</p>
								<p>In October 2012, Center for Technology, Essex (CTE) participated in the <i> Comprehensive School Climate Inventory</i> (CSCI). Responses revealed Social-Emotional Security (SES) to be a central challenge. To gain more understanding about SES perceptions, CTE coordinated a full-day Student Focus Forum. Learn more about this creative process and the action steps proposed.</p>
							</div>
						</div><br><br>
						<div class="row">
							<div class="col-sm-12">
							    <a target="_blank"  href="{{'assets/pdf/csci-case-studies/Center-for-Technology-Essex-CS.pdf'|theme}}"><h2>Center for Technology, Essex </h2></a>

								<p>
									<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Center-for-Technology-Essex-CS.pdf'|theme}}"><img style="margin: 0px 10px; float:left;" height="76" width="120" alt="CTE" src="{{'assets/images/CTE-120x76.jpg'|theme}}" ></a>
								</p>
								<p>Vanessa Camilleri, former Social-Emotional Learning Specialist for Arts and Technology Academy (ATA), has partnered with NSCC to administer the <i> Comprehensive School Climate Inventory</i> (CSCI) since 2007. Read on as she outlines simple, yet, concrete ways to engage a community around action planning.</p>
							</div>
						</div><br><br>
						<div class="row">
							<div class="col-sm-12">
									<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Clayton-School-District-CS.pdf'|theme}}"><h2>Clayton School District </h2></a>
								<p>
									<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Clayton-School-District-CS.pdf'|theme}}"><img style="margin:0px 10px; float:left;" height="76" width="120" alt="school district of clayton" src="{{'assets/images/school-district-of-clayton-120x76.png'|theme}}" ></a>
								</p>
								<p>As the Assistant Superintendent of Teaching and Learning for the Clayton School District, Dr. Garganigo is leading the effort to improve school climate at a district level. Read about her leadership style and her roles as both teacher and collaborator.</p>
							</div>
						</div><br><br>
						</div>

						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-12">
										<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Nettle-Creek-CS.pdf'|theme}}"><h2>Nettle Creek</h2></a>
										<p>
											<a target="_blank" href="{{'assets/pdf/csci-case-studies/Nettle-Creek-CS.pdf'|theme}}"><img style="display:inline-block;margin:0px 10px; float:left;" height="43" width="120" alt="growTheCreek" src="{{'assets/images/growTheCreek-120x43.png'|theme}}" ></a>
										</p>
				            <p style="overflow: hidden;">Hagerstown Elementary School and Hagerstown Jr.-Sr. High School, administered the <i>Comprehensive School Climate Inventory</i> (CSCI) in 2013. Both schools created school climate leadership teams to translate survey findings into an outline of “learnings” to share with students, extended staff, and parents. Read how weekly sessions using NSCC’s CSCI Report companion worksheets created a system to interpret findings and prioritize action planning steps.</p>
									</div>
							 </div><br><br>
							 <div class="row">
								<div class="col-sm-12">
									 <a target="_blank"  href="{{'assets/pdf/csci-case-studies/Tenafly-CS.pdf'|theme}}"><h2>Tenafly </h2></a>
									<p>
										<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Tenafly-CS.pdf'|theme}}"><img style="margin:0px 10px; float:left;" height="76" width="120" alt="tenafly" src=" {{'assets/images/tenafly-120x76.png'|theme}}" ></a>
									</p>
									<p>Tenafly Middle School administered the <i>Comprehensive School Climate Inventory</i> (CSCI) in 2013. Read how NSCC collaborated with the Tenafly leadership team to translate assessment findings into their “Tiger Stripes” advisory program. Advisory lesson examples included!</p>
								</div>
							</div><br><br>
						  <div class="row">
								<div class="col-sm-12">
										<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Two-Rivers-Public-Charter-School-CS.pdf'|theme}}"><h2>Two Rivers Public Charter School </h2></a>
									<p>
											<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Two-Rivers-Public-Charter-School-CS.pdf'|theme}}"><img style="margin:0px 10px; float:left;" height="71" width="200" alt="two rivers" src="{{'assets/images/two-rivers-310x71.jpg'|theme}}" ></a>
									</p>
									<p>Two Rivers Public Charter School first administered the <i>Comprehensive School Climate Inventory</i> (CSCI) in 2009. One action planning result? A school-wide character education campaign called "Scholarly Habits." Read how this social program is nurturing healthy habits of perseverance, responsibility and collaboration.</p>
								</div>
							</div><br><br>
			        </div>
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-12">
											<a target="_blank"  href="{{'assets/pdf/csci-case-studies/Widsor-Public-Schools-CS.pdf'|theme}}"><h2>Windsor Public Schools </h2></a>
										<p>
												<a target="_blank" href="{{'assets/pdf/csci-case-studies/Widsor-Public-Schools-CS.pdf'|theme}}"><img style="margin:0px 10px; float:left;" height="76" width="120" alt="windsor public schools" src="{{'assets/images/windsor-public-schools-120x76.jpg'|theme}}" ></a>
										</p>
										<p>The Windsor District Climate Committee first administered the <i>Comprehensive School Climate Inventory</i> (CSCI) in April 2012. Unfortunately, low parent engagement prevented deep analysis of results. Read the follow-up strategies and incentives Windsor Public Schools implemented to increase their parent engagement by as much as 4x when they readministered the CSCI in May 2013.</p>
									</div>
								</div>
							 </div>


				</div>

			</div>
		</div>
	</div>
</div>