title = "Privacy Policy - National School Climate Center"
url = "/publications/privacy-policy"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
				<h3 class="mg-md ">
					Privacy Policy
				</h3>
			</div>
			</div>
		</div>
	</div>
</div>

<div class="bloc bgc-platinum l-bloc bg-gray" id="bloc-47">
	<div class="container bloc-lg b-divider container-bg-white">
		<div class="">
			<div class="col-sm-12">
        <h2>Privacy Policy</h2>

				<h5 class="mg-md heading-color"><b>National School Climate Center Privacy Policy.</b></h5>
        <p>Your privacy at schoolclimate.org, scrc.schoolclimate.org, CSEE.net, and bullybust.org is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. We will not give, sell, rent, or loan any personally identifiable information to any third party, unless we are legally required to do so or you authorize us to do so.</p>

        <h5 class="mg-md heading-color"><b>The Information We Collect:</b></h5>
        <p>You can access some areas of the Site without submitting any personally identifiable information. NSCC collects personally identifiable information only if you choose to: (i) make a donation; (ii) complete the online forms to register to become a member of the Site, participate in any NSCC program, purchase products, sign up for seminars, tutorials, professional development programs, classes, polling panels, volunteer or leadership positions or other programs, subscribe to our newsletters or other publications and other surveys, report issues, or request information or assistance through the Site or (iii) post any information on discussion groups, bulletin boards or forums on the Site including, without limitation, the forum area of the Site. The personally identifiable information that NSCC collects through these portions of the Site includes your name, e-mail address, postal address, telephone number, etc. Under some circumstances we may also request and collect additional information that is necessary or appropriate for the completion of a transaction requested by you, such as credit card or banking information and billing address.</p>
        <p>In compliance with the Children’s Online Privacy Protection Act, we will not knowingly permit persons under the age of 13 to provide personally identifiable information to us. If we later learn that you are under the age of 13, we will take appropriate steps to remove your personally identifiable information from our database.</p>

        <h5 class="mg-md heading-color"><b>The Way We Use Information:</b></h5>
        <p>We use the information you provide about yourself when making a donation only to complete that transaction. We do not share this information with outside parties except to the extent necessary to complete that transaction. We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties. You can register with our website if you would like to receive our newsletter.</p>
        <p>NSCC uses the personally identifiable information we collect about you to provide any Products or Services (as such are defined in out Terms of Use requested by you). Upon our collection of your personally identifiable information, NSCC may use such personally identifiable information internally, separately or in combination with pre-existing information, for the following purposes (i) to provide any requested Products or Services, including, without limitation, membership services, seminars, professional development programs, tutorials, classes or other training services, books, subscriptions, polls, curricula or other products; (ii) to troubleshoot problems with the Site, or any products or services, as requested; (iii) to bill you for and collect fees owed; (iv) to customize your experience on the Site; (v) to enforce our Terms of Use; (vi) to detect and protect against error, fraud and any other unauthorized or illegal activities; (vii) to provide your contact information to leaders and / or other members of groups that you have elected to join or leaders and / or other participants in projects or initiatives in which you have elected to participate; (viii) to contact you with more information about NSCC and its Services; or (ix) to alert you to upgrades, special offers, updated information and other new services.</p>
        <p>We use non-identifying and aggregate information to better design our website and to share with donors. For example, we may tell a prospective donor that X number of individuals visited a certain area on our website, or that Y number of men and Z number of women filled out our registration form, but we would not disclose anything that could be used to identify those individuals.</p>
        <p>Unless you ask us not to, we may contact you via email in the future to tell you about special events, new features or services. Finally, we never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.</p>

        <h5 class="mg-md heading-color"><b>Log Files:</b></h5>
        <p>Like most websites, this website uses log files. These include: Internet Protocol addresses (IP addresses), browser type, Internet Service Provider (ISP), referring/exit pages, platform type, date/time stamp, and the number of clicks to analyze trends, administer the site, track user movement in the aggregate, and to gather broad demographic information for aggregate use. This information is generally not linked to personally identifiable information.</p>

        <h5 class="mg-md heading-color"><b>Cookies:</b></h5>
        <p>We do use cookies to store information, such as your personal preferences when you visit our site. This could include only showing you a popup once in your visit, or the ability to login to some of our features if available. You can choose to disable or selectively turn off our cookies or third-party cookies in your browser settings, or by managing preferences in programs such as Norton Internet Security. However, this can affect how you are able to interact with our site as well as other websites. This could include the inability to login to services or programs, such as logging into forums or accounts.</p>

        <h5 class="mg-md heading-color"><b>Links:</b></h5>
        <p>This website contains links to other websites. Please be aware that we are not responsible for the privacy practices of other websites. We encourage you, when you leave this website, to read the privacy statements/policies of each and every website you visit, as this particular privacy policy applies solely to websites owned and operated by NSCC (The National School Climate Center). </p>

        <h5 class="mg-md heading-color"><b>Our Commitment To Data Security:</b></h5>
        <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. All emails and newsletters from this site allow you to opt out of further mailings.</p>
        <p>We do not store or collect credit card data. That information is encrypted, transmitted and stored via a third party, Google Wallet or PayPal, and is subject to such sites applicable terms of service and privacy policies. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</p>

        <h5 class="mg-md heading-color"><b>How You Can Access Or Correct Your Information:</b></h5>
        <p>You can access all your personally identifiable information that we collect online and maintain by calling or emailing us. We use this procedure to better safeguard your information. You can correct factual errors in your personally identifiable information by sending us a request that credibly shows the error. To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections.</p>

        <h5 class="mg-md heading-color"><b>Distribution of Information:</b></h5>
        <p>We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes.</p>

        <h5 class="mg-md heading-color"><b>How To Contact Us:</b></h5>
        <p>Should you have other questions or concerns about these privacy policies, please call us at (212) 707-8799 or send us an email at info@schoolclimate.org</p>

        <h5 class="mg-md heading-color"><b>Our postal address is:</b></h5>
        <p><b>National School Climate Center</b></p>
        <p><b>341 West 38th Street, 9th Floor</b></p>
        <p><b>New York, NY 10018</b></p>

      </div>
		</div>
	</div>
</div>