title = "Research - National School Climate Center"
url = "/publications/school-climate-briefs"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
					<h3 class="mg-md ">
						Interested in School Climate Research?
					</h3>
					<p>
					 These research papers outline a series of essential research topics: the current state of the field, trends, and more. Get in touch if you have questions about our research.
					</p>
			  </div>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean pulse-hvr animated">Contact Us</a>
			 </div>
			</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="">
			<div class="col-sm-12">
				<h1 class="text-center mg-lg">
				<strong>Research Briefs</strong>
			  </h1>
				<h3><em>This 2015 Bully Prevention Resource Guide has been developed by the Children’s Safety Network</em></h3>
					<p>Children’s Safety Network (2015)</p>
					<p>This 2015 Bully Prevention Resource Guide has been developed by the Children’s Safety Network. This resource guide provides links to organizations, programs publications, and resources focused on bullying prevention. It is divided into seven sections: (1) Organizations and Websites; (2) Data, Definitions, and Research; (3) Programs, Campaigns, and Toolkits; (4) Policies, Laws, and Legislation; (5) Publications and Resources; (6) At-Risk Populations; and (7) Bullying and Co-Occurring Issues. Each item in this resource guide includes a short description and a link to the resource itself. Descriptions of reports, guides, toolkits, campaigns, websites, and initiatives are, in most cases, excerpted from the resources themselves while descriptions of research studies are excerpted from the study abstracts.</p>
					<p><a class="btn btn-lapis-lazuli btn-md" target="_blank"  href="{{'assets/pdf/research/Bullying%20Prevention.pdf'|theme}}">View</a></p>
				<br>
				<h3><em>Changing the School Climate Is the First Step to Reform in Many Schools with Federal Improvement Grants</em></h3>
					<p>Center on Education Policy, George Washington University (2012)</p>
					<p>This special CEP report highlights findings about the critical element of school climate from case studies of the first year and half of SIG implementation in Maryland, Michigan, and Idaho. The information in the report is based on interviews with 35 state, district, and school officials in the three states and on in-depth reviews of six SIG-funded schools. Key findings about school climate are presented from these case studies.</p>
					<p><a class="btn btn-lapis-lazuli btn-md" target="_blank" href="{{'assets/pdf/research/Education-Policy-Brief-7-12.pdf'|theme}}">View</a></p>
				<br>
					<h3><em>School Climate Research Summary&mdash;August 2012</em></h3>
					<p>The National School Climate Center (2012)</p>
					<p>Over the past two decades, researchers and educators have increasingly recognized the importance of K-12 school climate. This summary builds on our 2009 school climate research summary (Cohen, McCabe, Michelli, &amp; Pickeral, 2009) as well as our 2010 School Climate Research Summary and details how school climate is associated with and/ or promotes safety, healthy relationships, engaged learning and teaching and school improvement efforts. With a few exceptions, the citations in this issue represent empirical studies that have been published in peer-reviewed journals.</p>
					<p><a class="btn btn-lapis-lazuli btn-md" target="_blank" href="{{'assets/pdf/research/sc-brief-v3.pdf'|theme}}">View</a></p>
				<br>
				<h3><em>School Climate: Research, Policy, Practice, and Teacher Education</em></h3>
					<p>Jonathan Cohen, Elizabeth M. McCabe, Nicholas M. Michelli, &amp; Terry Pickeral (2009)</p>
					<p>A review of the literature reveals that a growing body of empirical research indicates that positive school climate is associated with and/or predictive of academic achievement, school success, effective violence prevention, students’ healthy development, and teacher retention. There is a glaring gap between these research findings on the one hand, and state departments of education, school climate policy, practice guidelines, and teacher education practice on the other. We detail how the gap between school climate research, policy, practice, and teacher education is socially unjust and a violation of children’s human rights. We now have research-based guidelines that predictably support positive youth development and student learning. If we do so, we are supporting children, educators, parents, communities, and the foundation for democratic process, but as a country, we are not doing so. Our children deserve better. A series of detailed recommendations are suggested for policy makers, practice leaders, and teacher educators to narrow this gap and support student’s healthy development and capacity to learn.</p>
					<p><a class="btn btn-lapis-lazuli btn-md" target="_blank"  href="{{'assets/pdf/research/School-Climate-Paper-TC-Record.pdf'|theme}}">View</a></p>
				<br>
				<h3><em>Choosing the Wrong Drivers For Whole System Reform</em></h3>
					<p>Michael Fullan (2011)</p>
					<p>This important paper examines those drivers typically chosen by leaders to accomplish reform in the US and Australia, critiques their inadequacy, and offers an alternative set of drivers that have been proven to be more effective (in Finland, Korea, Hong Long, Singapore and Canada) at accomplishing the desired goal.</p>
					<p><a class="btn btn-lapis-lazuli btn-md" target="_blank" href="{{'assets/pdf/research/school-reform-drivers.pdf'|theme}}">View</a></p>
				<br>
				<h3><em>How the World’s Most Improved School Systems Keep Getting Better</em></h3>
					<p>Mona Mourshed, Chinezi Chijioke, &amp; Michael Barber (2010)</p>
					<p>A report that examines 20 school districts around the world: a unique contribution to this critical global agenda. Building on their 2007 study but with much more precision, in this remarkable report McKinsey looks closely at schools that are various levels of functioning around the world and identifies what is most effective to focus on, depending on the schools level of functioning. These performance stage continua&mdash;from poor to fair, fair to good, good to great, and great to excellence&mdash;are in turn unraveled according to intervention clusters within given contexts. In each case it is very clear that all improving entities, even if their starting point is dismal, are led by a combinations of leaders who are self-aware that they are engaged in a phenomenon that the report calls ‘it’s a system thing’&mdash;a small number of critical factors that go together to create the chemistry of widespread improvement.</p>
					<p><a class="btn btn-lapis-lazuli btn-md" target="_blank" href="{{'assets/pdf/research/How-the-Worlds-Most-Improved-School-Systems-Keep-Getting-Better.pdf'|theme}}">View</a></p>
				<br>
				<h3><em>The Foundation for Democracy: Promoting Social, Emotional, Ethical, Cognitive Skills and Dispositions in K-12 Schools</em></h3>
					<p>Jonathan Cohen, Terry Pickeral, &amp; Peter Levine (2010)</p>
					<p>This paper examines how schools can promote democratic knowledge, skills and dispositions, using examples from the United States that can be considered, adopted and/or adapted in nations throughout the Americas. Civics education in the United States has tended to focus on civic knowledge (how government works, voting policies, etc.) rather than skills and dispositions. Additionally, the paper briefly reviews the evolution of how educational and political leaders have considered the relationship between social, emotional, ethical, civic and intellectual skills, knowledge and dispositions and democracy. The authors suggest a model of essential social, emotional, ethical and cognitive skills and dispositions that provide the foundation for participation in a democracy. The authors then outline two essential goals that K-12 schools need to consider to effectively promote these capacities.</p>
					<p><a class="btn btn-lapis-lazuli btn-md" target="_blank"  href="{{'assets/pdf/research/foundation_for_democracy.pdf'|theme}}">View</a></p>
			</div>
		</div>
	</div>
</div>
