title = "Research Publications - National School Climate Center"
url = "/publications/scholarship"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[Books]

[Journals]

[ResearchBriefs]
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center">
							<h3 class="mg-md" ><b>
								Scholarship
							</b>
							</h3>
			  </div>
			 </div>
			</div>
	</div>
</div>


<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-2">
					<nav class="nav-sidebar" style="padding-top:0px;">
	      		<ul class="nav-tab-2 nav tabs" id="MainMenu">
	                <li class="active" style="margin-top:0px;">
										<a href="#tab1" data-toggle="tab">
											<!-- <p align="center"> -->
												<!-- <img class="img-responsive" src="{{'assets/includes/icons/journal.png'|theme }}" width="80%"/> -->
												Journals
											<!-- </p> -->
										</a>
									</li>
	                <!--<li class="">
										<a href="#tab2" data-toggle="tab">
											<p align="center">
												<img class="img-responsive" src="{{'assets/includes/icons/book.png'|theme }}" width="60%"/>
												Books
											</p>
										</a>
									</li> -->
									<li class="">
										<a href="#tab3" data-toggle="tab">
											<!-- <p align="center"> -->
												<!-- <img class="img-responsive" src="{{'assets/includes/icons/memo.png'|theme }}" width="60%"/> -->
												Research Briefs and Reports
											<!-- </p> -->
										</a>
									</li>
	      		</ul>
	      	</nav>

				</div>
				<div class="tab-content tab-content-1 col-sm-10" style="padding-top:0px;">

					<div class="tab-pane active text-style" id="tab1">
						<h2 style="margin-top:0px; text-align:center;"><b>Peer-Reviewed Articles</b></h2>

						{% partial 'Journals::default' %}
					</div>

					<div class="tab-pane text-style" id="tab2">
						<h2 style="margin-top:0px; text-align:center;"><b>Books</b></h2>
							    {% partial 'Books::default' %}
					</div>

					<div class="tab-pane text-style" id="tab3">
						<h2 style="margin-top:0px; text-align:center;"><b>Research Briefs and Reports</b></h2>

							{% partial 'ResearchBriefs::default' %}

						<!-- <div class="col-sm-12 journal-section">

							<div class="col-sm-4">
								<div class="bordered">
									<p class="journal">School Climate Research Summary—August 2012</p>
									<p>The National School Climate Center (2012)</p>
									<p style="text-align:justify;">Over the past two decades, researchers and educators have increasingly recognized the importance of K-12 school climate. This summary builds on our 2009 school climate research summary (Cohen, McCabe, Michelli, & Pickeral, 2009) as well as our 2010 School Climate Research Summary and details how school climate is associated with and/ or promotes safety, healthy relationships, engaged learning and teaching and school improvement efforts. With a few exceptions, the citations in this issue represent empirical studies that have been published in peer-reviewed journals.</p>
									<a class="btn btn-lapis-lazuli btn-md" target="_blank" href="http://stagingcms.schoolclimate.org/themes/schoolclimate/assets/pdf/research/sc-brief-v3.pdf">View</a>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="bordered">
									<p class="journal">New series coming Summer 2017</p>

								</div>
							</div>

						</div> -->

					</div>

				</div>
			</div>
		</div>
	</div>
</div>


{% put scripts %}
<script>
$(document).ready(function(){
		$(".Journals").fancybox({
			'transitionIn'	:	'elastic',
			'transitionOut'	:	'elastic',
			'speedIn'		:	600,
			'speedOut'		:	200,
			'overlayShow'	:	false,
			'type'   :'iframe',
		});

		$(".ResearchBriefs").fancybox({
			'transitionIn'	:	'elastic',
			'transitionOut'	:	'elastic',
			'speedIn'		:	600,
			'speedOut'		:	200,
			'overlayShow'	:	false,
			'type'   :'iframe',
		});

		$(".books").fancybox({
			'transitionIn'	:	'elastic',
			'transitionOut'	:	'elastic',
			'speedIn'		:	600,
			'speedOut'		:	200,
			'overlayShow'	:	false,
			'type'   :'iframe',
		});

		$('#MainMenu li').click(function(){
 			$('.tab-pane').hide();
 			var activeTab = $(this).children('a').attr('href');
 			$(activeTab).show();
       divScrollTop(activeTab);
 	 });

		jQuery('p').each(function(){
	    if( jQuery(this).html() == '&nbsp;' || jQuery(this).html() == '<br>')
	        jQuery(this).remove();
		});


});

</script>
{% endput %}
