title = "Terms of Service - National School Climate Center"
url = "/publications/terms-of-service"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-13 -->
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-13">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
				<h1 class="mg-md text-center lg-shadow">
					Terms of Service
				</h1>
				<p class="text-center ">
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-13 END -->


<div class="bloc bgc-platinum l-bloc bg-gray" id="bloc-47">
	<div class="container bloc-lg b-divider container-bg-white">
		<div class="">
			<div class="col-sm-12">
<p>
    The National School Climate Center ("NSCC"), as a convenience to you as a user or NSCC member (a "Member"), grants you access to schoolclimate.org, scrc.schoolclimate.org, CSEE.net, and bullybust.org (collectively, the "Site"), the Services (as defined below) and / or the Products (as defined below), in each case conditioned on your acceptance of the terms, conditions and notices contained herein (these "Terms of Use"). For the purposes of these Terms of Use, "Services" means, collectively, the membership, subscription, seminar, tutorial, professional development or other training, curriculum development, volunteer, polling, discussion and other related services provided in connection with the Site, and "Products" means, collectively, the publications, curricula, training and other materials and products available through the Site. Also, you are subject to the NSCC <a href="/publications/policy">Privacy Policy</a> and, when using any particular information, Products, Services or Content (as defined below) available through the Site. You agree that NSCC may modify these Terms of Use and the <a href="/publications/policy">Privacy Policy</a> at any time and from time to time, with or without notice to you. When you access, use or browse the Site, the Products, and / or the Services, you accept, without limitation or qualification, these Terms of Use as if you had signed them.
</p>
<p>
<b>1. Acceptance of Terms</b><br>
Please read these Terms of Use and NSCC’s <a href="/publications/policy">Privacy Policy</a> carefully. By using the Site and / or Services, you agree to these Terms of Use, and you consent to the collection and use of information as described in our <a href="/publications/policy">Privacy Policy</a>. If you do not agree to these Terms of Use and the terms and conditions of our Privacy Policy, you must exit the Site immediately and discontinue any use of information, Products, Services or Content from the Site.
</p>
<p>
<b>2. Copyright</b><br>
Subject to Section 5 hereof, the Site, any content, including, without limitation any text, source code, programs, specifications, images, audio files, video files, articles, press releases, brochures, manuals and other information or content available through the Site, including, without limitation, the Products and the Services, as well as the selection and arrangement thereof (collectively, the "Content"), is the sole property of NSCC and / or its licensors and is protected by trademark, copyright and other intellectual property laws. The Content shall not be used except in accordance with these Terms of Use or with NSCC's express written consent. Other than as necessary for your use of the Site in accordance with these Terms of Use or as otherwise agreed in writing by NSCC, NSCC grants no other privileges or rights in the Content to you, and you must keep intact all trademark, copyright and other proprietary notices on the Content. Any Content owned by NSCC's licensors may be subject to additional restrictions.
</p>

<p><br>
We expect users of this Site to respect the intellectual property rights of others. We may remove material that appears in our sole discretion to infringe upon the intellectual property rights of others and we will terminate the access rights of any repeat infringer. If you believe a work protected by a U.S. copyright you own has been posted on this Site without authorization, you may notify our copyright agent, and provide the following information: <br>
</p>


<p>
<ol type="a">
    <li>A physical or electronic signature of the person authorized to act on behalf of the copyright owner;</li>
    <li>Identification of the copyrighted work or works claimed to have been infringed;</li>
    <li>A detailed description of the material you claim is infringing, together with information sufficient to enable us to locate it, including the URL where the infringing material appears;</li>
    <li>Your name, mailing address, telephone number and e-mail address;</li>
    <li>A statement by you that you believe in good faith belief that the copyrighted material identified is being used in a manner that is not authorized by the copyright owner, its agent or the law; and</li>
    <li>A statement by you that the above information is accurate and, under penalty of perjury, that you are authorized to act on behalf of the owner of the copyright allegedly infringed.</li>



</ol>



To notify NSCC of claimed copyright infringement in accordance with Section 512 of the Copyright Act, please contact: <br> <br>





</p>

<p>
DMCA TAKEDOWN AGENT<br>
341 West 38th Street, 9th Floor<br>
New York, NY 10018<br>
USA<br>
Tel: 212.707.8799<br>
dbellizio@schoolclimate.org<br>
</p>

<p>
<b>3. Trademark</b><br>
All trademarks, service marks, trade names and trade dress, whether registered or unregistered that appear on the Site, including, but not limited to, “NSCC”, “National School Climate Center”, “National School Climate Center Educating Minds and Hearts…Because the Three R’s are Not Enough”, “BullyBust”, “Upstander Alliance”, “SCRC” and “School Climate Resource Center” are proprietary to NSCC or their respective owners (collectively the "Marks"). You may not display or reproduce the Marks other than with the prior written consent of NSCC, and you may not remove or otherwise modify any trademark notices from any Content received through the Site.
</p>

<p>
<b>4. Assignment</b><br>
By submitting, uploading or transmitting any articles, survey or poll responses, curricula, lesson plans, programs, ideas, feedback or other posts, information, questions, suggestions, submissions or other materials (“User Content”) to the Site, you represent and warrant that you own or have all rights necessary to submit, upload or transmit such User Content and otherwise use it for your intended purpose. You hereby grant NSCC a worldwide, non-exclusive, irrevocable, perpetual, royalty-free, unrestricted license to use, copy, reproduce, distribute, sub-license, modify, edit, adapt, translate, create derivative works of, publicly perform or display, transmit, broadcast or otherwise exploit all or any portion of your User Content, for any purpose, in any and all media now known or later developed, and to publish your screen name in connection with your User Content. You waive all rights to any claim against NSCC for any actual or alleged infringement of any proprietary rights, rights of privacy or publicity, moral rights and rights of attribution in connection with the User Content, and you acknowledge and agree that you are not entitled to receive any compensation for any User Content you submit, upload or transmit in connection with this Site.
</p>

<p>
<b>5. Use and Restrictions</b>
<br>The Site is provided solely as a convenience to you. You may use the Site, the Products and the Services only in accordance with all applicable laws and regulations and in accordance with these Terms of Use.
</p>

<p>
You further agree that you shall not:
</p>

<p>

<ol type="a">


    <li>except as expressly permitted herein or otherwise in writing by NSCC, modify, distribute, transmit, display, perform, reproduce, publish, license, create derivative works of, transfer, or sell any Content</li>
    <li>other than for your use of the Site, the Products and / or the Services as expressly permitted in these Terms of Use, access or attempt to access any systems or servers on which the Site is hosted or modify or alter the Site in any way;</li>
    <li>submit, display or transmit any User Content, or any content via the systems or services on which the Site are hosted, in violation of any proprietary rights of, or your contractual obligations to, any third party, or in violation of applicable laws, rules and regulations;</li>
    <li>submit, display or transmit any images, photographs, graphics, links, audio files, video files or similar content with the intent to interrupt, limit or otherwise impact the performance of the Site or otherwise exceed NSCC’s bandwidth capacity;</li>
    <li>submit, display or transmit any spam, duplicative messages, unauthorized promotions or advertisements, surveys, contests, chain letters or pyramid schemes;</li>
    <li>forge headers, create a false identity or otherwise manipulate identifiers in order to deceive others or disguise the origin of any Content transmitted to or via the Site;</li>
    <li>use the Site, Products and / or the Services to threaten, defame, abuse, assault, stalk, harass or otherwise violate the rights of any other person or entity, including, without limitation, rights of privacy or publicity;</li>
    <li>publish, post, display or disseminate any profane, obscene, indecent, unlawful, terroristic, violent or hateful Content;</li>
    <li>offer, sell, broker, purchase or seek any unethical, profane, obscene, indecent, unlawful, terroristic, violent or hateful services;</li>
    <li>collect, store, publish, post, sell, transmit or disclose personal data about other Members or users of the Site unless authorized to do so;</li>
    <li>upload or otherwise transmit files that contain viruses, worms, Trojan horses, malicious code, spyware, adware, sniffers, corrupted files or similar software or programs; or</li>
    <li>restrict or prevent any other Member or other user of the Site from using the Site, Products and/or the Services.</li>





</ol>

Additional Use and Restrictions; School Climate Resource Center (“SCRC”)
</p>

<p>
Without limiting anything to the foregoing, school-wide subscriptions are available for the SCRC, which shall grant such school a multi-seat license of up to twenty-five (25) “Users” (you must purchase additional seat licenses if there are more than twenty-five (25) Users before such additional use begins). "Users" means any faculty member, parent or community member, as applicable, designated by the member school, who will be issued a username and password. Except as otherwise expressly provided herein, you may not: (i) make the Content available in any medium accessible by persons other than authorized Users; or (ii) make the Content available in a manner intended to allow or invite a third party to download, extract or access the Content.
</p>

<p>
Notwithstanding the foregoing, Users shall be permitted to reproduce and distribute any downloadable Content, solely within its school or school community (parents and community leaders), but any further dissemination of the downloadable Content is strictly prohibited.
</p>

<p>
You represent that any faculty member, parent or community member who have been granted access to the Content have been informed of such restrictions and expressly agree to be bound by the obligations and restrictions set forth in these Terms of Use.
</p>

<p>
<b>6. Fees</b><br>
NSCC charges fees for certain Products and Services, including, without limitation, memberships, subscriptions, seminars, tutorials, professional development programs, publications and curricula. We may change our fees from time to time and at any time upon notice to you. Unless otherwise stated, all fees are expressed in U.S. dollars. You are responsible for any fees incurred in connection with the Services, the Products and / or your use of the Site, and all applicable charges, expenses, tariffs and taxes.
</p>

<p>
If you have applied to become a Member of the Site, your membership will begin immediately after we accept your application and successfully process your purchase order, credit card payment or other form of payment and will remain in effect unless: (a) expressly cancelled by you by e-mailing or calling our Customer Service Center at scrc@schoolclimate.org or 212.707.8799 ext 21; or (b) suspended or cancelled by NSCC in accordance with the terms and conditions of these Terms of Use, including, without limitation, if you fail to timely pay any membership or other fees. You agree that you will provide valid and accurate credit card and / or other payment or account information, which you are authorized and legally entitled to use to pay for any membership, subscription, or other Products or Services.
</p>

<p>
<b>7. Use: Members</b><br>
You may access and browse certain areas of the Site and the Content without registering and / or becoming a Member. You must become a Member in order to access certain Products and Services or participate in certain discussion boards, forums, leadership opportunities or other NSCC programs. In order to become a Member, you must qualify for membership and complete the registration and payment process, as applicable. The registration and payment processes require, among other things, that you provide current, complete and accurate information as requested on the applicable registration and payment forms and that NSCC is able to successfully process your payment information. If you are registering on behalf of a school, school district, or other organization, you represent and warrant that you have the authority to provide the required information and bind the organization to these Terms of Use.
</p>

<p>
Notwithstanding the foregoing, you acknowledge and agree that NSCC, in its sole discretion and without notice or any further obligation to you, may: (a) temporarily suspend or permanently discontinue your, and refuse any and all current and future, access to or use of the Site and / or the Products and Services, or (b) take any other necessary or appropriate actions in case of technical problems, objectionable material, false, misleading, unlawful or inaccurate postings, articles or other contributions.
</p>

<p>
<b>8. Monitoring</b> <br>
NSCC has no obligation to monitor the Site. However, NSCC reserves the right to review any User Content, and remove, delete, redact or otherwise modify such User Content, in its sole discretion, at any time and from time to time, without notice or further obligation to you. NSCC has no obligation to display or post any User Content. NSCC reserves the right to disclose, at any time and from time to time, any information or User Content that NSCC deems necessary or appropriate to satisfy any applicable law, regulation, contract obligation, legal or dispute process or government request.
</p>

<p>
<b>9. Modifications</b><br>
As noted above, NSCC reserves the right, at any time and from time to time, without notice, to modify, alter, or update these Terms of Use, and your continued use of the Site, the Products and / or the Services after such modifications, alterations or updates signifies your agreement to be bound by such modifications, alterations or updates. NSCC may also, directly or indirectly, make improvements and / or changes in the Site, the Products and / or the Services or any portion thereof at any time without notice or obligation to you.
</p>

<p>
Any Content, Products, Services, prices, specifications, designs, conditions or product descriptions offered or posted on the Site are subject to modification or discontinuation at any time and from time to time without notice or obligation to you. Without limiting the foregoing, NSCC reserves the right, in its sole discretion, to charge fees for the use or purchase of, or access to, any products, Services, Products or Content offered through the Site, at any time and from time to time, regardless of whether such products, Services, Products or Content were previously offered at no charge.
</p>

<p>
<b>10. User Names, Passwords & Confidentiality </b><br>
In connection with any NSCC membership, you may choose, or we may issue to you a username, password or other similar access code. Certain of our vendors and partners may also issue to you and/or include in their communications with you usernames, passwords and other similar access codes. In order to protect the privacy of your personally identifiable information and to comply with the terms of this section, you must keep any such username, password or access code secret. You may not disclose your user name, password or access code to any third party, or allow any third party to access your account.
</p>

<p>
You acknowledge and agree that you are responsible for all actions taken using any username, user ID, login or other identifier (each, an "Identifier") or password selected by, or issued to, you in connection with the Site, including, without limitation, any fees charged to your account. You agree to notify NSCC immediately of any unauthorized use of any Identifier or password or any other breach of security of which you are aware by contacting us at scrc@schoolclimate.org, and you should immediately change your password. You may not use any Identifier or password that is not issued directly to you by NSCC or its authorized vendors or partners.
</p>

<p>
You acknowledge and agree that any user name, login code, identifier or password (each, a "Password") is confidential information. You must maintain the confidentiality of any Password, and you may not disclose such Password to any other person or entity or permit any other person or entity, whether or not a Member, to access the Site or the Services using such Password. You acknowledge and agree that you are responsible for any use of your username, user ID, login and / or Password, including any fees incurred. You agree to notify NSCC immediately of any unauthorized use of any Password or any other breach of security of which you are aware. You may not use any Password that is not issued directly to you or approved by NSCC.
</p>

<p>
NSCC cannot be responsible, and disclaims all liability in connection with, the use of any information that you submit, post or display on the Site. You should use caution when posting any information, including personally identifiable information to the Site.
</p>

<p>
<b>11. Links to Third Party Websites</b> <br>
The Site may contain links to websites and other resources operated by third parties other than NSCC. Such links are provided solely as a convenience to you. NSCC does not control such websites, and is not responsible for the contents, or products, services or other content offered through such websites. NSCC's inclusion of links to such websites does not imply any endorsement of any website, or the content, products or services offered through any website, or of any company or person. If you decide to access any third party websites, you do so entirely at your own risk, and you may be subject to the terms and conditions and the privacy policies of such websites.
</p>

<p>
<b>12. Release </b> <br>
In the event that you have a dispute with one or more Members or users of the Site, you hereby irrevocably release NSCC and its directors, officers, agents, affiliates, subsidiaries, employees, successors and assigns from any claims, demands or damages, direct, indirect or consequential, of any kind, known or unknown, disclosed and undisclosed, arising out of, related to or in connection with any such dispute. If you are a California resident, you hereby waive California Civil Code § 1542, which says "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor."
</p>

<p>
<b>13. Warranties and Disclaimer</b> <br>
THE SITE AND ANY CONTENT, PRODUCTS AND SERVICES CONTAINED ON THE SITE, INCLUDING LINKS, ARE PROVIDED ON AN "AS IS" BASIS WITH NO WARRANTY OF ANY KIND. TO THE MAXIMUM EXTENT PERMITTED BY LAW, NSCC DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO THE SITE, THE CONTENT, THE PRODUCTS, THE SERVICES, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, FREEDOM FROM COMPUTER VIRUSES OR OTHER MALICIOUS OR UNAUTHORIZED CODE OR PROGRAMS, AND IMPLIED WARRANTIES ARISING FROM COURSE OF DEALING OR COURSE OF PERFORMANCE. IN ADDITION, NSCC DOES NOT REPRESENT OR WARRANT THAT THE INFORMATION ACCESSIBLE VIA THE SITE IS ACCURATE, COMPLETE OR CURRENT. AS A CONDITION OF YOUR USE OF THE SITE, YOU WARRANT TO NSCC THAT YOU WILL NOT USE THE SITE FOR ANY PURPOSE THAT IS UNLAWFUL OR PROHIBITED BY THESE TERMS OF USE.
</p>

<p>
<b>14. Limitation of Liability</b> <br>
NSCC AND ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, LICENSORS AND THIRD PARTY PARTNERS WILL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, OR ANY DAMAGES WHATSOEVER, WHETHER OR NOT NSCC HAS BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER IN AN ACTION UNDER CONTRACT, TORT, OR ANY OTHER THEORY, ARISING OUT OF OR IN CONNECTION WITH ANY ERRORS OR OMISSIONS, VIRUSES OR OTHER MALICIOUS OR UNAUTHORIZED CODE OR PROGRAMS, THE USE, INABILITY TO USE, OR PERFORMANCE OF THE SITE OR THE CONTENT, PRODUCTS OR SERVICES AVAILABLE FROM THE SITE OR ANY LOSS, BUSINESS INTERRUPTION OR OTHER DAMAGES IN CONNECTION THEREWITH. WITHOUT LIMITING THE FOREGOING, NSCC'S LIABILITY IN CONNECTION WITH THE SITE, THE CONTENT, THE PRODUCTS, THE SERVICES OR THESE TERMS OF USE SHALL BE LIMITED TO THE AMOUNT PAID FOR THE SITE, THE CONTENT, THE PRODUCTS OR SERVICES GIVING RISE TO THE CLAIM. THESE LIMITATIONS WILL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.
</p>

<p>
<b>15. Indemnification</b> <br>
You agree to indemnify, defend and hold harmless NSCC and its officers, directors, employees, agents, suppliers, licensors and third party partners from and against all claims, losses, expenses, damages and costs (collectively, "Damages"), including reasonable attorneys' fees, resulting from: (a) any violation by you of these Terms of Use and (b) any User Content provided by you.
</p>

<p>
<b>16. Dispute Resolution </b><br>
If any controversy, dispute or claim arising out of or related to your use of the Site, the Products and / or Services or any of the Content arises, the dispute will be resolved exclusively by binding arbitration in accordance with the then-current Commercial Rules of the American Arbitration Association. However, NSCC will have the right to petition any court of competent jurisdiction for the entry of injunctions and orders for specific performance (without the necessity of posting a bond) relating to your unauthorized use, modification, copying, distribution, transmission, display, performance, reproduction, publication, license, creation of derivative works, transfer or sale of the Site, the Products, the Services, the Marks and / or the Content.
</p>

<p>
<b>17. Governing Law </b><br>
Except as provided in the second sentence of Section 16, all litigation, court proceedings, arbitration proceedings, lawsuits, court hearings and other hearings initiated in connection with the Site, the Products and / or Services and / or the Content must and will be venued exclusively in New York, New York, USA. These Terms of Use and the relationship between you and NSCC will be governed by the laws of the State of New York, USA, without giving effect to principles of conflict of laws of any jurisdiction. If any part of these Terms of Use is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of these Terms of Use shall continue in effect.
</p>

<p>
<b>18. Miscellaneous</b> <br>
If any provision of these Terms of Use is held to be invalid, illegal or unenforceable in any respect under any applicable law or rule in any jurisdiction, such invalidity, illegality or unenforceability will not affect the effectiveness or validity of any provision in any other jurisdiction, and these Terms of Use will be reformed, construed and enforced in such jurisdiction as if such provision had never been contained herein. You agree that no joint venture, partnership, employment, or agency relationship exists between you and NSCC as a result of these Terms of Use, our Privacy Policy or use of the Site, the Products and / or the Services. NSCC's performance of these Terms of Use is subject to existing laws and legal process, and nothing contained in these Terms of Use or our Privacy Policy is in derogation of NSCC's right to comply with law enforcement requests or requirements relating to your use of the Site or information provided to or gathered by NSCC with respect to such use. These Terms of Use and the Privacy Policy constitute the entire agreement between you and NSCC with respect to the Site, the Products and the Services, and they supersede all prior or contemporaneous communications and proposals, whether electronic, oral or written, between you and NSCC with respect to the Site, the Products and the Services. In the event of a conflict between these Terms of Use and the terms and conditions of any of the foregoing with respect to the Site, the Services, the Products or any Content shall control with respect to their subject matter. The Section titles in these Terms of Use are for convenience only and have no legal or contractual effect. We may provide notice to you hereunder by posting announcements to the Site. A printed version of these Terms of Use and of any notice given in electronic form shall be admissible in judicial, arbitration or administrative proceedings based upon or relating to these Terms of Use to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
</p>


      </div>
		</div>
	</div>
</div>