
<div class="b-b-gray">
  <h4><img src="/plugins/rainlab/blog/assets/img/title-comments.png" alt="comments">
    {% if comments|length > 0 %}
    <a class="collapse-link pull-right" onclick="showComments($(this));">
        <i class="fa fa-chevron-down"></i>
    </a>
    {% endif %}
  </h4>

  <div class="ibox-content no-padding comments-container" style="display:none;">
      <ul class="list-group">
          {% for key, comment in comments %}
            {% if key!=0 %}
              <hr style="margin:0; border-width: 3px 0 0;">
            {% endif %}
          <li class="list-group-item" style="border:none;">
              <p><a class="text-info" href="javascript::void()">@{{comment.name}}</a> {{comment.comment}}</p>
          </li>

          {% endfor %}
        {{ comments.render|raw }}
      </ul>
  </div>

</div>

<h1><img src="/plugins/rainlab/blog/assets/img/title-leaveComment.png" alt="leave a comment"></h1>

{% flash success %}
    <div class="alert alert-success">{{ message }}</div>
{% endflash %}

{{ form_open({ class:'form-horizontal comment-form',request: __SELF__~'::onHandleForm'}) }}

  <input type="hidden" name="post_id" value="{{post.id}}">

  <div class="form-group"><label class="col-lg-2">Name <span class="requiredMarkC">* </span></label>

      <div class="col-lg-9"><input class="form-control" name="name" required type="text">
      </div>
  </div>
  <div class="form-group"><label class="col-lg-2">Email <span class="requiredMarkC">* </span> </label>

      <div class="col-lg-9"><input class="form-control" name="email" required type="email">
      <span class="help-block m-b-none">(will not be published)</span></div>
  </div>

  <div class="form-group"><label class="col-lg-2">Web URL:</label>

      <div class="col-lg-9"><input class="form-control" name="web_url" type="url">
      </div>
  </div>

  <div class="form-group"><label class="col-lg-2">Comment: <span class="requiredMarkC">* </span> </label>

      <div class="col-lg-9"><textarea class="form-control" rows="8" required name="comment" ></textarea>
      </div>
  </div>

  <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10" >
          <button class="btn btn-bright-cerulean  btn-lg " type="submit">Submit Comment</button>
      </div>
  </div>

  {{ form_close() }}

  {% put scripts %}
    <script>
      function showComments(object){

        if ( $( ".comments-container" ).is( ":hidden" ) ) {
          object.children('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
          $( ".comments-container" ).slideDown( "slow" );
        } else {
           object.children('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
          $( ".comments-container" ).hide();
        }

      }
    </script>
  {% endput %}
