{% set SCRCNews = __SELF__.scrcnews %}

<!-- <div class="col-sm-12" id="news-slider-box" style="background:#FFF;padding:10px 0px; font-size:15px; border-radius:5px;">

  <div class="col-md-12" style="padding:10px 15px;"><h3 style="color:black; margin:0px;">SCRC News</h3></div> -->

  <div class="panel panel-default">
    <div class="panel-body" style="height: 395px;">
      <div class="row">
        <div class="col-xs-12">
          <div id="news-slider-box" style="font-size:16px;">
          {% if SCRCNews.count %}
          {% for news in SCRCNews %}

                  <div class="col-md-12 news-item" style="/*border-top:1px solid rgba(15,70,100,.12);*/ padding:5px 15px;">
                      {% if news.image %}
                      <img class="img-responsive" src="{{news.image.getPath()}}" style='margin-top:2px;float:left;width:150px; margin-right:10px;'/>
                      {% endif %}

                      {% if news.title %}
                        <h3 style="color: #0b56a8; margin-top:0px;">
                          <b>{{news.title}}</b>
                        </h3>
                      {% endif %}

                      {% if news.date %}
                        <p style="color:black;">{{news.date | date('M d, Y')}} {% if news.news_by %} by {{news.news_by}}  {% endif %}</p>
                      {% endif %}

                      {% if news.news_description %}
                      <span style="color:black;">
                        {{html_clean(news.news_description)}}
                      </span>
                      {% endif %}

                      {% if news.url %}
                        <a href="{{news.url}}" target="_blank">Read More</a>
                      {% endif %}

                  </div>

            {% endfor %}
          {% endif %}
        </div>

        </div>
      </div>
    </div>
    <div class="panel-footer"></div>
  </div>

<!-- </div> -->

{% put scripts %}

<script src="/plugins/scrc/scrcnews/assets/news-slider/scripts/jquery.bootstrap.newsbox.min.js"></script>
<script>
$(function () {

    $("#news-slider-box").bootstrapNews({
        newsPerPage: 1,
        autoplay: true,
        pauseOnHover:true,
        direction: 'up',
        newsTickerInterval: 30000,
        onToDo: function () {
            //console.log(this);
        }
    });

  });

</script>
{% endput %}
