
<a onclick="window.history.back();" class="bloc-button btn btn-d back-button showback-button"><span class="fa fa-chevron-left"></span></a>

<!-- bloc-43 -->
<div class="bloc b-parallax bg-t-edge bloc-bg-texture texture-fabric bgc-platinum tc-black" id="bloc-43">

	<div class="container bloc-sm">
		<div class="row">

      <div class="col-sm-6">
				<h3 class="mg-md  text-center">
					Newsletters
				</h3>
				<p>
					This quarterly newsletter is designed to keep you informed about important school climate issues and NSCC's work nationwide.
				</p>
			</div>
			<div class="col-sm-6">
				<img class="img-responsive" src="{{'assets/includes/img/climatechange.jpg'|theme}}" width="70%"/>
			</div>
		</div>
	</div>
</div><br>
<!-- bloc-43 END -->



<!-- bloc-44 -->
<div class="bloc bgc-platinum l-bloc" id="bloc-44">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-4">
				<img src="{{ newsLetter.news_latter_image | media }}" class="img-responsive pull-right newslatter-img" />
			</div>
			<div class="col-sm-8 image-style">

				<h2 class="mg-md">
          <b>{{newsLetter.name}}</b> </br>
          <small>{{newsLetter.date}}</small>
        </h2>
        {% if newsLetter.content|striptags %}
        <div style="text-align: justify;">
				   {{ html_clean(newsLetter.content) }}
        </div>
				{% endif %}

        {% if newsLetter.pdf %}
        <p>
          <a target="_blank" href="{{newsLetter.pdf | media}}" title="Download PDF!">Download PDF »</a>
        </p>
        {% endif %}
			</div>
		</div>
	</div>
</div>
<!-- bloc-44 END -->
