<?php Block::put('breadcrumb') ?>
<ul>
    <li>
        <a href="<?=Backend::url('system/settings/update/romanov/bsbip/settings')?>">
            <?= e(trans('romanov.bsbip::lang.plugin.name')) ?>
        </a>
    </li>
    <li><?= e(trans($this->pageTitle)) ?></li>
</ul>
<?php Block::endPut() ?>
<?= $this->listRender() ?>
