==
<?php
function onStart()
{
  $donationAmount = [
                [
                  'amount' => '50',
                  'text'  => 'Friend',
                ],
                [
                  'amount' => '100',
                  'text'  => 'Friend',
                ],
								[
                  'amount' => '500',
                  'text'  => 'Patron',
                ],
								[
                  'amount' => '1000',
                  'text'  => 'Mentor',
                ],
								[
                  'amount' => '2000',
                  'text'  => 'Producer',
                ],
								[
                  'amount' => '5000',
                  'text'  => 'Publisher',
                ],
								[
                  'amount' => '10000',
                  'text'  => 'Principal',
                ],
                [
                  'amount' => 'other',
                  'text'  => 'Principal',
                ]
              ];

            $this['donationAmount'] = $donationAmount;
}
?>
==
<div class="row" >
   <div class="col-sm-12">
     <p class="payment-errors"></p>
   </div>

   <div class="row donnation-container" style="background:#FFF;">

     <div class="panel-group payments-method" id="accordion">
         <div class="panel panel-default">
             <div class="panel-heading">
                 <div class="pull-right">
                     <i class="fa fa-cc-paypal text-primary"></i>
                 </div>
                 <h5 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">PayPal</a>
                 </h5>
             </div>
             <div id="collapseOne" class="panel-collapse collapse">
                 <div class="panel-body">
                     {% component 'PayPalPayments' %}
                 </div>
             </div>
         </div>
         <div class="panel panel-default">
             <div class="panel-heading">
                 <div class="pull-right">
                     <i class="fa fa-cc-amex text-primary"></i>
                     <i class="fa fa-cc-mastercard text-warning"></i>
                     <i class="fa fa-cc-discover text-danger"></i>
                 </div>
                 <h5 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Credit Card</a>
                 </h5>
             </div>
             <div id="collapseTwo" class="panel-collapse collapse in">
                 <div class="panel-body">
                   {% component 'Stripecomponent' %}
                 </div>
             </div>
         </div>
     </div>
   </div>

 </div>
