==
<?php
function onStart()
{
  $donationAmount = [
                [
                  'amount' => '50',
                  'text'  => 'Friend',
                ],
                [
                  'amount' => '100',
                  'text'  => 'Friend',
                ],
								[
                  'amount' => '500',
                  'text'  => 'Patron',
                ],
								[
                  'amount' => '1000',
                  'text'  => 'Mentor',
                ],
								[
                  'amount' => '2000',
                  'text'  => 'Producer',
                ],
								[
                  'amount' => '5000',
                  'text'  => 'Publisher',
                ],
								[
                  'amount' => '10000',
                  'text'  => 'Principal',
                ],
                [
                  'amount' => 'other',
                  'text'  => 'Principal',
                ]
              ];

            $this['donationAmount'] = $donationAmount;
}
?>
==
{% put styles %}
<style>

input[type=submit] {
    font-size: 80%;
    /* font-weight: bold; */
    font-weight: bold;
    text-align: center;
    margin-right: 15px !important;
    margin-top: 10px !important;
    padding: 10px;
}

 .payment-buttons button[type=button] {
       font-size: 1em;
       font-weight: bold;
       text-align: center;
       width: 96%;
       max-width:22%;
       margin-right: 15px !important;
       margin-top: 10px !important;
  }

.btn-stripe{
  background-color: #29C2E5 !important;
}

.btn-apple{
  background-color: #FFF !important;
  color:#333 !important;
  border-color: #ccc !important;
}

.btn-paypal{
  background-color: #337ab7;
  border-color: #2e6da4;
}

.apple-pay{
  color: #fff;
}

.btn-bitcoin {
    background-color: #5cb85c !important;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
#apple-pay-button {
   display: none;
   background-color: black;
   background-image: -webkit-named-image(apple-pay-logo-white);
   background-size: 100% 100%;
   background-origin: content-box;
   background-repeat: no-repeat;
   width: 100%;
   height: 44px;
   padding: 10px 0;
   border-radius: 10px;
 }

.donation-buttons{
  height: 44px;
  padding: 10px 0;
  border-radius: 10px !important;
  font-size: 1em !important;
  font-weight: bold;
  width: 100%;
  border: 1px transparent solid;
}

.donation-buttons:focus {
    outline: thin dotted #AAAAAA;
    outline-offset: -2px;
}

.donation-buttons:hover,
.donation-buttons:active {
  color: #fff;
}

.apple-pay:hover{
  color: #f2f2f2 !important;
  background-color:#191919 !important;
}

</style>


{% endput %}
<div class="row" >
   <div class="col-sm-12">
     <p class="payment-errors"></p>
   </div>

  <div class="row donnation-container" style="background:#FFF;">
    <div class="panel-group payments-method" id="accordion">
      <div class="row">
        <div class="col-sm-12 donnation-container">
               {{ form_open({ id:'payment-form',request: __SELF__~'::onHandleForm'}) }}
                  <div class="donation-form">
                           <div class="">
                               <h3 class="section-heading">Contact Information</h3>
                           </div>
                           <div class="col-sm-6">
                               <div class="form-group">
                                   <label> First Name</label>
                                   <input class="required form-control" name="first_name" id="firstName" maxlength="50" type="text" />
                               </div>
                           </div>
                           <div class="col-sm-6">
                               <div class="form-group">
                                   <label> Last Name</label>
                                   <input class="required form-control" name="last_name" id="lastName" maxlength="50"  type="text"/>
                               </div>
                           </div>
                           <div class="col-sm-6">
                               <div class="form-group">
                                   <label> Address Line1</label>
                                   <input class="form-control" type="text" name="address_1">
                               </div>
                           </div>
                           <div class="col-sm-6">
                               <div class="form-group">
                                   <label> Address Line2 (Optional)</label>
                                   <input class="form-control" type="text" name="address_2">
                               </div>
                           </div>
                           <div class="col-sm-4">
                               <div class="form-group">
                                   <label> Zip/Postal Code</label>
                                   <input class="form-control" type="text" name="zip">
                               </div>
                           </div>
                           <div class="col-sm-4">
                               <div class="form-group">
                                   <label> City</label>
                                   <input class="form-control" type="text" name="city">
                               </div>
                           </div>
                           <div class="col-sm-4">
                               <div class="form-group">
                                   <label> State/Province</label>
                                   <input class="form-control" type="text" name="state">
                               </div>
                           </div>
                           <div class="col-sm-6">
                               <div class="form-group">
                                   <label> Email</label>
                                   <input class="form-control required" type="email" name="email" id="email">
                               </div>
                           </div>
                           <div class="col-sm-6">
                               <div class="form-group">
                                   <label> Home Phone (Optional)</label>
                                   <input type="text" class="form-control" name="phone">
                               </div>
                           </div>
                           <div class="col-sm-12">
                               <div class="form-group">
                                   <input class="" value="1" type="checkbox" name="newslatterSubscribe">
                                    <span class="checkbox-text">Yes, sign me up for email updates.</span>
                               </div>
                           </div>

                          <!--Donation amount container-->
                          <div class="col-sm-12">
                              <div class="donation-amount-container ">
                                 <div class="section-heading">
                                   <h3 style="color:#5A5757;">Please indicate your level of support:</h3>
                                   <p style="color:rgba(0,0,0,.5);">All levels receive digital resources, a place at the annual Holiday Party, informational products and special offers on tickets to our events. *Believers are listed on our website.</p>
                                 </div>

                                   <div class="form-group">
                                     {% for key , getDonationData in donationAmount %}
                                         <div class="col-sm-4 col-md-3">
                                            {% if getDonationData['amount'] == 'other' %}
                                             <input  min="1" maxlength="15" name="donationAmountOther" id="donationAmountOther" min="1" class="form-control add-amount" value="" type="number" placeholder="$ Amount">
                                            {% else %}
                                              <span class="btn btn-amount amountOption-btn select-amount">
                                               <input id="option{{key}}" name="donationAmountSelected" {% if key == 0 %} checked="checked" {% endif %}  value="{{getDonationData['amount']}}" class="required amount-buttons " type="radio">
                                               ${{ getDonationData['amount'] }} </span>
                                            {%  endif %}
                                          </div>
                                     {% endfor %}
                                   </div>
                                </div>
                            </div>

                          <div class="col-sm-12" style="padding:15px 30px;">
                              <div class="form-group">
                                <input type="checkbox" name="donation_frequency" value="month" class="icheck">
                                <span class="checkbox-text">
                                I would like to become a sustaining monthly donor.
                                </span>
                              </div>
                            </div>

                          <div class="col-sm-12" style="padding:0px 30px;">
                                <div class="form-group">
                                   <span class="checkbox-text">On behalf of:</span>
                                   <input class="" value="1" type="checkbox" name="onBehalf">
                                   &nbsp;&nbsp;
                                   <span class="checkbox-text">In Honor:</span>
                                   <input class="" value="1" type="checkbox" name="inHonor">
                                   &nbsp;&nbsp;
                                   <span class="checkbox-text">In memory of:</span>
                                   <input class="" value="1" type="checkbox" name="inMemory">
                                </div>
                            </div>

                          <div class="col-sm-12 recipientDiv" style="padding:0px 30px; display:none;">
                                    <div class="form-group">
                                        <label> Recipients Name</label>
                                        <input class="form-control" name="recipientName" id="recipientName" maxlength="50" type="text" />
                                    </div>
                                </div>

                           <!--/Donation amount container-->
                          <div class="col-sm-12">
                               <h3 class="section-heading"> Payment Information:</h3>
                                 <div class="row" style="margin-bottom:20px;">
                                     <div class="col-md-3"><button type="button" class="btn btn-dark donation-buttons apple-pay other-pay" id="apple-pay-button"></button></div>
                                     <div class="col-md-3"><button type="button" id="card-pay-button" class="btn btn-info btn-stripe donation-buttons submit-donation"><i class="fa fa-credit-card" aria-hidden="true"></i> Pay using card</button></div>
                                     <div class="col-md-3"><button type="submit" id="paypalpayment" class="btn btn-primary donation-buttons submit-donation btn-paypal other-pay"><i class="fa fa-paypal" aria-hidden="true"></i> Pay with PayPal</button> </div>
                                  <!--
                                      <div class="col-md-3"><button class="btn btn-success donation-buttons submit-donation btn-bitcoin paywithbitcoin other-pay"  type="button"> <i class="fa fa-btc" aria-hidden="true"></i> <span class="btc-button-text">Pay using Bitcoin</span></button></div>
                                  -->
                                  </div>

                              <div class="col-sm-12" id="stripePay" style="display:none;">
                                <div class="row">
                                     <div class="col-sm-6">
                                       <label>Card Number </label>
                                       <div class="form-group">
                                         <input name="card_number" autocomplete="off" data-mask="9999-9999-9999-9999" placeholder="9999-9999-9999-9999" maxlength="20" id="cardNumber"  class="required card-number stripe-sensitive form-control" value="" tabindex="7" type="text">
                                       </div>
                                     </div>
                                     <div class="col-sm-6">
                                       <label>Expiration date: (MM/YY)</label>
                                       <div class="expiration_date">
                                           <div class="col-md-4 col-sm-6">
                                             <select id="expMonth" name="card_expiry_month" class="required card-expiry-month stripe-sensitive form-control" tabindex="9"></select>
                                           </div>
                                           <div class="col-md-4 col-sm-6">
                                             <select id="expYear" name="card_expiry_year" class="required card-expiry-year creditcardexpiry form-control" tabindex="10"></select>
                                           </div>
                                       </div>
                                     </div>
                                 </div>
                                <div class="row payment-buttons">
                                   <input type="submit" id="makepayment" class="btn btn-primary pull-right donation-buttons submit-donation btn-stripe" value="Submit Donation"/>
                                   <!--
                                   <input type="submit" id="paypalpayment" class="btn btn-warning pull-right submit-donation btn-paypal" value="Pay with PayPal"/>
                                   <input type="submit" id="bitcoinPay" onclick="return false;" class="btn btn-default pull-right submit-donation btn-bitcoin" value="Pay with Bitcoin"/>
                                   <input type="submit" id="applePay" onclick="return false;" class="btn btn-info pull-right submit-donation btn-apple" value="Apple Pay"/>
                                 -->
                                </div>
                              </div>

                               {% partial 'donation/footer_text.htm' %}
                          </div>
                   </div>
                {{ form_close() }}
        </div>
      </div>
    </div>
  </div>
</div>
 {% partial __SELF__~"::newslatter_subscribe" %}
 {% put scripts %}

<script src="https://checkout.stripe.com/v2/checkout.js"></script>

  <script>
  $(document).ready(function(){

    $('.other-pay').click(function(){
      $('#stripePay').hide();
    });

    $('#card-pay-button').click(function(){
        $('#stripePay').show();
    });

    Stripe.setPublishableKey("{{ config_get("webconfig.STRIPE_TEST_KEY") }}");

    Stripe.applePay.checkAvailability(function(available) {
      if (available) {
        document.getElementById('apple-pay-button').style.display = 'block';
        
          document.getElementById('apple-pay-button').addEventListener('click', beginApplePay);



    
    function beginApplePay() {
        
          amount = $('input:radio[name="donationAmountSelected"]:checked').val();
            customAmount = $('input[name="donationAmountOther"]').val();

            if(customAmount)
              amount = customAmount;
              amount = amount * 100;
              
        var paymentRequest = {
            countryCode: 'US',
            currencyCode: 'USD',
            total: {
              label: 'SchoolClimate Donation',
              amount: amount
            }
     };

  var session = Stripe.applePay.buildSession(paymentRequest,
    function(result, completion) {

    $.post('/donation', { token: result.token.id }).done(function() {
      completion(ApplePaySession.STATUS_SUCCESS);
    }).fail(function() {
      completion(ApplePaySession.STATUS_FAILURE);
    });

  }, function(error) {
    console.log(error.message);
  });

  session.oncancel = function() {
    console.log("User hit the cancel button in the payment window");
  };

  session.begin();
}

              
      }
  
    });
    
  
    
    $('.select-amount').click(function(){
      $('.add-amount').val('');
      $('.amount-buttons').addClass('required');
    });

    $('.add-amount').keyup(function(){
      $('.select-amount').removeClass('btn-success');
      $('.select-amount').addClass('btn-amount');
      $('.amount-buttons').removeClass('required');
      $('.amount-buttons').attr('checked', false);
    });



    $('.paywithbitcoin').click(function(){


        $('.btc-button-text').text('Processing..');
        $(this).attr('disabled',true)

          var token = function(res){
                var $theToken = $('<input type=hidden name=stripeToken />').val(res.id);
                $('form').append($theToken).submit();
              };

            amount = $('input:radio[name="donationAmountSelected"]:checked').val();
            customAmount = $('input[name="donationAmountOther"]').val();

            if(customAmount)
              amount = customAmount;
              amount = amount * 100;

          StripeCheckout.open({
            key:         '{{ config_get("webconfig.STRIPE_KEY") }}',
            amount:      amount,
            currency:    'usd',
            bitcoin:     true,
            token:       token,
          });

          $('.btc-button-text').text('Pay using Bitcoin');
          $(this).removeAttr('disabled');

          return false;
      });




    $('body').on('click', '#paypalpayment', function(e){

      $('#payment-form').attr('id', 'paypal-payment-form');
      $('input[name="_handler"]').attr('value', 'PayPalPayments::onHandleForm');
      $('#cardNumber').removeClass('required');

      // $("#paypal-payment-form").validate({
      //     errorElement: 'p',
      //     submitHandler: paypalsubmit,
      // });
    });


    function paypalsubmit(form) {
        $('#paypalpayment').attr("disabled", "disabled");
        $('#paypalpayment').attr('value','Processing Payment...');


        var formData = $.base64.encode($("#payment-form").serializeArray());

        var input = $("<input name='paypal' value='paypal' style='display:none;' />");

        form.appendChild(input[0]);
        form.appendChild(paypal[0]);

        if($('input[name="newslatterSubscribe"]').is(':checked')) {
         $('#newslatter-subscription input[name=email]').attr('value',$('#email').val());
         $.post('https://visitor2.constantcontact.com/api/signup',$('#newslatter-subscription').serialize(),function(data){
             form.submit();
         });
        }
        else{
          form.submit();
        }
    }


  });

  </script>

  	{% if session %}
   <script>
  			 swal("","The National School Climate Center <br> Thanks You! <br> For Your {{ html_limit(session,1000) }} ", "success")
  	 </script>
  	{% endif %}

   {% if error %}
   <script>
  			 swal("","{{error}}", "error")
  	 </script>
  	{% endif %}


   {% if stripeError %}
     <script>
     swal("","{{stripeError}}", "error");
     </script>
   {% endif %}
 {% endput %}