==
<hr>
<h3>Our Gift Acceptance Policy</h3>
<p>
<!-- The News Literacy Project is 501(c)(3) educational organization. We are nonpartisan and independent in all programs. The support we receive from donors and foundations does not determine or influence the content we develop and provide in our checkology virtual classroom or other resources. -->
The National School Climate Center is a 501(c)(3) educational organization. We are nonpartisan and independent in all programs. The support we receive from donors and foundations does not determine or influence the content we develop and/ or services we provide to our schools.
</p>