<div data-control="toolbar">
    <a href="<?= Backend::url('rainlab/blog/newsletters') ?>" class="btn btn-primary oc-icon-caret-left">
        <?= e(trans('rainlab.blog::lang.category.return_to_categories')) ?>
    </a>
</div>
