title = "Contact Us - National School Climate Center"
url = "/about/contact-us"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[ContactUs]
==
<!-- bloc-34 -->
<div class="bloc bloc-contact bg-csee-kids bgc-white l-bloc header-banner" id="bloc-34">
	<div class="container bloc-md">
		<div class="row" style="padding:50px 0px;">
			<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center" style="margin-bottom:0px;">
				<h1 class="mg-md tc-white-2 text-center lg-shadow">
					Contact Us
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-34 END -->

<!-- bloc-34 -->
<div class="bloc  bgc-white" id="bloc-34">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-xs-12 col-md-12">

				<div class="col-md-6">
					<p><b>To get in touch with us, please fill out your contact information below. Your correspondence will be sent directly to the correct department.</b></p>
					<br />
          {% component 'ContactUs' %}


				</div>
<!-- Address START -->
					<div class="col-md-6">
                        <p>
                        <h3>Email</h3>
                            <a href="mailto:info@schoolclimate.org">info@schoolclimate.org</a>
                        <h3>Phone</h3>
                        <a href="tel:2127078799">(212)707-8799</a>
                        </p>
                        <h3>Mailing Address</h3>
                        <p> National School Climate Center <br>
                            223 West 38th Street<br>
                            P.O. Box 490<br />
                            New York, NY 10018
                        </p>
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.2864981887046!2d-73.993372!3d40.755723!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259ad4715edc5%3A0x3714374e079576fe!2s341+W+38th+St%2C+New+York%2C+NY+10018!5e0!3m2!1sen!2sus!4v1493178174004" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
<!-- Address END -->
<!-- bloc-34 END -->


			</div>
		</div>
	</div>
</div>
<!-- bloc-34 END -->