title = "Contact Us - National School Climate Center"
url = "/about/contact-us-old"
layout = "default"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"
==
<?php
function onStart(){
  $this['p_url'] =  isset($_GET['p'])? $_GET['p']-1 : 0;
	$this['interests'] = [
													'General Information',
                          'School Climate Survey (CSCI)',
                          'School Climate Resource Center',
                          'Professional Development',
                          'Research',
                          'Summer Institute',
                          'Donations',
												];


}
?>
==
<!-- bloc-34 -->
<div class="bloc bloc-contact bg-csee-kids bgc-white l-bloc header-banner" id="bloc-34">
	<div class="container bloc-md">
		<div class="row" style="padding:50px 0px;">
			<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center" style="margin-bottom:0px;">
				<h1 class="mg-md tc-white-2 text-center lg-shadow">
					Contact Us
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-34 END -->

<!-- bloc-34 -->
<div class="bloc  bgc-white" id="bloc-34">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-xs-12 col-md-12">

				<div class="col-md-6">
					<p><b>To get in touch with us, please fill out your contact information below. Your correspondence will be sent directly to the correct department.</b></p>
					<br />
<!-- Contact Form START -->
            <form class="form-horizontal" method="POST" action="" id="contact-us-mail">
              <input type="hidden" name="oid" value="00D500000006zNM">

						 <div class="bloc-34-field">
				 	   		<input type="text" class="form-control required"  placeholder="First Name" name="first_name">
					   </div>
						 <div class="bloc-34-field">
				 	   		<input type="text" class="form-control required"  placeholder="Last Name" name="last_name">
						 </div>
             <div class="bloc-34-field">
						 		<input type="text" class="form-control required email" placeholder="E-mail" name="email">
             </div>
             <div class="bloc-34-field">
						 		<input type="text" class="form-control required number" placeholder="Phone" name="phone">
             </div>
             <div class="bloc-34-field">
						 		<input type="text" class="form-control required"  placeholder="School/Company" name="company">
             </div>
             <div class="bloc-34-field">
             		<input type="text" class="form-control required"  placeholder="City" name="city">
             </div>
             <div class="bloc-34-field">
						 		<input type="text" class="form-control required"  placeholder="State" name="state">
             </div>
             <div class="bloc-34-field">
							 <select title="Interest" name="interest" class="form-control required" >
									 {% for key, interest in interests %}
									 <option value="{{interest}}" {% if p_url == key %} selected {% endif %}>{{interest}}</option>
									 {% endfor %}
							 </select>
	           </div>
             <div class="bloc-34-field">
						 		<textarea wrap="soft" class="form-control required" placeholder="Message" type="text" rows="10" name="comments"></textarea>
					   </div>
						 <br>
					 <input type="hidden" name="email_template_path" value="{{ 'pages/emails/contact-us' | theme}}">

           {% partial "captcha" %}

           <div class="bloc-34-field">
				    <input type="submit" class="btn btn-bright-cerulean  btn-lg" value="Submit" name="Submit">
           </div>

					</form>
				</div>
<!-- Contact Form END -->
<!-- Address START -->
					<div class="col-md-6">
                        <p>
                        <h3>Email</h3>
                            <a href="mailto:info@schoolclimate.org">info@schoolclimate.org</a>
                        <h3>Phone</h3>
                        <a href="tel:2127078799">(212)707-8799</a>
                        </p>
                        <h3>Mailing Address</h3>
                        <p> National School Climate Center <br>
                            341 West 38th Street, 9th floor<br />
                            New York, NY 10018
                        </p>
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.2864981887046!2d-73.993372!3d40.755723!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259ad4715edc5%3A0x3714374e079576fe!2s341+W+38th+St%2C+New+York%2C+NY+10018!5e0!3m2!1sen!2sus!4v1493178174004" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
<!-- Address END -->
<!-- bloc-34 END -->


			</div>
		</div>
	</div>
</div>
<!-- bloc-34 END -->

{% put scripts %}
<script>

$("#contact-us-mail").validate({
  submitHandler: function (form) {
      var response = grecaptcha.getResponse();
      //recaptcha failed validation
      if (response.length == 0) {
        $('#recaptcha-error').show();
        return false;
      }
        //recaptcha passed validation
      else {
        $('#recaptcha-error').hide();
        // return true;
        // $("#contact-us-mail").submit();
        var data = $("#contact-us-mail").serialize();
        var processorFile = window.location.origin+'/contact-us-mail';

        $.ajax({
            url: processorFile,
            type: "POST",
            data: data,
            cache: false,
            success: function() // Success
            {
              swal("", "Thank you so much for contacting the National School Climate Center. We have sent you an email confirming that your inquiry was received by us. We will be in touch with you shortly.", "success");
            },
            error: function() // Fail
            {
              swal("", "It seems that our mail server is not responding at this time. We apologize for the inconvenience!","error")
            },
            complete: function() // Clear
            {
              $("#contact-us-mail").trigger("reset");
              grecaptcha.reset();
            },
          });

      }

    },
    errorLabelContainer: $("#contact-us-mail div.error")
});
</script>
{% endput %}
