title = "Employment - National School Climate Center"
url = "/about/employment"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-31 -->
<div class="bloc bg-employment tc-1 bgc-platinum l-bloc header-banner" id="bloc-31">
	<div class="container bloc-md">
		<div class="row text">
			<div class="col-sm-12 bg-gr-tx-wt text-center">
				<h3 class="mg-md ">
					Employment
				</h3>
				<p>
					For over two decades, the National School Climate Center (NSCC) has translated research into practice by establishing meaningful and relevant guidelines, programs, and services that support a model for whole school improvement with a focus on school climate.<br>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-31 END -->



<!-- bloc-31 -->
<div class="bloc  bgc-white" id="bloc-32" >
	<div class="container bloc-md" >
		<div class="row">
			<div class="col-sm-12">

				<div class="col-sm-9">
					<h2 class="mg-md ">
						 <center><strong>Join Our Team</strong></center>
				 </h2>
				 <div class="panel-group" id="accordion">
			 				<div class="panel panel-default" style="max-width:1185px; margin:auto;">
			 					<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
			 							<h4 class="panel-title" align="center">
		<!--                                      Position Summary: Research Associate -->
			 								Currently there are no openings.
			 							</h4>
			 					</div>
<!--                                 <div id="collapseOne" class="panel-collapse collapse" aria-expanded="true" >
    <div class="panel-body">
        <p>The National School Climate Center (NSCC) is recognized internationally as a leader in school climate reform and social, emotional, civic education and works with school districts across the country to support a data-driven, ongoing, and democratically informed process of school climate improvement. The NSCC&rsquo;s vision is that all children will develop the essential social, emotional and civic competencies to become healthy and productive citizens. NSCC&rsquo;s mission is to measure and improve the climate for learning in schools to help children realize their fullest potential as individuals and as engaged members of society. NSCC achieves this through: Advocacy and policy; Measurement and research; and, Educational services.</p>
            <p><u><strong>Position Summary: Research Associate</strong></u></p>
            <p>The Research Associate is responsible for supporting all stages of NSCC research projects. This person helps ensure NSCC is meeting clients&rsquo; research needs and is up to date on latest school climate trends and best practices.</p>
            <p><u><strong>Reporting Relationships</strong></u></p>
            <p>The Research Associate reports directly to the Research Director and works closely with the IT department to ensure data integrity and the school support and education departments to advance services using empirical evidence. This person assists in supervising Research Assistants, Fellows, and Interns.</p>
            <p>1. Manage several of NSCC&rsquo;s current research activities in primary and secondary research related to school climate and evaluation research examining the efficacy of school climate interventions.</p>

            <ul>
                    <li>
                            <p>Create work plans and manage new and ongoing research projects, including conducting literature reviews, to compose project rationales, plans for participant recruitment and data collection, basic analytic plans, reporting plans, and timelines</p>
                    </li>

                    <li>
                            <p>Create, test, and administer surveys using various survey administration software (Qualtrics, Google Forms, etc.), and monitor user responses</p>
                    </li>

                    <li>
                            <p>Work collaboratively with other staff on multiple research projects, including those managed by other departments</p>
                    </li>

                    <li>
                            <p>Prepare, clean, and analyze data using SPSS, STATA, and Excel</p>
                    </li>

                    <li>
                            <p>Conduct and transcribe interviews; code and analyze qualitative data</p>
                    </li>

                    <li>
                            <p>Work with IT department to ensure data integrity by checking accuracy of surveys, data, and reports from internal system</p>
                    </li>

                    <li>
                            <p>Conduct evaluation research on NSCC&rsquo;s programs and initiatives to analyze need, implementation, and effectiveness</p>
                    </li>

                    <li>
                            <p>Prepare materials for submission to the institutional review board</p>
                    </li>

                    <li>
                            <p>Identify funding opportunities for research and in writing of grant proposals</p>
                    </li>
            </ul>

            <p>2. Prepare and present NSCC&rsquo;s research findings for multiple audiences.</p>

            <ul>
                    <li>
                            <p>Analyze data and write up research findings for publication for NSCC clients, educators, school leaders, academic journals, and policymakers</p>
                    </li>

                    <li>
                            <p>Prepare research findings for publication, including editing, writing, and collaboration on design of reports and other materials</p>
                    </li>
                    <li>
                            <p>Prepare and deliver presentations on research findings for academic, education, and policy audiences, including at conferences and webinars</p>
                    </li>
                    <li>
                            <p>Publicize research findings and information about the Research Department&rsquo;s work through conventional and social media platforms</p>
                    </li>
            </ul>

            <p>3. Work together with NSCC staff and key organizational associates to promote NSSC&rsquo;s mission.</p>

            <ul>
                    <li>
                            <p>Reply to external requests for information about NSCC&rsquo;s research and to other research questions regarding school climate issues, including requests for applications to the institutional review board</p>
                    </li>
                    <li>
                            <p>Answer internal requests for research results and data of use to NSCC&rsquo;s other programming efforts</p>
                    </li>
                    <li>
                            <p>Provide technical assistance and maintain relationships and collaborate with clients, outside researchers, and partner organizations</p>
                    </li>
            </ul>

            <p><u><strong>Qualifications</strong></u>
            </p>

            <ul>
                    <li>
                            <p>Bachelor&rsquo;s degree in Psychology, Public Health, Education, or other Social Sciences, or related field and 4+ years of research-related work experience. Master&rsquo;s degree preferred</p>
                    </li>
                    <li>
                            <p>Professional experience with quantitative research and familiarity with qualitative research.</p>
                    </li>
                    <li>
                            <p>Prior experience with data cleaning and analysis</p>
                    </li>
                    <li>
                            <p>Working knowledge of SPSS or Stata required</p>
                    </li>
                    <li>
                            <p>Experience managing data driven projects</p>
                    </li>
                    <li>
                            <p>Experience supervising staff or interns</p>
                    </li>
                    <li>
                            <p>A strong understanding of current U.S. education trends, especially related to school climate, bully prevention, and discipline</p>
                    </li>
                    <li>
                            <p>High level proficiency with Microsoft Office, particularly Excel, Word, and Power Point</p>
                    </li>
                    <li>
                            <p>Organizational skills and ability to work</p>
                    </li>
                    <li>
                            <p>as part of a team</p>
                    </li>
                    <li>
                            <p>Strong familiarity with social media tools (e.g., twitter, Facebook)</p>
                    </li>
            </ul>

            <ul>
                    <li>
                            <p>Exceptional interpersonal skills and ability to collaborate effectively within a team and across departments</p>
                    </li>
                    <li>
                            <p>Comfortable working with a very high degree of autonomy and responsibility</p>
                    </li>
                    <li>
                            <p>Well-organized and thorough, with close attention to detail and follow-through</p>
                    </li>
                    <li>
                            <p>Strategic, creative, and progressive thinker</p>
                    </li>
            </ul>

            <h4><u>Equal Opportunity Employer</u></h4>
            <p>NSCC is an equal opportunity employer and committed to building a culturally diverse staff. All qualified candidates will receive equal consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, disability, marital or veteran status, or any other legally protected status.</p>
            <h4><u>How To Apply</u></h4>
            <p>Please send cover letter, resume, salary requirements and information about availability electronically. Please note your name and the job title in the subject line. No phone calls will be accepted.</p>
            <p>Contact Christian Villenas: cvillenas@schoolclimate.org</p>
            <p>National School Climate Center: Educating Minds and Hearts Because the Three Rs are Not Enough 341 West 38th Street, 9th floor, New York, NY 10018</p>
    </div>
</div> -->

			 				</div>
			 		</div>

				</div>
				<div class="col-sm-3" align="center">
					<script type="text/javascript">
					gnp_url = 'national-school-climate-center';gnp_num = '1';
					</script>
					<script src="https://greatnonprofits.org/js/api/badge_reviews.js" type="text/javascript"></script>
					<noscript> <a href="http://greatnonprofits.org/org/national-school-climate-center/?badge=1"> <img alt="Review National School Climate Center on Great Nonprofits" title="Review National School Climate Center on Great Nonprofits" src="//cdn.greatnonprofits.org/images/great-nonprofits.gif?id=1479088"> </a></noscript>

				</div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-31 END -->