title = "Founder"
url = "/about/founder"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<style>
    
    ul.special_bullet {
list-style: none;
}
ul.special_bullet li{
     position: relative;


}
ul.special_bullet li:before {

 position: absolute;
 left: -20px;
content: 	"\002713" 


}
    
    
</style>


<!-- bloc-21 -->
<div class="bloc b-parallax bg-iStock-000003906886Medium bgc-white l-bloc header-banner" id="bloc-21">
	<div class="container bloc-md">
		<div class="row" style="padding:50px;">
			<div class="col-sm-12 bg-gr-tx-wt" style="margin-bottom:0px;">
				<h1 class="mg-md text-center lg-shadow">
					Jonathan Cohen, Ph.D.
				</h1>
				<p class="text-center ">
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-21 END -->


<!-- bloc-23 -->
<div class="bloc b-parallax bloc-bg-texture d-bloc" id="bloc-23">
	<div class="container bloc">
		<div class="row">
			<div class="col-sm-12 " style = "padding:1%;">

				<div class="panel panel-president">
					<div class="panel-body panel-president-message">

						<div class="text-left" style ="padding:2%;">


						

							<p><span style="font-size: 125%;"><b>Jonathan Cohen,</b> </span>Ph.D. is an educator and a clinician. </p>
							<p>Dr. Cohen’s professional life – as a mental health clinician and an educator -- has been focused on what supports and hinders children’s ability to learn and develop in healthy ways. His professional life began as a middle school teacher learning and teaching with learning disabled students at the Marianne Frostig Center for Learning Disabilities in Los Angeles. </p>
							
							
														<div class="president-image">
								<img class="img-responsive img-circle center-block" src="{{'assets/includes/img/Jon - teacher-min.png'|theme }}" />
							
							</div>
							
							
							
							<p>In 1996, Jonathan Cohen, Ph.D. and George Igel, MD organized a conference at Teachers College, Columbia University. The meeting was focused on the range of ways that educators and parents can support the healthy development of all children and their ability to learn. This meeting was so rich and successful that Teachers College asked Dr. Cohen to set up a Center. This center grew into what is now the National School Climate Center (NSCC): Educating Minds and Hearts Because the Three Rs’s Are Not Enough (then called the Center for Social and Emotional Education). In late 1999, NSCC became a free standing not for profit.</p>
							<p>As president of NSCC (1999 to 2017), he  collaboratively developed  a series of innovative efforts in the following spheres:<br>
<i>Research & Development:</i>
</p>
<ul>
    
    <li>Initiating and overseeing the development of the Comprehensive School Climate Inventory: The only school climate survey that has been endorsed by the four current independent reviews of school climate surveys.</li>
    <li>Initiating and overseeing the development of a series of additional measurement tools and learning systems designed to support learning and school improvement: 
    
    
<ul class="special_bullet">

        <li> A School Climate Readiness tool; </li>
        <li>A School Climate Process Measurements; </li>
        <li>A Community Scale and youth-led <i>School Community Partnership Process.</i></li>
        <li>Qualities of a Sustainable and Independent Learner &mdash; An individual SEL informed measure designed to foster learning and student-teacher conversations and a student driven “learning plan” developed by Scott Bezsylko, headmaster of the Winston Preparatory Schools.</li>
    </ul>
    
    </li>
    <li>
        Initiating and overseeing the development on an on-line resource: the <i>School Climate Resource Center</i>.
    </li>
    <li>Initiating and overseeing the development of the <i>School Climate Leadership Certificate Program</i>. This program is being used by a growing number of individuals and two States (Minnesota and Pennsylvania).</li>
    <li>Synthesizing state of the science reviews about school climate research, policy and practice. </li>
    <li>Initiating and/or supporting a series of case and experimental studies of school climate improvement efforts.  </li>
   
</ul>
							<p><i>Policy:</i></p>
							
							
							<ul>
							    
							    <li>Co-leading the development of <i>National School Climate Standards</i> &emdash; a set of research based school improvement standards that have shaped U.S. district and state as well as foreign educational ministry policy reform.</li>
							    <li>Providing policy consultation and technical assistance to K-12 school districts, State Departments of Education, educational ministries around the world as well as UNICEF’s Child Friendly Schools program and the World Bank.  </li>
							    <li>Conducting U.S. and international policy studies to track trends and the alignment – or gaps – between current policy and what research suggests will be most helpful with regard to social, emotional and character education, school climate, and bully prevention. </li>
							</ul>
							<p><i>Practice:</i></p>
							
							<ul>
							    <li>Learning and working with schools, districts, U.S. States, foreign education ministries (Columbia, China, Israel, Libya, France, Morocco, Japan, Saudi Arabia, Singapore, Sweden, Switzerland, Peru).</li>
							    <li>Promoting partnerships and field building: Supporting practice leaders to learn and work with research and policy leaders.</li>
							    <li>Developing research based school improvement and bully prevention “road maps” and improvement systems.</li>
							    
							</ul>

																				<div > <br>
								<img class="img-responsive center-block" style="width:50%" src="{{'assets/includes/img/Jon with teachers.jpg'|theme }}" />
								<br><br>
							
							</div>
							
								<p>	
								    Under Jonathan’s leadership the National School Climate Center was recognized as a “Great Nonprofit” for four years: 2014 to 2017. <a target="_blank" href="http://greatnonprofits.org/org/national-school-climate-center?badge=1">http://greatnonprofits.org/org/national-school-climate-center?badge=1</a>.</p>
						

							<p>In partnership with Terry Pickeral and the Education Commission of the States, Dr. Cohen founded the <i>National School Climate Council</i> in 2007: A group of district, state and national researchers, policy and practice leaders devoted to narrowing the gap between school climate research on the one hand and school climate policy, practice and teachers education efforts on the other hand. The Council has been a national and international ‘thought leader’ in developing school climate standards and improvement guidelines. </p>
							
							<p>Today, Dr. Cohen is Adjunct Professor of Psychology and Education at Teachers College, Columbia University; and co-editor of the <i>International Journal on School Climate and Violence Prevention;</i> and, elected chair of the American Educational Research Association’s School Climate, <i>Culture and Community Special Interest Group</i>. He is a member of the Aspen Institute’s Distinguished Scientists who are supporting the National Commission on Social, Emotional and Academic Development (<a target="_blank" href="www.aspeninstitute.org/programs/national-commission-on-social-emotional-and-academic-development/">www.aspeninstitute.org/programs/national-commission-on-social-emotional-and-academic-development/</a>).  He is also a member of CHARACTER.ORG’s educational advisory board. </p>
							
							
							<p>Dr. Cohen also learns and works clinically with children, their families and adults as a practicing clinical psychologist and psychoanalyst. He is a Diplomat in Clinical Psychology, American Board of Professional Psychology. He supervises doctoral students in clinical psychology at Teachers College, Columbia University as well as the City University of New York.</p>
							
							<p>Dr. Cohen has written over than 100 scholarly publications, edited four books, and authored one, <i>Making Your School Safe: Strategies to Protect Children and Promote Learning</i>. The American Library Association has awarded the Best Academic Book of the Year two of his edited books: <i>Educating Minds and Hearts: Social Emotional Learning and the Passage into Adolescence and Caring Classrooms/Intelligent Schools: The Social Emotional Education of Young Children</i>. His papers have been published in leading educational and mental health journals including the <i>Harvard Educational Review, Review of Educational Research, Teachers College Record, Psychoanalytic Study of the Child, Educational Leadership, Inter-American Journal of Education for Democracy, Principal Leadership, International Journal on School Climate and Violence Prevention, </i>and <i>the Journal of Character Education</i>. He has lectured around the world to educators, parents, and mental health professionals.</p>
							
							<p><a target="_blank" href="https://www.schoolclimate.org/themes/schoolclimate/assets/pdf/cohen_onschoolclimate_iv1%20copy.pdf">Dr. Cohen’s  interview with the U.S. Department of Education’s Office of Safe and Drug Free Schools</a><br>
<a target="_blank" href="https://www.schoolclimate.org/themes/schoolclimate/assets/pdf/J.%20Cohen%20CV%20-%202018.pdf">Dr. Cohen’s CV </a>
</p>
<p>Jonathan Cohen, Ph.D.
<br>300 Central Park West
<br>New York, New York 10024
<br>(917) 885-9053
<br>jc273@tc.columbia.edu
</p>
              
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-23 END -->
<!-- bloc-13
<div class="bloc tc-white-2 bg-placeit bgc-white" id="bloc-13">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12 bg-gr-tx-wt">
                <h1 class="mg-md  text-center lg-shadow">
                    History
                </h1>
                <p class="text-center ">
                </p>
            </div>
        </div>
    </div>
</div>
bloc-13 END -->

<!-- bloc-24 -->