title = "About Us - National School Climate Center"
url = "/about/history/"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-13 -->
<div class="bloc tc-white-2 bg-placeit bgc-white header-banner" id="bloc-13">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h1 class="mg-md  text-center lg-shadow">
					Our History
				</h1>
				<p class="text-center ">
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-13 END -->



<!-- bloc-13 -->
<div class="bloc bgc-platinum l-bloc" id="bloc-13">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-3">
				<div class="text-center">
					<img class="img-responsive center-block" src="{{'assets/images/publications-icon-120x120.png'|theme}}" width="120" />
				</div>
				<p class="text-center">
					Assessed over 2,000 schools in 38 states
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<img class="img-responsive center-block" src="{{'assets/images/professional-development-icon-120x120.png'|theme}}" width="120" />
				</div>
				<p class="text-center">
					Impacted more than 1,000,000 students, parents, and staff
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<img class="img-responsive center-block" src="{{'assets/images/measuring-school-climate-icon-120x120.png'|theme}}" width="120" />
				</div>
				<p class="text-center">
					Empowered more than 10,000 educators
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<img class="img-responsive center-block" src="{{'assets/images/policy-icon-120x120.png'|theme}}" width="120" />
				</div>
				<p class="text-center">
					Transformed policy in more than 25 districts and 12 states
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-13 END -->



<!-- bloc-24 -->
<div class="bloc bgc-white l-bloc" id="bloc-24">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-6">
				<h3 class="mg-md">
					<b>History of NSCC</b>
				</h3>
				<p>
					<strong>The National School Climate Center (NSCC)</strong>
					was founded in 1996 at Teachers College, Columbia University. NSCC&rsquo;s (then called the Center for Social and Emotional Education) original mission was to support the development of leaders in the field of social and emotional education.
					<br>
					<br>
					In our first years at Columbia, we developed a series of annual national conference series, an annual summer institute and the Teachers College Press Social Emotional Learning Series. We also began consulting to schools and districts.
					<br>
					<br>
					In 1999, the Surdna Foundation supported NSCC engaging in a strategic planning process. This led to our leaving Teachers College to become a free standing “not for profit.” In the early 2000&rsquo;s we realized that we needed to develop and support the utilization of measurement systems to track prosocial learning (e.g. SEL, character education, 21st Century learning skills, mental health promotion efforts). We decided to focus on school climate surveys and measurement as an assessment strategy because it is an essential component to school life that was not prioritized at the time. Over the next five years, we worked to develop and refine a complete measure of school climate, later named the <i>Comprehensive School Climate Inventory</i>, which would validly and reliably measure student, parent/ guardian, and school personnel perceptions of the core dimensions connected to a positive school climate.
					<br>
					<br>
					The 2000&rsquo;s were a time of extraordinary growth for NSCC. We began to learn and work with State Departments of Education and foreign educational ministries, as well as schools, districts, and networks of schools across America.
					<br>
					<br>
					Over the last decade, NSCC has developed state of the ‘art and science&rsquo; information, guidelines and tools that further research, policy reform, measurement practices, school improvement efforts, and leadership development.
					<br>
					<br>
				</p>
			</div>
			<div class="col-sm-6">
				<img class="center-block mg-sm" src="{{'assets/includes/img/Screen%20Shot%202016-07-12%20at%202.51.07%20PM.png'|theme }}" height="300" />
				<p>
					Today, NSCC learns and works with educators by providing expertise to K-12 schools, districts, and states in the following areas: <br>
				</p>
					<ul>
					    <li>School Climate measurement</li>
					    <li>Professional Development</li>
					    <li>Comprehensive school climate improvement support</li>
					    <li>Leadership development </li>
					    <li>Policy consultation</li>
					</ul>
				<p>
					By supporting school leaders to mobilize students, parents/guardians, school personnel, and community members to strategically address the tasks, as well as challenges, that shape an effective school climate improvement process, NSCC is creating positive climates for learning that promote success in school and in life. With the support of a number of educational and mental health professionals, an extraordinary Board of Directors, and the National School Climate Council, we have grown into one of the nation&rsquo;s leading centers in school climate reform, as well as social, emotional, and civic education.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-24 END -->