title = "Measuring School Climate - National School Climate Center"
url = "/about/our-history/"
layout = "default"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-21 -->
<div class="bloc b-parallax bg-iStock-000003906886Medium bgc-white l-bloc header-banner" id="bloc-21">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
         <div class="col-sm-12 bg-gr-tx-wt lg-shadow">
				<h3 class="mg-md ">
					Interested in supporting NSCC&rsquo;s work?
				</h3>
				<p>
					Your donation supports our programs reducing bullying, lowering dropout rates,and improving academic achievement through a positive school climate. <br><br>
				</p>
			</div>
				<a href="/donation" class="btn btn-lg btn-bright-cerulean">Donate Today</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-21 END -->

<!-- bloc-22 -->
{#<div class="bloc bgc-white l-bloc" id="bloc-22">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-4">
				<img class="img-responsive  center-block" src="{{'assets/includes/img/scrc-icon.png'|theme }}" />
				<h3 class="mg-md text-center">
					Vision Statement
				</h3>
				<p>
					The National School Climate Center&rsquo;s vision is that all children will develop the essential social, emotional and intellectual skills to become healthy and productive citizens.
				</p>
			</div>
			<div class="col-sm-4">
				<img class="img-responsive  center-block" src="{{'assets/includes/img/sign-up-icon.png'|theme }}" />
				<h3 class="mg-md text-center">
					Mission Statement
				</h3>
				<p>
					NSCC&rsquo;s mission is to measure and improve the climate for learning in schools to help children realize their fullest potential as individuals and as engaged members of society.
				</p>
			</div>
			<div class="col-sm-4">
				<img class="img-responsive center-block" src="{{'assets/includes/img/safe-supportive-schools-icon.png'|theme }}" />
				<h3 class="mg-md ">
					NSCC achieves this through:
				</h3>
				<p>
					- Advocacy and policy <br>- Measurement and research <br>- Educational services
				</p>
			</div>
		</div>
	</div>
</div>#}
<!-- bloc-22 END -->

<!-- bloc-23 -->
<div class="bloc b-parallax bloc-bg-texture d-bloc" id="bloc-23">
	<div class="container bloc">
		<div class="row">
			<div class="col-sm-12">

				<div class="panel panel-president">
					<div class="panel-body panel-president-message">

						<div class="text-left">
							<div class="president-image">
								<img class="img-responsive img-circle center-block" src="{{'assets/includes/img/staffThumb-jc.jpg'|theme }}" />
							</div>

							<h2 class="mg-md" style="color:white" align="center">
								<b>A Message from our President</b>
							</h2>

							<p>Welcome to the National School Climate Center (NSCC).</p>
							<p>When you&mdash;as parent, educator, mental health professional and/or mentor&mdash;think about your children, what do you want most for them? Certainly, you want them to be safe. Safe from physical harm. Safe from harassment, bullying, from any form of violence. And, you want them to feel safe emotionally, safe to show what they are feeling and thinking. Fundamentally, we want our children to fulfill their true potential; to be good friends and mates to the people they care about; to be responsible and active learners. We know that, if these hopes are met, they will experience the satisfaction that comes from becoming involved, productive members of the larger community.</p>
							<p>Here, at the National School Climate Center (NSCC), it is our mission to further these goals. We seek to educate and support parents and teachers in how they can create a truly safe environment and teach children the skills and knowledge they need to become successful in school and in life. Recently, a number of major research studies have underscored the critical importance of this work and their findings provide a foundation for both risk prevention programs and health promotion efforts. In our work with educators, parents, after-school workers and mental health professionals we continue to focus on:</p>
							<p>- Promoting children's social, emotional, civic, and academic skills and dispositions.<br /> - Creating safe, caring, participatory and responsive schools and homes.</p>
							<p>At NSCC, we strive to recognize, honor, and build on what educators and parents are already doing along these lines. Just as there is no one "best way" to teach children to read books, there is no one "best way" to teach children to &ldquo;read&rdquo; themselves and others. From our inception, we have sought to identify principles of effective efforts and to translate them for teachers, counselors, school leaders, after-school workers and parents: what to do, when to do it and how to do it.</p>

							<div class="radius-logo">
								<img class="img-responsive img-circle center-block" src="{{'assets/includes/img/nscc-logo.png'|theme }}" width="100%" />
							</div>

							<p>We hope that this web site supports your teaching, learning and/or parenting. Please do let us know what additional resources and guidelines you believe will help us to raise healthy children.</p>

               <img class="img-responsive" src="{{'assets/includes/img/signature.gif'|theme }}" width="13%">

							<strong>Jonathan Cohen, Ph.D.</strong> <br>President, National School Climate Center; <br>Adjunct Professor in Psychology and Education, Teachers College, Columbia University.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-23 END -->
<!-- bloc-13
<div class="bloc tc-white-2 bg-placeit bgc-white" id="bloc-13">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12 bg-gr-tx-wt">
                <h1 class="mg-md  text-center lg-shadow">
                    History
                </h1>
                <p class="text-center ">
                </p>
            </div>
        </div>
    </div>
</div>
bloc-13 END -->

<!-- bloc-24 -->
<div class="bloc bgc-white l-bloc" id="bloc-24">
	<div class="container bloc-md">
		<div class="row">
			<h1 style="text-align:center; margin-bottom:20px; font-weight:bold;">Our History</h1>
			<div class="col-sm-6">
				<p>
					<strong>The National School Climate Center (NSCC)</strong> was founded in 1996 at Teachers College, Columbia University. NSCC&rsquo;s (then called the Center for Social and Emotional Education) original mission was to support the development of leaders in the field of social and emotional education. <br> <br>In our first years at Columbia, we developed a series of annual national conference series, an annual summer institute and the Teachers College Press Social Emotional Learning Series. We also began consulting to schools and districts. <br> <br>In 1999, the Surdna Foundation supported NSCC engaging in a strategic planning process. This led to our leaving Teachers College to become a free standing “not for profit.”In the early 2000&rsquo;s we realized that we needed to develop and support the utilization of measurement systems to track prosocial learning (e.g. SEL, character education, 21st Century learning skills, mental health promotion efforts). e decided to focus on school climate surveys and measurement as an assessment strategy, because it is an essential component to school life that was not prioritized at the time. Over the next five years, we worked to develop and refine a complete measure of school climate, later named the Comprehensive School Climate Inventory, which would validly and reliable measure student, parent/ guardian, and school personnel perceptions of the core dimensions connected to a positive school climate. <br> <br>The 2000&rsquo;s were a time of extraordinary growth for NSCC. We began to learn and work with State Departments of Education and foreign educational ministries as well as schools, districts and networks of schools across America. <br> <br>Over the last decade, NSCC has developed state of the ‘art and science&rsquo; information, guidelines and tools that further research, policy reform, measurement practices, school improvement efforts and leadership development. <br><br>
				</p>
			</div>
			<div class="col-sm-6">
				<img class="center-block mg-sm" src="{{'assets/includes/img/Screen%20Shot%202016-07-12%20at%202.51.07%20PM.png'|theme }}" height="300" />
				<p>
					Today, NSCC learns and works with educators, providing expertise to K-12 schools, districts, and states in the following areas: <br> <br>School Climate measurement <br>Professional Development <br>Comprehensive school climate improvement support <br>Leadership development <br>Policy consultation <br> <br>In supporting school leaders to mobilize students, parents/guardians, school personnel, and community members to strategically address and master the tasks and challenges that shape an effective school climate improvement process, NSCC is creating positive climates for learning that promote success in school and in life. With the support of a number of educational and mental health professionals, as well as an extraordinary Board of Trustees and the National School Climate Council we have grown into one the nation&rsquo;s leading centers in school climate reform and social, emotional and civic education.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-24 END -->