title = "Our Approach - National School Climate Center"
url = "/about/our-approach/:pagetitle?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-26 -->
<div class="bloc bg-classroom-1024x384 tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<div class="bg-gr-tx-wt col-sm-12 lg-shadow">
					<h3 class="mg-md text-center lg-shadow">
						Our Approach
					</h3>
					<p>
					</p>
			  </div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-26 END -->


<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">

          <nav class="nav-sidebar">
      		<ul class="nav-tab-2 nav tabs" id="MainMenu">
								<!-- <li class="active"><a href="#tab1" data-toggle="tab">School Climate Improvment Process </a></li> -->
								<li class="active shared-leadership-across-contexts" href="tab1"><a href="/about/our-approach" data-toggle="tab">Shared Leadership Across Contexts</a></li>
                <li class="FAQMenu what-is-school-climate" href="tab2"><a href="/about/our-approach/what-is-school-climate" data-toggle="tab">What is School Climate? </a></li>
	            	<li class="why-is-school-climate-important" href="tab6"><a href="/about/our-approach/why-is-school-climate-important" data-toggle="tab">Why is School Climate Important?</a></li>
								<li class="how-is-school-climate-measured" href="tab7"><a href="/about/our-approach/how-is-school-climate-measured" data-toggle="tab">How is School Climate Measured?</a></li>

								<!-- <ul class="nav-tab-2 nav tabs" id="FAQSubMenu" style="margin-left:30px !important;">
										<li class=""><a href="#tab2" data-toggle="tab">What is School Climate?</a></li>
										<li class=""><a href="#tab3" data-toggle="tab">Why is school climate important?</a></li>
										<li class=""><a href="#tab4" data-toggle="tab">What are the essential dimensions of school climate?</a></li>
										<li class=""><a href="#tab5" data-toggle="tab">What are the essential dimensions of school climate?</a></li>
										<li class=""><a href="#tab6" data-toggle="tab">Why is School Climate Important?</a></li>
										<li class=""><a href="#tab7" data-toggle="tab">How is School Climate Measured?</a></li>
								</ul> -->

								<li class="FAQProcess guidelines" href="tab8"><a href="/about/our-approach/guidelines" data-toggle="tab">Guidelines</a></li>
								<!-- <ul class="nav-tab-2 nav tabs" id="FAQProcessSubMenu" style="margin-left:30px !important;">
									<li class=""><a href="#tab8" data-toggle="tab">What is an effective school climate improvement process?</a></li>
									<li class=""><a href="#tab9" data-toggle="tab">How can I learn about ‘Road Maps’ that support an effective school climate improvement process?</a></li>
									<li class=""><a href="#tab10" data-toggle="tab">How can school leaders realistically focus on all of the elements that make up an effective school climate improvement process?</a></li>
								</ul> -->
      		</ul>
      	</nav>
      </div>
      <!-- tab content -->
      <div class="tab-content tab-content-1 col-sm-9">

        <div class="tab-pane active" id="tab1">
            <h2 style="text-align:center;"><b>Shared Leadership Across Contexts</b></h2>
						<p>
						Our approach grows out of NSCC’s experience in working with schools, districts, school networks, state departments of education, as well as research findings. <b> NSCC’s school climate improvement process is a data-informed, people-driven, and a cyclical five-stage process.</b>  The five stages are: preparation, evaluation, understanding findings and action planning, implementing plans, and re-evaluation for continuous improvement efforts.  The process supports shared leadership that encompasses the entire district, including the school building, classroom, individual students, and the broader community:

						</p>

		        <div class="col-sm-12">
							<div class="col-sm-5 pull-right">
								<img style="padding:0% 5%; float:right;" class="img-responsive"  src="{{'assets/includes/img/our_approach_right_img.png'|theme }}" width="100%">
							</div>
							<div class="col-sm-7" style="padding:0px;">
		           <ul style="list-style-type:square;">
		               <li style=""><b style="color:#f6cc16;">District:</b> Supports the development of school climate-informed policies that will engender stronger relationships within the school that both prevent issues and help adults respond more effectively when issues do arise. <br><br></li>
		               <li style=""><b style="color:#ea1d26;">School Building:</b> Builds the skills, knowledge, and capacity of school leadership to effectively address areas for improvement, develop more positive school climate, and implement “bottom-up” as well as “top-down” strategies; teaches schools to use robust assessments- including student, parent/ guardian, and staff school climate perception data to define their strengths and challenges, drive key decisions for improvement, and create targeted plans to address areas of need<br><br></li>
		               <li style=""><b style="color:#6ebf4b;">Classroom:</b>  Provides a variety of pedagogic strategies to create a classroom climate for learning and positive youth development; teaches restorative classroom discipline strategies that support classroom management and promote core social, emotional and civic learning; provides opportunities for teachers and administrators to reflect on how they support and institutionalize respect and an appreciation for diversity; provides planning and implementation supports for curricula that fosters academic, social, ethical, and civic learning outcomes<br><br> </li>
		               <li style=""><b style="color:#484674;">Student:</b> Supports youth to become meaningful leaders in the school climate improvement process; builds an authentic sense of ownership for their efforts to create a stronger school climate; creates opportunities to strengthen community bonds through youth-led engagement efforts; and strengthens youth and adult partnerships<br><br> </li>
		               <li style=""><b style="color:#69cce0;">Community:</b> Strengthen school-family and school-community partnerships  and builds a virtual community, and sharing best practices through the  <a href="../resource-center">School Climate Resource Center</a> </li>
		           </ul>
						 </div>
		    		</div>
        </div>

	      <!-- {#    <div class="tab-pane active text-style" id="tab1">#}
	      {#      <h2 style="text-align:center;"><b>School Climate Improvment Process</b></h2>#}

							{#<p>School climate improvement is continuous process of intentionally, strategically, collaboratively supporting the whole school community learning and working together in a data-driven, transparent and democratically informed continuous manner. It is a process of (i) preparing for the next phase of school improvement; (ii) evaluating current strengths, needs and weaknesses (systemically, instructionally and relationally); (iii) understanding evaluation findings and creating a data-driven action plan; (iv) implementing the action plan; and, (v) learning about successes, challenges and failures and beginning the process anew.</p>#}
							{#<p><span>Based on research and best practices, <strong>NSCC</strong> suggests that there are a series of specific tasks and challenges that shape an effective process of preparation, evaluation, action planning, implementation and beginning anew (Click here to see the&nbsp;</span><span>key guiding principles for implementing each stage effectively). Over time, we expect school improvement research as well as growing Network Improvement Communities to shed further light on these tasks and the improvement process.</span></p>#}
							{#<h4><b>The School Climate Improvement Process is designed to support schools achieving the following five goals:</b></h4>#}
							{#<ol>#}
							{#	<li><span>The school community has a shared vision and plan for promoting, enhancing and sustaining a positive school climate.</span></li>#}
							{#	<li><span>The school community sets policies specifically promoting (a) the development and sustainability of social, emotional, ethical, civic and intellectual skills, knowledge, dispositions and engagement, and (b) a comprehensive system to address barriers to learning and teaching and reengage students who have become disengaged.</span></li>#}
							{#	<li><span>The school community's practices are identified, supported and prioritized to (a) promote the learning and positive social, emotional, ethical and civic development of students, (b) enhance engagement in teaching, learning, and school-wide activities; (c) address barriers to learning and teaching and reengage those who have become disengaged; and (d) develop and sustain an appropriate operational infrastructure and capacity building mechanisms for meeting this standard.</span></li>#}
							{#	<li><span>The school community creates an environment where all members are welcomed, supported, and feel safe in school: socially, emotionally, intellectually and physically.</span></li>#}
							{#	<li><span>The school community develops meaningful and engaging practices, activities and norms that promote social and civic responsibilities and a commitment to social justice.</span></li>#}
							{#</ol>#}
							{#<p align="center"><img class="img-responsive" src="http://stagingcms.schoolclimate.org/themes/schoolclimate/assets/includes/img/roadmap_content_left_img.png" width="446"></p>#}


	      {#    </div>#} -->


					<div class="tab-pane text-style" id="tab2">
						<h2 style="text-align:center;"><b>What is School Climate?</b></h2>
						<p>
								NSCC defines school climate as the quality and character of school life. School climate is based on patterns of students', parents' and school personnel's experience of school life; it also reflects norms, goals, values, interpersonal relationships, teaching and learning practices, and organizational structures. <br> <br>
								A sustainable, positive school climate fosters youth development and learning necessary for a productive, contributory, and satisfying life in a democratic society.  <br><br>
								A positive school climate includes: <br>
								<!-- {#<img  style="float:right; padding:5%;" class="img-responsive"  src="http://new.schoolclimate.org/storage/app/media/images/Grad_girl.jpg" width="45%">#} -->
								<div >
									<ul>
									    <li>Norms, values, and expectations that support people feeling socially, emotionally and physically safe</li>
									    <li>People are engaged and respected</li>
									    <img  style="float:right; padding:0% 5%;" class="img-responsive"  src="{{'assets/includes/img/Grad_girl.jpg'|theme }}" width="45%">
									    <li>Students, families, and educators work together to develop and contribute to a shared school vision</li>
									    <li>Educators model and nurture attitudes that emphasize the benefits and satisfaction gained from learning</li>
									    <li>Each person contributes to the operations of the school and the care of the physical environment</li>
									</ul>
								</div>

								<span style="float: right; color: #A3A3A3;">-National School Climate Council, 2007</span>
						</p>
					</div>

					<!-- <div class="tab-pane text-style" id="tab2">
					    <h2 style="text-align:center;"><b>What is school climate?</b></h2>
					    <p><span>School climate refers to the quality and character of school life. It speaks to norms and values, social interactions, and organizational structures, as experienced by students, school personnel and parents/families within the school community.</span></p>
					</div> -->

					<div class="tab-pane text-style" id="tab3">
						<h2 style="text-align:center;"><b>Why is School Climate Important? </b></h2>
						<p><span>Research outlines six major categories or constructs of school climate: Safety, Teaching and Learning, Interpersonal Relationships, Institutional Environment, Social Media, and Staff Only. Under these categories are </span><b>13 dimensions</b><span> shaping perception of school climate: Rules and Norms, Sense of Physical Security, Sense of Social-Emotional Security, Support for Learning, Social and Civic Learning, Respect for Diversity, Social Support Adults, Social Support Students, School Connectedness/Engagement, Physical Surroundings, Social Media, Leadership (staff only), and Professional Relationships (staff only)</span></p>
					</div>

					<div class="tab-pane text-style" id="tab4">
						<h2 style="text-align:center;"><b>What are the essential dimensions of school climate?</b></h2>
						<p><span>Research outlines six major categories or constructs of school climate: Safety, Teaching and Learning, Interpersonal Relationships, Institutional Environment, Social Media, and Staff Only. Under these categories are </span><b>13 dimensions</b><span> shaping perception of school climate: Rules and Norms, Sense of Physical Security, Sense Social-Emotional Security, Support for Learning, Social and Civic Learning, Respect for Diversity, Social Support Adults, Social Support Students, School Connectedness/Engagement, Physical Surroundings, Social Media, Leadership (staff only), and Professional Relationships (staff only)</span></p>
					</div>

					<div class="tab-pane text-style" id="tab5">
						<h2 style="text-align:center;"><b>What are the essential dimensions of school climate?</b></h2>

						<p><span>There is not a national or international consensus about the essential dimensions of school climate that need to be focused on and measured. &nbsp;</span></p>
						<p>&nbsp;</p>
						<p><span><strong>NSCC</strong> and the U.S. Department of Education's Safe and Supportive Learning Technical Assistance Center have overlapping but some different recommendations about what are the essential and measurable aspects of school climate.</span></p>
						<p><strong>NSCC</strong> suggests that the following five spheres are essential:</p>
						<ol>
							<li><span>Safety (rules &amp; norms; physical and social/emotional safety, and social media)</span></li>
							<li><span>Teaching and Learning (support for learning; prosocial instruction)</span></li>
							<li><span>Interpersonal Relationships (respect for diversity; social support/adults; social support/students)</span></li>
							<li><span>Institutional environment (school connectedness and engagement; physical environment)</span></li>
							<li><span>Staff only (Leadership; Professional Relationships)</span></li>
						</ol>
						<p>The U.S. Department of Education's Safe and Supportive Learning Technical Assistance Center suggest that the following three dimensions are essential:</p>
						<ol>
							<li><span>Engagement (relationships; respect for diversity; school participation)</span></li>
							<li><span>Safety (emotional &amp; physical safety as well as substance use)</span></li>
							<li><span>Environment (physical, academic, wellness, disciplinary environment)</span></li>
						</ol>
						<p></p>
					</div>

					<div class="tab-pane text-style" id="tab6">
						<h2 style="text-align:center;"><b>Why is School Climate Important?</b></h2>
						<p><span>Research findings have contributed to a growing number of federal, state, and local educational agencies endorsing and supporting school climate policies and improvement practices.<br>
						<br>
						There are many reasons why school climate and an effective school climate improvement process are important. School climate can serve as a protective factor that supports positive life outcomes for young people (Ortega, Sanchez, Ortega Rivera, & Viejo, 2011).<br>
						<br>
						<b>Positive results of strong school climate improvement work can be grouped into four “buckets”:</b><br></span></p>
						<ol>
							<li>
								<span><b>SAFETY</b></span>
								<ul style="list-style-type:disc">
									<li><span>Dramatic decrease in risky behaviors (Catalano, Haggerty, Oesterie, Fleming, & Hawkins, 2004)</span></li>
									<li><span>Lower rates of student suspensions and discipline issues in general (Lee, T., Cornell, D., Gregory, A., & Fan, X. 2011)</span></li>
									<li><span>Physical, social, and emotional benefits (Devine & Cohen, 2007)</span></li>
								</ul>

							</li>
							<img  style="float:right; padding:0% 5%;" class="img-responsive"  src="{{'assets/includes/img/Grad_boy.jpg'|theme }}" width="45%">
							<li>
								<span><b>TEACHING/LEARNING</b></span>
								<ul style="list-style-type:disc">
									<li><span>The effect of positive school climate not only contributes to improved academic outcomes among diverse groups of students (Astor, Benbenisty, & Estrada, 2009; Haahr, Nielsen, Hansen, & Jakobsen, 2005; OECD, 2009), but its effect seems to persist for years (Kerr, Ireland, Lopes, Craig, & Cleaver, 2004)</span></li>
									<li><span>Higher graduation rates (L. Ma, Phelps, Lerner, & Lerner, 2009)</span></li>
									<li><span>Powerful correlation between improved school climate and increased motivation to learn (K. B., & Pachan, M. 2008)</span></li>
									<li><span>Positive school climate is correlated with decreased student absenteeism in middle school and high school and lower rates of student suspension in high school (T. Lee, Cornell, Gregory, & Fan, 2011; Gottfredson & Gottfredson, 1989; Rumberger, 1987; deJung & Duckworth, 1986; Sommer, 1985; Purkey & Smith, 1983; Reid, 1982; Wu, Pink, Crain, & Moles, 1982)</span></li>
								</ul>
							</li>
							<li>
								<span><b>INSTITUTIONAL ENVIRONMENT</b></span>
								<ul style="list-style-type:disc">
									<li><span>School connectedness is a powerful predictor of and is associated with adolescent health and academic outcomes (Whitlock, 2006)</span></li>
									<li><span>Improved staff morale (Vezzuto, 2011)</span></li>
								</ul>
							</li>
							<li>
								<span><b>INTERPERSONAL RELATIONSHIPS</b></span>
								<ul style="list-style-type:disc">
									<li><span>In schools where students perceive a better structured-school, fair discipline practices, and more positive student-teacher relationships, the “probability and frequency of subsequent behavioral problems” is lower (M. C. Wang, Selman, Dishion, & Stormshak, 2010)</span></li>
									<li style="list-style: none"><span></span></li>
									<li><span>Safe, caring, participatory, and responsive school climate fosters greater attachment to school and provides the optimal foundation for social, emotional, and academic learning (Blum, McNeely, & Rinehart, 2002; Osterman, 2000)</span></li>
									<li style="list-style: none"><span></span></li>
								</ul>
							</li>
						</ol>
					</div>

						<!--<div class="tab-pane text-style" id="tab6">
						    <h2 style="text-align:center;"><b>Why is school climate important?</b></h2>
						    <p><span>There are many reasons why school climate and an effective school climate improvement process are profoundly important.</span></p>
						    <p>School climate recognizes the prosocial (e.g. SEL, character education, mental health promotion related) aspects of learning, teaching and school life. In fact, teachers and parents are always "teaching" prosocial lessons: helpfully, intentionally or not! And, we know that prosocial as well as traditional 'cognitive' or academic learning provides the foundation for school and life success!</p>
						    <p>School climate improvement efforts are also important it promotes:</p>
						    <ul>
						        <li><span>Engagement: the foundation for learning and school improvement.</span></li>
						        <li><span>Students, parents/guardians, school personnel and community members learning and working together.</span></li>
						        <li><span>A data driven social, emotional, civic and cognitive improvement strategy.</span></li>
						        <li><span>An effective bully/victim/bystander and high school drop out prevention strategy.</span></li>
						    </ul>
						    <p>School climate improvement efforts support:</p>
						    <ul>
						        <li><span>Safer schools</span></li>
						        <li><span>Healthy relationships</span></li>
						        <li><span>Greater respect for diversity</span></li>
						        <li><span>Enhanced school participation</span></li>
						        <li><span>More positive disciplinary practice</span></li>
						        <li><span>Lower dropout rates</span></li>
						        <li><span>Improved academic achievement</span></li>
						        <li><span>Higher teacher retention rates</span></li>
						        <li><span>Caring, socially responsible behavior</span></li>
						        <li><span>Findings from Implementation Science</span></li>
						    </ul>
						    <p>In fact, these research findings have contributed to a growing number of federal, state and local educational agencies endorsing and/or supporting school climate policies and improvement practices:</p>
						    <ul>
						        <li><i><span>Federal Agencies</span></i><span>: U.S. Departments of Education and Justice; Centers for Disease Control and Protection, SAMHSA, and Institute for Educational Sciences &nbsp;&nbsp;</span></li>
						        <li><i><span>State Departments of Education</span></i><span>: California, Connecticut, Georgia, Minnesota, New Jersey, Pennsylvania, Texas, Washington and more</span></li>
						    </ul>
						</div> -->

					<div class="tab-pane text-style" id="tab7">
							<h2 style="text-align:center;"><b>How is School Climate Measured?</b></h2>
							<p><span>Research outlines six major categories or constructs of school climate:</span></p>
							<ul>
								<li><span>Safety</span></li>
								<li><span>Teaching and Learning</span></li>
								<li><span>Interpersonal Relationships</span></li>
								<li><span>Institutional Environment</span></li>
								<li><span>Social Media</span></li>
								<li><span>Staff only(Leadership and Professional Relationships)</span></li>
							</ul><span>Under these categories are <b><a href="{{'assets/pdf/measuring-school-climate-csci/CSCIDimensionChart-2017.pdf'|theme}}" target="_blank">13 dimensions</a></b> that contribute to the school community’s overall perception of school climate: Rules and Norms, Sense of Physical Security, Sense of Social-Emotional Security, Support for Learning, Social and Civic Learning, Respect for Diversity, Social Support- Adults, Social Support- Students, School Connectedness/Engagement, Physical Surroundings, Social Media, Leadership (staff only), and Professional Relationships (staff only).<br>
							<br>
							NSCC's assessment tool, the <a href="/services/measuring-school-climate-csci"><b><i>Comprehensive School Climate Inventory</i> (CSCI)</b></a>, is a valid and reliable evaluation tool developed in 2002 to measure how critical groups of students, school personnel, and parents/families perceive the school's climate for learning. The CSCI provides a detailed profile of strengths and areas of challenge to develop clear and measurable strategies for action. Learn more about the CSCI features and benefits</span> <a href="/services/measuring-school-climate-csci">here</a>.
							<p></p>
					</div>

					<div class="tab-pane text-style" id="tab8">
							<h2 style="text-align:center;"><b>Guidelines</b></h2>
							<p><span>In this section, you will find a range of information, guidelines, and tools to support your school community in promoting, as well as sustaining a positive school climate across four interrelated categories:</span></p>
							<ul>
								<li><span>Safety</span></li>
								<li><span>Teaching and Learning</span></li>
								<li><span>Institutional Environment</span></li>
								<li><span>Interpersonal Relationships</span></li>
							</ul><span>Although this section is geared towards educators, it is also relevant to families and community leaders.<br>
							<br>
							Coming Soon.</span>
							<p></p>
					</div>

					<!--
					      <div class="tab-pane text-style" id="tab8">
					          <h2 style="text-align:center;"><b>What is an effective school climate improvement process?</b></h2>
					          <p><span>School climate improvement is continuous process of intentionally, strategically, collaboratively supporting the whole school community learning and working together in a data-driven, transparent and democratically informed continuous manner. And, it is a process of (i) preparing for the next phase of school improvement; (ii) evaluating current strengths, needs and weaknesses (systemically, instructionally and relationally); (iii) understanding evaluation findings and creating a data-driven action plan; (iv) implementing the action plan; and, (v) learning about successes, challenges and failures and beginning the process anew.</span></p>
					          <p><span>Based on research and best practices, <strong>NSCC</strong> suggests that there are a series of specific tasks and challenges that shape an effective process of preparation, evaluation, action planning, implementation and beginning anew (Click here to see the&nbsp;</span><span>key guiding principles for implementing each stage effectively). Over time, we expect school improvement research as well as growing Network Improvement Communities to shed further light on these tasks and the improvement process.</span></p>
					          <p><span>The U.S. Department of Education's Safe and Supportive Learning Technical Assistance Center has not defined or described an effective school climate improvement process.</span></p>
					          <h4><b>The School Climate Improvement Process is designed to support schools achieving the following five goals:</b></h4>
					          <ol>
					              <li><span>The school community has a shared vision and plan for promoting, enhancing and sustaining a positive school climate.</span></li>
					              <li><span>The school community sets policies specifically promoting (a) the development and sustainability of social, emotional, ethical, civic and intellectual skills, knowledge, dispositions and engagement, and (b) a comprehensive system to address barriers to learning and teaching and reengage students who have become disengaged.</span></li>
					              <li><span>The school community's practices are identified, supported and prioritized to (a) promote the learning and positive social, emotional, ethical and civic development of students, (b) enhance engagement in teaching, learning, and school-wide activities; (c) address barriers to learning and teaching and reengage those who have become disengaged; and (d) develop and sustain an appropriate operational infrastructure and capacity building mechanisms for meeting this standard.</span></li>
					              <li><span>The school community creates an environment where all members are welcomed, supported, and feel safe in school: socially, emotionally, intellectually and physically.</span></li>
					              <li><span>The school community develops meaningful and engaging practices, activities and norms that promote social and civic responsibilities and a commitment to social justice.</span></li>
					          </ol>
					      </div>
					 -->

					 <div class="tab-pane text-style" id="tab9">
						 	<h2 style="text-align:center;"><b>How can I learn about ‘Road Maps’ that support an effective school climate improvement process?</b></h2>
						 	<p><span>Currently, there are three 'road maps' that support an prosocial school improvement efforts:</span></p>
						 	<ul>
						 		<li><strong>NSCC's</strong> <i><span>The School Climate Implementation Road Map: Promoting Democratically Informed School Communities and the Continuous Process of School Climate Improvement</span></i></li>
						 	</ul>
						 	<p><span>This Road Map synthesizes research and best practices from a number of fields (school reform in general and SEL, character education, community schools, risk prevention and health/mental health promotion) about the essential tasks/challenges that characterize an effective &nbsp;and collaborative process of planning, evaluation, understanding the findings and developing an action plan, implementing the action plan and beginning anew in the continuous process of learning and school improvement.</span></p>
						 	<p><span>To learn about the specific tasks and challenges that shape our current understandings, see here: http://www.schoolclimate.org/climate/stages_tasks_challenges.php</span></p>
						 	<ul>
						 		<li><i></i><span>CASEL's</span> <i><span>SEL School Improvement Model (which we believe is current under revision)</span></i></li>
						 		<li><i></i><span>character.org's</span></li>
						 	</ul>
					 </div>

					<div class="tab-pane text-style" id="tab10">
						<h2 style="text-align:center;"><b>How can school leaders realistically focus on all of the elements that make up an effective school climate improvement process?</b></h2>
						<p><span>Every school &ndash; like every person &ndash; presents with a unique history and set of strengths, needs and goals. As noted above, an effective school climate improvement process is strategic as well as being intentional, fundamentally collaborative, data driven, transparent and democratically informed. School leaders do need to strategically focus on what they believe are the most important tasks to focus on in each of the improvement stages.</span></p>
						<p><span>One of the reasons why <strong>NSCC</strong> developed "end of stage" or process measures was to support Principals and members of their leadership teams recording what they did and did not do during each of these tasks as well as rating how well they did it. We expect that when a given school begins the improvement process again, these records will help the Principal (or a new leader if there has been turnover) to consider what is most important to focus on now.</span></p>
					</div>

        </div>
      </div>
		</div>
	</div>
</div>


<!-- bloc-29 -->
<div class="bloc tc-platinum b-parallax bgc-lapis-lazuli-2 bloc-bg-texture texture-paper" id="bloc-29">
	<div class="container bloc-md">
		<div class="row bg-gr-tx-wt">
			<div class="col-xs-12 col-md-12">
				<h3 class="statement-bloc-text tc-platinum">
					<strong >"The National School Climate Center offers a comprehensive approach, which can help schools positively address their culture and climate. The sequence of actions that schools can take is well thought out and describes a pathway for improvement that can be easily followed. I highly recommend the National School Climate Center to schools interested in improving their educational and social-emotional environment." </strong>
				</h3>
				<p class="text-center">
					<strong>-Bill Trusheim, Ed.D., Director of the Resource Center at the Academy for Social-Emotional Learning in Schools and a retired superintendent </strong>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-29 END -->


{% put scripts %}
<script>
 $(function(){

/*
	 $('#MainMenu li').not("#FAQSubMenu li").click(function(){
 	 		$("#FAQSubMenu li").removeClass('active');
			$('.tab-pane').hide();

			var activeTab = $(this).children('a').attr('href');
			$(activeTab).show();

			divScrollTop(activeTab);
	 });

	 $('#MainMenu li').not("#FAQProcessSubMenu li").click(function(){
				$("#FAQProcessSubMenu li").removeClass('active');
			$('.tab-pane').hide();
			var activeTab = $(this).children('a').attr('href');
			$(activeTab).show();

			divScrollTop(activeTab);
	 });

	 $("#FAQSubMenu li").click(function(){
		 	$('#MainMenu li').not("#FAQSubMenu li").removeClass('active');
			$('.FAQMenu').addClass('active');
			$('.tab-pane').hide();
			var activeTab = $(this).children('a').attr('href');
			$(activeTab).show();

			divScrollTop(activeTab);
	 });

	 $("#FAQProcessSubMenu li").click(function(){
			$('#MainMenu li').not("#FAQProcessSubMenu li").removeClass('active');
			$('.FAQProcess').addClass('active');
			$('.tab-pane').hide();
			var activeTab = $(this).children('a').attr('href');
			$(activeTab).show();

			divScrollTop(activeTab);
	 });
*/

		var url = window.location.href;
		url = url.replace(/^.*\/\/[^\/]+/, '');
		$('#MainMenu li').removeClass('active');
		$('.tab-pane').hide();

		$('#MainMenu li').each( function(k, v){
			if($(this).find('a').attr("href") == url){
					 tab = $(this).attr('href');
					 $(this).addClass("active");
					 $('#'+ tab).show();
			}
		});


	 $('#MainMenu li').click(function(){
 			$('.tab-pane').hide();
			$('#MainMenu li').removeClass('active');
			// var activeTab = $(this).children('a').attr('href');
      var activeUrl = $(this).children('a').attr('href');
      var activeTab = '#'+$(this).attr('href');
			$(this).addClass('active');

      window.history.pushState("object or string", "Title", activeUrl);

			$(activeTab).show();
      divScrollTop(activeTab);
	 });
 });

 function showTabContent(activeTab)
 {
    $('.tab-pane').hide();
    $(activeTab).show();
 }




</script>
{% endput %}
