title = "Our Model - National School Climate Center"
url = "/about/our-model-old"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-26 -->
<div class="bloc bg-classroom-1024x384 tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<div class="bg-gr-tx-wt col-sm-12 lg-shadow">
					<h3 class="mg-md text-center lg-shadow">
						Our Model
					</h3>
					<p>
					</p>
			  </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-26 END -->

<!-- bloc-27 -->
<div class="bloc bgc-white l-bloc" id="bloc-27">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<center><h2 class="mg-md scroll-to">
					<b></b>
				</h2></center>
			</div>
		</div>
	</div>
</div>
<!-- bloc-27 END -->

<!-- bloc-28 -->
<div class="bloc bgc-white l-bloc" id="bloc-28">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

	<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                <h4 class="panel-title">
                    School Climate Improvment Process
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false" >
                <div class="panel-body">
					<h3>The School Climate Improvement Process</h3>
					<p>School climate improvement is continuous process of intentionally, strategically, collaboratively supporting the whole school community learning and working together in a data-driven, transparent and democratically informed continuous manner. It is a process of (i) preparing for the next phase of school improvement; (ii) evaluating current strengths, needs and weaknesses (systemically, instructionally and relationally); (iii) understanding evaluation findings and creating a data-driven action plan; (iv) implementing the action plan; and, (v) learning about successes, challenges and failures and beginning the process anew.</p>
					<p><span >Based on research and best practices, <strong>NSCC</strong> suggests that there are a series of specific tasks and challenges that shape an effective process of preparation, evaluation, action planning, implementation and beginning anew (Click here to see the&nbsp;</span><span >key guiding principles for implementing each stage effectively). Over time, we expect school improvement research as well as growing Network Improvement Communities to shed further light on these tasks and the improvement process.</span></p>
					<h3>The School Climate Improvement Process is designed to support schools achieving the following five goals:</h3>
					<ol>
						<li><span >The school community has a shared vision and plan for promoting, enhancing and sustaining a positive school climate.</span></li>
						<li><span >The school community sets policies specifically promoting (a) the development and sustainability of social, emotional, ethical, civic and intellectual skills, knowledge, dispositions and engagement, and (b) a comprehensive system to address barriers to learning and teaching and reengage students who have become disengaged.</span></li>
						<li><span >The school community’s practices are identified, supported and prioritized to (a) promote the learning and positive social, emotional, ethical and civic development of students, (b) enhance engagement in teaching, learning, and school-wide activities; (c) address barriers to learning and teaching and reengage those who have become disengaged; and (d) develop and sustain an appropriate operational infrastructure and capacity building mechanisms for meeting this standard.</span></li>
						<li><span >The school community creates an environment where all members are welcomed, supported, and feel safe in school: socially, emotionally, intellectually and physically.</span></li>
						<li><span >The school community develops meaningful and engaging practices, activities and norms that promote social and civic responsibilities and a commitment to social justice.</span></li>
					</ol>

								<p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="446" /></p>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapseFour"  aria-expanded="false">
                <h4 class="panel-title">
                    FAQ About School Climate
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
									<div class="bs-example">
								    <div class="panel-group" id="accordion-2">
								        <div class="panel panel-default">
								            <div class="panel-heading accordion-cus-heading collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-one" aria-expanded="false">
								                <h4 class="panel-title ">
								                  What is school climate?
								                </h4>
								            </div>
								            <div id="collapse-2-one" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
								                <div class="panel-body">
																	<p><span>School climate refers to the quality and character of school life. It speaks to norms and values, social interactions, and organizational structures, as experienced by students, school personnel and parents/families within the school community. </span></p>
																</div>
														</div>
												</div>

												<div class="panel panel-default">
								            <div class="panel-heading accordion-cus-heading collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-two" aria-expanded="false" >
								                <h4 class="panel-title">
								                   Why is school climate important?
								                </h4>
								            </div>
								            <div id="collapse-2-two" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
								                <div class="panel-body">
 																	<p><span>Research outlines six major categories or constructs of school climate: Safety, Teaching and Learning, Interpersonal Relationships, Institutional Environment, Social Media, and Staff Only. Under these categories are </span><b>13 dimensions</b><span> shaping perception of school climate: Rules and Norms, Sense of Physical Security, Sense Social-Emotional Security, Support for Learning, Social and Civic Learning, Respect for Diversity, Social Support Adults, Social Support Students, School Connectedness/Engagement, Physical Surroundings, Social Media, Leadership (staff only), and Professional Relationships (staff only)</span></p>
																</div>
														</div>
												</div>

												<div class="panel panel-default">
								            <div class="panel-heading accordion-cus-heading collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-three" aria-expanded="false">
								                <h4 class="panel-title">
								                  What are the essential dimensions of school climate?
								                </h4>
								            </div>
								            <div id="collapse-2-three" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
								                <div class="panel-body">
																	<p><span >Research outlines six major categories or constructs of school climate: Safety, Teaching and Learning, Interpersonal Relationships, Institutional Environment, Social Media, and Staff Only. Under these categories are </span><b>13 dimensions</b><span> shaping perception of school climate: Rules and Norms, Sense of Physical Security, Sense Social-Emotional Security, Support for Learning, Social and Civic Learning, Respect for Diversity, Social Support Adults, Social Support Students, School Connectedness/Engagement, Physical Surroundings, Social Media, Leadership (staff only), and Professional Relationships (staff only)</span></p>
																</div>
														</div>
												</div>

												<div class="panel panel-default">
								            <div class="panel-heading accordion-cus-heading collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-four" aria-expanded="false">
								                <h4 class="panel-title">
								                    What are the essential dimensions of school climate?
								                </h4>
								            </div>
								            <div id="collapse-2-four" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
								                <div class="panel-body">
																	<p><span >There is not a national or international consensus about the essential dimensions of school climate that need to be focused on and measured. &nbsp;</span></p>
																	<p>&nbsp;</p>
																	<p><span ><strong>NSCC</strong> and the U.S. Department of Education’s Safe and Supportive Learning Technical Assistance Center have overlapping but some different recommendations about what are the essential and measurable aspects of school climate.</span></p>
																	<p><strong>NSCC</strong> suggests that the following five spheres are essential:</p>
																	<ol>
																	    <li><span >Safety (rules &amp; norms; physical and social/emotional safety, and social media)</span></li>
																	    <li><span >Teaching and Learning (support for learning; prosocial instruction)</span></li>
																	    <li><span >Interpersonal Relationships (respect for diversity; social support/adults; social support/students)</span></li>
																	    <li><span >Institutional environment (school connectedness and engagement; physical environment)</span></li>
																	    <li><span >Staff only (Leadership; Professional Relationships)</span></li>
																	</ol>
																	<p>The U.S. Department of Education’s Safe and Supportive Learning Technical Assistance Center suggest that the following three dimensions are essential:</p>
																	<ol>
																	    <li><span >Engagement (relationships; respect for diversity; school participation)</span></li>
																	    <li><span >Safety (emotional &amp; physical safety as well as substance use)</span></li>
																	    <li><span >Environment (physical, academic, wellness, disciplinary environment)</span></li>
																	</ol>
																</div>
														</div>
												</div>

												<div class="panel panel-default">
								            <div class="panel-heading accordion-cus-heading collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-five" aria-expanded="false">
								                <h4 class="panel-title">
								                    Why is school climate important?
								                </h4>
								            </div>
								            <div id="collapse-2-five" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
								                <div class="panel-body">
																	<p>
																	    <span >There are many reasons why school climate and an effective school climate improvement process are profoundly important.</span></p>
																	<p>School climate recognizes the prosocial (e.g. SEL, character education, mental health promotion related) aspects of learning, teaching and school life. In fact, teachers and parents are always “teaching” prosocial lessons: helpfully, intentionally or not! And, we know that prosocial as well as traditional ‘cognitive’ or academic learning provides the foundation for school and life success!</p>
																	<p>School climate improvement efforts are also important it promotes:</p>
																	<ul>
																	    <li><span >Engagement: the foundation for learning and school improvement.</span></li>
																	    <li><span >Students, parents/guardians, school personnel and community members learning and working together.</span></li>
																	    <li><span >A data driven social, emotional, civic and cognitive improvement strategy.</span></li>
																	    <li><span >An effective bully/victim/bystander and high school drop out prevention strategy.</span></li>
																	</ul>
																	<p>School climate improvement efforts support:</p>
																	<ul>
																	    <li><span >Safer schools</span></li>
																	    <li><span >Healthy relationships</span></li>
																	    <li><span >Greater respect for diversity</span></li>
																	    <li><span >Enhanced school participation</span></li>
																	    <li><span >More positive disciplinary practice</span></li>
																	    <li><span >Lower dropout rates</span></li>
																	    <li><span >Improved academic achievement</span></li>
																	    <li><span >Higher teacher retention rates</span></li>
																	    <li><span >Caring, socially responsible behavior</span></li>
																	    <li><span >Findings from Implementation Science</span></li>
																	</ul>
																	<p>In fact, these research findings have contributed to a growing number of federal, state and local educational agencies endorsing and/or supporting school climate policies and improvement practices:</p>
																	<ul>
																	    <li><i><span > Federal Agencies</span></i><span >: U.S. Departments of Education and Justice; Centers for Disease Control and Protection, SAMHSA, and Institute for Educational Sciences &nbsp;&nbsp;</span></li>
																	    <li><i><span > State Departments of Education</span></i><span >: California, Connecticut, Georgia, Minnesota, New Jersey, Pennsylvania, Texas, Washington and more</span></li>
																	</ul>
																</div>
														</div>
												</div>

												<div class="panel panel-default">
								            <div class="panel-heading accordion-cus-heading collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-six" aria-expanded="false">
								                <h4 class="panel-title">
								                    How is school climate measured?
								                </h4>
								            </div>
								            <div id="collapse-2-six" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
								                <div class="panel-body">
																	<p><span ><strong>NSCC’s</strong> assessment tool, the Comprehensive School Climate Inventory (CSCI), is a valid and reliable evaluation tool developed in 2002 to measure how critical groups of students, school personnel, and parents/families perceive the school’s climate for learning. The CSCI provides a detailed profile of strengths and areas of challenge to develop clear and measurable strategies for action. Learn more about the CSCI features and benefits </span><a href="#">here</a>.</p>
																</div>
														</div>
												</div>

											</div>
									</div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false">
                <h4 class="panel-title">
                    FAQ About the School Climate Process
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">

									<div class="bs-example">
								    <div class="panel-group" id="accordion-3">

											<div class="panel panel-default">
													<div class="panel-heading accordion-cus-heading collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse-3-one" aria-expanded="false" >
															<h4 class="panel-title">
																	What is an effective school climate improvement process?
															</h4>
													</div>
													<div id="collapse-3-one" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
															<div class="panel-body">
																<p><span >School climate improvement is continuous process of intentionally, strategically, collaboratively supporting the whole school community learning and working together in a data-driven, transparent and democratically informed continuous manner. And, it is a process of (i) preparing for the next phase of school improvement; (ii) evaluating current strengths, needs and weaknesses (systemically, instructionally and relationally); (iii) understanding evaluation findings and creating a data-driven action plan; (iv) implementing the action plan; and, (v) learning about successes, challenges and failures and beginning the process anew.</span></p>
																<p><span >Based on research and best practices, <strong>NSCC</strong> suggests that there are a series of specific tasks and challenges that shape an effective process of preparation, evaluation, action planning, implementation and beginning anew (Click here to see the&nbsp;</span><span >key guiding principles for implementing each stage effectively). Over time, we expect school improvement research as well as growing Network Improvement Communities to shed further light on these tasks and the improvement process.</span></p>
																<p><span >The U.S. Department of Education’s Safe and Supportive Learning Technical Assistance Center has not defined or described an effective school climate improvement process.</span></p>
																<h3>The School Climate Improvement Process is designed to support schools achieving the following five goals:</h3>
																<ol>
																    <li><span >The school community has a shared vision and plan for promoting, enhancing and sustaining a positive school climate.</span></li>
																    <li><span >The school community sets policies specifically promoting (a) the development and sustainability of social, emotional, ethical, civic and intellectual skills, knowledge, dispositions and engagement, and (b) a comprehensive system to address barriers to learning and teaching and reengage students who have become disengaged.</span></li>
																    <li><span >The school community’s practices are identified, supported and prioritized to (a) promote the learning and positive social, emotional, ethical and civic development of students, (b) enhance engagement in teaching, learning, and school-wide activities; (c) address barriers to learning and teaching and reengage those who have become disengaged; and (d) develop and sustain an appropriate operational infrastructure and capacity building mechanisms for meeting this standard.</span></li>
																    <li><span >The school community creates an environment where all members are welcomed, supported, and feel safe in school: socially, emotionally, intellectually and physically.</span></li>
																    <li><span >The school community develops meaningful and engaging practices, activities and norms that promote social and civic responsibilities and a commitment to social justice.</span></li>
																</ol>
															</div>
													</div>
											</div>

											<div class="panel panel-default">
	 												<div class="panel-heading accordion-cus-heading collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse-3-two" aria-expanded="false" >
															<h4 class="panel-title">
																How can I learn about ‘Road Maps’ that support an effective school climate improvement process?
															</h4>
													</div>
													<div id="collapse-3-two" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
															<div class="panel-body">
																<p><span >Currently, there are three ‘road maps’ that support an prosocial school improvement efforts:</span></p>
																<ul>
																    <li><strong> NSCC’s </strong><i><span >The School Climate Implementation Road Map: Promoting Democratically Informed School Communities and the Continuous Process of School Climate Improvement </span></i></li>
																</ul>
																<p><span >This Road Map synthesizes research and best practices from a number of fields (school reform in general and SEL, character education, community schools, risk prevention and health/mental health promotion) about the essential tasks/challenges that characterize an effective &nbsp;and collaborative process of planning, evaluation, understanding the findings and developing an action plan, implementing the action plan and beginning anew in the continuous process of learning and school improvement.</span></p>
																<p><span >To learn about the specific tasks and challenges that shape our current understandings, see here: http://www.schoolclimate.org/climate/stages_tasks_challenges.php</span></p>
																<ul>
																    <li><i> </i><span >CASEL’s</span><i><span > SEL School Improvement Model (which we believe is current under revision)</span></i></li>
																    <li><i> </i><span >character.org’s</span></li>
																</ul>
															</div>
													</div>
											</div>

											<div class="panel panel-default">
													<div class="panel-heading accordion-cus-heading collapsed"  data-toggle="collapse" data-parent="#accordion-3" href="#collapse-3-three" aria-expanded="false" >
															<h4 class="panel-title">
																	How can school leaders realistically focus on all of the elements that make up an effective school climate improvement process?
															</h4>
													</div>
													<div id="collapse-3-three" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
															<div class="panel-body">
																<p><span >Every school &ndash; like every person &ndash; presents with a unique history and set of strengths, needs and goals. As noted above, an effective school climate improvement process is strategic as well as being intentional, fundamentally collaborative, data driven, transparent and democratically informed. School leaders do need to strategically focus on what they believe are the most important tasks to focus on in each of the improvement stages.</span></p>
																<p><span >One of the reasons why<strong> NSCC</strong> developed “end of stage” or process measures was to support Principals and members of their leadership teams recording what they did and did not do during each of these tasks as well as rating how well they did it. We expect that when a given school begins the improvement process again, these records will help the Principal (or a new leader if there has been turnover) to consider what is most important to focus on now.</span></p>
															</div>
													</div>
											</div>

										</div>
									</div>

                </div>
            </div>
        </div>
    </div>
</div>

				</div>
			</div>
		</div>
	</div>

<!-- bloc-28 END -->

<!-- bloc-29 -->
<div class="bloc tc-platinum b-parallax bgc-lapis-lazuli-2 bloc-bg-texture texture-paper" id="bloc-29">
	<div class="container bloc-md">
		<div class="row bg-gr-tx-wt">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h3 class="statement-bloc-text tc-platinum">
					<strong >"Good design is making something intelligible and memorable. Great design is making something memorable and meaningful."</strong>
				</h3>
				<p class="text-center">
					<strong>Dieter Rams</strong>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-29 END -->


{% put scripts %}
<script>
 $(function(){
	 $('body').on('click','.panel-heading',function(event){
		 var target = $('.scroll-to');
		 event.preventDefault();
			$('html, body').stop().animate({
					scrollTop: target.offset().top
			}, 800);
	 });
 });
</script>
{% endput %}
