{% put styles %}
    <link href="/plugins/digitalfox/researchpublication/assets/css/style.css" rel="stylesheet" />
{% endput %}

{% set ResearchBriefs = __SELF__.researchbriefs %}

<!-- bloc-0 -->

<div class="col-md-12 journal-section">
  <div class="row voffset">
    {% if ResearchBriefs.count %}
        {% for ResearchBrief in ResearchBriefs %}


        <div>
          <div class="bg-custom-blue rounded quote-heading">
            <h4 class="no-margin h-text">
              {% if ResearchBrief.file_mime %}
              <a href="//docs.google.com/gview?url={{url(ResearchBrief.file | media)}}&embedded=true" class="Journals">
                {{ResearchBrief.title}}
              </a>
              {% else %}
                {{ResearchBrief.title}}
              {% endif %}

            </h4>
          </div>
          <div class="indent-block">
          {% if ResearchBrief.author %} <p> {{ResearchBrief.author}} {% if ResearchBrief.brief_year %} ({{ResearchBrief.brief_year}}) {% endif %}</p>{% endif %}
          <p>
            {% if ResearchBrief.link %}
                <a href="{{ResearchBrief.link}}" target="_blank">View link</a></span>
                <br>
            {% endif %}
            {{ html_clean(ResearchBrief.description) }}

          </p>
          </div>
        </div>
        {% endfor %}
    {% else %}
      <h1 align="center">No research briefs and reports found!</h1>
    {% endif %}
  </div>
</div>


  <!-- <div class="col-md-12 journal-section">
		<div class="row voffset">
      {% if ResearchBriefs.count %}
          {% for ResearchBrief in ResearchBriefs %}
        			<div class="col-sm-4">
                  <div class="bordered">

                      {% if ResearchBrief.file_mime %}
            			    <a href="//docs.google.com/gview?url={{url(ResearchBrief.file | media)}}&embedded=true" class="ResearchBriefs">
                        <p  align="center">
                          <img src="/plugins/digitalfox/researchpublication/assets/icons/{{ResearchBrief.file_mime}}.png" alt="{{ResearchBrief.file_mime}}" class="img-responsive" style="max-height:100px;" />
                        </p>
                      </a>
                      {% endif %}


                      {% if ResearchBrief.title %}
                      <p class="journal">
                        <b style="color:#0b56a8;">Title :</b>  <span style="color:#15b;">{{ResearchBrief.title}}</span>
                      </p>
                      {% endif %}

                      {% if ResearchBrief.brief_year %}
                      <p class="journal">
                        <b style="color:#0b56a8;"> Year: </b>  <span style="color:#15b;">{{ResearchBrief.brief_year}}</span>
                      </p>
                      {% endif %}

                      {% if ResearchBrief.author %}
                      <p class="journal">
                        <b style="color:#0b56a8;"> Authors : </b> <span style="color:#15b;">{{ResearchBrief.author}}</span>
                      </p>
                      {% endif %}

                       {% if ResearchBrief.link %}
                        <p class="journal">
                            <span><a href="{{ResearchBrief.link}}" target="_blank">View link</a></span> </a>
                        </p>
                        {% endif %}

                				{{html_clean(ResearchBrief.description)}}

              			</div>
              </div>
          {% endfor %}
      {% else %}
        <h1 align="center">No research briefs and reports found!</h1>
      {% endif %}
		</div>
  </div> -->

<!-- bloc-0 END -->
