<form style="display:none;" id="newslatter-subscription" data-id="embedded_signup:form" class="ctct-custom-form Form ctct-embed-signup" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">

  <input data-id="ca:input" name="ca" value="{{config_get('constantcontact.CONSTANTCONTACT_CA')}}" type="hidden">
  <input data-id="list:input" name="list" value="{{config_get('constantcontact.CONSTANTCONTACT_LIST')}}" type="hidden">
  <input data-id="source:input" name="source" value="EFD" type="hidden">
  <input data-id="required:input" name="required" value="list,email" type="hidden">
  <input data-id="url:input" name="url" value="" type="hidden">

  <div class="form-group">
    <br>
    <p data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required lb-sub-custom">Subscribe now to never miss an issue!</label>
    <input placeholder="Email" data-id="Email Address:input" name="email" value="" class="form-control" maxlength="80" type="text"></p>

  </div>

</form>
