<div class="modal inmodal" id="RecurringPopup"  tabindex="-1" role="dialog" aria-hidden="true" style="display: none; top: 20%;">
    <div class="modal-dialog">
      <div class="row">
        <div class="col-sm-12">
        <div class="modal-content animated fadeIn recurring-content">
          <div id="loading-icon" >
            <img src="/plugins/digitalfox/stripe/assets/img/loading.svg">
          </div>
            <div class="modal-body ">
                <h1 style="padding-left:10px;">Would you like to make this Donation Monthly ?</h1><br>
                <div class="col-sm-6">
                  <button class="recurring-btn btn btn-lg btn-bright-cerulean  pulse-hvr animated" value="1" onclick="recurringSelection($(this).val());"  >Yes I agree</button>
                </div>
                <div class="col-sm-6">
                  <button class="recurring-btn btn btn-lg pulse-hvr btn-bright-cerulean donate-btn animated" value="0" onclick="recurringSelection($(this).val());" >Single Donation</button>
                </div>
            </div>

          </div>
         </div>
        </div>
    </div>
</div>
