title = "Blog - National School Climate Center"
url = "/blog/category/:slug"
layout = "default"
is_hidden = 0

[blogPosts]
[blogCategories]
==
<div class="bloc bg-stack-of-books tc-white bgc-white b-parallax header-banner" id="bloc-21">
	<div class="container bloc-sm ">
		<div class="row">
			<div class="col-sm-6 bg-gr-tx-wt pull-right lg-shadow">
				<h3 class="mg-md ">
					National School Climate Center ( Blog )
				</h3>
				<p>School Climate Matters is a blog maintained by the staff of CSEE, a national nonprofit organization dedicated to working with schools to improve school climate. Designed to promote dialogue about the importance and influence of school climate in K-12 education, we're talking about assessment, best practices, funding opportunities and everything in between.</p>
			</div>
		</div>
	</div>
</div>
<div class="bloc bgc-white l-bloc">
	<div class="container bloc-sm">
		<div class="row">
			<br>
			{% component "blogPosts" categoryFilter="uncategorized" %}

			<div class="widget widget_tag_cloud" id="tag_cloud-2">
				<h4 class="widget_title">Categories</h4>
				{% component "blogCategories" %}
      </div>

     </div>
		</div>
	</div>
</div>
