title = "Blog - National School Climate Center"
url = "/blog/post/:slug"
layout = "default"
is_hidden = 0

[blogPost]
[blogCategories]
[Comments]
==


<!-- bloc-27 -->
<div class="bloc bgc-white l-bloc" id="bloc-27">
	<div class="container bloc-sm">
		<div class="row">
        {% component 'blogPost' %}

        {% component 'Comments' %}
			</div>
			<!-- close component div -->
				<div class="col-sm-3 border-gray" style="padding-top:20px;padding-bottom:20px">
				  <div class="sidebar-posts">
				    <div class="widget widget_search" id="search-2">
				        <form action="/blog" class="searchform" id="searchform" method="get" role="search">
				          <div class="input-group">
				            <input type="text" id="s" name="search"  value="{{ search }}"  class="input-sm form-control" placeholder="Search"> <span class="input-group-btn">
				            <button class="btn btn-sm btn-primary" id="searchsubmit" type="submit" > <i class="fa fa-search"></i></button> </span>
				          </div>
				       </form>
				    </div> <br>
				  </div>

						<div class="widget widget_tag_cloud" id="tag_cloud-2">
							<h4 class="widget_title">Categories</h4>
							{% component "blogCategories" %}
			      </div>
				</div>
	</div>
	</div>
</div>
