title = "Guidelines - National School Climate Center"
url = "/guidelines"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Guidelines
				</h3>
        <a href="/about/contact-us" class="btn   btn-lg btn-bright-cerulean">Contact us</a>

			</div>
		</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc" id="bloc-38">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">
          <nav class="nav-sidebar">
      		<ul class="nav-tab-2 nav tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Guidelines</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">Safety</a></li>
                <li class=""><a href="#tab3" data-toggle="tab">Teaching and Learning</a></li>
                <li class=""><a href="#tab4" data-toggle="tab">Interpersonal Relationships</a></li>
                <li class=""><a href="#tab5" data-toggle="tab">Parents</a></li>
                <li class=""><a href="#tab6" data-toggle="tab">Acknowledgments</a></li>
      		</ul>
      	</nav>
      </div>
      <!-- tab content -->
      <div class="tab-content tab-content-1">
      <div class="tab-pane active text-style col-md-8" id="tab1">
        <h2>Guidelines and Resources</h2>
        <p>This section of our web site provides a range of resources for members of your school community who are committed to supporting student-learning and positive youth-development. Here you will find a range of information, guidelines and tools to support your school community promoting a positive and sustained school climate in general and with regard to the four essential aspects of school climate: safety, teaching and learning, relationships, and the environment. Although this section is geared to educators, it is also relevant to parents and guardians as well as community leaders.</p>
        <p><strong>Promoting a Positive School Climate and Social, Emotional, Ethical and Civic Learning</strong></p>
        <p>Measuring and improving school climate is a process that supports social, emotional, ethical and civic education (also known as ‘social and emotional learning’ and ‘character education’): the foundation for school&mdash;and life&mdash;success.</p>
        <p>School climate refers to <em>'the quality and character of school life.'</em> It is based on patterns of school life experiences and reflects norms, goals, values, interpersonal relationships, teaching, learning and leadership practices, and organizational structures. As such, it recognizes the two essential processes - instruction and school-wide improvement efforts. To support K-12 students developing the skills, knowledge and dispositions that provide the foundation for school success and the ability to love, work and become an engaged and effective citizen, research and best practices from a number of overlapping but historically disparate traditions, including character education, school reform, social-emotional learning, community schooling, pro-social education, risk-prevention and health/mental-health promotion, have indicated that educators, parents/guardians, students and community leaders need to focus on the two processes:</p>
        <ul>
            <li><strong>Instruction</strong>
                <br> Intentionally promoting students&mdash;and their own&mdash;social, emotional, ethical and civic capacities and dispositions</li>
            <li><strong>School wide improvement efforts</strong>
                <br> Educators, parents/guardians and students learning and working together to create a climate for learning (positive school climate; supportive learning environments).
            </li>
        </ul>
        <div class="contentHighlight-A">
            <p>
                <img alt="Video" src="{{'assets/includes/img/ico-video.png'|theme }}">&nbsp;<strong>Multimedia</strong>&mdash;Listen to Stanford University education professor <strong>Linda Darling-Hammond</strong> talk about <em>'the instructional and systemic aspects of social, emotional, ethical and civic as well as intellectual education.' </em><a target="_blank" href="{{'assets/vid/guidelines/hammond.flv'|theme }}" rel="640,480" class="bumpbox">Click here to view video.</a> </p>
            <p>
                <img alt="Video" src="{{'assets/includes/img/ico-video.png'|theme }}">&nbsp;<strong>Multimedia</strong>&mdash;Listen to Neuroscientist <strong>Richard Davidson</strong> present his research on <em>'How social and emotional learning can affect the brain.' </em><a target="_blank" href="{{'assets/vid/guidelines/heartbrain.flv'|theme }}" rel="640,480" class="bumpbox">Click here to view video.</a> </p>
            <p></p>
            <div class="edutopia">Videos produced by edutopia.org are used with permission and we are indebted to them for their kindness.</div>
        </div>
      </div>

      <div class="tab-pane  text-style col-md-8" id="tab2">
        <h2>Safety</h2>
        <p><strong id="understanding" >Understanding</strong></p>
        <p>Feeling safe is a basic and fundamentally important need. It is well known that when students&mdash;or adults&mdash;do not feel safe, it undermines learning, teaching and healthy development.</p>
        <img alt="" src="{{'assets/includes/img/children-safety.jpg'|theme }}" style="float: left; margin: 0 10px 5px 0;">
        <p>Historically, schools have paid attention to physical safety. On the other hand, schools have paid less attention to social and emotional safety. In our school climate assessment work with schools, one of the most common problems we discover is that bully-victim behavior is rampant and contributes to students feeling unsafe: socially, emotionally and too often, physically as well. There is a growing awareness that bully-victim behavior undermines students feeling safe in school. And, as a result it undermines their ability to learn and develop in healthy ways.</p>
        <br>
        <p><strong id="goals" >Goals</strong></p>
        <p>To the extent that students do not feel safe, we suggest that this is the most important school climate improvement goal that needs to be focused on.</p>
        <p><strong id="strategies" >Strategies</strong></p>
        <p>There are a number of overlapping ways that school, family and community leaders can and need to work together to create safe, caring school communities.</p>
        <p>Some of the most important strategies include:</p>
        <ol>
            <li><strong>Develop a shared vision and vocabulary.</strong>
                <br> Norms and codes of conduct shape our life. It is not the exception for your school community. Understanding your school community’s values and needs and explicitly developing a shared vision and vocabulary is an important step that can powerfully and helpfully bring students, school personnel and parents or guardians together to consider what we need and want from one another. We can then translate these values and goals into codes of conduct for adults as well as students.</li>
            <li>
                <strong>Insure every student’s connection with at least one caring adult in school.</strong>
                <br> Having at least one responsible and caring adult whom each student feel connected with is one of the most important steps that educators can take to promote safe schools. To learn about a strategy that your school can utilize to support this goal, <a  target="_blank" href="{{'assets/pdf/safety/connectcaringadult.pdf'|theme }}">click here</a></li>
            <li><strong>Break the bully-victim-passive bystander cycle.</strong>
                <br> One of the most important norms is related how we think about the role of the witness. When students and adults see trash in the halls or someone who is clearly upset or bully-victim behavior, what is our responsibility? One of the foundations for school safety and an effective citizenry is transforming schools from a community of passive bystanders (who do nothing and add to the problems) or a community of “upstanders” who responds responsibly to problems.</li>
        </ol>
        <div class="contentHighlight-A">
            <p><img alt="Video" src="{{'assets/includes/img/ico-video.png'|theme }}">&nbsp;<strong>Multimedia</strong>&mdash;To learn about breaking the bully-victim-passive bystander cycle,
                <br> <a target="_blank" href="{{'assets/vid/safety/upstander.swf'|theme }}" rel="951,521" class="bumpbox">click Here</a>.
                <br>
                <br>
                <img alt="Video"  src="{{'assets/includes/img/ico-video.png'|theme }}">&nbsp;<strong>Multimedia</strong>&mdash;Listen to Marvin Berkowitz (Sanford N. McDonnell Professor of Character Education, University of Missouri - St.Louis) talk the importance of being an upstander. <a target="_blank" href="{{'assets/vid/safety/Marv_being_upstander.flv'|theme }}" rel="640,480" class="bumpbox">Click here to view video</a>. </p>
        </div>
        <ol start="4">
            <li><strong>Provide social crisis preparedness practice and programs</strong>
                <br> Some schools are beginning to use the Breaking the bully-victim-passive bystander program as a social crisis preparedness program. Crisis preparedness programs are one of many important school wide processes that importantly shape how safe people feel in school. All schools have developed crisis preparedness plans that anticipate physically dangerous moments (e.g. a fire or bomb scare). We suggest that schools need to recognize socially and emotionally as well as physically dangerous moments. To learn more, <a target="_blank" href="{{'assets/pdf/safety/crisisPreparedness.pdf'|theme }}">click here</a>.
            </li>
        </ol>
        <div class="contentHighlight-A">
            <p><img alt="Video" src="{{'assets/includes/img/ico-video.png'|theme }}">&nbsp;<strong>Multimedia</strong>&mdash;Why is crisis/emergency planning important?
            </p>
            <ul>
                <li><a target="_blank" href="{{'assets/vid/safety/bob-interview.flv'|theme }}" rel="640,400" class="bumpbox">Robert Canning &mdash; Director of the Ohio Safe Schools Center</a></li>
                <li><a target="_blank"  href="{{'assets/vid/safety/jon-interview.flv'|theme }}" rel="640,400" class="bumpbox">Jonathan Cohen &mdash; Co-founder and President of NSCC</a></li>
            </ul>
            <p></p>
        </div>
        <p>To learn about the BullyBust 2009 campaign and resources, <a target="_blank" href="//www.bullybust.org">click here</a>.</p>
        <ol start="5">
            <li><strong>Recognize and deal with trauma in childhood and adolescents</strong>
                <br> Recognizing and dealing with trauma of students is an essential strategy that promotes safe schools. Over 6.1 million children between the ages of 10-16 have suffered some sort of traumatic event that places them at risk for problems with relationships and school. Educators and even school counselors often fail to recognize when a student may have been traumatized. Trauma interferes with children’s ability to learn. Moreover, traumatized children often disrupt the classroom interfering with everyone’s ability to learn. Knowing how to recognize, support, and refer traumatized children will both foster the ability of the traumatized student to learn and improve the atmosphere of the entire class and school. It will also help to free teachers from dealing with discipline problems and allow them to return to teaching academic skills.</li>
        </ol>
        <div class="contentHighlight-A">
            <p><img alt="Video" src="{{'assets/includes/img/ico-video.png'|theme }}">&nbsp;<strong>Multimedia</strong>&mdash;To learn about recognizing and dealing with trauma in childhood and adolescents, <a target="_blank" href="{{'assets/vid/safety/trauma.swf'|theme }}" rel="951,521" class="bumpbox">Click Here</a>
                <br>
            </p>
        </div>
        <ol start="6">
            <li><strong>Address barriers to learning</strong>
                <br> There are a range of additional ways that educators and parent leaders need to consider what is undermining student’s ability to learn. When we address barriers to learning, we are both protecting children and&mdash;by definition&mdash;promoting learning.
            </li>
        </ol>
        <p><strong id="assessment" >Assessment</strong></p>
        <p>There are two levels of assessment that can support understanding about school safety: ‘comprehensive school climate assessments’ and more ‘targeted evaluations.’</p>
        <p>We suggest that it is useful to initially <a href="">evaluate school climate in a comprehensive manner</a>. How safe students feel, for example, is colored and shaped by how we treat one another relationally, classroom management strategies, rules and norms as well as the nature of teaching and learning in the school.</p>
        <p>When a school community learns that safety is an issue, it is often essential to "dig deeper" and understand what this means. Safety audits, for example, can help to pinpoint when and where bullying is occurring. Empowering students to become action researchers - who learn about the underlying factors to their own community's safety - is also a powerful way to assess physical violence and bullying issues. When students actively engage in uncovering the causes and solutions to bully-victim behavior, they help shape the direction of interventions in ways that have lasting success.</p>
        <p><strong id="resources" >Resources</strong></p>
        <p>Relevant Readings (<a target="_blank" href="{{'assets/pdf/safety/safety_readings.pdf'|theme }}">Download this List</a>):</p>
        <ul>
            <li>Devine, J. &amp; Cohen, J. (2007) Making your school safe: Strategies to protect children and promote learning. New York: Teachers College Press</li>
            <li>Goldstein, S. E., Young, A., &amp; Boyd, C. (2008). Relational aggression at school: Associations with school safety and social climate. Journal of Youth &amp; Adolescence, 37(6), 641-654.</li>
            <li>Gottfredson, G.D., &amp; Gottfredson, D.C. (1989). School climate, academic performance, attendance, and dropout. Charleston County School District SC; Effective Schools Battery; Teacher Surveys.</li>
            <li>Hoge, D. R., Smit, E. K., &amp; Hanson, S. L. (1990). School experiences predicting changes in self-esteem of sixth- and seventh-grade students. Journal of Education Psychology, 82, 117-127. </li>
            <li>Karcher, M.J. (2002). The cycle of violence and disconnection among rural middle school students: Teacher disconnection as a consequence of violence. Journal of School Violence, 1 (1), 35-51.</li>
            <li>Kasen, S. N., Johnson, P. N., &amp; Cohen, P. N. (1990). The impact of social emotional climate on student psychopathology. Journal of Abnormal Child Psychology, Vol. 18 (2), 165-177.</li>
            <li>Kosciw, Joseph G. and Elizabeth M. Diaz (2006). The 2005 National School Climate Survey: The Experiences of Lesbian, Gay, Bisexual and Transgender Youth in Our Nation's Schools.New York: GLSEN.</li>
            <li>Kuperminic, G. P., Leadbeater, B. J., &amp; Blatt, S. J. (2001). School social climate and individual differences in vulnerability to psychopathology among middle school students. Journal of School Psychology, 39, 141-159.</li>
            <li>Kuperminic, G. P., Leadbeater, B. J., Emmons, C., &amp; Blatt, S. J. (1997). Perceived school climate and difficulties in the social adjustment of middle school students. Applied Developmental Science, 1, 76-88.</li>
            <li>LaRusso, M., Romer, D., &amp; Selman, R. (2008). Teachers as builders of respectful school climates: Implications for adolescent drug use norms and depressive symptoms in high school. Journal of Youth &amp; Adolescence, 37(4), 386-398.</li>
            <li>Lleras, C. (2008). Hostile school climates: Explaining differential risk of student exposure to disruptive learning environments in high school. Journal of School Violence, 7(3), 105-135. </li>
            <li>Ma, X., &amp; Klinger, D. A. (2000). Hierarchical linear modeling of student and school effects on academic achievement. Canadian Journal of Education, 25, 41-55.</li>
            <li>Meyer-Adams, N., &amp; Conner, B. T. (2008). School violence: Bullying behaviors and the psychosocial school environment in middle schools. Children &amp; Schools, 30(4), 211-221.</li>
            <li>Payton, J., Weissberg, R.P., Durlak, J.A., Dymnicki, A.B., Taylor, R.D., Schlesinger, K.B., &amp; Pachan, M. (2008). The positive impact of social and emotional learning for kindergarten to eighth-grade students: Findings from three scientific reviews. Chicago, IL: Collaborative for Academic, Social, and Emotional Learning.</li>
            <li>Ruus, V., Veisson, M., Leno, M., Ots, L., Pallas, L., Sara, E., et al. (2007). Students' well-being, coping, academic success, and school climate. Social Behavior &amp; Personality: An International Journal, 35(7), 919-936.</li>
            <li>Shochet, I. M., Dadds, M. R., Ham, D., &amp; Montague, R. (2006). School connectedness is an underemphasized parameter in adolescent mental health: Results of a community prediction study. Journal of Clinical Child &amp; Adolescent Psychology, 35, 170-179.</li>
            <li>Sommer, B. (1985). What’s different about truants? A comparison study of eighth graders. Journal of Youth and adolescence, 14, 411-422.</li>
            <li>Way, N., Reddy, R., &amp; Rhodes, J. (2007). Students’ perceptions of school climate during the middle school years: Associations with trajectories of psychological and behavioral adjustment. American Journal of Community Psychology, 40(3), 194-213. </li>
            <li>Yoneyama, S., &amp; Rigby, K. (2006). Bully/victim students &amp; classroom climate. Youth Studies Australia, 25(3), 34-41</li>
        </ul>
      </div>

      <div class="tab-pane text-style col-md-8" id="tab3">
        <h2>Teaching and Learning</h2>
        <p><strong id="understanding" class="largeTxt orangeTxt">Understanding</strong></p>
        <p>Teaching and learning is the primary task for K-12 schools. And, improving instruction is a primary goal for school climate improvement efforts.</p>
        <p>Educators&mdash;like parents&mdash;are always social, emotional, ethical and civic teachers. The only question is to what extent we are doing so consciously, intentionally, systemically and helpfully!</p>
        <p>What are the competencies and dispositions that we want and need to promote? There is not “one list” of social, emotional and civic competencies / dispositions that practitioners and scholars adhere to. Perhaps the most commonly used list grows out of the work of the Collaborative for Academic, Social and Emotional Learning (CASEL). This conceptualization is based on the idea that there are five key sets of social emotional learning/emotional intelligence skills: (i) self awareness; (ii) social awareness; (iii) self management and organization; (iv) responsible decision making; and, (v) relationship management. This list has importantly shaped a number of state and district level social emotional learning standards, which we describe below. For a recent summary of this that has been developed by Kress and Elias.</p>
        <p>An overlapping but somewhat different listing was developed by our Center and the New York State Center for School Safety. This overlapping list is grounded in the notion that there are three essential aspects to social, emotional and civic abilities: (1) the ability to “decode” or read self and others (reflective and empathic capacities) and then use this information to (2) solve real problems in flexible and creative ways and (3) be a social, emotional and civic learner (e.g. learning to control one’s impulses; to communicate directly and clearly; to make and be a friend and more). To see this list, <a target="_blank" href="{{'assets/pdf/teaching-and-learning/socialemotionalcomp2.pdf'|theme }}">click here.</a> </p>
        <p>Growing out of work with the Ohio Department of Education, we have developed a document that summarizes a range of issues about social, emotional and civic instruction. This document includes information about:</p>
        <ul>
            <li>What is social, emotional and civic instruction?</li>
            <li>Information about why it is important</li>
            <li>Common barriers</li>
            <li>Key learning that staff needs to understand and be able to do</li>
            <li>Tasks that need to be considered to actualize this process</li>
            <li>Critically evaluating resources and making recommendations</li>
            <li>Indicators that a school is successfully focusing on this goal and related methods</li>
            <li>How to measure it &ndash; Recommendations</li>
        </ul>
        <p>To read this, <a target="_blank" href="{{'assets/pdf/teaching-and-learning/instruction.pdf'|theme }}">click here</a>.</p>
        <div class="contentHighlight-A">
            <p>
                <img alt="Video" src="{{'assets/includes/img/ico-video.png'|theme }}">&nbsp;<strong>Multimedia</strong>&mdash;What do these instructional practices look like?</p>
            <ul>
                <li><a target="_blank" href="{{'assets/vid/teaching-and-learning/cooperativearithmetic.flv'|theme }}" rel="640,480" class="bumpbox">Cooperative Arithmetic</a>: How to Teach Math as a Social Activity - 8 min 44 sec
                    <br>
                    <br>
                    <p>One teacher’s methods for social and emotional education infused with middle school math lessons. In this video, an educator can view cooperative learning, the establishment of rules and student involvement in the process, problem solving, the value and respect of student opinions, individual attention and a positive classroom environment.</p>
                </li>
                <li><a target="_blank" href="{{'assets/vid/teaching-and-learning/theforum.flv'|theme }}" rel="640,480" class="bumpbox">The Forum</a>: Students Learn the Skill of Conflict Resolution &ndash; 2 min 55 sec
                    <br>
                    <br>
                    <p>In this video, elementary students talk about their feelings and their actions in a circle where everyone can comment and interact.</p>
                </li>
                <li><a target="_blank" href="{{'assets/vid/teaching-and-learning/handshake.flv'|theme }}" rel="640,480" class="bumpbox">Tricks of the Trade</a>: Handshake Q &amp; A &ndash; 1 min 37 sec
                    <br>
                    <br>
                    <p>In this video, an educator can view a simple and effective strategy to promote respect. This teacher demonstrates his method to personally connect with every student before entering class, while also reinforcing subject material.</p>
                </li>
                <li><a target="_blank" href="{{'assets/vid/teaching-and-learning/fishbowl.flv'|theme }}" rel="640,480" class="bumpbox">Tricks of the Trade</a>: Using a “Fishbowl” for Discussions &ndash; 1 min 30 sec
                    <br>
                    <br>
                    <p>This teacher promotes the usage of manners, problem solving and conflict resolution by having his students closely observe each other, like a “fishbowl.” A class discussion, with teacher prompting, follows, to talk about what was observed. </p>
                </li>
            </ul>
            <p>
                <img alt="Video" src="{{'assets/includes/img/ico-video.png'|theme }}">&nbsp;Multimedia&mdash; Listen to Marvin Berkowitz (Sanford N. McDonnell Professor of Character Education, University of Missouri - St. Louis) talk about teaching students social, emotional, ethical and civic skills, knowledge and dispositions. <a target="_blank" href="{{'assets/vid/teaching-and-learning/Marv_civilskills.flv'|theme }}" rel="640,480" class="bumpbox">Click here</a>.
            </p>
            <div class="edutopia">Videos produced by edutopia.org are used with permission and we are indebted to them for their kindness.</div>
        </div>
        <p><strong id="goals" class="largeTxt orangeTxt">Goals</strong></p>
        <p>The social, emotional, ethical and civic instructional goal is to promote a set of core competencies and dispositions that provide the foundation for school &ndash; and life - success. One of the important challenges for educators is that we do not have a detailed, research-based scope and sequence that can guide our efforts to understand what K-12 students can and should be able to learn &ndash; socially, emotionally and civically &ndash; at given stages of development.</p>
        <p>We do have a growing number of “social emotional learning” standards (see below) that can be used as guidelines to inform our instructional efforts.</p>
        <p>
            <a target="_blank" href="{{'assets/pdf/teaching-and-learning/EarlyLearningStandards.pdf'|theme }}" rel="800,600" class="bumpbox"><strong>Arizona Department of Education Early Learning Standards</strong></a>
            <br> The Arizona Early Learning Standards have been developed to provide a framework for the planning of quality learning experiences for all children 3 to 5 years of age. The standards cover a broad range of skill development and provide a useful instructional foundation for children from diverse backgrounds and with diverse abilities. The standards are intended for use by all those who work with young children in any early care and education setting in urban, rural and tribal communities. <a target="_blank" href="{{'assets/pdf/teaching-and-learning/EarlyLearningStandards.pdf'|theme }}" rel="800,600" class="bumpbox">[More Info]</a> </p>
        <p><a target="_blank" href="//www.isbe.state.il.us/ILS/social_emotional/standards.htm" rel="800,600" class="bumpbox"><strong>Illinois Learning Social/Emotional Learning (SEL) Standards</strong></a>
            <br> The Illinois State Board of Education has developed and implemented a plan to incorporate social and emotional development standards as part of the Illinois learning standards (i.e., they would join standards in English Language Arts, Mathematics, Science, Social Science, Physical Development and Health, Fine Arts, Foreign Languages) for the purpose of enhancing children's school readiness and ability to achieve academic success. <a target="_blank" href="//www.isbe.state.il.us/ILS/social_emotional/standards.htm" rel="800,600" class="bumpbox">[More Info]</a> </p>
        <p>
            <a target="_blank" href="//www.asdk12.org/" rel="800,600" class="bumpbox"><strong>Anchorage School District SEL Learning Standards and Benchmarks</strong></a>
            <br> The Anchorage School Board has approved SEL Learning Standards for children K-12. The learning standards center on the goal of helping students become knowledgeable (I am), capable (I can), caring (I care), and responsible (I will) individuals. All component skills are also presented in first-person language for the students (e.g., for the skill: “students can read social cues,” the student language is, “I care about how I perceive others, and how others perceive me). The Anchorage standards include indicators and sample activities for each skill area for early elementary, late elementary, middle school, and early high school, and late high school. <a target="_blank" href="//www.asdk12.org/" rel="800,600" class="bumpbox">[More Info]</a> </p>
        <p><a target="_blank" href="//dpi.wi.gov/cssch/csssoh1.html" rel="800,600" class="bumpbox"><strong>Wisconsin's "Standards of the Heart"</strong></a>
            <br> Wisconsin has developed "Standards of the Heart" as a complement to its academic standards. The state has also created some assessment tools to help schools measure how well students are meetings expectations in these areas. The skills and competencies emphasized in these standards are located across and within a variety of major curricular goal areas. <a target="_blank" href="//dpi.wi.gov/cssch/csssoh1.html" rel="800,600" class="bumpbox">[More Info]</a> </p>
        <p><strong id="strategies" class="largeTxt orangeTxt">Strategies</strong></p>
        <p>There are four major and overlapping ways that teachers can be intentionally be helpful social, emotional and civic teachers in general and bully prevention/pro-upstander efforts in particular:</p>
        <ol>
            <li><strong>Being a role model:</strong>
                <br> Being a living example of upstander behavior in particular and a <a target="_blank" href="{{'assets/pdf/teaching-and-learning/workshop03D-BuildingSocial.pdf'|theme }}">thoughtful adult social, emotional and civic learner</a> in general. This is a foundational dimension of social, emotional and civic education; our behavior. It is well known that children and adolescents listen to our actions more than our words. As an educator and/or a parent, what does your behavior “teach”? What are the core social, emotional and civic lessons that you want to teach?</li>
            <li><a target="_blank" href="{{'assets/pdf/teaching-and-learning/workshop03C-ClassroomManagement.pdf'|theme }}">Classroom management:</a>
                <br> How we manage the classroom sends very powerful messages to students. To what extent do we use punishment and/or bullying and/or a restorative justice model of classroom management? Student discipline and motivation are perhaps the greatest concern for secondary classroom teachers. Too often teachers feel that there are “putting out a series of fires” or reacting to behavioral problems and not able to teach and support student learning. Too often educators have only learned to administer punitive forms of discipline. However, punitive forms of discipline do not reduce misbehavior but instead tend to breed resentment and further misbehavior. Restorative justice focuses on relationships and the needs of the victims. It includes the victim, the offender, and the community. And, it recognizes the harm done to the community and focuses on restoring relationships (e.g. social, emotional and civic learning).</li>
            <li>Pedagogy: There are a range of pedagogic methods that powerfully promote social, emotional and civic learning including: For example,
                <ul>
                    <li style="list-style:disc"><a target="_blank" href="//serc.carleton.edu/introgeo/cooperative/index.html">cooperative learning</a></li>
                    <li style="list-style:disc"><a target="_blank" href="//schools.nyc.gov/community/sis/servicelearning/default.htm">service learning</a></li>
                    <li style="list-style:disc"><a target="_blank" href="//www.creducation.org/">conflict resolution/mediation</a></li>
                    <li style="list-style:disc"><a href="{{'assets/pdf/teaching-and-learning/moraldilemmadiscuss.pdf'|theme }}">moral dilemma discussions</a></li>
                    <li style="list-style:disc"><a target="_blank" href="//joy2learn.org/teachers.php">Interdisciplinary learning with the arts</a></li>
                    <li style="list-style:disc"><a target="_blank" href="//www.psychologytoday.com/blog/psychological-solution-bullying/201202/moment-silence-simple-way-improve-schools-and-society">A Moment of Silence / Time for Meditation</a></li>
                </ul>
            </li>
            <li>
                <strong>Explicit social, emotional and civic curriculum</strong>:
                <br> There are two ways that teachers can infuse explicit social, emotional and civic learning into the curriculum: (1) using evidence-based curricular programs; and, (2) infusing social, emotional and civic learning into existing curriculum and ‘Advisory activities’;
                <ul>
                    <li style="list-style:disc">Using evidence based curricular programs: There are a range of evidence-based programs that grow out of character education, social-emotional learning and risk prevention/health promotion efforts that teachers can select to use. The following is a listing of programs that have been evaluated by a range of organizations:
                        <br>
                        <a target="_blank" href="{{'assets/pdf/teaching-and-learning/1B_Descriptions_1.pdf'|theme }}">Collaborative for Academic, Social, and Emotional Learning (CASEL) <br></a>
                        <a target="_blank" href="//www.character.org/more-resources/publications/11-principles-sourcebook/">Character Education Partnership (CEP)</a>
                        <br>
                        <a target="_blank" href="//www.colorado.edu/cspv/blueprints/modelprograms.html">Blueprints</a>
                    </li>
                    <li style="list-style:disc">Infusing social, emotional and civic learning into existing curriculum and Advisory activities:
                        <br> Over the years, we have repeatedly discovered that many teachers want to become more intentional and effective teachers in this area but that they cannot or do not want to use a packaged program. We have developed guidelines, protocols and tools to support teachers doing just this. If you are interested in reflecting on this process, <a target="_blank" href="{{'assets/pdf/teaching-and-learning/InfusingSocialLearning.pdf'|theme }}">click here</a> to see guidelines and a series of steps that support this work. If you want to read Maurice Elias’ blog on Edutopia about how to infuse social-emotional learning with social studies lessons, <a target="_blank" href="//www.edutopia.org/blog/sel-social-studies-lessons-maurice-elias">click here</a>. Also, you can find information of the workshops that National School Climate Center provides regarding this subject.
                        <ul>
                            <li style="list-style:circle"><a target="_blank" href="{{'assets/pdf/teaching-and-learning/workshop03A-InfusingSocialEmo.pdf'|theme }}">workshop03A-InfusingSocialEmo.pdf</a></li>
                            <li style="list-style:circle"><a target="_blank" href="{{'assets/pdf/teaching-and-learning/workshop03B-InfusingSocialEmo.pdf'|theme }}">workshop03B-InfusingSocialEmo.pdf</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ol>
        <p><strong id="assessment" class="largeTxt orangeTxt">Assessment</strong></p>
        <p>Students' social, emotional, ethical, and civic learning is typically assessed in the following ways: academic grades and achievement testing, social-emotional skills development, attitudes toward school, social behavior, and incident reports.</p>
        <p>Although we do have a growing number of social emotional learning standards and benchmarks, the field lacks a comprehensive, research-based social, emotional, ethical and civic scope and sequence. This complicates the assessment of this fundamentally important instructional aspect of <a href="">school climate improvement efforts</a>. It is an important challenge that now faces the field. However, the CSCI does in fact measure these issues in terms of two specific dimensions: "Support for Learning" and "Social and Civic Learning" in order to support schools in addressing these critical areas of a positive school climate. </p>
        <p><strong id="resources" class="largeTxt orangeTxt">Resources</strong></p>
        <p><strong>Relevant Readings</strong></p>
        <p>If you would like to read about the history of these efforts as well as current theory, practice and research, please write to <a href="mailto: jonathancohen@csee.net">Jonathan Cohen</a> [jonathancohen@schoolclimate.org] to receive one or both of the following papers:</p>
        <ul>
            <li>Cohen, J. (2006). Social, emotional, ethical and academic education: Creating a climate for learning, participation in democracy and well-being. <em>Harvard Educational Review</em>, Vol. 76, No. 2, Summer, pg 201-237. </li>
            <li>Cohen, J. &amp; Sandy, S. (2007). The social, emotional and education of children: Theories, goals, methods and assessments. In <em>Educating People to be Emotionally Intelligent</em>. Edited by R. Bar-On, J.G. Maree &amp; M. J. Elias. Westport, CN: Praeger</li>
        </ul>
        <p><strong>Additional Readings</strong></p>
        To view a list of articles and books about social-emotional learning and character education, <a target="_blank" href="{{'assets/pdf/teaching-and-learning/tl_readings.pdf'|theme }}">click here.</a>
        <ul class="toggler-4">
            <li>Bar-On, R., Parker, J. D. A., eds. (2000). <em>Handbook of Emotional Intelligence: Theory, Development, Assessment, and Application at Home, School and in the Workplace</em>. John Wiley &amp; Sons.</li>
            <li>Beland, K. (Series editor) (2003). <em>Eleven Principles Sourcebook: How to Achieve Quality Education in P-12Schools</em>. Washington: DC Character Education Partnership.</li>
            <li>Berkowitz, M.W. &amp; Bier, M.C. (2004). <em>Research based character education. Annals of the American Academy of Political and Social Science</em>. 591 (January), pg. 72-85.</li>
            <li>Berkowitz, M.W. &amp; Bier, M. (2005). <em>The interpersonal Roots of Character Education</em>. In D.K. Lapsley &amp; F.C. Power (Eds.), Character psychology and character education. South Bend, In: University of Notre Dame Press. </li>
            <li>Blum, R. (2005). <em>School Connectedness: Improving the lives of students</em>. John Hopkins Bloomberg School of Public Health, Baltimore, Maryland.</li>
            <li>Carney, R.S. (1991). <em>Teaching Children to Care: Management in the Responsive Classroom</em>. Greenfield, MA: Northeast Foundation for Children. </li>
            <li>Carney, R. S. (1997). <em>Habits of Goodness: Case Studies in the Social Curriculum</em>. Greenfield, MA: The Northeast Foundation for Children.</li>
            <li>Caroche, J., Forgas, J. P., &amp; Mayer, J.D., eds. (2001). <em>Emotional Intelligence and Everyday Life</em>. New York: Psychology Press.</li>
            <li>Cohen, J., (ed.) (1999). <em>Educating Minds and Hearts: Social Emotional Learning and the Passage into Adolescence</em>. New York: Teachers College Press. </li>
            <li>Cohen, J., (ed.) (2001). <em>Caring Classrooms/Intelligent Schools: Social Emotional Education of Young Children</em>. New York: Teachers College Press.</li>
            <li>Cohen, J. (2006). <em>Social, emotional, ethical and academic education: Creating a climate for learning, participation in democracy and well-being</em>. Harvard Educational Review, Vol. 76, No. 2, Summer, pg 201-237.</li>
            <li>CASEL (Collaborative for Academic, Social and Emotional Learning) (2002). <em>Safe and Sound: An Educational Leader’s Guide to Evidence-Based SEL Programs</em>. (Available at www.casel.org.)</li>
            <li>CASEL (Collaborative for Academic, Social and Emotional Learning) (2006). <em>Sustainable School wide Social and Emotional Learning (SEL): Implementation Guide and Toolkit</em>. (for information, go to: www.casel.org.) </li>
            <li>CASEL (Collaborative for Academic, Social and Emotional Learning) (2008). <em>Research implications for the Safe Schools/Healthy Students Core elements</em>. (for information, go to: www.casel.org.) </li>
            <li>Coburn, C.E. (2003). <em>Rethinking scale: Moving beyond numbers to deep and lasting change</em>. Educational Researcher, Vol. 32, 6, pg.3-12. </li>
            <li>Cowen, E. L., Hightower, A. D., Pedro-Carroll, J. L., Work, W. C., Wyman, P. A., &amp; Haffey, W. G. (1996). <em>School-Based Prevention for Children at Risk: The Primary Mental Health Project</em>. Washington, DC: American Psychological Association. </li>
            <li>Devine, J. &amp; Cohen, J. (2007). <em>Making Your School Safe: Physically, Socially and Emotionally</em>. New York: Teachers College Press. </li>
            <li>Dryfoos, J.G. (1998). <em>Safe Passage: Making it Through Adolescence in a Risky Society</em>. New York: Oxford University Press. </li>
            <li>Durlak, J. A. (1997). <em>Successful Prevention Programs for Children and Adolescents</em>. New York: Plenum Press.</li>
            <li>Elias, M.J. (2003). <em>Academic and Social Emotional Learning. Brussels, Belgium: International Academy of Education</em>. (Available on www.ibe.unesco.org.) </li>
            <li>Elias, M., S.E. Tobias &amp; B.S. Friedlander (1999). <em>Emotionally Intelligent Parenting</em>. New York: Harmony/Random House. </li>
            <li>Elias, M., Zins, J.E., Weissberg, R.P., Frey, K.S., Greenberg, M.T., Haynes, N.M., Kessler, R., Schwab-Stone, M.E., &amp; Shriver, T.P. (1997). <em>Promoting Social and Emotional Learning: A Guide for Educators</em>. Alexandria, VA: Association for Supervision and Curriculum Development. </li>
            <li>Elias, M. J., Zins, J.E., Graczyk, P.A. &amp; Weissberg, R.P. (2003). <em>Implementation, sustainability, and scaling up of social-emotional and academic innovations in public schools</em>. School Psychology Review, Vol. 32, 3, pp. 303-319. </li>
            <li>Elliott, D. S., Hamburg, B. A., &amp; Williams, K. R., eds. (1998). <em>Violence in American Schools</em>. New York: Cambridge University Press. </li>
            <li>Fuchs-Nadeau, D., LaRue, C.M., Allen, J., Cohen, J., Hyman, L., (2002). <em>The New York State Interpersonal Violence Prevention Resource Guide: Stopping Youth Violence Before it Begins</em>. Albany, NY: New York State Center for School Safety, the New York State Office of the Governor, and the New York State Department of Education. (Available at www.schoolclimate.org) </li>
            <li>Goldman, D. (1995). <em>Emotional Intelligence</em>. New York: Bantam. </li>
            <li>Goldman, D. (1998). <em>Working with Emotional Intelligence</em>. New York: Bantam. </li>
            <li>Greenberg, M. T., Weissberg, R. P., O’Brien, M.U., Zins, J. E., Fredericks, L., Resnik, H., &amp; Elias, M.J. (2003). <em>Enhancing school-based prevention and youth development through coordinated social, emotional, and academic learning</em>. American Psychologist. 58 (6/7), 466-474. </li>
            <li>Haynes, N., Ben-Avie, M., &amp; Ensign, J. (2003). <em>Social and Emotional Development in Relation to Math and Science Learning</em>. New York: Teachers College Press. </li>
            <li>Hoffman, D.M. (2009).<em> Reflecting on social emotional learning: A critical perspective on trends in the United States</em>. Review of Educational Research, Vol. 70, No. 2, pp. 533-556.</li>
            <li>Kessler, R., (2000). <em>The Soul of Education: Helping Students Find Connection, Compassion, and Character at School</em>. Alexandria, VA: ASCD </li>
            <li>Kohn, A. (1996). B<em>eyond Discipline: From Compliance to Community</em>. Alexandria, VA: Association for Supervision and Curriculum Development. </li>
            <li>Kress, J.S., Norris, J.A., Schoenholz, D. Elias, M.J., &amp; Siegel, P. (2005). <em>Bringing together educational standards and social and emotional learning: Making the case for educators</em>. American Journal of Education, Vol. 111, 1, pages 68-89.</li>
            <li>Lantieri, L. &amp; Patti, J. (1995). <em>Waging Peace in our Schools</em>. Boston: Beacon Press.</li>
            <li>Likona, T, Schaps, E, &amp; Lewis, C. (1996). <em>The eleven principles of effective character education. Character Education Partnership</em>. [Online]. Available url: http://www.character.org. Accessed 20 August 2003. </li>
            <li>Likona, T, &amp; Davidson, M. (2005). <em>Smart and good high schools: Integrating excellence and ethics for success in school, work and beyond</em>. www.cortland.edu/character/highschool/ </li>
            <li>Novice, B., Kress, J.S, Elias, M.J. (2002). <em>Building Learning Communities with Character: How to Integrate Academic, Social, and Emotional Learning</em>. Alexandria, VA: ASCD </li>
            <li>Palmer, P. J. (1998). <em>The Courage to Teach: Exploring the Inner Landscape of a Teacher’s Life</em>. San Francisco: Jossey-Bass Publishers. </li>
            <li>Patrikakou, E.N., Weissberg, R.P., Redding, S. &amp; t J. Walberg, H.J., (Eds.) (2005). <em>School-Family Partnerships for Children's Success</em>. New York: Teachers College Press </li>
            <li>Pasi, R. (2001). <em>Higher Expectations: Promoting Social Emotional Learning and Academic Achievement in Your School</em>. New York: Teacher’s College Press.</li>
            <li>Patti, J. &amp; Tobin, J. (2004). S<em>mart School Leaders: Leading with Emotional Intelligence</em>. Dubuque, Iowa: Kendall/Hunt publishing </li>
            <li>Piñata, R.C. (1999). <em>Enhancing Relationships Between Children and Teachers</em>. Washington, DC: American Psychological Association. </li>
            <li>Schwartz, M. (2007). <em>Effective Character Education: A Guidebook for Future Educators</em>. McGraw Hill </li>
            <li>Salovey, P. &amp; Sluyter, D., eds. (1997). <em>Emotional Development and Emotional Intelligence: Implications for Educators</em>. New York: Basic Books. </li>
            <li>Seligman, M.E.P. (2002). <em>Authentic happiness</em>. New York: The Free Press. </li>
            <li>Selman, R. (2003). <em>The Promotion of Social Awareness: Powerful Lessons from the Partnership of Developmental Theory and Classroom Practice</em>. NY: Russell Sage Foundation. </li>
            <li>Shelton, C. &amp; Stern, R. (2003) <em>Understanding Emotions in the Classroom: Differentiating Teaching Strategies for Optimal Teaching</em>. New York: National Professional Resources. </li>
            <li>Sternberg, R. J. (1997). <em>Successful Intelligence: How Practical and Creative Intelligence Determine Success in Life</em>. New York: Plume. </li>
            <li>U.S. Department of Health and Human Services, Substance Abuse and Mental Health Services Administration, Center for Substance Abuse Prevention (2005). SAMHSA Model Programs. www.modelprograms.samhsa.gov/template_cf.cfm?page=model_list</li>
            <li>Weist, M.D., Evans, S.W. &amp; Lever, N.A. (Eds.) (2003). <em>Handbook of school mental health: Advancing practice and research</em>. New York: Kluwer Academic/Plenum Pub. </li>
            <li>Wood, C. (1999). <em>Time to Teach, Time to Learn: Changing the Pace of School</em>. Greenfield, MA: Northeast Foundation for Children. </li>
            <li>Zins, J., Weissberg, R.W., Wang, M.C. &amp; Walberg, H.W. (2004). <em>Building School Success on Social Emotional Learning: What does the Research Say?</em> NY: Teachers College Press. </li>
            <li>The news article on having “Moment of Silence” in school and its effect http://forward.com/articles/124918/evangelist-for-silence-promotes-a-quiet-gift/</li>
        </ul>
        <p><strong>Websites</strong></p>
        To view a list of organizations that provide rich and excellent resources and guidelines on social-emotional learning, character education, conflict resolution, etc., <a target="_blank" href="{{'assets/pdf/teaching-and-learning/tl_websites.pdf'|theme }}">click here.</a>
        <ul title="&lt;em&gt;Display Websites List&lt;/em&gt;" class="toggler-4">
            <li><a target="_blank" href="//www.schoolcounselor.org/" rel="875,600" class="bumpbox">American School Counselor Association (ASCA)</a>
                <br> ASCA focuses on providing professional development, enhancing school counseling programs, and researching effective school counseling practices. Asia’s mission is to promote excellence in professional school counseling and the development of all students.
            </li>
            <li>Teaching Tolerance, a project of the Southern Poverty Law Center, is a destination for people interested in dismantling bigotry and creating, in hate's stead, communities that value diversity. There is a range of excellent resources here.
                <ol>
                    <li style="list-style:circle"><a target="_blank" href="//www.tolerance.org/order_forms/index.html" rel="875,600" class="bumpbox">Teaching Tolerance Materials</a></li>
                    <li style="list-style:circle"><a target="_blank" href="//www.tolerance.org/teach/activities/index.jsp" rel="875,600" class="bumpbox">Classroom Activities</a></li>
                    <li style="list-style:circle"><a target="_blank" href="//www.tolerance.org/teach/resources/index.jsp" rel="875,600" class="bumpbox">Kits &amp; Handbooks</a></li>
                </ol>
            </li>
            <li><a target="_blank" href="//www.adl.org/catalog/default.asp" rel="875,600" class="bumpbox">Anti-defamation League</a> (ADL) is another wonderful center that produces a range of materials (some free and some at minimal cost) for teachers.</li>
            <p>[Note: if you know of additional sources of materials for teachers that you would recommend, please let us know so that we can share this with other educators: <a href="mailto: info@csee.net">info@schoolclimate.org</a>]</p>
            <li><a target="_blank" href="//www.schoolcounselor.org/" rel="875,600" class="bumpbox">American School Counselor Association (ASCA)</a>
                <br> ASCA focuses on providing professional development, enhancing school counseling programs, and researching effective school counseling practices. Asia’s mission is to promote excellence in professional school counseling and the development of all students.
            </li>
            <li><a target="_blank" href="//www.acresolution.org/" rel="875,600" class="bumpbox">Association for Conflict Resolution</a>
                <br> The Association for Conflict Resolution’s section on education has a range of resources and guidelines that represent an important facet of virtually all social emotional educational efforts.</li>
            <li><a target="_blank" href="//www.wholechildeducation.org/" rel="875,600" class="bumpbox">Association for Supervision and Curriculum Development (ASCD)</a>
                <br> Whole Child ASCD’s Whole Child site has a rich array of information and resources to support educating the whole child.</li>
            <li><a target="_blank" href="//www.rucharacter.org/" rel="875,600" class="bumpbox">Center for Social and Character Development, Rutgers University</a>
                <br> Provides professional training and consultation to educators in public schools and conducts evaluation research on the effectiveness of social development programs through grants from the U.S. Department of Education.</li>
            <li><a target="_blank" href="//www.characterandcitizenship.org/" rel="875,600" class="bumpbox">Center for Character and Citizenship</a>
                <br> The Center for Character and Citizenship the University of Missouri-St. Louis College of Education generates and disseminates knowledge and research about how individuals develop moral and civic character and provides scholars, educators and organizations with the tools they need to contribute to this development.</li>
            <li><a target="_blank" href="//www.character.org/" rel="875,600" class="bumpbox">Character Education Partnership</a>
                <br> The Character Education Partnership is a nonpartisan coalition of organizations and individuals dedicated to developing moral character and civic virtue in our nation’s youth as one means of creating a more compassionate and responsible society.</li>
            <li><a target="_blank" href="//www.casel.org/" rel="875,600" class="bumpbox">The Collaborative for Academic, Social and Emotional Learning (CASEL)</a>
                <br> CASEL’s mission is to establish social and emotional learning (SEL) as an integral part of education from preschool through high school. The site includes a description of CASEL’s research projects, nationwide teacher-training opportunities, an SEL reading list, and news updates about SEL initiatives throughout the country. CASEL organizes several list serves. The site also includes a review and “consumer guide” to many SEL programs.</li>
            <li><a target="_blank" href="//www.devstu.org/" rel="875,600" class="bumpbox">The Developmental Studies Center</a>
                <br> Formed in 1980, DSC has developed programs and research to foster children’s academic, social, and ethical development. Their site includes a rich collection of resources, research findings and related resources.</li>
            <li><a target="_blank" href="//www.esrnational.org/" rel="875,600" class="bumpbox">Educators for Social Responsibility (ESR)</a>
                <br> ESR’s site includes a wealth of information and resources about conflict resolution and creating safe and caring schools.</li>
            <li><a target="_blank" href="//www.eqparenting.com" rel="875,600" class="bumpbox">EQParenting</a>
                <br> This site provides information about an innovative partnership linking social decision-making and problem solving to modern intervention technology and parenting. The areas of self-control, group participation and social awareness, and social-cognitive decision-making skills are key components of interventions reaching children at high, moderate, and low levels of risk in schools, agency and clinical contexts.</li>
            <li><a target="_blank" href="//www.facing.org/" rel="875,600" class="bumpbox">Facing History/Facing Ourselves</a>
                <br> This site has information and resources about a number of curricular resources that further teaching and learning about periods of history that have been colored by discrimination. Guidelines support the study of these periods in history (e.g. the holocaust, the American Civil Rights movement) becoming both historical study as well as an opportunity to learn more about ourselves.</li>
            <li><a target="_blank" href="//www.glef.org/" rel="875,600" class="bumpbox">George Lucas Educational Foundation</a>
                <br> GLEF is a nonprofit organization that gathers and disseminates the most innovative models of K-12 teaching and learning in the digital age and also publishes a newsletter entitled Edutopia Emotional Intelligence.</li>
            <li><a target="_blank" href="//www.uni-konstanz.de/ag-moral/home-e.htm" rel="875,600" class="bumpbox">Moral Dilemma Discussion</a>
                <br> Moral Dilemma Discussions have been shown to be a powerful and evidence-based pedagogic method that furthers reflection and the development of social and emotional skills and knowledge.</li>
            <li><a target="_blank" href="//www.mhrcc.org/" rel="875,600" class="bumpbox">New York State Center for School Safety (NYSCSS)</a>
                <br> This website is an excellent source of links to violence prevention related resources. NYSCSS is a state government coordinating agency and information clearinghouse. The Center supports schools, families, communities and government organizations in creating safe and healthy environments.</li>
            <li><a target="_blank" href="//www.pta.org/" rel="875,600" class="bumpbox">National PTA</a>
                <br> The mission of the National PTA is three-fold: to support and speak on behalf of children and youth in the schools, in the community, and before governmental bodies and other organizations that make decisions affecting children; to assist parents in developing the skills they need to raise and protect their children; and, to encourage parent and public involvement in the public schools of this nation.</li>
            <li><a target="_blank" href="//www.ecs.org/ecsmain.asp?page=/html/ProjectsPartners/nclc/nclc_main.htm" rel="875,600" class="bumpbox">National Center for Learning and Citizenship (NCLC)</a> at the Education Commission of the States NCLC is a leadership network established in 1997. It assists state and local leaders in developing policies to help districts and schools provide students with the skills, knowledge and attitudes needed to be effective, contributing citizens. NCLC identifies and analyzes policies and practices that support effective teaching and learning; disseminates analyses of best practices and policy trends through issue briefs, toolkits, commissioned papers and other publications; and convenes national, state and local meetings and networks to share information about service-learning and citizenship education. NCLC's mission is to help state and district leaders promote, support and reward service learning and citizenship education as essential components of America's education system.</li>
            <li><a target="_blank" href="//www.publiceducation.org/" rel="875,600" class="bumpbox">Public Education Network (PEN)</a>
                <br> PEN is a national association of local education funds and individuals working to advance public school reform in low-income communities across our country. PEN and its members are building public demand and mobilizing resources for quality public education on behalf of 12 million children in 32 states, the District of Columbia and Puerto Rico. PEN's work is guided by the following four principles: Public education is fundamental to a democratic, civil, prosperous society; Public schools are critical institutions for breaking the cycle of poverty and redressing social inequities; Education reform must be systemic to be effective; and, Public engagement, community support, and adequate resources are essential to the success of public education.</li>
            <li><a target="_blank" href="//www.responsiveclassroom.org/" rel="875,600" class="bumpbox">The Responsive Classroom</a>
                <br> The Responsive Classroom and Northeast Foundation for Children (NEFC) is a private, non-profit educational foundation working to improve elementary and middle schools by helping educators integrate the teaching of social and academic skills. This web site has a host of ideas, articles and an archive of newsletters that offer practical suggestions for the classroom teacher.</li>
            <li><a target="_blank" href="//www.search-institute.org/" rel="875,600" class="bumpbox">Search Institute</a>
                <br> Search Institute is an independent, nonprofit, nonsectarian organization whose mission is to advance the well-being of adolescents and children by generating knowledge and promoting its application. To accomplish this mission, the institute generates, synthesizes, and communicates new knowledge, convenes organizational and community leaders, and works with state and national organizations. At the heart of the institute’s work is the framework of 40 developmental assets, which are positive experiences, relationships, opportunities, and personal qualities that young people need to grow up healthy, caring, and responsible.</li>
            <li><a target="_blank" href="//www.6seconds.org/" rel="875,600" class="bumpbox">6Seconds</a>
                <br> This site includes an array of information about SEL, including upcoming educational events.</li>
            <li><a target="_blank" href="//www.servicelearning.org/" rel="875,600" class="bumpbox">National Service Learning Clearinghouse</a>
                <br> The Learn and Serve America National Service-Learning Clearinghouse (NSLC) supports the service-learning community in higher education, kindergarten through grade twelve, community-based initiatives and tribal programs, as well as all others interested in strengthening schools and communities using service-learning techniques and methodologies. Clearinghouse stands ready to assist with materials, references, referrals, and information. The Clearinghouse also maintains this website and an ever-growing library collection that is available to Learn and Serve America grantees.</li>
            <li><a target="_blank" href="//smhp.psych.ucla.edu/" rel="875,600" class="bumpbox">UCLA Center for Mental Health in Schools</a>
                <br> This site includes a rich range of information and guidelines that build bridges between education and mental health on the one hand and obstacles to learning on the other hand.</li>
        </ul>
        <p><strong>NSCC Newsletter</strong></p>
        Read more articles from NSCC newsletters on the following topics:
        <ul>
            <li><a target="_blank" href="{{'assets/pdf/teaching-and-learning/newsletter-v2i4.pdf'|theme }}">Teaching Respect</a></li>
            <li><a target="_blank" href="{{'assets/pdf/teaching-and-learning/newsletter-v3i1.pdf'|theme }}">Engaging and Motivating Students</a></li>
            <li><a target="_blank" href="{{'assets/pdf/teaching-and-learning/newsletter-v3i4.pdf'|theme }}">Connecting with students</a></li>
            <li><a target="_blank" href="{{'assets/pdf/teaching-and-learning/newsletter-v2i4.pdf'|theme }}">Service Learning</a></li>
            <li><a target="_blank" href="{{'assets/pdf/teaching-and-learning/newsletter-v4i2.pdf'|theme }}">Emotionally Responsive Classroom</a></li>
        </ul>
      </div>

      <div class="tab-pane text-style col-md-8" id="tab4">
        <h2>Interpersonal Relationships</h2>
        <p><strong id="understanding" class="largeTxt orangeTxt">Understanding</strong></p>
        <p>Interpersonal relationships are the foundation for learning and human development. As such, a great deal of the information in the “<a href="teachingandlearning.php">Teaching and Learning</a>” section is relevant to how our understandings about interpersonal relationships shapes goals and the methods or strategies that we use to actualize our goals.</p>
        <p>In our school climate research we have discovered that there are three critical aspects of interpersonal relationships:</p>
        <ul>
            <li><strong>Respect for Diversity</strong>
                <br> This aspect of relational life in school communities refers to what extent there is mutual respect for individual differences (e.g. gender, race, culture, etc.) at all levels of the school (student-student; adult-student; adult-adult) and overall norms for tolerance.</li>
            <li><strong>Social Support &mdash; Adults</strong>
                <br> This aspect of relational life in school communities refers to the pattern of supportive and caring adult relationships for students. This includes the nature of expectations for students’ success, willingness to listen to students and to get to know them as individuals, and personal concern for students’ problems.</li>
            <li><strong>Social Support &mdash; Students</strong>
                <br> This aspect of relational life in school communities refers to patterns of supportive peer relationships for students (e.g. friendships for socializing, for problems, for academic help, and for new students).</li>
        </ul>
        <p><strong id="goals" class="largeTxt orangeTxt">Goals</strong></p>
        <p>Building on the work of John Dewey, there is a growing awareness that we can and need to support healthy, safe, and engaged relationships that provide the optimal foundation for learning.</p>
        <p><strong id="strategies" class="largeTxt orangeTxt">Strategies</strong></p>
        <p>There is a range of strategies that we can use to actualize this goal: Promoting healthy, safe, and engaged relationships. These include:</p>
        <ul>
            <li><a target="_blank" href="{{'assets/pdf/interpersonal-relationships/workshop04A-ReachingEveryChild.pdf'|theme }}">Advisory programs</a>
                <br> There is a growing awareness and body of research that supports the importance of Advisory programs in Middle and sometimes Elementary and/or High schools. Advisory programs promote students feeling “connected” to responsible and caring adults. They can become a platform for personalized and meaningful social, emotional and civic learning.</li>
            <li><a target="_blank" href="{{'assets/pdf/interpersonal-relationships/workshop04B-UnderstandingDiversity.pdf'|theme }}">Working to understand, appreciate and celebrate diversity</a>
                <br> Too often, differences make students anxious and/or become a focus for bully behavior. More and more schools and districts are invested in making their school community more inclusive for all students.</li>
            <li><a target="_blank" href="{{'assets/pdf/interpersonal-relationships/workshop04C-PromotingSchool.pdf'|theme }}">Promoting school-home-community partnerships</a>
                <br> A growing body of research has shown that when educators, parents/guardians and community leaders work together, student achievement and positive youth development are dramatically enhanced. It truly does take a village to raise a child. <a target="_blank" href="{{'assets/pdf/interpersonal-relationships/schoolwide_interventions.pdf'|theme }}">Click here</a> to learn about:
                <ul>
                    <li>o Strategies that create trusting and caring relationships that promote open communication among administrators, teachers, staff, students, families, and communities</li>
                    <li>o Strategies that help to provide education and opportunities to enable families to be actively involved in their children’s academic and school life </li>
                    <li>o Strategies that foster a decision making process to promote student, family, and community engagement, academic achievement and staff empowerment</li>
                </ul>
                <p>In addition, if you can find more information to promote parent-community partnerships from NSCC newsletters, <a target="_blank" href="{{'assets/pdf/interpersonal-relationships/newsletter-v2i1.pdf'|theme }}">click here.</a></p>
            </li>
            <li><a target="_blank" href="//stressmanagementactivities.com/">Learning to recognize and helpfully manage stress and distress</a>
                <br> Stress and distress are inevitable and normal aspects of life in and outside of school. When students (and staff) appreciate the helpful and &ndash; inadvertently &ndash; unhelpful ways that we recognize and manage stress and distress, we are promoting healthy relationships that support effective learning and teaching. You can find various strategies to cope with stress <a target="_blank" href="//www.mindtools.com/pages/main/newMN_TCS.htm">here</a>.
            </li>
        </ul>
        <p><strong id="assessment" class="largeTxt orangeTxt">Assessment</strong></p>
        <p>We recommend <a href="">comprehensive school climate assessment</a> as a sound, realistic and most helpful first step in assessing the nature of interpersonal relationships in your school.</p>

        <br>
        <p><strong id="resources" class="largeTxt orangeTxt">Resources</strong></p>
        <p>Relevant Readings <a target="_blank" href="{{'assets/pdf/interpersonal-relationships/ip_readings.pdf'|theme }}"><em>(Download)</em></a>:</p>
        <ul>
            <li><em>Centers for Disease Control and Prevention. School Connectedness: Strategies for Increasing Protective Factors Among Youth.</em> Atlanta, GA: U.S. Department of Health and Human Services; 2009.</li>
            <li>Goodenow, C., &amp; Grady, K. E. (1993). The relationship of school belonging and friends’ values to academic motivation among urban adolescent students. <em>Journal of Experimental Education</em>, 62(1), 60-71.</li>
            <li>Haynes, N. M., Comer, J. P., &amp; Hamilton-Lee, M. (1989). School climate enhancement through parental involvement. <em>Journal of School Psychology</em>, 27, 87-90.</li>
            <li>Kosice, Joseph G. and Elizabeth M. Diaz (2006). The 2005 National School Climate Survey: The Experiences of Lesbian, Gay, Bisexual and Transgender Youth in Our Nation's Schools. New York: GLSEN.</li>
            <li>Lee, V. E., &amp; Smith, J. B. (1999). Social support and achievement for young adolescents in Chicago: The role of school academic press. <em>American Educational Research Journal</em>, 36, 907-945.</li>
            <li>McNeely, C. A., Nonnemaker, J. M., &amp; Blum, R. W. (2002). Promoting school connectedness: Evidence from the National Longitudinal Study of adolescent health. <em>Journal of School Health</em>, 72, 138-146. </li>
            <li>Wentzel, K. R. (1997). Student motivation in middle school: The role of perceived pedagogical caring. <em>Journal of Educational Psychology</em>, 89, 411-419.</li>
        </ul>
      </div>

      <div class="tab-pane text-style col-md-8" id="tab5">
        <h2>Parents And Families</h2>
        <p>NSCC is committed to supporting parents/guardians raising socially, emotionally and ethically healthy children.</p>
        <p>As a parent/guardian you know your child better than anyone does. Whether we mean to or not, we are always teaching our children social, emotional and civic lessons and as parents we are our children's primary social, emotional and civic teacher.</p>
        <p>For example, how we listen or how we solve problems creates models that our children learn and copy. During your child's school years, from 4 to 18 years of age, there is a series of truly extraordinary changes and developments: physically, intellectually, morally, socially and emotionally.</p>
        <p>At the National School Climate Center, we bring together experts and expert information from education, child development, mental health and research science to help you consider the range of ways that you can promote your child's ability to develop and learn socially and emotionally.</p>
      </div>

      <div class="tab-pane text-style col-md-8" id="tab6">
        <h2>Acknowledgments</h2>
        <p>Kristin Grosso and Jonathan Cohen have developed the information in this section of our web site. It builds on the research based guidelines that we have developed for the New York State Department of Education (2002), the <a target="_blank" href="//education.ohio.gov/GD/Templates/Pages/ODE/ODEDetail.aspx?page=3&amp;TopicRelationID=1287&amp;ContentID=50278&amp;Content=67719" rel="900,600" class="bumpbox">Ohio Department of Education</a> as well as the following peer reviewed papers and books:</p>
        <p>Cohen, J. (Editor) (1999). <em>Educating Minds and Hearts: Social Emotional Learning and the Passage Into Adolescence</em>. New York: Teachers College Press; and, Association for Supervision and Curriculum Development. </p>
        <p>Cohen, J. (Ed.) (2001). <em>Caring Classrooms / Intelligent Schools: The Social Emotional Education of Young Children</em>. New York: Teachers College Press.</p>
        <p>Cohen, J. (2006). Social, emotional, ethical and academic education: Creating a climate for learning, participation in democracy and well-being. <em>Harvard Educational Review</em>, <a target="_blank" href="//www.hepg.org/her/abstract/8" rel="875,600" class="bumpbox">Vol. 76, No. 2</a>, Summer, pg 201-237. </p>
        <p>Cohen, J,. McCabe, E.M, Michelli, N.M &amp; Pickeral, T. (2009). School Climate: Research, Policy, Teacher Education and Practice. <em>Teachers College Record</em>, <a target="_blank" href="//www.tcrecord.org/Content.asp?ContentId=15220" rel="875,600" class="bumpbox">Volume 111: Issue 1</a>: pp. 180-213.</p>
        <p>Devine, J. &amp; Cohen, J. (2007). <em>Making your school safe: Strategies to Protect Children and Promote Learning</em>. New York: Teachers College Press</p>
        <p>Fuchs-Nadeau, D. LaRue, C.M., Allen, J., Cohen, J., Hyman, L., (2002). The New York State <em>Interpersonal Violence Prevention Resource Guide: Stopping Youth Violence Before it Begins</em>. New York State Center for School Safety, The New York State Office of the Governor and the New York State Education Department, Albany, New York. We are also indebted to the many NSCC staff (past and present), members of the <a href="..//climate/policy.php" rel="875,600" class="bumpbox">National School Climate Council </a>and many educators, school-based mental healthprofessionals and parents that we have worked with over the years.</p>
      </div>


      </div>


      </div>
		</div>
	</div>
</div>
