{% set NewsLetters = __SELF__.newsletters %}

{% if NewsLetters.count %}

    {% for NewsLetter in NewsLetters %}

    	<div class="col-sm-4 news-letters">
        <center>
         {% if NewsLetter.news_latter_image!='' %}

             <a href="/newsletters/newsletter/{{ NewsLetter.slug }}">
                    <img class="img-responsive newslatter-img"
                    src="{{ NewsLetter.news_latter_image | media }}"
                    style="width:286px" />
             </a>

         {% endif %}
        </center>
			</div>

    {% endfor %}

{% endif %}
