{% set NewsLetters = __SELF__.newsletters %}

{% if NewsLetters.count %}

    {% for key, NewsLetter in NewsLetters %}

      {% if key==0 %}
    <div class="col-sm-12">
      <div class="col-sm-4" align="center">
        {% if NewsLetter.pdf %}
          <a target="_blank" href="{{NewsLetter.pdf | media}}">
        {% else %}
          <a  href="javascript:void(0)">
        {% endif %}
        <img src="{{ NewsLetter.news_latter_image | media }}" class="img-responsive newslatter-img" style="height:366px; width:283px;" /></a>
      </div>
      <div class="col-sm-8">
        <h2 class="mg-md">
          {% if NewsLetter.pdf %}
            <a target="_blank" href="{{NewsLetter.pdf | media}}"><b>{{NewsLetter.name}}</b></a>
          {% else %}
            <a  href="javascript:void(0)"><b>{{NewsLetter.name}}</b></a>
          {% endif %}
        </h2>

        {% if NewsLetter.content|striptags %}
        <div class="newsletter" style="border:1px solid #cccccc; padding:10px; max-width:82%;">
           {{ html_clean(NewsLetter.content) }}
        </div>
        {% endif %}

        {% if NewsLetter.pdf %}
          <p style="margin-top:10px;">
            <a class="btn btn-sm btn-primary" target="_blank" href="{{NewsLetter.pdf | media}}" title="Download PDF!">Download PDF »</a>
          </p>
        {% endif %}
      </div>
    </div>
      {% endif %}

    {% endfor %}

{% endif %}
