{% set NewsLetters = __SELF__.newsletters %}

<div class="row voffset bloc-md">
{% if NewsLetters.count %}

    {% for key, NewsLetter in NewsLetters %}

      {% if key!=0 %}
      <div class="col-sm-3" style="margin-bottom: 30px;">
        <center>
        <!--<a href="#" data-lightbox="{{ NewsLetter.news_latter_image | media }}" data-caption="{{ html_strip(NewsLetter.content) }}" >
          <img src="{{ NewsLetter.news_latter_image | media }}" class="img-responsive"  />
        </a> -->
        {% if NewsLetter.pdf %}
          <a target="_blank" href="{{NewsLetter.pdf | media}}">
        {% else %}
          <a  href="javascript:void(0)">
        {% endif %}
         <img src="{{ NewsLetter.news_latter_image | media }}" class="img-responsive newslatter-img"  /></a>

        <p class="text-center">
          {% if NewsLetter.pdf %}
            <a target="_blank" href="{{NewsLetter.pdf | media}}"><b>{{NewsLetter.name}}</b></a>
          {% else %}
            <a  href="javascript:void(0)"><b>{{NewsLetter.name}}</b></a>
          {% endif %}
        </p>
       </center>
      </div>
      {% endif %}

    {% endfor %}

{% endif %}

</div>
<div class="row text-center">

  {{NewsLetters.render|raw}}

<!--
{% if NewsLetters.lastPage > 1 %}
    <ul class="pagination">
        {% if NewsLetters.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (NewsLetters.currentPage-1) }) }}?scroll=true">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..NewsLetters.lastPage %}
            <li class="{{ NewsLetters.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}?scroll=true">{{ page }}</a>
            </li>
        {% endfor %}

        {% if NewsLetters.lastPage > NewsLetters.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (NewsLetters.currentPage+1) }) }}?scroll=true">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}

-->

</div>


{% put scripts %}

<script>
  // $(function() {
  //     var url = window.location.href;
  //
  //     if (url.search('scroll') != -1) {
  //         var top = $('#NewsLetters').offset().top - 55;
  //         $('html, body').animate({
  //             scrollTop:top
  //         }, 500);
  //     }
  // });

</script>

{% endput %}
