title = "Bully Prevention Copy"
url = "/copies/bullypreventioncopy"
layout = "default"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"
==
<style>
.bg-gray{
	margin-top: -45px !important;
}
.collapse-container{
	width: 94%;
	margin-left: 3%;

}
.collapse-header {
    border-radius: 0;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}
.bg-gr-tx-wt-bully-prevention {
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;
    min-height: 80px;
    padding: 35px;
    margin-top: -255px;
}

.collapse-header.collapsed .fa-chevron-down,
.collapse-header .fa-chevron-right {
  display: none;
}

.collapse-header.collapsed .fa-chevron-right,
.collapse-header .fa-chevron-down {
  display: inline-block;
}

i.fa {
  cursor: pointer;
  margin-right: 5px;
}
.collapse-arrow{
	height:25px;
}

</style>
<!-- bloc-26 -->
<div class=" tc-white bgc-white b-parallax header-banner" id="bloc-26" style="max-height: 320px;
    overflow: hidden;">
	<div class="container" style="padding: 0;">
	 <img src="{{'assets/includes/img/bully-prevention-header-min-1.jpg'|theme }}" style="width:100%;" />
		<div class="row">
			<div class="col-sm-12">
				<div class=" col-sm-12 lg-shadow bg-gr-tx-wt-bully-prevention">
<!--                     <h1 class="mg-md text-center lg-shadow">
    <b>Bully Prevention</b>
</h1> -->
					<p>
					</p>
			  </div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-26 END -->


<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
						<div class="col-lg-12 collapse-container">
						    					<h1 class="mg-md text-center lg-shadow">
						<b>Bully Prevention</b>
					</h1>
										<center><img class="img-responsive" src="{{'assets/includes/img/bully-prevention-icon-120.png'|theme }}" />
										</center><br>
											<div class="collapse-header active" style="background:#99def9;" data-target="#info-1">
												
												The EYES Initiative: A Comprehensive Approach to Address Bias and Bullying (Bully Prevention at Scale) <i class="fa fa-fw fa-chevron-right pull-right collapse-chevron-show"></i>
											</div>
											<div id="info-1" class="collapse in">
												<h3 style="text-align:center;"><b>Empowering Youth Engaging School (EYES)</b></h3>
												<p>The <b>Empowering Youth Engaging School (EYES)</b> Initiative supports school leaders in effectively addressing bias, bullying, and other hurtful behaviors within their buildings and school communities. This three-year initiative engages and empowers youth and communities to create safer schools by recognizing and reducing bias-based bullying behaviors.</p>
												<p><b>EYES</b> represents the culmination of a three-year pilot in five Illinois middle schools that led to significant decreases in student perceptions of bullying perpetration and victimization, meaningful decreases in bullying victimization, and sustained or improved school climate over the course of the project period.</p>
												<p>Beginning in Spring 2018, NSCC will partner with <b>Facing History and Ourselves</b> to implement the <b>EYES Initiative</b>. We are looking to scale EYES implementation nationally over the next few years.</p>
												<p><b>The EYES initiative directly addresses bias-based bullying by:</b></p>
												<ul>
													<li>Partnering with <b>Facing History and Ourselves</b> to develop and integrate evidence-based curricula for social studies, humanities, and language arts courses</li>
													<li>Targeting adolescents’ academic skills, empathy, tolerance, and agency</li>
													<li>Building school improvement supports across all layers of school</li>
												</ul>
												
												<div class="pull-right">
												<img class="img-responsive" style="width: 155px; margin-top: -33px;" src="{{'assets/includes/img/empowering-youth-engaging.jpeg'|theme }}" />
											</div>
											
											<br><br><br>
											
											<ul style=" list-style-type:none">	<b> To Learn more, please contact us education@schoolclimate.org</b></ul>
										
											<p style="clear:both;"></p>
											</div>


											<div class="collapse-header collapsed" style="background:#b3e7fa;" data-target="#info-2">
												
												Professional Development: Build Capacity and Increase Impact (Customized Support) <i class="fa fa-fw fa-chevron-down pull-right collapse-chevron-show"></i></div>
											<div id="info-2" class="collapse">
												<h3 style="text-align:center;"><b>Professional Development: Build Capacity and Increase Impact</b></h3>
												<p><span> Bullying is one of the most common findings emerging from school climate survey data. Students report feeling significantly less socially and physically safe than adults realize.  NSCC provides professional development sessions for school and district leaders to increase knowledge and skillsets to effectively address bullying behaviors and promote upstander behaviors. Trainings are grounded in NSCC’s comprehensive approach to school climate improvement. As part of this package, school and district leaders work with NSCC staff who provide support by doing the following:</span></p>
												<ul>
													<li><span>Raising awareness on what is bullying behavior (spectrum of mean and cruel behaviors), the role power imbalances play in bullying, and how to recognize it</span></li>
													<li><span>Identifying strategies to intervene when bullying incidents occur and ways to prevent them, such as restorative, trauma-informed, as well as social and emotional practices</span></li>
													<li><span>Reviewing the school’s code of conduct, norms, and agreements</span></li>
													<li><span>Supporting adults in empowering students to take a leadership role in anti-bullying efforts</span></li>

												</ul>

												<p>To learn more, please contact us <a href="mailto:education@schoolclimate.org">education@schoolclimate.org</a> </p>

											</div>

<!--                                             <div class="collapse-header collapsed" data-target="#info-3" style="background:#cceffc;">

The School Climate Resource Center <i class="fa fa-fw fa-chevron-down pull-right collapse-chevron-show"></i></div>
<div id="info-3" class="collapse">
    <h3 style="text-align:center;"><b>The School Climate Resource Center</b></h3>
    <p>The School Climate Resource Center is an interactive online learning environment supporting education leaders and their school communities’ as they implement NSCC’s services. It facilitates educators’ capacity to build expertise in creating and maintaining positive school climates, and contains a wealth of resources that support educators in addressing bullying. This includes:</p>
                            <ul>
                                    <li><b>Case Studies</b> containing best practices and key learnings in school climate improvement and bully prevention efforts. Relevant topics include: social-emotional security, physical safety, student and community engagement, and leadership development.</li>
                                    <li>The <b>Beyond Bullying Learning Module</b> provides content and resources that support schools in addressing bullying behaviors. Topics covered include understanding the impact of bullying behaviors, evaluation approaches and engaging students, action- planning at the whole-school and classroom levels, supporting vulnerable student groups, and sustaining efforts over time. </li>
                            </ul>
                            <p>To learn more, visit <a href="/resource-center">https://www.schoolclimate.org/resource-center</a></p>


                            <p style="text-align:right"> Sample Resources from NSCC's Beyond Bullying Learning Module.
                            <br> <a href="/storage/app/media/PDF/Classroom-LevelActionSteps.pdf">Classroom Level Action Steps</a>
                            <br> <a href="/storage/app/media/PDF/StudentSelf-ManagementProtocols.pdf">Student Protocols</a>
                            </p>
</div> -->


								<div class="collapse-header collapsed" style="background:#e6f7fd;"  data-target="#info-4">
									Breaking the Bully-Victim-Bystander Cycle Tool Kit (Low Cost, Self-Paced) <i class="fa fa-fw fa-chevron-down pull-right collapse-chevron-show"></i></div>
								<div id="info-4" class="collapse">
									<h3 style="text-align:center;"><b>Breaking the Bully-Victim-Bystander Cycle Tool Kit</b></h3>
									<p>
							The <b>Breaking the Bully-Victim-Bystander Cycle Tool Kit</b> is designed to support students, educators, parents, and community members in their efforts to prevent bully-victim behavior and promote a community of Upstanders.  This Tool Kit provides practical, comprehensive facilitation resources to create safe, supportive schools. It has been used by schools, districts, school networks, and State Departments of Education across the country. Its resources are organized around following themes: <br>
											<!-- {#<img  style="float:right; padding:5%;" class="img-responsive"  src="http://new.schoolclimate.org/storage/app/media/images/Grad_girl.jpg" width="45%">#} -->
											<div >
												<ol>
														<li><b>Understand</b> what a comprehensive bully prevention and upstander effort means, and why it is important</li>
														<li><b>Create</b> a shared vision for the type of school community that you would like to be</li>
														<img style="margin-top: -45px;float:right;padding: 0% 5%;height: 255px;width: auto;" class="img-responsive" src="{{'assets/includes/img/toolkit.jpg'|theme }}" width="45%">
														<li><b>Build</b> trusting and collaborative team relationships to lay the foundation for your efforts</li>
														<li><b>Assess</b> your school’s current strengths and areas for improvement</li>
														<li><b>Consider</b> essential leadership questions</li>
														<li><b>Teach and learn</b> with students in classrooms, morning meetings, advisories, and other small group experiences</li>
														<li><b>Engage</b> diverse stakeholder groups and support school-home-community partnerships</li>
														<li><b>Sustain</b> your efforts over time</li>
												</ol>
												For an order size of 1-9 copies: $90 each copy plus shipping and handling <br>
												For an order size of 10 more copies: $50 each copy plus shipping and handling <br><br>
												To order your copy today, please contact <a href="mailto:education@schoolclimate.org">education@schoolclimate.org</a>

											</div>

									</p>
								</div>


								<div class="collapse-header collapsed" data-target="#info-5" style="background:#ffffff; border: 1px solid #60c8f3;">
									
									BullyBust: Promoting a Community of Upstanders (Free) <i class="fa fa-fw fa-chevron-down pull-right collapse-chevron-show"></i></div>
								<div id="info-5" class="collapse">
									<h3 style="text-align:center;"><b>BullyBust: Promoting a Community of Upstanders</b></h3>
									<p>
											The National School Climate Center's <b>BullyBust: Promoting a Community of Upstanders</b> is a nationwide campaign that has reached 4,500 schools.  <b>BullyBust</b> provides free supports to schools to help students and adults become part of the solution to end harmful harassment, teasing, and violence in our nation's schools. The <b>BullyBust website gives</b> schools access to videos and concrete, research-based resources that educate adults and youth on how to take a stand against bullying and create a positive community of Upstanders&mdash;people who recognize when bullying occurs and safely act to address the situation. Through <b>BullyBust</b>, schools can do the following:
									</p>
									<div class="col-sm-12">
										 <ul>
												 <li style="">Join the <a href="https://www.bullybust.org/educators/partner-schools">Partner School Program</a> and access free classroom-based and school-wide tool kits, resources, and guided activities to educate the entire community on effective bully prevention steps.</li>
												 <li style="">Connect with a global community of supporters through the <a href="https://bullybust.org/students/commitment-wall">Upstander Commitment Wall</a> and <a href="https://bullybust.org/students/pledge">Stand Up Pledge</a></li>
												 <li style="">Empower youth with the <a href="https://bullybust.org/students/upstander">10 Ways to Be An Upstander Tips</a></li>
												 <li style="">Gain access to <a href="https://bullybust.org/educators/activities">classroom activities</a>, <a href="http://bullybust.org/upstander/video-resources">video resources</a>, and <a href="http://bullybust.org/upstander/resources">upstander projects</a> to keep your community positively engaged all year long! </li>
										 </ul>

									</div>
									<p>Join the nationwide BullyBust community to make your voice count!  <br>
									<a href="https://www.bullybust.org/">https://www.bullybust.org/</a></p>

								</div>

					</div>

				</div>


			</div>
	</div>
</div>
</div>

{% put scripts %}
<script>
//  $(function(){

// 	 $('#MainMenu li').not("#FAQSubMenu li").click(function(){
//  	 		$("#FAQSubMenu li").removeClass('active');
// 			$('.tab-pane').hide();

// 			var activeTab = $(this).children('a').attr('href');
// 			$(activeTab).show();

// 			divScrollTop(activeTab);
// 	 });

// 	 $('#MainMenu li').not("#FAQProcessSubMenu li").click(function(){
// 				$("#FAQProcessSubMenu li").removeClass('active');
// 			$('.tab-pane').hide();
// 			var activeTab = $(this).children('a').attr('href');
// 			$(activeTab).show();

// 			divScrollTop(activeTab);
// 	 });


// 	 $("#FAQSubMenu li").click(function(){
// 		 	$('#MainMenu li').not("#FAQSubMenu li").removeClass('active');
// 			$('.FAQMenu').addClass('active');
// 			$('.tab-pane').hide();
// 			var activeTab = $(this).children('a').attr('href');
// 			$(activeTab).show();

// 			divScrollTop(activeTab);
// 	 });


// 	 $("#FAQProcessSubMenu li").click(function(){
// 			$('#MainMenu li').not("#FAQProcessSubMenu li").removeClass('active');
// 			$('.FAQProcess').addClass('active');
// 			$('.tab-pane').hide();
// 			var activeTab = $(this).children('a').attr('href');
// 			$(activeTab).show();

// 			divScrollTop(activeTab);
// 	 });


//  });

//  function showTabContent(activeTab)
//  {
//     $('.tab-pane').hide();
//     $(activeTab).show();
//  }




// </script>


<script>

    $(function () {
    $(".tab-content1").hide().first().show();
    $(".inner-nav li:first").addClass("active");

    $(".inner-nav a").on('click', function (e) {
        e.preventDefault();
        $(this).closest('li').addClass("active").siblings().removeClass("active");
        $($(this).attr('href')).show().siblings('.tab-content1').hide();
    });

    var hash = $.trim( window.location.hash );

    if (hash) $('.inner-nav a[href$="'+hash+'"]').trigger('click');

});


</script>

<script>
    $(function () {
    $(".tab-content1").hide().first().show();
    $(".inner-nav li:first").addClass("active");

    $(".inner-nav a").on('click', function (e) {
        e.preventDefault();
        $(this).closest('li').addClass("active").siblings().removeClass("active");
        $($(this).attr('href')).show().siblings('.tab-content1').hide();
    });

    var hash = $.trim( window.location.hash );

    if (hash) $('.inner-nav a[href$="'+hash+'"]').trigger('click');

});
</script>

{% endput %}