title = "Donatecopy"
url = "/copies/donatecopy"
layout = "default"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"
==
<?php
function onStart()
{
  $donationAmount = [
                [
                  'amount' => '50',
                  'text'  => 'Friend',
                ],
                [
                  'amount' => '100',
                  'text'  => 'Friend',
                ],
								[
                  'amount' => '500',
                  'text'  => 'Patron',
                ],
								[
                  'amount' => '1000',
                  'text'  => 'Mentor',
                ],
								[
                  'amount' => '2000',
                  'text'  => 'Producer',
                ],
								[
                  'amount' => '5000',
                  'text'  => 'Publisher',
                ],
								[
                  'amount' => '10000',
                  'text'  => 'Principal',
                ],
                [
                  'amount' => 'other',
                  'text'  => 'Principal',
                ]
              ];

              $believers = [
                            [
                              'title' => 'The Altschul Foundation',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'David Becker',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'The Derfner Foundation',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'Einhorn Family Charitable Trust',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'Barbara Eisold',
                              'image' => '',
                              'link' => '',
                            ],                            
                            [
                              'title' => 'Elizabeth and Mark Epley',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'Facebook',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'Harvey L. Miller Family Foundation',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'Michael Herskovitz',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'Ralph E. Ogden Family Foundation',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'Gerald Rothstein',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'Special Olympics Unified Champion Schools',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'Statue Foundation',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'WICKED',
                              'image' => '',
                              'link' => '',
                            ],
                            [
                              'title' => 'Winston Preparatory School / Schools for Learning Disabilities',
                              'image' => '',
                              'link' => '',
                            ]
                          ];

            $this['believers'] = $believers;
            $this['donationAmount'] = $donationAmount;

}
?>
==
<div class="bloc bg-banner-donation tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
				    <h3 class="mg-md text-center lg-shadow ">
				        Help us create schools where <span class="orangeTxt">all students</span> thrive.

					   <!--  With your support,  we can truly <br> make lasting <span class="orangeTxt">change</span> together. -->
				    </h3>
			    </div>
			</div>
		</div>
	</div>
</div>


<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">
          <nav class="nav-sidebar" style="padding-top:0px;">
        		<ul class="nav-tab-2 nav tabs" id="MainMenu">
									<li class="active" style="margin-top:0px;"><a href="#donatetab" data-toggle="tab">Donate</a></li>
                  <li style="margin-top:0px;"><a href="#tab1" data-toggle="tab">Ways to Give</a></li>
                  <!-- <li class="" ><a href="#tab2" data-toggle="tab">Annual Fund</a></li> -->
                  <li class=""><a href="#tab3" data-toggle="tab">Get Involved</a></li>
                  <li class=""><a href="#believers" data-toggle="tab">Believers</a></li>
                  <li class="btn btn-bright-cerulean pulse-hvr animated" style="max-width:85%; font-weight:bold; padding:0px; margin-left:15px;margin-top:10px;"><a href="/about/contact-us?p=7" class="" style="color:#FFF;">Contact Us</a></li>
        		</ul>
        	</nav>
        </div>

        <!-- tab content -->
        <div class="tab-content tab-content-1 col-sm-9" style="padding-top:0px;">

            <div class="tab-pane text-style" id="tab2">
                <h2 style="margin-top:0px;"><b>Annual Fund</b></h2>
                    <p>Give to NSCC every year, help schools everyday.</p>
                    <p>When you give to NSCC, you are helping schools in need get the valuable support, skills, and resources they need to make their school or school district an optimal place for children to grow.</p>
                    <p>We are a 501 C-3 registered not for profit that works closely with schools as well as with local and state school districts nationally to promote a safe, caring and supportive school climate. We do this through a variety of ways including measurement, training and planning support. This work is supported by dedicated friends like you who share our commitment to educational quality.</p>
            <hr>
                <div align="center">
                    <a href="/donation" class="btn btn-lg btn-primary">Donate Today</a>
                </div>
          </div>
        <!-- tab content -->

          <div class="tab-pane active" id="donatetab">

            <div class="row">
              <div class="col-sm-12">
                  <h2 style="margin-top:0px;"><b>Give to NSCC every year, improve education every day.</b></h2>
                  <p class="donation-msg">
                    Each year NSCC works with hundreds of schools to measure and improve their climates for learning. NSCC has helped thousands of students feel safer and more supported in and around their schools.
                    Our programs help schools reduce bullying, lower dropout rates, and improve academic achievement though a positive school climate.                      <img class="img-responsive" style="float:right;"  src="{{'assets/includes/img/CapacityForGrowth_wide.jpg'|theme }}" />
                  </p>

              </div>
            </div>

						{% component 'Stripecomponent' %}
					</div>


          <div class="tab-pane text-style" id="tab1">
                <h2 style="margin-top:0px;"><b>Ways to Give</b>
                </h2>
                     <div class="contentHighlight-A col-sm-12">
                          <div class="col-sm-2" style="padding:0px;">
                                <a href="http://smile.amazon.com/ch/13-3974819" target="_blank">
                                  <img class="img-responsive img-bordered" src="{{'assets/includes/img/amazonsmile_sm.jpg'|theme }}" />
                               <!-- <img class="img-responsive " src="{{'assets/includes/img/amazonsmile3.jpg'|theme }}" /> -->
                                </a>
                      </div>
                      <div class="col-sm-10">
                                <strong class="largeTxt"><a href="http://smile.amazon.com/ch/13-3974819" target="_blank">National School Climate Center Amazon Smile</a></strong><br>
                            Support NSCC simply by doing your shopping online with AmazonSmile! Every time you shop on Amazon through our designated link, a portion of the purchase amount is donated by Amazon to support our mission.
                      </div>
                    </div>
                <div class="contentHighlight-A col-sm-12">
                  <div class="col-sm-2" style="padding:0px;">
                    <a href="http://www.igive.com/welcome/" target="_blank">
                      <img class="img-responsive img-bordered" src="{{'assets/includes/img/thumb-igive.jpg'|theme }}" />
                    </a>
                  </div>
                  <div class="col-sm-10">
                    <strong class="largeTxt"><a href="http://www.igive.com/welcome/" target="_blank">Shop for a Cause</a></strong><br>
                    NSCC participates in iGive, a program that allows you to shop at popular stores online and have a portion of your online purchase proceeds go to NSCC. This program is free to both you and NSCC. If you do a lot of online shopping or if you know someone who does - go to www.igive.com and register to make NSCC your online recipient today!
                  </div>
                </div>
                <br>
                <h4 class="orangeTxt">Gifts by Check</h4>
                    <p>Cash contributions entitle you to a tax deduction for the amount of the gift. To make a gift by check, please make your check payable to NSCC and mail to:</p>
                    <p>National School Climate Center,<br>341 West 38th Street, 9th Floor,<br> New York, NY 10018</p>
                    <hr />
                <h4 class="orangeTxt">Gifts of Securities</h4>
                    <p>Merrill Lynch<br /> 717 5th Avenue, 7th floor, <br>New York, NY 10022<br/> Acct# 847-03138</p>
                    <p>To assure proper transfer of your stock, please notify:</p>
                <p>NSCC&rsquo;s Development Director, <br> Susan Gentile <br />212-707-8799 ext. 27 <br>Email: <a href="mailto:sgentile@schoolclimate.org"> sgentile@schoolclimate.org</a></p>
                <hr />
                <h4 class="orangeTxt">Gifts by Wire Transfer / EBT</h4>
                    <p>NSCC accepts funds by wire or EBT. Please contact our Development Director for routing information.</p>
                    <p>National School Climate Center,<br> Susan Gentile <br> 212-707-8799 ext. 27 <br>Email:<a href="mailto:sgentile@schoolclimate.org"> sgentile@schoolclimate.org</a></p>
                    <hr />
                <h4 class="orangeTxt">Gifts in Kind</h4>
                    <p>To make a gift of goods or services, please contact:</p>
                    <p>NSCC&rsquo;s Development Director,<br>Susan Gentile<br> 212-707-8799 ext. 27<br>Email: <a href="mailto:sgentile@schoolclimate.org"> sgentile@schoolclimate.org</a></p>
                    <p><small><em>The National School Climate Center is a 501 (c)(3) recognized charity. NSCC&rsquo;s Tax ID number for your charitable contribution deduction is 13-3974819. Upon receipt of your donation or transfer, you will receive an official acknowledgement from NSCC for your records.</em></small></p>

                    <div class="contentHighlight-A col-sm-12">
                      <div class="col-sm-2" style="padding:0px;">
                        <a href="https://greatnonprofits.org/organizations/view/national-school-climate-center/page:2" target="_blank">
                          <img class="img-responsive img-bordered" src="{{'assets/images/2017-top-rated-awards-badge.png'|theme }}" />
                        </a>
                      </div>
                      <div class="col-sm-10">
                          <strong class="largeTxt"><a href="https://greatnonprofits.org/org/national-school-climate-center" target="_blank">2017 Great Nonprofit Award</a></strong><br>
                          Visit our Great Nonprofits page. We have 93 stories from volunteers, donors. and supporters.
                      </div>
                    </div>
          </div>

          <!-- believers -->
          <div class="tab-pane text-style" id="believers">
              <p>We are always thankful for individuals and organizations who believe in NSCC's mission and support our work and continuous learning.   We'd like to extend a special recognition to those who have made gifts of $10,000 or more so far this year.  If you would like to join our Believers,  you can donate  <a href="/donation">here</a> or email <a href="mailto:sgentile@schoolclimate.org"> sgentile@schoolclimate.org</a>.</p>
            <h2 style="margin-top:0px;"><b>Believers</b></h2>
            {% for key , believer in believers %}
            <p>
              {{ believer['title'] }}
            </p>
            {% endfor %}
          </div>
          <!-- believers END -->

          <!-- tab content -->
          <div class="tab-pane text-style" id="tab3">
            <h2 style="margin-top:0px;"><b>Get Involved</b></h2>
            <br>

            <div class="contentHighlight-A col-sm-12">

              <div class="col-sm-2" style="padding:0px;">
                <a href="mailto:info@schoolclimate.org">
                  <img class="img-responsive img-bordered" src="{{'assets/includes/img/thumb-hands.jpg'|theme }}" />
                </a>
              </div>
              <div class="col-sm-10">
                <strong class="largeTxt"><a href="mailto:info@schoolclimate.org">Volunteer</a></strong><br>
                If you're interested in volunteering with NSCC, please email us.<br>
                <a href="mailto:info@schoolclimate.org">info@schoolclimate.org</a>
              </div>
            </div>

{#            <div class="contentHighlight-A col-sm-12">

              <div class="col-sm-2" style="padding:0px;">
                <a href="http://smile.amazon.com/ch/13-3974819" target="_blank">
                  <img class="img-responsive img-bordered" src="{{'assets/includes/img/amazonsmile_sm.jpg'|theme }}" />
                </a>
              </div>
              <div class="col-sm-10">
                <strong class="largeTxt"><a href="http://smile.amazon.com/ch/13-3974819" target="_blank">National School Climate Center Amazon Smile</a></strong><br>
                The difference is that when customers shop on AmazonSmile (smile.amazon.com), the AmazonSmile Foundation will donate 0.5% of the price of eligible purchases to the charitable organizations selected by customers.
              </div>

            </div>#}



            <div class="contentHighlight-A col-sm-12">

              <div class="col-sm-4" align="center">
                <a href="https://twitter.com/school_climate" target="_blank">
                  <img class="img-responsive img-bordered-noMar" src="{{'assets/includes/img/twitter.jpg'|theme }}" />
                </a>

                <p align="center">
                  <a href="https://twitter.com/school_climate" target="_blank">
                    <b>Twitter</b>
                  </a>
                </p>

              </div>

              <div class="col-sm-4" align="center">
                <a href="http://www.facebook.com/group.php?gid=6468747638&refurl=http%3A//www.new.facebook.com/s.php?ref=search&init=q&q=education&k=200000010&sf=t" target="_blank">
                  <img class="img-responsive img-bordered-noMar" src="{{'assets/includes/img/thumb-facebook.jpg'|theme }}" />
                </a>

                <p align="center">
                  <a href="http://www.facebook.com/group.php?gid=6468747638&refurl=http%3A//www.new.facebook.com/s.php?ref=search&init=q&q=education&k=200000010&sf=t" target="_blank">
                    <b>Facebook</b>
                  </a>
                </p>
              </div>

              <div class="col-sm-4" align="center">
                <a href="http://www.linkedin.com/groups?about=&gid=56182&trk=anet_ug_grppro" target="_blank">
                  <img class="img-responsive img-bordered-noMar" src="{{'assets/includes/img/thumb-linkedin.jpg'|theme }}" />
                </a>

                <p align="center">
                  <a href="http://www.linkedin.com/groups?about=&gid=56182&trk=anet_ug_grppro" target="_blank">
                    <b>Linkedin</b>
                  </a>
                </p>
              </div>

            </div>

          </div>

        </div>
  		</div>
  	</div>
  </div>
</div>

{% put scripts %}
<script>
 $(function(){

	 $('#MainMenu li').not("#SubMenu li").click(function(){
 	 		$("#SubMenu li").removeClass('active');
			$('.tab-pane').hide();
			var activeTab = $(this).children('a').attr('href');
			$(activeTab).show();
	 });

	 $("#SubMenu li").click(function(){
		 	$('#MainMenu li').not("#SubMenu li").removeClass('active');
			$('.EdServices').addClass('active');
			$('.tab-pane').hide();
			var activeTab = $(this).children('a').attr('href');
			$(activeTab).show();

	 });

 });
</script>
{% endput %}