title = "eventscopy"
url = "/copies/eventscopy"
layout = "default"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"
==
{% put scripts %}
    <script type="text/javascript" src="/themes/schoolclimate/assets/includes/js/lazysizes.min.js"></script>

{% endput %}



<style>
    

    
    
    .thumbScroll{
    
height:490px;

overflow-y:scroll;
}
    
    
.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:32px;
	width:50px;
	height:50px;
	margin-left:-25px;
	border-radius: 50%;
	background:rgba(0,0,0,.6);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	animation-fill-mode:none;
}
#lightbox-modal{
	display: flex;
	align-items: center;
}
#lightbox-modal .modal-dialog{
	width:90%;
	max-width:900px;
	margin:0 auto 0;
}
#lightbox-modal .modal-dialog img{
	max-height:90vh;
	margin: 0 auto;
}
.lightbox-caption{
	padding: 20px;
	color: #FFF;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 5px;
}
.close-lightbox{
	display: none;
	font-size: 40px;
	position: absolute;
	top:8px;
	right:20px;
	z-index: 20;
}
.next-lightbox, .prev-lightbox{
	font-size:20px;
	color:rgba(0,0,0,.4);
	transition: all .2s ease-in-out;
	position: absolute;
	top:50%;
	z-index:1;
}
.next-lightbox{
	right:25px;
}
.prev-lightbox{
	left:25px;
}
.prev-lightbox:hover, .next-lightbox:hover{
	color:rgba(25,55,255);
}

/* = Custom Styling

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</style>

<!-- bloc-34 -->
<div class="bloc bloc-contact bg-csee-events bgc-white l-bloc header-banner" id="bloc-34">
	<div class="container bloc-md">
		<div class="row" style="padding:50px 0px;">
			<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center" style="margin-bottom:0px;">
				<h1 class="mg-md tc-white-2 text-center lg-shadow">
					Our Events
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-34 END -->

<!-- bloc-34 -->
<div class="bloc  bgc-white" id="bloc-34">
	<div class="container bloc-md">
	    
<!--                 <div class="row">
            <div class="col-xs-12 col-md-12">

                <div class="col-md-12">
<h2 style="text-align:center; font-weight:bold;">Events Listing</h2>
    <h2 style="text-align:center; font-weight:bold;">Upcoming Events</h2>

{#<div class="contentHighlight-A">#}
{#<h3  style="text-align:center;">New Events Coming Soon!</h3>#}

{#<p> <a  href=https://www.eventbrite.com/e/why-school-climate-matters-now-creating-safer-schools-tickets-39663647036 class="btn  btn-lapis-lazuli  btn-md learn_more_lazuli">Get your tickets here! </a></p>#}
{#</div>#}

<div class="col-md-12 contentHighlight-A">
                <div class="col-md-6">
<h2 style="text-align:center; font-weight:bold;">Events Listing</h2>

    
    <div class="contentHighlight-A">
    <div style="   
    padding: 15px;">
                            <p align="center"><img class="img-responsive" src="{{'assets/includes/img/segregation_Effects.jpeg'|theme }}" /></p>
                            
                            
                    
                    <h4><b>How segregation has changed today’s schools with Richard Rothstein, <i>author of The Color of Law</i></b></h4>
<p>Jessica Tarlov of Fox News moderates this important discussion with CEO, Whitney Allgood PhD.<br><br>

Save The Date, March 22nd, 2018

<br>
Location TBD</p>
{#<p> <a  href=https://www.eventbrite.com/e/why-school-climate-matters-now-creating-safer-schools-tickets-39663647036 class="btn  btn-lapis-lazuli  btn-md learn_more_lazuli">Get your tickets here! </a></p>#}
</div>
                </div>
Contact Form END
Address START
                    <div class="col-md-6">
                        <p>
                        <h3>Email</h3>
                            <a href="mailto:info@schoolclimate.org">info@schoolclimate.org</a>
                        <h3>Phone</h3>
                        <a href="tel:2127078799">(212)707-8799</a>
                        </p>
                        <h3>Event Address</h3>
                        <p>TBD</p>
                        {#<p> Hotel Grand Union <br>#}
                        {#    34 E 32nd St<br />#}
                        {#    New York, NY 10016#}
                        {#</p>            #}
                        {#<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.7273453849602!2d-73.98549508412768!3d40.74602467932822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a81c9ae4cb%3A0x867c2693d478fb22!2sHGU+A+New+York+Hotel!5e0!3m2!1sen!2sus!4v1511371219922" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>#}
                    </div>
Address END
bloc-34 END


            </div>

                </div>
Contact Form END
Address START

Address END
bloc-34 END


            </div>
        </div>
        
        
        <br><br> -->
	    
		<div class="row">
			<div class="col-xs-12 col-md-12">

	<h2 style="text-align:center; font-weight:bold;">Previous Events</h2>
	<div class="col-md-12 contentHighlight-A">
				<div class="col-md-6">
<!--     <h2 style="text-align:center; font-weight:bold;">Events Listing</h2> -->

	
	<!-- 
	<div class="contentHighlight-A"> -->
	<div style="   
    padding: 15px;">
    						<p align="center"><img class="img-responsive" src="{{'assets/includes/img/BEN.png'|theme }}" /></p>
    						
    						
                    
                    <h4><b>Board Event Sample Title</b></h4>
<p>Board Sample Text<br><br>
</p>
{#<p> <a  href=https://www.eventbrite.com/e/why-school-climate-matters-now-creating-safer-schools-tickets-39663647036 class="btn  btn-lapis-lazuli  btn-md learn_more_lazuli">Get your tickets here! </a></p>#}
</div>
				</div>
<!-- Contact Form END -->
<!-- Address START -->
                	<h2 style="text-align:center; font-weight:bold;">Gallery</h2>
          <div class="col-sm-6 thumbScroll">
              
              
					{#<div class="col-md-6">#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide01.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide01.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide02.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide02.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide03.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide03.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide04.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide04.jpg'|theme }}"></a> #}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide05.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide05.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide06.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide06.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide07.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide07.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide08.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide08.jpg'|theme }}"></a> #}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide09.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide09.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide10.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide10.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide11.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide11.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide12.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide12.jpg'|theme }}"></a> #}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide13.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide13.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide14.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide14.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide15.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide15.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide16.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide16.jpg'|theme }}"></a> #}
					{#    <a target="_blank" href="{{'assets/includes/img/SCSlide17.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide01.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide18.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide18.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide19.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide19.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide20.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide20.jpg'|theme }}"></a> #}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide21.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide21.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide22.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide22.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide23.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide23.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide24.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide24.jpg'|theme }}"></a> #}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide25.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide25.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide26.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide26.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide27.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide27.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide28.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide28.jpg'|theme }}"></a> #}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide29.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide29.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide30.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide30.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide31.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide31.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide32.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide32.jpg'|theme }}"></a>#}

					{#</div>#}
					
					
			<div class="row voffset">
		    			    


			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6806-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6806-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A6806-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>


			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6815-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6815-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A6815-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6817-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6817-min.JPG'|theme }}"
				data-src="{{'assets/includes/img/8G4A6817-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
	
			</div>
			
			
			
			
			
	<div class="row voffset">
		
		


			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6830-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6830-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A6830-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
					<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6837-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6837-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A6837-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>

						
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6838-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6838-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A6838-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>		

		
			</div>
	<div class="row voffset">
		
		
		
		
	


			
			

			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6847-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6847-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A6847-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>				
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6897-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6897-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A6897-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			

			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6910-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6910-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A6910-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
				</div>





	<div class="row voffset">
			
								<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6890-min1.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6890-min1.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A6890-min1.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6914-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6914-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A6914-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6921-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6921-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A6921-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>

			
	
			
			
						
	</div>
	

	
			<div class="row voffset">
			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6964-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6964-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A6964-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6986-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6986-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A6986-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A6994-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A6994-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A6994-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			

			
			
						
	</div>
	
		
	
	
					<div class="row voffset">
			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7003-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7003-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7003-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
		<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7004-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7004-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7004-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7008-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7008-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A7008-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
						
	</div>
	
						<div class="row voffset">
			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7015-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7015-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7015-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			

						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7029-crop-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7029-crop-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7029-crop-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
		<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7031-min2.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7031-min2.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7031-min2.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>

			
			
						
	</div>
	
						<div class="row voffset">
			
			

			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7034-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7034-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A7034-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7035-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7035-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7035-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
		<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7041-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7041-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7041-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			</div>

							
							
								<div class="row voffset">
			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7058-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7058-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7058-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
		<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7061-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7061-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7061-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7067-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7067-min.JPG'|theme }}" data-src="{{'assets/includes/img/8G4A7067-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
	
			
			
	
			
						
	</div>
	
	
									<div class="row voffset">
			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7079-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7079-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7079-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
		<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/8G4A7093-min.JPG'|theme }}" data-gallery-id="gallery-3"><img src="{{'assets/includes/img/8G4A7093-min.JPG'|theme }}" 
				data-src="{{'assets/includes/img/8G4A7093-min.JPG'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			

			
			
	
			
			
	
			
						
	</div>
	
	
	
	
	</div>
	</div>
	
	
	
	

<!-- Address END -->
<!-- bloc-34 END -->


	
	
<div class="col-md-12 contentHighlight-A">
				<div class="col-md-6">
<!--     <h2 style="text-align:center; font-weight:bold;">Events Listing</h2> -->

	
	<!-- 
	<div class="contentHighlight-A"> -->
	<div style="   
    padding: 15px;">
    						<p align="center"><img class="img-responsive" src="{{'assets/includes/img/Events_Oprah_1.jpeg'|theme }}" /></p>
    						
    						
                    
                    <h4><b>Why School Climate Matters Now, a discussion with Dr. Dorothy Espelage.</b></h4>
<p>Meet our new CEO, Whitney Allgood, PhD and join the conversation over delicious hors d’oeuvres and cocktails at the HGU- Hotel Grand Union-34 E 32nd St, New York, NY 10016<br><br>
</p>
{#<p> <a  href=https://www.eventbrite.com/e/why-school-climate-matters-now-creating-safer-schools-tickets-39663647036 class="btn  btn-lapis-lazuli  btn-md learn_more_lazuli">Get your tickets here! </a></p>#}
</div>
				</div>
<!-- Contact Form END -->
<!-- Address START -->
                	<h2 style="text-align:center; font-weight:bold;">Gallery</h2>
          <div class="col-sm-6 thumbScroll">
              
              
					{#<div class="col-md-6">#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide01.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide01.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide02.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide02.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide03.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide03.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide04.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide04.jpg'|theme }}"></a> #}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide05.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide05.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide06.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide06.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide07.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide07.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide08.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide08.jpg'|theme }}"></a> #}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide09.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide09.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide10.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide10.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide11.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide11.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide12.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide12.jpg'|theme }}"></a> #}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide13.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide13.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide14.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide14.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide15.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide15.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide16.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide16.jpg'|theme }}"></a> #}
					{#    <a target="_blank" href="{{'assets/includes/img/SCSlide17.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide01.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide18.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide18.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide19.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide19.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide20.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide20.jpg'|theme }}"></a> #}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide21.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide21.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide22.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide22.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide23.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide23.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide24.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide24.jpg'|theme }}"></a> #}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide25.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide25.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide26.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide26.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide27.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide27.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide28.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide28.jpg'|theme }}"></a> #}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide29.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide29.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide30.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/SCSlide30.jpg'|theme }}"></a>#}
					     
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide31.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide31.jpg'|theme }}"></a>#}
					{#     <a target="_blank" href="{{'assets/includes/img/SCSlide32.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/SCSlide32.jpg'|theme }}"></a>#}

					{#</div>#}
					
					
			<div class="row voffset">
		    
<!--             <div class="col-sm-4">
    <a href="#" data-lightbox="{{'assets/includes/img/SCSlide01.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide01.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide01.jpg'|theme }}" class="img-responsive lazyload" /></a>
</div> -->
<!--             <div class="col-sm-4">
    <a href="#" data-lightbox="{{'assets/includes/img/SCSlide02.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide02.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide02.jpg'|theme }}" class="img-responsive lazyload" /></a>
</div> -->
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide03.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide03.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide03.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide04.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide04.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide04.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>

			    
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide05.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide05.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide05.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
			
			
		
			</div>
			
			
			
			
			
	<div class="row voffset">
		
		

			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide06.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide06.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide06.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
				<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide07.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide07.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide07.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide08.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide08.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide08.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
		
			</div>
	<div class="row voffset">
		
		
		
		
									<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide10.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide10.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide10.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide11.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide11.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide11.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>

			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide09.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide09.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide09.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
				</div>
<!--     <div class="row voffset">
        
        
        
        


<div class="col-sm-4">
    <a href="#" data-lightbox="{{'assets/includes/img/SCSlide12.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide12.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide12.jpg'|theme }}" class="img-responsive lazyload" /></a>
</div>
        
</div> -->
	<div class="row voffset">
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide13.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide13.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide13.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide14.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide14.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide14.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide15.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide15.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide15.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
				</div>
	<div class="row voffset">
			
			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide16.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide16.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide16.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>

			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide17.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide17.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide17.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>			
		
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide18.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide18.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide18.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
				</div>
	<div class="row voffset">
			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide19.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide19.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide19.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide20.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide20.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide20.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			

			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide21.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide21.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide21.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
						
	</div>
	<div class="row voffset">
		

			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide22.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide22.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide22.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide23.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide23.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide23.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide24.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide24.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide24.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
	</div>
	<div class="row voffset">
			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide25.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide25.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide25.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide26.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide26.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide26.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide27.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide27.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide27.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
						
	</div>
	<div class="row voffset">
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide28.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide28.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide28.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>


			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide29.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide29.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide29.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
<!--                         <div class="col-sm-4">
                <a href="#" data-lightbox="{{'assets/includes/img/SCSlide30.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide30.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide30.jpg'|theme }}" class="img-responsive lazyload" /></a>
            </div> -->
			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/SCSlide31.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide31.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide31.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
						
			</div>
<!--     <div class="row voffset">
        

        
<div class="col-sm-4">
    <a href="#" data-lightbox="{{'assets/includes/img/SCSlide32.jpg'|theme }}" data-gallery-id="gallery-1"><img src="{{'assets/includes/img/SCSlide32.jpg'|theme }}" data-src="{{'assets/includes/img/SCSlide32.jpg'|theme }}" class="img-responsive lazyload" /></a>
</div>
        
    </div> -->
					
					
					
					</div>
<!-- Address END -->
<!-- bloc-34 END -->


			</div>
			
			<div class="col-sm-12 contentHighlight-A">
				<div class="col-sm-6">
<!--     <h2 style="text-align:center; font-weight:bold;">Events Listing</h2> -->

	
	<!-- 
	<div class="contentHighlight-A"> -->
	<div style="   
    padding: 15px;">
    						<p align="center"><img class="img-responsive" src="{{'assets/includes/img/connecting_Communities_Event.jpg'|theme }}" /></p>
    						
    						
                    
                    <h4><b>Connecting Communities of Courage: Building Inclusive, Safe and Engaged Schools</b></h4>
<p>October 27th, 2017, a one-day event that brought together a diverse community of 200 stakeholders at the national, state, and local level – community action organizations and youth leaders, schools, prosocial organizations, policymakers, researchers, and funders – to collaboratively address the critical needs of P-12 schools, develop cross-sector connections, and build more inclusive, safe, and engaged communities. 
<br><br>
This summit will yield actionable practice strategies and policy recommendations, and is cultivating a vibrant network focused on sustainable solutions to increase engagement and promote safe school communities for all. It is the first step of a much greater effort to help schools reflect and proactively build on the strengths of the diverse communities they support. Attendees will be active participants, and will shape the conversation, and the resulting actions through their contributions, knowledge, and experiences.  The goal is to create a collective community of courage with youth at the center.
<br>
<br>

Supported by the Einhorn Family Charitable Trust and Facebook</p>
{#<p> <a  href=https://www.eventbrite.com/e/why-school-climate-matters-now-creating-safer-schools-tickets-39663647036 class="btn  btn-lapis-lazuli  btn-md learn_more_lazuli">Get your tickets here! </a></p>#}
</div>
				</div>
<!-- Contact Form END -->
<!-- Address START -->
              		<h2 style="text-align:center; font-weight:bold;">Gallery</h2>
					<div class="col-sm-6 thumbScroll">
	
	
	
	
	
	
				<!--         <br>
				 <a target="_blank" href="{{'assets/includes/img/FBSlide01.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide01.jpg'|theme }}"></a>
				 <a target="_blank" href="{{'assets/includes/img/FBSlide02.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide02.jpg'|theme }}"></a>
				 <a target="_blank" href="{{'assets/includes/img/FBSlide03.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/FBSlide03.jpg'|theme }}"></a>
				 
				 <a target="_blank" href="{{'assets/includes/img/FBSlide04.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide04.jpg'|theme }}"></a> 
				 <a target="_blank" href="{{'assets/includes/img/FBSlide05.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide05.jpg'|theme }}"></a>
				 <a target="_blank" href="{{'assets/includes/img/FBSlide06.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/FBSlide06.jpg'|theme }}"></a>
				 
				 <a target="_blank" href="{{'assets/includes/img/FBSlide07.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide07.jpg'|theme }}"></a>
				 <a target="_blank" href="{{'assets/includes/img/FBSlide08.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide08.jpg'|theme }}"></a> 
				 <a target="_blank" href="{{'assets/includes/img/FBSlide09.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/FBSlide09.jpg'|theme }}"></a>
				 
				 <a target="_blank" href="{{'assets/includes/img/FBSlide10.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide10.jpg'|theme }}"></a>
				 <a target="_blank" href="{{'assets/includes/img/FBSlide11.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide11.jpg'|theme }}"></a>
				 <a target="_blank" href="{{'assets/includes/img/FBSlide12.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/FBSlide12.jpg'|theme }}"></a> 
				 
				 <a target="_blank" href="{{'assets/includes/img/FBSlide13.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide13.jpg'|theme }}"></a>
				 <a target="_blank" href="{{'assets/includes/img/FBSlide14.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide14.jpg'|theme }}"></a>
				 <a target="_blank" href="{{'assets/includes/img/FBSlide15.jpg'|theme }}"><img class="noMargin" src="{{'assets/includes/img/FBSlide15.jpg'|theme }}"></a>
				 
				 <a target="_blank" href="{{'assets/includes/img/FBSlide16.jpg'|theme }}"><img class="rightMargin" src="{{'assets/includes/img/FBSlide16.jpg'|theme }}"></a>  -->
                         
                         
           
					
			<div class="row voffset">
<!--             
            <div class="col-sm-4">
                <a href="#" data-lightbox="{{'assets/includes/img/FBSlide01.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide01.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide01.jpg'|theme }}" class="img-responsive lazyload" /></a>
            </div> -->
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide02.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide02.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide02.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
<!--             <div class="col-sm-4">
    <a href="#" data-lightbox="{{'assets/includes/img/FBSlide03.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide03.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide03.jpg'|theme }}" class="img-responsive lazyload" /></a>
</div> -->
		
				
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide04.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide04.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide04.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>

			    
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide05.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide05.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide05.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
		
		
			</div>
	<div class="row voffset">
		

			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide06.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide06.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide06.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
					
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide07.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide07.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide07.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide08.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide08.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide08.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
		
			</div>
	<div class="row voffset">
		
		


			
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide09.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide09.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide09.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
					
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide10.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide10.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide10.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide12.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide12.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide12.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
				</div>
<!--     <div class="row voffset">
        
        
        

        
<div class="col-sm-4">
    <a href="#" data-lightbox="{{'assets/includes/img/FBSlide11.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide11.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide11.jpg'|theme }}" class="img-responsive lazyload" /></a>
</div>

        
</div> -->
	<div class="row voffset">
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide13.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide13.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide13.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide14.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide14.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide14.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide15.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide15.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide15.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
				</div>
	<div class="row voffset">
			
			
						<div class="col-sm-4">
				<a href="#" data-lightbox="{{'assets/includes/img/FBSlide16.jpg'|theme }}" data-gallery-id="gallery-2"><img src="{{'assets/includes/img/FBSlide16.jpg'|theme }}" data-src="{{'assets/includes/img/FBSlide16.jpg'|theme }}" class="img-responsive lazyload" /></a>
			</div>
			
			
				</div>
	
                         
                         
                         
					</div>
<!-- Address END -->
<!-- bloc-34 END -->


			</div>
			
			
			
		</div>
	</div>
</div>
</div>
<!-- bloc-34 END -->

{% put scripts %}
<script>

$("#contact-us-mail").validate({
  submitHandler: function (form) {
      var response = grecaptcha.getResponse();
      //recaptcha failed validation
      if (response.length == 0) {
        $('#recaptcha-error').show();
        return false;
      }
        //recaptcha passed validation
      else {
        $('#recaptcha-error').hide();
        // return true;
        // $("#contact-us-mail").submit();
        var data = $("#contact-us-mail").serialize();
        var processorFile = window.location.origin+'/contact-us-mail';

        $.ajax({
            url: processorFile,
            type: "POST",
            data: data,
            cache: false,
            success: function() // Success
            {
              swal("", "Thank you so much for contacting the National School Climate Center. We have sent you an email confirming that your inquiry was received by us. We will be in touch with you shortly.", "success");
            },
            error: function() // Fail
            {
              swal("", "It seems that our mail server is not responding at this time. We apologize for the inconvenience!","error")
            },
            complete: function() // Clear
            {
              $("#contact-us-mail").trigger("reset");
              grecaptcha.reset();
            },
          });

      }

    },
    errorLabelContainer: $("#contact-us-mail div.error")
});
</script>
{% endput %}