title = "meet our team copy"
url = "/copies/meet-our-team-copy"
layout = "default"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"
==
<?php
use digitalfox\teams\models\Team;
use digitalfox\teams\models\Consultant;

function onStart()
{
	$teamArray = [];
	$consultantsArray = [];

	$teams = Team::orderBy('order')->get();
	$consultants = Consultant::orderBy('order')->get();

	foreach($teams as $key => $team){
			$teamArray[$key]['name'] = $team->name;
			$teamArray[$key]['email'] = $team->email;
			$teamArray[$key]['post'] = $team->post;
			$teamArray[$key]['description'] = $team->description;
			$teamArray[$key]['image_path'] = ($team->avatar)? $team->avatar->getPath() : '';
	}


	foreach($consultants as $key => $team){
			$consultantsArray[$key]['name'] = $team->name;
			$consultantsArray[$key]['email'] = $team->email;
			$consultantsArray[$key]['post'] = $team->post;
			$consultantsArray[$key]['description'] = $team->description;
			$consultantsArray[$key]['image_path'] = ($team->avatar)? $team->avatar->getPath() : '';
	}

	$this['our_team'] = $teamArray;

	$this['our_consultants'] = $consultantsArray;
}
?>
==
{% partial 'about/popup.htm' %}

<!-- bloc-13 -->
<div class="bloc bloc-our-team tc-white-2 bg-ed bgc-white header-banner" id="bloc-13">
	<div class="container bloc-md">
		<div class="row" style="padding:50px;">
			<div class="col-sm-12 bg-gr-tx-wt" style="margin-bottom:0px;">
				<h1 class="mg-md text-center lg-shadow">
					Meet Our Team
				</h1>
				<p class="text-center ">
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-13 END -->
	<div class="col-sm-12 bg-gray" style="padding:0px;">
		<!-- bloc-17 -->
		<div class="bloc bgc-white l-bloc bg-gray" id="bloc-17">
			<div class="container bloc-sm container-bg-white" style="padding-bottom: 0px;">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="text-center blocs-team-title">
							Staff Listing
							{#<a href="{{'/history'}}" class="btn btn-lg hd-button btn-bright-cerulean pulse-hvr animated" style="margin-right:5%;">Our History</a>#}
						</h2>
					</div>
					{% partial 'about/department_popups.htm' %}
				</div>
				<div class="row voffset-lg team-container">

					{% for key, team in  our_team %}
						<div class="col-sm-3 team-mem">
							<img class="center-block model{{key}}" style="cursor:pointer" onclick='put_model_data("{{team.name}}","{{team.email}}","{{team.post}}","{{team.image_path}}", "model{{key}}");' data-desc="{{team.description}}" data-toggle="modal" data-target="#member-dis-model" src="{{team.image_path}}" height="165" />
							<h3 class="text-center blocs-team-header">
								{{team.name}}
							</h3>
							<p class="blocs-team-sub text-center">
							{% if team.email %}
								<a href="mailto:{{team.email}}"><span class="fa fa-envelope-o icon-md " style=" font-size: 14px !important"></span></a>
		          {% endif %}

								{{team.post}}
							</p>
						</div>
					 {% endfor %}

				</div>

				<div class="container bloc-sm">
							<div class="col-sm-12">
									<center>
										<div class="col-sm-12">
													<button class="btn btn-lg hd-button btn-bright-cerulean pulse-hvr animated" onclick="Board_of_Trustees($(this));" >Board of Directors</button>
													<button class="btn btn-lg hd-button btn-bright-cerulean pulse-hvr animated" onclick="Meet_Our_Faculty($(this));" >Our Education Consultants</button>
													<button class="btn btn-lg hd-button btn-bright-cerulean pulse-hvr animated" onclick="National_School_Climate_Council($(this));" >National School Climate Council</button>
													<br>
													

										</div>
								</center>
						 </div>
					</div>
				</div>
			</div>
		<!-- bloc-17 END -->

		<!-- bloc-18 -->
		<div class="bloc bgc-white l-bloc no-padding bg-gray b-o-t hide our-team-container" id="bloc-18">
			<div class="container container-bg-white bloc-pad">
				<div class="row">
					<div class="col-sm-12">
						<p>NSCC&rsquo;s Directors have provided essential support to our growing organization. In addition to providing crucial fiscal support, they contribute organization-building assistance in many indispensable ways.</p><!--Trustees Container-->
						<div class="panel">
							<div class="panel-body">
								<p></p>
								{#<p><strong>George Igel, MD, Chair</strong><br>#}
								{#<em class="greyTxt">Assistant Clinical Professor of Psychiatry, Weill Cornell Medical College</em></p>#}
								{#<p><strong>Jonathan Cohen, Ph.D., Co-Founder and President Emeritus</strong><br>#}
								{#<em class="greyTxt">Adjunct Professor in Psychology and Education, Teachers College, Columbia University</em></p>#}
								{#<p><strong>Michael S. Appelbaum</strong><br>#}
								{#<em class="greyTxt">Merrill Lynch</em></p>#}
								{#<p><strong>David M. Becker</strong><br>#}
								{#<em class="greyTxt">Bethesda, Maryland</em></p>#}
								{#<p><strong>Susan Beller</strong><br></p>#}
								{#<p><strong>Mauro Bonugli</strong><br>#}
								{#<em class="greyTxt">COO, Warburg Pincus, McKinsey & Company, Accordion Partners</em></p>#}
								{#<p><strong>Dafna Dothan</strong><br>#}
								{#<em class="greyTxt">Chief Risk Officer, Leumi.</em></p>#}
								{#<p><strong>Silvana De Luca</strong><br>#}
								{#<em class="greyTxt">Executive Director & Co-Founder / Impact Legacy<br>#}
								{#Board Member / Qi Venture Partners</em></p>#}
								{#<p><strong>Mark J. Epley</strong><br>#}
								{#<em class="greyTxt">Senior Advisor, Global Investment Banking; Head of Global Financial Sponsors Group<br>#}
								{#Co-Head of Corporate Finance, Americas, NOMURA SECURITIES INTERNATIONAL</em></p>#}
								{#<p><strong>Michael Herskovitz</strong><br>#}
								{#<em class="greyTxt">Senior Vice President & Partner, AllianceBernstein</em></p>#}
								{#<p><strong>Trev Huxley</strong><br>#}
								{#<em class="greyTxt">Co-founder and CEO Muze Inc<br></em></p>#}
								{#<p><strong>Stephen Krupa</strong><br>#}
								{#<em class="greyTxt">CEO Psilos Group Managers, LLC</em></p>#}
								{#<p><strong>Jeffrey Krauss</strong><br>#}
								{#<em class="greyTxt">Managing Member at Public Pension Capital</em></p>#}
								{#<p><strong>Rachel Levin</strong><br>#}
								{#<em class="greyTxt">Educator</em></p>#}
								{#<p><strong>Gerald Rothstein, Treasurer</strong><br>#}
								{#<em class="greyTxt">Consulting Research Analyst, J.M. Dutton and Associates, LLC</em></p>#}
								{#<p><strong>Daniel J. Rosenstein</strong><br>#}
								{#<em class="greyTxt">Financial Advisor, Morgan Stanley</em></p>#}
								{#<p><strong>Dana Roitberg Weir</strong><br>#}
								{#<em class="greyTxt">Associate<br>#}
								{#Paul Hastings LLP, New York, NY</em></p>#}
								{#<p><strong>Nihir Shah</strong><br>#}
								{#<em class="greyTxt">Partner Fund Management, LP</em></p>#}
								{#<p><strong>John P. Stern</strong><br>#}
								{#<em class="greyTxt">President, Storm King Art Center</em></p>#}
								{#<p class="greyTxt largeTxt"><strong>Trustee Emeritus</strong></p>#}
								{#<p><strong>Carol Vance Wall</strong><br>#}
								{#<em class="greyTxt">Vice Chair<br>#}
								{#Co-founder (with husband), Craig Upper School, Mountain Lakes, NJ<br>#}
								{#Director, Vance Wall Foundation</em></p><!--Trustees Container-->#}
								{#<p></p>#}
<!--                                 <p><strong>Carol Vance Wall, Vice Chair – trustee emeritus</strong><br>
<em class="greyTxt">Co-founder  Craig Upper School, Mountain Lakes, NJ
Director, Vance Wall Foundation</em></p>
<p><strong>Jonathan Cohen, Ph.D., Co-Founder and President Emeritus</strong><br>
<em class="greyTxt">Adjunct Professor in Psychology and Education, Teachers College, Columbia University</em></p>
<p><strong>Michael S. Appelbaum</strong><br>
<em class="greyTxt">Merrill Lynch</em></p>
<p><strong>David M. Becker</strong><br>
<em class="greyTxt">Bethesda, Maryland</em></p>
<p><strong>Susan Beller</strong><br></p>
<p><strong>Mauro Bonugli</strong><br>
<em class="greyTxt">COO, Warburg Pincus, McKinsey & Company, Accordion Partners</em></p>
<p><strong>Dafna Dothan</strong><br>
<em class="greyTxt">Chief Risk Officer, Leumi.</em></p>
<p><strong>Silvana De Luca</strong><br>
<em class="greyTxt">Executive Director & Co-Founder / Impact Legacy<br>
Board Member / Qi Venture Partners</em></p>
<p><strong>Mark J. Epley</strong><br>
<em class="greyTxt">Senior Advisor, Global Investment Banking; Head of Global Financial Sponsors Group<br>
Co-Head of Corporate Finance, Americas, NOMURA SECURITIES INTERNATIONAL</em></p>
<p><strong>Michael Herskovitz</strong><br>
<em class="greyTxt">Senior Vice President & Partner, AllianceBernstein</em></p>
<p><strong>Trev Huxley</strong><br>
<em class="greyTxt">Co-founder and CEO Muze Inc<br></em></p>
<p><strong>Stephen Krupa</strong><br>
<em class="greyTxt">CEO Psilos Group Managers, LLC</em></p>
<p><strong>Jeffrey Krauss</strong><br>
<em class="greyTxt">Managing Member at Public Pension Capital</em></p>
<p><strong>Rachel Levin</strong><br>
<em class="greyTxt">Educator</em></p>
<p><strong>Gerald Rothstein, Treasurer</strong><br>
<em class="greyTxt">Consulting Research Analyst, J.M. Dutton and Associates, LLC</em></p>
<p><strong>Daniel J. Rosenstein</strong><br>
<em class="greyTxt">Financial Advisor, Morgan Stanley</em></p>
<p><strong>Dana Roitberg Weir</strong><br>
<em class="greyTxt">Associate<br>
Paul Hastings LLP, New York, NY</em></p>
<p><strong>Nihir Shah</strong><br>
<em class="greyTxt">Partner Fund Management, LP</em></p>
<p><strong>John P. Stern</strong><br>
<em class="greyTxt">President, Storm King Art Center</em></p>
<p class="greyTxt largeTxt"><strong>Trustee Emeritus</strong></p>
<p><strong>Carol Vance Wall</strong><br>
<em class="greyTxt">Vice Chair<br>
Co-founder (with husband), Craig Upper School, Mountain Lakes, NJ<br>
Director, Vance Wall Foundation</em></p> --><!--Trustees Container-->

            					<p><strong>George Igel, MD, Chair</strong><br>
								<em class="greyTxt">Assistant Clinical Professor of Psychiatry, Weill Cornell Medical College</em></p>
								
								<p><strong>Michael S. Appelbaum</strong><br>
								<em class="greyTxt">Senior Vice President-Wealth Management, Senior Financial Advisor, Merrill Lynch, <br>Pierce, Fenner & Smith Inc.</em></p>

								<p><strong>David M. Becker</strong><br>
								<em class="greyTxt">Senior Counsel, Cleary Gottlieb Steen & Hamilton LLP</em></p>

								<p><strong>Mauro Bonugli</strong><br>
								<em class="greyTxt">VP Resources Group, General Atlantic</em></p>
								
								<p><strong>Vikram Dewan</strong><br>
								<em class="greyTxt">Managing Director, Head of Application Delivery for Group Operations IT, UBS <br>Technology Corporate Center</em></p>

								<p><strong>Dafna Dothan </strong><br>
								<em class="greyTxt">Chief Risk Officer, Leumi.</em></p>

<!--                                 <p><strong>Silvana De Luca</strong><br>
<em class="greyTxt">Executive Director & Co-Founder / Impact Legacy<br></em>
<em class="greyTxt">Board Member / Qi Venture Partners</em></p> -->

								<p><strong>Mark J. Epley</strong><br>
								<em class="greyTxt">US Chairman, Jamieson Corporate Finance, LLPL</em></p>
								
								<p><strong>Michael Herskovitz</strong><br>
								<em class="greyTxt">Senior Vice President & Partner, Alliance Bernstein</em></p>								

								<p><strong>Trev Huxley</strong><br>
								<em class="greyTxt">Co-founder and CEO, Muze Inc</em></p>

								<p><strong>Stephen Krupa</strong><br>
								<em class="greyTxt">CEO Psilos Group Managers, LLC</em></p>

								<p><strong>Harris Jaffe</strong><br>
								<em class="greyTxt">Counsel, Beckman Lieberman & Barandes (retired)</em></p>

								<p><strong>Jeffrey Krauss</strong><br>
								<em class="greyTxt">Managing Member at Public Pension Capital</em></p>

								<p><strong>Nelson Leung</strong><br>
								<em class="greyTxt">VP, Group Director, Analytics</em></p>
								
								<p><strong>Anne Maltz</strong><br>
								<em class="greyTxt">Anne Maltz RN Esq Consulting LLC, Managing Member</em></p>

								<p><strong>Ronda Muir</strong><br>
								<em class="greyTxt">Founder and Principal, Law People Management, LLC<br></em></p>
								
								<p><strong>Chris Noah</strong><br>
								<em class="greyTxt">EVP, Director of Client Services for Citi Consumer Bank - Publicis One Team</em></p>								

								<p><strong>Daniel J. Rosenstein</strong><br>
	<!--                             <em class="greyTxt">Financial Advisor, The Stone Tower Group (NMLS#1033250), Morgan Stanley Wealth <br></em> -->
								<em class="greyTxt">Financial Advisor, The Stone Tower Group, Morgan Stanley Wealth <br></em>
								<em class="greyTxt">Management</em>
							
								
								</p>

								<p><strong>Dana Roitberg Weir</strong><br>
								<em class="greyTxt">Associate, Paul Hastings LLP, New York, NY</em></p>
								
								<p><strong>Gerald Rothstein, Treasurer</strong><br>
								<em class="greyTxt">Consulting Research Analyst, J.M. Dutton and Associates, LLC</em></p>

								<p><strong>John P. Stern</strong><br>
								<em class="greyTxt">President, Storm King Art Center</em></p>
							
							    <p><strong>Jessica Tarlov PhD</strong><br>
								<em class="greyTxt">Senior Director Research and Consumer Insight, Bustle Digital  Group;  Contributor, <br>FOX  News  Channel</em></p>

								<p><strong>Carol Vance Wall, Vice Chair – Director Emeritus</strong><br>
								<em class="greyTxt">Co-founder  Craig Upper School, Mountain Lakes, NJ<br>
                                Director, Vance Wall Foundation</em></p>










<!-- 
                                <p><strong>Gerald Rothstein, Treasurer</strong><br>
                                <em class="greyTxt">Consulting Research Analyst, J.M. Dutton and Associates, LLC</em></p>
 -->

























<!-- 
                                <p><strong>Stephen Krupa</strong><br>
                                <em class="greyTxt">CEO Psilos Group Managers, LLC</em></p>

                                <p><strong>Whitney Allgood, CEO</strong><br>
                                <em class="greyTxt">Chief Executive Officer at NSCC</em></p> -->



								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- bloc-18 END -->

		<!-- bloc-19 -->
		<div class="bloc bgc-white l-bloc no-padding bg-gray p-a-b hide our-team-container" id="bloc-19">
			<div class="container container-bg-white bloc-pad">
				<div class="row">
					<div class="col-sm-12">
						<p>NSCC&rsquo;s Professional Advisors have provided essential support to our educational and resource development projects. We are honored to have many of the nation&rsquo;s leading K-12 educational, health/mental health, social emotional learning and character education experts advising us. We are deeply indebted to their council and wisdom.</p>
						<div class="panel">
							<div class="panel-body">
								<p><strong>J. Lawrence Aber, Ph.D.</strong><br>
								Professor in Applied Psychology, New York University<br>
								<br>
								<strong>Mark Alter, Ph.D.</strong><br>
								Professor of Educational Psychology, Programs in Special Education, Department of Teaching and Learning, Steinhardt School of Education, New York University<br>
								<br>
								<strong>Victor Battistich, Ph.D.</strong><br>
								Associate Professor of Education, Division of Educational Psychology, Research and Evaluation, Center for Character and Citizenship, College of Education, University of Missouri-St. Louis<br>
								<br>
								<strong>Marvin W. Berkowitz, Ph.D.</strong><br>
								Sanford N. McDonnell Professor of Character Education, College of Education, University of Missouri-St. Louis<br>
								<br>
								<strong>Larry Clark</strong><br>
								President, Comprehensive Health Education Foundation, Seattle, Washington<br>
								<br>
								<strong>James Comer, M.D.</strong><br>
								Maurice Falk Professor of Child Psychiatry and Associate Dean, Yale University School of Medicine, Yale Child Study Center<br>
								<br>
								<strong>Maurice J. Elias, Ph.D.</strong><br>
								Professor of Psychology, Rutgers University; Vice-chair, Collaborative for Academic, Social and Emotional Learning<br>
								<br>
								<strong>Peter Fonagy, Ph.D.<br></strong> Freud Memorial Professor of Psychoanalysis and Director of the Sub-Department of Clinical Health Psychology at University College London. He is Chief Executive Designate of the Anna Freud Centre, London<br>
								<br>
								<strong>Howard Gardner, Ph.D.</strong><br>
								John H. and Elisabeth A. Hobbs Professor in Cognition and Education, Harvard Graduate School of Education<br>
								<br>
								<strong>William Johnson, Ed. D.</strong><br>
								Superintendent, Rockville Center School System; Past President, New York State Association of Superintendents; Adjunct Professor of Education, Teachers College, Columbia University<br>
								<br>
								<strong>Catherine Lewis, Ph.D.</strong><br>
								Professor of Education, Mills CollegeSteve Marans, Ph.D.Director, National Center for Children Exposed to Violence; Professor of Child Psychiatry, Yale Child Study Center<br>
								<br>
								<strong>Nicholas M. Michelli, Ph.D.<br></strong> Presidential Professor in Urban Education, City University of New York<br>
								<br>
								<strong>Ramon Murphy, M.D.<br></strong> Associate Clinical Professor in Pediatrics, The Mount Sinai Hospital<br>
								<br>
								<strong>Professor Nel Noddings</strong><br>
								Emeritus Professor of Education, Stanford University School of Education<br>
								<br>
								<strong>Donald L. Rosenblitt, M.D.</strong><br>
								Clinical Director, Lucy Daniel's Center for Early Childhood; Director, Training and Supervising Psychoanalyst, UNC-Duke Psychoanalytic Education Program<br>
								<br>
								<strong>Peter Salovey, Ph.D.<br></strong> Dean, Graduate School of Arts and Sciences; Chris Argyris Professor of Psychology, Professor of Epidemiology &amp; Public Health, Department of Psychology, Yale University<br>
								<br>
								<strong>Roger P. Weissberg, Ph.D.</strong><br>
								Professor and Director of Graduate Studies, Department of Psychology, University of Illinois at Chicago; Executive Director, Collaborative for Academic, Social and Emotional Learning<br>
								<br>
								<strong>Stuart Twemlow, M.D.</strong><br>
								Baylor College of Medicine, Dept. Psychiatry &amp; Behavioral Sciences and the Menninger Clinic<br></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- bloc-19 END -->

		<!-- bloc-19-1 - -->
		<div class="bloc bgc-white l-bloc bg-gray no-padding n-s-c-c hide our-team-container" id="bloc-19">
			<div class="container container-bg-white bloc-pad">
				<div class="row">
					<div class="col-sm-12">


					    <p>
					    In 2007, the Education Commission of the States and NSCC formed the National School Climate Council, a non-partisan group of policy and practice leaders involved with a range of educational, policy, collaborative and advocacy efforts. The NSCC is the ‘home’ for the Council. </p>

                        <p><i>History</i>: In 2006 the National School Climate Center (NSCC) and the Education Commission of the States conducted a State Department of Education school climate policy scan that revealed a glaring and socially unjust gap between school climate research and school climate policy, practice and teacher education. The Council’s mission is to narrow the gap to support student learning and positive youth development.</p>


                       <p> The School Climate Community Council considers a positive School Climate to include. . .</p>

                        <p>
                            <ul>
                                <li><b>Norms, values and expectations</b> that support people <b>feeling socially, emotionally and physically safe</b>. </li>
                                <li>People are <b>engaged and respected</b>. </li>
                                <li>Students, families and educators <b>work together</b> to develop, live and contribute to a shared school vision. </li>
                                <li>Educators <b>model and nurture an attitude</b> that emphasizes the benefits and <b>satisfaction</b> from learning. </li>
                                <li><b>Each person</b> contributes to the <b>operations of the school and the care of the physical environment</b>.</li>
                            </ul>

                        			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;	- (<i>National School Climate Council, 2007</i>)</p>


						{#<p>Over the last two decades, there has been a growing appreciation that school climate, the quality and character of school life, fosters—or undermines—children’s development, learning, and achievement. In 2006 the National School Climate Center (NSCC) and the Education Commission of the States conducted a State Department of Education school climate policy scan that revealed a glaring and socially unjust gap between school climate research on the one hand and school climate policy, practice, and teacher education on the other hand.</p>#}
						{#<p>In 2007, the Education Commission of the States and NSCC formed the National School Climate Council. The Council’s mission is to narrow the gap between school climate research on the one hand and school climate policy, practice, and teacher education to support student learning and positive youth development.</p>#}
						{#<p>The Council is a freestanding, non-partisan group of policy and practice leaders. The Council is involved with a range of educational, policy, and advocacy efforts. The NSCC is the ‘home’ for the Council. The Council includes:</p>#}
						{#<div class="panel">#}
						{#	<div class="panel-body">#}
						{#		<p><strong>Howard Adelman</strong>&mdash;<em>Co-director and Professor</em>, School Mental Health Project, Center for Mental Health in Schools, Department of Psychology, UCLA</p>#}
						{#		<p><strong>Marvin Berkowitz</strong>&mdash;<em>Sanford N. McDonnell Endowed Professor of Character Education and Co-director</em>, Center for Character &amp; Citizenship, College of Education, University of Missouri, St. Louis</p>#}
						{#		<p><strong>Cathryn Berger Kaye</strong>&mdash;CBK Associates, International Education Consultants</p>#}
						{#		<p><strong>Martin J. Blank</strong>&mdash;<em>Director for School, Family and Community Connections</em> Institute for Educational Leadership Staff Director, Coalition for Community Schools</p>#}
						{#		<p><strong>Philip M. Brown</strong>&mdash;<em>former Director</em>, Center for Social and Character Development, Center for Applied Psychology, Rutgers University, NJ<br>#}
						{#		Incoming co-chair, National School Climate Council</p>#}
						{#		<p><strong>Patricia (Pat) Ciccone</strong>&mdash; Superintendent, Westbrook Conn Public Schools; inaugural <em>Leaders to Learn From for School climate Reform effort</em>, Ed Week</p>#}
						{#		<p><strong>Jonathan Cohen</strong>&mdash;<em>President</em>, National School Climate Center; <em>Adjunct Professor in Psychology and Education</em>, Teachers College, Columbia University; <em>Adjunct Professor in Education</em>, City University of New York, School of Professional Studies; <em>Co-chair</em>, National School Climate Council</p>#}
						{#		<p><strong>James P. Comer</strong>&mdash;<em>Maurice Falk Professor of Child Psychiatry, Founder, School Development Program</em>, Yale Child Study Center, Yale University School of Medicine</p>#}
						{#		<p><strong>Teri Dary</strong>&mdash;<em>Cascade Educational Consultants</em></p>#}
						{#		<p><strong>Peter DeWitt</strong>&mdash;National Consultant on school leadership and instructional practices. Former elementary school Principal; Finding Common Ground Blogger (Education Week) and author (Corwin Press).<br>#}
						{#		Co-chair, National School Climate Council</p>#}
						{#		<p><strong>Brad Efune</strong>&mdash;<em>student leader</em>&mdash;Freshman, University of Arizona</p>#}
						{#		<p><strong>Arnold F. Fege</strong>&mdash;<em>Director</em>, Public Engagement and Advocacy, Public Education Network, Washington, DC</p>#}
						{#		<p><strong>Ann Foster</strong>&mdash;<em>Executive Director</em>, National Network for Educational Renewal</p>#}
						{#		<p><strong>Laura Franzi</strong>&mdash;<em>student leader</em>&mdash;senior William Paterson University</p>#}
						{#		<p><strong>H. Jerome Freiberg</strong>&mdash;<em>John &amp; Rebecca Moores Professor of Education</em>, University of Houston</p>#}
						{#		<p><strong>Jo Ann Freiberg, Ph.D.</strong>&mdash; Education Consultant School Climate, Bullying and Character Education Office of Student Supports and Organizational Effectiveness Bureau of Health/Nutrition, Family Services and Adult Education Connecticut State Department of Education. Incoming co-chair, National School Climate Council</p>#}
						{#		<p><strong>Ann Higgins-D'Alessandro, Ph.D.</strong>&mdash;<em>Director and Professor, Applied Psychology Doctoral Program, Fordham University, Bronx, New York.</em></p>#}
						{#		<p><strong>Gary A. Homana</strong>&mdash;College of Education Towson University</p>#}
						{#		<p><strong>Mark Hyatt</strong>&mdash;<em>CEO and president</em>, Character Education Partnership</p>#}
						{#		<p><strong>David Hutchinson</strong>&mdash;<em>School board member</em>, State College Area School District</p>#}
						{#		<p><strong>William H. Hughes</strong>&mdash;<em>Director of Leadership Development</em>, Schools That Can-Milwaukee and Assistant Professor of Education<br>#}
						{#		<em>Director of the School and Instructional Leadership Program</em>, Alverno College, Milwaukee, Wisconsin</p>#}
						{#		<p><strong>Peter S. Jensen</strong>&mdash;<em>Co-Chair and professor</em>, Division of Child Psychiatry and Psychology, Mayo Clinic, Rochester, MN; President, REACH Institute (REsource for Advancing Children&rsquo;s Health)</p>#}
						{#		<p><strong>Molly McCloskey</strong>&mdash;Share Our Strength</p>#}
						{#		<p><strong>Linda Jeanne McKay</strong>&mdash;<em>National Advocate for Support of Character Education and School Climate</em>; former Senior Advisor to the Deputy Under Secretary, Office of Safe &amp; Drug Free Schools for Character Education, U.S Department of Education</p>#}
						{#		<p><strong>Nicholas Michelli</strong>&mdash;<em>Presidential Professor in Urban Education</em>, Doctoral Program in Urban Education, City University of New York</p>#}
						{#		<p><strong>Carol Nixon, Ph.D.</strong>&mdash;<em>Postdoctoral Research Associate,</em> Department of Human and Organizational Development, Vanderbilt University. Co-chair, National School Climate Council</p>#}
						{#		<p><strong>Derek Peterson</strong>&mdash;<em>International Child/Youth Advocate</em></p>#}
						{#		<p><strong>Randy Ross</strong>&mdash;Senior Consultant, NSCC; former <em>Equity &amp; Diversity Specialist</em>, New England Equity Assistance Center, The Education Alliance at Brown University</p>#}
						{#		<p><strong>Sean Slade</strong>&mdash;Whole Child Programs, ASCD</p>#}
						{#		<p><strong>Linda Taylor</strong>&mdash;<em>Co-director</em>, School Mental Health Project Center for Mental Health in Schools, Department of Psychology, UCLA</p>#}
						{#		<p><strong>Stuart Twemlow, MD</strong>&mdash;#}
						{#		Former Professor Psychiatry, Menninger Dept. Psychiatry, Baylor College of Medicine, Houston, Now Visiting Professor University College London (Health Sciences).Leader International Coalition of Peaceful Schools &amp; Communities</p>#}
						{#		<p><strong>Yu Jenny Zhong</strong>&mdash;<em>Student leader sophomore,</em> University of Pennsylvania</p>#}
						{#		<p>The School Climate Council is grateful for the contributions of the following former council members:</p>#}
						{#		<ul>#}
						{#			<li><strong>Victor Battistich (deceased)</strong>&mdash; Associate Professor, Center for Character &amp; Citizenship, College of Education, University of Missouri, St. Louis</li>#}
						{#			<li><strong>Terry Pickeral</strong>&mdash; Terry was the co-founder of the Council and shaped our work and learning in countless and wonderful helpful ways.</li>#}
						{#		</ul>#}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- bloc-19-1 END -->

		<!-- bloc-20 -->
				<div class="bloc bgc-white l-bloc bg-gray no-padding m-o-f-n hide" id="bloc-20">
					<div class="container container-bg-white bloc-pad">
						{% for key,consultant in  our_consultants %}

							<div class="contentHighlight-A">
									<table class="table-cons">
										<tr>
											<td class="td-avatar">
												<img class="img-responsive center-block avatar" src="{{consultant.image_path}}" />
												<h3 class="text-center blocs-team-header">
													{{consultant.name}}
												</h3>
												<p class="blocs-team-sub text-center">
												{% if consultant.email %}
													<a href="mailto:{{consultant.email}}"><span class="fa fa-envelope-o icon-md " style=" font-size: 14px !important"></span></a>
							          {% endif %}

													{{consultant.post}}
												</p>
											</td>
											<td>
												{{ html_strip(consultant.description) }}
											</td>
										</tr>
									</table>
							</div>
						{% endfor %}
					</div>
				</div>

		<!-- bloc-20 END -->

	</div>


{% put scripts %}
    <script type='text/javascript' >
     function put_model_data(name,email,post,image_path, modelClass){
			 $('#member-dis-model').css('z-index', '+100000');

				var disc = $('.'+modelClass).attr('data-desc');
				 $('#team-img').attr('src',image_path);
				 $('#team-name').html('<strong>'+name+'</strong>');
				 $('#team-pos').html(post);
				 $('#team-disc').html(disc);

		 }

		 function Board_of_Trustees(object){
			   toogle_all_buttons('.b-o-t',object);
         $('.b-o-t').toggleClass('hide');
				 button_color(object);

		 }

		 function Professional_Advisory_Board(object){
			   toogle_all_buttons('.p-a-b',object);
         $('.p-a-b').toggleClass('hide');
				 button_color(object);
		 }

 		 function Meet_Our_Faculty(object){
   			 toogle_all_buttons('.m-o-f-n',object);
         $('.m-o-f-n').toggleClass('hide');
				 button_color(object);
		 }

		 function National_School_Climate_Council(object){
				 toogle_all_buttons('.n-s-c-c',object);
					$('.n-s-c-c').toggleClass('hide');
				 button_color(object);
		 }

		 function Our_Education_Consultants(object){
				 toogle_all_buttons('.o-e-c',object);
					$('.o-e-c').toggleClass('hide');
				 button_color(object);
		 }


		 function button_color(object){
			 if (object.css('background-color') == "rgb(37, 154, 182)")
       		object.css('background-color','#345BA9');
       else
       		object.css('background-color','rgb(37, 154, 182)');
		 }

		 function toogle_all_buttons(current_class,object){
			 reset_button_color(object);
			 var button_classes = ['.b-o-t','.p-a-b','.m-o-f-n','.n-s-c-c', '.o-e-c'];
			 $.each(button_classes,function(key,value){
         if(!$(value).hasClass('hide') && current_class!=value){
					 $(value).addClass('hide');
				 }
			 });

		 }

		 function reset_button_color(object){
			 object.removeClass('hd-button');
			 $('.hd-button').css('background-color','rgb(37, 154, 182)');
			 object.addClass('hd-button');
		 }

		</script>
{% endput %}