title = "Newsletters Copy"
url = "/newsletters-copy"
layout = "default"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"

[NewsLetters]
pageNumber = "{{ :page }}"
postsPerPage = 10
noNewsLettersMessage = "No news letters found"
sortOrder = "published_at desc"
==
<!-- bloc-43 -->
<div class="bloc bg-iStock-000003906886Medium b-parallax bg-t-edge bloc-bg-texture bgc-platinum tc-black" id="bloc-43">
	<div  class="container bloc-sm">
		<div class="row">
			<div class="col-sm-6 text-white">
				<h3 class="mg-md  text-center">
					Newsletters
				</h3>
				<p>
					This quarterly newsletter is designed to keep you informed about important school climate issues and NSCC's work nationwide.
				</p>
				<form data-id="embedded_signup:form" class="ctct-custom-form Form ctct-embed-signup" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
						<span id="success_message" style="display:none;">
							 <div style="color:#555;">Thanks for signing up!</div><br>
						</span>
						<input data-id="ca:input" name="ca" value="{{config_get('constantcontact.CONSTANTCONTACT_CA')}}" type="hidden">
						<input data-id="list:input" name="list" value="{{config_get('constantcontact.CONSTANTCONTACT_LIST')}}" type="hidden">
						<input data-id="source:input" name="source" value="EFD" type="hidden">
						<input data-id="required:input" name="required" value="list,email" type="hidden">
						<input data-id="url:input" name="url" value="/newslatter-response" type="hidden">

						<div class="form-group">
              <br>
							<p data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required lb-sub-custom" style="color:#FFF;">Subscribe now to never miss an issue!</label>
	            <input placeholder="Email" data-id="Email Address:input" name="email" value="" class="form-control" maxlength="80" type="text"></p>


						 <button type="submit" class="btn submit  btn-bright-cerulean  btn-md Button ctct-button Button--block Button-secondary" data-enabled="enabled">Submit</button>
						</div>

					</form>



			</div>
<!--             <div class="col-sm-6">
    <center>
        <img class="img-responsive" src="{{'assets/includes/img/climatechange.jpg'|theme}}" width="70%"/>
    </center>
</div> -->
		</div>
	</div>
</div>
<!-- bloc-43 END -->
<!-- bloc-10 -->
{#<div class="bloc bgc-grey" style="background:#005d9d;">#}
{#	<div class="container">#}
{#		<div class="row">#}
{#			<div class="col-sm-12 text-center">#}
{#				<div class="col-sm-4 col-sm-offset-4">#}

{#					<form data-id="embedded_signup:form" class="ctct-custom-form Form ctct-embed-signup" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">#}
{#						<span id="success_message" style="display:none;">#}
{#							 <div style="color:#FFF;">Thanks for signing up!</div><br>#}
{#						</span>#}
{#						<input data-id="ca:input" name="ca" value="{{config_get('constantcontact.CONSTANTCONTACT_CA')}}" type="hidden">#}
{#						<input data-id="list:input" name="list" value="{{config_get('constantcontact.CONSTANTCONTACT_LIST')}}" type="hidden">#}
{#						<input data-id="source:input" name="source" value="EFD" type="hidden">#}
{#						<input data-id="required:input" name="required" value="list,email" type="hidden">#}
{#						<input data-id="url:input" name="url" value="/newslatter-response" type="hidden">#}

{#						<div class="form-group">#}
{#              <br>#}
{#							<p data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required lb-sub-custom" style="color:#FFF;">Subscribe now to never miss an issue!</label>#}
{#	            <input placeholder="Email" data-id="Email Address:input" name="email" value="" class="form-control" maxlength="80" type="text"></p>#}


{#						 <button type="submit" class="btn submit  btn-bright-cerulean  btn-md Button ctct-button Button--block Button-secondary" data-enabled="enabled">Submit</button>#}
{#						</div>#}

{#					</form>#}

{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
<!-- bloc-10 END -->

<!-- bloc-44 -->
<div class="bloc bgc-platinum l-bloc" id="bloc-44">
	<div class="container bloc-md">
		<div class="row">
	    {% partial 'NewsLetters::one-news-latter' %}
		</div>
	</div>
</div>
<!-- bloc-44 END -->

<!-- bloc-45 -->
<div class="bloc bgc-platinum l-bloc" id="bloc-45">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-clear  text-center">

					Past Newsletters<br>
				</h1>
<!--                 <p class="text-center sub-heading">
    (National School Climate Publications)
</p> -->
			</div>
		</div>

		<div id="newsLettersDiv" class="animatesd fadeInRight">
			{% partial 'NewsLetters::publication-news-letters' %}
		</div>

	</div>
</div>
<!-- bloc-45 END -->


<div class="bloc bgc-platinum l-bloc" id="bloc-45">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-clear  text-center">

					Past Quarterlies<br>
				</h1>
<!--                 <p class="text-center sub-heading">
    (National School Climate Publications)
</p> -->
			</div>
		</div>

		<div id="newsLettersDiv" class="animatesd fadeInRight">
			{% partial 'NewsLetters::publication-news-letters' %}
		</div>

	</div>
</div>


{% put scripts %}

<script>
$('body').on('click', '.pagination a', function (event) {
    var page = $(this).text();
    event.preventDefault();
    if ($(this).attr('href') != '#') {
        // $("html, body").animate({scrollTop: 0}, "fast");
        $.request('onPartialPagination', {
            data: {page: page},
            update: {'NewsLetters::news-letters': '#newsLettersDiv'}
        });
    }
});
</script>

{% endput %}