title = "SCRC Copy"
url = "/scrc-copy"
layout = "default"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-41 -->
<div class="bloc bg-banner-computer b-parallax bgc-white l-bloc header-banner" id="bloc-41">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h1 class="mg-md tc-platinum  text-center lg-shadow">
					<strong style="color:white">The School Climate Resource Center</strong>
				</h1>
			</div>
		</div>
	</div>
</div>

<!-- bloc-41 END -->

<!-- bloc-42 -->
<div class="bloc l-bloc " id="bloc-42" style="padding:4% 3%;">
	<div style="background:#fffefc;">
<!--         <div style="background-color: rgba(0,0,0,0.6);"> -->
			<div class="container bloc-lg " style="padding:30px;">
			<div class="row" >
				<div class="col-sm-6" style="padding-left:0px;">
					<div class="col-sm-12" style="margin-bottom:20px; font-size:16px;">
						<h2 style="font-size:29px !important;"><b>The School Climate Resource Center</b></h2>
						<p class="mg-lg">
							<p>The School Climate Resource Center is an interactive online learning environment supporting education leaders and their school communities’ as they implement NSCC’s services. It facilitates educators’ capacity to build expertise in creating and maintaining positive school climates. This innovative platform brings together:</p>
							<ul>
							    <li>Nearly two decades worth of school climate research and expert voices from the field</li>
						    	<li>Survey Dashboards that support pre-, current, and post-administration of NSCC’s surveys and tools</li>
						    	<li>Learning Modules, case studies, and other content to support the implementation of NSCC’s Approach</li>
					    		<li>Resources and protocols that support leadership teams in working together to engage their school communities</li>
						    	<li>Social features that promote networking within and across schools, districts, and states</li>
							</ul>
							<p>Access to the Resource Center is included in various NSCC service packages. Contact us to learn more about accessing the Resource Center today!</p>
						</p>
						</div>
					<div align="center">
					<p>	<a href="/about/contact-us?p=3" class="btn btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>  - Or - 
						<a href="https://scrc.schoolclimate.org/dashboard" class="btn btn-lg btn-lapis-lazuli pulse-hvr animated">Resource Center Login</a></p>
<!--						<button type="button" class="btn btn-lg btn-bright-cerulean animated pulse-hvr" data-toggle="modal" data-target="#SCRCLoginModel">Contact us to learn more!</button>-->
					</div>
				</div>
				<div class="col-sm-6" style="padding:0px; padding-top:80px; padding-right:10px; vertical-align:middle;" >
					 <iframe src="https://player.vimeo.com/video/193768367?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="100%" height="324" frameborder="0"></iframe>
					  <div class="contentHighlight-A">
					      
					    <p style=" text-align: center; "><strong class="orangeTxt largeTxt" style ="font-size: 30px;"><u>Free Resources</u></strong></p>
					    <p style=" text-align: center; "> 
					    					    <a href="{{'/assets/includes/StudentSelf-ManagementProtocols.pdf'|theme }}"  class="btn btn-lg btn-bright-cerulean pulse-hvr animated">Student Self-Management Protocols</a>
					    <a href="{{'/assets/includes/Classroom-LevelActionSteps.pdf'|theme }}"  class="btn btn-lg btn-bright-cerulean pulse-hvr animated">Classrom-Level Action Steps</a>

					    </p>
					    
					    
					  </div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- bloc-42 END -->



<!-- SCRC Login Popup Window -->

<div class="modal inmodal" id="SCRCLoginModel" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content animated bounceInRight">
				<div class="modal-header" style="border-bottom: 1px solid #e5e5e5;">
					<a href="/about/contact-us?p=2" class="btn   btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<!--<img id="cms-logo" src="{{'assets/includes/img/NSCC-tagline-logo5-768x100.png'|theme }}" width="80%" /> -->
						<h3 class="mg-md text-center" >
                          <span style="color: #075081;font-size: 27px;font-weight: bold;">Request</span> <span style="color:#45AEC2;font-size: 27px;font-weight: bold;">more</span> <span style="color:#7B7B7B;font-size: 27px;font-weight: bold;">information </span><span style="color:#25486A;font-size: 27px;font-weight: bold;">:</span>
                        </h3>
				</div>
				<form class="form-horizontal" method="POST" action="" id="join-learning-community">
						<div class="modal-body" style="padding:15px;">

										<div style="padding:5px 25px;">
											 <div class="form-group">
									 	   		<input type="text" required class="form-control"  placeholder="Full Name" name="name">
										   </div>
					             <div class="form-group">
											 		<input type="email" required class="form-control" placeholder="E-mail" name="email">
					             </div>
					             <div class="form-group">
											 		<input type="phone" required class="form-control" placeholder="Phone" name="phone">
					             </div>
					             <div class="form-group">
											 		<textarea wrap="soft" required class="form-control" placeholder="Message" type="text" rows="6" name="message"></textarea>
										   </div>
							 		</div>

						</div>
						<div class="modal-footer">
								<input type="submit" class="btn btn-bright-cerulean" value="Submit" name="Submit">
						</div>
					</form>
				</div>
		</div>
</div>


<!-- SCRC Login Popup Window END -->