title = "Blog - National School Climate Center"
url = "/news/post/:slug"
layout = "default"
is_hidden = 0

[newsPost]
[newsPosts]
==
<a onclick="window.history.back();" class="bloc-button btn btn-d back-button showback-button"><span class="fa fa-chevron-left"></span></a>

<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h3 class="mg-md text-center lg-shadow">
					NSCC News
					<a href="/about/contact-us" class="btn   btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>
				</h3>
			</div>
		</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
			 <div class="col-sm-9">
        {% component "newsPost" %}
       </div>
			 <div class="col-sm-3 border-gray">
				 {% partial "newsPosts::sideList" postsPerPage="3" %}
			 </div>
      </div>
		</div>
	</div>
</div>
