{{ form_open({ id:'payment-form',request: __SELF__~'::onHandleForm'}) }}
    <section id="amount">
        <h1>Donation Amount</h1>
        <div class="radio">
            <div class="amountsWrapper" style="display:block">
              <div class="row">
                  {% for key , getDonationData in donationAmount %}
                    <div class="col-md-6 col-sm-12">
                      <div class="donation-amounts">
                      <label for="option{{key}}" class="amountOption amountOption-btn {% if key == 1 %} selected {% endif %}" id="firstPaymentChoice">
                        <input id="option{{key}}" name="donationAmountSelected" {% if key == 2 %} checked="checked" {% endif %}  value="{{getDonationData['amount']}}" class="required" type="radio">
                         {% if getDonationData['amount'] != 'other' %}${% endif %}{{getDonationData['amount']}}
                      </label>
                      {% if getDonationData['amount'] == 'other' %}
                        <span>
                         <input  min="1" maxlength="15" name="donationAmountOther" id="donationAmountOther" min="1" class="" value="" type="number" placeholder="$ Amount">
                        </span>
                      {% else %}
                       <span class="donation-text">  {{ getDonationData['text'] }} </span>
                      {%  endif %}
                    </div>

                    </div>
                  {% endfor %}
              </div>
            </div>
        </div>
    </section>
    <section id="giftType">
        <div>
            <h1>Donation Frequency</h1><span class="recurring-notification">Recurring donation are the best way to give steady support</span>
            <div class="donation_frequency">
              <span class="btn btn-primary frequency-btn"> <input type="radio" name="donation_frequency" value=""> One Time </span>
              <span class="btn btn-primary frequency-btn"> <input type="radio" name="donation_frequency" value="month"> Monthy </span>
              <span class="btn btn-primary frequency-btn"> <input type="radio" name="donation_frequency" value="3-month"> Quarterly </span>
              <span class="btn btn-primary frequency-btn"> <input type="radio" name="donation_frequency" value="year" checked> Annual </span>
            </div>
        </div>
    </section>

    <section id="billingInfo">
      <h3 class="payPalHideOptional h3-color">Your Information</h3><br>

      <div id="country-select" class="countryFieldWrapper" style="">
          <label for="country"><span class="requiredMark">* </span>Country:</label>
          <select id="country" name="country" class="countryField required" tabindex="15">
              <option value="US">United States</option>
              <option value="CA">Canada</option>
              <option value="AF">Afghanistan</option>
              <option value="AL">Albania</option>
              <option value="DZ">Algeria</option>
              <option value="AQ">Antartica</option>
              <option value="AG">Antigua And Barbuda</option>
              <option value="AR">Argentina</option>
              <option value="AW">Aruba</option>
              <option value="AU">Australia</option>
              <option value="AT">Austria</option>
              <option value="AZ">Azerbaijan</option>
              <option value="BH">Bahrain</option>
              <option value="BD">Bangladesh</option>
              <option value="BB">Barbados</option>
              <option value="BE">Belgium</option>
              <option value="BZ">Belize</option>
              <option value="BY">Belorussia</option>
              <option value="BJ">Benin</option>
              <option value="BM">Bermuda</option>
              <option value="BO">Bolivia</option>
              <option value="BW">Botswana</option>
              <option value="BR">Brazil</option>
              <option value="BN">Brunei Darussalam</option>
              <option value="BG">Bulgaria</option>
              <option value="MM">Burma</option>
              <option value="BI">Burundi</option>
              <option value="CM">Cameroon</option>
              <option value="CV">Cape Verde</option>
              <option value="KY">Cayman Islands</option>
              <option value="CF">Central African Rep.</option>
              <option value="TD">Chad</option>
              <option value="CL">Chile</option>
              <option value="CX">Christmas Island</option>
              <option value="CC">Cocos (Keeling) Islands</option>
              <option value="CO">Colombia</option>
              <option value="KM">Comoros</option>
              <option value="CG">Congo</option>
              <option value="CK">Cook Islands</option>
              <option value="CR">Costa Rica</option>
              <option value="CI">Cote D'Ivoire</option>
              <option value="CU">Cuba</option>
              <option value="CY">Cyprus</option>
              <option value="CZ">Czech Republic</option>
              <option value="KP">Democratic People's Republic of Korea</option>
              <option value="DK">Denmark</option>
              <option value="DJ">Djibouti</option>
              <option value="DM">Dominica</option>
              <option value="DO">Dominican Republic</option>
              <option value="EC">Ecuador</option>
              <option value="EG">Egypt</option>
              <option value="SV">El Salvador</option>
              <option value="GQ">Equatorial Guinea</option>
              <option value="ET">Ethiopia</option>
              <option value="FK">Falkland Islands</option>
              <option value="FJ">Fiji</option>
              <option value="FI">Finland</option>
              <option value="FR">France</option>
              <option value="GF">French Guiana</option>
              <option value="GA">Gabon</option>
              <option value="GZ">Gaza</option>
              <option value="DE">Germany</option>
              <option value="GH">Ghana</option>
              <option value="GI">Gibraltar</option>
              <option value="GR">Greece</option>
              <option value="GL">Greenland</option>
              <option value="GD">Grenada</option>
              <option value="GP">Guadeloupe</option>
              <option value="GT">Guatemala</option>
              <option value="GN">Guinea</option>
              <option value="GW">Guinea-Bissau</option>
              <option value="GY">Guyana</option>
              <option value="HT">Haiti</option>
              <option value="HN">Honduras</option>
              <option value="HK">Hong Kong</option>
              <option value="HU">Hungary</option>
              <option value="IS">Iceland</option>
              <option value="IN">India</option>
              <option value="ID">Indonesia</option>
              <option value="IR">Iran</option>
              <option value="IQ">Iraq</option>
              <option value="IE">Ireland</option>
              <option value="IL">Israel</option>
              <option value="IT">Italy</option>
              <option value="JM">Jamaica</option>
              <option value="JP">Japan</option>
              <option value="JO">Jordan</option>
              <option value="KE">Kenya</option>
              <option value="KI">Kiribati</option>
              <option value="KW">Kuwait</option>
              <option value="LV">Latvia</option>
              <option value="LB">Lebanon</option>
              <option value="LS">Lesotho</option>
              <option value="LR">Liberia</option>
              <option value="LY">Libya</option>
              <option value="LI">Liechtenstein</option>
              <option value="LU">Luxembourg</option>
              <option value="MO">Macau</option>
              <option value="MG">Madagascar</option>
              <option value="MY">Malaysia</option>
              <option value="MT">Malta</option>
              <option value="MQ">Martinique</option>
              <option value="MX">Mexico</option>
              <option value="FM">Micronesia</option>
              <option value="MC">Monaco</option>
              <option value="MS">Montserrat Island</option>
              <option value="MA">Morocco</option>
              <option value="MZ">Mozambique</option>
              <option value="NA">Namibia</option>
              <option value="NP">Nepal</option>
              <option value="NL">Netherlands</option>
              <option value="AN">Netherlands Antilles</option>
              <option value="NC">New Caledonia</option>
              <option value="NZ">New Zealand</option>
              <option value="NI">Nicaragua</option>
              <option value="NE">Niger</option>
              <option value="NG">Nigeria</option>
              <option value="NF">Norfolk Island</option>
              <option value="NO">Norway</option>
              <option value="OM">Oman</option>
              <option value="PK">Pakistan</option>
              <option value="PA">Panama</option>
              <option value="PY">Paraguay</option>
              <option value="YE">People's Democratic Republic of Yemen</option>
              <option value="CN">People's Republic of China</option>
              <option value="PE">Peru</option>
              <option value="PH">Philippines</option>
              <option value="PL">Poland</option>
              <option value="PT">Portugal</option>
              <option value="QA">Qatar</option>
              <option value="KR">Republic of Korea</option>
              <option value="RO">Romania</option>
              <option value="RU">Russian Federation</option>
              <option value="RW">Rwanda</option>
              <option value="LC">Saint Lucia</option>
              <option value="SM">San Marino</option>
              <option value="SA">Saudi Arabia</option>
              <option value="SN">Senegal</option>
              <option value="SL">Sierra Leone</option>
              <option value="SG">Singapore</option>
              <option value="SB">Solomon Islands</option>
              <option value="SO">Somalia</option>
              <option value="ZA">South Africa</option>
              <option value="ES">Spain</option>
              <option value="LK">Sri Lanka</option>
              <option value="SH">St. Helena</option>
              <option value="KN">St. Kitts and Nevis</option>
              <option value="SD">Sudan</option>
              <option value="SE">Sweden</option>
              <option value="CH">Switzerland</option>
              <option value="SY">Syria</option>
              <option value="TW">Taiwan</option>
              <option value="TH">Thailand</option>
              <option value="BS">The Bahamas</option>
              <option value="GM">The Gambia</option>
              <option value="TG">Togo</option>
              <option value="TT">Trinidad and Tobago</option>
              <option value="TN">Tunisian</option>
              <option value="TR">Turkey</option>
              <option value="TC">Turks And Caicos Islands</option>
              <option value="UG">Uganda</option>
              <option value="UA">Ukraine</option>
              <option value="AE">United Arab Emirates</option>
              <option value="GB">United Kingdom</option>
              <option value="UY">Uruguay</option>
              <option value="VE">Venezuela</option>
              <option value="EH">Western Sahara</option>
          </select>
      </div>

      <div class="infield">
          <label for="firstName"><span class="requiredMark">* </span>First name:</label>
          <input class="required" name="firstName" id="firstName" maxlength="50" style="text-indent: 126px;" type="text">
      </div>
      <div class="infield">
          <label for="lastName"><span class="requiredMark">* </span>Last name:</label>
          <input class="required" name="lastName" id="lastName" maxlength="50" style="text-indent: 123px;" type="text">
      </div>
      <div class="infield" >
          <label for="intlPhoneNumber"><span class="requiredMark">* </span>Phone number: +</label>
          <input class="required" name="PhoneNumber" id="intlPhoneNumber" maxlength="19" style="text-indent: 177px;" type="text">
      </div>
      <div class="infield">
          <label for="email"><span class="requiredMark">* </span>Email:</label>
          <input class="required" name="email" id="email" maxlength="100" style="text-indent: 81px;" type="text">
      </div>
      <p>We'll use your email to send you a receipt. <a target="_blank" href="/publications/privacy-policy" style="color:#29C2E5">View privacy policy</a></p>
      <label >
          <h4 class="h3-color"><input name="newslatterSubscribe" value="1" tabindex="7" type="checkbox" >  <span>I would like to receive the National School Climate newsletter.</span></h4>
      </label>

    </section>

    <section id="paymentType" class="ppDefaultStyle">
      <h3 class="h3-color">Payment Method</h3>
      <div class="alert" style="display:none;" id="paymentAlert"></div>
      <ul>
          <li><a id="cc-link" href="javascript:void()" class="tabbable active" tabindex="5">Credit card</a></li>
      </ul>

      <div id="cc" class="tabContents" style="display: block;">
          <div class="infield">
              <label for="cardNumber" style=""><span class="requiredMark">* </span>Credit card number:</label>
              <input name="card_number" autocomplete="off" data-mask="9999-9999-9999-9999" maxlength="20" id="cardNumber"  class="required card-number stripe-sensitive" value="" tabindex="7" style="text-indent: 203px;" type="text">
          </div>
          <div class="col-wrap">
              <div class="infield second">
                  <label for="cardCvv2" style=""><span class="requiredMark">* </span>CVV:</label>
                  <input autocomplete="off" class="required card-cvc" name="card_cvc" id="cardCvv2" maxlength="4" value="" tabindex="8" style="text-indent: 68px;" type="text">
              </div>
              <div class="expirationWrapper">
                  <label>Expiration date:</label>
                  <div>
                      <select id="expMonth" name="card_expiry_month" class="required card-expiry-month stripe-sensitive" tabindex="9"></select>
                      <select id="expYear" name="card_expiry_year" class="required card-expiry-year creditcardexpiry" tabindex="10"></select>
                  </div>
              </div>
          </div>
       </div>
    </section>
    <section id="billingInfoFooter">
      <input id="makepayment" value="Submit Donation" type="submit">
    </section>
   {{ form_close() }}


   {% partial __SELF__~"::newslatter_subscribe" %}

   {% put scripts %}

     <script>
      Stripe.setPublishableKey("{{STRIPE_KEY}}");
     </script>
     	{% if session %}
      <script>
     			 swal("","The National School Climate Center <br> Thanks You! <br> For Your donation of <b>{{ session }}</b> ", "success")
     	 </script>
     	{% endif %}

      {% if stripeError %}
        <script>
        swal("","{{stripeError}}", "error");
        </script>
      {% endif %}

   {% endput %}
