<style>
    .btn-next {
        color: #495192 !important;
        font-weight: 900 !important;
        padding: 6px 33px !important;
        margin: 0px !important;
        border-radius: 0px !important;
    }
    .btn-other-way {
        padding: 1px 25px !important;
        margin: 0px !important;
        border-radius: 0px !important;
    }
    input[type=submit].btn-submit {
        background-color: azure !important;
        letter-spacing: 0px !important;
        border-radius: 0px !important;
        font-size: inherit !important;
        width: auto !important;
        margin-right: 0px !important;
        margin-top: 0px !important;
    }

    input[type=submit].btn-submit:hover, input[type=submit].btn-submit:active {
        background: #f0ffff85 !important;
    }

    .tab .input-group-addon {
        border-radius: 5px 0 0 5px;
    }
    .tab .input-group .form-control {
        border-radius: 0 5px 5px 0;
    }
    .btn-next {
        background-color: rgb(221, 221, 221) !important;;
    }
    #amount {
        margin-bottom: 0;
        padding-bottom: 6px;
    }
    @media (max-width: 1024px) {
        .li-amount-sel, .li-amount {
            width: calc(50% - 5px) !important;
        }
        .mobile-mt-0 {
            margin-top: 0px !important;
        }
        .mobile-mb-6 {
            margin-bottom: 6px !important;
        }
        .mobile-mt-25 {
            margin-top: 25px !important;
        }
        .tab .row.block {
            margin-top: 0px;
        }
        #tab-payment .row.row.block{
            margin-top: 45px;
        }
    }

    @media (max-width: 480px) {
        .tab {
            padding-left: 0;
            margin-left: px;
            list-style: none;
            padding: 20px;
        }
        .tab .form-control {
            font-size: 15px;
        }
        .tab .list-inline>li {
            width: 100% !important;
        }

        .tab .row.block {
            margin-top: 20px;
        }
        .mobile-mt-0 {
            margin-top: 0px !important;
        }
        .mobile-mb-6 {
            margin-bottom: 6px !important;
        }
        .mobile-mt-25 {
            margin-top: 25px !important;
        }
    }
    .li-amount-sel .btn {
        font-weight: 700 !important;
    }
    .li-amount:after {
        font-weight: 700 !important;
        left: 10px !important;
    }
    .btn-amount {
        padding-left: 110px !important;
    }
</style>
{% partial 'popups/other-way-donate-popup.htm' %}
{{ form_open({ id:'payment-form',request: __SELF__~'::onHandleForm'}) }}
<!-- One "tab" for each step in the form: -->
<div class="tab active" id="tab-amount">
    <ul class="list-inline" style="margin: 0 -15px;">
        <li style="width: 20%; padding:0;" class="li-amount-sel">
            <button type="button" class="btn btn-block btn-outline" onClick="javascript:StripeScripts.setAmount(event, 50);">
                $50
            </button>
        </li>
        <li style="width: 20%; padding:0" class="li-amount-sel">
            <button type="button" class="btn btn-block btn-outline" onClick="javascript:StripeScripts.setAmount(event, 100);">
                $100 </button>
        </li>
        <li style="width: 20%; padding:0" class="li-amount-sel">
            <button type="button" class="btn btn-block btn-outline" onClick="javascript:StripeScripts.setAmount(event, 500);">
                $500 </button>
        </li>
        <li style="width: 20%; padding:0" class="li-amount-sel">
            <button type="button" class="btn btn-block btn-outline" onClick="javascript:StripeScripts.setAmount(event, 1000);">
                $1000 </button>
        </li>
        <li style="width: calc(20% - 20px); padding:0; position: relative" class="li-amount">
            <input type="number" name="donationAmountOther" id="amount" min=1 maxlength="15" class="btn-outline btn-amount btn-block required" />
        </li>
    </ul>
    <div class="row block">
        <div class="col-md-6 mobile-mt-0" style="font-size: 20px;">
            <input type="checkbox" name="donation_frequency" value="month" class="icheck" />
            <span class="white" style="margin-left: 5px;"> I would like to become a sustaining monthly donor
            </span>
        </div>
        <div class="col-md-3" style="text-align: left;">
            <button type="button" class="btn btn-outline btn-other-way" data-toggle="modal" data-target="#other-way-donate-popup">
                Other ways to donate
            </button>
        </div>
        <div class="col-md-3" style="text-align: right;">
            <input type="button" class="btn btn-next" onClick="javascript:StripeScripts.step('tab-details');" value="NEXT" />
        </div>
    </div>
</div>
<div class="tab" id="tab-details">
    <div class="row">
        <div class="col-md-3 mobile-mt-0 mobile-mb-6">
            <div class="input-group">
                <span class="input-group-addon">FIRST NAME</span>
                <input type="text" name="first_name" maxlength="50" class="form-control required">
            </div>
        </div>
        <div class="col-md-3 mobile-mt-0 mobile-mb-6">
            <div class="input-group">
                <span class="input-group-addon">LAST NAME</span>
                <input type="text" name="last_name" maxlength="50" class="form-control required">
            </div>
        </div>
        <div class="col-md-6 mobile-mt-0 mobile-mb-6">
            <div class="input-group">
                <span class="input-group-addon">ADDRESS</span>
                <input type="text" name="address_1" class="form-control required">
            </div>
        </div>
    </div>
    <div class="row mobile-mt-0" style="margin-top: 20px;">
        <div class="col-md-3 mobile-mt-0 mobile-mb-6">
            <div class="input-group">
                <span class="input-group-addon">ZIP/POSTAL CODE</span>
                <input type="text" name="zip" class="form-control required">
            </div>
        </div>
        <div class="col-md-3 mobile-mt-0 mobile-mb-6">
            <div class="input-group">
                <span class="input-group-addon">CITY</span>
                <input type="text" name="city" class="form-control required">
            </div>
        </div>
        <div class="col-md-3 mobile-mt-0 mobile-mb-6">
            <div class="input-group">
                <span class="input-group-addon">STATE/PROVINCE</span>
                <input type="text" name="state" class="form-control required">
            </div>
        </div>
        <div class="col-md-3 mobile-mt-0 mobile-mb-6">
            <div class="input-group">
                <span class="input-group-addon">EMAIL</span>
                <input type="email" name="email" id="email" class="form-control required">
            </div>
        </div>
    </div>
    <div class="row block mobile-mt-25">
        <div class="col-sm-9 mobile-mt-0 mobile-mb-6" style="font-size: 20px; padding-left: 15px">
            <div class="row">
                <div class="col-sm-12" style="font-size: 20px;">
                    <input type="checkbox" name="newslatterSubscribe" value="1" checked />
                    <span class="white" style="margin-left: 5px;">Yes, sign me up for email updates </span>
                </div>
                <div class="col-sm-12" style="font-size: 20px; margin-top: 15px;">
                    <input type="checkbox" name="onBehalfHonor" value="1" class="icheck" />
                    <span class="white" style="margin-left: 5px;">On behalf or in honor of </span>
                    <div class="row recipient" style="padding-top: 15px; display: none">
                        <div class="col-md-4 mobile-mt-0 mobile-mb-6">
                            <div class="input-group">
                                <span class="input-group-addon">FIRST NAME</span>
                                <input type="text" id="recipient_first_name" name="recipient_first_name" maxlength="50"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 mobile-mt-0 mobile-mb-6">
                            <div class="input-group">
                                <span class="input-group-addon">LAST NAME</span>
                                <input type="text" id="recipient_last_name" name="recipient_last_name" maxlength="50"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 mobile-mt-0 mobile-mb-6">
                            <div class="input-group">
                                <span class="input-group-addon">EMAIL</span>
                                <input type="email" id="recipient_email" name="recipient_email" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="text-align: right;">
            <button type="button" class="btn btn-link btn-back" onClick="javascript:StripeScripts.step('tab-amount');">
                Back </button>
            <button type="button" class="btn btn-next" onClick="javascript:StripeScripts.step('tab-payment');">
                NEXT </button>
        </div>
    </div>
</div>

<div class="tab" id="tab-payment">
    <div class="row">
        <div class="col-sm-7 mobile-mt-0 mobile-mb-6">
            <div class="input-group">
                <span class="input-group-addon">CARD NUMBER</span>
                <input type="text" name="card_number" id="cardNumber" class="required form-control card-number stripe-sensitive"
                    autocomplete="off" maxlength="20" placeholder="9999-9999-9999-9999" />
            </div>
        </div>
        <div class="col-sm-5 mobile-mt-0 mobile-mb-6">
            <div class="input-group">
                <span class="input-group-addon">EXPIRATION DATE</span>
                <input type="text" name="card_expiry" id="expr" class="required card_expiry masked form-control"
                    pattern="(1[0-2]|0[1-9])\/([2-5][0-9]|1[8-9])" placeholder="MM/YY" data-valid-example="05/18" style="border-radius: 0" />
                <span class="input-group-addon" style="border-left: 0px; border-right: 2px solid white; border-radius: 0 5px 5px 0">MM
                    / YY</span>
            </div>
        </div>
    </div>
    <div class="row block">
        <div class="col-md-9 mobile-mt-0" style="font-size: 20px;">
            <p class="policy-para">
                <strong> Our Gift Acceptance Policy </strong> <br>
                The National School Climate Center is 501(c)(3) educational organization. We are nonpartisan and
                independent in all programs. The support we receive from donors and foundations does not determine
                or influence the content we develop and/ or services we provide to our schools.
            </p>
        </div>
        <div class="col-md-3" style="text-align: right;">
            <input type="submit" id="makepayment" class="btn btn-submit btn-next" value="SUBMIT DONATION" />
        </div>
    </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div class="tab-bar">
    <div class="step white active" id-attr="tab-amount" style="border-radius: 0 0 0 15px;"> 1. AMOUNT </div>
    <div class="step white" id-attr="tab-details"> 2. DETAILS </div>
    <div class="step white" id-attr="tab-payment" style="border-radius: 0 0 15px 0;"> 3. PAYMENT </div>
</div>
{{ form_close() }}

{% partial __SELF__~"::newslatter_subscribe" %}

{% put scripts %}
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>

<script>
    $(document).ready(function () {
        $('input[name=onBehalfHonor]').iCheck({
            checkboxClass: 'icheckbox_square-orange',
            radioClass: 'iradio_square-orange',
            increaseArea: '20%' // optional
        });
        $('input[name=onBehalfHonor]').on('ifChanged', function (event) {
            if (!$(this).parent('div').hasClass('checked')) {
                $('.recipient').show();
                $('#recipient_first_name').addClass('required');
                $('#recipient_last_name').addClass('required');
                $('#recipient_email').addClass('required');
            } else {
                $('#recipient_first_name').removeClass('required');
                $('#recipient_last_name').removeClass('required');
                $('#recipient_email').removeClass('required');
                $('.recipient').hide();
            }
        });
    });
    $(function (w) {
        'use strict'
        w.StripeScripts = w.StripeScripts || {}
        // $('#card_number').validateCreditCard(function(result) {
        //     $('#card_number').removeClass('invalid');
        //     if (result.valid) {
        //     } else {
        //         $('#card_number').addClass('invalid');
        //     }
        // });
        Stripe.setPublishableKey("{{STRIPE_KEY}}");

        function init() {
            w.StripeScripts.step = step;
            w.StripeScripts.validateTab = validateTab;
            w.StripeScripts.validateEmail = validateEmail;
            w.StripeScripts.initValidateTab = initValidateTab;
            w.StripeScripts.setAmount = setAmount;
            w.StripeScripts.setAmountFromOutButtons = setAmountFromOutButtons;
            w.StripeScripts.matchingTab = {
                'tab-amount': 0,
                'tab-details': 1,
                'tab-payment': 2,
                'inverse': {
                    0: 'tab-amount',
                    1: 'tab-details',
                    2: 'tab-payment'
                }
            }
        }

        var step = function (target) {
            if ($('#' + target).hasClass('active')) {
                return;
            }
            var current = $('.tab.active').attr('id');
            var currentIndex = w.StripeScripts.matchingTab[current];
            var targetIndex = w.StripeScripts.matchingTab[target];
            if (targetIndex > currentIndex) {
                for (let index = currentIndex; index < targetIndex; index++) {
                    if (!w.StripeScripts.validateTab(w.StripeScripts.matchingTab.inverse[index])) {
                        if (index != currentIndex) {
                            w.StripeScripts.initValidateTab(w.StripeScripts.matchingTab.inverse[index]);
                        }
                        return;
                    }
                }
            }
            $(".step").removeClass('active');
            $(".tab").removeClass('active');
            $(".tab-bar").find("[id-attr='" + target + "']").addClass('active');
            $('#' + target).addClass('active');
        }

        var validateEmail = function (email) {
            var re =
                /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        };
        var validateTab = function (current) {
            var ret = true;
            var $inputTags = $('#' + current).find('input.required');
            w.StripeScripts.initValidateTab(current);
            $.each($inputTags, function (key, input) {
                var type = $(input).attr("type");
                var value = $(input).val();
                if (type == 'checkbox') return;
                if (!value || (type == 'number' && parseInt(value) == 0) || (type == 'email' && !
                        validateEmail(value))) {
                    $(input).addClass("invalid");
                    var $addons = $(input).parent().find('.input-group-addon');
                    if ($addons.length > 0) {
                        $addons.addClass("invalid");
                    }
                    ret = false;
                }
            })
            return ret;
        }

        var setAmount = function (event, amount) {
            event.preventDefault();
            $("#amount").val(amount);
        }

        var setAmountFromOutButtons = function (amount) {
            $("#amount").val(amount);
            scrollToTarget('1')
        }

        var initValidateTab = function (tab) {
            var $invalTags = $('#' + tab).find('.invalid');
            $invalTags.removeClass("invalid");
        }

        $(".step").on("click", function () {
            var target = $(this).attr("id-attr");
            w.StripeScripts.step(target);
        })

        window.addEventListener('load', init);
    }(window));
</script>


{% if session %}
<script>
    swal("", "The National School Climate Center <br> Thanks You! <br> For Your {{ html_limit(session,1000) }} ",
        "success")
</script>
{% endif %}

{% if error %}
<script>
    swal("", "{{error}}", "error")
</script>
{% endif %}


{% if stripeError %}
<script>
    swal("", "{{stripeError}}", "error");
</script>
{% endif %}
{% endput %}
