==
<?php
use digitalfox\teams\models\Team;

function onStart()
{
  $educationsArray = [];
	$financeArray = [];
	$schoolSupportArray = [];
	$informationTechnologyArray = [];
	$researchEvaluationArray = [];


  $education = Team::where('department', 'education')->orderBy('order')->get();
	$finance = Team::where('department', 'finance')->orderBy('order')->get();
	$schoolSupport = Team::where('department', 'school-support')->orderBy('order')->get();
	$informationTechnology = Team::where('department', 'information-technology')->orderBy('order')->get();
	$researchEvaluation = Team::where('department', 'research-evaluation')->orderBy('order')->get();


	foreach($education as $key => $edu){
			$educationsArray[$key]['name'] = $edu->name;
			$educationsArray[$key]['email'] = $edu->email;
			$educationsArray[$key]['post'] = $edu->post;
			$educationsArray[$key]['description'] = $edu->description;
			$educationsArray[$key]['image_path'] = ($edu->avatar)? $edu->avatar->getPath() : '';
	}

	foreach($finance as $key => $fina){
			$financeArray[$key]['name'] = $fina->name;
			$financeArray[$key]['email'] = $fina->email;
			$financeArray[$key]['post'] = $fina->post;
			$financeArray[$key]['description'] = $fina->description;
			$financeArray[$key]['image_path'] = ($fina->avatar)? $fina->avatar->getPath() : '';
	}

	foreach($schoolSupport as $key => $schoolSupp){
			$schoolSupportArray[$key]['name'] = $schoolSupp->name;
			$schoolSupportArray[$key]['email'] = $schoolSupp->email;
			$schoolSupportArray[$key]['post'] = $schoolSupp->post;
			$schoolSupportArray[$key]['description'] = $schoolSupp->description;
			$schoolSupportArray[$key]['image_path'] = ($schoolSupp->avatar)? $schoolSupp->avatar->getPath() : '';
	}

	foreach($informationTechnology as $key => $informationTech){
			$informationTechnologyArray[$key]['name'] = $informationTech->name;
			$informationTechnologyArray[$key]['email'] = $informationTech->email;
			$informationTechnologyArray[$key]['post'] = $informationTech->post;
			$informationTechnologyArray[$key]['description'] = $informationTech->description;
			$informationTechnologyArray[$key]['image_path'] = ($informationTech->avatar)? $informationTech->avatar->getPath() : '';
	}

	foreach($researchEvaluation as $key => $researchEval){
			$researchEvaluationArray[$key]['name'] = $researchEval->name;
			$researchEvaluationArray[$key]['email'] = $researchEval->email;
			$researchEvaluationArray[$key]['post'] = $researchEval->post;
			$researchEvaluationArray[$key]['description'] = $researchEval->description;
			$researchEvaluationArray[$key]['image_path'] = ($researchEval->avatar)? $researchEval->avatar->getPath() : '';
	}


	$this['education'] = $educationsArray;
	$this['finance'] = $financeArray;
	$this['schoolSupport'] = $schoolSupportArray;
	$this['informationTechnology'] = $informationTechnologyArray;
	$this['researchEvaluation'] = $researchEvaluationArray;

	$educationDesc = "The Education Department offers a wide variety of services ranging from professional development to School Climate Leadership Certification. Reach out to our Education Department if you are interested in these services or would like more guidance on how to start the school climate improvement process in your school community.";
	$financeDesc = "Our Finance Department can provide more guidance on the costs for our tools and services, as well as payment processing options for your school community.";
	$schoolSupportDesc = "The School Support Department can help answer any questions that you may have about our <i>Comprehensive School Climate Inventory</i> (CSCI) tool. They can also assist you with unpacking the data in your CSCI Report and provide resources for developing action plans.";
	$informationTechnologyDesc = "Our IT Department will be able to assist you with tech-related questions about our School Climate Resource Center, an interactive online platform for educators nationwide that are interested in honing in on their school climate improvement work.";
	$researchEvaluationDesc = "Our Research and Evaluation Department gathers, analyzes, and disseminates data that offers real direction and support to school leaders, researchers, policymakers, and other key stakeholders as they work to improve school climate in their communities. They offer a wide range of school improvement-related research, measurement, and evaluation services.";

  $this['educationDesc'] = $educationDesc;
	$this['financeDesc'] = $financeDesc;
	$this['schoolSupportDesc'] = $schoolSupportDesc;
	$this['informationTechnologyDesc'] = $informationTechnologyDesc;
	$this['researchEvaluationDesc'] = $researchEvaluationDesc;

	$this['key'] = 50000;
}
?>
==
<div class="col-sm-12" align="center">
  <button class="btn btn-primary pulse-hvr animated btn-lg btn-md-w" data-toggle="modal" data-target="#educationModal">Education</button>
	<button class="btn btn-info pulse-hvr animated btn-lg btn-md-w" data-toggle="modal" data-target="#financeModal">Finance</button>
	<button class="btn btn-warning pulse-hvr animated btn-lg btn-md-w" data-toggle="modal" data-target="#schoolSupportModal">School Support</button>
	<button class="btn btn-danger pulse-hvr animated btn-lg btn-md-w" data-toggle="modal" data-target="#informationTechnologyModal">Information Technology</button>
	<button class="btn btn-success pulse-hvr animated btn-lg btn-md-w" data-toggle="modal" data-target="#researchEvaluationModal">Research and Evaluation</button>
</div>

<!-- Popup Model Window Education -->
<div id="educationModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" align="center">Education</h2>
      </div>
      <div class="modal-body">
        <p>
            {{ html_limit(educationDesc,100000) }}
        </p>

        <div class="row voffset-lg team-container">

          {% for team in  education %}
					<div class="col-sm-4 team-mem">
						<img class="center-block model{{key}}" style="cursor:pointer" onclick='put_model_data("{{team.name}}","{{team.email}}","{{team.post}}","{{team.image_path}}", "model{{key}}");' data-desc="{{team.description}}" data-toggle="modal" data-target="#member-dis-model" src="{{team.image_path}}" height="165" />
						<h3 class="text-center blocs-team-header">
							{{team.name}}
						</h3>
						<p class="blocs-team-sub text-center">
						{% if team.email %}
							<a href="mailto:{{team.email}}"><span class="fa fa-envelope-o icon-md " style=" font-size: 14px !important"></span></a>
						{% endif %}

							{{team.post}}
						</p>
					</div>
						{% set key = key + 1 %}
           {% endfor %}

        </div>

      </div>
    </div>

  </div>
</div>
<!-- End Popup Model Window Education -->

<!-- Popup Model Window finance -->
<div id="financeModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" align="center">Finance</h2>
      </div>
      <div class="modal-body">
        <p>
            {{ html_limit(financeDesc,100000) }}
        </p>

        <div class="row voffset-lg team-container">

          {% for team in  finance %}
					<div class="col-sm-4 team-mem">
						<img class="center-block model{{key}}" style="cursor:pointer" onclick='put_model_data("{{team.name}}","{{team.email}}","{{team.post}}","{{team.image_path}}", "model{{key}}");' data-desc="{{team.description}}" data-toggle="modal" data-target="#member-dis-model" src="{{team.image_path}}" height="165" />
						<h3 class="text-center blocs-team-header">
							{{team.name}}
						</h3>
						<p class="blocs-team-sub text-center">
						{% if team.email %}
							<a href="mailto:{{team.email}}"><span class="fa fa-envelope-o icon-md " style=" font-size: 14px !important"></span></a>
						{% endif %}

							{{team.post}}
						</p>
					</div>
					{% set key = key + 1 %}
           {% endfor %}

        </div>

      </div>
    </div>

  </div>
</div>
<!-- End Popup Model Window finance -->

<!-- Popup Model Window schoolSupport -->
<div id="schoolSupportModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" align="center">School Support</h2>
      </div>
      <div class="modal-body">
        <p>
            {{ html_limit(schoolSupportDesc,100000) }}
        </p>

        <div class="row voffset-lg team-container">

          {% for team in  schoolSupport %}
					<div class="col-sm-4 team-mem">
						<img class="center-block model{{key}}" style="cursor:pointer" onclick='put_model_data("{{team.name}}","{{team.email}}","{{team.post}}","{{team.image_path}}", "model{{key}}");' data-desc="{{team.description}}" data-toggle="modal" data-target="#member-dis-model" src="{{team.image_path}}" height="165" />
						<h3 class="text-center blocs-team-header">
							{{team.name}}
						</h3>
						<p class="blocs-team-sub text-center">
						{% if team.email %}
							<a href="mailto:{{team.email}}"><span class="fa fa-envelope-o icon-md " style=" font-size: 14px !important"></span></a>
						{% endif %}

							{{team.post}}
						</p>
					</div>
					{% set key = key + 1 %}
           {% endfor %}

        </div>

      </div>
    </div>

  </div>
</div>
<!-- End Popup Model Window schoolSupport -->

<!-- Popup Model Window informationTechnology -->
<div id="informationTechnologyModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" align="center">Information Technology</h2>
      </div>
      <div class="modal-body">
        <p>
            {{ html_limit(informationTechnologyDesc,100000) }}
        </p>

        <div class="row voffset-lg team-container">

          {% for team in  informationTechnology %}
					<div class="col-sm-4 team-mem">
						<img class="center-block model{{key}}" style="cursor:pointer" onclick='put_model_data("{{team.name}}","{{team.email}}","{{team.post}}","{{team.image_path}}", "model{{key}}");' data-desc="{{team.description}}" data-toggle="modal" data-target="#member-dis-model" src="{{team.image_path}}" height="165" />
						<h3 class="text-center blocs-team-header">
							{{team.name}}
						</h3>
						<p class="blocs-team-sub text-center">
						{% if team.email %}
							<a href="mailto:{{team.email}}"><span class="fa fa-envelope-o icon-md " style=" font-size: 14px !important"></span></a>
						{% endif %}

							{{team.post}}
						</p>
					</div>
					{% set key = key + 1 %}
           {% endfor %}

        </div>

      </div>
    </div>

  </div>
</div>
<!-- End Popup Model Window informationTechnology -->

<!-- Popup Model Window researchEvaluation -->
<div id="researchEvaluationModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" align="center">Research and Evaluation</h2>
      </div>
      <div class="modal-body">
        <p>
            {{ html_limit(researchEvaluationDesc,100000) }}
        </p>

        <div class="row voffset-lg team-container">

          {% for team in  researchEvaluation %}
					<div class="col-sm-4 team-mem">
						<img class="center-block model{{key}}" style="cursor:pointer" onclick='put_model_data("{{team.name}}","{{team.email}}","{{team.post}}","{{team.image_path}}", "model{{key}}");' data-desc="{{team.description}}" data-toggle="modal" data-target="#member-dis-model" src="{{team.image_path}}" height="165" />
						<h3 class="text-center blocs-team-header">
							{{team.name}}
						</h3>
						<p class="blocs-team-sub text-center">
						{% if team.email %}
							<a href="mailto:{{team.email}}"><span class="fa fa-envelope-o icon-md " style=" font-size: 14px !important"></span></a>
						{% endif %}

							{{team.post}}
						</p>
					</div>
					{% set key = key + 1 %}
           {% endfor %}

        </div>

      </div>
    </div>

  </div>
</div>
<!-- End Popup Model Window researchEvaluation -->
