
<div class="modal inmodal" id="member-dis-model" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>

            </div>
            <div class="modal-body popup-team-content">
              <img id="team-img" class="team-popup-img img-frame-md" src="" height="150" />
              <h4 class="modal-title" id="team-name"></h4>
              <em id="team-pos"></em>
              <div id="team-disc">

              </div>
            </div>

        </div>
    </div>
</div>
