==
<?php
function onStart(){
  $this['GOOGLE_CAPTCHA_SITE_KEY'] = Config::get('webconfig.GOOGLE_CAPTCHA_SITE_KEY');
}
?>
==
<div class="g-recaptcha" data-sitekey="{{GOOGLE_CAPTCHA_SITE_KEY}}" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>

<label id="recaptcha-error" class="error" style="display:none;">* Captcha is required.</label>
