[viewBag]
==
<?php
function onStart(){
 $this['constantcontact_ca'] = config::get('constantcontact.CONSTANTCONTACT_CA');
 $this['constantcontact_list'] = config::get('constantcontact.CONSTANTCONTACT_LIST');
}
?>
==
<style>
@media (max-width: 767px)
{
  .footer-section {
    margin-bottom: 0px;
  }
}
@media (max-width: 1204px)
{
  .footer-section .fa-lg {
      font-size: 1em !important;
  }
}
</style>

<div class="col-sm-12 footer-section">
    <div class="container">
      <div class="col-md-6">
        <!-- Newsletter sign up START -->


        <div style="margin-top:-12px; display:flex">

      				<form style="display: inline-block; text-align: left; margin-left: auto; margin-right: auto;" data-id="embedded_signup:form" class=" ctct-custom-form Form ctct-embed-signup" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
      					<h3 class="mg-md" style="font-size: 250%; text-align:center;">
      						JOIN OUR EMAIL LIST!
      					</h3>
      					<p style="text-align: center;">
      						Sign up to stay updated on our work, ongoing research, and more.
      					</p>
      					<span id="success_message" style="display:none;">
      						 <div style="color:#345BA9">Thanks for signing up!</div><br>
      					</span>
      					<input data-id="ca:input" name="ca" value="{{constantcontact_ca}}" type="hidden">
                <input data-id="list:input" name="list" value="{{constantcontact_list}}" type="hidden">
      					<input data-id="source:input" name="source" value="EFD" type="hidden">
      					<input data-id="required:input" name="required" value="list,email" type="hidden">
      					<input data-id="url:input" name="url" value="/newslatter-response" type="hidden">

      					<div class="form-group" style="margin: 0 auto;">
      						<div data-id="Email Address:p" >
    						  <div style="text-align:center;">  <label data-id="Email Address:label" data-name="email" class="ctct-form-required" style="text-align:center;">E-MAIL NEWSLETTER SIGNUP</label> </div>
                  <div style="display:flex; justify-content: center;">
                    <input data-id="Email Address:input" name="email" value="" class="form-control" maxlength="80" type="text" style="max-width:70%;">
                    <p> &emsp; </p>
        		         <button type="submit" class="btn submit  btn-bright-cerulean  btn-md Button ctct-button Button--block Button-secondary" data-enabled="enabled"> <b>Submit</b></button>
        		      </div>
        		      </div>
      				  </div>
      				</form>
      				</div>
            <!-- Newsletter sign up END -->
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row">

          <div class="col-md-6 col-sm-12">
          <!--         class="social-icons"  -->
            <div class="social-icons" style="text-align:center;">
                   <h1>(212)707-8799<h1>
              <ul class="nomargin">
                <a href="https://www.facebook.com/pages/National-School-Climate-Center/219273038093612" target="_blank"><i class="fa fa-facebook-square fa-lg social-fb" id="social"></i></a>
  	            <a href="http://www.twitter.com/school_climate" target="_blank"><i class="fa fa-twitter-square fa-lg social-tw" id="social"></i></a>
                <a href="https://www.linkedin.com/company/1310626/" target="_blank"><i class="fa fa-linkedin-square fa-lg social-tw" id="social"></i></a>
                <a href="https://www.instagram.com/schoolclimate/" target="_blank"><i class="fa fa-instagram fa-lg social-tw" id="social"></i></a>
                <a href="mailto:info@schoolclimate.org"><i class="fa fa-envelope-square fa-lg social-em" id="social"></i></a>
              </ul>

            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <center>
                <br>
              <a href="https://greatnonprofits.org/org/national-school-climate-center">
                <img src="{{'/assets/images/2017-top-rated-awards-badge-min.png'|theme }}">
              </a>
           </center>
         </div>
      </div>
    </div>
    </div>
</div>


{#<div class="col-sm-12 footer-section">#}
{#    <div class="container">#}

{#      <div class="col-md-5">#}
{#        <!-- Newsletter sign up START -->#}
{#      				<form data-id="embedded_signup:form" class=" ctct-custom-form Form ctct-embed-signup" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">#}
{#      					<h3 class="mg-md" style="font-size:290%; text-align:center;">#}
{#      						JOIN OUR EMAIL LIST!#}
{#      					</h3>#}
{#      					<p>#}
{#      						Sign up to stay updated on our work, ongoing research, and more.#}
{#      					</p>#}
{#      					<span id="success_message" style="display:none;">#}
{#      						 <div style="color:#345BA9">Thanks for signing up!</div><br>#}
{#      					</span>#}
{#      					<input data-id="ca:input" name="ca" value="{{constantcontact_ca}}" type="hidden">#}
{#                <input data-id="list:input" name="list" value="{{constantcontact_list}}" type="hidden">#}
{#      					<input data-id="source:input" name="source" value="EFD" type="hidden">#}
{#      					<input data-id="required:input" name="required" value="list,email" type="hidden">#}
{#      					<input data-id="url:input" name="url" value="/newslatter-response" type="hidden">#}

{#      					<div class="form-group">#}

{#      						<p data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required">E-MAIL NEWSLETTER SIGNUP</label>#}
{#                  <input data-id="Email Address:input" name="email" value="" class="form-control" maxlength="80" type="text" style="max-width:70%;"></p>#}


{#      					 <button type="submit" class="btn submit  btn-bright-cerulean  btn-lg Button ctct-button Button--block Button-secondary" data-enabled="enabled">Submit</button>#}
{#      					</div>#}

{#      				</form>#}
{#            <!-- Newsletter sign up END -->#}
{#    </div>#}
{#          <div class="col-md-4 col-sm-12">#}

{#            <div class="social-icons" style="text-align:center;">#}
{#                             <h1 >(212)707-8799<h1>#}
{#              <ul class="nomargin">#}
{#                <a href="https://www.facebook.com/pages/National-School-Climate-Center/219273038093612" target="_blank"><i class="fa fa-facebook-square fa-lg social-fb" id="social"></i></a>#}
{#  	            <a href="http://www.twitter.com/school_climate" target="_blank"><i class="fa fa-twitter-square fa-lg social-tw" id="social"></i></a>#}
{#                <a href="https://www.linkedin.com/company/1310626/" target="_blank"><i class="fa fa-linkedin-square fa-lg social-tw" id="social"></i></a>#}
{#                <a href="mailto:info@schoolclimate.org"><i class="fa fa-envelope-square fa-lg social-em" id="social"></i></a>#}
{#              </ul>#}

{#            </div>#}
{#          </div>#}








{#          <div class="col-md-3 col-sm-12">#}

{#            <div style="text-align:center">#}

{#                <br><br>#}
{#              <a href="https://greatnonprofits.org/org/national-school-climate-center">#}
{#                <img src="{{'/assets/images/2017-top-rated-awards-badge-min.png'|theme }}">#}
{#              </a>#}


{#       </div>#}

{#    </div>#}
{#    </div>#}
{#</div>#}


<!--footer-->
<footer class="footer1 bottom-footer-box" style="clear: both">
  <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3"><!-- widgets column left -->
              <ul class="list-unstyled clear-margins"><!-- widgets -->
                  	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                          <h1 class="title-widget">About Us</h1>
                          <ul>
              				  <li>
                                <a href="/about/our-approach"><i class="fa fa-angle-double-right"></i> Our Approach</a>
              				  </li>
                              <li>
                                <a href="/about/our-history"><i class="fa fa-angle-double-right"></i> Our History</a>
                              </li>
                              <li>
              					<a href="/meet-our-team"><i class="fa fa-angle-double-right"></i> Our Team</a>
              				  </li>
                              <li>
                                <a href="/about/employment"><i class="fa fa-angle-double-right"></i> Employment</a>
                              </li>

                                                            <li>
                                <a href="/about/founder"><i class="fa fa-angle-double-right"></i> Founder</a>
                              </li>

              				  <li>
              					<a href="/about/contact-us"><i class="fa fa-angle-double-right"></i> Contact Us</a>
              				  </li>
                          </ul>
      	            </li>
                </ul>
          </div><!-- widgets column left end -->
          <div class="col-lg-3 col-md-3"><!-- widgets column left -->
              <ul class="list-unstyled clear-margins"><!-- widgets -->
                  <li class="widget-container widget_nav_menu"><!-- widgets list -->
                          <h1 class="title-widget">Services</h1>
                          <ul>
                           <li>
             				<a href="/services/measuring-school-climate-csci"><i class="fa fa-angle-double-right"></i> Measuring School Climate (CSCI)</a>
             			   </li>
                           <li>
             				<a href="/services/educational-offerings"><i class="fa fa-angle-double-right"></i> Educational Services</a>
             			   </li>
             			   <li>
             				<a href="/bully-prevention"><i class="fa fa-angle-double-right"></i> Bully Prevention</a>
             			   </li>
             			   <li>
             				<a href="/resource-center"><i class="fa fa-angle-double-right"></i> Resource Center</a>
             			   </li>
			       		   <li>
             				<a href="/research"><i class="fa fa-angle-double-right"></i> Research and Evaluation</a>
             			   </li>
             			   <li>
             				<a href="/events"><i class="fa fa-angle-double-right"></i> Our Events</a>
             			   </li>
             								<!-- <li>
             									<a href="/policy/policy-center"><i class="fa fa-angle-double-right"></i> Policy Center</a>
             								</li> -->

                          </ul>
                  </li>
                </ul>
          </div><!-- widgets column left end -->
        <div class="col-lg-3 col-md-3">
            <ul class="list-unstyled clear-margins"><!-- widgets -->
                  <li class="widget-container widget_nav_menu"><!-- widgets list -->
                        <h1 class="title-widget">Publications</h1>
                        <ul>
                          <li>
          							    <a href="/publications/newsletters"><i class="fa fa-angle-double-right"></i> Newsletter</a>
          								</li>
          								<li>
          									<a href="/publications/policy"><i class="fa fa-angle-double-right"></i> Policy</a>
          								</li>
          								<li>
          									<a href="/publications/practice"><i class="fa fa-angle-double-right"></i> Practice</a>
          								</li>
          								<li>
          									<a href="/publications/scholarship"><i class="fa fa-angle-double-right"></i> Research</a>
          								</li>
                        </ul>
                </li>
              </ul>
          </div><!-- widgets column left end -->
          <div class="col-lg-3 col-md-3">
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                    <li class="widget-container widget_nav_menu"><!-- widgets list -->
                          <h1 class="title-widget">Contact</h1>
                          <ul>
                            <li>
                  						<a href="/publications/privacy-policy"><i class="fa fa-angle-double-right"></i> Privacy Policy</a>
                  				  </li>
                  				  <li>
                  						<a href="/publications/terms-of-service"><i class="fa fa-angle-double-right"></i> Terms of Service</a>
                  				  </li>
                          </ul>
                  </li>
                </ul>
          </div>
          </div><!-- widgets column left -->
        </div>
  </div>
</footer>
<!-- Footer - bloc-40 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->
<script type='text/javascript'>
   var localizedErrMap = {};
   localizedErrMap['required'] = 		'This field is required.';
   localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
   localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
   localizedErrMap['birthday'] = 		'Please enter birthday in MM/DD format.';
   localizedErrMap['anniversary'] = 	'Please enter anniversary in MM/DD/YYYY format.';
   localizedErrMap['custom_date'] = 	'Please enter this date in MM/DD/YYYY format.';
   localizedErrMap['list'] = 			'Please select at least one email list.';
   localizedErrMap['generic'] = 		'This field is invalid.';
   localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
   localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
	 localizedErrMap['state_province'] = 'Select a state/province';
   localizedErrMap['selectcountry'] = 	'Select a country';
   var postURL = 'https://visitor2.constantcontact.com/api/signup';
</script>
<script type='text/javascript' src='//static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>

<!--End CTCT Sign-Up Form-->