[viewBag]
==
<style>
.navbar .nav {
  padding-top: 2px;
  margin-right: 214px;
  float: right;
  z-index: 1;
}


div#___gcse_0 {
    width: 293px;
    float: right;
    position: absolute;
    right: -70px;
}

input#gsc-i-id1 {
    height: 30px !important;
}

.nav  img.img-responsive {
    margin-left: 16px;
}




input#gsc-i-id1 {
  text-indent: 0 !important;
  background: none;
}
.gsc-adBlock {
  display: none;
}
.gsc-results-wrapper-overlay.gsc-results-wrapper-visible {
    width: 94%;
    left: 3%;
}

button.gsc-search-button.gsc-search-button-v2 {
    padding: 10px;
    width: 62px;
}

@media (min-width:768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        height: 100px !important;
    }
    
    .navbar .nav {
        margin-right: 0px !important;
        top: 30% !important;
    }
    
    div#___gcse_0 {
        top: 52% !important;
    }
}
@media (min-width:768px) and (max-width: 830px) {
    div#___gcse_0 {
        right: -30px;
    }
}

@media (min-width:991px) and (max-width: 1024px) {
    div#___gcse_0 {
        right: -50px;
    }
}
</style>





<!-- bloc-0 -->
<div class="bloc bgc-white l-bloc" id="bloc-0" style="position: fixed; z-index: 10; top: -15px;">
	<div class="container bloc-sm header">

<nav class="navbar row" style="width:100%">
	<div class="navbar-header">
		<a  href="/">
			<img id="cms-logo" class="nscc-logo"  src="{{'assets/includes/img/home_logo.png'|theme }}" />
		</a>
		<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse navbar-1">
		<ul class="site-navigation nav navbar-nav">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<div class="dropdown">
					<a href="javascript:void(0)" class="dropdown-toggle" >About Us
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
							    {#
						<li>
							<a href='{{"/about/mission-vision" | app}}'>Our Mission and Vision</a>
						</li>#}

						<li>
							<a href='{{"/about/our-approach"}}'>Our Approach</a>
						</li>
						<li>
							<a href='{{"/about/history"}}'>Our History</a>
						</li>
						<li>
							<a href='{{"/meet-our-team"}}'>Our Team</a>
						</li>
						<li>
							<a href='{{"/about/employment"}}'>Employment</a>
						</li>
						<li>
							<a href="{{'/about/contact-us'}}">Contact Us</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="dropdown">
					<a href="javascript:void(0)" class="dropdown-toggle">Services
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="/services/measuring-school-climate-csci">Measuring School Climate (CSCI)</a>
						</li>
						<li>
							<a href="/services/educational-offerings">Educational Services</a>
						</li>
						<li>
							<a href="/bully-prevention">Bully Prevention</a>
						</li>
						<li>
							<a href="/resource-center">Resource Center</a>
						</li>
						<li>
							<a href="/research">Research and Evaluation</a>
						</li>
						<li>
							<a href="/events">Our Events</a>
						</li>
						<!-- <li><a href="/policy/policy-center">Policy Center</a></li> -->
					</ul>
				</div>
			</li>
			<li>
				<div class="dropdown">
					<a href="javascript:void(0)" class="dropdown-toggle">Publications
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="{{'/publications/newsletters'}}">Newsletter</a>
						</li>
						<li>
							<a href="{{'/publications/policy'}}">Policy</a>
						</li>
						<li>
							<a href="{{'/publications/practice'}}">Practice</a>
						</li>
						<li>
							<a href="{{'/publications/scholarship'}}">Scholarship</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="btn btn-lapis-lazuli donate-btn-dark pulse-hvr animated">
				<a href="{{'/donate'}}">Donate</a>
			</li>
	<!--         <li class="btn btn-md pulse-hvr btn-bright-cerulean animated login-button donate-btn-dark">
	    <a href="https://scrc.schoolclimate.org/dashboard" class="login-texts">Login</a>
	</li> -->
			<li>
				<div>
					<a href="/bully-prevention">
						<img class="img-responsive" src="{{'assets/includes/img/Eyes_small_compressed.png'|theme }}"  width="50px" />
					</a>
				</div>
			</li>
<!--             <li id="search-li"><form action="/search" class=" search"><input type="text" class="form-control" name="q" placeholder="Search"><button type="submit" class="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button></form></li> -->
		</ul>
<gcse:search></gcse:search>

	</div>
</nav>
	</div>
</div>
<!-- bloc-0 END -->
<script>
  (function() {
    var cx = '009559383454020436945:aldqnmfvwgy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>