<div data-control="wysiwyg">
    <textarea name="<?php echo $name ?>" id="<?php echo $this->getId('textarea') ?>"><?= e($value) ?></textarea>
</div>
        <script>
    $(document).ready( function()
    {
        function ckeditorInit()
        {
            var editor = $('[data-control="wysiwyg"] textarea').ckeditor({
                width:    '<?php echo $width; ?>',
                height:   '<?php echo $height; ?>'
            });
        }
        
        if (typeof CKEDITOR === 'undefined') {
            $.getScript('<?php echo url('/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/ckeditor/ckeditor.js'); ?>', function () {
                $.getScript('<?php echo url('/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/ckeditor/adapters/jquery.js'); ?>', function () {
                    ckeditorInit();
                });
            });
        } else {
            ckeditorInit();
        }
        
    });

</script>
