<div data-control="wysiwyg">
    <textarea name="<?php echo $name ?>" id="<?php echo $this->getId('textarea') ?>"><?= e($value) ?></textarea>
</div>
<style>
    #mceu_16 .mce-ico {
        color: #c03f31!important;
    }
</style>
<script>
    
    function tinymceInit()
    {
        tinyMCE.baseURL = "<?php echo url('/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/tinymce'); ?>";
        tinyMCE.suffix = '.min';
        tinymce.init({
            selector: 'textarea#<?php echo $this->getId('textarea') ?>',
            theme: "modern",
            setup: function (editor) {
                editor.on('change', function () {
                    tinymce.triggerSave();
                });
            },
            relative_urls: false,
            width:    '<?php echo $width; ?>',
            height:   '<?php echo $height; ?>',
            plugins : [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor ocmediamanager"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media| preview | ocmediamanager"
        });
    }
    
    $(document).ready( function() {
        if (typeof tinymce === 'undefined') {
            $.getScript('<?php echo url('/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/tinymce/tinymce.min.js') ?>', function () {
                tinymceInit();
            });
        } else {
            tinymceInit();
        }
    } );

</script>