<div data-control="toolbar">
    <a
        href="<?= Backend::url('digitalfox/redirecturl/redirecturls/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Redirect URL
    </a>

    <button
        class="btn btn-default oc-icon-trash-o onclick-disable"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('rainlab.blog::lang.blog.delete_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$('.onclick-disable').prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>

    <button
        class="btn btn-default oc-icon-check onclick-disable"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onActive"

        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$('.onclick-disable').prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.active')) ?>
    </button>

    <button
        class="btn btn-default oc-icon-times onclick-disable"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onInactive"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$('.onclick-disable').prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.inactive')) ?>
    </button>

</div>
