
{% set getPostes = __SELF__.saliderNews %}

<!-- Wrapper for slides -->
<div class="carousel-inner">
  {% for key, posts in getPostes %}

	<div class="item {% if key==0 %} active {% endif %}">
		<div class="row news-container">
      {% for post in posts %}
       {% set readMore = '<br><a href="/news/post/'~post.slug~'">Read more!</a>' %}
				<div class="col-sm-4 news">
					<div class="row">
            {% if post.image %}
						  <div class="col-sm-4">
							  <a href="/news/post/{{post.slug}}"><img class="img-responsive pull-right" src="{{ post.image|media }}" alt="{{ post.title }}" /></a>
              </div>
            {% endif %}
						<div class="{% if post.image %} col-sm-8 {% else %} col-sm-12 {% endif %}">
              {% if post.title %}
                <p class="title"><a href="/news/post/{{post.slug}}">{{ str_limit(post.title, 40) }}</a></p>
              {% endif %}

              {% if post.introductory %}
                <p>{{ html_clean(post.introductory|raw) }}</p>
              {% elseif post.content %}
                <p>{{ html_clean(post.content|raw) }}</p>
              {% endif %}

            </div>
					</div>
				</div>
        {% endfor %}

		</div>
	</div>
  {% else %}
  <span class="post-nodata">{{ noPostsMessage }}</span>
  {% endfor %}

</div>
<!-- Controls -->
