{% set posts = __SELF__.posts %}
  <div class="sidebar-posts">

        <div class="widget Vibe Tabs" id="vibetabs-2">
            <div class="tabs tabbable">
                <div class="tab-content light">
                    <div id="tab1" class="tab-pane active">
                        <ul class="more_posts">
                          {% for key, post in posts|slice(0, 5) %}
                            <li>

                                {% if post.image %}
                                <a title="{{ post.title }}" href="/news/post/{{ post.slug }}">
                                    <img src="{{ post.image|media }}" alt="{{ post.title }}" class="attachment-mini" >
                                </a>
                                {% endif %}
                                <a class="blue-heading" href="/news/post/{{ post.slug }}">
                                    <span>  {{ str_limit(post.title, 22 ) }}</span>
                                </a>
                                <small>
                                  {% if post.introductory %}
                                    {{ html_clean(str_limit(html_strip(post.introductory|raw), 100 )) }}
                                  {% elseif post.content %}
                                    {{ html_clean(str_limit(html_strip(post.content|raw), 100 )) }}
                                  {% endif %}
                                </small>
                            </li>

                            {% else %}
                            <span class="post-nodata">{{ noPostsMessage }}</span>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
