<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<h2>Hello Admin , </h2>
		<p> You have new contact mail from  </p>
		<p>
			Name : {{ first_name }} {{ last_name}}<br />
      Email : {{ email }} <br />
      Phone : {{ phone }}<br />
      School / Company : {{ company }}<br />
      Interest : {{ interest }} <br />
      State : {{ state }} <br />
  	</p>
		<p> Message : </p>
		<div>
			{{ comments }}
		</div>

		<p> Thank You </p><br /><br />

	</body>
</html>
