<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	Dear [{{ first_name }} {{ last_name}} from Contact Us Form]<br>
	<br>
	Thanks so much for your interest in the National School Climate Center! We received your message and will be contacting you soon. We look forward to learning more about your interests and hope we can work together in the near future.<br>
	<br>
	For immediate support and questions, please call our office at&nbsp;<a href="tel:(212)%20707-8799">(212) 707-8799</a>. To read our latest newsletter or archived issues,&nbsp;<a href="http://schoolclimate.org/publications/newsletters">please click here</a>. Please&nbsp;<a href="http://schoolclimate.org/services/measuring-school-climate-csci">click here&nbsp;</a>to learn more about our research-based school climate survey, the <em>Comprehensive School Climate Inventory</em> (CSCI). For more information about professional development services supporting sustained school improvement,&nbsp;please <a href="http://schoolclimate.org/services/educational-offerings">click here</a><a href="http://schoolclimate.org/services/educational-offerings">&nbsp;</a>to see our educational service offerings.<br>
	<br>
	Thank you!<br>
	NSCC Staff<br>
	<a href="http://www.schoolclimate.org">http://www.schoolclimate.org</a>
	<br>
	<br>
	<br>
	<div style="color:#1d3186; text-align:right; font-size:18px">
		<sub><strong>NATIONAL SCHOOL CLIMATE CENTER (NSCC)</strong></sub><br>
		341 West 38<sup>th</sup> Street,9<sup>th</sup>Floor, New York, NY 10018<br>
		(T) 212.707.8799 (F) 212.957.6616 www.schoolclimate.org
	</div>
</body>
</html>
