title = "Home - National School Climate Center"
url = "/old-home"
layout = "default_copy"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"

[newsPosts]
pageNumber = "{{ :page }}"
postsPerPage = 1000000
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postPage = "news"

[NewsLetters]
pageNumber = "{{ :page }}"
postsPerPage = 3
noNewsLettersMessage = "No news letters found"
sortOrder = "published_at desc"

[SCRCNews]
==
<style>

.bg-publications-library-Dark {
    background-image: url(themes/schoolclimate/assets/includes/img/Footerbanner.jpg) !important;
}


.bg-classrom {
    background-image: url() !important;
}

.bannerContent{
  overflow-y: hidden;
}

.bannerContent a{
  color:#FFF;
  font-size: 20px;
}

.news-box{
  max-height: 450px;
  overflow: auto;
}
.news-side{
  display: none;
}
.news-side.active {
    display: block;
}
</style>

<!-- bloc-1 -->
<div class="bloc bg-banner-home b-parallax bgc-white l-bloc" id="bloc-1">
	<div class="container bloc-xxl">
		<div class="row voffset">
			<div class="col-sm-6 responsive-banner">

        {% partial "home/banner" %}

				<!-- <a href="/about/our-model" class="btn btn-lg btn-bright-cerulean donate-btn btn-same-font">Our Model</a>
				<a href="/services/services" class="btn btn-lg btn-bright-cerulean btn-same-font">What we do</a>
				<a href="/donate" class="btn btn-lg btn-lapis-lazuli donate-btn btn-same-font">Get Involved</a> -->
<!--                 <a href="/services/summer-institute" class="btn btn-lg btn-bright-cerulean btn-same-font">Register for Summer Institute</a> -->
			</div>
			<div class="col-sm-6">
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- bloc-2 -->
<div class="bloc bgc-white l-bloc tc-1" id="bloc-2">
	<div class="container bloc-md">
		<div class="row home-page">
			<div class="col-sm-4">
				<a href="/services/educational-offerings"><img class="img-responsive center-block pulse-hvr animated" src="{{'assets/images/professional-development-icon-120x120.png'|theme}}" /> </a>
				<h3 class="mg-md text-center">
					Educational Services
				</h3>
				<p style="--text-align:justify;">Ranging from Professional Development to School Climate Leadership Certification, <strong>NSCC</strong> is ready to help schools grow their capacity to do school climate improvement work.</p>
			</div>

			<div class="col-sm-4">
				<a href="/services/measuring-school-climate-csci" ><img class="img-responsive center-block pulse-hvr animated" src="{{'assets/images/measuring-school-climate-icon-120x120.png'|theme}}" /> </a>
				<h3 class="mg-md text-center">
					Measuring School Climate
				</h3>
				<p style="--text-align:justify;"><strong>NSCC</strong> has variety of measurement tools that are designed to help school communities get a quantitative understanding of their school climate.</p>
			</div>

      <div class="col-sm-4">
        <a href="/bully-prevention">	<img class="img-responsive  center-block pulse-hvr animated" src="{{'assets/includes/img/bully-prevention-icon-120.png'|theme }}" /> </a>
        <h3 class="mg-md text-center">
         Bully Prevention
        </h3>
        <p style="--text-align:justify;">
          NSCC offers a wide array of services to support school,district, and state educators in addressing bias and bullying to promote a community of upstanders.
        </p>
      </div>

		</div>
		<div class="row home-page">
      <div class="col-sm-4">
				<a href="/policy/policy-center">	<img class="img-responsive  center-block pulse-hvr animated" src="{{'assets/includes/img/policy-icon-120x120-1.png'|theme }}" /> </a>
				<h3 class="mg-md text-center">
				 Policy Center
				</h3>
				<p style="--text-align:justify;">
					Our resources, consultation services, and more help school leaders analyze current policies through a school climate improvement lens.
				</p>
			</div>

			<div class="col-sm-4 no-top-margin">
				<a href="/research" ><img class="img-responsive center-block pulse-hvr animated" src="{{'assets/includes/img/publications-icon-120x120-1.png'|theme }}" /> </a>
				<h3 class="mg-md text-center">
					Research and Evaluation
				</h3>
				<p style="--text-align:justify;">
					Our research is invested in contributing to the contemporary conversation happening in the field of school climate improvement.
				</p>
			</div>
			<div class="col-sm-4">
				<a href="/publications"><img class="img-responsive center-block pulse-hvr animated" src="{{'assets/includes/img/research-icon-120x120-1.png'|theme }}" /></a>
				<h3 class="mg-md text-center">
					Our Publications
				</h3>
				<p style="--text-align:justify;">
					We have extensive research, case studies, and more to help you get a clear understanding of the school climate improvement process.
				</p>
			</div>

		</div>

	</div>
</div>
<!-- bloc-2 END -->

<!-- bloc-6 -->
<!--<div class="bloc l-bloc bgc-platinum" id="bloc-6">
    <div class="container bloc-md b-divider">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-6">
				<img class="img-responsive" src="{{'assets/includes/img/HandsIn.jpg'|theme }}"/>
			</div>
			<div class="col-sm-6">
				<h1 class="mg-md" style="color:#0b56a8;">
					<strong>2017 Summer Institute</strong>
				</h1>
				<h3 class="mg-sm">
					Learn and work with NSCC and other educational leaders around the country at the National School Climate Center&rsquo;s (NSCC) 19th Annual Summer Institute.<br>
				</h3>
				<p class="mg-md font-size-16">
					June 22 &amp; 23, 2017<br>Held at The Winston Preparatory School,<br>126 W 17th St, New York, NY 10011<br>
				</p><a href="/services/summer-institute" class="btn btn-lapis-lazuli btn-md">Register</a>
			</div>
		</div>
	</div>
	</div>
</div> -->
<!-- bloc-6 END -->

<div class="bloc bgc-white l-bloc" id="bloc-5">
    <div class="container bloc-md b-divider">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="{{'assets/includes/img/Bully_Prevention.jpg'|theme }}" />
            </div>
            <div class="col-sm-6">
                <h2 class="mg-md">
                    <a href="/bully-prevention"><strong><b>Bully Prevention</b></strong></a>
                </h2>
                <p class="mg-md font-size-16">
               Bullying is one of the most common findings that emerges from our <i>Comprehensive School Climate Inventory</i> <a href="/services/measuring-school-climate-csci">(CSCI) survey</a> data.  Students report feeling less socially and physically safe than adults realize.  NSCC offers a wide array of services to support school, district, and state educators in addressing bias and bullying to promote a community of upstanders. Whether you are looking to launch a school-wide campaign using free resources, access self-paced tools, hold professional development sessions, or implement a long-term anti-bullying initiative, NSCC can provide the support that youth and adults need to create safe and supportive school communities.

                <a href="/bully-prevention"><img class="img-responsive pulse-hvr animated" style="width: 155px; float: right;" src="{{'assets/includes/img/empowering-youth-engaging-schools.jpeg'|theme }}"></a>

                </p><a href="/bully-prevention" class="btn  btn-lapis-lazuli  btn-md learn_more_lazuli pulse-hvr animated"><stong>Learn More</stong></a>
            </div>

        </div>
    </div>
</div>

<!-- CSCI-5 -->
<div class="bloc bgc-white l-bloc" id="bloc-5">
	<div class="container bloc-md b-divider">
		<div class="row">

			<div class="col-sm-6">
				<h2 class="mg-md">
					<strong><b>Get started with the <i>Comprehensive School Climate Inventory</i> (CSCI)</b></strong>
				</h2>
				<p class="mg-md font-size-16">
		          Our <i>Comprehensive School Climate Inventory</i> (CSCI) supports whole school communities learning and working together to understand their school community's strengths, as well as areas for improvement. The CSCI is one of the nation's most scientifically sound surveys with proven reliability and validity; the data captured through the CSCI conveys how students, parents/ guardians, and school personnel perceive a school's particular climate for learning in a robust, user-friendly report.
				</p><a href="/services/measuring-school-climate-csci" class="btn  btn-lapis-lazuli  btn-md learn_more_lazuli pulse-hvr animated">Learn More</a>
			</div>
      <div class="col-sm-6">
				<img class="img-responsive" src="{{'/assets/includes/img/csci-home.jpg'|theme }}" />
			</div>

		</div>
	</div>
</div>
<!-- CSCI-5 END -->

<!-- ED-3 -->
<div class="bloc bgc-platinum l-bloc " id="bloc-3">
	<div class="container bloc-md b-divider">
		<div class="row">
      <div class="col-sm-6 show-small">
        <img class="img-responsive" src="{{'assets/includes/img/ED.jpg'|theme }}" />
      </div>
      <div class="col-sm-6 show-large">
				<img class="img-responsive" src="{{'assets/includes/img/ED.jpg'|theme }}" />
			</div>
			<div class="col-sm-6">
				<h2 class="mg-md">
					<strong><b>The School Climate Resource Center</b></strong>
				</h2>
				<h3 class="mg-sm"></h3>
				<p class="mg-md font-size-16">
				    The School Climate Resource Center supports education leaders and their teams' school climate improvement efforts. Our suite of resources enables school communities to build their capacity and expertise in creating and maintaining positive school climates. From surveys and protocols, to research and best practices, the Resource Center can support your work today.
				</p>
				<a href="/resource-center" class="btn btn-lapis-lazuli btn-md learn_more_lazuli pulse-hvr animated">Learn More</a>
			</div>

		</div>
	</div>
</div>
<!-- ED-3 END -->


<!--
<div class="bloc bgc-white l-bloc" id="bloc-5">
    <div class="container bloc-md b-divider">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="{{'assets/includes/img/Events_Oprah_1.jpeg'|theme }}" />
            </div>
            <div class="col-sm-6">
                <h2 class="mg-md">
                    <strong><b>Why School Climate Matters Now. Creating Safer Schools.</b></strong>
                </h2>
                <p class="mg-md font-size-16">
                Implications for the Future of Education and Why School Climate Matters Now, a discussion with Dr. Dorothy Espelage.
Meet our new CEO, Whitney Allgood, PhD and join the discussion over delicious hors d’oeuvres and cocktails at the Hotel Grand Union.
                </p><a href="https://www.eventbrite.com/e/why-school-climate-matters-now-creating-safer-schools-tickets-39663647036" class="btn  btn-lapis-lazuli  btn-md learn_more_lazuli">Event Details</a>
            </div>

        </div>
    </div>
</div> -->


<div class="bloc  b-parallax bg-classrom tc-white bgc-lapis-lazuli-2" id="bloc-5">
	<div class="container bloc-md b-divider">
		<div class="row">

		    	<div class="col-sm-12">
  				<h2 class="mg-md" style="text-align: center;">
					<strong><b>Latest News and Updates</b></strong>
				</h2>

			</div>
		</div>
		<div class="row"></div>

    <div class="row">
      <div class="col-sm-6">
        {% partial 'SCRCNews::default' %}
      </div>
      <div class="col-sm-6 news-box">
        <a class="twitter-timeline" href="https://twitter.com/school_climate?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>


	</div>
</div>







<!-- bloc-6 -->
<div class="bloc b-parallax bg-publications-library-Dark tc-white bgc-lapis-lazuli-2" id="bloc-6">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<p class="text-left lg-shadow mg-md ">
					<i>"The National School Climate Center is an essential non-profit body for research and intervention not only at the national level but also the international one since their activities are well known and appreciated worldwide. We appreciate the scientific based and practice based activities, which provide rigorous background and interventions."</i>
				</p>
				<h3 class="mg-md lg-shadow text-right">
					-Dr. Catherine Blaya - Chair of the International Observatory of Violence in Schools
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- bloc-6 END -->


<!-- Newsletter Start -->
<div class="bloc bgc-platinum l-bloc nl-block" id="bloc-44">
    	<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center mg-md">
					<stong>Our Latest Newsletter</stong>
				</h2>
			</div>
		</div>
	<div class="container bloc-md">
		<div class="row">
	    {% partial 'NewsLetters::one-news-latter' %}
		</div>
	</div>
</div>
<!-- Newsletter END -->