title = "Communities of Courage"
url = "/summit"
layout = "default"
description = "Einhorn Project being led by Darlene and Paula"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"
==
<style>
    .bg-banner-summit {
        background-position: center;
        padding: 0px;
    }
    
    .bg-banner-summit img {
        width: 100%;
        max-height: 450px;
        object-fit: cover;
        opacity: 0.6;
        object-position: 50% 40%;
    }
    
    .pratice-panel .col-sm-4 {
        text-align: center;
        margin: auto;
    }
    .pratice-panel .img-responsive {
        height: 120px;
        margin: auto;
        width: 140px;
    }
    .btn-customize {
        background-color: #42c7ec;
        width: 166px;
        height: 134px;
    }
    .btn-customize:hover {
        background-color: #40c5ec;
    }
    .thumb-margin-set .col-sm-6 {
        margin-bottom: 0px;
    }
    .btn-white-space {
        white-space: initial;
        width: 100%;
    }
    
    .banner-text {
        position: absolute;
        top: calc(50% - 63px);
        width: 100%;
        text-align: center;
    }
    .banner-text .title {
        font-size: 45px; 
        color: black; 
        font-weight: 800
    }
    .banner-text .desc {
        font-size: 35px;
        color: black;
        font-weight: 500;
        margin-top: 10px;
    }
    .bellow-title {
        margin-top: 0px;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 700;
        font-size: 20px;
    }
    @media (max-width: 1024px) {
        .banner-text {
            top: calc(50% - 63px);
        }
        .banner-text .title {
            font-size: 30px; 
            color: black; 
            font-weight: 800
        }
        .banner-text .desc {
            font-size: 28px;
            color: black;
            font-weight: 500;
            margin-top: 10px;
        }
    }
    
    @media (max-width: 767px) {
        .bg-banner-summit {
            margin-top: 90px !important;
        }
        .b-para {
            margin-top: 0px !important;
        }
        .b-para .col-sm-12 {
            margin-top: 30px;
        }
        .b-para .container {
            padding-bottom: 30px;
        }
        .b-para .col-sm-6 {
            margin-top: 0px;
        }
        
        .banner-text {
            top: calc(50% - 55px);
        }
        .banner-text .title {
            font-size: 25px; 
            color: black; 
            font-weight: 800
        }
        .banner-text .desc {
            font-size: 20px;
            color: black;
            font-weight: 500;
            margin-top: 10px;
        }
    }
    
    @media (max-width: 480px) {
        .banner-text {
            top: calc(50% - 61px);
        }
        .banner-text .title {
            font-size: 20px; 
            color: black; 
            font-weight: 800
        }
        .banner-text .desc {
            font-size: 18px;
            color: black;
            font-weight: 500;
            margin-top: 10px;
        }
    }
    
</style>

{% partial "popups/summit-popup.htm" %}

<!-- bloc-0 -->
<div class="bloc bg-banner-summit bgc-white l-bloc full-width-bloc " id="bloc-0">
    <img class="img-responsive center-block" src="{{'assets/images/summit/ED_preview_main.jpeg'|theme}}" data-src="img/safety-2@8x.png" />
    <div class="banner-text">
        <h2 class="title" style=""> Connecting Communities of Courage: </h2>
        <h2 class="desc" style="">Building Inclusive, Safe, and Engaged Schools Summit Resources</h2>
    </div>
</div>
<!-- bloc-0 END -->


<!-- bloc-1 -->
<div class="bloc bgc-white b-para l-bloc none full-width-bloc" id="bloc-1">
	<div class="container b-divider bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<p class="mg-md" style="font-size: 17px; color: black;">
					<strong>The National School Climate Center (NSCC)</strong> partnered with Facebook for Education to host a one-day Summit that brought together more than 170 diverse education stakeholders – community and nonprofit organizations, researchers and funders, parent groups, state, district, and school-level educators, and youth leaders – to understand and address our school community&rsquo;s most pressing needs today. Throughout 2018, NSCC worked to identify core themes from the Summit, align them with useful strategies to promote positive school climates, and traveled to six districts nationwide to demonstrate best practices and unearth persistent gaps between needs and practices in schools.<br>The resources on this page highlight the critical insights from that process, and provide lessons from the field and practical strategies to support the creation of truly safe, inclusive, and engaged schools where every student thrives.&nbsp;<br>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- Bloc Group -->
<div class='bloc b-parallax b-para bg-classrom tc-white pratice-panel'>
    <div class="container bloc-md b-divider">
        <div class="row">
		    <div class="col-sm-12">
  				<h2 class="mg-md" style="text-align: center;">
					<strong><b>Learn from the diverse, insightful voices of the Problem of Practice Panel</b></strong>
				</h2>
			</div>
		</div>
		<div class="row"></div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-4">
                <a data-toggle="modal" href="#safety-popup" class="btn btn-customize btn-lg">
                    <img class="img-responsive center-block pulse-hvr animated" src="{{'assets/images/summit/safety-1@8x.png'|theme}}" data-src="img/safety-2@8x.png" />
                </a>
                <div class="bellow-title">Safety</div>
            </div>
            <div class="col-sm-4">
                <a data-toggle="modal" href="#engagement-popup" class="btn btn-customize btn-lg">
    		        <img class="img-responsive center-block pulse-hvr animated" src="{{'assets/images/summit/engagement-1@8x.png'|theme}}" data-src="img/engagement-2@8x.png" />
                </a>
                <div class="bellow-title">Engagement</div>
            </div>
            <div class="col-sm-4">
                <a data-toggle="modal" href="#inclusion-popup" class="btn btn-customize btn-lg">
    		        <img class="img-responsive center-block pulse-hvr animated" src="{{'assets/images/summit/inclusion-1@8x.png'|theme}}" data-src="img/inclusion-2@8x.png" />
                </a>
                <div class="bellow-title">Inclusion</div>
            </div>
        </div>
    </div>
</div>
<!-- Bloc Group END -->

<!-- Bloc Group -->
<div class='bloc b-parallax b-para bg-classrom tc-white'>
    <div class="container bloc-md b-divider">
        <div class="row">
		    <div class="col-sm-12">
  				<h2 class="mg-md" style="text-align: center;">
					<strong><b>Download the full reports below</b></strong>
				</h2>
			</div>
		</div>
		<div class="row"></div>
        <div class="row thumb-margin-set" style="margin-top:20px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="thumbnail">
				    <img src="{{'assets/images/summit/%5E34CD7414FE4641AC5949BB16E7FD097D508AFA6CF251177EB3%5Epimgpsh_fullsize_distr.png'|theme}}" data-src="img/placeholder-image.png" class="img-responsive lazyload" />
				    <div class="caption row">
				        <div class="col-sm-6">
                            <a href="#" class="btn btn-default btn-white-space" role="button">Download Executive Summary</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="btn btn-default btn-white-space" role="button">Download Full Report</a>
                        </div>
                    </div>
				</div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div href="#" class="thumbnail">
				    <img src="{{'assets/images/summit/%5E34CD7414FE4641AC5949BB16E7FD097D508AFA6CF251177EB3%5Epimgpsh_fullsize_distr.png'|theme}}" data-src="img/placeholder-image.png" class="img-responsive lazyload" />
				    <div class="caption row">
				        <div class="col-sm-6">
                            <a href="#" class="btn btn-default btn-white-space" role="button">Download Executive Summary</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="btn btn-default btn-white-space" role="button">Download Full Report</a>
                        </div>
                    </div>
				</div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
<!-- Bloc Group END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->