title = "Research - National School Climate Center"
url = "/research"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
{% put styles %}
<link rel="stylesheet" type="text/css" href="{{'assets/includes/css/research.css'|theme }}">
{% endput %}
<div id="article">

	<div class="bloc bg-research-people-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
		<div class="container bloc-md">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center">

							<div class="row " id="">
								<h3 class="mg-md">
									<b>WHAT WE DO </b>
								</h3>
								<p>
								The goal of the Department of Research and Evaluation is to gather, analyze, and disseminate data that offers real direction and support to school leaders, researchers, policymakers, and other key stakeholders as they work to improve school climate in their communities. We offer a wide range of school improvement-related research, measurement, and evaluation services to public and private education entities, including districts, schools, non-profit programs and other organizations.	</p>
							</div>

				  </div>
				 </div>
				</div>
		</div>
	</div>

	<!--/end Sub Hero-->
	<!--Secondary Nav Small Screens-->

	<div class="show-for-small" id="secondaryNavWrapperDropDown">
		<!--row-->
		<div class="row">
			<div class="large-12 medium-12 columns">
				<div class="menu-areas-of-work-container">
					<ul class="secondary-nav" id="menu-areas-of-work">
						<li class="inpageAnchor menu-item menu-item-type-custom menu-item-object-custom menu-item-332" id="menu-item-332">
							<a href="#Research"><b>Research</b></a>
						</li>
						<li class="inpageAnchor menu-item menu-item-type-custom menu-item-object-custom menu-item-333" id="menu-item-333">
							<a href="#Measurement"><b>Measurement</b></a>
						</li>
						<li class="inpageAnchor menu-item menu-item-type-custom menu-item-object-custom menu-item-331" id="menu-item-331">
							<a href="#Evaluation"><b>Evaluation</b></a>
						</li>
						<li class="inpageAnchor menu-item menu-item-type-custom menu-item-object-custom menu-item-331" id="menu-item-330">
							<a href="/about/contact-us?p=5"><b>Contact Us</b></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--/end ow-->
	</div>
	<!--/end Secondary Nav-->
	<!--Secondary Nav-->
	<div class="hide-for-small" id="secondaryNavWrapper">
		<!--row-->
		<div class="row">
			<div class="large-12 medium-12 columns">
				<ul class="secondary-nav" id="menu-areas-of-work">
					<li class="inpageAnchor menu-item menu-item-type-custom menu-item-object-custom menu-item-332">
						<a href="#Research"><b>Research</b></a>
					</li>
					<li class="inpageAnchor menu-item menu-item-type-custom menu-item-object-custom menu-item-333">
						<a href="#Measurement"><b>Measurement</b></a>
					</li>
					<li class="inpageAnchor menu-item menu-item-type-custom menu-item-object-custom menu-item-331">
						<a href="#Evaluation"><b>Evaluation</b></a>
					</li>
					<li class="inpageAnchor menu-item menu-item-type-custom menu-item-object-custom menu-item-330">
						<a href="/about/contact-us?p=5"><b>Contact Us</b></a>
					</li>
				</ul>
			</div>
		</div>
		<!--/end ow-->
	</div>
	<!--/end Secondary Nav-->


			<!--Start Flex Content -->
			<a class="anchor" id="Research" name="Research"></a>
			<!--Section Row-->
			<div class="sectionRowTwoColumns">
				<!--Row-->
				<div class="row container">
						<div class="col-md-4 col-sm-12">
							<img class="column-image" src="{{'assets/icons/Research.svg'|theme }}">
						</div>
						<div class="col-md-8 col-sm-12">
							<h1>Research</h1>
							<p>NSCC advances new knowledge on issues related to school climate and overall school improvement.</p>
							<p>We conduct both primary and secondary research on education issues of national and local significance using the latest in qualitative and quantitative methodologies in an effort to enhance our understanding of how schools work to maximize student learning.</p>
							<p>NSCC also provides expertise and research-related technical assistance to education researchers, practitioners, and policymakers to enable them to address important questions regarding school climate. Over the years, NSCC has produced a number of research publications for both general audiences and in peer-reviewed journals on a variety of topics important to school climate.</p>
						</div>
				</div>
				<!--/end Row-->
			</div>
			<!--/end Section Row-->
			<a class="anchor" id="Measurement" name="Measurement"></a>
			<!--Section Row-->
			<div class="sectionRowTwoColumns" style="background: url({{'assets/includes/img/measurement.jpg'|theme }}) center center no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
				<!--Row-->
				<div class="row container">
					<div class="col-sm-12 col-md-4 show-small">
						<img class="column-image" src="{{'assets/icons/Measurement.svg'|theme }}">
					</div>

					<div class="col-sm-12 col-md-8">
						<h1><span style="color: #ffffff;">Measurement</span></h1>
						<p><span style="color: #ffffff;">To better understand issues of school climate and the interventions that impact them, it is critical that we develop tools to accurately measure the elements that make up school climate.</span></p>
						<p><span style="color: #ffffff;">Using the latest methods, and grounded in theory and practice, NSCC researchers have developed a set of innovative and empirically validated measurement tools to help schools assess their learning environment.</span></p>
						<p><span style="color: #ffffff;">Our <i>Comprehensive School Climate Inventory</i> (CSCI) remains one of the most nationally-recognized and well-cited school climate surveys in the field, providing in-depth profiles of school communities’ particular strengths and needs, allowing them to make informed decisions for lasting school improvement.</span></p>
						<p><span style="color: #ffffff;">In addition to the CSCI, NSCC researchers have developed a variety of tools and scales that capture specific elements of the school improvement process.</span></p>
					</div>
					<div class="col-sm-12 col-md-4 show-large">
						<img class="column-image" src="{{'assets/icons/Measurement.svg'|theme }}">
					</div>
				</div>
				<!--/end Row-->
			</div>
			<!--/end Section Row-->
			<a class="anchor" id="Evaluation" name="Evaluation"></a>
			<!--Section Row-->
			<div class="sectionRowTwoColumns">
				<div class="row container">
					<div class="col-sm-12 col-md-4">
							<img class="column-image" src="{{'assets/icons/Evaluation.svg'|theme }}">
					</div>
					<div class="col-sm-12 col-md-8">
						<h1>Evaluation</h1>
						<p>Evaluation is the most essential way to enhance our knowledge and the efficacy of school improvement interventions.</p>
						<p>All evaluation services conducted by NSCC staff include evaluation approaches and methods that reflect current theoretical and empirical knowledge and are considered best practice in the field.</p>
						<p>Our evaluation activities incorporate empirically validated survey tools with current or emerging evaluation designs both analyzing quantitative and qualitative data, conducting focus groups and interviews with program participants, as well as helping education entities develop capacity for data gathering and analysis.</p>
						<p>NSCC thoroughly evaluates all types of school improvement initiatives by measuring the impact of interventions on whole school communities while assisting education entities to utilize evaluation findings to inform programming decisions for the betterment of school and student outcomes.</p>
					</div>
				</div>
			</div>
</div>


{% put scripts %}
<script>

	$(document).ready(function(){

		//scroll to top
		$(function() {
		  $('a.inpageAnchor[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			  var target = $(this.hash);
			  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			  if (target.length) {
					var scrollPos = target.offset().top - 99;

					$('html,body, #article').animate({
					  scrollTop: scrollPos
					}, 500);
					return false;
			  }
			}
		  });//end
		});

		//scroll to top for wordpress nav lists
		$(function() {
		  $('.inpageAnchor a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			  var target = $(this.hash);
			  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');

			  if (target.length) {
					var scrollPos = target.offset().top - 99;

					$('html,body, #article').animate({
					  scrollTop: scrollPos
					}, 500);
					return false;
			  }
			}
		  });//end

		});


		$(window).scroll(function() {
					var windscroll = $(window).scrollTop();
					if (windscroll >= 42) {
						$("#secondaryNavWrapper").addClass("stickSecondaryMenu");
						} else {
							$("#secondaryNavWrapper").removeClass("stickSecondaryMenu");
						}
					}).scroll();
		});//end window load

</script>
{% endput %}
