title = "Research - National School Climate Center"
url = "/research-landing-old"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center">

						<div class="row " id="">
							<h3 class="mg-md">
								<b>Research and NSCC </b>
							</h3>
							<p>
								NSCC strives to develop all services and tools using the most current,evidence-based frameworks
							</p>
						</div>

			  </div>
			 </div>
			</div>
	</div>
</div>

<!--col-lg-12-->
<div class="bloc bgc-white" id="bloc-38" style="margin-top:20px;">
    <h3 class="mg-md text-center" >
      <span style="color: #075081;font-size: 27px;font-weight: bold;">BUILDING</span> <span style="color:#45AEC2;font-size: 27px;font-weight: bold;">BETTER SCHOOLS</span> <span style="color:#7B7B7B;font-size: 27px;font-weight: bold;">THROUGH </span><span style="color:#25486A;font-size: 27px;font-weight: bold;">SCIENCE</span>
    </h3>


    <!--block-->
  <div class="col-lg-12">
    <div class="row text-center">
      <div class="custom-container container bloc-md">
    			<div class="col-sm-4">
            <div class="col-sm-11">
    				<a href="">
              <img class="img-responsive center-block" src="{{'assets/images/blank-circle.png'|theme }}">
              <div class="research-top-icons">
                <i class="fa fa-cogs" aria-hidden="true" class="research-top-icons"></i>
              </div>
            </a>
    				<h3 class="mg-md text-center heading-color research">
    					Develop
    				</h3>
    				<p style="text-align:justify;">Develop services and tools that support an effective and sustainable school climate improvement process.</p>
          </div>
    			</div>
    			<div class="col-sm-4">
              <div class="col-sm-11">
      				<a href="">
                <img class="img-responsive center-block" src="{{'assets/images/blank-circle.png'|theme }}">
                <div class="research-top-icons">
                  <i class="fa fa-rocket" aria-hidden="true"></i>
                </div>
              </a>
      				<h3 class="mg-md text-center heading-color research">
      					Improve
      				</h3>
      				<p style="text-align:justify;">Improve our services and tools by continuously studying what works, for whom, and under what conditions.</p>
      			</div>
          </div>
    			<div class="col-sm-4">
            <div class="col-sm-11">
      				<a href="/publications/research">
                <img class="img-responsive  center-block" src="{{'assets/images/blank-circle.png'|theme }}">
                <div class="research-top-icons">
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                </div>
               </a>
              <div class="text-center">
              					<span class="et-icon-chat icon-round icon-spiro-disco-ball icon-lg"></span>
              				</div>
              <h3 class="mg-md text-center heading-color research">
      				 Share
      				</h3>
      				<p style="text-align:justify;">
      					Share our findings with practitioners, policy-makers, and other researchers.
      					<br>
                <div class="text-center">
                  <a href="/publications/research" class="btn btn-bright-cerulean btn-same-font">Our Publications</a>
                </div>
      				</p>
            </div>
    			</div>

        </div>
    	</div>
  </div>
<!--block-->

 <div class="col-lg-12" style="/*margin-top:100px;*/">
  <div class="row">

    <h3 class="mg-md text-center" >
      <span style="color: #075081;font-size: 27px;font-weight: bold;">Improving School climate helps</span> <span style="color:#45AEC2;font-size: 27px;font-weight: bold;">close achievement gaps and</span> <span style="color:#7B7B7B;font-size: 27px;font-weight: bold;">boost school success </span><span style="color:#25486A;font-size: 27px;font-weight: bold;">for everyone</span>
    </h3>

		<div class="custom-container  row m-b-lg" style="margin-top:40px;">

			<!-- first col-lg-6-->
			<div class="col-sm-3 no-padding" style="padding-right:0px;">
				<div class="" style="margin-bottom:20px;">
					<div class="row">
	          <div class="col-sm-12 text-center">
	            <div class="row">
	                <div class="col-sm-12">
	                  <div class="text-middle research-div">
	                    <span>Better emotional health and psychological well-being.</span>
	                  </div>
	                </div>
	            </div>
	            <div class="row">
	                <div style="border-left:3px dashed; height:75px; margin-left:50%;"></div>
	                <div class="col-sm-12">
	                  <div class="text-middle research-div">
	                    <span>Better physical health and lower drug use.</span>
	                  </div>
	                </div>
	            </div>
	            <div class="row">
	                <div style="border-left:3px dashed; height:75px; margin-left:50%;"></div>
	                <div class="col-sm-12">
	                  <div class="text-middle research-div">
	                    <span>Better attendance,fewer suspensions, and decreased bullying, aggression, and violence</span>
	                  </div>
	                </div>
	            </div>
	          </div>
					</div>
				</div>

			</div>
		 <!--End col-sm-4-->
     <div class="col-sm-3" style=" height:550px;">
        <div style="border-bottom:3px dashed; height:465px;"></div>
     </div>
      <!--second col-sm-6-->
			<div class="col-sm-6" style="padding-left:0px;">
        <p align="center">
          <img class="img-responsive center-block" src="{{'assets/includes/img/WordArt.png'|theme }}" style="max-width:80%" />
        </p>
			</div>
			<!--end col-sm-6-->
		</div>
	</div>
 </div>
</div>
<!--end col-lg-12-->