title = "Research - National School Climate Center"
url = "/research-old"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==

<style>
#bloc-38 {
  margin-top: 80px;
  background-color: lightblue;
}

#research{
	background-color: lightblue;
}

#frame{
	background-color: lightblue;
}

#bloc-39{
  margin-top: 100px;
}
.left-circle-container{
  margin-top:40px;
  padding-top:20px;
}
.heading-color{
  color:#0b56a8;
  font-weight:bold;
}
</style>
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center">

						<div class="row " id="">
							<h3 class="mg-md">
								<b>Research and NSCC </b>
							</h3>
							<p>
								NSCC strives to develop all services and tools using the most current,evidence-based frameworks
							</p>
						</div>

			  </div>
			 </div>
			</div>
	</div>
</div>

<!--col-lg-12-->
<div class="bloc bgc-white" id="bloc-38">
  <div class="col-lg-12">
    <div class="row text-center">

      <div class="custom-container">

    			<div class="col-sm-4">
            <div class="col-sm-11">
    				<a href="/services/educational-offerings"><img class="img-responsive center-block" src="{{'assets/images/blank-circle.png'|theme }}"> </a>
    				<h3 class="mg-md text-center heading-color">
    					Developing
    				</h3>
    				<p style="text-align:justify;">...services and tools that guide schools through effective and sustainable schools improvement</p>
          </div>
    			</div>
    			<div class="col-sm-4">
              <div class="col-sm-11">
      				<a href="/services/measuring-school-climate-csci"><img class="img-responsive center-block" src="{{'assets/images/blank-circle.png'|theme }}"> </a>
      				<h3 class="mg-md text-center heading-color">
      					Improving
      				</h3>
      				<p style="text-align:justify;">..our services and tools by continuously studying what works in our schools, for whom and under what conditions</p>
      			</div>
          </div>
    			<div class="col-sm-4">
            <div class="col-sm-11">
      				<a href="/policy/policy-center">	<img class="img-responsive  center-block" src="{{'assets/images/blank-circle.png'|theme }}"> </a>
      				<h3 class="mg-md text-center heading-color">
      				 Sharing
      				</h3>
      				<p style="text-align:justify;">
      					...our findings with practitioners, policy-makers, and other researchers <br>
                <div class="text-center">
                  <a href="/research/research-publications" class="btn btn-bright-cerulean btn-same-font">Our Publications</a>
                </div>
      				</p>
            </div>
    			</div>

        </div>
    	</div>
  </div>
 <div class="col-lg-12">
  <div class="row">
		<div class="custom-container  row m-b-lg">

			<!-- first col-lg-6-->
			<div class="col-sm-4 no-padding" >
				<div class="" style="margin-bottom:20px;">
					<div class="row">
						<h3 class="mg-md text-center" >
							<span style="color: #075081;font-size: 27px;font-weight: bold;">BUILDING</span> <span style="color:#45AEC2;font-size: 27px;font-weight: bold;">BETTER SCHOOLS</span> <span style="color:#7B7B7B;font-size: 27px;font-weight: bold;">THROUGH </span><span style="color:#25486A;font-size: 27px;font-weight: bold;">SCIENCE</span>
						</h3>
            <div class="col-sm-10 text-center">
						<p>
	  				  School Climate, <span style="color:#224462;">the quality and character of school life</span>, impacts student emotional, social, physical, and behavioral well-being:
						</p>
            <div class="row">
              <div style="border-left:3px dotted; height:60px; margin-left:19%;"></div>
              <i class="fa fa-arrow-down" style="margin-left:17.6%; float:left"></i>
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <img class="img-responsive center-block" src="{{'assets/images/blank-circle.png'|theme }}">
                  </div>
                  <div class="col-sm-8 text-middle">
                    Better emotional health and psychological well-being.
                  </div>
                </div>
            </div>
              <div class="row">
                <div style="border-left:3px dotted; height:60px; margin-left:19%;"></div>
                <i class="fa fa-arrow-down" style="margin-left:17.6%; float:left"></i>
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <img class="img-responsive center-block" src="{{'assets/images/blank-circle.png'|theme }}">
                  </div>
                  <div class="col-sm-8 text-middle">
                    Better physical health and lower drug use.
                  </div>
                </div>
            </div>
              <div class="row">
                <div style="border-left:3px dotted; height:60px; margin-left:19%;"></div>
                <i class="fa fa-arrow-down" style="margin-left:17.6%; float:left"></i>
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <img class="img-responsive center-block" src="{{'assets/images/blank-circle.png'|theme }}">
                  </div>
                  <div class="col-sm-8 text-middle">
                    Better attendance,fewer suspensions, and decreased bullying, aggression, and violence
                  </div>
                </div>
            </div>
            <div style="border-left:3px dotted; border-bottom:3px dotted; height:60px; width:140%; margin-left:15%;"></div>
            <i class="fa fa-arrow-right" style="margin-top:-2.5%; margin-right:-59%; float:right;"></i>


          </div>
					</div>
				</div>

			</div>
		 <!--End col-sm-4-->
     <div class="col-sm-2"></div>
      <!--second col-sm-6-->
			<div class="col-sm-6">
        <img class="img-responsive center-block" src="{{'assets/includes/img/WordArt.png'|theme }}" />
				<div class="col-sm-12 text-center">
					<p>
						Improving School climate helps <span style="color:#29C2E5;">close achievement gaps</span> and <span style="color:#29C2E5;">boost school success</span> for <span style="color:#345BA9;">everyone</span>.
					</p>
				</div>
			</div>
			<!--end col-sm-6-->
		</div>
	</div>
 </div>
</div>
<!--end col-lg-12-->
