title = "Research - National School Climate Center"
url = "/research-new2"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==

<style>
#bloc-38 {
  margin-top: 80px;
  background-color: lightblue;
}

#research{
	background-color: lightblue;
}

#frame{
	background-color: lightblue;
}

#bloc-39{
  margin-top: 100px;
}
.left-circle-container{
  margin-top:40px;
  padding-top:20px;
}
.heading-color{
  color:#0b56a8;
  font-weight:bold;
}

.research-div{
  background: #42a1c6;
  color: #FFF;
  font-weight: bold;
  border-radius: 30px;
  height: 125px;
  padding:10px;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle !important;
  box-shadow: 5px 5px 5px #888888;
}


</style>
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center">

						<div class="row " id="">
							<h3 class="mg-md">
								<b>Research and NSCC </b>
							</h3>
							<p>
								NSCC strives to develop all services and tools using the most current,evidence-based frameworks
							</p>
						</div>

			  </div>
			 </div>
			</div>
	</div>
</div>

<!--col-lg-12-->
<div class="bloc bgc-white" id="bloc-38">

 <div class="col-lg-12">
  <div class="row">

    <h3 class="mg-md text-center" >
      <span style="color: #075081;font-size: 27px;font-weight: bold;">BUILDING</span> <span style="color:#45AEC2;font-size: 27px;font-weight: bold;">BETTER SCHOOLS</span> <span style="color:#7B7B7B;font-size: 27px;font-weight: bold;">THROUGH </span><span style="color:#25486A;font-size: 27px;font-weight: bold;">SCIENCE</span>
    </h3>

		<div class="custom-container  row m-b-lg" style="margin-top:40px;">

			<!-- first col-lg-6-->
			<div class="col-sm-3 no-padding" style="padding-right:0px;">
				<div class="" style="margin-bottom:20px;">
					<div class="row">

            <div class="col-sm-12 text-center">

            <div class="row">
                <div class="col-sm-12">
                  <div class="text-middle research-div">
                    <span>Better emotional health and psychological well-being.</span>
                  </div>
                </div>
            </div>
              <div class="row">
                <div style="border-left:3px dashed; height:75px; margin-left:50%;"></div>
                <div class="col-sm-12">
                  <div class="text-middle research-div">
                    <span>Better physical health and lower drug use.</span>
                  </div>
                </div>
            </div>
              <div class="row">
                <div style="border-left:3px dashed; height:75px; margin-left:50%;"></div>
                <div class="col-sm-12">
                  <div class="text-middle research-div">
                    <span>Better attendance,fewer suspensions, and decreased bullying, aggression, and violence</span>
                  </div>
                </div>
            </div>
          </div>
					</div>
				</div>

			</div>
		 <!--End col-sm-4-->
     <div class="col-sm-3" style=" height:550px;">
        <div style="border-bottom:3px dashed; height:465px;"></div>
     </div>
      <!--second col-sm-6-->
			<div class="col-sm-6" style="padding-left:0px;">
        <div class="col-sm-12 text-center">
          <p>
            Improving School climate helps <span style="color:#29C2E5;">close achievement gaps</span> and <span style="color:#29C2E5;">boost school success</span> for <span style="color:#345BA9;">everyone</span>.
          </p>
        </div>
        <p align="center">
          <img class="img-responsive center-block" src="{{'assets/includes/img/WordArt.png'|theme }}" style="max-width:80%" />
        </p>
			</div>
			<!--end col-sm-6-->
		</div>
	</div>
 </div>
</div>
<!--end col-lg-12-->
