title = "Programs & Services - National School Climate Center"
url = "/services/all"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-37 -->
<div class="bloc bg-taking-a-survey bgc-white tc-white-2 header-banner" id="bloc-37">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center">
				<h3 class="mg-md ">
					Learn more about our services
				</h3>
				<p>
					NSCC has a variety of services that are built to support your work throughout the school climate improvement process.
				</p>
			</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-37 END -->

<!-- bloc-38 -->
<div class="bloc bgc-white l-bloc" id="bloc-38">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<p>
					<strong>NSCC</strong> offers a variety of <!--professional development programs and --> services to support K-12 schools, after-school settings, educators, parent advocate groups, and states to implement sustained school climate improvement efforts.
				</p> 
				<blockquote>
					<p>
						I see the work of NSCC as state-of-the-art in social-emotional learning, a crucial contributor to the worldwide movement to educate the whole child.
						              <div class="quote-author">&mdash;  Daniel Goleman, Author of "Emotional Intelligence"</div>
					</p>
				</blockquote>
				<p>
					<strong>Integral to all of these <!--programs and --> services are the following key guiding principles:</strong>
					<ul class="services-ul">
						 <li>
						 Promoting children&rsquo;s social, emotional, and civic, as well as intellectual abilities and dispositions, are all crucial components in the overall educational framework for student success
						 </li>
						 <li>Fostering collaboration and communication between and among teachers, administrators, school-based mental health professionals, parents, and students to create a climate for learning
						 </li>
						 
						 <li>Supporting school communities being healthy, safe, engaging, challenging, and supportive for students</li><br>
						 Our workshops can be held on or off-site. We also have education experts available to present keynote addresses, panel discussions, or long-term consultations with school leaders and other clients.Learn more about our range of offerings below:
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-38 END -->

<!-- bloc-39 -->
<div class="bloc bgc-white l-bloc services-block" id="bloc-39">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">

				<div class="col-sm-3 services-images">
					<a href="/services/educational-offerings">
						<img  height="100" width="100" class="img-responsive" src="{{'assets/images/professional-development-icon-120x120.png'|theme}}" />
					</a>
				</div>
				<div class="col-sm-9">
					<h3><a href="/services/educational-offerings">Educational Services</a></h3>
					<p>Ranging from Professional Development to School Climate Leadership Certification, <strong>NSCC</strong> is ready to help schools grow their capacity to do school climate improvement work.</p>
					<p><a href="/services/educational-offerings" class="link btn btn-lapis-lazuli btn-md">more</a></p>
				</div>


				<div class="col-sm-3 services-images">
					<a href="/resource-center">
						<img  height="100" width="100" class="img-responsive" src="{{'assets/images/scrc-icon.png'|theme}}" />
					</a>
				</div>
				<div class="col-sm-9">
					<h3 ><a href="/resource-center">The School Climate Resource Center</a></h3>
					<p>The School Climate Resource Center supports education leaders and their teams’ school climate improvement efforts. Our suite of resources enables school communities to build their capacity and expertise in creating and maintaining positive school climates. From surveys and protocols, to research and best practices, the School Climate Resource Center can support our work today.</p>
					<p><a href="/resource-center" class="link btn btn-lapis-lazuli btn-md">more</a></p>
				</div>

				<div class="col-sm-3 services-images">
					<a href="/publications">
						<img  height="100" width="100" class="img-responsive" src="{{'assets/images/publications-icon-120x120.png'|theme}}" />
					</a>
				</div>
				<div class="col-sm-9">
					<h3><a href="/publications">Publications</a></h3>
					<p>Engaged in the process of constant inquiry, <strong>NSCC</strong>‘s publications illuminate current issues in the field of school climate improvement and chronicle our work within the field.</p>
					<p><a href="/publications" class="link btn btn-lapis-lazuli btn-md">more</a></p>
				</div>

			 </div>
			<div class="col-sm-6">

				<div class="col-sm-3 services-images">
					<a href="/services/measuring-school-climate-csci">
						<img  height="100" width="100" class="img-responsive" src="{{'assets/images/measuring-school-climate-icon-120x120.png'|theme}}" />
					</a>
				</div>
				<div class="col-sm-9">
					<h3 ><a href="/services/measuring-school-climate-csci">Measuring School Climate</a></h3>
					<p ><strong>NSCC</strong>‘s variety of measurement tools are designed to help school communities get a quantitative understanding of their school climate.</p>
					<p ><br><a href="/services/measuring-school-climate-csci" class="link btn btn-lapis-lazuli btn-md">more</a></p>
				</div>

				<div class="col-sm-3 services-images">
					<a href="/publications/policy">
						<img  height="100" width="100" class="img-responsive" src="{{'assets/images/policy-icon-120x120.png'|theme}}" />
					</a>
				</div>
				<div class="col-sm-9">
					<h3><a href="/publications/policy">Policy Center</a></h3>
					<p><strong>NSCC</strong> thinks that school climate data should inform education policies. Our resources, consultation services, and more help school leaders adjust their policies to put school climate at the center.</p>
					<p><a href="/publications/policy" class="link btn btn-lapis-lazuli btn-md">more</a></p><br>
				</div>

			</div>
		</div>
	</div>
</div><br><br>
<!-- bloc-39 END -->