title = "Certification - National School Climate Center"
url = "/services/certification"
layout = "default"
is_hidden = 0
==

<div class="bloc bg-taking-a-survey bgc-white tc-white-2 header-banner" id="bloc-37">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
       <center>
				<h3 class="mg-md "> National School Climate	Leadership Certification Program </h3>
				<p>	Supporting	Learning,Leadership	and	School Communities:Creating	Safe,	Supportive,	Engaging and Healthy Climates for	Learning that Promote	School and Life	Success</p>
        <a href="/about/contact-us" class="btn btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>
			 </center>
			</div>
		</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white"  >
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">
          <nav class="nav-sidebar">
      		<ul class="nav-tab-2 nav tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Goals, Objectives and Requirements</a></li>
								<li class=""><a href="#tab2" data-toggle="tab">About the Certificate	Program	</a></li>
								<li class=""><a href="#tab3" data-toggle="tab">Enrollment Process	</a></li>
								<li class=""><a href="#tab4" data-toggle="tab">A Brief History:<br> Leadership Development and the National School Climate Center</a></li>
								<li class=""><a href="#tab5" data-toggle="tab">Network	Improvement	Community</a></li>
								<li class=""><a href="#tab6" data-toggle="tab">Time	Line & Tasks</a></li>
								<li class=""><a href="#tab7" data-toggle="tab">Our Coaches</a></li>
	              <li class=""><a href="#tab8" data-toggle="tab">Case Collection</a></li>
					</ul>
      	</nav>
      </div>
      <!-- tab content -->
      <div class="tab-content tab-content-1 col-sm-9">
      <div class="tab-pane active text-style" id="tab1">
				<h2>Goals, Objectives and Requirements</h2>
				<p><b>The	National	School	Climate	Certification</b> is an advanced educational credential that complements, but does not replace, a State’s teacher and/or administrator license. The current program offers a pathway to certification for individual educators or educational support persons who have demonstrated a personal and professional commitment to learning about and applying the principles of school climate improvement and advancing equitable practices in a PK-12 setting.</p>
        <p><b>School climate	improvement </b> is an intentional, strategic, fundamentally collaborative, transparent, and democratically informed process designed to promote even safer, more supportive, engaging and healthy climates for learning that support school and life success. School Climate improvement overlaps with and supports effective SEL and character education informed school improvement efforts. School climate reform is aligned with and supported by findings from implementation science. </p>

				<center><h3><b>Program Goals and Objectives</b><h3></center>

					<p>The <b>goal</b> for the certificate program is to build the capacity of education leaders to create safe, supportive, engaging, and healthy climates for learning that promote equitable school and life success.</p>
					<p>Objectives:
					    <br> (1) To support a critical mass of prosocial PK-12 school leaders who understand and use the theory, research and practice of school climate improvement, implementation science and evidence-based practices that support school and life success.
					    <br> (2) To participate in and support a growing network improvement community of emerging and established school leaders to learn from each other and help to advance the field.
					    <br> (3) To provide resources that educators in schools, districts, and State Departments of Education can use to strengthen their school climate efforts, by helping to train, support and recognize certified school climate leaders in their states.
					</p>
			</div>

			<div class="tab-pane text-style " id="tab2">
				<h2>About the Certificate	Program</h2>
				<p>The School Climate Leadership Certificate Program is offered by the National School Climate Center. Participants who complete this process will earn a certificate from NSCC and join a growing national network of prosocial/school climate leaders. In addition, certification supports:
				 <ul>
						 <li>Confirmation and recognition of at least a introductory understanding of effective school climate reform, equity informed improvement efforts and prosocial education </li>
						 <li>A credential that identifies professional commitment, knowledge and skills in the areas of evidence-based school climate improvement and culturally responsive practices; </li>
						 <li>Increased capacity to act as a school climate coordinator and leader;</li>
						 <li>Expert feedback and consultation on school climate improvement strategies.
						 </li>
						 <li>Membership in a growing network of school climate leaders and culturally responsive practitioners invested in sharing best practices with other professionals and parent/community leaders; </li>
						 <li>Opportunities to:</li>
						 <ul>
								 <li>Become an active member of a network of practitioners with opportunities who share experiences, resources and cutting edge research; </li>
								 <li>assist in developing new school climate improvement resources and guidelines; </li>
								 <li>Serve as a spokesperson for school climate and equitable practice improvement as a critical aspect of school reform; </li>
						 </ul>
				 </ul>
				 The National School Climate Center’ s web site will list individuals who have been certified.
			</p>

			<h3>Who	Can	Benefit?</h3>
			<p>The program emphasizes how we can coordinate and promote school improvement efforts for all students: systemically, instructionally and relationally. it is designed for people who are in formal or informal school leadership positions. These individuals may include, but are not limited to:
					<ul>
							<li>Building level administrators (Principals and Assistant principals) </li>
							<br>
							<li>Student support personnel </li>
							<br>
							<li>Curriculum coordinators </li>
							<br>
							<li>Members of teams or committees addressing bullying, school climate, discipline, character, SEL, mental health promotion and related school-wide areas </li>
							<br>
							<li>Those who hold positions in district central offices </li>
							<br>
							<li><b>Regional		and	State	leaders	</b></li>
					</ul>
			</p>
			<h3>Requirements and Eligibility</h3>
			<p>To enroll, participants must have a bachelor’s or higher degree in a related field. Participants must have completed three full years in PK-12 education. Participants should either currently be in a position of school leadership, such as those listed above, or have held a leadership position previously and have the goal of returning to one and/or act as a consultant to and with school leaders. We also encourage applicants who aspire to be in leadership roles in schools. </p>

			<center><h3><b>Prerequisites	for	Participation	</b><h3></center>
				<p>
			    <ul>
			        <li>Hold a bachelor’s degree </li>
			        <li>Have completed three full years in PK-12 education </li>
			        <li>Be engaged as an educator, school-based mental health professional, youth development professional, parent, school board and/community leader. (Parent, school board and/or community leaders need to have an opportunity to work directly with educators involved with school climate reform.) </li>
			        <li>Articulate current and projected professional learning goals related to school prosocial/school climate improvement. </li>
			        <li>Describe how the applicant’s current role affords the basis for providing leadership in prosocial/school climate improvement efforts in a school district or school. </li>
			        <li>Exhibit a clear commitment to being a ‘change agent’ in P-12 school communities invested in furthering school climate reform, equitable practices, and social, emotional, ethical and civic learning – as evidenced by a letter of recommendation from a colleague. </li>
			        <li>We request that the letter of recommendation include commentary about you as a (i) learner and teacher as well as (ii) your interest and commitment to joining a network improvement community that is committed to furthering open and honest learning about prosocial/school climate improvement efforts. </li>
			    </ul>
					<b>Purpose:</b> The certification process is organized around demonstrating learning, understanding and application of prosocial education, culturally responsive practice, and school climate improvement(research, theory, practice and policy) efforts through:
           <br> (1) Attendance at an initial school climate / prosocial educational conference or institute
					 <br> (2) Learning from a series of learning modules and readings
					 <br> (3) Providing documentation through a portfolio of work products(both standardized and personalized) that reflect learning: Your learning plans / objectives, reflections about essential readings and learning modules, monthly posts about sharable issues, learning moments, or climate related experiences.
					 <br> (4) Developing and submitting a 'case study' that demonstrates application of school climate improvement principles in a school setting
           <br> (5) Learning from and supporting a network improvement community(NIC) by actively engaging in and contributing to learning in prosocial education and school climate improvement efforts.(For example, the NIC may be a learning community established by NSCC, a school district or school level professional learning community, or a school climate improvement site council.)
				</p>
				<h3>LEARNING	SEQUENCE</h3>
				<p>The program is organized around your work in or with a school over the course of one academic school year. Typically, the program is roughly 12 months in duration. </p>

				<p><b>Activities:</b> Participants will work on and document the following three processes demonstrating the understanding and application of prosocial education and school climate improvement efforts in a school setting.
				 <br> <h4><b>1. Learning about school climate, culturally responsive and prosocial education:</b></h4>
				 <ul>
						 <li>Understanding what the research suggests about effective prosocial, culturally responsive, and school climate improvement efforts. This will include a limited required set of readings about the current state of prosocial education, culturally responsive pedagogy/practice, and school climate reform. </li>
						 <li>Completing three Learning Modules in the School Climate Resource Center that are designed to support individual learning and provide a basis for effective school climate leadership development efforts. Participants will be responsible for completing the School Climate Road Map module in the initial six weeks of their learning and work. Participants will be responsible for completing two more modules over the course of the ensuing four months. </li>
						 <li>To critically and constructively critique the School Climate Resource Center in the following ways: What are the strengths of this on line Resource Center? What is missing? What would you recommend be further developed and why? </li>
				 </ul>
				 <h4><b>2. Learning about ourselves as a leader/learner/teacher:</b></h4>
				 <ul>
						 <li>Reflecting on and developing learning objectives that are personally and professionally meaningful, build on what you know, and increase your professional and cultural competence. </li>
						 <li>Being an ongoing reflective learner/teacher/co-leader in general and with regard to the facilitation/coaching/supervisory process in particular. </li>
				 </ul>
				 <h4><b>3. Demonstrating culturally responsive and school climate related leadership:</b></h4>
				 <ul>
						 <li>Understanding, appreciating and building on the complexity of schoolwide, instructional and relational school improvement efforts: </li>
						 <li>In partnership with a coach assigned by NSCC to support and monitor your work, developing an Activity Learning Plan that delineates (i) your goals as well as (ii) the school goals (for the school you are working in or supporting) </li>
						 <li>Developing and completing a case study documenting your efforts to apply your professional knowledge, skill and commitment to school climate improvement in a school setting over the course of a school year. </li>
				 </ul>
				 <h4><b>4. Attending a two day learning forum:</b></h4>
			   </p>
				 <h3>Additional	Process	Information	<h3>
					 <p>
					    <h4><b>Learning	and	working	with	a	coach:</b></h4> Throughout the leadership development process, participants will have the opportunity to learn and work with a NSCC coach. These monthly coaching calls/video conferences are designed to guide and monitor your progress throughout the certification program and support your learning to ensure satisfactory completion of the requirements.
					</p>
					<p>
				    <h4><b>Documenting	and	Assessing	Learning:</b></h4>
				    <ul>
				        <li>Participants will document their learning by developing an online portfolio that chronicles the completion of the learner’s accepted Activity Learning Plan.
				            <br> In summary, the portfolio will consist of: </li>
				        <li>The Activity Learning Plan, with notes from the participant and coach. </li>
				        <li>Satisfactory completion of a case study of the learner’s work supporting school climate improvement in at least one P-12 school. The case study may consist of a profile of the climate implementation history of the school with which the participant has worked, or be a more specific action research project associated with the school’s prosocial education/climate improvement goals. The documentation can consist of both written and video presentations of ‘lessons learned’. Explicit Case Study Guidelines will be provided to participants by their assigned NSCC coach. </li>
				        <li>Documentation of the personal and professional learning objectives in the Activity Learning Plan in ways that reflect how they have worked to actualize the competencies outlined. Participants are invited to consider the following essential questions in their documentation:
				             <ul>
				                <li>What were my learning objectives? </li>
				                <li>How did and do these learning objectives relate to my teaching/learning in schools? </li>
				                <li>What was most helpful and why? </li>
				                <li>What was the most challenging? </li>
				                <li>What was most surprising? </li>
				                <li>How have I shared my learning with others (locally or nationally) in ways that support meaningful involvement in a professional learning community? </li>
				                <li>If there were one or two “lessons” and/or insights that I believe may be most helpful to others, what are they? </li>
											</ul>
				                    (NOTE To support a growing on-line (as well as face-to-face) learning community, this documentation may be shared with others.)
				        </li>
				        <li>Participants will also be asked to constructively critique the process of learning and teachings in this certification process </li>
				        <ul>
					</p>

      </div>

      <div class="tab-pane text-style " id="tab3">
      	<h2>Enrollment	Process</h2>
				<h3>Terms	and	Conditions</h3>
				<p>This certificate program may serve as continuing education in many school districts, and we will provide verification of completion upon request. However, this program is currently non-credit-bearing and cannot be applied toward a degree.
        	<br> Participants may receive a full tuition refund if they opt out of the program within a week after it begins. After the first week, participants who opt out of a course will receive a credit toward completion of the same course redeemable for up to two years.
				</p>
				<a href="/about/contact-us" class="btn btn-lg btn-lapis-lazuli">Apply Now</a>

      </div>

			<div class="tab-pane text-style " id="tab4">
      	<h2>A Brief History: Leadership Development and the National School Climate Center</h2>
				<p>Supporting leadership development has been a primary focus for the National School Climate Center (NSCC) since its inception in 1996. Our institutes, national conferences and growing array of research, policy, measurement and school improvement efforts have all been designed to support emerging and established PK-12 school leaders understanding and being able to further prosocial education improvement efforts. </p>
        <p>Prosocial education refers to a wide range of education and mental health “camps” that are focused on intentionally promoting K-12 students’ social, emotional, ethical, and civic as well as cognitive competencies that support student academic and life success. These “camps” include character education, social emotional learning (SEL), 21 st Century Learning Skills, positive psychology, ASCD’s Whole School, Whole Community, Whole Child (WSCC) initiative, restorative practices, culturally responsive pedagogy/practice, and mental health promotion efforts.</p>
				<p>In 2011, NSCC organized the Education Leadership Coalition on School Climate that included leaders from the Center for Character and Citizenship, University of Missouri-St. Louis, Character.org (then called the Character Education Partnership), Making Caring Common Initiative, Harvard Graduate School of Education, and the National Dropout Prevention Center/Network as well as the National School Climate Center. We collaboratively developed the framework for the National School Climate Leadership Certificate program. </p>
				<p> The first edition of this Leadership Program grew out of learning and work that the following individuals contributed to: Amy Berg(Development Director, National School Climate Center), Marvin Berkowitz, (Co - director and inaugural Sanford N.McDonnell Endowed Professor of Character Education, Center for Character and Citizenship, University of Missouri, St Louis), Phil Brown(Fellow and former director, Center for
				<span style="color:brown;">
					Social and Character Development
				</span>
				Rutgers	University	and	NSCC),	Steven	Brion-Meisels	 (NSCC), Richard Cardillo(Director of Education, NSCC), Jonathan Cohen(president, NSCC; and, Adjunct Professor in Education and Psychology, Teachers College, Columbia University; Adjunct Professor in Education, School of Professional Studies, City University of New York), Marty Duckenfield(Public Information Director, National Dropout Prevention Center / Network), Mark Hyatt(CEO, Character Education Partnership), Mary Jalloh(Director, New York State Center for School Safety), and Terry Pickeral(Cascade Consulting and NSCC).
			  </p>
				<p>In 2014, NSCC senior staff revised and simplified the Leadership Development Program. </p>
				<p>The third edition has been revised and improved based on NSCC’s learning and work with the Minnesota Department of Education and the scores of Minnesota regional leaders. In addition, we are grateful to Philip Brown, Richard Cardillo, Jonathan Cohen, Deborah Haber, Kori J. Hamilton and Randy Ross who all helped to revise and provide more structure to the Program. </p>
				<p>We are grateful to the Fred Bay Foundation and the NSCC Board of Trustees who have helped to fiscally support the time and travel related costs. </p>
			</div>

			<div class="tab-pane text-style " id="tab5">
				<h2>Network	Improvement	Community</h2>
      	<p>One of the primary tasks of the Certificate program is to support a growing network improvement community of emerging and established school leaders to learn from each other and help to advance the field. </p>
				<a target="_blank" href="/about/contact-us" class="btn btn-lg btn-lapis-lazuli"> Contact Us </a>
      </div>
			<div class="tab-pane text-style " id="tab6">
      	<h2>Certification	Process:Timeline and Tasks</h2>
				<p>The time and tasks outlined below assume a 12-month process of leadership development. We appreciate that sometimes participants plan for this process to take somewhat longer, based on factors such as when entry is achieved and the exigencies of the school year. In these instances, the participant and the coach adjust the time frame for tasks accordingly. This becomes an explicit and mutually agreed upon process by the participant and the coach. </p>
        <div class="table-responsive">
					<table class="table table-bordered custom-ul-style" style="boarder:1px solid !important" >
					<tr class="brown-bg-color" >
						<th width="15%">Time</th>
						<th>School leader</th>
						<th>Coach</th>
						<th>NSCC</th>
						<th>Forms	&	Reports</th>
					</tr>
					<tr>
						<th class="brown-bg-color">Pre-Entry</th>
						<td>Person applies for admission in program</td>
						<td>Coach is assigned by NSCC, following application review and approval</td>
						<td>NSCC reviews application</td>
						<td>Application</td>
					</tr>
					<tr>
						<th class="brown-bg-color">First Month</th>
						<td>
							<ul>
							    <li><b>Initial program orientation</b> Understanding :</li>
							    <li> SC: Model, process, challenges, etc.</li>
							    <li><b>Learning	Module	#1:</b> Participants complete the “primary road map” (SCRC) as well as linke surveys by the beginning of this second month</li>
									<li><b>Initial and	essential readings</b></li>
									<li> Participa nt and coach begin conversation about coaching and the certification process (see forms and reports)</li>
									<li> Participant plans to learn and work with their own or a given school and leadership team</li>
									<li> Participant drafts learning objectives in accordance with Activ ity Learning Plan & submits to coach following initial coach call</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li> Coach reviews application & connects with participant via phone & digitally.</li>
							    <li> Coach reviews the certification requirements and the Activity Learning Plan with participant</li>
									<li> Coach reviews plans and purpose of essential readings</li>
									<li> Coach reviews the coaching process with the participant</li>
									<li> Coach reviews plans and/or experience with the Readiness A ssessment , if applicable</li>
							 <ul>
						</td>
						<td>
							<ul>
							    <li>NSCC provides link and digital orientation to the SCRC</li>
							<ul>
						</td>
						<td>
							Required:
							<ul>
							    <li> Activity Learning Plan</li>
							    <li> Monthly Coach - Progress Report</li>
							    <li> Example, Monthly Progress report</li>
							    <li> Record of coaching conversatons</li>
									<li> Essential Readings Essential readings: Reflections doc</li>
									<li> Learning Module Review guideline</li>
									<li> Case Study Guide 2016</li>
							 <ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Second Month</th>
						<td>
							<ul>
							    <li> <b>Essential readings</b> both of the National School Climate Council docs) and Practice Briefs will have been read prior to the second coach call.</li>
							    <li> <b>Readiness evaluation with	school</b> , if applicable , or initial planning with school leadership team <b>Activity Learning	Plan</b> feedback is discussed with coach and plan is redrafted as necessary</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li> Coach reviews the draft Activity Learning Plan and provides feedback to participant</li>
							    <li> Coach reviews: - Draft Activity Learning Plan - Experience with Primary Road Map learning module - R eactions to essential readings</li>
							</ul>
						</td>
						<td></td>
						<td>
							Required:
							<ul>
									<li> Record of coaching conversati ons</li>
									<li> Monthly Coach - Progress Report</li>
									<li> Essential Readings</li>
									<li> Essential readings: Reflectio ns doc</li>
									<li> Transfor mational coaching rubric - completed by participant.</li>
									<li> Readines s evaluat ion instrument</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Third Month</th>
						<td>
							<ul>
							    <li> <b>Specific Learning objectives</b> and related Activity Plan are revi ewed and updated (if needed)</li>
							    <li> <b>Case	study:</b> Participant begins to develop plans for the case study</li>
							    <li> <b>Learning Module #2:</b> Participants complete a second module of their choice (SCRC) as well as linked surveys </li>
							    <li> Before every monthly coaching call, school le ader posts a comment on a social forum (supporting the NIC) about: lessons learned, challenges, questions and/or opportunities</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li> Coach reviews the participant experience of learning and working with a given school and leadership team to support an effecti ve improvement process , including review of school climate data sources</li>
							    <li> Coach reviews selected Learning Module</li>
							    <li> Coach reviews case study requirement and options</li>
							</ul>
						</td>
						<td></td>
						<td>
							Required:
							<ul>
							    <li> Record of coaching conversations </li>
							    <li> Monthly Coach - Progress Report</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Fifth Month</th>
						<td>
							<ul>
							    <li> Specific Learning objectives and the related Activity Learning Plan are reviewed and updated (if needed)</li>
							    <li> Before every monthly coaching call, school leader posts a comment on a social forum (supporting the NIC) about: lessons learned, challenges,questions and/or opportunities </li>
							</ul>
						</td>
						<td>
							<ul>
							    <li> Coach reviews the participant experience of learning and working with a given school and leadership team to support an effective improvement process , including action planning using SMART go</li>
							</ul>
						</td>
						<td></td>
						<td>
							Required:
							<ul>
									<li> Record of coaching conversations </li>
									<li> Monthly Coach - Progress Report</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Fifth Month</th>
						<td>
							<ul>
							    <li> <b>Specific Learning objectives</b> and the related Activity Learning Plan are reviewed and updated (if needed)</li>
							    <li> Before every monthly coaching call, school leader posts a comment on a social forum (supporting the NIC) about: lessons learned, challenges, questions and/or opportunities</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li> Coach reviews the participant experience of learning and working with a given school and leadership team to support an effective improvement process , including action planning using SMART goals</li>
							</ul>
						</td>
						<td></td>
						<td>
							Required:
							<ul>
									<li> Record of coaching conversations </li>
									<li> Monthly Coach - Progress Report</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Sixth Month</th>
						<td>
							<ul>
							    <li> <b>Specific Learning objectives</b> and the related Activity Learning Plan are reviewed and updated (if needed).</li>
							    <li> Participant posts summary of sharable issues, learning moments, or climate related expe riences on <b>NSCC social media NIC site</b></li>
							    <li> <b>Case	study:</b> An outline of the Case Study is submitte</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li> Coach reviews the participant experience of learning and working with a given school and leadership team to support an effective improvement process</li>
							</ul>
						</td>
						<td>NSCC reviews Mid - Year coach reports and recommends course adjustments if necessary</td>
						<td>
							Required:
							<ul>
							    <li> Record of coach ing conversations </li>
							    <li> Coaches Mid - Year Report</li>
							    <li> Mid Year Progress Report - Coach Reflections</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Seventh Month</th>
						<td>
							<ul>
							    <li> <b>Specific Learning objectives</b> and the related Activity Learning Plan are reviewed and updated (if needed)</li>
							    <li> <b>Case study :</b> Participant and coach review the case study is developing .</li>
							    <li> <b>Learning Module #3 :</b> Participants complete a third module of their choice (SCRC) as well as linked surveys </li>
							</ul>
						</td>
						<td>
							<ul>
							    <li>Coach prov ides feedback on the Case Study outline.</li>
							    <li> Coach reviews the participant experience of learning and working with a given school and leadership team to support an effective improvement process , including status of action plan implementation</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li>NSCC reviews and makes recommenda tion regarding case study outlines if requested by coach </li>
							</ul>
						</td>
						<td>
							Required:
							<ul>
									<li> Record of coaching conversations </li>
									<li> Monthly Coach - Progress Report</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Eight Month</th>
						<td>
							<ul>
							    <li> Specific Learning objectives and the related Activity Learning Plan are reviewed and u pdated (if</li>
							    <li> Case study : Participant and coach review the case study is developing</li>
							    <li> Before every monthly coaching call, school leader posts a comment on a social forum (supporting the NIC) about: lessons learned, challenges, questions and/or oppor tunities</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li> Coach reviews the participant experience of learning and working with a given school and leadership team to support an effective improvement process</li>
							</ul>
						</td>
						<td></td>
						<td>
							Required:
							<ul>
									<li> Record of coaching conversations </li>
									<li> Monthly Coach - Progress Report</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Ninth Month</th>
						<td>
							<ul>
							    <li> <b>Specific Learning objectives</b> and the Activity Learning Plan are reviewed and updated (if needed)</li>
							    <li> <b>Case study:</b> Participant and coach review what the school leader has begun to write for the case study.</li>
							    <li> Participant posts summary of sharable issues, lear ning moments, or climate related experiences on NSCC <b>social media NIC sit</b></li>
							</ul>
						</td>
						<td>
							<ul>
							    <li> Coach reviews the participant experience of learning and working with a given school and leadership team to support an effective improvement process</li>
							</ul>
						</td>
						<td></td>
						<td>
							Required:
							<ul>
									<li> Record of coaching conversations </li>
									<li> Monthly Coach - Progress Report</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Tenth Month</th>
						<td>
							<ul>
							    <li> <b>Reflection Paper :</b> Participant and coach review plans for the reflection paper</li>
							    <li> <b>Case study :</b> Participant and coach review what the school leader has begun to write for the case study.</li>
							    <li> <b>Port folio :</b> Participant submits outline of all docs to be included in portfolio prior to coach call</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li>Coach reviews portfolio outline for completeness and provides feedback if necessary</li>
							    <li> Coach reviews the participant experience of learning and working with a g iven school and leadership team to support an effective improvement process</li>
							</ul>
						</td>
						<td></td>
						<td>
							Required:
							<ul>
									<li> Record of coaching conversations </li>
									<li> Monthly Coach - Progress Report</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Eleventh	Month</th>
						<td>
							<ul>
							    <li><b>Case study with Reflection Paper</b> are submitted to coach and NSCC</li>
							</ul>
						</td>
						<td>Coach reviews the case study and reflection paper and provides feedback in consultation with NSCC</td>
						<td></td>
						<td>
							<ul>
							    <li> Record of coaching conversati ons </li>
							    <li> Monthly Coach - Progress Report</li>
							    <li> Transfor mational coaching rubric - completed by participant</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="brown-bg-color">Twelfth Month</th>
						<td>
							<ul>
							    <li>Final case study and reflection paper critiquing the strengths and weaknesses of the leadership development process is submitted.</li>
							    <li>Final portfolio is submitted.</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li>Coach reviews final case study, reflection paper and portfolio for completeness and submits report with recommendati on for certification to NSCC.</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li>NSCC reviews all docs and coach report.</li>
							    <li>NSCC awards certificate, and invites participant into the NIC.</li>
							    <li>NSCC determines what parts of the case study, reflections and portfolio will be shared with the NIC.</li>
							</ul>
						</td>
						<td>
							<ul>
							    <li> Record of coaching conversations</li>
							    <li>Coaches End of year Report</li>
							</ul>
						</td>
					</tr>
				</table>
			  </div>
			</div>
			<div class="tab-pane text-style " id="tab7">
				<h2>Our Coaches</h2>

				<div class="">
          <img  class="team-popup-img img-frame-md" src="/themes/schoolclimate/assets/includes/img/staffThumb-pbrown.jpg" height="150">
          <h4 class="modal-title"><strong>Philip Brown</strong></h4>
          <em>Senior Practice Consultant</em>
          <div><p>Philip Brown, PhD, is a Senior Practice Consultant at NSCC. He is also a Fellow of the Graduate School of Applied and Professional Psychology at Rutgers University where he founded and directed the Center for Social and Character Development. He has been principal investigator on several U.S. Department of Education grants, including research studies on evidence-based practices. Phil has served in student support services related management positions in the New Jersey Department of Education and the Pennsylvania Department of Health for 25 years, as a school board director, founder and president of the New Jersey Alliance for Social, Emotional and Character Development and is a member of the National School Climate Council. With colleagues from Fordham and Marshall Universities he is co-editor of the Handbook of Prosocial Education (2012).</p></div>
        </div>
        <br>
				<div class="">
          <img  class="team-popup-img img-frame-md" src="/themes/schoolclimate/assets/includes/img/staffThumb-jc.jpg" height="150">
          <h4 class="modal-title"><strong>Jonathan Cohen</strong></h4>
          <em>Co-founder and President</em>
          <div><p><strong>Jonathan Cohen</strong>, Ph.D. is the co-founder and president of the National School Climate Center (NSCC). He is an Adjunct Professor in Psychology and Education at Teachers College, Columbia University; co-founder and emeritus chair, The National School Climate Council; co-editor of the International Journal of School Climate and Violence Prevention; and a practicing clinical psychologist and psychoanalyst.</p><p>Jonathan has worked in and with K-12 schools for over thirty-five years as a teacher, program developer, school psychologist, consultant, psycho-educational diagnostician and mental health provider. After working as a middle school teacher at the Marianne Frostig Center for Educational Therapy in Los Angeles, he received his Ph.D. in clinical psychology from the City University of New York, New York, New York and completed a Post-Doctoral Fellowship in Child and Adolescent Psychology (1979-1980) at New York Hospital-Cornell Medical Center as well as at the Memorial Sloan Kettering Cancer Center, Department of Pediatrics, New York, N.Y. He is a Diplomat in Clinical Psychology, American Board of Professional Psychology (June, 1988).</p><p>Jonathan founded and directed the Teachers College Press Social Emotional Learning series, which was published in partnership with the Collaborative for Academic, Social Emotional Learning. He has authored over 85 articles, chapters and books including Educating Minds and Hearts: Social Emotional Learning and the Passage into Adolescence (Teachers College Press and the Association for Supervision and Curriculum Development, 1999); (with B. Cohler) (1999) The Psychoanalytic Study of Lives over Time: Clinical and Research Perspectives on Children Who Return to Treatment as Adults (co-edited with Bert Cohler; Academic Press; 1999) and, Caring Classrooms/Intelligent Schools: Social Emotional Education of young Children (Teachers College Press; 2001). Both of his Teachers College Press books were awarded the 'Best Academic Book' by the American Library Associations Choice in 1999 and 2001 respectively. He is a co-author (with John Devine) of the recently published volume Making your School Safe: Strategies to Protect Children and Promote Learning (Teachers College Press, 2007). And, the co-editor (with Kristie Fink and Sean Slade) of Integrating Prosocial Learning with Education Standards: School Climate Reform Initiatives (Routledge, 2017)</p><p>Dr. Cohen has consulted to scores of schools, districts and State Departments of Education interested in furthering social, emotional, ethical and academic education and positive school climate in America, France, Israel, Japan, Peru, and Switzerland. He often lectures to groups of educators, parents and/or mental health professionals here and abroad. He speaks to educational and parent groups about a range of topics and has presented keynotes at scores of national conferences, State and Federal educational meetings, schools and district professional development forums.</p><p>He is the father of two children and has been married for 36 years.</p></div>
        </div>
        <br>
				<div class="">
          <img  class="team-popup-img img-frame-md" src="/themes/schoolclimate/assets/includes/img/facultyThumb-dhaber.jpg" height="150">
          <h4 class="modal-title"><strong>Deborah Haber</strong></h4>
          <em>Senior Practice Consultant</em>
          <div><p>Deborah Haber, M.Ed., is a Senior Practice Consultant at NSCC. Deb is formerly EDC Vice President and expert educator for 30 years, is a nationally recognized leader in developing and directing national resource, training, and technical assistance programs and centers for state and federal agencies. Her passion is around creating safe and supportive learning environments for children and youth so they may grow into healthy and thriving adults. She has more than 20 years of experience in strategic management aimed at enhancing TA effectiveness and efficiency as well as in and providing assistance to enhance cross-sector collaboration and systems transformation in states and communities. For 11 years, she directed the Substance Abuse and Mental Health Services Administration’s (SAMHSA) National Center for Mental Health Promotion and Youth Violence Prevention, overseeing an annual budget of $6-8 million and leading a team of 40 professionals to support 350 Safe Schools/Healthy Students (SS/HS) school/community grantees and 35 Project LAUNCH state and local grantees. Prior to this, she oversaw the $3.5 million training and TA Center for the Centers for Disease Control and Prevention (CDC), delivering TA to over 50 state education agencies and 18 large, urban districts. As director of EDC’s Center for School and Community Health (CSCH), she provided strategic direction and management for (among others) the Tribal Juvenile Detention and Reentry Training and Technical Assistance Center, the Tribal Youth Program Training and Technical Assistance Center, and the Massachusetts Technical Assistance Partnership for Prevention. She has more than 30 years of experience in education, school and behavioral health, and in delivering services to professionals and practitioners that helps them to better meet the needs of the children, youth and families they serve. She is especially interested in developing readily accessible tools and materials that empower local leaders, professionals, and practitioners to succeed in solving community problems based on research and best practice. She is an expert curriculum developer, trainer, and facilitator. Her decades of experience collaborating with the key stakeholders in the field ensure that her strategic decisions are informed, pragmatic, culturally competent, and embraced by the target audiences. Ms. Haber received her M.Ed. from Boston University and is currently seeking certification in positive psychology.</p></div>
        </div>
        <br>
				<div class="">
          <img  class="team-popup-img img-frame-md" src="/themes/schoolclimate/assets/includes/img/staffThumb-kh.jpg" height="150">
          <h4 class="modal-title"><strong>Kori Hamilton, M. Ed.</strong></h4>
          <em>Senior Policy and Practice Consultant</em>
          <div><p>Kori Hamilton, M. Ed. is a Senior Policy and Practice Consultant at NSCC. She is also a senior education equity specialist at the Mid-Atlantic Equity Consortium. Her primary role is to providing technical assistance and professional development to schools and school districts focused on equity with specialization in cultural proficiency, special education, school culture and climate, harassment prevention, and alternative discipline practice. She works with numerous districts to support their resolution of compliance agreements with the US Department of Education’s Office for Civil Rights, Department of Justice, as well as other state compliance agencies. Ms. Hamilton has combined her knowledge of practice with skillful resource creation and dissemination through publications, website content management, and a full range of social media tools, improving collaborative efforts with partners and national experts to provide universal and targeted technical assistance to families, educators, and practitioners.</p></div>
        </div>
				<br>
				<div class="">
          <img class="team-popup-img img-frame-md" src="/themes/schoolclimate/assets/includes/img/staffThumb-rross.png" height="150">
          <h4 class="modal-title"><strong>Randy Ross</strong></h4>
          <em>Senior Policy and Practice Consultant</em>
          <div><p>Randy Ross, M.S., M.A., is a Senior Policy and Practice Consultant at the National School Climate Center. Her special focus is on projects related to civil rights and equity concerns. As co- leader (with Jessica Savage, Esq.) of the NSCC Policy and Civil Rights Team, she provides technical assistance and professional development services to school districts and state education leaders wishing to address equity issues in their school climate, discipline, and bullying/harassment policies and practices. Randy served for almost nine years as Senior Equity Specialist at the New England Equity Assistance Center at Brown University. Her work focused on implementing an equity-centered school climate model, which includes distinguishing between bullying and discriminatory harassment and culturally responsive social-emotional learning (SEL). She has worked with numerous districts to support their implementation of agreements with the US Department of Education’s Office for Civil Rights. Previously, Randy served under the New Jersey Attorney General in the Office of Bias Crime and Community Relations, where she initiated and led “New Jersey Cares About Bullying,” a statewide, state-sponsored coalition of government and nonprofit stakeholders. She has taught at all levels, from pre-school to graduate students. Randy received her B.A. and M.A. in Anthropology from the University of California at Berkeley and an M.S. in Educational Leadership from the Bank Street College of Education in New York City. She is a member of the National School Climate Council and serves on the Steering Committee of the Social Emotional Learning Alliance of Massachusetts.</p></div>
        </div>

			</div>
			<div class="tab-pane text-style " id="tab8">
				<h2>Case Collection</h2>
				<p> <b>CASE STUDIES</b> have a long history in business, law, medicine, psychology and education.Our case studies serve two purposes: (i) To support reflective learning on the part of the school leader who has worked with others to support a school climate improvement process over the course of at least one year; and, (ii) to support others learning from this experience. </p>
        <p>Over time, we hope and expect that these case studies will shed light on the nature of effective prosocial/school climate improvement efforts. </p>
			</div>

     </div>
		 </div>
		</div>
	</div>
	<br><br>
</div>
