title = "CSCI - National School Climate Center"
url = "/services/csci"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h3 class="mg-md text-center lg-shadow">
					Measuring School Climate (CSCI)
					  <a href="/about/contact-us?p=2" class="btn   btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>
				</h3>
			</div>
		</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
			<div class="tab-pane text-style col-md-12" style="padding:0px 40px;">
				<h2><b>Measuring <span class="orangeTxt">School Climate</span></b></h2>
				<p>Research shows that a positive school climate directly impacts telling indicators for success such as higher student achievement, lower dropout rates, decreased incidences of violence, and increased teacher retention.</p>
				<p>Measuring school climate is a data driven strategy that recognizes the social, emotional and civic as well as intellectual aspects of K-12 student learning. Measuring school climate is also an effective strategy that engages students, parents/guardians, school personnel and community members learning and working together to create safe, supportive, engaging, helpfully challenging and joyful K-12 schools.</p>
				<p>The U.S. Center for Disease Control and Prevention recommends school climate reform as a scientifically sound strategy that promotes healthy relationships, school connectedness and dropout prevention. The Institute of Education Sciences (IES) includes school climate as a strategy for drop out prevention. And, the U.S Department of Education recommends school climate reform as an evidence-based strategy to prevent violence. In fact, the U.S. Department of Education is investing in school climate improvement efforts as a fundamentally important school reform strategy.</p>
				<p>NSCC has taken an international leadership role developing four forms of school climate measurement:</p>
				<h2 class="bar">The Comprehensive School Climate Inventory (CSCI)</h2>
				<div class="indent-block">
						<p>The Comprehensive School Climate Inventory (CSCI) is one of the nation’s most scientifically sound and helpful surveys that provide immediate feedback on how students, parents, and school personnel perceive your school's particular climate for learning. Vetted by the National School Climate Council, three independent reviews of school climate measures, a core group of practice and policy leaders, the CSCI is considered to be one of the top school climate surveys in the field.This social, emotional and civic as well as intellectual information provides a foundation for the
						 <a href="/school-climate/school-climate-improvement-process">five-stage school climate improvement process</a>. <a target="_blank" href="{{'assets/pdf/measuring-school-climate/faqs-csci-december-2014.pdf'|theme}}">Click here</a> to read Frequently Asked Questions for Researchers.</p>
				</div>
				<h2 class="bar">Community Scale and the School-Community Partnership Process</h2>
				<div class="indent-block">
						<p>The Community Scale recognizes the “voice” of community members and leaders with a new <em>Community Scale</em> that can be used with our CSCI or any other school climate assessment and the <em>School-Community Partnership Process</em> that engages students to build helpful partnerships that substantively support school climate and prosocial educational reform efforts.</p>
				</div>
				<h2 class="bar">Assessing Readiness and Process of Improvement</h2>
				<div class="indent-block">
						<p><em>Readiness Assessment:</em> All schools are “ready” to embark on a school climate improvement process. But, all schools &ndash; like all people &ndash; present with an array of strengths and needs. The Readiness Assessment was designed to support Principals and their leadership teams in measuring and understanding current strengths, needs and readiness to embark on the next phase of school climate improvement. The Readiness Assessment is a part of NSCC’s <a href="//scrc.schoolclimate.org/">School Climate Resource Center</a>.</p>
						<p><em>Process or “End of Stage” Assessments:</em>
								<br> School climate improvement is a continuous process of learning and improvement. How we go about learning and working together to create an even safer, more supportive, engaging and flourishing school is as important as outcomes.</p>
						<p>School climate process or “end of stage” assessments that support Principals and their leadership teams reflecting on “How did we do?” during a given stage (e.g. planning, evaluation, action planning, implementation) and “What might we focus on even more right now?” These <em>End of Stage Self assessments</em> will also support Principals and their leadership teams being able to “look back” in one or four years when you are working on this same stage in the next cycle of improvement. Whether the same Principal is leading the school or if you are a new Principal who is continuing the school’s improvement efforts, being able to retrospectively consider what the school did and did not do in a given stage will support your learning from experience! <em>The End of Stage Assessment</em> is a part of NSCC’s <a href="//scrc.schoolclimate.org/">School Climate Resource Center.</a></p>

				</div>
			</div>
	</div>
</div>
