title = "Developments - National School Climate Center"
url = "/services/developments"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h3 class="mg-md text-center lg-shadow">
					Professional Development
					<a href="/about/contact-us" class="btn   btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>
				</h3>
			</div>
		</div>
	</div>
</div>
<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white"  >
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">
          <nav class="nav-sidebar">
      		<ul class="nav-tab-2 nav tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Professional Development</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">Staff Development Workshops</a></li>
                <li class=""><a href="#tab3" data-toggle="tab">FAQ's About Professional Development</a></li>
                <li class=""><a href="#tab4" data-toggle="tab">DASA Training</a></li>
                <li class=""><a href="#tab5" data-toggle="tab">School Climate Improvement Road Map</a></li>
      		</ul>
      	</nav>
      </div>
      <!-- tab content -->
      <div class="tab-content tab-content-1 col-sm-9">
      <div class="tab-pane active text-style " id="tab1">
        <p>NSCC’s <a data-toggle="tab" href="#tab2">On-site Staff Development Workshops</a>, <a href="">Keynotes</a> and <a href="">Institutes</a> support schools, districts, networks of schools and State Departments of Education promoting school climate improvement efforts and social, emotional and civic education.</p>
        <blockquote>
            NSCC has already become one of the nation's leading organizations that synthesize information for parents and educators invested in further children's healthy years...
            <br>
            <span class="quote-author">&mdash;James Comer, M.D. <br>
        <em>Associate Dean and Professor of Child Psychiatry, Yale Medical School</em></span>
       </blockquote>
        NSCC’s Professional Development Offerings are focused on supporting schools achieving the following five goals:
        <ul>
            <li>Developing a shared vision and plan for promoting, enhancing and sustaining a positive school climate.</li>
            <li>Defined practices are identified, supported and prioritized to provide high quality support for and engagement in teaching, learning, and positive youth development, and insuring equity of opportunity.</li>
            <li>The school intentionally promotes the development of social, emotional, civic and intellectual skills and dispositions, and also addresses barriers to learning and teaching.</li>
            <li>People create an environment where school community members are welcomed, supported, and feel safe in school: socially, emotionally, and physically.</li>
            <li>Students and staff develop practices, activities and norms that are meaningful and engaging and that promote social and civic responsibilities and a commitment to social justice.</li>
        </ul>
      </div>
      <div class="tab-pane text-style " id="tab2">
				<h2>Staff Development Workshops</h2>
        <p>
            NSCC offers a variety of professional development programs and services to help K-12 schools, after school settings, educators, parent advocate groups and states to support sustained school improvement and social, emotional and civic learning.</p>
        <p>NSCC faculty are a group of expert educators and school-based mental health professionals ready to design workshops, consultants or conferences for your school or district.</p>
        NSCC is invested in understanding and meeting the needs of your school community. We offer a range of workshops:
        <ul>
            <li>Two to three hour meetings that provide information, awareness, and training in the areas described here.</li>
            <li>Workshop series designed to promote skills and action plans as well as learning about theory, research and best practices.</li>
            <li>Working with networks of schools that decide to work and learn together about school climate improvement efforts and social, emotional and civic learning.</li>
        </ul>
        <p>Recent research on high quality professional development (PD) from the <em>National Staff Development Council</em> has underscored the importance of extended PD that is connected to the real problems and practices that you are experiencing now. NSCC’s PD offerings are aligned with these findings are focused on developing communities of learners and democratic discourse.</p>
        <p>If you want to learn more about <strong>NSCC’s school climate assessment services</strong>, <a href="/services/measuring-school-climate-csci">click here</a>.</p>
        <hr>
        <p ><strong>School Climate Improvement Staff Development Offerings</strong></p>
        <p>School climate improvement is a continuous process. NSCC offers the following workshops and on-site staff development on the following topics. Depending on your needs, these topics can range from a awareness raising sessions, to full or multi day workshops that promote skills as well as awareness raising to year long networks where several schools work and learn together:</p>
        <div class="contentHighlight-A">
            <table>
                <tbody>
                    <tr>
                        <td valign="top"><img class="image-border-noPad" alt="Workshop" src="{{'assets/includes/img/thumb-workshop01.jpg'|theme }}"></td>
                        <td valign="top"> <strong>Measuring and Implementing an Effective Process of School Climate Improvement:</strong>
                            <ul>
                                <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop01A-CreatingAClimate.pdf'|theme }}">Creating a Climate for Learning: A Five-Stage Process for Assessing and Shaping Your School’s Climate</a></li>
                                <li><a href="/services/measuring-school-climate-csci">Measuring School Climate</a></li>
														</ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

				<div class="contentHighlight-A">
				    <table >
				        <tbody>
				            <tr>
				                <td valign="top"><img class="image-border-noPad" alt="Workshop" src="{{'assets/includes/img/thumb-workshop02.jpg'|theme }}"></td>
				                <td valign="top"><strong>Promoting Safe Schools:</strong>
				                    <ul>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop02A-BreakingBully.pdf'|theme }}">Breaking the Bully-Victim-Bystander Cycle: Strategies to Reduce Bullying and Support Caring, Connected and Responsible School Communities</a></li>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop02B-RecognizingAndWorking.pdf'|theme }}">Recognizing and Working With Students Who Have Been Traumatized</a></li>
				                    </ul>
				                </td>
				            </tr>
				        </tbody>
				    </table>
				</div>

				<div class="contentHighlight-A">
				    <table>
				        <tbody>
				            <tr>
				                <td valign="top"><img class="image-border-noPad" alt="Workshop" src="{{'assets/includes/img/thumb-workshop03.jpg'|theme }}"></td>
				                <td valign="top"><strong>Teaching and Learning:</strong>
				                    <ul>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop03A-InfusingSocialEmo.pdf'|theme }}">Infusing Social, Emotional and Civic Learning into Your Curriculum</a></li>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop03B-InfusingSocialEmo.pdf'|theme }}">Infusing Social, Emotional and Civic Learning into Classroom Practice</a></li>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop03C-ClassroomManagement.pdf'|theme }}">Classroom Management and Restorative Justice</a></li>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop03D-BuildingSocial.pdf'|theme }}">Building our Social, Emotional and Civic Competencies: Negotiation and Collaborative Problem Solving for Adults and/or Students</a></li>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop03E-PeerMediation.pdf'|theme }}">Peer Mediation Programs for Students</a></li>
				                    </ul>
				                </td>
				            </tr>
				        </tbody>
				    </table>
				</div>

				<div class="contentHighlight-A">
				    <table>
				        <tbody>
				            <tr>
				                <td valign="top"><img class="image-border-noPad" alt="Workshop" src="{{'assets/includes/img/thumb-workshop04.jpg'|theme }}"></td>
				                <td valign="top"><strong>Promoting Healthy Relationships:</strong>
				                    <ul>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop04A-ReachingEveryChild.pdf'|theme }}">Reaching Every Child: Developing a Middle School Advisory Program</a></li>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop04B-UnderstandingDiversity.pdf'|theme }}">Understanding Diversity and Respect for Differences</a></li>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop04C-PromotingSchool.pdf'|theme }}">Promoting School-Home-Community Partnerships</a></li>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop04D-StressManagement.pdf'|theme }}">Stress Management Seminar</a></li>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop04E-MentalHealthProfessionals.pdf'|theme }}">Educators, Mental Health Professionals and Parents Working and Learning Together: An Essential Partnership that Supports Safe and Truly “Smart” Schools</a></li>
				                        <li><a target="_blank" href="{{'assets/pdf/staff-development/workshop04F-PromotingSchoolConnectedness.pdf'|theme }}">Promoting School Connectedness: The foundation for effective risk prevention efforts and student learning</a></li>
				                    </ul>
				                </td>
				            </tr>
				        </tbody>
				    </table>
				</div>

      </div>

      <div class="tab-pane text-style " id="tab3">

				<h2>FAQ's About Professional Development</h2>
				<div class="contentHighlight-A">
				    <ul>
				        <li><a href="#1"><strong>What is the focus of NSCC's consultation/PD work?</strong></a></li>
				        <li><a href="#2"><strong>What kind of consultation services do you provide?</strong></a></li>
				        <li><a href="#3"><strong>Who actually consults to schools?</strong></a></li>
				        <li><a href="#4"><strong>How does NSCC select its faculty members/consultants?</strong></a></li>
				        <li><a href="#5"><strong>Are there pre-requisites or requirements to take advantage of these offerings?</strong></a></li>
				        <li><a href="#6"><strong>When NSCC consults to a school, is this work confidential?</strong></a></li>
				        <li><a href="#7"><strong>NSCC offers a range of PD offerings? What do you think is most important to begin with?</strong></a></li>
				        <li><a href="#8"><strong>If “one shot” professional development workshops are of limited value, what is a helpful way of structuring this work?</strong></a></li>
				        <li><a href="#9"><strong>How much does it cost to work with NSCC?</strong></a></li>
				        <li><a href="#10"><strong>Does NSCC conduct consultations over the telephone?</strong></a></li>
				        <li><a href="#11"><strong>Is this telephone time free of charge?</strong></a></li>
				        <li><a href="#12"><strong>Can NSCC help with any area that we might choose to focus on?</strong></a></li>
				        <li><a href="#13"><strong>We are using the CSCI. How can NSCC further support our efforts to improve school climate and school improvement initiatives?</strong></a></li>
				    </ul>
				</div>

				<p id="1"><strong>What is the focus of NSCC's consultation/PD work?</strong>
        <br> Our focus is helping schools/districts to measure school climate and use this data to shape social, emotional and civic instruction and school-wide efforts that support student learning, achievement and positive youth development. We do not have any one curriculum or "agenda" with regard to what the focus on work “should” be. Like every person, each school has its own history, strengths, needs and goals. We are invested in understanding this and building on your current and previous efforts and goals.</p>
        <br>
				<p id="2"><strong>What kind of consultation services do you provide?</strong>
				    <br> We offer a wide range of consultation services that can be tailored to your school or organizations specific needs. Our On-site <a href="/">Staff Development Workshops</a> include short ‘awareness raising sessions’ to more extended workshops that are designed to promote skills and action planning to year long “cohort” programs where a group of schools in a district or across districts decide to focus on a given topic (e.g. creating safer and more civil schools) over a year or longer. We also provide keynotes.</p>
				<br>
				<p id="3"><strong>Who actually consults to schools?</strong>
				    <br> We have a number of full time staff as well as a large group of part-time NSCC faculty members. Our consultation work is directed and supervised by Jonathan Cohen, Ph.D. (NSCC's president) who decides which member of our faculty and/or staff will be best suited to address the needs and goals of a particular consultation project.</p>
				<br>
				<p id="4"><strong>How does NSCC select its faculty members/consultants?</strong>
				    <br> NSCC only works with faculty members/consultants whose work we know well. Typically, we spend several months getting to know these professionals before we invite them to join NSCC's consultation staff.</p>
				<br>
				<p id="5"><strong>Are there pre-requisites or requirements to take advantage of these offerings?</strong>
				    <br> No
				</p>
				<br>
				<p id="6"><strong>When NSCC consults to a school, is this work confidential?</strong>
				    <br> Yes. As NSCC is a teaching and learning center, there may be instances where we would request that a school talk about our work together. But, this is always up to the school to do this or not.</p>
				<br>
				<p id="7"><strong>NSCC offers a range of PD offerings? What do you think is most important to begin with?</strong>
				    <br> The answer to this question depends on your past PD work, current goals and future plans. It is clear that "one shot" PD offerings have little impact. Each school - like every person - has their own history, strengths and needs and goals. What is most important is that your PD plans build on past efforts and a current understanding of the school community's strengths, needs and goals.</p>
				<br>
				<strong id="8">If “one shot” professional development workshops are of limited value, what is a helpful way of structuring this work?</strong>
				<br> A growing body of research has revealed that professional development is most helpful when it is:
				<ul>
				    <li>Directly focused on helping to achieve student learning goals, supporting student learning needs and their healthy development.</li>
				    <li>A collaborative endeavor - teachers and administrators work together in planning and implementation.</li>
				    <li>School-based and job-embedded.</li>
				    <li>A long-term commitment.</li>
				    <li>Tied to the district goals.</li>
				</ul>
				<br>
				<p id="9"><strong>How much does it cost to work with NSCC?</strong>
				    <br> Our consulting fees are generally $2000/day or $1100 for a half day. (Travel costs and copying of handouts/resources are additional.) When we work with groups of schools over a period of time, we develop a customized program and fees depend on the plan we create together.</p>
				<br>
				<p id="10"><strong>Does NSCC conduct consultations over the telephone?</strong>
				    <br> Yes. In fact, many schools often spend telephone time with NSCC staff to understand the results and think about ways to use these findings to build community and/or support school climate improvement efforts.</p>
				<br>
				<p id="11"><strong>Is this telephone time free of charge?</strong>
				    <br> Initially, yes. We understand that schools need to understand who we are and whether working together will really serve the needs of your school/district. On the other hand, when telephone contact is an ongoing dimension of our work, there is linked fee to cover the NSCC staff person’s time.</p>
				<br>
				<p id="12"><strong>Can NSCC help with any area that we might choose to focus on?</strong>
				    <br> No. NSCC’s professional development work includes a range of school climate improvement processes and promoting safer schools, more healthy relationships in school and evidence based social, emotional and civic education. But, there are aspects, for example of safety (e.g. gang violence) that we do not have expertise in. And, if gang violence, for example were an area that your school wanted to focus on, we can and will recommend other groups that have expertise in a given area.</p>
				<br>
				<p id="13"><strong>We are using the CSCI. How can NSCC further support our efforts to improve school climate and school improvement initiatives?</strong>
				    <br> In fact, this is a primary focus in our work: Supporting school communities to understand how we can use school climate ( and other forms of) data to shape instructional and /or school wide action planning, to build authentic learning community and to then focus on the areas that the school decides to prioritize on.</p>
				<p>If you have any other questions about NSCC’s professional development offerings, please write to <a href="mailto:info@schoolclimate.org">info@schoolclimate.org</a>.</p>

      </div>

			<div class="tab-pane text-style " id="tab4">

				<h2>DASA Training</h2>
				<p>New York State has passed <strong>The Dignity for All Students Act</strong> (DASA). The <em>Dignity</em> Act supports safe, civil and inclusive schools: An essential foundation for student learning and positive youth development.</p>
				 <p>The <strong>National School Climate Center</strong> (NSCC) and <strong>National Institute for School Safety</strong> (NISS) in collaboration with the <strong>New York State Center for School Safety</strong> (NYSCSS) offers a comprehensive series of face-to-face and web-based professional development to support the work of the Dignity Act Coordinator and the implementation of training for all school staff to meet the requirements of the law. We also offer school climate assessments and legal/educational consultations to support adherence to the Dignity for <em>All Students Act</em>.</p>
				 <ul>
				     <li>Do you want to give staff ready-to-use web-based <strong>learning modules</strong> (supporting both individual study and study groups) for classroom as well as school-wide implementation that can also be used to document compliance with the <em>Dignity Act?</em></li>
				     <li>Do you want on-line <strong>formative assessments</strong> that support leadership teams’ understanding of “where are we now?” and “what are useful next steps to consider?” that will promote an even safer, more respectful and civil school?</li>
				     <li>Do you want <strong>ongoing support</strong>, new reliable material year-round, and a person to call for questions throughout the year, while not having to pay additional fees?</li>
				     <li>Do you want to <strong>measure your school climate</strong> with a valid and reliable tool that will help your school identify key strengths and needs related to the law?</li>
				     <li>Do you want district level legal/educational consultation designed to support your adherence to the <em>Dignity for All Students Act?</em></li>
				 </ul>
				 <p>We understand the <em>Dignity Act</em> is an unfunded mandate, and that resources are limited for travel and training purposes. That’s why we are excited to offer you a rich array of online resources for you to use to meet the Dignity Act training requirements. The <strong>School Climate Resource Center</strong> (SCRC), an interactive web-based learning environment that covers topics such as:</p>
				 <ul>
				     <li><em>An Overview of the Dignity Act</em></li>
				     <li>Best Practices for <em>School Climate Planning and Improvement Efforts: Creating Climates of Safety, Engagement and Learning</em></li>
				     <li><em>Service Learning and Student Leadership to Support the Dignity Act</em> (A 5 session learning module)</li>
				     <li><em>Breaking the Bully-Victim-Bystander Cycle</em> (A 10 session learning module)</li>
				     <li><em>Infusing Social, Emotional and Civic Learning Effectively into Existing Curriculum</em> (A 5 session learning module)</li>
				     <li><em>School-Community Partnership Strategies that Work</em> (A 5 session learning module)</li>
				     <li><em>School Climate for School Board Members</em> (A 3 session learning module)</li>
				     <li>And much more…..</li>
				 </ul>
				 <p>The <a href="//scrc.schoolclimate.org">SCRC</a> gives your school access to an online community of learners throughout the country working on related issues of school climate improvement, such as responding to hate and harassment, and behaviors such as bullying. All online modules also provide a facilitator’s and learner’s guide for use in your school.</p>
				 <p><strong>Face-to-face Professional Development:</strong> The NSCC and NISS are able to provide you with national experts on the topics related to school climate improvement and The Dignity Act. Staff of the NYSCSS served on the Professional Development, State Policy and Curriculum and Instruction committees of the Statewide Dignity Act Task Force. The Executive Director of the NYSCSS served as co-chair of the state committee that developed guidelines for human relations and counseling training for the Dignity Act Coordinator required in each school, and serves as advisor to all related learning modules.</p>
				 <p><strong>The Comprehensive School Climate Inventory</strong> (CSCI), the nationally-recognized survey that provides an in-depth profile of your school’s particular strengths and needs, which:</p>
				 <ul>
				     <li>Provides immediate feedback on parent, student, staff, and even community-member perceptions of your school climate on 12 essential traits including: Safety, Teaching and Learning, Interpersonal Relationships, the Institutional Environment, Leadership, and Professional Relationships</li>
				     <li>Offers a detailed, customized report of each school’s unique findings to support targeted action planning for sustained improvement</li>
				     <li>Includes unlimited access to a secure online portal with guidelines, form letters, best practices, real-time response rates, and a series of action planning worksheets</li>
				 </ul>
				 <p>The <a href="/publications/practice">CSCI</a> is used to set in motion a school community-wide process of understanding specific strengths and needs to further improvement efforts. It has been independently validated as a leading school climate assessment tool, and has been relied upon as an essential tool by thousands of schools and districts nationwide.</p>
				 <strong >Legal/Educational Consultations</strong>
				 <br>
				 <p>NSCC and NISS provide legal/educational consultations in the following areas:</p>
				 <ul>
				     <li>Dignity Act Compliance</li>
				     <li>Bullying vs. Harassment: The Distinctions Between the Two and Why it Matters</li>
				     <li>Policy Development &ndash; Anti-Bullying and School Climate</li>
				     <li>Investigation Training</li>
				     <li>Summary Report with Recommendations</li>
				 </ul>
				 <strong >What Will Participants Receive</strong>
				 <br>
				 <ul>
				     <li>Comprehensive checklists detailing district, state, and federal responsibilities for bullying and harassment</li>
				     <li>Bullying vs. harassment chart</li>
				     <li>Model policies</li>
				     <li>Practical investigative skills and protocols gained through presentations and role-plays based on challenging and realistic scenarios</li>
				 </ul>
				 <p>We are pleased to provide these products to you at a discounted one-time cost for full-year access to the SCRC and a complete CSCI administration. Please contact us for more detail on pricing, and consider aligning these tools with your technology plans for the year. </p>
				 <p>Contact us TODAY for pricing details, and to book face-to-face sessions for your staff. </p>
				 For further information on services and programs contact:
				 <br>
				 <em>National Institute for School Safety</em>
				 <strong>Email:</strong> schoolclimate@nationalinstituteforschoolsafety.com
				 <strong>Call:</strong> 914.401.1605 or 212.707.8799

      </div>

			<div class="tab-pane text-style " id="tab5">
          <h2>School Climate Improvement Road Map</h2>
				  <span class="orangeTxt"><strong>Promoting Democratically informed school communities and the continuous process of school climate improvement</strong></span>
          <br>
					<p>This <strong>Road Map</strong> is a resource designed to support school leadership teams and school community members measure and improve school climate in ways that support student - and adult - learning and the healthy development of K-12 students. School communities can use measuring and working to improve school climate as a data driven strategy that promotes the skills, knowledge and dispositions that provide the foundation for a democratically informed school communities and engaged citizens.</p>
					<p>This <strong>Road Map</strong> is organized around a <a href="/">five stage, continuous process of school climate improvement</a>: (i) preparation and planning; (ii) evaluation; (iii) understanding the evaluation findings, engagement and action planning; (iv) implementing the action plan; and (v) re-evaluation and beginning the cycle anew. Each of these five stages is characterized by a series of tasks and challenges.</p>
					<p>This <strong>Road Map</strong> synthesizes research and best practices from a number of overlapping fields: school reform, character education, social emotional learning, service learning, community schools, risk prevention, and health/mental health promotion. It is organized around a five-stage process of school climate improvement. Each of the five stages is defined by a series of tasks and challenges. The tools and guidelines in this Road Map are designed to help your school's leadership team and members to understand and master each of these tasks and challenges.</p>
					<blockquote>
					    This Road Map is an invaluable tool for building and district leaders. It provides practical suggestions and most importantly, tools (e.g. learning activities and rubrics) that support school teams and citizen leaders who are doing the important work of addressing the tasks to shape and support the school climate improvement process. School climate contributes to the relationships adults and youth have in schools - the better the relationship - the more engaged youth and adults become contributing to higher student achievement and connection to the community. The school climate improvement process recognizes and powerfully supports the social and civic as well as intellectual student learning and whole school improvement efforts. The strong school climate found in the Greendale Schools help make the Greendale School District the highest ranked school district in the Milwaukee metropolitan area since 2007.
					    <div class="quote-author">William H. Hughes, Ph.D., Superintendent of Schools
					        <br>Greendale School District Greendale, WI, 53129</div>
					</blockquote>
					<p>The <strong>Road Map</strong> provides the foundation for our school climate improvement efforts with schools, districts, networks of schools and State Departments of Education. For further information about the Road Map, please contact <a href="mailto: &quot;jonathancohen@csee.net&quot;">Jonathan Cohen</a>
					    <br> (
          <a href="mailto: &quot;jonathancohen@csee.net&quot;">jonathancohen@schoolclimate.org</a>).</p>

      </div>
     </div>
		 </div>
		</div>
	</div>
	<br><br>
</div>
