title = "Educational Consultation - National School Climate Center"
url = "/services/educational-offerings/:pagetitle?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<?php
/* use digitalfox\teams\models\Consultant; */

function onStart()
{
  $this['tab'] = $tab = (isset($_GET['tab']))?$_GET['tab']:'';

	$consultantsArray = [
                        [
                          'name' => 'Philip Brown',
                          'email' => 'pbrown@schoolclimate.org',
                          'post' => 'Senior Practice Consultant',
                          'description' => "<p>Philip Brown, PhD, is a Senior Practice Consultant at NSCC. He is also a Fellow of the Graduate School of Applied and Professional Psychology at Rutgers University where he founded and directed the Center for Social and Character Development. He has been principal investigator on several U.S. Department of Education grants, including research studies on evidence-based practices. Phil has served in student support services related management   positions in the New Jersey Department of Education and the Pennsylvania Department of Health for 25 years, as a school board director, founder and president of the New Jersey Alliance for Social, Emotional and Character Development and is a member of the National School Climate Council. With colleagues from Fordham and Marshall Universities he is co-editor of the Handbook of Prosocial Education (2012).</p>",
                          'image_path' => 'assets/includes/img/staffThumb-pbrown.jpg',
                        ],
                        [
                          'name' => 'Deborah Haber',
                          'email' => 'deborahsuehaber@gmail.com',
                          'post' => 'Senior Practice Consultant',
                          'description' => "<p><strong>Deborah Haber,</strong> M.Ed., is a Senior Practice Consultant at NSCC. Deb is formerly EDC Vice President and expert educator for 30 years, is a nationally recognized leader in developing and directing national resource, training, and technical assistance programs and centers for state and federal agencies. Her passion is around creating safe and supportive learning environments for children and youth so they may grow into healthy and thriving adults. She has more than 20 years of experience in strategic management aimed at enhancing TA effectiveness and efficiency as well as in and providing assistance to enhance cross-sector collaboration and systems transformation in states and communities. For 11 years, she directed the Substance Abuse and Mental Health Services Administration’s (SAMHSA) National Center for Mental Health Promotion and Youth Violence Prevention, overseeing an annual budget of $6-8 million and leading a team of 40 professionals to support 350 Safe Schools/Healthy Students (SS/HS) school/community grantees and 35 Project LAUNCH state and local grantees. Prior to this, she oversaw the $3.5 million training and TA Center for the Centers for Disease Control and Prevention (CDC), delivering TA to over 50 state education agencies and 18 large, urban districts. As director of EDC’s Center for School and Community Health (CSCH), she provided strategic direction and management for (among others) the Tribal Juvenile Detention and Reentry Training and Technical Assistance Center, the Tribal Youth Program Training and Technical Assistance Center, and the Massachusetts Technical Assistance Partnership for Prevention. She has more than 30 years of experience in education, school and behavioral health, and in delivering services to professionals and practitioners that helps them to better meet the needs of the children, youth and families they serve. She is especially interested in developing readily accessible tools and materials that empower local leaders, professionals, and practitioners to succeed in solving community problems based on research and best practice. She is an expert curriculum developer, trainer, and facilitator. Her decades of experience collaborating with the key stakeholders in the field ensure that her strategic decisions are informed, pragmatic, culturally competent, and embraced by the target audiences. Ms. Haber received her M.Ed. from Boston University and is currently seeking certification in positive psychology.</p>",
                          'image_path' => 'assets/includes/img/facultyThumb-dhaber.jpg',
                        ],
                        [
                          'name' => 'Randy Ross',
                          'email' => 'rross@schoolclimate.org',
                          'post' => 'Senior Policy and Practice Consultant',
                          'description' => "<p>Randy Ross, M.S., M.A., is a Senior Policy and Practice Consultant at the National School Climate Center. Her special focus is on projects related to equity concerns, policy development, and coaching for school climate certification. She provides technical assistance and professional development services to school districts and state education leaders wishing to address equity issues in their school climate, discipline, social-emotional learning, community engagement, and bullying/harassment policies and practices. Since 2014, as Educational Consultant with NSCC, Randy has worked on state and local level projects in Minnesota, Illinois, Pennsylvania, and North Carolina. <br> <br>

                          Before becoming a Consultant at NSCC, Randy served for nine years as Senior Equity Specialist at the New England Equity Assistance Center at Brown University. Her work focused on implementing an equity-centered school climate model, which includes bias-based bullying and culturally responsive social-emotional learning (SEL). She worked with state departments of education in New England as well as with numerous districts to support their implementation of agreements with the US Department of Education’s Office for Civil Rights. Previously, Randy served under the New Jersey Attorney General in the Office of Bias Crime and Community Relations, where she initiated and led “New Jersey Cares About Bullying,” a statewide, state-sponsored coalition of government and nonprofit stakeholders. She has taught at all levels, from pre-school to graduate students. Randy received her B.A. and M.A. in Anthropology from the University of California at Berkeley and an M.S. in Educational Leadership from the Bank Street College of Education in New York City. She serves on the Steering Committee of the Social Emotional Learning Alliance of Massachusetts (SEL4MA) and is a member of its SEL Policy and Advocacy Committee.</p>",
                          'image_path' => 'assets/includes/img/staffThumb-rross.png',
                        ],

                        /* [
                          'name' => 'Jessica Savage',
                          'email' => 'jsavage@schoolclimate.org',
                          'post' => 'Senior Policy Consultant',
                          'description' => "<p>Jessica Savage, Esq., M.A., is the Senior Policy Consultant at the NSCC. She is a graduate of the University of Pennsylvania, where she studied psychology and the Biological Basis of Behavior, Georgetown University Law Center, where she received her J.D., and New York University, where she received a Master's degree in Education Policy and Social Justice. While at NYU she completed a thesis on the causes of, and best practices for preventing, peer-to-peer sexual harassment in school. She has worked with a number of child advocacy organizations, including Children’s Rights, Inc. and the Children’s Defense Fund, and practiced employment law at the New York law firm, Liddle & Robinson, L.L.P. for five years.</p>",
                          'image_path' => 'assets/includes/img/staffThumb-jsavage.jpg',
                        ],
                        [
                          'name' => 'Erin Schulte',
                          'email' => '',
                          'post' => 'Consultant',
                          'description' => "<p>Erin Schulte, Ph.D. is a consultant for the National School Climate Center. She earned her bachelor's degree from Marquette University with a double major in Psychology and Spanish Language and Literature. She earned her master's degree in School Counseling from the University of Missouri- Saint Louis. She was a guidance counselor in public high schools in Saint Louis, MO for 6 years. She recently earned her Ph.D. in Educational Psychology with an emphasis in Character Education from The University of Missouri- Saint Louis. She currently works as the Coordinator of Guidance and Character Education for a large public school district in Saint Louis, MO. Her research interests include using yoga and mindfulness to promote mental well-being in students.</p>",
                          'image_path' => 'assets/includes/img/facultyThumb-ErinSchulte.png',
                        ],

                        [
                          'name' => 'Marisa Zalabak',
                          'email' => 'mzalabak@schoolclimate.org',
                          'post' => 'Consultant',
                          'description' => "<p>Marisa Zalabak has worked for more than 3 decades with over 200 schools. She has been a leader in professional development for schools, including supervisory staff at the NYC DOE Office of Safety and Youth Development (OSYD) in Restorative Practices, School Climate, Social-Emotional Learning, Bullying, Inclusion, and Discrimination. As a Staff and Curriculum Developer, Leadership and Instructional Coach, and Researcher, she has recently completed participation in a longitudinal study between Fordham University, University of Virginia, and Morningside Center for Teaching Social Responsibility on the efficacy of coaching models connecting academic standards with pedagogical practices for social emotional learning. Marisa has done extensive work in arts-based social-emotional education and research with organizations including CUNY, Lincoln Center Institute, Non-Traditional Employment for Women (NEW), and Children’s Aid Society. As a community activist she has served as a public school advocate supporting arts-based interventions for learning and suspension prevention, as a speaker for the Anti-Violence Project and. Marisa holds a graduate degree in Educational Psychology from Hunter College and certifications in Mindfulness-Based Stress Reduction and wellness. Marisa loves having flowers around whenever possible and her greatest joy is her daughter who inspires her to learn every day.</p>",
                          'image_path' => 'assets/includes/img/facultyThumb-mzalabak.jpg',
                        ],*/
                        [
                          'name' => 'Kori J Hamilton Biagas',
                          'email' => 'khamilton@schoolclimate.org',
                          'post' => 'Senior Education Consultant',
                          'description' => "<p>Kori Hamilton Biagas has over ten years of experience in instruction, education policy, and technical assistance. Kori has a unique and broad perspective of the interworking of education from the classroom to the national policy level. She has held various roles with national centers focused on supporting students with disabilities and connecting students in rural communities with opportunities in college and career. Her localized work at regional centers addressed educational inequity on the basis of religion, race, gender, national origin, and socioeconomic status; the implications of implicit & explicit bias on school culture and climate; school transformation from a culturally responsive lens; alternatives to exclusionary discipline practices; and using data to interrupt pathways from schools to prisons.</p><p>Ms. Hamilton Biagas is the founder of JustEducators, a consulting firm that provides technical assistance and professional development to schools and school districts nationally. She has worked as a secondary teacher in Los Angeles, a dissemination coordinator, technical assistance provider, and trainer serving Arizona, California, Nevada, Pennsylvania, Maryland, Delaware, Virginia, West Virginia, and Washington, DC. Her experiences have provided her with an understanding of the impact policy can have on outcomes for families, schools, and school districts, particularly for marginalized groups within those communities. Currently, she uses that expertise to provide support to schools, districts, and state education agencies across the country as a trainer, thought partner, and advocate for equity. Kori holds a M.A. in Education from the University of California, Los Angeles, Center X and a B.A. from Georgetown University.</p>",
                          'image_path' => 'assets/includes/img/facultyThumb-KoriJ.jpg',
                        ],

                      ];

/*
	$consultants = Consultant::orderBy('order')->get();

	foreach($consultants as $key => $team){
			$consultantsArray[$key]['name'] = $team->name;
			$consultantsArray[$key]['email'] = $team->email;
			$consultantsArray[$key]['post'] = $team->post;
			$consultantsArray[$key]['description'] = $team->description;
			$consultantsArray[$key]['image_path'] = $team->avatar->getPath();
	}
*/
	$this['our_consultants'] = $consultantsArray;
}
?>
==
{% partial 'about/popup.htm' %}
<div class="bloc bg-banner-educational-offerings tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h3 class="mg-md text-center lg-shadow">
					Educational Services
					<!-- <a href="/about/contact-us" style="margin-top:10px;" class="btn btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a> -->
				</h3>
			</div>
		</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">

          <nav class="nav-sidebar inner-nav">
      		<ul class="nav-tab-2 nav tabs" id="MainMenu">
                <li class="active EdServices educational-offerings" href="tab1"><a href="/services/educational-offerings" data-toggle="tab">Educational Services</a></li>
								<ul class="nav-tab-2 nav tabs" id="SubMenu" style="margin-left:30px !important;">
										<li class="data-to-action" href="tab5"><a href="/services/educational-offerings/data-to-action" class="tab-menu" data-toggle="tab">Data to Action</a></li>
										<li class="teaching-and-learning" href="tab8"><a href="/services/educational-offerings/teaching-and-learning" class="tab-menu" data-toggle="tab">Teaching and Learning</a></li>
										<li class="district-level-school-climate-sel-improvement" href="tab9"><a href="/services/educational-offerings/district-level-school-climate-sel-improvement" class="tab-menu" data-toggle="tab">District-Level School Climate/SEL Improvement</a></li>
										<li class="equity-and-diversity" href="tab10"><a href="/services/educational-offerings/equity-and-diversity" class="tab-menu" data-toggle="tab">Equity and Diversity</a></li>
										<li class="bully-prevention-eyes" href="tab6"><a href="/services/educational-offerings/bully-prevention-eyes" class="tab-menu" data-toggle="tab">Bully Prevention: EYES</a></li>
										<li class="leadership-development" href="tab11"><a href="/services/educational-offerings/leadership-development" class="tab-menu" data-toggle="tab">Leadership Development</a></li>
										<li class="policy-and-school-climate" href="tab7"><a href="/services/educational-offerings/policy-and-school-climate" class="tab-menu" data-toggle="tab">Policy and School Climate</a></li>
                    <li class="youth-engagement" href="tab12"><a href="/services/educational-offerings/youth-engagement" class="tab-menu" data-toggle="tab">Youth Engagement</a></li>
								</ul>
								<li class="faq" href="tab4"><a href="/services/educational-offerings/faq" class="tab-menu" data-toggle="tab">FAQ</a></li>
								<li class="meet-our-consultants" href="tab15"><a href="/services/educational-offerings/meet-our-consultants" class="tab-menu" data-toggle="tab">Meet Our Consultants</a></li>
								<li class="what-others-have-said" href="tab3"><a href="/services/educational-offerings/what-others-have-said" class="tab-menu" data-toggle="tab">What Others Have Said</a></li>

                <li class="btn btn-bright-cerulean pulse-hvr animated" style="max-width:85%; font-weight:bold; padding:0px; margin-left:15px;"><a href="/about/contact-us?p=4" class="contact-us" style="color:#FFF;">Contact Us</a></li>
      		</ul>
      	</nav>
      </div>
      <!-- tab content -->
      <div class="tab-content tab-content-1 col-sm-9">
          <div class="tab-pane active text-style educationTab" id="tab1">
            <h2 style="text-align:center;"><b>Educational Services</b></h2>
            <p>NSCC is a pioneer in the movement that a positive school climate is crucial to preventing dropout and bullying behaviors, promoting school attendance, reducing substance abuse, and supporting social-emotional health. Over the past 20 years, we have supported school, district, and state leaders in translating research into practice. Today, NSCC makes <b>keynote presentations</b> and offers a range of customized <b>consultation, trainings, and technical assistance</b> services that support strategic, data-driven and collaborative approaches to sustainable school climate/SEL improvement efforts.</p>
    				<p>NSCC works with schools, districts, and states to:</p>
    				<ol>
    				<li>Support multi-tiered coaching, trainings, and technical assistance tailored to your needs and strengths.</li>
    				<li>Support multi-year, sustainable school climate/SEL improvement efforts.</li>
    				</ol>

    				<br>
    				<div class="contentHighlight-A col-sm-12">
    					<div class="col-sm-8">
    								<h2 style="text-align:center; font-weight:bold;">Our Approach</h2>

    							<!--     <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p> -->

                    <p>We have aligned our services to evidence-based implementation science findings to increase impact and support sustainability with schools, districts, and states. NSCC emphasizes:</p>
                    <ul>
                    	<li><strong>Assessing needs and strengths to establish goals and inform implementation</strong></li>
                    	<li><strong>Identifying and/or strengthening approaches based on best practices</strong> to maximize impact in prosocial school improvement efforts</li>
                    	<li><strong>Measuring</strong> a continuous process of learning and improvement</li>
                    	<li><strong>Building leadership capacity</strong></li>
                    	<li><strong>Developing staff skills</strong></li>
                    	<li><strong>Engaging students and others in the school community</strong> to be co-learners and co-leaders of the improvement process</li>
                    </ul>

    					</div>
    					<div class="col-sm-4">
    						<script type="text/javascript">
    						gnp_url = 'national-school-climate-center';gnp_num = '1';
    						</script>
    						<script src="https://greatnonprofits.org/js/api/badge_reviews.js" type="text/javascript"></script>
    						<noscript> <a href="http://greatnonprofits.org/org/national-school-climate-center/?badge=1"> <img alt="Review National School Climate Center on Great Nonprofits" title="Review National School Climate Center on Great Nonprofits" src="//cdn.greatnonprofits.org/images/great-nonprofits.gif?id=1479088"> </a></noscript>

    					</div>
    				</div>
    				<div class="contentHighlight-A col-sm-12">

    					<h2 style="text-align:center; font-weight:bold;">Getting Started</h2>
    					<br>
    					<div class="row">
    						<div class="col-sm-4">
                  <h4 align="center"><b>Step 1</b></h4>
    							<img title="Step 1" class="img-responsive  center-block" src="{{'assets/includes/img/scrc-icon.png'|theme }}" style="max-width:40% !important;" />
    							<p>
    								NSCC offers an initial complementary 30-minute consultation to understand the needs of your school or district.
    							</p>
    						</div>
    						<div class="col-sm-4">
                  <h4 align="center"><b>Step 2</b></h4>
    							<img title="Step 2" class="img-responsive  center-block" src="{{'assets/includes/img/sign-up-icon.png'|theme }}" style="max-width:40% !important;"/>
    							<p>
    								NSCC proposes a package and works to ensure our services meet your needs.
    							</p>
    						</div>
    						<div class="col-sm-4">
                  <h4 align="center"><b>Step 3</b></h4>
    							<img title="Step 3" class="img-responsive center-block" src="{{'assets/includes/img/safe-supportive-schools-icon.png'|theme }}" style="max-width:40% !important;"/>
    							<p>
    								Once we come to an agreement, we will pair you with an identified school climate expert
    							</p>
    						</div>
    					</div>
    					<hr>
    					<p>NSCC understands that each school is different. All of our educational services are:</p>
    					<ul>
    						<li>Grounded in an understanding of your goals.</li>
    						<li>Facilitated via face to face and virtual consultations and supported with a rich and growing collection of online resources (through our <a href="//scrc.schoolclimate.org" target="blank">School Climate Resource Center</a>).</li>
    						<li>Grounded in a data-driven approach that integrates various data sets, such as school climate, academic and behavioral data, to support action planning and the school climate improvement process.</li>
    					</ul>

    					<br>
    					<p style="margin-left:20px;" align="center">
    							<!-- <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact us</a> -->
    					</p>

    						<p align="center">
    								To learn more, please contact our <b>Education</b> Department at <a href="mailto:education@schoolclimate">education@schoolclimate.org</a>.
    						</p>

    				</div>
          </div>

    			<div class="tab-pane text-style " id="tab2">
            <h2 style="text-align:center;"><b>Advancing School Climate Policy and Quality Practice:</b></h2>

    				<p>Our Center and the National School Climate Council provides the following services to state departments of education, state agencies, state organizations and state community-based organizations to integrate and sustain quality school climate leading to student achievement and success.</p>
    				<p><strong><u>Technical Assistance</u></strong></p>
    				<ul>
    					<li>Conduct a policy scan to determine existing school climate-related policies as well as policy impediments to implementing a school policy agenda.</li>
    					<li>Consider, adopt and adapt policies that encourage, support and reward quality school climate implementation and sustainability. The policy options are based on school climate standards and focus on resources, quality practice, accountability and responsibility.</li>
    					<li>Assist, host and/or co-host state-level meetings and work groups that bring together critical stakeholders and conducts related work to advance a school climate agenda.</li>
    					<li>Present expert testimony of school climate standards, research, assessments, policies and quality practices.</li>
    				</ul>
    				<p><u><strong>Professional Development</strong></u></p>
    				<ul>
    					<li>Design and implement professional development for policymakers, education leaders and stakeholders at the state, district and school levels.</li>
    					<li>Design and implement professional development at the local level for teachers, administrators, support staff, students, parents and community partners.</li>
    				</ul>
    				<p><u><strong>Advocacy and Networking</strong></u></p>
    				<ul>
    					<li>Assist in the design and implementation of a statewide advocacy campaign to advance a school climate agenda.</li>
    					<li>Connect state agencies with state, regional and national networks to learn and share strategies to successfully implement and sustain a school climate agenda.</li>
    					<li>Assist in development of a communications strategy to inform and influence stakeholders at the national, regional, state and local levels.</li>
    				</ul>
    				<p><u><strong>Assessment</strong></u></p>
    				<ul>
    					<li>Identify and encourage the use of high-quality instruments, protocols, analyses and continuous improvement strategies to measure and improve school climate for student achievement and success.</li>
    				</ul>
    				<p><u><strong>Research</strong></u></p>
    				<ul>
    					<li>Share existing research and assist state agencies to develop a high-quality research agenda to establish the data sets and analyses necessary to successfully integrate and sustain quality school climates for all students&rsquo; success.</li>
    				</ul>
    				<p>For details about our work with State Departments of Education and/or if you are interested in one or more of these services, please contact Jonathan Cohen (<a href="mailto:jonathancohen@schoolclimate.org">jonathancohen@schoolclimate.org</a>) to learn about fees, possible cost sharing and time lines.</p>

    			</div>

          <div class="tab-pane text-style " id="tab3">
            <h2 style="text-align:center;"><b>What Others Have Said</b></h2>

            <div align="center">
                <script type="text/javascript">
                gnp_url = 'national-school-climate-center';gnp_num = '1';
                </script>
                <script src="https://greatnonprofits.org/js/api/badge_stars.js" type="text/javascript"></script>
                <noscript> <a href="https://greatnonprofits.org/org/national-school-climate-center/?badge=1"> <img alt="Review National School Climate Center on Great Nonprofits" title="Review National School Climate Center on Great Nonprofits" src="//cdn.greatnonprofits.org/images/great-nonprofits.gif?id=1479088"> </a></noscript>
            </div>

            <div class="contentHighlight-A">
                "NSCC has become an invaluable resource for my work as a teacher educator working with pre-service and in-service teachers in general elementary education. NSCC is a professional resource of the highest caliber!"
                <br>
                <em>&mdash;Robert Burke, Ph.D.,Associate Professor in Education, Ball State University, Indiana</em>
            </div>
            <div class="contentHighlight-A">
                "NSCC has an outstanding national reputation for distilling empirical research and best practices for effective social and emotional education and violence prevention."
                <br>
                <em>&mdash;Steven Marans, Ph.D. Director, National Center for Children Exposed to Violence, Yale University.</em>
            </div>
            <div class="contentHighlight-A">
                "The National School Climate Center has been one of the sources inspiring the introduction of trails in social and emotional learning in Swedish schools. In this regard, it may well prove to play a leading role, bring people from around the world together."
                <br>
                <em>&mdash;Birgitta Kimber, Teacher and co-principle investigator: Primary prevention of psychological ill-health among children and adolescents through social emotional learning in school project, Department of Behavioral Sciences, Linköping University, Sweden</em>
            </div>
            <div class="contentHighlight-A">
                "The educational insights, resources and networking offered by NSCC are required resources for any religious organization looking for a language, content and methodology for truly effective moral and spiritual education. NSCC continues to plumb the depths of sound theory and practice in social and emotional learning, a dimension often lacking clarity in religious approaches to virtue, character, values, and spirituality education. Here is a one-stop shop for getting savvy about ways to teach the 'heart' as well as the 'head'."
                <br>
                <em>&mdash;Mark Markuly, Ph.D., Director of Religious Education, Catholic Diocese of Belleville in Illinois</em>
            </div>
          </div>

    			<div class="tab-pane text-style " id="tab4">
            <h2 style="text-align:center;"><b>FAQ</b></h2>
    				<div class="contentHighlight-A">
                <p><strong>FAQ's About Consultation Services</strong></p>
                <ul>
                    <li><a href="#faq1" data-target="faq1" class="faq-ques tab-inner-menu">What is the focus of NSCC's consultation work?</a></li>
                    <li><a href="#faq2" data-target="faq2" class="faq-ques tab-inner-menu">What kind of consultation services do you provide?</a></li>
                    <li><a href="#faq3" data-target="faq3" class="faq-ques tab-inner-menu">Who actually consults to schools?</a></li>
                    <li><a href="#faq4" data-target="faq4" class="faq-ques tab-inner-menu">How does NSCC select its faculty members/consultants?</a></li>
                    <li><a href="#faq5" data-target="faq5" class="faq-ques tab-inner-menu">When NSCC consults to a school and district, is this work confidential?</a></li>
                    <li><a href="#faq6" data-target="faq6" class="faq-ques tab-inner-menu">How much does it cost to work with NSCC?</a></li>
                    <li><a href="#faq7" data-target="faq7" class="faq-ques tab-inner-menu">Does NSCC conduct consultations over the telephone?</a></li>
                    <li><a href="#faq8" data-target="faq8" class="faq-ques tab-inner-menu">We are using the CSCI. How can NSCC further support our efforts to improve school climate and school improvement initiatives?</a></li>
                    <!-- <li><a href="#faq9" data-target="faq9" class="faq-ques tab-inner-menu">How can I learn more about NSCC's consulting services for my school or organization?</a></li> -->
                </ul>
            </div>
            <p id="faq1">
                <strong >What is the focus of NSCC's consultation work?</strong>
                <br> NSCC does not have any one curriculum or "agenda" with regard to what the focus on work “should” be. Like every person, each school has its own history, strengths, needs and goals. We are invested in understanding this and building on your current and previous efforts and goals.
            </p>
            <br>
            <p id="faq2">
              <strong >What kind of consultation services do you provide?</strong>
              <br> We offer a wide range of consultation services that can be tailored to your school or organizations specific needs. These include:
              <ul>
                  <li>Leadership or staff coaching, in private or small group sessions</li>
                  <li>Assistance in strategizing the execution of any of the five stages of school climate improvement (planning, evaluation, action planning, implementation, re-evaluation)</li>
                  <li>Developing collaborative networks among school leaders to share best practices on school climate issues</li>
                  <li>Identifying appropriate school climate research resources and materials that specifically address a school's/organization's needs</li>
              </ul>
            </p>
            <br>
            <p id="faq3">
              <strong >Who actually consults to schools?</strong>
              <br>We have a number of full time staff as well as a large group of part-time NSCC faculty members. Our consultation work is directed and supervised by Jonathan Cohen, Ph.D. (NSCC's President) and Serena La Rocque (NSCC's Assistant Director of Education) - who decides which member of our faculty and/or staff will be best suited to address the needs and goals of a particular consultation project.
            </p>
            <br>
            <p id="faq4">
                <strong >How does NSCC select its faculty members/consultants?</strong>
                <br> NSCC only works with faculty members/consultants whose work we know in detail. Typically, we spend several months getting to know these professionals before we invite them to join NSCC's consultation staff.
            </p>
            <br>
            <p id="faq5">
              <strong >When NSCC consults to a school and district, is this work confidential?</strong>
              <br>Yes. As NSCC is a teaching and learning center, there may be instances where we would request that a school and district talk about our work together and/or co-author a paper. But, this is always up to the school's and district to do this or not.
            </p>
            <br>
            <p id="faq6">
                <strong >How much does it cost to work with NSCC?</strong>
                <br>Depending on the service and package, our prices vary. Please contact Serena La Rocque  <a href="mailto:slarocque@schoolclimate.org">slarocque@schoolclimate.org</a> to find out more.
            </p>
            <br>
            <p id="faq7">
                <strong >Does NSCC conduct consultations over the telephone?</strong>
                <br> Yes. In fact, many schools often spend telephone time with NSCC staff to understand the results and think about ways to use these findings to build community and/or support school climate improvement efforts.
            </p>
            <br>
            <p id="faq8">
                <strong >We are using the CSCI. How can NSCC further support our efforts to improve school climate and school improvement initiatives?</strong>
                <br>We encourage you to consider using the CSCI as an indicator of trends in perceptions among students, staff and teachers at your school. Depending on the results of the CSCI, you may want to schedule professional development services for your staff or teachers to facilitate discussion of the survey findings.  Please explore our Educational Services to learn more.
            </p>
            <br>
            <!-- <p id="faq9">
                    <strong >How can I learn more about NSCC's consulting services for my school or organization?</strong>
                    <br> To learn more about NSCC's consultation services please <a href="/about/contact-us">click here</a>.
                </p>
            <br> -->

            <p align="center">
                <!-- <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a> -->
            </p>
    			</div>

    			<div class="tab-pane text-style " id="tab5">

    				<h2 style="text-align:center;"><b>Data to Action</b></h2>

    				<!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p> -->

            <h3><strong><u>Target Audience:</u></strong> School and District Leaders</h3>
            <p>Effective school climate/SEL improvement efforts require a deep understanding of the complex relationship between behavior (adult and student) and academic achievement. NSCC supports school leaders in using integrated data sets to expand their understanding of data related to prosocial behavior and engage in an intentional, data-driven, collaborative improvement process.</p>
            <p>NSCC&rsquo;s acclaimed Comprehensive School Climate Inventory (CSCI) has supported thousands of schools through a data-driven school climate improvement process. We also provide services to schools and districts that utilize other school climate survey  instruments to support them in turning data into actionable school climate improvement steps.</p>
            <p>Our Data to Action services allow school and district leaders to work with an experienced consultant to:</p>
            <ul>
            	<li>Understand how survey administration can <b>advance the engagement</b> of students, school staff, families, and community members.</li>
            	<li><b>Learn about the growing range of prosocial</b> (e.g. school climate and SEL informed)<b> measurement tools.</b></li>
            	<li><b>Identify strengths and areas of growth</b> across the data sets.</li>
            	<li><b>Connect data to other efforts</b> within the school or district.</li>
            	<li><b>Identify and/or strengthen their school improvement efforts based on best practices</b> that maximize their impact in prosocial school improvement efforts to improve school climate.</li>
            	<li><b>Use data to support ongoing re-evaluation strategies</b> (sustainability).</li>
            </ul>
            <br>

    				<p align="center">
    						<!-- <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a> -->
    				</p>

    			</div>

<div class="tab-pane text-style tab-content1" id="tab6">

      <h2 style="text-align:center;"><b>Empowering Youth, Engaging Schools (EYES):</b><br><b><span class="orangeTxt">Facing Bias and Bullying</span></b></h2>

        <div style="float:right; padding: 0px 10px;">
            <img class="img-responsive" src="https://www.schoolclimate.org/themes/schoolclimate/assets/includes/img/Eyes.jpg" width="200" /></p>
        </div>

      <p>The <b>EYES</b> Initiative supports school leaders in effectively addressing bias, bullying, and other hurtful behaviors within their buildings and school communities. </p>

      <p><b>EYES</b> engages and empowers youth and communities to create safer schools by recognizing and reducing bias-based bullying behaviors.</p>
<!--
      <p><b>EYES</b> represents the culmination of a three-year pilot in five Illinois middle schools that led to </p>


      <ul style="list-style-type:circle">
          <li>significant decreases in student perceptions of bullying perpetration and victimization </li>
          <li>meaningful decreases in bullying victimization </li>
          <li>sustained or improved school climate in over the course of the project period</li>
      </ul>
 -->


      <p>Beginning in spring 2018, and in partnership with <b>Facing History and Ourselves</b>, NSCC will implement EYES in five schools. We are looking to scale EYES implementation nationally over the next few years. </p>

      <br>

      <p><b>The EYES initiative directly addresses bias-based bullying by:</b></p>

      <ul>
          <li>Partnering with <b>Facing History and Ourselves</b> to develop and integrate evidence-based curricula for social studies, humanities, and language arts courses</li>
          <li>Targeting adolescents’ academic skills, empathy, tolerance and agency</li>
          <li>Building school improvement supports across all layers of school </li>
      </ul>


      <br>

      <div class="contentHighlight-A">
            <h2><b><span class="orangeTxt">Core Components</span></b></h2>
            <br>
            <p><b>Classroom curriculum and teacher training integration led by Facing History and Ourselves</b>

            </p>

            <div  data-toggle="collapse"  href="#collapseOne"  >
<button type="button" class="btn btn-info"><b>NSCC and Facing History and Ourselves Collective impact </b></button>
             </div>
             <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
             <div class="panel-body">
             <ul>
               <li>A combined network of more than 120,000 teachers around the world.  </li>
               <li>School Climate Results</li>
               <li>Anti- Biased Framework</li>
               <li>A combined 60 year history and track record</li>
             </ul>

          </div>
          </div>
            <p><b>Intensive coaching</b> for building-level school climate leadership team members </p>
            <p><b>Customized professional development</b> tailored to the school needs and strengths</p>
            <p><b>Networks to build PLCs/ NICs</b> to foster deep learning and share best practices within and across schools </p>






            <p><b>Emphasis on youth voice and</b> intergenerational approaches to bully prevention and school climate improvement</p>

              <div  data-toggle="collapse"  href="#collapseTwo"  >
  <button type="button" class="btn btn-info"><b>Bullying is a problem: </b></button>
               </div>
               <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
               <div class="panel-body">


              <ul>
                <li>Nearly 1 in 4 U.S. students have been victims of bullying behavior<sup>i</sup> </li>
                <li>Victims of bullying are more likely to miss school, be suspended, be incarcerated, drop out of school, and/or experience learning problems<sup>ii</sup></li>
                <li>70% of students have witnessed bullying<sup>iii</sup></li>
                <li>Bias-based harassment, which is harassment rooted in race, gender, sexual orientation, religion, or disability, is especially pervasive, with reports of bias-related incidents increasing and the majority of these increases occurring in K-12 schools<sup>iv</sup></li>
                <li>Bias-based bullying victimization is associated with a number of poor outcomes for youth, including serious emotional disorders, behavioral problems, and academic dysfunction.</li>

              </ul>




              <p style="font-size:12px;"><sup>i</sup>National Center for Education Statistics (2015). <i>Student reports of bullying and cyber-bullying: Results from the 2013 School Crime Supplement to the National Crime Victimization Survey. </i>
              Washington, DC: Author.</p>
              <p style="font-size:12px;"><sup>ii</sup>Luxenberg, H., Limber, S., Olweus, D. (2015). Bullying in US Schools: 2014 Status Report. Hazeldon Publishing. Retrieved from: <a href="http://www.violencepreventionworks.org/public/document/bullying_2015_statusreport.pdf">http://www.violencepreventionworks.org/public/document/bullying_2015_statusreport.pdf</a></p>
              <p style="font-size:12px;"><sup>iii</sup>i Bradshaw, C., Sawyer, A., &amp; O'Brennan, L. (2007). Bullying and peer victimization at school: Perceptual differences between students and school staff.
                <i>. School Psychology Review, 36(3),  </i>361-382.</p>
                <p style="font-size:12px;"><sup>iv</sup>Southern Poverty Law Center (2016). <i>Update: 1,094 bias-related incidents in the month following the election. </i> Montgomery, AL: Author. Retrieved from: https://www.splcenter.org/hatewatch/2016/12/16/update-1094-bias-related-incidents-month-following-election
        </p>
      </div>
      </div>


      <div  data-toggle="collapse"  href="#collapseThree"  >
<button type="button" class="btn btn-info"><b>Schools need better resources to effectively address bias-based bullying </b></button>
       </div>
       <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
       <div class="panel-body">


      <ul>
        <li>Although most schools are preparing educators and staff to recognize and respond to bullying, behaviors that are based on bias are often overlooked. Worse still, some students report being victimized not just by their peers but by their teachers as well<sup>v</sup></li>
        <li>Research indicates that adults in the school community often do not view bullying as a serious problem, even though students attending the same schools do <sup>vi</sup></li>
        <li>Most “add-on,” “stand-alone,” and “pre-packaged” anti-bullying programs are largely ineffective at addressing and preventing bullying behaviors in schools</li>

      </ul>




      <p style="font-size:12px;"><sup>v</sup> <a href="http://theconversation.com/why-teachers-are-unable-to-stop-bias-based-bullying-55557">(http://theconversation.com/why-teachers-are-unable-to-stop-bias-based-bullying-55557)</a></p>
      <p style="font-size:12px;"><sup>vi</sup>Cohen, J. (2006). Social, emotional, ethical and academic education: Creating a climate for learning, participation in democracy and well-being. Harvard Educational Review, Vol. 76, No. 2, Summer, pg 201-237. </p>

</div>
</div>



            <p><b>Industry-leading surveys and reporting</b>, including NSCC’s acclaimed Comprehensive School Climate Inventory (CSCI), Community Scale, and a leadership team Readiness Tool</p>
                <p>  <p> <b>Three-year evaluation plan and implementation </b>led by NSCC and Facing History and Ourselves research teams
                    <b style="color: #368DC5;">      <button  class = "asText" id = "doThis">[Show More]</button></b></p>


                  <div id="hiddenDiv">
                    <p><b>Evaluation</b></p>

                    <p>The EYES Initiative includes a three-year evaluation plan led by the research teams at NSCC and Facing History and Ourselves.  This evaluation will seek to understand implementation fidelity and impact.  Indicators of impact will include changes in </p>
                    <ul>
                      <li>bullying and attitudes about bully-victim-witness behaviors, </li>
                      <li>feelings of safety by members of the school community, </li>
                      <li>student engagement, and</li>
                      <li>teacher’s sense of self-efficacy in relation to issues of bias and bullying</li>
                      <p>The results of this evaluation will be made available to participating schools.</p>
                    </ul>



                  </div></p>

          <!-- <div>
            <h4><b>Evaluation</b></h4>
   <p>The EYES Initiative includes a three-year evaluation plan led by the research teams at NSCC and Facing History and Ourselves.  This evaluation will seek to understand implementation fidelity and impact.  Indicators of impact will include changes in </p>
            <ul>
              <li>bullying and attitudes about bully-victim-witness behaviors, </li>
              <li>feelings of safety by members of the school community, </li>
              <li>student engagement, and</li>
              <li>teacher’s sense of self-efficacy in relation to issues of bias and bullying</li>

            </ul>
<p>The results of this evaluation will be made available to participating schools.</p>

          </div> -->
      </div>

      <div class="contentHighlight-A">
            <h2> <b><span class="orangeTxt">Support and Benefits for Participating Schools</span></b></h2>

            <br />

            <p>All schools implementing the EYES Initiative will receive the following supportive services and benefits to facilitate their work: </p>

            <ul>
              <li>Certification through NSCC’s School Climate Leadership Certification program
                <ul style="list-style-type:circle">
                    <li>12+ hours of intensive coaching for up to two staff members per building to support leadership development around bullying prevention and school climate improvement. </li>
                </ul>
              </li>
              <li>Faculty professional development workshops.
                 <ul style="list-style-type:circle">
                   <li>Topics to include social-emotional learning, bullying prevention, youth engagement, understanding bias and developing a reflective classroom. </li>
                </ul>
              </li>
              <li>Through Facing History and Ourselves, teachers will receive instructional materials and training focused on integrating anti-bias and bullying content and strategies into general classroom curricula and daily practices
              </li>
              <li>Three-year, unlimited access to resources in an online learning environment through NSCC’s School Climate Resource Center.
                <ul style="list-style-type:circle">
                  <li>The Resource Center includes learning modules, a resource library, discussion forums and other social networking functionalities, and dashboards to track progress and learning. </li>
                </ul>
              </li>
              <li>Three-year access to industry-leading measurement tools: NSCC’s acclaimed Comprehensive School Climate Inventory (CSCI), a bullying behavior assessment, and a leadership team Readiness Tool. </li>
              <li>Five intensive, full-day trainings for the school leadership teams across the three years and two Youth Summits to both celebrate and foster student leadership.</li>
            </ul>





</div>
      <h5 align="center">The EYES Initiative has been made possible due to the generous support of the Harvey L. Miller Foundation</h5>

      <p align="center"><img class="img-responsive" src="https://www.schoolclimate.org/themes/schoolclimate//assets/includes/img/harvey-miller-1-bk.jpg" width="300" /></p>

      <br>

</div>

    			<div class="tab-pane text-style " id="tab7">

    				<h2 style="text-align:center;"><b>Policy and School Climate</b></h2>

    				<!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p> -->
            <h3><b><u>Target Audience:</u></b> School and District Leaders</h3>

    				<p>Policy shapes practice. NSCC is a national leader in school climate policy. We have helped to write the first district level school climate policy in partisanship with local, Westbrook Connecticut and state leaders. In addition, NSCC has learned and worked with Central Office, School Board and State leaders to review and revise district and state level policies that support safe and supportive classrooms and school as well as helpful disciplinary and bully prevention policy and law.</p>
    				<p>NSCC offers coaching and technical assistance in various packages, from less intensive Technical Assistance involving telephone calls answering general questions on a needed basis, to more intensive coaching in order to assist districts with their policy drafting and implementation process.</p>
    				<p>NSCC offers professional development trainings for educators regarding best practices for preventing discrimination, bullying, and harassment.</p>

    				<div class="contentHighlight-A" style="margin-top:20px;">
    					<p>NSCC offers the following policy consultation services regarding school climate, bullying, and harassment:</p>
    					<ol>
    						<li>Consult with school districts to develop comprehensive school climate policies.</li>
    						<li>Consult with school districts to develop comprehensive bullying/harassment policies.</li>
    						<li>Review of existing state and/or district school climate and/or bullying/harassment policies with analysis and recommendations regarding their alignment with comprehensive school climate policy.</li>
                <li>Consult with schools to help prevent violations of civil rights statutes and eliminate victimization of students and members of the school community, including guidance regarding OCR’s Dear Colleague Letters (DCLs).</li>
    					</ol>
    				</div>

    				<div class="contentHighlight-A" style="margin-top:20px;">
    					<p>NSCC offers professional developments, technical assistance, and coaching to address specific areas of need in your district/state. Possible topics include:</p>
    					<ul>
    						<li>Overcoming challenges to policy implementation;</li>
    						<li>The policy development and implementation process &ndash; how to engage the entire community and facilitate buy-in;</li>
    						<li>How to prevent discriminatory discipline practices through developing school climate policy in your district.</li>
    					</ul>
    				</div>

              <!--                     <p align="center">
                      <a href="/policy/policy-center" class="btn btn-lg btn-primary">Policy Center</a>
                      <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a>
              </p> -->

    			</div>

    			<div class="tab-pane text-style " id="tab8">

  						<h2 style="text-align:center;"> <b> Teaching and Learning</b></h2>
  						<!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p> -->

              <h3><b><u>Target Audience:</u></b>  School Staff Members</h3>

              <p>NSCC offers the following trainings and on-site staff development on the following topics. Depending on your needs, these topics can range from awareness raising sessions, to full or multi day trainings that promote skills as well as awareness.</p>
              <p>To learn more, please click on the links below.</p>

  						<div class="row m-b-lg m-t-md">
  							<div class="col-sm-4">
  								<a href="javascript::void(0)" onclick="showTabContent('#tab16');"><img class="img-responsive center-block" src="{{'assets/images/professional-development-icon-120x120.png'|theme}}" /> </a>

                  <div style="min-height: 70px; margin-top:10px;">
  									<h4 class="mg-md text-center">
  										<a href="javascript::void(0)" onclick="showTabContent('#tab16');" style="color:#2ec1e4;">Classroom Management and Restorative Practices</a>
  									</h4>
  								</div>
  							</div>

  							<div class="col-sm-4">

  								<a href="javascript::void(0)" onclick="showTabContent('#tab17');" ><img class="img-responsive center-block" src="{{'assets/images/measuring-school-climate-icon-120x120.png'|theme}}" /> </a>
  								<div style="min-height: 70px; margin-top:10px;">
  									<h4 class="mg-md text-center">
  										<a href="javascript::void(0)" onclick="showTabContent('#tab17');" style="color:#2ec1e4;">Infusing Social, Emotional and Civic Learning into Classroom Practice</a>
  									</h4>
  								</div>
  							</div>

  							<div class="col-sm-4">
  								<a href="javascript::void(0)" onclick="showTabContent('#tab18');" ><img class="img-responsive center-block" src="{{'assets/images/scrc-icon.png'|theme}}" width="120" /> </a>

  								<div style="min-height: 70px; margin-top:10px;">
  									<h4 class="mg-md text-center" >
  										<a href="javascript::void(0)" onclick="showTabContent('#tab18');" style="color:#2ec1e4;">Peer Mediation Programs for Students</a>
  									</h4>
  								</div>


  						</div>


  						  <p align="center">
  								<!-- <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a> -->
  							</p>
  			  </div>

              <!--             <h2 style="text-align:center; font-weight:bold;">Discrimination (OCR) Compliance: Promote School Climate/SEL Improvement</h2>

                    <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p>

                    <h3> <b> Target Audience:</b>  School and District Leaders</h3>

                    <p>The mission of the Office for Civil Rights is to ensure equal access to education and to promote educational excellence through vigorous enforcement of civil rights in our nation&rsquo;s schools. The Office for Civil Rights enforces several Federal Civil Rights laws that prohibit discrimination in programs or activities that receive federal financial assistance from the U.S. Department of Education. The Department of Justice (DOJ) also has jurisdiction to enforce federal laws that prohibit discrimination in education settings. Additionally, there are state-based agencies with jurisdiction to enforce State Civil Rights laws.</p>
                    <p>NSCC understands has developed a range of tools and techniques to assist schools and districts in meeting compliance requirements, including assessment tools, coaching, professional development, and reporting assistance. This set of educational offerings provides support to schools and school districts working to navigate discrimination compliance agreements.</p>
                    <p>As part of this offering an experienced NSCC consultant will:</p>
                    <ul>
                        <li>Support your school identify and analyze school climate data with an equity lens.</li>
                        <li>Provide support and guidance to schools and/or school districts engaged in a compliance agreement or action plan with OCR or DOJ or other state-based civil rights compliance offices.</li>
                        <li>Consult with schools to review and prioritize the components of the resolution agreement.</li>
                        <li>Support schools in plan development, tool and strategy identification, implementation, and monitoring to meet reporting deadlines.</li>
                        <li>Consult with schools to assist in prevention of civil rights statute violations and eliminate victimization of students and members of the school community, including guidance regarding OCR&rsquo;s Dear Colleague Letters (DCLs)</li>
                    </ul>

                    <p align="center">
                            <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a>
                    </p> -->

    			</div>

    			<div class="tab-pane text-style " id="tab9">

            <h2 style="text-align:center;"><b>District-Level School Climate/SEL Improvement</b></h2>
    				<!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p> -->

            <h3> <b><u> Target Audience:</u></b>  School and District Leaders</h3>

            <p>NSCC&rsquo;s multi-year district-wide school climate improvement model is rooted in extensive school climate, SEL, and implementation science research and harnesses over 20 years of experience.</p>
            <p>NSCC&rsquo;s comprehensive school climate improvement process is embedded with SEL, bully prevention, and diversity inclusion best practices. This process is designed to recognize past efforts of&nbsp;your school community, support current goals, and facilitate sustainable school climate improvement processes.</p>
            <p>NSCC provides:</p>
            <ul>
            	<li><b>Leadership development and capacity building</b> for educators concentrating on school climate improvement implementation and sustainability practices.</li>
            	<li><b>Student and inter-generational leadership development</b> for youth and educators intended to increase student engagement and voice while improving connectivity and collaboration between youth and adults in the school community.</li>
            	<li><b>A school climate/SEL &ldquo;Road Map&rdquo;</b> that provides the details of NSCCs unique process for learning about and improving school climate including tools, guidelines, templates, and other resources needed to work toward school climate improvement.</li>
            	<li><b>Assessment tools</b> including a readiness tool and a comprehensive school climate survey (if needed) to support a community wide and data driven process for learning and creating sustainable school climate improvement.</li>
            	<li><b>District level policy review and recommendations for policy reform</b> including review of district policy related to safe and supportive schools, bully prevention, discipline and other policies related to school climate and SEL efforts. <b>Professional Learning Communities (PLCs) and Network Improvement Communities (NIC) </b>via an online platform to support collaborative adult learning for educators nationwide.</li>
            </ul>

    				<p align="center">
    						<!-- <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a> -->
    				</p>
    			</div>

    	    <div class="tab-pane text-style " id="tab10">
    				<h2 style="text-align:center;"><b> Equity and Diversity</b></h2>
    				<!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p> -->

            <h3> <b><u> Target Audience:</u></b>  School and District Leaders</h3>

            <p>An equitable school community provides its stakeholders with full access to all of the educational, social, emotional, and relational offerings required for achievement and engagement. The intentional construction of equitable school environments results from an adjustment in mindset preceded by the examination of data, engagement in self-reflection, and investigation of systemic barriers. Safety, positive relationships, engaging teaching and learning, and physical, emotional, and mental connectedness should be prioritized in school climate improvement efforts.</p>
            <p>Equity and diversity offerings build the capacity for school and school district leaders to address the complexities of changing demographics within school and community populations. This set of educational offerings provides services support the navigation of an increasingly diverse school and local communities.</p>
            <p>As part of this package, school and district leaders will work with an experienced NSCC consultant to:</p>
            <ul>
            	<li>Identify and analyze school climate data with an equity lens.</li>
            	<li>Provide training on the effects of implicit bias on school climate creation and improvement.</li>
            	<li>Consult on disproportionate exclusionary discipline practice and policy.</li>
            	<li>Identify best practices leading to action plan development and implementation.</li>
            	<li>Review existing state and/or district school climate related policies (bullying/harassment, attendance, discipline, academic placement) and provide recommendations regarding their alignment with comprehensive school climate policy.</li>
            </ul>
            <br>
  			   	<p align="center">
  						<!-- <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a> -->
  					</p>
			    </div>

  				<div class="tab-pane text-style " id="tab11">
  						<h2 style="text-align:center;"> <b> Leadership Development</b></h2>
  						<!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p> -->

              <h3><b><u>Target Audience:</u></b> School and District Leaders</h3>

              <p>Effective and collaborative educational leadership are foundation for effective sustainable school climate/SEL improvement efforts. NSCC has over 20 years of experience in building leadership capacity regardless of an individual&rsquo;s role within the school community. Additionally, NSCC has the expertise and an extensive track record for guiding school and district leaders through the development of professional learning communities that foster the creation of safe, supportive, and engaging climates for learning.</p>
              <p>We support leadership development and capacity building in 3 ways. To learn more, please click on the links below.</p>

  						<div class="row m-b-lg m-t-md">
  							<div class="col-sm-4">
  								<a href="javascript::void(0)" onclick="showTabContent('#tab14');"><img class="img-responsive center-block" src="{{'assets/images/professional-development-icon-120x120.png'|theme}}" /> </a>

                  <div style="min-height: 70px; margin-top:10px;">
  									<h4 class="mg-md text-center">
  										<a href="javascript::void(0)" onclick="showTabContent('#tab14');" style="color:#2ec1e4;"> Build Leadership Using Data</a>
  									</h4>
  								</div>
  							</div>

  							<div class="col-sm-4">

  								<a href="javascript::void(0)" onclick="showTabContent('#tab12');" ><img class="img-responsive center-block" src="{{'assets/images/measuring-school-climate-icon-120x120.png'|theme}}" /> </a>
  								<div style="min-height: 70px; margin-top:10px;">
  									<h4 class="mg-md text-center">
  										<a href="javascript::void(0)" onclick="showTabContent('#tab12');" style="color:#2ec1e4;">Youth Engagement and Intergenerationl Leadership</a>
  									</h4>
  								</div>
  							</div>

  							<div class="col-sm-4">
  								<a href="javascript::void(0)" onclick="showTabContent('#tab13');" ><img class="img-responsive center-block" src="{{'assets/images/scrc-icon.png'|theme}}" width="120" /> </a>

  								<div style="min-height: 70px; margin-top:10px;">
  									<h4 class="mg-md text-center" >
  										<a href="javascript::void(0)" onclick="showTabContent('#tab13');" style="color:#2ec1e4;">School Climate Leadership Certificate</a>
  									</h4>
  								</div>
  							</div>

  						</div>


  						  <p align="center">
  								<!-- <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a> -->
  							</p>
  			  </div>

    			<div class="tab-pane text-style " id="tab12">
    				<h2 style="text-align:center;"><b>Youth Engagement and Intergenerational Leadership</b></h2>
    				<!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p>
    				 -->
            <h3><b><u>Target Audience:</u></b>  School and District Leaders</h3>

            <p>When youth are engaged and supporting intergenerational school improvement efforts, it provides an essential foundation for learning and school climate improvement efforts. NSCC is invested in recognizing and supporting youth voice and intergenerational school improvement efforts. Empowering youth supports their learning and healthy development, and, typically, youth have understandings and ideas that schools leaders and parents need to learn from.</p>
            <p>This package considers developmental principles and transitions that relate to youth engagement and intergenerational leadership. As part of this service, school and district leaders will work with an experienced consultant who will provide support on how to:</p>
            <ul>
            	<li>
            		<p>Understand the fundamentals of developmental transitions and how they impact youth engagement in school</p>
            	</li>
            	<li>
            		<p>Understand what the initiatives/programs are already in place that encourage youth engagement and intergenerational leadership efforts</p>
            	</li>
            	<li>
            		<p>Identify developmentally appropriate ways to support youth leadership/intergenerational initiatives in school in one of the following two ways:</p>
            	</li>
            </ul>
            <p style="padding-left: 40px;">i) Focusing on bully-victim-bystander behavior and the range of ways that youth can support this learning and improvement efforts</p>
            <p style="padding-left: 40px;">ii) Supporting school-community partnerships</p>

    			  	<p align="center">
    						<!-- <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a> -->
    					</p>
          </div>

    			<div class="tab-pane text-style " id="tab13">
    				<h2 style="text-align:center;"><b>School Climate Leadership Certificate</b></h2>
    				<!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p> -->

            <h3><b><u>Target Audience:</u></b> School and District Leaders</h3>

            <p>In 2012 NSCC formalized our leadership development process: The School Climate Leadership Certificate Program. With the collaborative support from the Character Education Partnership, Making Caring Common, Harvard Graduate School of Education, New York State Center for School Safety, the National Dropout Prevention Center and the Center for Citizenship and Character, University of Missouri we developed this 12 to 18 month process of teaching and learning.</p>
            <p>The National School Climate Center&rsquo;s (NSCC) <strong>School Climate Leadership Certificate Program</strong> is an advanced educational credential that complements, but does not replace, a State&rsquo;s teacher/administrator license. It has been designed for education leaders who work in a variety of roles to complete in 12-15 months.</p>
            <p>The certification program is organized around three primary tasks for participants: 1) understanding research and theory on school climate, 2) applying those core concepts by leading a discrete climate improvement project, and 3) demonstrating understanding by completing a reflective case study on those improvement efforts. Through completing the Certification Program, participants will acquire the critical knowledge and develop the essential skills required to lead school climate improvement efforts in creating safe and supportive environments within their own schools, districts, and/or states. This promotes student engagement, equitable learning and life success for students in the participate school.</p>
            <p><em>Objectives</em>:</p>
            <p>(<strong>1</strong>) To support school leaders in understanding and using the theory, research and best practices of school climate improvement.</p>
            <p>(<strong>2</strong>) To contribute to and receive support from a growing network improvement community of emerging and established school leaders to learn best practices from each other and help to advance the field.</p>
            <p>(<strong>3</strong>) To have resources that educators in schools, districts, and State Departments of Education can use to strengthen their school climate efforts, by helping to train, support and recognize certified school climate leaders in their states.</p>

    				<p align="center">
    					<!-- <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a> -->
    				</p>

    			</div>

          <div class="tab-pane text-style " id="tab14">
              <h2 style="text-align:center;"><b>Build Leadership Using Data</b></h2>
              <!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p> -->

              <h3><b><u>Target Audience:</u></b>  School and District Leaders</h3>

              <p>As part of NSCC's growing development of useful school climate tools, the School Leadership Readiness Tool is the first in the field to spark discussions among the building-level leadership around key dimensions that contribute to a successful and sustainable school climate improvement process. School leadership buy-in, engagement, and cooperation are found to be the most predictive of implementing and sustaining intervention efforts.</p>
              <p>As part of this package, leadership teams will work with a NSCC school climate expert:</p>
              <ul>
              	<li>Use the Readiness Tool&rsquo;s findings to support leadership teams develop a clear and common understanding of the dynamics of their group.</li>
              	<li>Apply the findings to start capitalizing on the leadership team&rsquo;s strengths to address specific needs, such as trust and collaboration or integrating school improvement efforts.</li>
              </ul>
              <p>For teams to be successful, this means having strong relationships among leadership members as well as a strategic eye toward the future.</p>

              <p align="center">
              <!-- <a href="/about/contact-us" class="btn btn-lg btn-primary">Contact Us</a> -->
            </p>
          </div>

          <div class="tab-pane text-style " id="tab15">
              <h2 style="text-align:center;"><b>Meet Our Consultants</b></h2>

              <div class="col-sm-12">

                <div class="row voffset-lg team-container">

            			{% for key, team in  our_consultants %}
            				<div class="col-sm-4" style="min-height:290px;" >
            					<img class="center-block model{{key}}" style="cursor:pointer" onclick='put_model_data("{{team.name}}","{{team.email}}","{{team.post}}","{{team.image_path | theme}}", "model{{key}}");' data-desc="{{team.description}}" data-toggle="modal" data-target="#member-dis-model" src="{{team.image_path | theme}}" height="165" />
            					<h3 class="text-center blocs-team-header">
            						{{team.name}}
            					</h3>
            					<p class="blocs-team-sub text-center">
            					{% if team.email %}
            						<a href="mailto:{{team.email}}"><span class="fa fa-envelope-o icon-md " style=" font-size: 14px !important"></span></a>
                      {% endif %}

            						{{team.post}}
            					</p>
            				</div>
            			 {% endfor %}

            		</div>

              </div>
          </div>

          <div class="tab-pane text-style " id="tab16">
    				<h2 style="text-align:center;"><b>Classroom Management and Restorative Practices</b></h2>
    				<!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p>
    				 -->
            <h3><b><u>Target Audience:</u></b> K-12 educators </h3>

            <p>Are you creating a classroom climate for learning? </p>
            <p><b>How can this training help my school? </b></p>

            <p>Restorative classroom discipline practices effectively promote core social, emotional and civic learning. Restorative efforts promote the following processes and learning: </p>
            <ul>
            	<li>
            		<p>Cooperative and supportive community building, culture of mutual respect</p>
            	</li>
            	<li>
            		<p>Focus is on the behavior, not the student as a bad person</p>
            	</li>
            	<li>
            		<p>Restorative measures used as primary intervention with traditional/punitive still available as last resort</p>
            	</li>
            	<li><p>The students see how their actions affect others</p></li>
            	<li><p>Reduces the amount of time spent on disciplinary action because the root of the problem is dealt with</p></li>
            </ul>

            <p>The trainings and follow-up support provides an entry point for faculty to develop a set of shared practices that will reduce student-teacher conflicts, reduce disciplinary referrals, and teach being able to promote social, emotional and civic as well as intellectual learning. </p>

            <p><b>What do I get with this training? </b></p>
            <p>Classroom Management and Restorative Practices begins with a two-day training. It emphasizes clear expectations, a prevention and problem solving orientation, development of more effective “teacher talk,” and concrete strategies that improve individual student motivation, self-discipline, group cooperation, and participation in the classroom. Through interactive experiences, case studies, dialogue and reflection, participants in our two-day training will learn to: </p>

            <ol>

                <li><p>Review the concept of worldview and practice three-part listening. Listening provides the foundation for knowing ourselves, our students and our school community. How we listen to ourselves and others shapes how we teach, our authority, how we define boundaries and responses to conflict, our ability to recognize the needs of students and the social norms that shape learning, teaching and school climate. </p></li>

                <li><p>Develop an enhanced awareness of the advantages and limitations of various model of discipline and the impact of punitive discipline practices on students. </p></li>

                <li><p>Increase our understanding of the concepts of restorative justice and its application to school- wide disciplinary strategies. Sometimes prevention work and restorative justice approaches to misbehavior are not enough. What are our options then? </p></li>

                <li><p>Increase our knowledge of resources for establishing a positive school culture and restorative disciplinary practices. For example, teachers need to balance the needs of individual students and the needs of the group. What do you do to provide the kinds of differentiated support that will help all of your students increase their internal motivation and develop greater personal efficacy? What do you do to maintain positive group cooperation and participation throughout the year? </p></li>

            </ol>

          </div>

          <div class="tab-pane text-style " id="tab17">
    				<h2 style="text-align:center;"><b>Infusing Social, Emotional and Civic Learning into Classroom Practice</b></h2>

            <h3><b><u>Target Audience:</u></b> K-12 educators </h3>

            <p>Are you creating a classroom climate for learning? Do students feel comfortable “not knowing” and being active and engaged learners?</p>
            <p>This training helps classroom teachers understand more deeply how they can use their own behavior, classroom discipline, and a variety of pedagogic strategies to create a classroom climate for learning and positive youth development. </p>

            <p>Participants will learn about:  </p>
            <ul>
            	<li>
            		<p>How your behavior can support social, emotional and civic learning</p>
            	</li>
            	<li>
            		<p>How establishing norms can promote students feeling safe and engaged</p>
            	</li>
            	<li>
            		<p>Classroom management strategies that promote safe and engaged class behavior and learning</p>
            	</li>
            	<li><p>Pedagogic strategies (e.g. moral dilemma discussions; cooperative learning; conflict resolution/mediation) that further social, emotional and civic learning.</p></li>

            </ul>

            <p>Educators will be provided with resources and tools that support this work.</p>
            <p>To learn more, please contact our <b>Education</b> Department at education@schoolclimate.org. 		</p>

          </div>

          <div class="tab-pane text-style " id="tab18">
    				<h2 style="text-align:center;"><b>Peer Mediation Programs for Students </b></h2>
    				<!-- <p align="center"><img class="img-responsive" src="{{'assets/includes/img/roadmap_content_left_img.png'|theme }}" width="200" /></p>
    				 -->
            <h3><b><u>Target Audience:</u></b> K-12 students and teachers </h3>

            <p>Life involves a series of decisions and conflicts. Is your classroom and school a place where students learn to face the tests of life rather than being a life of tests? </p>
            <p><b>Why is building negotiation and collaborative problem solving for students important? </b></p>

            <p>Life and learning is a process of negotiation and collaboration. The skills and dispositions that support students being able to pay attention to “What do I need now?” “What are my goals and how can I work with others to achieve these goals in the best way?” “How can work and learn with others?” shape our lives. Learning is always powerfully shaped by an ongoing process of negotiation and collaborative problem solving.  </p>

            <p>This training is focused on students and the development of peer mediation programs. Peer mediation is a powerful and effective youth leadership model. Peer mediation programs support students to help other students to resolve their differences and conflicts in flexible and non-violent ways. Peer mediation supports students utilizing conflict resolution practices and social, emotional, and civic skills/dispositions to play a leadership role in increasing peace and reducing violence in their school. </p>

            <p><b>How can this training help my school? </b></p>

            <p>Kids helping kids fosters caring, responsible and supportive learning environment. Peer mediation programs promote social, emotional and civic learning. Relationships are the foundation for learning and teaching. When schools recognize the profound importance of relationships and how we negotiate and solve problems in helpful (or inadvertently, unhelpful) ways, we are supporting the mission of schools: learning, teaching, and developing the skills and dispositions that support lifelong learning and effective citizenry. </p>

            <p><b>What do I get with the Peer mediation training? </b></p>
            <p>This training supports positive school climate and other forms of school reform. When schools focus on teaching students negotiation and collaborative problem solving skills and develop peer mediation programs, you will receive field-tested materials and experienced consultants who guide you through the stages of setting up a successful program. </p>

            <p>We train a carefully selected group of students along with adult peer mediation coaches and a program coordinator. After three days of training for this group, your school will be ready to have students begin mediating disputes among their peers. The students will learn a model that helps them provide a structure for students who are in conflict to tell their stories, listen to each other, brainstorm solutions, and negotiate an agreement that will work for them. The peer mediators will learn listening, empathy, questioning, intergroup relations, and problem-solving skills. In addition to this training, the peer mediation coaches will receive coaching in how to implement peer mediation programs, promote the program school-wide, and help improve peer mediators’ skills. Your peer mediation coaches will then be able to sustain the program and train new peer mediators in future years. </p>

            <p><b>With the Peer Mediation program you will receive:</b></p>
            <ul>
            	<li>
            		<p>An introductory meeting with our consultant and a committee of your administrators, teachers, and parents to customize the Peer Mediation program to fit your school’s schedules, cultural composition, most pressing needs, and constraints. </p>
            	</li>
            	<li>
            		<p>One day of training for five to seven adult peer mediation coaches followed by three days of training for a core group of 18-22 students and the adult coaches to help all involved become proficient in the skills they need and the process they’ll be using to help students resolve conflicts. </p>
            	</li>
            	<li>
            		<p>An introductory presentation for school staff to familiarize them with the peer mediation approach and encourage them to refer students to the program.</p>
            	</li>
            	<li><p>One day of on-site follow-up consultation later in the year, which includes a meeting with administrators and additional training for staff and students, and ongoing consultation to help you make implementation decisions, integrate the program with other school initiatives, and resolve program dilemmas. </p></li>
            	<li><p>Periodic phone and email contact between our consultant and a designated “point person” in the school(s) will be an intermittent but ongoing part of the process. This will allow our consultants to understand successes and challenges and be helpful – from afar – in any and all ways that they can. </p></li>

            	<li><p>Peer mediation implementation guides for the core staff working with the peer mediators and a notebook of materials and forms for peer mediators. </p></li>
            </ul>

            <p>To learn more, please contact our <b>Education</b> Department at education@schoolclimate.org. </p>
          </div>

          <div class="tab-pane text-style " id="tab19">
    				<h2 style="text-align:center;"><b>Bullying is a problem</b></h2>

            <ul>
            	<li>Nearly 1 in 4 U.S. students have been victims of bullying behavior.</li>
            	<li>Victims of bullying are more likely to miss school, be suspended, be incarcerated, drop out of school, and/or experience learning problems</li>
            	<li>70% of students have witnessed bullying</li>
            	<li>Bias-based harassment, which is harassment rooted in race, gender, sexual orientation, religion, or disability, is especially pervasive, with reports of bias-related incidents increasing and the majority of these increases occurring in K-12 schools</li>
            	<li>Bias-based bullying victimization is associated with a number of poor outcomes for youth, including serious emotional disorders, behavioral problems, and academic dysfunction.</li>
            </ul>
          </div>

          <div class="tab-pane text-style " id="tab20">
    				<h2 style="text-align:center;"><b>Schools need better resources to effectively address bias-based bullying</b></h2>
            <ul>
            	<li>Although most schools are preparing educators and staff to recognize and respond to bullying, behaviors that are based on bias are often overlooked. Worse still, some students report being victimized not just by their peers but by their teachers as well</li>
            	<li>Research indicates that adults in the school community often do not view bullying as a serious problem, even though students attending the same schools do</li>
            	<li>Most &ldquo;add-on,&rdquo; &ldquo;stand-alone,&rdquo; and &ldquo;pre-packaged&rdquo; anti-bullying programs are largely ineffective at addressing and preventing bullying behaviors in schools</li>
            </ul>
          </div>

          <div class="tab-pane text-style " id="tab21">
    				<h2 style="text-align:center;"><b>Evaluation</b></h2>
            <p>The EYES Initiative includes a three-year evaluation plan led by the research teams at NSCC and Facing History and Ourselves. This evaluation will seek to understand implementation fidelity and impact. Indicators of impact will include changes in</p>
            <ul>
            	<li>bullying and attitudes about bully-victim-witness behaviors,</li>
            	<li>feelings of safety by members of the school community,</li>
            	<li>student engagement, and</li>
            	<li>teacher&rsquo;s sense of self-efficacy in relation to issues of bias and bullying</li>
            </ul>
          </div>


        </div>
      </div>
		</div>
	</div>
</div>
</div>

{% put scripts %}
<script>

$(document).ready(function(){
  var url = window.location.href;
  url = url.replace(/^.*\/\/[^\/]+/, '');
  $('#MainMenu li').not("#SubMenu li").removeClass('active');
  $('.tab-pane').hide();

  $('#MainMenu li').not("#SubMenu li").each( function(k, v){
    if($(this).find('a').attr("href") == url){
         tab = $(this).attr('href');
         $(this).addClass("active");
         $('#'+ tab).show();
    }
  });

  $('#SubMenu li').each( function(k, v){
    if($(this).find('a').attr("href") == url){
        $('.EdServices').addClass('active');
         tab = $(this).attr('href');
         $(this).addClass("active");
         $('#'+ tab).show();
    }
  });

});

 $(function(){

	 $('#MainMenu li').not("#SubMenu li").click(function(){
 	 		$("#SubMenu li").removeClass('active');
			$('.tab-pane').hide();
			// var activeTab = $(this).children('a').attr('href');
      var activeUrl = $(this).children('a').attr('href');
      var activeTab = '#'+$(this).attr('href');
      window.history.pushState("object or string", "Title", activeUrl);

			$(activeTab).show();
      divScrollTop(activeTab);
	 });

	 $("#SubMenu li").click(function(){
		 	$('#MainMenu li').not("#SubMenu li").removeClass('active');
			$('.EdServices').addClass('active');
			$('.tab-pane').hide();
			// var activeTab = $(this).children('a').attr('href');
      var activeUrl = $(this).children('a').attr('href');
      var activeTab = '#'+$(this).attr('href');

      window.history.pushState("object or string", "Title", activeUrl);
			$(activeTab).show();
      divScrollTop(activeTab);
	 });

   $('.faq-ques').click(function(){
 			var target = $(this).data('target');
 			var top = $('#'+target).offset().top - 90;

       $('html, body').animate({
           scrollTop:top
       }, 500);
 	});

   $('.tab-menu').click(function(){

    //  $('html, body').animate({
    //       scrollTop: 225
    //  }, 800);
    //  window.scrollTo(0, 200);
   });

   $('.tab-inner-menu').click(function(){

        var div = $(this).data('href');
        var offset = $(div).offset();
        var posY = offset.top - $(window).scrollTop();
        window.scrollTo(0, posY + 100);

   });

 });


 function showTabContent(activeTab)
 {
    $('.tab-pane').hide();
    $(activeTab).show();
 }

 function put_model_data(name,email,post,image_path, modelClass){
    var disc = $('.'+modelClass).attr('data-desc');
     $('#team-img').attr('src',image_path);
     $('#team-name').html('<strong>'+name+'</strong>');
     $('#team-pos').html(post);
     $('#team-disc').html(disc);

 }
</script>

<script>
var toggle = false;
$('#hiddenDiv').hide();
$('#doThis').click(function() {
  if(toggle===false) {
      $('#hiddenDiv').show();
      toggle = true;
  }
  else {
      $('#hiddenDiv').hide();
      toggle = false;
  }
});
</script>






<script>


$(function(){
   $(".asText").click(function () {
      $(this).text(function(i, text){
          return text === "[Show More]" ? "[Show Less]" : "[Show More]";
      })
   });
})


</script>

<script>

$(function () {
    // $(".tab-content1").hide().first().show();
    // $(".inner-nav li:first").addClass("active");

    $(".inner-nav a").not('.contact-us').on('click', function (e) {
        e.preventDefault();
        $(this).closest('li').addClass("active").siblings().removeClass("active");
        // $($(this).attr('href')).show().siblings('.tab-content1').hide();
    });

    var hash = $.trim( window.location.hash );

    if (hash) $('.inner-nav a[href$="'+hash+'"]').trigger('click');

});


</script>

{% endput %}
