title = "Higher Education - National School Climate Center"
url = "/services/higher-education"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h3 class="mg-md text-center lg-shadow">
						Higher Education
					<a href="/about/contact-us" class="btn   btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>
				</h3>
			</div>
		</div>
	</div>
</div>

<!-- bloc-49 -->
<div class="bloc bgc-platinum l-bloc bg-gray" id="bloc-49">
	<div class="container bloc-md container-bg-white">
		<div class="row">
				<div class="col-sm-12">
				<div class="col-sm-6">
					<img class="img-responsive" src="{{'assets/includes/img/Higher-Education.jpg'|theme }}">
				</div>
				<div class="col-sm-6 f-s-17">
					<p>NSCC is invested in supporting professors who want to learn about research-based developments in social emotional education, character education, risk prevention, health promotion and mental health-educational work in K-12 schools.</p>
					<p>Professors and higher education programs in education and school-based mental health shape generations of school practitioners. In recent years, education and school-based mental health professors have become increasingly interested in social emotional learning, character education, risk prevention and health promotion.</p>
					<p><a href="{{'assets/pdf/higher-education/nscc_cuny.pdf'|theme }}">The NSCC-CUNY Program</a></p>
					<p>If you want more information, please write to <a href="mailto:jonathancohen@schoolclimate.org">jonathancohen@schoolclimate.org</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-49 END -->
