title = "Measuring School Climate (CSCI) - National School Climate Center"
url = "/services/measuring-school-climate"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-37 -->
<div class="bloc bg-taking-a-survey bgc-white tc-white-2 header-banner" id="bloc-37">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
					<h3 class="mg-md ">
						Interested in using the CSCI?
					</h3>
					<p>
						Whether you just have questions or want to get started using the Comprehensive School Climate Inventory (CSCI) get in touch with us. <br><br>
					</p>
				</div>
				<a href="/about/contact-us?p=2" class="btn   btn-lg btn-bright-cerulean">Contact us</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-37 END -->

<!-- bloc-38 -->
<div class="bloc bgc-white l-bloc" id="bloc-38">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
          <p><em>The Comprehensive School Climate Inventory (CSCI)</em> is a nationally-recognized school climate survey that provides an in-depth profile of your school community’s particular strengths and needs. With the <em>CSCI</em>, you can quickly and accurately assess student, parent, and school personnel perceptions, and get the detailed information you need to make <em>informed decisions</em> for lasting improvement.</p>
          <p>The <em>CSCI</em> school climate survey is an empirically validated tool that has been used by thousands of educators, students, and parents nationwide. To learn more about the research and design of the <em>CSCI</em>, <a href="/research">click here.</a></p>
          <p><a href="/services/csci-case-studies">Read our case studies</a> to learn about how school’s have used the <em>CSCI</em> in their communities.</p>
          <br>
          <blockquote>
            <p>
               We selected the CSCI because it really fit our need to get a whole‐school profile &#8212; some staff members said it seemed specifically written for our school.<br>&#8212;Milena Garganigo Assistant Principal, Wydown Middle School
            </p>
          </blockquote>
			</div>
		</div>
	</div>
</div>
<!-- bloc-38 END -->


<!-- bloc-39 -->
<div class="bloc bgc-white l-bloc" id="bloc-39">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
					<div class="col-sm-3 services-images">
	         	<img  height="100" width="100" class="img-responsive" src="{{'assets/images/measuring-school-climate-icon-120x120.png'|theme}}" />
					</div>
					<div class="col-sm-9">
					  <h3>What the CSCI Measures</h3>
            <p>The <em>CSCI</em> measures twelve essential dimensions of a healthy school climate in four broad categories: safety, teaching and learning, interpersonal relationships, and the institutional environment as well as two distinct dimensions for personnel only.<a target="_blank" href="{{'assets/pdf/measuring-school-climate-csci/CSCIDimensionChart-2017.pdf'|theme}}">View the full list</a> of dimensions measured by the <em>CSCI</em>.</p>
          </div>

					{#<a target="_blank" href="{{'assets/pdf/csci/CSCI_Dimension_Chart-2017.pdf'|theme}}">View the full list</a>#}

					<div class="col-sm-3 services-images">
	         	<img  height="100" width="100" class="img-responsive" src="{{'assets/images/download-icon-120x120.png'|theme}}" />
					</div>

					<div class="col-sm-9">
						<h3 >Download Sample Surveys</h3>
            <p>To get a clearer understanding of the <em>CSCI</em>, take a look at sample surveys below:</p>
            <p><a target="_blank"  href="{{'assets/pdf/csci/CSCIv4.2_sample-Personnel.pdf'|theme}}">School Personnel Survey »</a></p>
            <p><a target="_blank"  href="{{'assets/pdf/csci/CSCIv4.2_sample-Parent.pdf'|theme}}">Parent Survey »</a></p>
            <p><a target="_blank"  href="{{'assets/pdf/csci/CSCIv4.2_sample-StudentES.pdf'|theme}}">Elementary School Student Survey »</a></p>
            <p><a target="_blank"  href="{{'assets/pdf/csci/CSCIv4.2_Student-MS-HS.pdf'|theme}}">Middle/High School Student Survey »</a></p>
          </div>

			 </div>
			<div class="col-sm-6">
				<div class="col-sm-3 services-images">
					<img  height="100" width="100" class="img-responsive" src="{{'assets/images/reports-icon-120x120.png'|theme}}" />
				</div>
				<div class="col-sm-9">
					<h3>CSCI School Report</h3>
          <p>Your school’s findings are presented in a customized report that provides concrete data, easy-to-read graphs and presentation tools to aid in the creation of targeted action plans for sustained and measurable school-wide improvement. This report presents a detailed whole-school profile of core strengths and potential areas of need, based on the twelve dimensions.
        </div>

				<div class="col-sm-3 services-images">
					<img  height="100" width="100" class="img-responsive" src="{{'assets/images/csci-portal-icon-120x120.png'|theme}}" />
				</div>
				<div class="col-sm-9">
					<h3>The School Climate Portal</h3>
          <p>Every school has access to a secure, online portal that includes step-by-step guidelines for administration, form letters to aid in outreach, real time response rates, best practices from the field, and detailed worksheets for focused prioritizing and action planning based on results. See a sample of <a target="_blank" href="{{'assets/pdf/csci/Key-Portal-Features.pdf'|theme}}">key portal features</a>.</p>
        </div>
			</div>
		</div>
	</div>
	<br>
	<center>
		<a href="/about/contact-us?p=2" style="visibility: visible;" class="btn   btn-lg pulse-hvr btn-bright-cerulean animated"> Interested? </a>
	</center>
</div>
<br><br><br><br>
<!-- bloc-39 END -->
