title = "Measuring School Climate (CSCI) - National School Climate Center"
url = "/services/measuring-school-climate-csci/:pagetitle?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h3 class="mg-md text-center lg-shadow">
					Measuring School Climate (CSCI) {{ pagetitle }}
					  {#<a href="/about/contact-us?p=2" class="btn   btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>#}
				</h3>
			</div>
		</div>
	</div>
</div>


<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">
          <nav class="nav-sidebar">
      		<ul class="nav-tab-2 nav tabs" id="MainMenu">
                <li class="" id="mm1"><a href="#tab1" data-url="/services/measuring-school-climate-csci" data-toggle="tab">Measuring School Climate (CSCI)</a></li>
                <li class="" id="mm2"><a href="#tab2" data-url="/services/measuring-school-climate-csci/csci-school-report" data-toggle="tab">CSCI School Report</a></li>
                <li class="" id="mm3"><a href="#tab3" data-url="/services/measuring-school-climate-csci/faq-about-the-csci" data-toggle="tab">FAQ's about the CSCI</a></li>
                <li class="" id="mm4"><a href="#tab4" data-url="/services/measuring-school-climate-csci/purchasing-the-csci" data-toggle="tab">Purchasing the CSCI</a></li>
								<li class="btn btn-bright-cerulean pulse-hvr animated" style="max-width:85%; font-weight:bold; padding:0px; margin-left:15px;"><a href="/about/contact-us?p=2" class="" style="color:#FFF;">Contact Us</a></li>
      		</ul>
      	</nav>
      </div>
      <!-- tab content -->
      <div class="tab-content tab-content-1 col-sm-9">
        <div class="tab-pane text-style " id="tab1">
          <h2>Measuring School Climate (CSCI)</h2>
          <p><strong>The <i>Comprehensive School Climate Inventory</i> (CSCI)</strong> is a nationally-recognized school climate survey that provides an in-depth profile of your school community’s particular strengths, as well as areas for improvement. With the CSCI, you can quickly and accurately assess student, parent/ guardian, and school personnel perceptions in order to get the data that you need to make <em>informed decisions</em> for lasting improvement.</p>
          <p>The CSCI school climate survey is an empirically validated tool that has been used by thousands of educators, students, and parents/ guardians nationwide. To  learn more  about the research and design of the CSCI, <a href="/services/csci">click here</a></p>
          <p>Find out more about the CSCI below or download the <a target="_blank" href="{{'assets/pdf/measuring-school-climate-csci/Features_and_Benefits_of_the_CSCI.pdf'|theme}}">CSCI Features and Benefits</a> for easy reference.</p>
          <blockquote>
              We selected the CSCI because it really fit our need to get a whole‐school profile &mdash; some staff members said it seemed specifically written for our school.
              <br>
              <div class="quote-author">&mdash; Milena Garganigo,
                   Assistant Principal, Wydown Middle School (CSCI 2008)</div>
          </blockquote>
          <div class="contentHighlight-A">
              <p><strong class="orangeTxt largeTxt">What the CSCI Measures</strong></p>
              <table >
                  <tbody>
                      <tr>
                          <td valign="top">
                              <img class="image-border-noPad" src="{{'assets/includes/img/thumb-csciMeasures.jpg'|theme}}">
                          </td>
                          <td valign="top">
                              <p> The CSCI measures thirteen essential dimensions of a healthy school climate in five broad categories: Safety, Teaching and Learning, Interpersonal Relationships, Social Media, Institutional Environment, as well as two distinct dimensions for personnel only. <a target="_blank" href="{{'assets/pdf/measuring-school-climate-csci/CSCIDimensionChart-2017.pdf'|theme}}">View the full list</a> of dimensions measured by the CSCI.</p>
                              <p><a href="#tab4" data-toggle="tab" class="active-menu" data-menu-id="mm4">View Basic Package Supports</a></p>
                              <p><strong>Download Sample Surveys</strong>
                                  <br>
                                  <a target="_blank" href="{{'assets/pdf/measuring-school-climate-csci/CSCIv4.2_sample-Personnel.pdf'|theme}}">School Personnel Survey »</a>
                                  <br>
                                  <a target="_blank" href="{{'assets/pdf/measuring-school-climate-csci/CSCIv4.2_sample-Parent.pdf'|theme}}">Parent Survey »</a>
                                  <br>
                                  <a target="_blank" href="{{'assets/pdf/measuring-school-climate-csci/CSCIv4.2_sample-StudentES.pdf'|theme}}">Elementary School Student Survey »</a>
                                  <br>
                                  <a target="_blank" href="{{'assets/pdf/measuring-school-climate-csci/CSCIv4.2_Student-MS-HS.pdf'|theme}}">Middle/High School Student Survey »</a></p>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div  class="contentHighlight-A">
              <p><strong class="orangeTxt largeTxt">The School Climate Portal</strong></p>
              <table >
                <tbody>
                  <tr>
                    <td valign="top">
                      <img  class="image-border-noPad" src="{{'assets/includes/img/thumb-portal.jpg'|theme}}">
                    </td>
                    <td valign="top">
                      Every school has access to a secure, online portal that includes step-by-step guidelines for administration, form letters to aid in outreach, real-time response rates, best practices from the field, and detailed worksheets for focused prioritizing and action planning based on results. See a sample of <a target="_blank" href="{{'assets/pdf/measuring-school-climate-csci/dimensions_chart_pagebars.pdf'|theme}}CSCIPortal.pdf">key portal features</a>.
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="contentHighlight-A">
              <p><strong class="orangeTxt largeTxt">CSCI School Report</strong></p>
              <table >
                  <tbody>
                      <tr>
                          <td valign="top">
                             <!--  <a href="#tab2" data-toggle="tab" ><img class="image-border-noPad" src="{{'assets/includes/img/thumb-report.jpg'|theme}}"></a> -->
                              <img class="image-border-noPad" src="{{'assets/includes/img/thumb-report.jpg'|theme}}">
                          </td>
                          <td valign="top">
                              Your school's findings are presented in a robust report that provides concrete data, easy-to-read graphs, and presentation tools to aid in the creation of targeted action plans for sustained and measurable school-wide improvement. This report presents a detailed whole-school profile of core strengths and areas for improvement based on the thirteen dimensions. <a href="#tab2" data-toggle="tab" class="active-menu" data-menu-id="mm2">View sample sections</a> of the full report.</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="contentHighlight-A">
              <p><strong class="orangeTxt largeTxt">The Five Stage Improvement Process</strong></p>
              <table >
                  <tbody>
                      <tr>
                          <td valign="top">

                     <!-- <a href=""><img class="image-border-noPad" src="{{'assets/includes/img/our_approach_right_img.png'|theme}}"></a> -->
                     <img class="image-border-noPad" src="{{'assets/includes/img/our_approach_right_img.png'|theme}}">
                          </td>
                          <td valign="top">
                              NSCC provides a full range of support materials and on-staff guidance to schools as they work through the process to ensure success. <a href="/about/our-approach">Learn more</a> about NSCC's five stage improvement process.</td>
                      </tr>
                  </tbody>
              </table>
          </div>

          <div class="contentHighlight-A">
              <p><strong class="orangeTxt largeTxt">Professional Development Services</strong></p>
              <table >
                  <tbody>
                      <tr>
                          <td valign="top">
                              {#<a href="/services/developments"><img class="image-border-noPad" src="{{'assets/includes/img/thumb-pd.jpg'|theme}}"></a>#}
                                  <img class="image-border-noPad" src="{{'assets/includes/img/thumb-pd.jpg'|theme}}">
                          </td>
                          <td valign="top">
															 NSCC offers customized trainings and professional development services to guide schools through the improvement process. To view a list of available services, visit our <a href="/services/educational-offerings">Educational Services</a> section.
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>

        </div>

        <div class="tab-pane  text-style " id="tab2">
              <h2 >CSCI Report</h2>
              <p>The CSCI Report is an essential tool for building an effective school climate improvement plan because it ensures that you are focused on the issues that <strong>matter most</strong> to your school community. Each school receives a customized, comprehensive report of their survey findings within two weeks of completing the CSCI. This report presents a detailed profile of your school’s particular strengths and areas for improvement in a series of easy-to-understand charts, tables, and explanatory text to help you interpret your findings and prioritize which school climate dimensions to target for action planning.</p>
              <p>Below is an overview of the four main sections within the report: </p>
              <p ><a href="#1" data-target="1" class="scroll-report-div"><strong>I. School Climate Overview</strong></a></p>
              <p ><a href="#2" data-target="2" class="scroll-report-div"><strong>II. In-Depth Profiles</strong></a></p>
              <p ><a href="#3" data-target="3" class="scroll-report-div"><strong>III. Detailed Findings</strong></a></p>
              <p ><a href="#4" data-target="4" class="scroll-report-div"><strong>IV. Recommendations</strong></a></p>

              <div class="contentHighlight-A" id="1">
                  <p ><strong class="orangeTxt largeTxt">I. School Climate Overview</strong></p>
                  This overview section will give you detailed information on survey response rates and an overall snapshot of how each population (students, parents, and personnel) views your school climate. To help you interpret this feedback, results are presented:
                  <ul>
                      <li>As scores that can be considered positive, negative and neutral</li>
                      <li>In rank order from the highest to lowest rated dimensions</li>
                      <li>As comparative profiles to help you identify variable or consistent viewpoints across populations for each dimension</li>
                  </ul>
                  <p>Below you can view some samples charts from the School Climate Overview section of the CSCI Report: </p>
                  <div class="csciReport-container text-center">
                      <a target="_blank" href="{{'assets/pdf/csci-school-report/Summary_Findings_Students.pdf'|theme}}"><img src="{{'assets/includes/img/thumb-report1A.png'|theme}}"></a>
                      <a target="_blank" href="{{'assets/pdf/csci-school-report/School_Climate_Ratings.pdf'|theme}}"><img src="{{'assets/includes/img/thumb-report1B.png'|theme}}"></a>
                      <a target="_blank" href="{{'assets/pdf/csci-school-report/Relative_Strengths.pdf'|theme}}"><img style="margin-right: 0;" src="{{'assets/includes/img/thumb-report1C.png'|theme}}"></a>
                  </div>
                  <br>
              </div>

              <blockquote>
                  The CSCI and data we got out of it has been formative. The access to differentiated results (grades, houses, academies, teachers, et al) gave us a real deep understanding of what was happening in the school that we’d never seen before.
                  <div class="quote-author">
                      -Harry Sherman, Principal Castle Hill Middle School (CSCI 2008)
                  </div>
              </blockquote>

              <div class="contentHighlight-A" id="2">
                  <p><strong class="orangeTxt largeTxt">II. In-Depth Profiles</strong></p>
                  <p>This section provides detailed information on the rating patterns for each school climate dimension and shows viewpoints by sub-groups for each population (i.e. students by grade, parents by gender, etc.) to highlight particular concerns within a group.</p>
                  The sub-groups included in the CSCI Report are:
                  <ul>
                      <li>Students&mdash;grade, gender, race/ethnicity, English as a first language, extra-curricular activities</li>
                      <li>School Personnel&mdash;grade, gender, years of experience, and department</li>
                      <li>Parents&mdash;child's grade, race/ethnicity, gender</li>
                  </ul>
                  <p>Below are sample charts for the Rating Patterns and Sub-group data:</p>
                  <div class="csciReport-container text-center">
                      <a target="_blank" href="{{'assets/pdf/csci-school-report/report2A-RatingPatternsPhysicalSafety.pdf'|theme}}"><img src="{{'assets/includes/img/thumb-report2A.png'|theme}}"></a>
                      <a target="_blank" href="{{'assets/pdf/csci-school-report/Sub-Group_Ratings.pdf'|theme}}"><img style="margin-right: 0px;" src="{{'assets/includes/img/thumb-report2B.png'|theme}}"></a>
                  </div>
                  <table width="360" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                          <tr>
                              <td valign="top" align="center"></td>
                              <td valign="top" align="center"></td>
                          </tr>
                      </tbody>
                  </table>
                  <br>
              </div>

              <div class="contentHighlight-A" id="3">
                  <p class="orangeTxt largeTxt"><strong>III. Detailed Findings</strong></p>
                  <p>This section provides an item-by-item breakdown of the individual questions in the CSCI. It is presented by population (students, school personnel, and parents/ guardians), so you can compare responses to specific items within the survey. It also includes specific demographic breakdowns for each sub-group to support accurate analysis of population responses.</p>
                  <p>Below are sample charts from the Item-by-Item and Demographic sections:</p>
                  <div class="csciReport-container text-center">
                      <a target="_blank" href="{{'assets/pdf/csci-school-report/Students.pdf'|theme}}"><img src="{{'assets/includes/img/thumb-report3A.png'|theme}}"></a>
                      <a target="_blank" href="{{'assets/pdf/csci-school-report/Parents.pdf'|theme}}"><img src="{{'assets/includes/img/thumb-report3B.png'|theme}}"></a>
                      <a target="_blank" href="{{'assets/pdf/csci-school-report/School_Personnel.pdf'|theme}}"><img style="margin-right: 0px;" src="{{'assets/includes/img/thumb-report3C.png'|theme}}"></a>
                  </div>
                  <br>
              </div>

              <blockquote>
                  The substantial and focused results [in the CSCI report] allowed us to create a targeted action plan. In the past 2 years we’ve seen a decrease in student behavior referrals and suspensions, substantial gains on state tests and overall student achievement, improvements in staff and student morale, and a decrease in teacher turn-over.
                  <div class="quote-author">
                      - Vanessa Camilleri, Social Emotional Learning Coordinator, The Arts and Technology Academy (PCS) (CSCI 2006, 2007, 2009)
                  </div>
              </blockquote>

              <div class="contentHighlight-A" id="4">
                  <p><strong class="orangeTxt largeTxt">IV. Recommendations</strong></p>
                  <p>The Recommendations and Guidelines section provides essential guidance on how to reach the critical next step of translating the report findings into targeted action plans for sustained improvement.</p>
                  <p>In addition to best practice guidelines for the action planning process, you receive detailed Action Charts that include specific supports for each dimension highlighted in the report.</p>
                  <div class="csciReport-container text-center">
                      <a target="_blank" href="{{'assets/pdf/csci-school-report/Process_Recomendations.pdf'|theme}}"><img src="{{'assets/includes/img/thumb-report4A.png'|theme}}"></a>
                      <a target="_blank" href="{{'assets/pdf/csci-school-report/Action_Charts_Physical_Safety.pdf'|theme}}"><img style="margin-right: 0px;" src="{{'assets/includes/img/thumb-report4B.png'|theme}}"></a>
                  </div>
                  <br>
              </div>
        </div>

        <div class="tab-pane  text-style " id="tab3">
          <h2>FAQ's About the CSCI</h2>
          <div class="contentHighlight-A">
              <ul>
                  <li><a href="#faq1" data-target="faq1" class="faq-ques">Has the CSCI been developed in a scientifically sound manner?</a></li>
                  <li><a href="#faq2" data-target="faq2" class="faq-ques">How do we administer the CSCI?</a></li>
                  <li><a href="#faq3" data-target="faq3" class="faq-ques">What kind of report will we get?</a></li>
                  <li><a href="#faq4" data-target="faq4" class="faq-ques">At what grade levels can we use the CSCI with students?</a></li>
                  <li><a href="#faq5" data-target="faq5" class="faq-ques">Does the CSCI come in languages other than English?</a></li>
                  <li><a href="#faq6" data-target="faq6" class="faq-ques">How long does it take to take the CSCI?</a></li>
                  <li><a href="#faq7" data-target="faq7" class="faq-ques">How will you use the demographic data that you request on the survey?</a></li>
                  <li><a href="#faq8" data-target="faq8" class="faq-ques">Will my school report be confidential?</a></li>
                  <li><a href="#faq9" data-target="faq9" class="faq-ques">When will we get back the report?</a></li>
                  <li><a href="#faq10" data-target="faq10" class="faq-ques">Do you compare and rate schools with the CSCI?</a></li>
                  <li><a href="#faq11" data-target="faq11" class="faq-ques">What have other schools said about the CSCI?</a></li>
                  <li><a href="#faq12" data-target="faq12" class="faq-ques">We know what our concerns are. Is it still helpful to take the CSCI?</a></li>
                  <li><a href="#faq13" data-target="faq13" class="faq-ques">When we receive the CSCI report, what can we do with it?</a></li>
                  <li><a href="#faq14" data-target="faq14" class="faq-ques">How much does it cost to administer the CSCI and get a report?</a></li>
                  <li><a href="#faq15" data-target="faq15" class="faq-ques">Where might I get funds to help pay for the CSCI?</a></li>
                  <li><a href="#faq16" data-target="faq16" class="faq-ques">Who should I contact at NSCC if I am interested in learning more about the CSCI?</a></li>
              </ul>
          </div>
          <p id="faq1"><strong>Has the CSCI been developed in a scientifically sound manner?</strong>
              <br> The CSCI was developed over a period of several years, building on theoretical and survey work done in the field of social and emotional education. In 2007, NSCC extensively tested the survey, using factor analysis and structural equation modeling to validate the sub-scales and confirm our theoretical model of school climate. With this data, we were able to determine whether questions grouped in the way we predicted and whether similar patterns existed across schools and groups of students, providing an empirical "seal of approval" for the CSCI.
          </p>
          <br>
          <p id="faq2"><strong>How do we administer the CSCI?</strong>
              <br> NSCC staff will work with your school to develop a CSCI implementation plan. We will help you designate a School Climate Coordinator to work hand-in-hand with our School Support team. This coordinator will gain access to the School Climate Resource Center, our customized online portal designed to make the process seamless, straightforward, and simple. The Resource Center contains online survey links and support resources such as the administration checklist, best practices, sample form letters, FAQ's, advice from other School Climate Coordinators and more. It also contains real-time response rates and a simple calendar that keeps the coordinator updated of the survey administration progress. The survey is typically administered over a 2-week period (online or with paper and pencil).
          </p>
          <br>
          <p id="faq3"><strong>What kind of report will we get?</strong>
              <br> Your school will receive a Presentation and CSCI Report PDF. The Presentation PDF is short and consists of images only, whereas the CSCI Report is longer and much more detailed; it has an item-by-item breakdown in the detailed findings section, as well as several helpful action charts for each school climate dimension.The are four sections in the CSCI Report: (1) an overview of school climate and of the report; (2) a narrative and numerical summary that describes how students, school personnel, and parents responded to the CSCI dimensions; (3) recommendations and guidelines; (4) detailed numerical findings that show how people responded to every single question in the CSCI. To learn more about the report <a href="#tab2" data-toggle="tab" class="active-menu" data-menu-id="mm2">click here</a>.</p>
          <br>
          <span id="faq4"><strong>At what grade levels can we use the CSCI with students?</strong></span>
          <br> There are two student versions:
          <ul>
              <li>Middle and High School: 6th to 12th grade</li>
              <li>Elementary School: 3rd to 5th grade</li>
          </ul>
          <br>
          <p id="faq5"><strong>Does the CSCI come in languages other than English?</strong>
              <br> Yes. Currently, the CSCI is available in Spanish. Please let us know if you have a need for additional translations.</p>
          <br>
          <p id="faq6"><strong>How long does it take to take the CSCI?</strong>
              <br> The CSCI can be completed in a class period. <strong>For Students:</strong> It usually takes 20 minutes for students to complete the CSCI, but may take more time for younger students or students with special needs. <strong>For Adults:</strong> Generally, adults can complete the CSCI in 15-20 minutes. Schools have had success completing the CSCI during faculty or grade level meetings. </p>
          <br>
          <p id="faq7"><strong>How will you use the demographic data that you request on the survey?</strong>
              <br> Demographic data is gathered for grade level, gender, and ethnicity, among other categories. This information is presented within the final report to show differences between certain sub-group categories for each of the school climate dimensions. Demographic populations lower than ten people will <em>not</em> be reported to protect anonymity of respondents. </p>
          <br>
          <p id="faq8"><strong>Will my school report be confidential?</strong>
              <br> Yes. The CSCI is completely confidential.</p>
          <br>
          <p id="faq9"><strong>When will we get back the report?</strong>
              <br>You will receive a PDF version of the report within two weeks after the survey close-date.
					</p>
          <br>
          <p id="faq10"><strong>Do you compare and rate schools with the CSCI?</strong>
              <br>NSCC does not use the CSCI to compare or rate schools. The CSCI has been developed to support learning and improvement efforts based on each school's individual climate results and is not meant to be used as a norm-referenced tool. NSCC considers each school's report to be confidential and will only share a school's CSCI results and program work with its permission.</p>
          <br>
          <p id="faq11"><strong>What have other schools said about the CSCI?</strong>
              <br> Schools have found the CSCI to be extremely helpful for many reasons. The CSCI provides reliable information about what the whole school community believes is and is not working. The CSCI provides a sound way to discover whether particular programs are helping. It also reveals important differences in perception between different groups. These groups may include students, teachers, parents and administrative staff.</p>
          <br>
          <p id="faq12"><strong>We know what our concerns are. Is it still helpful to take the CSCI?</strong>
              <br> There are several reasons why it may be very useful to use the CSCI even when you have a good sense of your school's concerns. The CSCI provides scientifically-sound methods of gathering data that may confirm or expand your sense of the school's climate. Sometimes a school's sense of its climate may come from listening to only a few of the loudest voices. The CSCI is a way to hear from many voices that may not have been heard previously. Schools have found that the CSCI can help build a case, based on data, for moving ahead with action plans. </p>
							<!--           <p>The CSCI is also a method for building community. When parents and students complete the CSCI, the school leadership has an opportunity to authentically say to the community "I now understand what you see as our strengths and challenges. I want and need your collaborative support to address barriers to learning as well as to promote the positive social, emotional, ethical and academic skills that provide the foundation for school and life success."</p> -->
          <br>
          <p id="faq13"><strong>When we receive the CSCI report, what can we do with it?</strong>
              <br> CSCI findings can become the springboard for substantive and collaborative school improvement efforts. NSCC has developed a series of suggested "next steps" and school improvement tools to support sustained social, emotional, ethical and academic school improvement.</p>
          <br>
          <p id="faq14"><strong>How much does it cost to administer the CSCI and get a report?</strong>
              <br> We have a variety of options that schools may want to consider. To learn more about these <a href="#tab4" data-toggle="tab" class="active-menu" data-menu-id="mm4">please click here</a>.</p>
          <br>
          <p id="faq15"><strong>Where might I get funds to help pay for the CSCI?</strong>
              <br> There are a variety of potential fund sources which may include violence prevention, school improvement, evaluation and assessment funds, drop out prevention, anti- bullying grants, and local school monies.</p>
          <br>
          <p id="faq16"><strong>Who should I contact at NSCC if I am interested in learning more about the CSCI?</strong>
              <br> Contact Darlene Faster <a href="mailto:dfaster@schoolclimate.org">dfaster@schoolclimate.org</a> or call 212-707-8799, extension 22.</p>
        </div>

        <div class="tab-pane  text-style " id="tab4">
          <h2>Purchasing the CSCI</h2>
          <div style="height:42px;">
              <div style="float:right; margin-right:5px;">
                  <a href="/about/contact-us?p=2"><img border="0" align="absmiddle" style="padding-right:3px; padding-bottom:5px;" alt="Price Quote" src="{{'assets/includes/img/greenarrow.png'|theme}}"></a><a href="/about/contact-us?p=2">Get a Price Quote</a></div>
              <div> <strong class="largeTxt greyTxt">The CSCI Services Package includes the following:</strong></div>
          </div>
          <div class="contentHighlight-B">
              <div class="imgIcon">
                  <img src="{{'assets/includes/img/survey.png'|theme}}">
              </div>
              <p><strong>Online CSCI Surveys</strong>
                  <br> Includes all versions of the <i>Comprehensive School Climate Inventory</i> (CSCI) surveys: School Personnel, Parents/ Guardians, Students &ndash; Elementary or Middle/High version</p>
              <div class="imgIcon"><img src="{{'assets/includes/img/portal.png'|theme}}">
              </div>
              <p><strong>School Climate Portal</strong>
                  <br> Online support site that includes detailed recommendations, checklists for administering the surveys, sample letter templates, and real-time online response rate data.</p>
              <div class="imgIcon">
                  <img src="{{'assets/includes/img/reports.png'|theme}}">
              </div>
              <p><strong>CSCI Report</strong>
                  <br> Comprehensive, customized PDF report with graphic-rich data and recommended guidelines. Includes both narrative and numerical analysis of the major findings plus a summary of the report highlights.
              </p>
              <div class="imgIcon">
                  <img src="{{'assets/includes/img/worksheets.png'|theme}}">
              </div>
              <p><strong>Action Planning Resources</strong>
                  <br> Includes Action Planning Resources that complement your CSCI Report and help to support the process of defining key priorities and outlining areas to target for future action plans.<!-- detailed worksheets to support the definition of key priorities for improvement and the outline of targeted action plans for each area of need. --></p>
          </div>
          <p><strong class="largeTxt greyTxt">Pricing:</strong></p>
          <div class="contentHighlight-A">
              <ul>
                  <li>Base package pricing is determined on a sliding scale based on student enrollment. The price includes online versions for all three populations (parents, students, and school personnel) and all other features noted above.</li>
                  <li>Paper surveys cost an additional $1.75 each to cover printing and scanning fees and includes freight costs.</li>
              </ul>
          </div>
          <p><strong>For more information about the CSCI, please contact:</strong>
              <br> Darlene Faster, COO and Director of Communications<br>
              <a href="mailto:dfaster@schoolclimate.org">dfaster@schoolclimate.org</a>
               <br>212.707.8799 ext 22</p>
          <p>To order and receive a price quote for administering the CSCI

              <a href="/about/contact-us?p=2">click here</a>.</p>
        </div>
      </div>
		 </div>
		</div>
	</div>
	<!--     <br><br>
	<center>
	    <a href="/about/contact-us" style="visibility: visible;" class="btn   btn-lg pulse-hvr btn-bright-cerulean animated"> Interested? </a>
	</center> -->
</div>

{% put scripts %}
<script>
$(document).ready(function(){
	var url = window.location.href;
  url = url.replace(/^.*\/\/[^\/]+/, '');
	$('#MainMenu li').find('a').removeClass('active');
	$('#MainMenu li').each( function(k, v){

		if($(this).find('a').data("url") == url){
				 tab = parseInt(k) + 1;
				 $(this).addClass("active");
				 $('#tab'+ tab).addClass("active");
		}

	});

	$('.scroll-report-div').click(function(){
			var target = $(this).data('target');
			var top = $('#'+target).offset().top - 90;

      $('html, body').animate({
          scrollTop:top
      }, 500);
	});

	$('#MainMenu li').click(function(){

		activeUrl = $(this).find('a').data("url");
		window.history.pushState("object or string", "Title", activeUrl);

		$('.tab-pane').hide();
		var activeTab = $(this).children('a').attr('href');
		$(activeTab).show();
		 divScrollTop(activeTab);
 });

	$('.faq-ques').click(function(){
			var target = $(this).data('target');
			var top = $('#'+target).offset().top - 90;

      $('html, body').animate({
          scrollTop:top
      }, 500);
	});


	$('.active-menu').click(function(){
			var active = $(this).data('menu-id');
			var top = $('#bloc-38').offset().top;

			$('.nav-tab-2 li').removeClass('active');
			$('#'+active).addClass('active');

			$('html, body').animate({
					scrollTop:top
			}, 500);
	});
});
</script>
{% endput %}