title = "Research - National School Climate Center"
url = "/services/research-offerings"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
					<h3 class="mg-md ">
						Interested in School Climate Research?
					</h3>
					<p>
					 These research papers outline a series of essential research topics: the current state of the field, trends, and more. Get in touch if you have questions about our research.
					</p>
			  </div>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean pulse-hvr animated">Contact Us</a>
			 </div>
			</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="">
			<div class="col-sm-12" id="research-container">
				<h1 class="text-center mg-lg">
				<strong>Research</strong>
			  </h1>
				<h2><center>Educators have appreciated the importance of school climate for almost one hundred years...</center></h2>
        <br>
        <h3>Background</h3>
				<p>For almost one hundred years, educators have appreciated the importance of school climate. In 1908, Perry was the first educational leader to explicitly write about how school climate affects students' and the process of learning. Although Dewey did not write explicitly about school climate, his focus on the social dimension of school life and the notion that schools should focus on enhancing the skills, knowledge and dispositions that support engaged democratic citizens (Dewey, 1927) implicitly touch on what kind of environment or climate the school reflects. These and other very early educational writings about school climate were—in essence—case studies.</p>
				<br>
				  <h3>Early Research</h3>
				  <p>Empirically grounded school climate research began the 1950's when Halpin and Croft (1963) initiated a tradition of systemically studying the impact of school climate on student learning and development.Early systematic studies of school climate were also spurred by organizational research as well as studies in school effectiveness (Anderson, 1982; Creemers & Reezigt, 1999). Early school climate studies tended to focus on observable characteristics (Anderson, 1982).</p>
				  <br>
					<h3>Recent Research and Practice</h3>
					<p>Over the last three decades there has been an extraordinary and growing body of research that attests to the importance of school climate. Positive school climate supports learning and positive youth development.</p>
          <p><a href="http://rer.sagepub.com/cgi/reprint/0034654313483907v1?ijkey=lPFDtiKJJYWkE&amp;keytype=ref&amp;siteid=sprer" target="_blank">Download</a> A Review of School Climate Research, 2013.</p>
          <br>
				  <h3>Dimensions of School Climate</h3>
					<p>
           Research has identified many elements, or "dimensions" that make up school climate, ranging from the size of the school to noise levels in hallways and cafeterias, from the physical structure of the building to the physical comfort levels (involving such factors as heating, cooling, and lighting) of the individuals and how safe they feel, from opportunities for student-teacher interaction, the quality of interactions in the teachers' lounge to a range of interpersonal and instructional dimensions of school life.
          </p>
        </div>
				<br><br>
		</div>
	</div>
</div>
<!-- bloc-52 -->
<div class="bloc bloc-bg-texture texture-paper tc-platinum bgc-platinum" id="bloc-38" style="color:#7f7f7f !important">
	<div class="container bloc-md">
		<div class="row researchbutton">
			<div class="col-sm-6 " style="color:white">
				<a  href="/publications/school-climate-briefs"><img class="img-responsive center-block" src="{{'assets/images/newsletter-icon-120x120.png'|theme}}" /></a>
        <br><br>
				<h3 class="mg-md text-center " >
					<b>School Climate Briefs</b>
				</h3>
				<p class="text-center font-size-16">
					Read our briefs on what&rsquo;s happening in the field of school climate research.
				</p>
			</div>
			<div class="col-sm-6" style="color:white">
				<a  href="{{'assets/pdf/research/faqs-for-researchers.pdf'|theme}}" > <img class="img-responsive center-block" src="{{'assets/images/FAQ-icon-120x120.png'|theme}}" /></a>
       <br><br>
				<h3 class="mg-md text-center">
					<b>FAQs for Researchers</b>
				</h3>
				<p class="text-center font-size-16">
					Are you a researcher interested in the CSCI data?<br>
					<a target="_blank" class="link" href="{{'assets/pdf/research/faqs-for-researchers.pdf'|theme}}" >Check out this FAQ.</a>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-52 END -->
