title = "Safe, Supportive and Civil Schools - National School Climate Center"
url = "/services/safe-supportive-civil-schools"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h3 class="mg-md text-center lg-shadow">
					Safe, Supportive and Civil Schools
					<a href="/about/contact-us" class="btn   btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>
				</h3>
			</div>
		</div>
	</div>
</div>


<!-- bloc-49 -->
<div class="bloc bgc-platinum l-bloc bg-gray"  id="bloc-49">
	<div class="container heading-color container-bg-white">
		<div class="">
			<div class="col-sm-12">
        <hr>
				<p>NSCC's Safe, Supportive and Civil Schools' project grows out of our work with the Ohio Department of Education as well as networks of schools we have and/or are working with now.</p>
        <p>Safe, supportive and civil schools are characterized by norms, values and expectations that support people feeling socially, emotionally and physically safe; engaged and respected; and collaboratively involved with student-family-educator partnerships to develop, live and contribute to a shared school vision.</p>
        <p>There are many challenges that complicate school, parent and student leaders promoting truly safe, supportive and civil schools.</p>
        To effectively promote safe and civil school climates, research and best practices suggest that school leaders need to be focused on coordinating the following five practices over time:
        <ol>
            <li>
                <p><a href="#1"><strong>Instruction</strong></a> designed to promote student as well as adult social, emotional, civic and intellectual skills and dispositions;</p>
            </li>
            <li>
                <p><a href="#2"><strong>Systemic</strong></a> interventions designed to create a climate of safety and learning;</p>
            </li>
            <li>
                <p><a href="#3"><strong>Crisis preparedness</strong></a> that recognize socially as well as physically dangerous moments;</p>
            </li>
            <li>
                <p><a href="#4"><strong>Evaluations</strong></a> that recognize social, emotional and civic as well as intellectual development and learning; and,</p>
            </li>
            <li><a href="#5"><strong>Aligning State/district policy</strong></a> with building practice.</li>
        </ol>
        <p>We suggest that schools consider these five practices when they are developing instructional and school-wide implimentation action plans. Naturally, different schools with their own unique history and current strenghts, needs and goals will focus on one or more of these five dimensions. It is useful to consider current practice in each of these five areas.</p>
        Here we summarize each of these five practices. If you are interested in learning more about one or more of these practices, please “click” at the end of each section and there is more information about:
        <ul>
            <li>Common barriers to effective work in this area.</li>
            <li>Essential “learning’s” that staff need to understand and be able to do.</li>
            <li>Tasks that need to be considered to actualize this process to further (a) reflection and raising awareness; (b) critically evaluating resources and making recommendations about: and, (c) skill building.</li>
            <li>Indicators that a school has successfully integrated this process into school life in ways that will promote safe and civil schools.</li>
            <li>How to measure progress in this area.</li>
            <li>Resources that can support your thinking about tools and organizations that may aid your work.</li>
        </ul>
        <div class="contentHighlight-A">
            <strong id="1">I. Instruction:</strong> Developing the skills and dispositions that foster safe, responsible and caring schools: Decades of research shows that evidence-based social and civic learning (or “social emotional learning” and “character education”) provides the foundation for healthy development, violence prevention and academic achievement as well as preventing high risk behaviors. Evidence-based social emotional, ethical and civic also provides the foundation for school&mdash;and life&mdash;success. Adults as well as students’ need to be involved with ongoing, helpful social and civic learning to most effectively promote positive youth development and foster students’ capacity to learn.
            <br> To learn more, <a target="_blank" href="{{'assets/pdf/safe-supportive-civil-schools/instruction.pdf'|theme }}">click here.</a>
        </div>
        <div class="contentHighlight-A">
            <strong id="2">II. Systemic or School-Wide Interventions:</strong> A positive and sustained school climate is one that includes norms, values and expectations that support people feeling socially, emotionally and physically safe; people are engaged and respected; students, families and educators work together to develop, live and contribute to a shared school vision. There is a range of systemic interventions that support our creating a climate for learning.
            <br> To learn more, <a target="_blank" href="{{'assets/pdf/safe-supportive-civil-schools/systemic.pdf'|theme }}">click here.</a>
        </div>
        <div class="contentHighlight-A">
            <strong id="3">III. Crisis Preparedness:</strong> All schools have developed crisis preparedness plans that anticipate physically dangerous moments (e.g. a fire or bomb scare). We suggest that schools need to recognize socially and emotionally as well as physically dangerous moments. Developing norms and opportunities to practice “upstander” behavior (as opposed to passive bystander behavior) in the face of socially dangerous moments (e.g. bullying) will significantly contribute to safe, caring and connected schools. When school and parent leaders work together to promote upstander behavior (e.g. directly or indirectly saying “no” to bully-victim behavior), research has shown that social violence decreases and academic achievement increases.
            <br>
            <p>To learn more, <a target="_blank" href="{{'assets/pdf/safe-supportive-civil-schools/crisisPreparedness.pdf'|theme }}">click here.</a></p>

        </div>
        <div class="contentHighlight-A">
            <strong id="4">IV. Evaluation:</strong> What is measured is “what counts...” In order to be truly effective, comprehensive school safety efforts&mdash;by definition&mdash;need to recognize the social and civic as well as academic dimensions of school life. We suggest that measuring school climate is the most practical, reliable and valid method of recognizing how students, school personel and parents or guardians percieve the social and civic dimensions of school life.
            <br> To learn more, <a target="_blank" href="{{'assets/pdf/safe-supportive-civil-schools/evaluation.pdf'|theme }}">click here.</a>
        </div>
        <div class="contentHighlight-A">
            <strong id="5">V. Aligning state/district policy with building practice:</strong> Effective school reform and sustained school improvement efforts need to include State and district level policies that focus on social and ethical as well as academic learning and measure systemic processes that address barriers to learning. To learn more about how your school can address policy concerns, <a href="/publications/policy">see information</a> about school climate policy and advocacy.
            <br>
            <p>To learn more, <a target="_blank" href="{{'assets/pdf/safe-supportive-civil-schools/systemic.pdf'|theme }}">click here.</a></p>

        </div>

      </div>
		</div>
	</div>
</div>
<!-- bloc-49 END -->
