title = "State DOE's - National School Climate Center"
url = "/services/stateDOE"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h3 class="mg-md text-center lg-shadow">
					State Department of Education
					<a href="/about/contact-us" class="btn   btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>
				</h3>
			</div>
		</div>
	</div>
</div>


<!-- bloc-49 -->
<div class="bloc bgc-platinum l-bloc bg-gray" id="bloc-49">
	<div class="container bloc-md container-bg-white">
		<div class="">
			<div class="col-sm-12">
        <h2><b><center>Advancing School Climate Policy and Quality Practice</center></b></h2>
        <p align="left">
            <br> Our Center provides the following services to state departments of education, state agencies, state organizations and state community-based organizations to integrate and sustain quality school climate leading to student achievement and success.
            <br>
        </p>
        <p align="left"><strong><u>Technical Assistance</u></strong> </p>
        <ul>
            <li>Conduct a policy scan to determine existing school climate-related policies as well as policy impediments to implementing a school policy agenda.</li>
            <li>Consider, adopt and adapt policies that encourage, support and reward quality school climate implementation and sustainability.&nbsp; The policy options are based on school climate standards and focus on resources, quality practice, accountability and responsibility.</li>
            <li>Assist, host and/or co-host state-level meetings and work groups that bring together critical stakeholders and conducts related work to advance a school climate agenda.</li>
            <li>Present expert testimony of school climate standards, research, assessments, policies and quality practices. </li>
        </ul>
        <p><u><strong>Professional Development</strong></u></p>
        <ul>
            <li>Design and implement professional development for policymakers, education leaders and stakeholders at the state, district and school levels.<u> </u></li>
            <li>Design and implement professional development at the local level for teachers, administrators, support staff, students, parents and community partners.<u> </u></li>
        </ul>
        <p><u><strong>Advocacy and Networking</strong></u></p>
        <ul>
            <li>Assist in the design and implementation of a statewide advocacy campaign to advance a school climate agenda.</li>
            <li>Connect state agencies with state, regional and national networks to learn and share strategies to successfully implement and sustain a school climate agenda.</li>
            <li>Assist in development of a communications strategy to inform and influence stakeholders at the national, regional, state and local levels.</li>
        </ul>
        <p><u><strong>Assessment</strong></u></p>
        <ul>
            <li>Identify and encourage the use of high-quality instruments, protocols, analyses and continuous improvement strategies to measure and improve school climate for student achievement and success. </li>
        </ul>
        <p><u><strong>Research</strong></u></p>
        <ul>
            <li>Share existing research and assist state agencies to develop a high-quality research agenda to establish the data sets and analyses necessary to successfully integrate and sustain quality school climates for all students’ success. </li>
        </ul>
        <p>For details about our work with State Departments of Education and/or if you are interested in one or more of these services, please contact Jonathan Cohen (<a href="mailto:jonathancohen@schoolclimate.org">jonathancohen@schoolclimate.org</a>) to learn about fees, possible cost sharing and time lines.</p>
      </div>
		</div>
	</div>
</div>
<!-- bloc-49 END -->
