title = "Summer Institute - National School Climate Center"
url = "/services/summer-institute"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h3 class="mg-md text-center lg-shadow">
					Summer Institute
					<a href="/about/contact-us?p=6" class="btn btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>
				</h3>
			</div>
		</div>
	</div>
</div>
<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white"  >
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">
          <nav class="nav-sidebar">
      		<ul class="nav-tab-2 nav tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Summer Institute</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">Institute Faculty</a></li>
                <li class=""><a href="#tab3" data-toggle="tab">Before/After the Institute</a></li>
                <li class=""><a target="_blank" href="{{'assets/pdf/summer-institute/si2015-hotels.pdf'|theme }}">Hotel List (PDF)</a></li>
                <li class=""><a target="_blank" href="{{'assets/pdf/summer-institute/si2015-restaurants.pdf'|theme }}">Restaurant List (PDF)</a></li>
                <li class=""><a href="#tab4" data-toggle="tab">Sponsors</a></li>
      		</ul>
      	</nav>
      </div>
      <!-- tab content -->
      <div class="tab-content tab-content-1 col-sm-9">

      <div class="tab-pane active text-style" id="tab1">
        <!-- <h2>2017 Summer Institute <strong>Open</strong></h2>
        <p><b>The National School Climate Center</b> <i>will not be offering a summer institute this year</i></p>
        <p>If you are interested in the possibility of co-organizing an institute in your location, Please contact us. </p>
        <p>Education Director<br>
        Richard Cardillo</p>

        <p><a href="mailto:rcardillo@schoolclimate.org">Email Us</a></p> -->


				<h2>Summer Institute</h2>
				<div id="si-title"><strong>The National School Climate Center</strong><em> in partnership with the Winston, Preparatory Schools present the </em><br />
				<p style="color: #C577E4; font-weight:bold;">School Climate/SEL Improvement: Practice, Policy and Leadership Development</p>
				<p style="color: #C577E4; font-weight:bold;">What needs to be done and how to do it?</p>
				</div>
				<div class="si_register">
				<div class="pull-left"><strong>June 22 &amp; 23, 2017</strong><br /><span style="font-size: 12px;">Held at The Winston Preparatory School,<br /> 126 W 17th St, New York, NY 10011</span></div>
				<a href="#" class="pull-right right">Register Now</a>
				</div>

				<p>Learn and work with NSCC and other educational leaders around the country at the National School Climate Center&rsquo;s (NSCC) 19th Annual Summer Institute.</p>
				<p>The National School Climate Center&rsquo;s (NSCC) 19th annual Summer Institute is designed to support individuals, school, district, network and state teams in two ways:</p>
				<ol>
				<li>Understand evidence-based and best practices that support effective prosocial education, school climate, and bully prevention efforts as well as building leadership capacity for students and educators;</li>
				<li>Learn strategies to develop action plans that guide improvement efforts in your school, district, network and/or State.</li>
				</ol>
				<p>The Every Student Succeeds Act (ESSA) of 2017 supports what a growing number of federal, state and district leaders recognize: school climate and SEL improvement efforts are the most powerful tools for bully-victim-bystander as well as high school drop out prevention strategies. School climate improvement also has the potential to support students, parents/guardians and school personnel learning and working together to create the kind of school everyone wants: safe, supportive, engaging, healthy climates for learning that support school and life success.</p>
				<h2>2017 Summer Institute Keynote speakers</h2>
				<p><strong>Dorothy L. Espelage, Ph.D.</strong> is a Professor of Psychology, University of Florida. She was recently honored with the American Psychological Association&rsquo;s Lifetime Achievement Award in Prevention Science. She is an international expert in bullying, youth aggression, teen dating violence and effective prevention as well as intervention strategies to address these issues. She has authored over 100 papers and books, including Bullying Prevention and Intervention: Realistic Strategies for Schools, Intervention (with Susan Swearer and Scott A. Napolitano) (Guilford Press, 2009), and Handbook of Bullying in Schools: an International Perspective Intervention (with Susan Swearer) (Routledge, 2009).</p>
				<p><strong>Kathleen Moroney Porreca, Ed.D.</strong> has served as principal of Elm Middle School in Elmwood Park, Illinois, a suburb of Chicago since 2008. In her 30 years as an educator, she has worked as a high school English teacher, student council adviser and yearbook adviser, a high school Dean of Students, a high school Assistant Principal, and now a high school Principal. During her time as Principal of the University of Illinois Laboratory High School (Uni High), the Illinois Journalism Education Association named Dr. Porreca its 2006 Administrator of the Year for her support of student press rights.</p>

      </div>

      <div class="tab-pane text-style " id="tab2">
        <!-- <h2>2017 Summer Institute <strong>Faculty</strong></h2>
          <p><b>Philip M. Brown, Ph.D.</b> is a senior consultant at NSCC. He is the former Director of the Center for Social and Character Development Graduate School of Applied and Professional Psychology at Rutgers University. He is the co-editor of the Handbook for Prosocial Education and recently, a chapter on evaluation in "Effective Character Education: A Guidebook for Future Educators". He worked in the Pennsylvania Department of Health and then the New Jersey Department of Education. (this is a fragment) He established the Center for Social and Character Development at Rutgers University through two consecutive federal grants under the NCLB Partnerships in Character Education program, conducting process and outcome research in schools throughout New Jersey on the development of social and character development programs.</p>
          <p><b>Richard Cardillo, MA </b>is the Education Director of the NSCC and co-director of the Institute. Rich has over three decades of experience as a classroom teacher, rural community organizer, public spokesperson, founder and administrator for social emotional learning/ character education programs, senior member of community-based organizations, fundraiser, college teacher in Perú and developer of community service learning programs. He is a native of New York, fluent in both Spanish and American Sign Language, and brings an entrepreneurial spirit and vision to his work. He is the past New York Regional Director of Peace Games, Director of Client Services at God’s Love We Deliver in New York and has been a classroom teacher in elementary, middle and high school. Richard received his Masters Degree from Columbia University.</p>
          <p><b>Jonathan Cohen, Ph.D.</b>is the Director of Summer Institute, co-founder and President of the National School Climate Center (NSCC); co-founder and emeritus co-chair of the National School Climate Council; Adjunct Professor in Psychology and Education at Teachers College, Columbia University. He is the co-editor of the International Journal of School Climate & and Violence Prevention as well as the author of over 85 papers and books including Educating Minds and Hearts: Social Emotional Learning and the Passage into Adolescence (1999) and Making your School Safe: Strategies to Protect Children and Promote Learning (2007). He is also a practicing clinical psychologist and psychoanalyst. He lectures and consults to schools, districts, State Departments of Education, foreign educational ministries and the UNICEF’s Child Friendly Schools program.</p>
          <p><b>Darlene Faster, MA</b> is the Director of Communications at the NSCC. She is an advanced doctoral student in Disability Studies at the University of Illinois at Chicago, focusing on Educational Policy. Her research and policy interests include understanding and improving the social and emotional development of students with learning disabilities as well as implementing successful transitional supports for students from high school to postsecondary life. Darlene has done preliminary research in urban schools in Chicago and New York, and worked with the National Center for Learning Disabilities (NCLD) before joining the NSCC.</p>
          <p><b>Jo Ann Freiberg, Ph.D.</b>Consultant at the Connecticut State Department of Education, manages school climate improvement, bullying and character education. Her doctoral work at The Ohio State University was in professional and classroom based ethics. Her professional career as a classroom teacher, teacher educator and national consultant has been devoted to empowering the adults who teach and work with children to exemplify ethical and respectful behavior in order to create physically, emotionally and intellectually safe and positive learning environments. A member of the Connecticut task force on bullying, she also serves on the National School Climate Council.</p>
          <p><b>Randy Ross, M.A.</b>is a senior consultant at NSCC. She is a former Equity & Diversity Specialist at the New England Equity Assistance Center, The Education Alliance at Brown University. Randy’s work focuses on implementing the Equity-Centered School Climate Model, which includes the importance of distinguishing between bullying and discriminatory harassment. Previously, Randy worked for the New Jersey Attorney General’s Office of Bias Crime and Community Relations, where she initiated and led “New Jersey Cares About Bullying,” a statewide, state-sponsored coalition. Randy is a member of the National School Climate Council.</p>
          <p><b>Jessica Savage, Esq., M.A.</b> is the Policy and Legal Director at the NSCC. She is a graduate of the University of Pennsylvania, where she studied psychology and the Biological Basis of Behavior, Georgetown University Law Center, where she received her J.D., and New York University, where she received a Master's degree in Education Policy and Social Justice. While at NYU she completed a thesis on the causes of, and best practices for preventing, peer-to-peer sexual harassment in school. She has worked with a number of child advocacy organizations, including Children’s Rights, Inc. and the Children’s Defense Fund, and practiced employment law at the New York law firm, Liddle & Robinson, L.L.P. for five years.</p>
          <p><b>Amrit Thapa, Ph.D.</b> is the Research Director at the National School Climate Center (NSCC).. Amrit is also an Adjunct Professor of Economics of Education at Teachers College, Columbia University, and Affiliated Researcher for the Center for Benefit-Cost Studies of Education at Teachers College, Columbia University. . His current research focuses on school climate and economics of education. Amrit’s research papers have been published in peer reviewed international journals such as Review of Educational Research (AERA), International Journal of Educational Development, Education Economics, and International Journal of Applied Behavioral Economics.</p>
          <p><b>Patricia A. Ciccone</b> Superintendent of the Westbrook CT public school district is an experienced educator and administrator. Recently named by ED Week as a “Leader to Learn From,” she retired as Superintendent of Schools for the Connecticut Technical High School System (CTHSS), serving just under 11,000 high school students and adults, and employing 1468 staff. Prior to her positions as Superintendent, she served with the Conn Technical High School System (CTHSS) as an Assistant Principal, Principal, Consultant for Professional Development, and Assistant Superintendent. Her professional experience prior to becoming a school/district leader includes work in Career and Human Resources followed by a successful career with the CT Community College System where she advanced from positions in Career Services and Counseling, to serving as Coordinator of Academic Advising and Director of Student Development. In addition, she serves as both adjunct faculty and university supervisor with the Dept. of Graduate Education at Sacred Heart University, working with aspiring teachers and administrators. She is also a member of the National School Climate Council.</p> -->

					<h2>2017 Summer Institute Faculty/Speakers</h2>
					<p><strong>Dorothy L. Espelage, Ph.D.</strong> (Keynote Speaker) is a Professor of psychology, University of Florida and the former Edward William Gutgsell &amp; Jane Marr Gutgsell Endowed Professor and Hardie Scholar of Education, in the Department of Educational Psychology at the University of Illinois, Urbana-Champaign. She was recently honored with the American Psychological Association&rsquo;s Lifetime Achievement Award in Prevention Science. She is an international expert in bullying, youth aggression, teen dating violence and effective prevention as well as intervention strategies to address these issues. She has authored over 100 papers and books, including Bullying in North American Schools: A Social-Ecological Perspective on Prevention and Intervention (with Susan Swearer) Routledge, 2004), Bullying Prevention and Intervention: Realistic Strategies for Schools, Intervention (with Susan Swearer and Scott A. Napolitano ) (Guilford Press, 2009), and Handbook of Bullying in Schools: an International Perspective Intervention (with Susan Swearer) (Routledge, 2009).</p>
					<p><strong>Kathleen Moroney Porreca, Ed.D.</strong> (keynote Speaker) is has served as principal of Elm Middle School in Elmwood Park, Illinois, a suburb of Chicago since 2008. In her 30 years as an educator, she has worked as a high school English teacher, student council adviser and yearbook adviser, a high school Dean of Students, a high school Assistant Principal, and now a high school Principal. During her time as Principal of the University of Illinois Laboratory High School (Uni High), the Illinois Journalism Education Association named Dr. Porreca its 2006 Administrator of the Year for her support of student press rights.</p>
					<p><strong>Philip Brown, Ph.D.</strong> is a Senior Practice Consultant at NSCC. He has co-lead NSCC&rsquo;s School Climate Leadership Development efforts. He is also a Fellow of the Graduate School of Applied and Professional Psychology at Rutgers University where he founded and directed the Center for Social and Character Development. He has been principal investigator on several U.S. Department of Education grants, including research studies on evidence-based practices. Phil has served in student support services related management positions in the New Jersey Department of Education and the Pennsylvania Department of Health for 25 years, as a school board director, founder and president of the New Jersey Alliance for Social, Emotional and Character Development and is a member of the National School Climate Council. With colleagues from Fordham and Marshall Universities he is co-editor of the Handbook of Prosocial Education (2012).</p>
					<p><strong>Jonathan Cohen, Ph.D.</strong>&nbsp;is the co-founder and president of the National School Climate Center (NSCC). He is the co-director of the Summer Institute. He is an Adjunct Professor in Psychology and Education at Teachers College, Columbia University; co-editor of the International Journal of School Climate and Violence Prevention; and a practicing clinical psychologist and psychoanalyst. Jonathan has worked in and with K-12 schools for over thirty-five years as a teacher, program developer, school psychologist, consultant, psycho-educational diagnostician and mental health provider. He is the author of over 85 articles, chapters and books including the award winning Educating Minds and Hearts: Social Emotional Learning and the Passage into Adolescence (Teachers College Press and the Association for Supervision and Curriculum Development, 1999); Caring Classrooms/Intelligent Schools: Social Emotional Education of Young Children (Teachers College Press; 2001) and (with John Devine) Making your School Safe: Strategies to Protect Children and Promote Learning (Teachers College Press, 2007); and, (with Kristie Fink and Sean Slade) of Integrating Prosocial Learning with Education Standards: School Climate Reform Initiatives (Routledge, 2017). Jonathan has consulted to scores of schools, districts and State Departments of Education interested in furthering social, emotional, ethical and academic education and positive school climate in America, France, Israel, Japan, Peru, and Switzerland.</p>
					<p><strong>Darlene Faster, MA</strong> is NSCC&rsquo;s Chief Operating Officer and Communications Director. Darlene has more than a decade of experience working with schools, districts, and states to integrate whole child reform. She leads NSCC&rsquo;s Comprehensive School Climate Inventory (CSCI) work nationwide, and directly trains school personnel on interpreting their data to create sustained, actionable improvement plans. Darlene is the Project Manager for NSCC&rsquo;s five-year collaboration with Iowa State&lsquo;s Safe and Supportive Schools (IS3) grant, and directs all technical support in partnership with Iowa&rsquo;s principal investigators for the grant. She provides leadership support on all of NSCC&rsquo;s survey-based research and improvement projects, including our multi-year collaborations with Special Olympics Project UNIFY (nationwide), the Capital Regional Education Council in Connecticut (35 districts), and with Detroit RESA (50+ schools). Ms. Faster co-created and launched NSCC&rsquo;s nationwide bully prevention awareness campaign, BullyBust (www.bullybust.org) and the Upstander Alliance, which provides free, concrete prevention supports to more than 3500 schools nationwide. Ms. Faster has done preliminary doctoral research in urban schools in Chicago and New York, and worked with the National Center for Learning Disabilities (NCLD) before joining NSCC. Presently, Darlene serves on the Research Advisory Committee for Special Olympics Project UNIFY.</p>
					<p><strong>Kori Hamilton, M. Ed.</strong> is a Senior Policy and Practice Consultant at NSCC. She is also a senior education equity specialist at the Mid-Atlantic Equity Consortium. Her primary role is to providing technical assistance and professional development to schools and school districts focused on equity with specialization in cultural proficiency, special education, school culture and climate, harassment prevention, and alternative discipline practice. She works with numerous districts to support their resolution of compliance agreements with the US Department of Education&rsquo;s Office for Civil Rights, Department of Justice, as well as other state compliance agencies. Ms. Hamilton has combined her knowledge of practice with skillful resource creation and dissemination through publications, website content management, and a full range of social media tools, improving collaborative efforts with partners and national experts to provide universal and targeted technical assistance to families, educators, and practitioners.</p>
					<p><strong>Serena La Rocque, MA</strong> is the Assistant Director of Education at NSCC as well as being the co-director of the Summer Institute. Over the past eight years, Serena has worked with children, schools, non-profit organizations, and states in the US and Mexico. She has teaching experience, as well as, experience in co-designing, implementing, managing, and evaluating k-12 educational programs. In addition, Serena has worked with New Jersey Department of Education to help edit their curriculum to integrate social emotional learning competencies into the classroom. She received her Masters in Urban Education Policy from Brown University.</p>
					<p><strong>Shannon McCarthy, Ed.M.,</strong> is the Senior Resource Center Manager at NSCC. She is committed to promoting intercultural understanding in the United States and around the world, and believes that young people play a vital role in this work. After graduating from Pitzer College with a B.A. in Gender and Feminist Studies, Shannon completed a year of fulltime service with City Year Los Angeles. She spent two years living in Paris, France, where she worked as a teacher and tutor, and supported a French education company&rsquo;s English language and international programming expansion. Shannon holds a Master of Education in Prevention Science and Practice from the Harvard Graduate School of Education, and is thrilled to continue creating learning environments that foster civic action and social justice.</p>
					<p><strong>Stacie Molnar-Main, Ed.D.</strong> is a Consultant in School Climate and Social Emotional Learning at the Pennsylvania Department of Education. She is the author of many publications, including Integrating Bullying Prevention and Restorative Practices in Schools: Considerations for Practitioners and Policy-makers. Camp Hill, PA: Center for Safe Schools. (www.safeschools.info/content/BPRPWhitePaper2014.pdf)</p>
					<p><strong>Edgar Rivera </strong> is a Policy Associate at NSCC. He has worked within the field of education in a number of capacities, both in the U.S and Guatemala. The majority of his work centers on facilitating an equitable and democratic schooling experience for all children, particularly via the active challenging of the many socio-cultural, institutional, bureaucratic and interpersonal ways in which children and their families experience marginalization in schools. Recently, he worked as a research assistant at the Research Alliance for New York City Schools on the NYC High School Choice study. He received his B.A in Sociology from Vassar College and will receive his M.A in Sociology and Education from Teachers College, Columbia University.</p>

      </div>

      <div class="tab-pane text-style " id="tab3">
        <h2>Before/After the Institute</h2>

        <h2 class="bar">Before the Institute</h2>
          <p>School Leadership Self Study Assessment: Participants will have the option of asking their schools leadership team to complete a school climate leadership Assessment. All schools are ‘ready’ to support school climate improvement efforts. And, all schools – like all people – present with their unique history, strengths, needs and goals. This assessments supports school leaders considering what it will be most helpful to focus on during the Planning and Preparation phase.</p>
          <p>Participants will be invited to bring the following information/documents to the Institute: </p>
          <ul>
            <li>A copy of their current school improvement plan.</li>
            <li>Current district-level bully prevention and/or school climate/safe schools and/or drop out prevention policies.</li>
            <li>Data that is currently used to shape prevention/health promotion efforts (e.g. school climate survey findings; bully informed information/data).</li>
          </ul>

        <h2 class="bar">After the Institute</h2>
          <p>Participants will be provided with access to NSCC’s School Climate Resource Center (SCRC) learning modules: The Five Stage Improvement Process. These modules provide detailed sets of information about the tasks and challenges that shape school climate improvement, protocol and guidelines designed to support educators addressing and mastering these tasks, research about each of the stages, expert voices, and more. Participants will have access to these online resources for two months after the Institute.</p>
          <p>Participants will also be invited to join an online professional learning community that supports K-12 educators, school based mental health professionals, school consultants and others: Promoting teaching and learning.</p>
          <p><b>Provisional School Climate Leadership certification:</b> All participants will receive provisional certification of school climate leadership. Participants will have the option of completing the School Climate Leadership Program. For details about the Leadership program, see: www.schoolclimate.org/si</p>
      </div>

			<div class="tab-pane text-style " id="tab4">
        <h2>Summer Institute <strong>Sponsors</strong></h2>
        <h4 style="color:#00aeef;"><b>NSCC’s 19th Annual Summer Institute is presented in partnership with The Winston Preparatory School</b></h4>
          <b>The Winston Preparatory Schools</b>
          <p>The WPS in NYC and Norwalk, Connecticut are committed to integrating academic, social, emotional and civic learning as well as positive school climate improvement efforts into all facets of school life. Winston is one of the nation’s leading special education’s centers that are committed to educating the whole child. WPS’s mission is to facilitate the independence of individuals with learning problems through assessment driven individualized education, research and outreach.</p>
      </div>

     </div>
		 </div>
		</div>
	</div>
</div>
