article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}html{cursor:default;font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body,form,input,button,select,textarea{font-size:100%;margin:0}a,a:active,a:hover{outline:none}a:focus{outline:thin dotted}abbr{_border-bottom:expression(this.title ? '1px dotted':'none')}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#FF0;color:#000}pre,code,kbd,pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small,sub,sup{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul{list-style:none}audio[controls],canvas,video{display:inline-block;*display:inline}audio{display:none;_display:expression(this.controls ? 'inline':'none');*zoom:1}audio[controls]{display:inline-block}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}legend{*margin-left:-7px}button,input,select,textarea{-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;-webkit-appearance:none;border-radius:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;_overflow:expression(this.type == 'button|reset|submit' ? 'visible':'')}button,input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


 h1 {
	 color: #29C2E5;
 }

 #donationForm a{
	 color: #08c;
	 text-decoration: none;
 }
 #donationForm a:hover{
	 color:#005580;
	 border-bottom: 2px solid #005580;
 }
 #donationForm a:active{
	 top: 1px;
	 position: relative;
	 color: #017cbb;
 }

 /* Form Elements */

.infield > input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"],input[name="donationAmountOther"], #alternate_adddress_suggestion{
	 -webkit-border-radius: 4px 4px 4px 4px;
	 -moz-border-radius: 4px 4px 4px 4px;
	 border-radius: 4px 4px 4px 4px;
	 background-color: rgb(255, 255, 255);
	 border: 2px solid rgb(210, 210, 210);
	 outline: none;
	 padding: 5px 0px 5px 5px;
	 margin: 5px 1px 3px 0;
	 font-size: 1em;
	 font-weight: 500;
	 width: 94%;
	 max-width: 620px;
	 height: 55px;
	 line-height: 45px;
 }

.infield >  input[type="text"]:focus,input[type="select"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, select:focus, textarea:focus {
	   box-shadow: 0 0 5px rgba(65, 59, 147, .6);
		 border: 2px solid rgb(126, 126, 126);
		 color: #000000;
		 /*-webkit-transition: all 0.30s ease-in-out;
		 -moz-transition: all 0.30s ease-in-out;
		 -ms-transition: all 0.30s ease-in-out;
		 -o-transition: all 0.30s ease-in-out;*/
 }

 input[type="radio"] {
	 width: 0px;
	 opacity: 0;
	 position: absolute;
	 left: -99999px;
 }

 input[type=submit]:focus {
		 outline: thin dotted #AAAAAA;
		 outline-offset: -2px;
 }

 select {
	 border: 2px solid #CCCCCC;
	 line-height: 1.25em;
	 font-size: 1em;
	 background-image: none;
	 -moz-background-image:none;
	 background-repeat: no-repeat;
	 background-position: right center;
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 padding: 1em 0.9em 1em 0.7em;
	 -webkit-border-radius: 4px 4px 4px 4px;
	 -moz-border-radius: 4px 4px 4px 4px;
	 border-radius: 4px 4px 4px 4px;
	 outline: none;
 }

 @media screen and (-webkit-min-device-pixel-ratio:0) {
			 select {
         background-color: white;
         padding: 1em 1.2em 1em 0.7em;
		 }
 }

 /*hack to style the dropdown in firefox*/
 @-moz-document url-prefix() {
			 select {
         background-color: white;
         padding: 1em 1.2em 1em 0.7em;
		 }
 }

 textarea{
	 -webkit-border-radius: 4px 4px 4px 4px;
	 -moz-border-radius: 4px 4px 4px 4px;
	 border-radius: 4px 4px 4px 4px;
	 background-color: rgb(255, 255, 255);
	 border: 2px solid rgb(180, 180, 180);
	 outline: none;
	 padding: 8px 0px 5px 5px;
	 margin: 5px 1px 5px 0;
	 font-size: 1em;
	 font-weight: 500;
	 width: 94%;
	 max-width: 620px;
	 height: 100px !important;
	 line-height: 20px;
 }

 .checkbox input {
	 position: absolute;
	 left: -9999px;
 }

 .requiredMark{
	 color: #29C2E5;
 }

 .infield {
	 position: relative;
	 margin-bottom: .5em;
 }

 .infield label {
	 position: absolute;
	 left: 10px;
	 top: 20px;
	 z-index: 10;
	 color: #777777;
	 font-size: 1.15em;
 }
 .checkbox label {
	 font-size: 16px;
	 font-weight: 100;
	 float: left;
	 cursor: pointer;
	 width: auto;
	 display: block;
	 padding-top: 2px;
	 text-indent:-36px;
	 padding-left: 2.3em;
	 }

	 .checkbox label:before {
		 border: 2px solid #CCCCCC;
		 padding: 4px;
		 width:12px;
		 height:12px;
		 line-height:12px;
		 -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		 border-radius: 4px 4px 4px 4px;
		 content:"\00a0";
		 display:inline-block;
		 margin-right: 10px;
		 text-align: center;
		 font-size: 12px;
		 speak: none;
		 font-style: normal;
		 font-weight: normal;
		 font-variant: normal;
		 text-transform: none;
		 -webkit-font-smoothing: antialiased;
		 position:relative;
		 top:-2px;
		 text-indent: 0;
	 }

	 .checkbox label.focused:before {
		 border-color: #7E7E7E;
	 }
	 .checkbox label.on:before {
		 content: "\e001";
		 color: #29C2E5;
	 }

 .checkbox label:focus { background: url(https://www.stjude.org/SJFile/check-off_hoops-focus.png) no-repeat top left; }

 .col-wrap{
	 width: 100%;
	 max-width: 660px;
 }


.preview-close
	 {
		 color: #333333 !important;
		 float: right !important;
		 position: relative !important;
		 top: 13px !important;
		 right: 7px !important;
		 font-size: 18px !important;
		 color: #FFFFFF !important;
	 }

/*	.multifield{
	 max-width: 640px;
	 padding-bottom: 20px;
 }
 .multifield input[type="text"]{
	 width: 50%;
	 float: right;
 }
 */

 /*Test Buttons*/
 input[type=submit] {
	 border: none;
	 font-size: inherit;
	 color: inherit;
	 margin: 0 0 40px 0;
	 letter-spacing: 1px;
	 font-weight: 700;
	 outline: none;
	 position: relative;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 transition: all 0.3s;
	 -webkit-border-radius: 4px 4px 4px 4px;
	 -moz-border-radius: 4px 4px 4px 4px;
	 border-radius: 4px 4px 4px 4px;
	 font-size: 1.5em;
	 font-weight: 200;
	 text-align: center;
	 vertical-align: middle;
	 cursor: pointer;
	 border: 1px transparent solid;
	 color: #FFFFFF;
	 background-color: #29C2E5;
	 display: inline-block;
	 padding: 25px 0;
	 width: 96%;
	 max-width: 380px;
	 min-width: 0;
 }

 #tributeLoadingButton {
	 min-width:255px;
 }

 input[type=submit]:after {
	 content: '';
	 position: absolute;
	 z-index: -1;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 transition: all 0.3s;
	 width: 0%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 background: #FFFFFF;
 }

 input[type=submit]:hover,
 input[type=submit]:active {
	 color: #fff;
	 background: #29C2E5;
 }
 input[type=submit]:active{
	 position: relative;
	 top: 2px;
 }


 /*Modules*/
 #amount{
	 margin-bottom: 2em;
	 max-width: 650px;
	 }
	 #amount:before,
	 #amount:after,
	 .amountOtherWrapper .error:before,
	 .amountOtherWrapper .error:after
		{
			 content: " "; /* 1 */
			 display: table; /* 2 */
	 }

	 #amount:after, .amountOtherWrapper .error:after {
			 clear: both;
	 }

	 #amount, .amountOtherWrapper .error{
			 *zoom: 1;
	 }

	 #amount label {
		 float: left;
		 width: 15.66666666666667%;
		 margin-right: 0.5%;
		 text-align: center;
		 color: #333333;
		 font-size: 1.5em;
		 text-align: center;
		 vertical-align: middle;
		 cursor: pointer;
		 background-color: white;
		 -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		 border-radius: 4px 4px 4px 4px;
		 background-image: none;
		 padding-left: 0;
		 line-height: 85px;
		 }
		 html.no-touch #amount label:hover{
			 background-color: #DDDDDD;
		 }
		 html.no-touch #amount label.selected:hover {
			 background-color: #29C2E5;
		 }
		 #amount label:active{
			 position: relative;
			 top: 1px;
			 background-color: #efefef;
		 }
		 #amount label.selected {
			 color: white;
			 background-color: #29C2E5;
		 }

		 #amount #donationAmountOther{
			 font-size: 3em;
			 text-indent: 60px;
			 float: left;
			 width: 81%;
			 margin-right: 1%;
			 padding:0;
			 /* IE Hack - whm 5/18/13 */
			 display: block;
			 height: 81px;
       line-height: 81px;
		 }
		 .amountOtherWrapper{
			 position: relative;
			 }
		 #otherPaymentChoice-close{
			 position: relative;
			 top: -20px;
		 }
		 #otherPaymentChoice-close:active{
			 top: -19px !important;
		 }
		 #dollarSign{
			 font-size: 3.5em;
			 color: #CCCCCC;
			 margin: 0;
			 position: absolute;
			 top: 0;
			 left: 15px;
		 }
		 #amount .otherClose{
			 position: relative;
			 left: -36px;
			 top: 15px;
			 opacity: .6;
			 }
			 #amount .otherClose:hover{
				 border-bottom: 0;
				 opacity: 1;
			 }
			 #amount .otherClose:active{none
				 top: 16px;
			 }

 #paymentType{
	 margin-bottom: 1em;
	 padding-bottom: 2em;
	 border-bottom: 1px dotted #efefef;
	 }
	 .butterfly #paymentType{
		 width: 47%;
		 margin-right: 3%;
		 float: left;
	 }
	 #paymentType ul{
		 list-style-type: none;
		 margin: 0;
		 padding: 0 0 20px 0;
	 }
	 /* simple clearfix hack */
	 #paymentType ul:before,
	 #paymentType ul:after {
			 content: " "; /* 1 */
			 display: table; /* 2 */
	 }
	 #paymentType ul:after {
			 clear: both;
	 }

	 #paymentType .tabContents .modalLink:hover{
		 background: transparent !important;
	 }
	 /**
		* For IE 6/7 only
		* Include this rule to trigger hasLayout and contain floats.
		*/
	 #paymentType ul {
			 *zoom: 1;
	 }
	 #paymentType ul > li {
			 float: left;
			 display: inline-block;
			 margin-right: .5em;
			 margin-bottom: 1em;
		 }
		 #paymentType ul > li > a {
				 border: 0;
				 border-radius: 0;
				 color: #333333;
				 display: block;
				 background: #CCCCCC;
			 -webkit-border-radius: 2px;
			 -moz-border-radius: 2px;
			 border-radius: 4px 4px 4px 4px;
			 padding: 1em;
			 }
			 #paymentType ul > li > a:hover{
				 color: #000000;
			 }
			 #paymentType a:hover{
				 background: #DDDDDD;
				 border: none !important;
			 }
			 #paymentType a.active{
				 color: #FFFFFF;
				 position: relative;
				 background-color: #29C2E5;
				 }
				 #paymentType a.active:hover{
					 color: #efefef;
				 }

					 #paymentType a#cc-link{
						 width: 206px;
						 padding-left: 100px;
						 background-image: url("../img/cc-icons.png");
						 background-repeat: no-repeat;
						 background-position: 11px 16px;
						 text-indent: -9999px;
						 padding: 1.1em 0;
						 }
						 #paymentType a#cc-link.visa{
							 background-position: 11px -32px;
						 }
						 #paymentType a#cc-link.mastercard{
							 background-position: 11px -80px;
						 }
						 #paymentType a#cc-link.discover{
							 background-position: 11px -128px;
						 }
						 #paymentType a#cc-link.americanexpress{
							 background-position: 11px -176px;
						 }
					 #paymentType a#pp-link{
						 background-image: url(../../../images/expressDonation/odfv2/paypal-icon.png);
						 background-repeat: no-repeat;
						 background-position: 10px 16px;
						 text-indent: -9999px;
						 padding: 1.1em 2em;
					 }
					 #paymentType a#pbc-link{
						 background-image: url(../../../images/expressDonation/odfv2/check-icon.png);
						 background-repeat: no-repeat;
						 background-position: 9px 17px;
						 padding: 1.1em 1em 1.1em 62px;
					 }
				 #accountTypePersonalRB{
					 margin-bottom: .5em;
				 }
				 .method-types {
					 width: 94%;
					 max-width: 620px;
				 }
					 .m-type {
						 float: left;
						 width: 48%;
					 }
						 .m-type.left {
							 padding-right: 2%;
							 width: 50%;
						 }
						 .m-type label {
							 display: inline-block;
							 margin-bottom: .5em;
						 }
						 .m-type select{
							 width: 100%;
						 }
				 .clear {
					 clear: both;
				 }



			 /* This Makes the arrows */
			 #paymentType .active:after, #paymentType .active:before {
				 top: 100%;
				 border: solid transparent;
				 content: " ";
				 height: 0;
				 width: 0;
				 position: absolute;
				 pointer-events: none;
			 }
			 #paymentType .active:after {
				 border-color: rgba(148, 18, 44, 0);
				 border-top-color: #29C2E5;
				 border-width: 15px;
				 left: 50%;
				 margin-left: -15px;
			 }
			 #paymentType .active:before {
				 border-color: rgba(0, 0, 0, 0);
				 border-top-color: ;
				 border-width: 36px;
				 left: 50%;
				 margin-left: -36px;
			 }


			 #paymentType .second{
				 }
				 #paymentType .expirationWrapper{
					 padding-top: .25em;
					 /* to keep year select wrapping in expiration date - whm 5/18/13 */
					 min-width: 310px;
				 }
				 #paymentType .expirationWrapper > div{
					 display: inline-block;
				 }
				 #donationForm #whatsThis{
					 position: absolute;
					 left: 89%;
					 top: 2em;
					 display: block;
					 font-size: .75em;
					 -webkit-border-radius: 15px;
					 border-radius: 15px;
					 width: 20px;
					 height: 20px;
					 line-height: 20px;
					 text-align: center;
					 overflow: hidden;
					 color: #FFFFFF;
					 background-color: #CCCCCC;
				 }
				 #donationForm #whatsThis:active{
					 position: absolute;
				 }
				 #donationForm #whatsThis:hover{
					 color: #FFFFFF !important;
					 background-color: #08c !important;
				 }
				 .butterfly #donationForm #whatsThis{
					 left: 87%;
				 }
				 #pp{
					 color: #1a2a64;
					 font-style: italic;
					 padding: 3em 0;
				 }
				 #pbc .statement p {
					 width: 85%;
					 color: #aaaaaa;
					 font-style: italic;
					 font-size: .90em;
				 }
				 #expYear{
					 position: relative;
					 right: -5px;
				 }

		 .help-text{
			 color: #aaaaaa;
		 }

			 #paymentType .help-text{
				 display: block;
				 clear: both;
				 margin-top: 2em;
				 font-size: .9em;
				 max-width: 600px;
				 color: #aaaaaa;
				 padding: 2em 0;
				 }
				 .help-text img{
					 position: relative;
					 left: 40px;
					 top: 15px;
				 }



 #monthly-row, #amount .radio{
	 margin-bottom: 1em;
 }


 #donationForm #whatsThis:active {
 /*    	top: 2em;  */
		 position: absolute;
 }




	 .tributeTypes{
		 width:50%;
		 float: left;
	 }

	 .tributeTypes .radio div, .cardTypes .radio div{
		 padding-bottom: 10px;
	 }

	 #cardSelection{
		 clear: both;
	 }

	 #tributeFilter{
		 max-width: 640px;
		 min-height: 100px;
	 }

	 #cards {
			max-width: 620px;
	 }

	 #cards .cardSelection{
		 display: inline-block;
		 margin-bottom: 0.5em;
		 -webkit-transform: translateX(0);
		 transform: translateX(0);
		 margin-right: 2%;
	 }

	 #cards label{
		 background-image: none;
		 padding-left: 0;
		 cursor: pointer;
	 }
	 #cards label:hover, #cards label.focused {
		 position: relative;
		 top: 1px;
	 }
	 #cards label:active{
		 position: relative;
		 top: 2px;
	 }
	 #cards label img{
		 width: 100%;
		 display: block;
	 }
	 #cards .card-label label.selected img{
		 border: 3px solid color: #29C2E5 !important;
		 position: relative;
		 }

	 #cards .cardSelection label{
		 display: block;
		 margin: 0 auto;
		 overflow: hidden;
	 }

	 #cards .cardSelection label img{
		 max-width: 100%;
		 border: none;
	 }

	 #emailText .help-text{
		 margin-top: 0;
		 padding: 0;
		 float: left;
		 clear: inherit;
		 margin-top: 20px;
	 }

	 #cardPreview{
		 /*min-height: 340px;*/
		 min-height: 140px;
		 margin-top: 20px;
	 }
	 #cardPreview img{
		 max-height: 300px;
		 width: auto;
	 }

	 #cardPreview ul {
		 list-style-type: none;
		 margin: 0;
		 padding-top: 0 1em;
		 padding-bottom: 1em;
		 }
		 #cardPreview ul li{
			 }

	 #tributesFooter{
		 margin-top: 20px;
			 max-width: 620px;
			 width: 96%;
	 }

	 .tfleft {
		 float: left;
			 width: 70px;
	 }
	 .tfright {
		 float: right;
			 width: 75%;
	 }

	 #tributeButton, #tributeLoadingButton, #tributePaypalLoadingButton {
		 float: right;
		 margin-top: 5px;
	 }

	 #tributeMailCardPreview {
		 background-color: #EFEFEF;
			 border-left: 2px solid #D7D7D7;
		 border-right: 2px solid #D7D7D7;
		 border-bottom: 2px solid #D7D7D7;
		 max-width: 620px;
		 -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		 border-radius: 4px;
		 width: 96%;
		 }
		 #tributeMailCardPreview:after {
				 content: "";
				 display: table;
				 clear: both;
			 }
		 #tributeMailCardPreview h4{
			 width: 100%;
			 text-align: center;
			 font-size: 1.15em;
			 background-color: #d7d7d7;
			 padding: 20px 0;
			 -webkit-border-radius: 4px 4px 0 0;
			 -moz-border-radius: 4px 4px 0 0;
			 border-radius: 4px 4px 0 0;
			 margin-bottom: 0;
		 }
		 #tributeMailCardPreview ul{
			 width: 20%;
			 float: left;
			 margin-top:20px;
		 }
	 #tributeMailCardPreview ul li{
		 margin-bottom: 5px;
	 }
	 #tributeMailCardPreview ul li a{
		 -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		 border-radius: 4px;
		 background-color: #d7d7d7;
		 color: #181818;
		 display: block;
		 padding: 5px;
		 text-align: center;
		 width: 100px;
		 }
		 #tributeMailCardPreview ul li a:hover{
			 background-color: #ffffff;
			 color: #181818;
			 border-bottom: transparent;
			 }
			 #cards .selected{
			 color: #FFFFFF;
			 }
			 #cards div.preview-image {
				 border: 2px solid rgb(210, 210, 210);
				 content: "";
				 padding: 2px;
				 overflow: hidden;
			 }
			 #cards .selected div{
				 border: 2px solid #29C2E5;
			 }
			 #cards .previewOn:after {
				 /* Displays an arrow icon using CSS based icons */
				 content: "";
				 width: 0;
				 height: 0;
				 border-left: 15px solid transparent;
				 border-right: 15px solid transparent;
				 border-top: 15px solid #29C2E5;
				 display: block;
				 margin: auto;
				 margin-bottom: -15px;
			 }

		 #tributeMailCardPreview ul li a.selected{
			 background-color: #29C2E5;
			 color: #FFFFFF;
		 }
		 #tributeMailCardPreview #flashCard{
			 margin: 0 auto;
			 width: 100%;
			 }
			 #tributeMailCardPreview #flashCard embed, #tributeMailCardPreview #cardIFrame{
						 height: 390px;
						 width: 100%;
			 }
			 #tributeMailCardPreview #flashCard embed, #tributeMailCardPreview #flashCard  {
					 height: 451px\9;
					 width: 620px\9;
			 }


	 .mfp-close{
		 /* Moving these styles to .preview-close */
		 /* Sorry I know this is messy. shame. */
	 }

	 .cardSection{
		 width: 70%;
		 float: right;
		 margin-top: 20px;
		 }
		 .cardSection img{
			 width: 98%;
			 margin-right: 2%;
			 height: auto;
			 padding-bottom: 15px;
		 }

	 .jqEasyCounterMsg{
		 margin-top: -40px;
			 max-width: 610px;
			 position: relative;
			 text-align: right;
			 width: 94%;
	 }
	 #donationForm #backButton:hover{
		 border-bottom: none;
	 }
	 #backButton{
		 line-height: 3em;
		 color: #414142 !important;
		 font-size: 1.1em;
	 }
	 #backButton:before{
		 margin-right: 5px;
	 }

 .mfp-content{
	 margin: auto;
	 max-width: 600px;
	 background: #FFFFFF;
	 padding: 2em;
	 }

 .mfp-img-mobile .mfp-content {
	 background: none;
	 padding: 0;
 }

 /* start state */
 .my-mfp-zoom-in .zoom-anim-dialog {
	 opacity: 0;

	 -webkit-transition: all 0.2s ease-in-out;
	 -moz-transition: all 0.2s ease-in-out;
	 -o-transition: all 0.2s ease-in-out;
	 transition: all 0.2s ease-in-out;



	 -webkit-transform: scale(0.8);
	 -moz-transform: scale(0.8);
	 -ms-transform: scale(0.8);
	 -o-transform: scale(0.8);
	 transform: scale(0.8);
 }

 /* animate in */
 .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	 opacity: 1;

	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
 }

 /* animate out */
 .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	 -webkit-transform: scale(0.8);
	 -moz-transform: scale(0.8);
	 -ms-transform: scale(0.8);
	 -o-transform: scale(0.8);
	 transform: scale(0.8);

	 opacity: 0;
 }

 /* Dark overlay, start state */
 .my-mfp-zoom-in.mfp-bg {
	 opacity: 0;
	 -webkit-transition: opacity 0.3s ease-out;
	 -moz-transition: opacity 0.3s ease-out;
	 -o-transition: opacity 0.3s ease-out;
	 transition: opacity 0.3s ease-out;
 }
 /* animate in */
 .my-mfp-zoom-in.mfp-ready.mfp-bg {
	 opacity: 0.8;
 }
 /* animate out */
 .my-mfp-zoom-in.mfp-removing.mfp-bg {
	 opacity: 0;
 }


input.good, #provinceRec.good {
 border: 2px solid #6cba66;
}


/* === Errors === */

.expirationWrapper.error select.creditcardexpiry {
 border: 2px solid red;
}

body p.error, #billingInfo p.error, #pbc .error{
 color: red;
 margin-top: 0;
 font-style: normal;
 text-align: left;
 text-indent: 3px;
}


.alert{
 padding: 8px 35px 8px 14px;
 margin: 1em 0;
 max-width: 620px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
}



/* === This is so things fold gracefully on the butterfly === */
@media (max-width:1200px){
		 .butterfly h1 img{
			 max-width: 120px;
			 margin: 0 auto;
		 }
		 .butterfly input[type=submit],
		 .butterfly .thinking{
			 font-size: 1em;
		 }
		 #topNav{
			 bottom: 90px;
			 }
							 .m-type {
										 width: 100%;
										 margin-bottom: .5em;
							 }
							 .m-type.left {
															 padding: 0;
															 width: 100%;
							 }
	 }
	 @media (max-width:1310px){
			 .butterfly #paymentType a#cc-link,
			 .butterfly #paymentType a#pp-link,
			 .butterfly #paymentType a#pbc-link {
				 width: auto;
				 padding: 10px;
				 background-image: none;
				 text-indent: 0;
			 }
			 .butterfly #pp {
					 padding: 1em;
			 }
	 }
	 @media (max-width:1490px){
			 .butterfly .help-text img {
				 position: auto;
				 left: auto;
				 margin-top: .5em;
				 padding-left: 5px;
			 }
	 }
	 @media (max-width:950px){
		 #paymentType .expirationWrapper {
				 min-width: 240px;
		 }
		 .butterfly input[type=submit],
		 .butterfly .thinking {
			 padding-left: 0.2em;
			 padding-right: 0.2em;
		 }
		 .butterfly #paymentType ul > li{
			 margin-right: 0.2em;
		 }
		 .butterfly #paymentType a#cc-link,
		 .butterfly #paymentType a#pp-link,
		 .butterfly #paymentType a#pbc-link {
			 font-size: 0.9em;
		 }
	 }

	 @media (max-width:850px) {

		 .butterfly #pageWrapper{
			 position: relative;
			 padding: 1.5em !important;
			 margin-bottom: 200px;
		 }
		 .butterfly h1 img {
			 max-width: 160px;
			 margin: 0 auto;
			 margin: 1em 0 0 1em;
		 }
		 #billingInfo h3{
			 display:block;
		 }
		 #paymentType .expirationWrapper{
			 /* whm 5/18/13 */
			 min-width: 240px;
		 }
		 header {
			 padding: 1em 5%;
		 }
 .logo-wrap div {
	 position: relative;
	 float: left;
	 padding: 0 1%;
	 height: 110px;
	 box-sizing: border-box;
 }
 .logo-wrap div img {
	 position: relative;
	 top: 50%;
	 -webkit-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 transform: translateY(-50%);
	 box-sizing: border-box;
 }
			 header .logo {
				 float: left;
			 }
			 .extra-logo-wrap {
				 width: auto;
			 }
			 .extra-logo-wrap:before {
				 top: 50%;
				 left: 20px;
				 bottom: auto;
				 margin: 0;
				 margin-top: -20px;
				 height: 40px;
				 border-left: solid 1px #CCC;
				 border-bottom: 0;
			 }
			 header h1.icon-logo {
				 font-size: 6.8em;
				 padding: 0;
			 }
			 header .phone-donate {
				 width: auto;
				 padding: 0;
				 margin:0;
				 bottom: 60px;
				 right: 40px;
			 }
			 .extra-logo {
				 float: left !important;
				 padding: 0 0 0 2.6em !important;
				 margin: .3em 0;
				 max-height: 85px;
				 max-width: 100% !important;
				 width: auto;
			 }
	 }

	 @media (max-width:600px){

		 body.butterfly #pageWrapper{
			 padding: 1.5em;
		 }
		 body.butterfly header{
			 height: 190px;
		 }

		 body.butterfly h1 img {
			 max-width: 120px;
			 float: none;
			 margin: 0 auto;
		 }
		 .butterfly #billingInfo{
			 width: 100%;
			 float: auto;
		 }
		 .butterfly #paymentType{
			 width: 100%;
			 margin-right: 0;
			 float: auto;
		 }
		 .butterfly #amount label {
			 float: left;
			 width: 30%;
			 margin-right: 2%;
			 margin-bottom: .25em;
			 }
			 .butterfly #otherPaymentChoice-close{
				 display: none;
			 }
			 .butterfly #donationAmountOther {
					 width: 100%;
			 }
			 .butterfly #paymentType a#cc-link, .butterfly #paymentType a#pp-link, .butterfly #paymentType a#pbc-link{
				 width: auto;
				 padding: 10px;
				 background-image: none;
				 text-indent: 0;
			 }
			 .butterfly #pp {
					 padding: 1em;
			 }
			 .butterfly #paymentType .second{
				 width: 100%;
				 float: auto;
			 }
			 .butterfly #billingInfo{
				 margin-bottom: 0;
			 }
			 .butterfly #billingInfo h3, .butterfly #country-text{
				 float: auto;
				 width: 100%;
			 }
			 .butterfly #billingInfo #country-text, .butterfly #country-select{
				 margin-bottom: 1em;
				 text-align: left;
			 }
			 .butterfly .zipWrapper,
			 .butterfly .stateFieldWrapper,
			 .butterfly .countryFieldWrapper{
				 width: 100%;
				 float: auto;
			 }
			 .butterfly #billingInfoFooter {
				 padding-left: 0;
			 }
			 .butterfly .foot-logo{
				 display: none;
			 }
			 .butterfly #billingInfoFooter .security-state{
				 width: 100%;
				 float: none;
				 padding: 1em 0;
				 text-align: left;
			 }
			 .incentive #monthly-content {
				 margin-right: 0;
			 }
			 .incentive #incentive-image {
				 float: none;
				 margin: 0;
				 width: 100%;
			 }
		 }
		 .logo-wrap {
			 overflow
		 }


/* === iPads (portrait and landscape) === */

@media (max-width:850px){

 header,
 .butterfly header {
	 position: relative !important;
	 z-index: 100;
	 height: 200px;
	 min-height: inherit !important;
	 width: 100%;
	 max-width: 100%;
 }
 #pageWrapper,
 .butterfly #pageWrapper{
	 position: relative;
	 left: 0;
	 padding: 3em;
	 margin-bottom: 200px;
 }

 h1 img,
 .butterfly h1 img{
	 max-width: 160px;
	 float: left;
	 margin: 1em 0 0 1em;
 }

 #donationForm #whatsThis{
	 left: 90%;
 }

 .infield label{
	 position:static;
	 display:inline-block;
	 width:100%;

 }

 .stateFieldWrapper label {
	 position:static;
	 display:inline-block;
	 width:100%;
	 color: #777777;
		 font-size: 1.15em;

 }


 /* the important is used because there is
 a inline style tag in one of the Jquery
 files that needs to be changed.It would require some
 work on the page once changed. -K.Grandberry 8/5/16 */
 .tabContents input {
	 text-indent:10px !important;
 }

 #billingInfo input {
	 text-indent:10px !important;
 }

 #donationForm #whatsThis {
	 top: 0em;
 }
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width:600px){

 .infield label{
	 position:static;
 }


 .stateFieldWrapper label {
	 position:static;
	 display:inline-block;
	 width:100%;
	 color: #777777;
		 font-size: 1.15em;

 }

 /* the important is used because there is
 a inline style tag in one of the Jquery
 files that needs to be changed.It would require some
 work on the page once changed. -K.Grandberry 8/5/16 */

 .tabContents input {
	 text-indent:10px !important;
 }

 #billingInfo input {
	 text-indent:10px !important;
 }

 #donationForm #whatsThis {
	 top: 0em;
 }

 .extra-logo-wrap {
	 text-align: center;
	 width: 50%;
 }
 .extra-logo-wrap:before {
	 left: 0;
 }
 .extra-logo {
	 display: inline-block;
	 float: none !important;
 }
 .logo-wrap div:first-child:nth-last-child(1) {
	 width: 100%;
 }
 .logo-wrap div:first-child:nth-last-child(2),
 .logo-wrap div:first-child:nth-last-child(2) ~ div {
	 width: 50%;
 }

 #alternate_adddress_suggestion {right:4em }

 h2#mainheader, h2#tributeheader {
		 line-height: 35px;
 }

 #header .logo {
	 position: static;
	 left: auto;
	 bottom: auto;
	 width: 100%;
 }
	 #header h1.icon-logo {
		 display: inline-block;
		 font-size: 6em;
	 }

 h1 img {
	 max-width: 120px;
	 float: none;
	 margin: -.6em auto;
 }

 h2#mainheader, h2#tributeheader{
	 font-size: 1.5em;
	 font-weight: bold;
	 margin-bottom: .5em;
 }

 #header .phone-donate {
	 position: absolute;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 2px;
	 line-height: 2em;
	 text-align: center;
	 width: 100%;
	 background-color: #DDD;
	 font-size: .65em;
	 -webkit-border-radius: 0;
	 -moz-border-radius: 0;
	 border-radius: 0;
 }
 #amount label {
	 float: left;
	 width: 30%;
	 margin-right: 2%;
	 margin-bottom: .25em;
	 }
	 #otherPaymentChoice-close{
		 display: none;
	 }
	 #amount .otherClose,
	 #amount .otherClose:active {
		 left: auto;
		 right: 5px;
		 position: absolute;
	 }
	 #amount #donationAmountOther {
			 width: 100%;
	 }
	 #paymentType a#cc-link, #paymentType a#pp-link, #paymentType a#pbc-link{
		 width: auto;
		 padding: 10px;
		 background-image: none;
		 text-indent: 0;
	 }
	 #pp {
			 padding: 1em;
	 }
	 #paymentType .second{
		 width: 100%;
		 float: auto;
	 }
	 #donationForm #whatsThis{
		 left: 87%;
	 }
	 #billingInfo{
		 margin-bottom: 0;
	 }
	 #billingInfo h3, #country-text{
		 float: auto;
		 width: 100%;
	 }
	 #billingInfo #country-text, #country-select{
		 width: 90%;
		 margin-bottom: 1em;
		 text-align: left; s
	 }
	 .zipWrapper,
	 .stateFieldWrapper,
	 .countryFieldWrapper{
		 width: 100%;
		 float: auto;
	 }
	 .foot-logo{
		 display: none;
	 }
	 #billingInfoFooter .security-state{
		 width: 100%;
		 float: none;
		 padding: 1em 0;
		 text-align: left;
	 }
	 input[type=submit], .thinking{
		 font-size: 1em;
		 margin-top: 30px;
	 }

	 #tributesFooter {
		 width: 100%;
	 }

	 .tfleft, .tfright {
		 float:none;
	 }

	 .tfleft {
		 margin-bottom: 20px;
	 }

	 .tfright {
		 width: 100%;
	 }

	 #tributeButton, #tributeLoadingButton {
			 float: none;
			 margin-right: 0;
			 padding-left: 0;
			 padding-right: 0;
	 }
	 #tributeMailCardPreview ul {
			 float: none;
			 margin: 5px auto 0 auto;
			 width: 100%;
			 padding: 0 0 0 5px;
	 }
	 #cardPreview ul {
			 padding-bottom: 0;
	 }
	 #tributeMailCardPreview ul li {
				display: inline-block;
			 margin-right: 3px;
	 }
	 #tributeMailCardPreview ul li a {
			 font-size: 0.75em;
			 width: 50px;
	 }
	 #tributeFilter label {
		 font-size: 0.8em;
	 }
	 .cardSection {
			 float: none;
			 margin: 20px auto 0;
			 margin-top: 20px;
			 width: 90%;
	 }
	 #cardPreview img {
			 max-height: none;
			 width: 100% !important;
	 }

	 html .mfp-inline-holder .mfp-content,
	 html .mfp-ajax-holder .mfp-content{ /* Fixes Magnific Popup on iPhones. The padding we've added for other devices is too much for iPhone */
		 padding: 1em;
		 width: 85%;
	 }
	 #printReceipt,
	 .conf_share{
		 width: 34%;
		 padding-top: 20px;
		 padding-bottom: 60px;
	 }

	 #tributeMailCardPreview #cardIFrame{
		 height: 200px;
	 }

	 input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"] {
			 width: 98%
	 }

	 .method-types{
		 width: 100%;
	 }
	 .m-type select {
		 width: 98%;
	 }


}

/* Retina iPhones (landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

 #tributeMailCardPreview ul {
		 float: none;
		 margin: 5px auto 0 auto;
		 width: 100%;
		 padding: 0 0 0 5px;
 }

 #cardPreview ul {
	 padding-bottom: 0;
 }

 #tributeMailCardPreview ul li {
		 display: inline-block;
		 margin-right: 3px;
 }

 #tributeMailCardPreview ul li a {
		 font-size: 0.75em;
		 width: 50px;
 }

 .cardSection {
		 float: none;
		 margin: 20px auto 0;
		 margin-top: 20px;
		 width: 90%;
 }

 #cardPreview img {
		 max-height: none;
		 width: 100% !important;
 }

}

/* IE 10 fix for "X" showing in input fields --------- */
input::-ms-clear {
 display: none; /* Disables black X on text fields in IE10+ */
}


/*-----------------------------------------------------------------------------*\
 CASL related styling
\*-----------------------------------------------------------------------------*/
#stayConnectedCBLabel{margin-bottom:2em;}
/*-----------------------------------------------------------------------------*\
 PayPal style
\*-----------------------------------------------------------------------------*/
#paymentType.ppStyle{
 border-bottom: 0px;
 margin-bottom: 0em;
 padding-bottom: 0em;
 padding: 0em;
 }
#pp.ppStyle{
 border-bottom: 0px;
 margin-bottom: 0em;
 padding-bottom: 0em;
 padding: 0em;
 }
#billingInfo.ppStyle{
 border-bottom: 0px;
 margin-bottom: 0em;
 padding-bottom: 0em;
 padding: 0em;
 }

 .h3-color{
     color: #181818;
 }
 video {
     position: fixed;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -100;
     transform: translateX(-50%) translateY(-50%);
  background: url('img/Everest.jpg') no-repeat;
   background-size: cover;
   transition: 1s opacity;
 }

 #polina {
   background: #fff;
 }
.swal2-confirm{
  background-color: #29c2e5 !important;
}
