#headerWrapper {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #fff;
}

#article{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div#article {
    position: relative;
    z-index: 5;
}

#article p{
  font-size: 16px;
}

#subHeroWrapper {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 6em;
}

#subHeroWrapper .row {
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

#subHeroWrapper h1, #videoHero h1, #hero h1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #FFF;
    line-height: 1em;
}

#subHeroWrapper img {
    position: relative;
    z-index: 1;
    width: 100%;
}

#secondaryNavWrapperDropDown {
    background: #333333;
    width: 100%;
}

#secondaryNavWrapper {
    background: #333333;
    width: 100%;
    height: auto;
    display: block;
    overflow: auto;
    position: relative;
    z-index: 200;
}

.row .row.collapse:after, .row .row.collapse:before, .row .row:after, .row .row:before, .row:after, .row:before {
    content: " ";
    display: table;
}

.clearfix:after, .row .row.collapse:after, .row .row:after, .row:after {
    clear: both;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vertical-align {
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: justify;
}

.row {
    margin: 0 auto;
    max-width: 1280px;
}

.sectionRowTwoColumns p {
    margin: 0;
    padding: 0;
    direction: ltr;
    color: rgba(0,0,0,.5);
}

.sectionRowTwoColumns p + p {
    margin-top: 1.2em;
}

.sectionRowTwoColumns h1{
    margin: 0;
    padding: 0;
    line-height: 1.25em;
    color: #0b56a8;
    font-weight: bold;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row .row.collapse:after, .row .row.collapse:before, .row .row:after, .row .row:before, .row:after, .row:before {
    content: " ";
    display: table;
}

.white {
    color: #fff;
}


.column, .columns {
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
}

.column, .columns, .xsmall-pull-0, .xsmall-pull-1, .xsmall-pull-10, .xsmall-pull-11, .xsmall-pull-2, .xsmall-pull-3, .xsmall-pull-4, .xsmall-pull-5, .xsmall-pull-6, .xsmall-pull-7, .xsmall-pull-8, .xsmall-pull-9,
.xsmall-push-0, .xsmall-push-1, .xsmall-push-10, .xsmall-push-11, .xsmall-push-2, .xsmall-push-3, .xsmall-push-4, .xsmall-push-5, .xsmall-push-6, .xsmall-push-7, .xsmall-push-8, .xsmall-push-9 {
    position: relative;
}

.hide-for-large-down, .hide-for-medium-down, .hide-for-small, .hide-for-small-down, .hide-for-small-only, .hide-for-small-up, .hide-for-xlarge-down, .hide-for-xxlarge-down, .show-for-large, .show-for-large-only, .show-for-large-up, .show-for-medium, .show-for-medium-only, .show-for-medium-up, .show-for-xlarge, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge, .show-for-xxlarge-only, .show-for-xxlarge-up {
    display: none!important;
}

.hide-for-large, .hide-for-large-only, .hide-for-large-up, .hide-for-medium, .hide-for-medium-only, .hide-for-medium-up, .hide-for-xlarge, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .show-for-large-down, .show-for-medium-down, .show-for-small, .show-for-small-down, .show-for-small-only, .show-for-small-up, .show-for-xlarge-down, .show-for-xxlarge-down {
    display: inherit!important;
}

img {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

.icon-bar>* i, img {
    vertical-align: middle;
}

.secondary-nav {
    width:500px;
    /*margin-left: 34% !important;*/
    margin:0 auto;
    list-style: none;
}

.secondary-nav a:active, a:hover {
    outline: 0;
    color: #498fff !important;
}

.secondary-nav li {
    display: block;
    float: left;
    padding: 0.6em 0.025em;
    font-size: 1em;
    text-transform: uppercase;
}

.secondary-nav li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #333333;
    padding: 0.75em 1em;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.sectionRowTwoColumns {
    width: 100%;
    padding: 5em 0;
}

.text-center {
    text-align: center!important;
}

.button, .atcb-link, #secondaryNavWrapperDropDown .f-dropdown li, .sub-nav li,
.off-canvas-list, .main-menu, input[type="submit"].ninja-forms-field, #secondaryNavWrapperDropDown
.dropdown, .side-nav, .secondary-nav, .tabs .tab-title > a, .accordion .accordion-navigation > a,
.accordion dd > a, h1, h2, h3, h6, h7 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

dl, ol, ul {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
}

ul, ol {
    margin-left: 2.5em;
    margin-bottom: 1.25em;
    font-size: .95em;
}

.column+.column:last-child, .column+.columns:last-child, .columns+.column:last-child, .columns+.columns:last-child {
    float: right;
}

.column-image {
    width: 60%;
}

.bg-gradient-bar {
    background: url(../img/bg-gradient-bar.png) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 10px;
    clear: both;
    display: block;
    margin-top: -1px;
}

#secondaryNavWrapperDropDown button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#secondaryNavWrapperDropDown button {
    font-size: 1.1em;
    letter-spacing: normal;
    border: none;
    color: #fff !important;
    background-color: transparent !important;
    padding: 0.75em 3em;
}

.dropdown.button,
button.dropdown {
    position: relative;
    padding-right: 3.5625rem
}

.dropdown.button::after,
button.dropdown::after {
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    width: 0;
    border-width: .375rem;
    right: 1.40625rem;
    margin-top: -.15625rem;
    border-color: #fff transparent transparent
}

 #secondaryNavWrapperDropDown .f-dropdown li,  #secondaryNavWrapperDropDown .dropdown > a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.f-dropdown,
.f-dropdown.drop-left,
.f-dropdown.drop-right {
    list-style: none;
    max-height: none
}

.f-dropdown.content>:last-child,
.f-dropdown.drop-left>:last-child,
.f-dropdown.drop-right>:last-child,
.f-dropdown.drop-top>:last-child,
.f-dropdown>:last-child {
    margin-bottom: 0
}

.f-dropdown {
    position: absolute;
    width: 100%
}

.f-dropdown,
.f-dropdown.drop-left,
.f-dropdown.drop-right,
.f-dropdown.drop-top {
    background: #fff;
    font-size: .875rem
}

.f-dropdown {
    display: none;
    left: -9999px;
    margin-left: 0;
    border: 1px solid #ccc;
    height: auto;
    z-index: 89;
    margin-top: 2px;
    max-width: 200px
}

.f-dropdown:after,
.f-dropdown:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute
}

.f-dropdown.drop-left,
.f-dropdown.drop-left>:first-child,
.f-dropdown.drop-right>:first-child,
.f-dropdown>:first-child {
    margin-top: 0
}

.f-dropdown.open {
    display: block
}

.f-dropdown:before {
    border: 6px inset;
    border-color: transparent transparent #fff;
    border-bottom-style: solid;
    top: -12px;
    left: 10px;
    z-index: 89
}

.f-dropdown:after {
    border: 7px inset;
    border-color: transparent transparent #ccc;
    border-bottom-style: solid;
    top: -14px;
    left: 9px;
    z-index: 88
}

.f-dropdown.right:before {
    left: auto;
    right: 10px
}

.f-dropdown.right:after {
    left: auto;
    right: 9px
}

.f-dropdown.drop-right {
    display: none;
    left: -9999px;
    position: absolute;
    border: 1px solid #ccc;
    height: auto;
    width: 100%;
    z-index: 89;
    margin-top: 0;
    margin-left: 2px;
    max-width: 200px
}

.f-dropdown.drop-right:after,
.f-dropdown.drop-right:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute
}

.f-dropdown.drop-right.open {
    display: block
}

.f-dropdown.drop-right:before {
    border: 6px inset;
    border-color: transparent #fff transparent transparent;
    border-right-style: solid;
    top: 10px;
    left: -12px;
    z-index: 89
}

.f-dropdown.drop-right:after {
    border: 7px inset;
    border-color: transparent #ccc transparent transparent;
    border-right-style: solid;
    top: 9px;
    left: -14px;
    z-index: 88
}

.f-dropdown.drop-left {
    display: none;
    left: -9999px;
    position: absolute;
    border: 1px solid #ccc;
    height: auto;
    width: 100%;
    z-index: 89;
    margin-left: -2px;
    max-width: 200px
}

.f-dropdown.drop-left:after,
.f-dropdown.drop-left:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    left: auto;
    position: absolute
}

.f-dropdown.content,
.f-dropdown.drop-top {
    list-style: none;
    margin-left: 0;
    max-height: none;
    max-width: 200px
}

.f-dropdown.drop-left.open {
    display: block
}

.f-dropdown.drop-left:before {
    border: 6px inset;
    border-color: transparent transparent transparent #fff;
    border-left-style: solid;
    top: 10px;
    right: -12px;
    z-index: 89
}

.f-dropdown.drop-left:after {
    border: 7px inset;
    border-color: transparent transparent transparent #ccc;
    border-left-style: solid;
    top: 9px;
    right: -14px;
    z-index: 88
}

.f-dropdown.drop-top {
    display: none;
    left: -9999px;
    position: absolute;
    border: 1px solid #ccc;
    height: auto;
    width: 100%;
    z-index: 89;
    margin-top: -2px
}

.f-dropdown.drop-top:after,
.f-dropdown.drop-top:before {
    content: "";
    height: 0;
    width: 0;
    top: auto;
    right: auto;
    display: block;
    position: absolute
}

.f-dropdown.content>:first-child,
.f-dropdown.drop-top>:first-child {
    margin-top: 0
}

.f-dropdown.drop-top.open {
    display: block
}

.f-dropdown.drop-top:before {
    border: 6px inset;
    border-color: #fff transparent transparent;
    border-top-style: solid;
    bottom: -12px;
    left: 10px;
    z-index: 89
}

.f-dropdown.drop-top:after {
    border: 7px inset;
    border-color: #ccc transparent transparent;
    border-top-style: solid;
    bottom: -14px;
    left: 9px;
    z-index: 88
}

.f-dropdown li {
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.125rem;
    margin: 0
}

.f-dropdown li:focus,
.f-dropdown li:hover {
    background: #eee
}

.f-dropdown li a {
    display: block;
    padding: .5rem;
    color: #555
}

.f-dropdown.content {
    display: none;
    left: -9999px;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    font-size: .875rem;
    height: auto;
    padding: 1.25rem;
    width: 100%;
    z-index: 89
}

.f-dropdown.content.open {
    display: block
}

.f-dropdown.radius {
    border-radius: 3px
}

.f-dropdown.tiny {
    max-width: 200px
}

.f-dropdown.small {
    max-width: 300px
}

.f-dropdown.medium {
    max-width: 500px
}

.f-dropdown.large {
    max-width: 800px
}

.f-dropdown.mega {
    width: 100%!important;
    max-width: 100%!important
}

.f-dropdown.mega.open {
    left: 0!important
}


@media only screen and (min-width: 20em){
  .column.small-centered:last-child, .columns.small-centered:last-child {
      float: none;
  }

  .column.small-centered, .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .small-10 {
    width: 83.33333%;
  }

  .small-12 {
    width: 100%;
  }

  .column, .columns {
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
  }

  .column, .columns, .small-pull-0, .small-pull-1, .small-pull-10, .small-pull-11, .small-pull-2, .small-pull-3, .small-pull-4, .small-pull-5, .small-pull-6, .small-pull-7, .small-pull-8, .small-pull-9,
  .small-push-0, .small-push-1, .small-push-10, .small-push-11, .small-push-2, .small-push-3, .small-push-4, .small-push-5, .small-push-6, .small-push-7, .small-push-8, .small-push-9 {
    position: relative;
  }
}

@media only screen and (min-width: 45em){
  .column.medium-centered:last-child, .columns.medium-centered:last-child {
      float: none;
  }

  .column.medium-centered, .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .medium-5 {
    width: 41.66667%;
  }

  .medium-7 {
    width: 58.33333%;
  }

  .medium-8 {
    width: 66.66667%;
  }

  .medium-12 {
    width: 100%;
  }

  .column, .columns {
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
  }

  .column, .columns, .medium-pull-0, .medium-pull-1, .medium-pull-10, .medium-pull-11, .medium-pull-2, .medium-pull-3, .medium-pull-4, .medium-pull-5, .medium-pull-6, .medium-pull-7, .medium-pull-8, .medium-pull-9,
  .medium-push-0, .medium-push-1, .medium-push-10, .medium-push-11, .medium-push-2, .medium-push-3, .medium-push-4, .medium-push-5, .medium-push-6, .medium-push-7, .medium-push-8, .medium-push-9,
  .pull-0, .pull-1, .pull-10, .pull-11, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .push-0, .push-1, .push-10, .push-11, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9 {
    position: relative;
  }

  .hide-for-large, .hide-for-large-only, .hide-for-large-up, .hide-for-small, .hide-for-small-down, .hide-for-small-only, .hide-for-xlarge, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .show-for-large-down, .show-for-medium, .show-for-medium-down, .show-for-medium-only, .show-for-medium-up, .show-for-small-up, .show-for-xlarge-down, .show-for-xxlarge-down {
    display: inherit!important;
  }

  .hide-for-large-down, .hide-for-medium, .hide-for-medium-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-small-up, .hide-for-xlarge-down, .hide-for-xxlarge-down, .show-for-large, .show-for-large-only, .show-for-large-up, .show-for-small, .show-for-small-down, .show-for-small-only, .show-for-xlarge, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge, .show-for-xxlarge-only, .show-for-xxlarge-up {
    display: none!important;
  }
}


@media only screen and (min-width: 64.0625em){
  .column.large-centered:last-child, .columns.large-centered:last-child {
      float: none;
  }

  .column.large-centered, .columns.large-centered {
      margin-left: auto;
      margin-right: auto;
      float: none;
  }

  .large-5 {
    width: 41.66667%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.33333%;
  }

  .large-12 {
    width: 100%;
  }

  .column, .columns {
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
  }

  .column, .columns, .large-pull-0, .large-pull-1, .large-pull-10, .large-pull-11, .large-pull-2, .large-pull-3, .large-pull-4, .large-pull-5, .large-pull-6, .large-pull-7, .large-pull-8, .large-pull-9,
  .large-push-0, .large-push-1, .large-push-10, .large-push-11, .large-push-2, .large-push-3, .large-push-4, .large-push-5, .large-push-6, .large-push-7, .large-push-8, .large-push-9,
  .pull-0, .pull-1, .pull-10, .pull-11, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .push-0, .push-1, .push-10, .push-11, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9 {
    position: relative;
  }

  .hide-for-medium, .hide-for-medium-down, .hide-for-medium-only, .hide-for-small, .hide-for-small-down, .hide-for-small-only, .hide-for-xlarge, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .show-for-large, .show-for-large-down, .show-for-large-only, .show-for-large-up, .show-for-medium-up, .show-for-small-up, .show-for-xlarge-down, .show-for-xxlarge-down {
    display: inherit!important;
  }

  .hide-for-large, .hide-for-large-down, .hide-for-large-only, .hide-for-large-up, .hide-for-medium-up, .hide-for-small-up, .hide-for-xlarge-down, .hide-for-xxlarge-down, .show-for-medium, .show-for-medium-down, .show-for-medium-only, .show-for-small, .show-for-small-down, .show-for-small-only, .show-for-xlarge, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge, .show-for-xxlarge-only, .show-for-xxlarge-up {
    display: none!important;
  }

}

@media only screen and (max-width: 414px) {
  .secondary-nav {
    width:386px;
  }
}


@media only screen and (max-width: 375px) {
  .secondary-nav {
    width:274px;
  }
}


@media only screen and (max-width: 320px) {

	.header{
		padding-bottom: 0px;
	}

	.page-container{
	 	margin-top: 0px !important;
	}

  .secondary-nav {
    width:274px;
  }
}
