@media (min-width: 767px){

  .footer-section img.img-responsive {
    float:none;
  }
  .page-container {
    margin-top: 0px;
  }

  .header-banner{
    margin-top: 20px !important;
  }





}

@media (max-width: 768px)
{
  .responsive-banner{
    width: 100% !important;
  }
}
