title = "Measuring School Climate - National School Climate Center"
url = "/school-climate/school-climate"
layout = "default"
is_hidden = 0
==
<!-- bloc-26 -->
<div class="bloc bg-classroom-1024x384 tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Measuring School Climate
				</h3>
		    <a href="/about/contact-us" class="btn   btn-lg btn-bright-cerulean">Contact us</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-26 END -->

<div class="bloc bgc-white l-bloc" id="bloc-38">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">
          <nav class="nav-sidebar">
      		<ul class="nav-tab-2 nav tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Measuring School Climate</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">CSCI</a></li>
                <li class=""><a href="#tab3" data-toggle="tab">Community Scale</a></li>
                <li class=""><a href="#tab4" data-toggle="tab">Readiness and/or Process Assessments</a></li>
                <li class=""><a target="_blank" href="{{'assets/pdf/csci/faqs-csci-december-2014.pdf'|theme}}" >FAQs for Researchers</a></li>
      		</ul>
      	</nav>
      </div>
      <!-- tab content -->
      <div class="tab-content tab-content-1">
        <div class="tab-pane active text-style col-md-8" id="tab1">
          <h2>Measuring <span>School Climate</span></h2>
          <p>Research shows that a positive school climate directly impacts telling indicators for success such as higher student achievement, lower dropout rates, decreased incidences of violence, and increased teacher retention.</p>
          <p>Measuring school climate is a data driven strategy that recognizes the social, emotional and civic as well as intellectual aspects of K-12 student learning. Measuring school climate is also an effective strategy that engages students, parents/guardians, school personnel and community members learning and working together to create safe, supportive, engaging, helpfully challenging and joyful K-12 schools.</p>
          <p>The U.S. Center for Disease Control and Prevention recommends school climate reform as a scientifically sound strategy that promotes healthy relationships, school connectedness and dropout prevention. The Institute of Education Sciences (IES) includes school climate as a strategy for drop out prevention. And, the U.S Department of Education recommends school climate reform as an evidence-based strategy to prevent violence. In fact, the U.S. Department of Education is investing in school climate improvement efforts as a fundamentally important school reform strategy.</p>
          <p>NSCC has taken an international leadership role developing four forms of school climate measurement:</p>
          <h2 class="bar">The Comprehensive School Climate Inventory (CSCI)</h2>
          <div class="indent-block">
              <p>The Comprehensive School Climate Inventory (CSCI) is one of the nation’s most scientifically sound and helpful surveys that provide immediate feedback on how students, parents, and school personnel perceive your school's particular climate for learning. Vetted by the National School Climate Council, three independent reviews of school climate measures, a core group of practice and policy leaders, the CSCI is considered to be one of the top school climate surveys in the field.This social, emotional and civic as well as intellectual information provides a foundation for the
               <a href="/school-climate/school-climate-improvement-process">five-stage school climate improvement process</a>. <a target="_blank" href="{{'assets/pdf/measuring-school-climate/faqs-csci-december-2014.pdf'|theme}}">Click here</a> to read Frequently Asked Questions for Researchers.</p>
          </div>
          <h2 class="bar">Community Scale and the School-Community Partnership Process</h2>
          <div class="indent-block">
              <p>The Community Scale recognizes the “voice” of community members and leaders with a new <em>Community Scale</em> that can be used with our CSCI or any other school climate assessment and the <em>School-Community Partnership Process</em> that engages students to build helpful partnerships that substantively support school climate and prosocial educational reform efforts.</p>
          </div>
          <h2 class="bar">Assessing Readiness and Process of Improvement</h2>
          <div class="indent-block">
              <p><em>Readiness Assessment:</em> All schools are “ready” to embark on a school climate improvement process. But, all schools &ndash; like all people &ndash; present with an array of strengths and needs. The Readiness Assessment was designed to support Principals and their leadership teams in measuring and understanding current strengths, needs and readiness to embark on the next phase of school climate improvement. The Readiness Assessment is a part of NSCC’s <a href="//scrc.schoolclimate.org/">School Climate Resource Center</a>.</p>
              <p><em>Process or “End of Stage” Assessments:</em>
                  <br> School climate improvement is a continuous process of learning and improvement. How we go about learning and working together to create an even safer, more supportive, engaging and flourishing school is as important as outcomes.</p>
              <p>School climate process or “end of stage” assessments that support Principals and their leadership teams reflecting on “How did we do?” during a given stage (e.g. planning, evaluation, action planning, implementation) and “What might we focus on even more right now?” These <em>End of Stage Self assessments</em> will also support Principals and their leadership teams being able to “look back” in one or four years when you are working on this same stage in the next cycle of improvement. Whether the same Principal is leading the school or if you are a new Principal who is continuing the school’s improvement efforts, being able to retrospectively consider what the school did and did not do in a given stage will support your learning from experience! <em>The End of Stage Assessment</em> is a part of NSCC’s <a href="//scrc.schoolclimate.org/">School Climate Resource Center.</a></p>
              <a href="//scrc.schoolclimate.org/">
              </a>
          </div>
          <a href="//scrc.schoolclimate.org/">
          </a>
        </div>

        <div class="tab-pane  text-style col-md-8" id="tab2">
          <h2>What is the CSCI?</h2>
          <p>The Comprehensive School Climate Inventory (CSCI) is one of the nation’s most scientifically sound and helpful surveys that provide immediate feedback on how students, parents, school personnel and even community members perceive your school's particular climate for learning. Vetted by the National School Climate Council, three independent reviews of school climate measures, a core group of practice and policy leaders, the CSCI is considered to be one of the top school climate surveys in the field. This social, emotional and civic as well as intellectual information provides a foundation for the <a href="/school-climate/school-climate-improvement-process">five-stage school climate improvement process</a>.</p>
          <p>The CSCI is the first school climate survey to include a community scale that complements and extends our student, parent/guardian and school personnel scales. This community scale is yoked to student leadership and service learning guidelines. To learn more about the new CSCI community scale, <a target="_blank" href="{{'assets/pdf/csci/csci_Community_School.pdf'|theme}}">click here</a>.</p>
          <p>The CSCI can be used in two major ways: as a needs assessment and as a pre-post measure of change over time.</p>
          <p>The CSCI&mdash;like all school climate measures&mdash;is not an appropriate measurement tool (or “normed measure”) that can be used to compare schools.</p>
          <p>NSCC developed the CSCI first and for most to support the whole school community learning and working together to understand your school communities strengths and needs. The CSCI can also be used as a pre-post measure of change over time.</p>
          <h3 class="orangeTxt">What is the research behind the CSCI?</h3>
          <p>Developed by the National School Climate Center in 2002, the CSCI has been developed in a scientifically sound manner. For details about how the CSCI has been developed, <a href="{{'assets/pdf/csci/How_CSCI_was_developed.pdf'|theme}}">click here</a>.</p>
          <p>The CSCI has been recognized as a scientifically sound assessment tool in four independent evaluations. Renowned by educators, researchers, and experts alike, the CSCI has been selected as one of only three school climate surveys that met the American Psychological Associations criteria for being a reliable and valid tool in a 2010 study of <a href="{{'assets/pdf/csci/GangiTracydissertation10-20-09.pdf'|theme}}">102 surveys</a>. A recent <a href="{{'assets/pdf/csci/RaikesReportFinalOct.pdf'|theme}}">2011 independent evaluation</a> by Social Development Research Group (University of Washington) of 72 (i) social emotional learning measures and (ii) school climate surveys for middle schools reported that ten met their criteria for being reliable and valid. The CSCI was one of these ten measures and the only school climate measure that was recommended. And, a recent <a href="{{'assets/pdf/csci/AIR-2012-school-climate-review-surveys.pdf'|theme}}">2012 review of valid and reliable school climate measures by the American Institute of Research</a> that initially looked at 1000 surveys that could be used to gauge Principal performance. This initial large group of surveys was reduced to about 125 surveys that were studied in much more detail. This brief identified 13 school climate surveys that displayed publicly available evidence of psychometric rigor. The CSCI was one of the 13 surveys recommended. And, out of this group of 13, the CSCI was one of two surveys that recognized student, parent/guardian and school personnel voice.</p>
          <p>And, a recent study of the CSCI by researchers at Fordham University confirmed that the CSCI is a scientifically valid tool. The U.S. Department of Education’s <em>Safe and Supportive Schools Technical Assistance Center</em> also recognizes the CSCI as a reliable and valid measurement tool.</p>
          <p>To learn more about how you can measure school climate with the Comprehensive School Climate Inventory (CSCI) <a href="/services/measuring-school-climate-csci">click here</a>. To learn more about how you can facilitate long-term school climate Improvement <a href="/school-climate/school-climate-improvement-processp">click here</a>.</p>
        </div>
        <div class="tab-pane  text-style col-md-8" id="tab3">

          <h2>The School Climate Community Scale and the School-Community Partnership Process</h2>
          <p>It really does take the “whole village” to support the whole child! There is a robust body of educational, sociological and socio-economic research that supports the notion that student learning and positive youth development are positively shaped not only by effective school-family partnerships but also by the social networks and norms of the larger community and engaged and collaborative school-community.</p>
          <p>Mobilizing the “whole village” to support the whole child has almost become a cliché. Many K-12 leaders talk about it but few know how to and/or have the time to take actions that will build meaningful and helpful school-community partnerships. Yet, there is a growing consensus that schools can't do the job alone, and that community support is critical.</p>
          <p>NSCC’s <em>Community Scale</em> (Scale) and <em>School-Community Partnership Process</em> (Process) engages middle and high school students to take a leadership role taking a very short survey to fifteen sectors of the larger school community (from the faith based, local media and law enforcement to local political and other civic leaders, arts organizations and more) to ask them two sets of questions: (1) What is your perception of current school-community partnerships; and (2) to what extent would you be interested in learning about and actively supporting the schools improvement efforts?</p>
          <p>The <em>Scale</em> can be accessed on-line and a Guide for Students as well as a Guide for Educators who supervise and support the process supports the Process. In addition, schools that elect to use these resources to build helpful school-community partnership that support your school or districts improvement goals, will have access to a series of short videos about the process by students and an educator.</p>
          <p>View one or more of the following film clips that includes students and/or an educator talking about various aspects of this student led <em>School-Community Partnership Process</em>:</p>

          <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">Participating in the Community Scale Project</a>
                      </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                      <div class="panel-body">
                        <p>In this video, two students from Westbrook High School share what motivated them to participate in the Community Scale Project. One student discusses how she was eager to share her school's successes with community members and help them to learn more about the school. The other student talks about how the students all managed to make time for the project when juggling all their other commitments.</p>
                        <iframe width="525" height="300" frameborder="0" allowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/84329394?title=0&amp;byline=0&amp;portrait=0"></iframe>
                      </div>
                  </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" class="collapsed">Preparing to Administer the Survey</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                        <div class="panel-body">
                          <p>In this video, two students from Westbrook High School share how they prepared to administer the survey to community members. They made sure that they knew the survey inside and out and held mock interviews with their teacher to ensure that they were adequately prepared to answer any questions community members had. In order to ensure that community members had time to take the survey, the students made appointments to meet with them ahead of time.</p>
                          <iframe width="525" height="300" frameborder="0" allowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/84317647?title=0&amp;byline=0&amp;portrait=0"></iframe>
                        </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" class="collapsed">Sharing the Findings</a>
                          </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                          <div class="panel-body">
                            <p>In this video, three students from Westbrook High School share what it was like to see the data and share it with community members. They discuss how it was interesting to see what areas of school climate their school needs to improve upon from community members' perspectives. They believe that news and media significantly affects community members' perception of their school's school climate. They share how they hope to, as a group, pull the community organizations together to work collaboratively to improve the living and working environment for everyone.</p>
                            <iframe width="525" height="300" frameborder="0" allowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/84406471?title=0&amp;byline=0&amp;portrait=0"></iframe>
                          </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" class="collapsed">Working with Students</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                            <div class="panel-body">
                              <p>In this video, the Project Coordinator for the Westbrook High School Community Scale project shares about his experience working with the students, the school, and community members. He found that his school's superintendent and the National School Climate Center were very supportive of the project. He learned that video clips are really useful learning tools and would be particularly useful for this project. He shares how important it is for the Project Coordinator to recruit students for the project who are really invested in it and will really dedicate their time and energy to doing it right. He also discusses how this community-school interaction is unique in that in it students are not asking for something from community members but instead are building relationships and learning from community members.</p>
                              <iframe width="525" height="300" frameborder="0" allowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/84327093?title=0&amp;byline=0&amp;portrait=0"></iframe>
                            </div>
                        </div>
                      </div>
              </div>

          <p style="margin-top: 20px;"><strong>Schools that elect to use the Community Scale and the student led School-Community Process will also have access to the following video tapes:</strong></p>
          <ul>
	          <li>Mapping the Community</li>
	          <li>Community Scale Project Challenges</li>
	          <li>Administering the Survey</li>
	          <li>Entering the Survey Data</li>
	          <li>Understanding the Data</li>
	          <li>Guiding Students through the Project</li>
	          <li>Students' Strengths and Challenges</li>
	          <li>Administration of Surveys to Community Members: Practical Guidelines</li>
          </ul>

        </div>
        <div class="tab-pane  text-style col-md-8" id="tab4">
          <h2>Readiness Assessment and Process Self-Study Assessment Tools</h2>
          <h3 class="orangeTxt">Readiness Assessment Self-Study Tool</h3>
          <p>The National School Climate Center’s (NSCC) Readiness Assessment is a short (24 question) survey that has been developed to support a process of school leaders and leadership teams considering the following questions:
              <br> Where are we now? And, what can and should we consider focusing on to support an effective school climate improvement process?
          </p>
          <p>All schools are ready to improve their climate for learning and children's healthy development. But, all schools present with a unique array of strengths and needs. Understanding these strengths and needs will helpful inform school leaders ability to develop essential preparation plans that will helpfully support students, parents/guardians, school personnel and even community members learning and working together to create even safer, more supportive, engaging and flourishing schools that promote school&mdash;and life&mdash;success.</p>
          <p>The <em>Readiness Assessment</em> focuses on eight domains that shape the planning and preparation process.</p>
          <ol>
              <li>Building support and fostering a shared vision for your school</li>
              <li>Commitment to the school climate improvement process</li>
              <li>Forming a democratically-informed representative leadership team</li>
              <li>Moving towards a culture of trust and collaborative problem solving</li>
              <li>Ensuring your team has adequate resources to support the process</li>
              <li>Celebrating successes and building on past as well as current efforts</li>
              <li>Promoting Reflective capacities</li>
              <li>Developing professional learning communities</li>
          </ol>
          <p>The <em>Readiness Assessment</em> is completed by the Principals and his or her leadership team and identifies area of strength and need that will helpfully guide helpful school climate improvement efforts.</p>
          <p>The Readiness Assessment is a part of the <a href="//scrc.schoolclimate.org/">School Climate Resource Center</a></p>
          <p>For information about how the Readiness Assessment was developed and/or the scientific foundation for this short survey, please contact Jonathan Cohen, Ph.D. (jonathancohen@schoolclimate.org).</p>
          <h3 class="orangeTxt">School Climate Process of “End of Stage” Self-Study Tool: Appreciating the continuous process learning and improvement</h3>
          <p>School climate improvement&mdash;like all school reform efforts&mdash;is a continuous process. And, the process of school climate renewal is as important as the outcome!</p>
          <p>School climate reform is a continuous process. Just as&mdash;hopefully&mdash;we never stop growing as an individual, a school can and needs to be involved in a continuous process of working to create an even safer, more supportive and engaging school that furthers prosocial education.</p>
          <p>NSCC’s process or “End of Stage Assessments” are designed for each stage of the <a href="//scrc.schoolclimate.org/">school climate improvement process</a> and provide a simple and meaningful way for Principals and their leadership team to gauge and record “How did we do in this (given) stage of the improvement process?” Your ratings will automatically generate a report that will become a part of the School Portfolio in the <a href="//scrc.schoolclimate.org/">School Climate Resource Center</a></p>
          <p>These process or End of Stage Assessments will be helpful in two ways:</p>
          <ol>
              <li>To support Principals and their leadership teams reflecting on “How did we do?” and “What might we focus on even more right now?” And</li>
              <li>To support Principals and their leadership teams being able to “look back” in one or four years when you are working on this same stage in the next cycle of improvement. Whether the same Principal is leading the school or if you are a new Principal who is continuing the school’s improvement efforts, being able to retrospectively consider what the school did and did not do in a given stage will support your learning from experience!</li>
          </ol>
          <p>The Readiness Assessment is a part of the School Climate Resource Center</p>
          <p>For information about how the Readiness Assessment was developed and/or the scientific foundation for this short survey, please contact Jonathan Cohen, Ph.D. (jonathancohen@schoolclimate.org).</p>
        </div>

	      <div class="tab-content tab-content-1 col-sm-9">
	      </div>

      </div>
		</div>
	</div>
</div>
