title = "School Climate Improvement Process - National School Climate Center"
url = "/school-climate/school-climate-improvement-process"
layout = "default"
is_hidden = 0
==
<!-- bloc-26 -->
<div class="bloc bg-classroom-1024x384 tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					School Climate Improvement Process
				</h3>
		    <a href="/about/contact-us" class="btn   btn-lg btn-bright-cerulean">Contact us</a>
			</div>
		</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc" id="bloc-38">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">
          <nav class="nav-sidebar">
      		<ul class="nav-tab-2 nav tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">School Climate Improvement Process</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">Stages, tasks and challenges</a></li>
      		</ul>
      	</nav>
      </div>
      <!-- tab content -->
      <div class="tab-content tab-content-1">
        <div class="tab-pane active text-style col-md-8" id="tab1">
          <h2>School Climate Improvement Process</h2>
          <p>Our School Climate Improvement Process is based on a cyclical and continuous process of preparation, evaluation, understanding the evaluation findings and action planning, implementing the action plan, and re-evaluation and continuing the cycle of improvement efforts. This process grows out of NSCC’s experience with school, districts, networks of schools and State Departments of Education as well as research findings.</p>
          <div  class=" text-center col-md-6" style="margin-right:30px">
              <img src="{{'assets/includes/img/schoolClimateProcess-5stages-new.jpg'|theme}}" width="100%">
          </div>
          <strong>The School Climate Improvement Process is designed to support schools achieving the following five goals:</strong>
          <ol>
              <li>The school community has a shared vision and plan for promoting, enhancing and sustaining a positive school climate.</li>
              <li>The school community sets policies specifically promoting (a) the development and sustainability of social, emotional, ethical, civic and intellectual skills, knowledge, dispositions and engagement, and (b) a comprehensive system to address barriers to learning and teaching and reengage students who have become disengaged.</li>
              <li>The school community's practices are identified, supported and prioritized to (a) promote the learning and positive social, emotional, ethical and civic development of students, (b) enhance engagement in teaching, learning, and school-wide activities; (c) address barriers to learning and teaching and reengage those who have become disengaged; and (d) develop and sustain an appropriate operational infrastructure and capacity building mechanisms for meeting this standard.</li>
              <li>The school community creates an environment where all members are welcomed, supported, and feel safe in school: socially, emotionally, intellectually and physically.</li>
              <li>TThe school community develops meaningful and engaging practices, activities and norms that promote social and civic responsibilities and a commitment to social justice.</li>
          </ol>
          <p>NSCC works with schools on a daily basis to help them assess and improve their climates for learning, and the formation of this process is also largely culled from direct feedback from school community members who are actively utilizing these guidelines in their own schools. At NSCC, we believe these stages form the foundation for successful and sustained whole-school improvement. Click here to see the <a href="#tab2" data-toggle="tab">key guiding principles for implementing each stage effectively.</a></p>
        </div>

        <div class="tab-pane  text-style col-md-8" id="tab2">
          <h1>Stages, Tasks and Challenges</h1>
          <p>The five-stage school climate improvement process is characterized by a series of tasks and challenges noted below. The <a href="/services/developments">School Climate Improvement Road Map</a> or guidelines and tools designed to support schools understanding and mastering these tasks and challenges. Considering and then making commitments about <a target="_blank" href="{{'assets/pdf/stages-tasks-and-challenges/role_responsibilities.pdf'|theme}}">roles and responsibilities</a> is an essential related process. To see research that supports the importance of the tasks/challenges that define each of the school climate improvement stages as well as related best practices, <a target="_blank" href="{{'assets/pdf/stages-tasks-and-challenges/ResearchSupport-FiveStages.pdf'|theme}}">click here.</a></p>
          <span class="orangeTxt"><strong>Stage One: Preparation and Planning</strong></span>
          <ul>
              <li>Forming a representative SC improvement leadership team and establishing ground rules collaboratively.</li>
              <li>Building support and fostering "Buy In" for the school climate improvement process.</li>
              <li>Establishing a "no fault" framework and promoting a culture of trust.</li>
              <li>Ensuring your team has adequate resources to support the process.</li>
              <li>Celebrating successes and building on past efforts</li>
              <li>Reflecting on Stage One work</li>
          </ul>
          <span class="orangeTxt"><strong>Stage Two: Evaluation</strong></span>
          <ul>
              <li>Systematically evaluating the school's strengths, needs and weaknesses with any number of school climate as well as other potential measurement tools</li>
              <li>Developing plans to share evaluation findings with the school community</li>
              <li>Reflecting on our Stage Two work</li>
          </ul>
          <span class="orangeTxt"><strong>Stage Three: Understanding the findings, Engagement &amp; developing an action plan</strong></span>
          <ul>
              <li>Understanding the evaluation findings</li>
              <li>Digging into the findings to understand areas of consensus and discrepancy in order to promote learning and engagement.</li>
              <li>Prioritizing Goals</li>
              <li>Researching best practices and evidence-based instructional and systemic programs and efforts</li>
              <li>Developing an action plan</li>
              <li>Reflecting on Stage Three work</li>
          </ul>
          <span class="orangeTxt"><strong>Stage Four: Implementing the Action Plan</strong></span>
          <ul>
              <li>Coordinating evidence-based pedagogic and systemic efforts designed to (a) promote students' social, emotional and civic as well as intellectual competencies; and (b) improve the school climate by working toward a safe, caring, participatory and responsive school community.</li>
              <li>The instructional and/or school-wide efforts are instituted with fidelity, monitored and there is an ongoing attempt to learn from successes and challenges.</li>
              <li>The adults who teach and learn with students work to further their own social, emotional and civic learning.</li>
              <li>Reflecting on Stage Four work.</li>
          </ul>
          <span class="orangeTxt"><strong>Stage Five: Reevaluation and Development of the Next Phase</strong></span>
          <ul>
              <li>Reevaluating the school's strengths and challenges</li>
              <li>Discovering what has changed and how.</li>
              <li>Discovering what has most helped and hindered further the school climate improvement process</li>
              <li>Revising plans to improve the school climate.</li>
              <li>Reflecting on Stage Five work</li>
          </ul>
        </div>


      </div>


      </div>
		</div>
	</div>
</div>
