title = "School Climate - National School Climate Center"
url = "/school-climate"
layout = "default"
is_hidden = 0
==
<!-- bloc-26 -->
<div class="bloc bg-classroom-1024x384 tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					School Climate
				</h3>
		    <a href="/about/contact-us" class="btn   btn-lg btn-bright-cerulean">Contact us</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-26 END -->


<div class="bloc bgc-white l-bloc" id="bloc-38">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
        <p><h2>What is School Climate and Why is it Important?</h2>
            <br> We can all remember childhood moments when we felt particularly safe (or unsafe) in school, when we felt particularly connected to a caring adult (or frighteningly alone), when we felt particularly engaged in meaningful learning (or not). These are the school memories that we all tend to vividly remember: good and/or bad. It is not surprising that these kinds of experiences shape learning and development.</p>
        <p>However, school climate is larger than any one person's experience. When people work together, a group process emerges that is bigger that any one person's actions. A comprehensive assessment of school climate includes major spheres of school life such as safety, relationships, teaching and learning, and the environment as well as larger organizational patterns (e.g. from fragmented to shared; healthy or unhealthy). How we feel about being in school and these larger group trends shape learning and student development. Peer-reviewed educational research has consistently demonstrated that a positive school climate is associated with academic achievement, effective risk prevention efforts and positive youth development.</p>
        <p><strong class="orangeTxt largeTxt">How do we define School Climate?</strong>
            <br> School climate refers to the quality and character of school life. School climate is based on patterns of students', parents' and school personnel's experience of school life and reflects norms, goals, values, interpersonal relationships, teaching and learning practices, and organizational structures.</p>
        A sustainable, positive school climate fosters youth development and learning necessary for a productive, contributing and satisfying life in a democratic society. This climate includes:
        <ul>
            <li>Norms, values and expectations that support people feeling socially, emotionally and physically safe. </li>
            <li>People are engaged and respected. </li>
            <li>Students, families and educators work together to develop, live and contribute to a shared school vision.</li>
            <li>Educators model and nurture attitudes that emphasize the benefits and satisfaction gained from learning.</li>
            <li>Each person contributes to the operations of the school and the care of the physical environment.</li>
        </ul>
        <p class="greyTxt"><em>(This definition of school climate and a positive, sustained school climate were consensually developed by the <a href="/about">National School Climate Council</a>.)</em></p>
        <p><strong class="orangeTxt largeTxt">Key School Climate Dimensions:</strong>
            <br> There is not a national consensus about what school climate dimensions are essential to assess. Synthesizing past school climate research as well as NSCC’s research efforts, the National School Climate Council and NSCC suggest that there are four major areas that school climate assessment needs to include: <strong>Safety</strong>, <strong>Relationships</strong>, <strong>Teaching and Learning</strong> and <strong>the external environment</strong>. Each of these areas includes a series of sub scales of indicators. To learn about these sub scales and indicators, <a target="_blank" href="{{'assets/pdf/school-climate/dimensions_chart_pagebars.pdf'|theme}}">click here</a>.</p>
      </div>
		</div>
	</div>
</div>
