.si_register {
    border: 1px solid #D6D6D6;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white url(input.png) repeat-x left top;
    overflow: hidden;
    margin-bottom: 15px;
}

.si_register a.right {
    float: right;
    display: block;
    width: 195px;
    height: 50px;
    background: url(si_btn_register.png) no-repeat left top;
    text-indent: -999px;
}

.si_register a.right:hover {
	background:url(si_btn_register.png) no-repeat -201px top;
}


#map {
    width: 580px;
    height: 375px;
}

#state {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 25px;
    margin-bottom: 15px;
}


#MapDiv h4 {
    background-color: #FEAB21;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    padding: 7px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 6px;
}


.scan_database h4 {
	font-size:20px;
	margin-bottom:15px;
	line-height:1;
	color:#86C9EF;
	font-weight:bold;
}
table#policy_scan_grid {
	margin-bottom:15px;
	border:1px solid #d6d6d6;
	width:100%;
}
table#policy_scan_grid tr {
	border-bottom:1px solid #d6d6d6;
	vertical-align:baseline;
}
table#policy_scan_grid tr th {
	background-color:#FBCA54;
	padding:5px 15px 5px 15px;
	text-align:left;
	font-weight:bold;
	font-size:16px;
	color:#ffffff;
}
table#policy_scan_grid tr td {
	padding:5px 15px 5px 15px;
	border-right:1px solid #d6d6d6;
	width:50%;
	vertical-align:baseline;
}
table#policy_scan_grid .odd {
	background-color:#ebebeb;
}
table#policy_scan_grid span {
	font-weight:bold;
	color:#525252;
}
