/*-----------------------------------------------------------------------------------
	    schoolclimate-new
        Built with Blocs
-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a:hover{text-decoration: none; cursor:pointer;}

a,button{outline: none!important;} /* Prevent ugly blue glow on chrome and safari */

#page-loading-blocs-notifaction{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index:100000;
	background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
	display: none;
}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 0% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}

.bloc-contact{
    background: 50% 55% no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

.bloc-our-team{
    background: 50% 55% no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

.bloc .container{
	padding-left:0;
	padding-right:0;
}

#bloc-38 .container{
	padding-top: 60px;
	padding-bottom: 30px;
}


/* Sizes */

.bloc-xxl{
	padding:110px 50px;
}
.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:30px;
}
.bloc-sm{
	padding:20px 50px;
}


/* Group Styles */

.bloc-group{
	width:100%;
	display:table;
	table-layout: fixed;
}
.bloc-group .bloc{
	position:relative;
	display: table-cell;
	vertical-align: top;
}
.bloc-tile-2{
	width:50%;
}
.bloc-tile-3{
	width:33.33333333%;
}
.bloc-tile-4{
	width:25%;
}
.bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	width:100%;
}


/* Background Textures */

.bloc-bg-texture::before{
	content:"";
	background-size: 2px 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}
.texture-paper::before{
	background: url("img/texture-paper.png");
	background-size: 280px 280px;
}


/* Background Effects */

.b-parallax{
	background-attachment:fixed;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a,.d-bloc .navbar-brand, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc .navbar-brand:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .panel,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc .navbar-brand,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc .navbar-brand:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .btn-wire,.d-bloc .panel .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
.voffset-lg{
	margin-top:80px;
}
/* Dividers */

.b-divider{
	border-top:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid rgba(0,0,0,.1);
}

/* Bloc text custom styling */

#bloc-1 h3{
	font-size: 35px;
}
#bloc-1 p{
	font-size: 20px;
}
#bloc-6 p{
	font-size: 25px;
}
#bloc-7 h1{
	line-height: 35px;
}
#bloc-9 h3{
	font-size: 30px;
}
#bloc-9 p{
	font-size: 16px;
}
#bloc-13 h1{
	font-size: 40px;
}
#bloc-13 p{
	font-size: 25px;
}
#bloc-15 p{
	font-size: 20px;
}
#bloc-21 h3{
	font-size: 30px;
}
#bloc-21 p{
	font-size: 20px;
}
#bloc-26 h3{
	font-size: 35px;
}
#bloc-26 p{
	font-size: 20px;
}
#bloc-31 h3{
	font-size: 40px;
}
#bloc-31 p{
	font-size: 25px;
}
#bloc-37 h3{
	font-size: 30px;
}
#bloc-37 p{
	font-size: 20px;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar{
	margin-bottom: 0;
	z-index:1;
}
.navbar-brand{
	height:auto;
	padding:15px 15px;
	font-size:25px;
	font-weight:normal;
	font-weight:600;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.navbar-brand{
	padding: 15px 15px;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
	z-index:1;
}
.nav > li{
	float:left;
	margin-top:4px;
	font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav > li .dropdown-menu a,.nav > li .dropdown-menu a:hover{
		color:#484848;
	}
	.nav-invert .site-navigation{
		left:20px;
		right:0;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		margin-top:20px;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 14px 15px;
}

nav .caret{
	margin: 0 5px;
}
/* Dropdown Menus SubMenu */
	.dropdown-menu .dropdown-menu{
	top:-8px;
	left:100%;
}
.dropdown-menu .dropmenu-flow-right{
	top:100%;
	left:0;
	margin-left: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.dropdown-menu .dropdown span{
	border: 4px solid black;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin: 6px -5px 0 0!important;
	float: right;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn .caret{
	margin:0 0 0 5px}.dropdown a .caret{
	margin:0 0 0 5px}.btn-dropdown .dropdown-menu .dropdown{
	padding: 3px 20px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}

/* Image Frame */
.img-frame,.img-frame-md,.img-frame-lg,.img-frame-rd,.img-frame-rd-md,.img-frame-rd-lg{
	background:#FFF;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow:0 2px 2px rgba(0,0,0,0.05);
	padding:4px;
}
.img-frame{
	border-radius:3px;
}
.img-frame-md,.img-frame-lg{
	border-radius:6px;
}
.img-frame-md,.img-frame-rd-md{
	padding:8px;
}
.img-frame-lg,.img-frame-rd-lg{
	padding:14px;
}

/* = Text & Icon Styles
-------------------------------------------------------------- */
.lg-shadow{
	text-shadow:0 2px 5px rgba(0,0,0,.5);
}
/* = Text Widths
-------------------------------------------------------------- */
.text-w-90{
	max-width:90%;
}
.text-w-80{
	max-width:80%;
}
.text-center.text-w-sm, .text-center.text-w-md, .text-center.text-w-lg, .text-center.text-w-90, .text-center.text-w-80, .text-center.text-w-70, .text-center.text-w-60, .text-center.text-w-50{
	margin-left: auto;
	margin-right: auto;
}


/* = Panels
-------------------------------------------------------------- */
.panel{
	border:0;
	box-shadow: 0 0 2px rgba(0,0,0,.4);
}
.panel-heading, .panel-footer{
	background-color: inherit;
	border-color: rgba(0,0,0,.1)!important;
}
.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}


/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* iFrame */

iframe{
	border:0;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1170px;
}
.mount-italy-hero-text{
	font-family:"Josefin Sans";
	font-size:60px;
	font-weight:bold;
	text-shadow:0px 3px 8px rgba(0,0,0,0.2);
}
.mount-italy-hero-text-sub{
	font-family:"Josefin Sans";
	font-size:36px;
}
.hero-text-vc{
	margin-top:50%;
}
.blocs-blue-button{
	background-color:#41b6f3;
}
.blocs-blue-button:hover{
	background-color:#39a6de;
}
.blocs-hero-btn-dwn{
	background-color:rgba(0,0,0,0.0);
}
.blocs-team-title{
	color:#1d1d1d;
	font-size:45px;
	font-family:"Lato";
	font-weight:300;
}
.blocs-team-header{
	color:#1d1d1d;
	font-size:20px;
	font-family:"Lato";
	font-weight:300;
}
.blocs-team-sub{
	font-size:13px;
	font-family:"Lato";
	font-weight:500;
}
.statement-bloc-text{
	line-height:38px;
	font-style:italic;
	font-size:28px;
	text-align:center;
	font-weight:lighter;
}
.text{
	text-shadow:0px 0px 1px #345BA9;
}
.address{
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
	background-color:#FFFFFF;
}
.bgc-lapis-lazuli{
	background-color:#345BA9;
}
.bgc-lapis-lazuli-2{
	background-color:#b2d5f3;
}
.bgc-cool-grey{
	background-color:#8099A0;
}
/* Text colour styles */

.tc-white{
	color:#FFFFFF!important;
}
.tc-white-2{
	color:#FFFFFF!important;
}
/* Button colour styles */

.btn-lapis-lazuli{
	background:#345BA9 !important;
	color:#FFFFFF!important;
}
.btn-lapis-lazuli:hover{
	color:#FFFFFF!important;
}
.btn-bright-cerulean{
	background:#2EC1E4;
	color:#FFFFFF!important;
}
.btn-bright-cerulean:hover{
	color:#FFFFFF!important;
}

/* Bloc image backgrounds */

.bg-roadmap-content-left-img{
	background-image:url("img/roadmap_content_left_img.png");
}
.bg-NSCC-tagline-logo5-768x100{
	background-image:url("img/NSCC-tagline-logo5-768x100.png");
}
.bg-banner-home{
	background-image:url("img/banner_home.jpg");
	background-attachment: initial;
}
.bg-publications-library-Dark{
	background-image:url("img/publications-library-Dark.jpg");
}
.bg-research-people-Dark {
    background-image: url(img/Research-banner.jpg);
}
.bg-banner-home{
	background-image:url("img/banner_home.jpg");
	 background-attachment: initial;
}
.bg-NSCC-tagline-logo5-768x100{
	background-image:url("img/NSCC-tagline-logo5-768x100.png");
}
.bg-placeit{
	background-image:url("img/blue-banner.jpg");
}
.bg-iStock-000003906886Medium{
	background-image:url("img/iStock_000003906886Medium.jpg");
}
.bg-classroom-1024x384{
	background-image:url("img/classroom-1024x384.png");
}

.bg-bully-prevention{
	background-repeat: no-repeat;
	background-image:url("img/bully-prevention-bg.jpeg");
}

.bg-employment{
	background-image:url("img/employment.jpg");
}

.bg-city-overlay{
	background-image:url("img/city-overlay.png");
}
.bg-city{
	background-image:url("img/city.jpg");
}

.bg-csee-kids{
	background-image:url("img/csee-kids.jpg");
}

.bg-csee-events{
	background-image:url("img/csee-events.jpg");
}

.bg-taking-a-survey{
	background-image:url("img/taking-a-survey.png");
}
.bg-young-learners{
	background-image:url('img/young-learners.png');
}
.bg-citysky{
	background-image:url('img/citysky.jpg');
}
.bg-happy-kids{
  background-image:url("img/happy-kids.png");
}

.bg-ed{
  background-image:url("img/ED.jpg");
}

/* = Mobile adjustments
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px;
        padding-right: 20px;
    }
    .bloc.full-width-bloc{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
				padding: 0;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    /* .navbar-nav {
        float: none!important;
         margin-top: 7.5px;
    } */

		.navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
				margin-right: -25px;
				margin-left: -25px;

    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }

		.nav > li{
				margin-top: 0;
				border-bottom:1px solid rgba(0,0,0,.1);
				background:rgba(0,0,0,.05);
				text-align: left;
				/* padding-left:15px; */
				width:100%;
		}

		.nav>li>a, .nav > li > .dropdown a {
		    font-weight: bold !important;
		}

		.nav > li.donate-btn-dark {
		    padding-left: 22px !important;
		    width: 100%;
		    margin-top: 0px !important;
		}

		.nav .btn-bright-cerulean {
		    background: #2EC1E4 !important;
		    color: #FFFFFF!important;
		}

		.nav > li:hover{
				background:rgba(0,0,0,.08);
		}
		.dropdown .dropdown a .caret{
				float: none;
				margin: 5px 0 0 10px!important;
				border: 4px solid black;
				border-bottom-color: transparent;
				border-right-color: transparent;
				border-left-color: transparent;
		}

    .collapse.in{
        display:block !important;
    }
}


@media (max-width: 768px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */

		.col-sm-8 {
    	width: 100%;
		}

		.btn {
	    font-size: 13px;
		}

		.navbar-toggle {
		    display: block;
		}
}
@media (max-width: 767px)
{

    .page-container{
        overflow-x: hidden;
        position:relative;
				margin-top: 0px !important;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px!important;
        padding-right:10px!important;
				/*font-size: 27px;*/
    }

		p{
			font-size: 16px;
		}

    #hero-bloc h1{
        font-size:40px;
    }
    #hero-bloc h2{
        font-size:34px;
    }
    #hero-bloc h3{
        font-size:25px;
    }
    .bloc{
        padding-left: 0;
        padding-right: 0;
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .b-parallax{
        background-attachment:scroll;
				    margin-top: 40px;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        /*padding-left:15px;*/
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .dropdown .dropdown a .caret{
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }

    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero{
        padding:50px 0;
    }
    .hero-nav{
        left:-1px;
        right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;
        margin: -10px 10px 0 0;
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left;
    }
    .bloc-group .bloc{
         display:block;
         width:100%;
     }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	   padding-left: 10px;
	   padding-right: 10px;
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0;
        padding-right: 0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none;
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }

    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
.full-width-bloc .col-xs-2, .full-width-bloc .col-sm-2, .full-width-bloc .col-md-2, .full-width-bloc .col-lg-2, .full-width-bloc .col-xs-3, .full-width-bloc .col-sm-3, .full-width-bloc .col-md-3, .full-width-bloc .col-lg-3, .full-width-bloc .col-xs-4, .full-width-bloc .col-sm-4, .full-width-bloc .col-md-4, .full-width-bloc .col-lg-4, .full-width-bloc .col-xs-5, .full-width-bloc .col-sm-5, .full-width-bloc .col-md-5, .full-width-bloc .col-lg-5, .full-width-bloc .col-xs-6, .full-width-bloc .col-sm-6, .full-width-bloc .col-md-6, .full-width-bloc .col-lg-6, .full-width-bloc .col-xs-7, .full-width-bloc .col-sm-7, .full-width-bloc .col-md-7, .full-width-bloc .col-lg-7, .full-width-bloc .col-xs-8, .full-width-bloc .col-sm-8, .full-width-bloc .col-md-8, .full-width-bloc .col-lg-8, .full-width-bloc .col-xs-9, .full-width-bloc .col-sm-9, .full-width-bloc .col-md-9, .full-width-bloc .col-lg-9, .full-width-bloc .col-xs-10, .full-width-bloc .col-sm-10, .full-width-bloc .col-md-10, .full-width-bloc .col-lg-10, .full-width-bloc .col-xs-11, .full-width-bloc .col-sm-11, .full-width-bloc .col-md-11, .full-width-bloc .col-lg-11, .full-width-bloc .col-xs-12, .full-width-bloc .col-sm-12, .full-width-bloc .col-md-12, .full-width-bloc .col-lg-12 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .video-bg-contianer{
        display:none;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}@media (max-width: 420px){
	.hero-text-vc{
	margin-top:0px;
}
}
.services-ul li{
  padding-bottom: 4px;
}


.bg-gr-tx-wt {
    background:rgba(10, 61, 123, 0.4);
		border-radius: 5px;
    color: white;
    margin-bottom: 30px;
    min-height: 80px;
    padding: 35px;
}

.bg-gr-tx-wt-bully-prevention {
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;
    min-height: 80px;
    padding: 35px;
    margin-top: -255px;
}

.accordion-cus-heading{
	background-color: #94AEB7 !important;
}

.font-size-16{
	font-size: 16px !important;
}
.f-s-15{
	font-size: 15px !important;

}
.f-s-14{
	font-size: 14px !important;

}
.f-s-17{
	font-size: 17px !important;

}
.f-s-18{
	font-size: 18px !important;

}
.f-s-19{
	font-size: 19px !important;

}


.btn-anm {
  border-radius: 4px;
  background-color: #29C2E5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 9px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-anm span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-anm span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-anm:hover span {
  padding-right: 25px;
}

.btn-anm:hover span:after {
  opacity: 1;
  right: 0;
}

.bg-gray{
	background-color:#E4E4E5;
	padding-bottom:60px
}
.container-bg-white{
	background-color:white;
	padding-top:30px !important;
}

.container-bg-white-trans{
	background:rgba(255, 255, 255, 0.78);
	padding-top:30px !important;

}

.border-gray{
	border: 7px solid #ebebeb;
}

.cse input.gsc-input, input.gsc-input {
   background-image:none !important;
}

.gscb_a {
    padding-top: 5px;
}

.gsc-table-result, .gs-promotion-table {
    margin-left: 8px;
}

.login-text::before {
 content: "SCRC Login";
}

@media only screen and (min-width: 992px) and (max-width: 1198px) {
	#cms-logo{
		width:40% !important;
	}
	.container {
    width: 100% !important;
  }

	.nav > li {
    font-size: 15px;
  }
	.nav > li > a{
		padding: 14px 7px;
  }
	.nav > li > .dropdown a {
    padding: 14px 7px;
  }

}
@media only screen and (min-width: 769px) and (max-width: 991px) {
	#cms-logo{
		/* width:29%; */
		padding-top: 8px;
	}
	.nav > li ,.login-button {
    font-size: 14px;
  }
	#search-li{
		width: 105px;
	}
	#search-li input {
		width: 70px !important;
	}
	.nav>li>a {
	    padding: 7px 3px !important;
	}
	.dropdown a {
	    padding: 8px 4px !important;
	}
	.nav > li.donate-btn-dark {
		width: 63px !important;
	  font-size: 13px;
	 }
	 .login-text::before {
	 	content: "Login";
	 }

	li > form{
		width:65%;
	}
}

@media only screen and (max-width: 767px){

	#nav-toggle{
		margin-top: 0px !important;
	}
	.dropdown-toggle{
		font-weight: bold !important;
	}
	.nav>li>a {
	    font-weight: bold !important;
	}
	.tab-pane{
		width: 100% !important;
	}

	#search-li{
		padding-right: 60px;
		margin: auto;
		padding-bottom: 5px;
	}

	#search-li input {
    width: 100% !important;
}

.nav > li.donate-btn-dark {
    padding-left: 22px !important;
		width: 100% !important;
		margin-top: 0px !important;
}

.btn-bright-cerulean.donate-btn-dark, .nav > li.btn-bright-cerulean.donate-btn-dark:hover{
    background: #2ec1e4 none repeat scroll 0 0;
	}

}

@media only screen and (max-width: 299px) {
	.image-border-noPad {
	    width:30px !important;
			margin-right: 5px !important;
	}

}

@media only screen and (max-width: 378px) {
	.modal-sm {
			width: 250px !important;
	}

	.bg-gr-tx-wt-bully-prevention{
		padding-top:2px;
	}

	.container-bg-white{
		padding-top: 0px !important;
	}

	.nav-sidebar.inner-nav{
		padding:0px;
	}
	.tab-pane h2{
		font-size: 22px;
	}

	.tab-pane p{
		font-size:15px;
	}
	.site-navigation.nav > li{
		padding-left:27px;
	}
}

.nav > li.donate-btn-dark{
	padding:0px;
	font-weight: bold;
	margin-top: 10px;
}

.nav > li.donate-btn-dark > a {
    color: #fff !important;
    padding: 5px 9px 5px 9px !important;
}
.btn-same-font{
	font-size: 18px;
	font-weight: bold;
}

#research-container h3{
  color: #feab21;
  font-size: 24px;
}
#research-container h2{
 font-size: 24px;
}
div#research-container {
    padding: 0 50px;
}

#about-button-container button{
  margin: 0 5%;
}
p.about-text{
    text-align: justify;
}
.about-block-container {
	padding: 0 15px;
}
