.heading-color.research{
	margin-top: -80px;
}

.text-white{
	color:#FFF;
}

.services-block{
	margin-top: 0px !important;
}

.team-mem:hover img {
	-webkit-transform: rotate(0) scale(1.1);
	transform: rotate(0) scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.table-cons td{
	vertical-align: top;
	padding: 10px;
	text-align: justify;
}

.td-avatar{
	width:180px;
}

.table-cons .avatar{
	width: 100%;
}
.partner-main {
    margin-left: 7%;
}

.partner-container {
	padding: 20px;
	border: 1px solid #f9f9f9;
	height: 104px;
	margin: 2%;
	background: #f9f9f9;
	border: 1px solid #e2e2e2;
	text-align: center;
}
.partner-thumbnail {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
		padding: 77px 0 !important;
}
.bloc-pad{
	padding:30px !important;
}

.no-padding{
	padding-top:0px;
}

.btn-md-w{
	min-width: 12%;
}

.modal-content .team-container .col-sm-4{
	height:270px;
}

#research{
	background-color: lightblue;
}

#frame{
	background-color: lightblue;
}

#bloc-39{
  margin-top: 100px;
}
.left-circle-container{
  margin-top:40px;
  padding-top:20px;
}
.heading-color{
  color:#0b56a8;
  font-weight:bold;
}

.research-div{
  background: #42a1c6;
  color: #FFF;
  font-weight: bold;
  border-radius: 30px;
  height: 125px;
  padding:10px;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle !important;
  box-shadow: 5px 5px 5px #888888;
}

.nscc-logo{
  width:55%
}

.home-page .col-sm-4{
  padding: 0px 30px;
}

.bloc-lg{
	padding:40px 50px;
}

.newsletter li{
  padding-bottom: 15px;
}

.nl-block{
    padding-top: 30px;
}

.team-container .col-sm-3{
  height: 290px;
}

.footer-section{
  background: #345ba9;
  color: #fff;
  padding: 35px;
}
.footer-section img.img-responsive {
    float: right;
    margin-top: 30px;
}
.col-md-12.error-page {
    text-align: center;
    font-size: 24px;
    padding: 76px;
}
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    background: #f3f3f3;
padding-top: 40px;
padding-right: 0;
padding-bottom: 20px;
padding-left: 0;
}



.title-widget {
color: #898989;
font-size: 20px;
font-weight: 300;
line-height: 1;
position: relative;
text-transform: uppercase;
font-family: 'Fjalla One', sans-serif;
margin-top: 0;
margin-right: 0;
margin-bottom: 25px;
margin-left: 0;
padding-left: 28px;
}

.title-widget::before {
  background-color: #2ec1e4;
  content: "";
  height: 22px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 5px;
}



.widget_nav_menu ul {
  list-style: outside none none;
  padding-left: 0;
}

.widget_archive ul li {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 3px;
}


.widget_nav_menu ul li {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
position: relative;
  text-transform: uppercase;
border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 7px;
  padding-bottom: 7px;
width:95%;
}



.title-median {
  color: #636363;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 15px;
  text-transform: uppercase;
font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }
.social-icons {
    margin-top: 39px;
}

#social:hover {
        -webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
    }
#social {
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
color: #e0e0e0 !important;
    }
/*
  Only Needed in Multi-Coloured Variation
                                             */
    .social-fb:hover {
      color: #3B5998;
    }
    .social-tw:hover {
      color: #4099FF;
    }
    .social-gp:hover {
      color: #d34836;
    }
    .social-em:hover {
      color: #f39c12;
    }
    .nomargin { margin:0px; padding:0px;}


.footer-bottom {
  background-color: #15224f;
  min-height: 30px;
  width: 100%;
}
.copyright {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
}
.design {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  text-align: right;
}
.design a {
  color: #fff;
}


blockquote {
    color: #FF9900 !important;
    margin-bottom: 8px;
    margin-left: 20px;
    background-image: url(img/leftQuote.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 35px;
    padding-top: 3px;
    font: italic 18px/1.6em Georgia,"Times New Roman",Times,serif;
    border-left:0;
}

.research-top-icons{
	font-size: 75px;
	top: -111px;
	position: relative;
	color: #fff;
}


.bg-banner-donation {
    background-image: url("img/banner_donation.png");
}

.bg-banner-educational-offerings {
    background-image: url("img/banner_educational.jpg");
}

.orangeTxt {
    color: #feab21;
    font-weight: bold;
}

.bordered{
  border: 1px solid #d6d6d6;
  padding:15px;
  text-align: left;
}

.journal-section .col-sm-4{
  margin-top:15px;
  margin-bottom:15px;
}

.journal-section .bordered{
    height:355px;
    overflow-y: auto;
}

.journal{
  font-weight: bold;
  font-size: 15.5px;
  line-height: 19px;
}
.journal span{
  font-weight: normal;
	line-height: initial;
}
.img-bordered{
  border: 1px solid #d6d6d6;
  margin-right: 20px;
}

.img-bordered-noMar{
  border: 1px solid #d6d6d6;
}

.largeTxt {
    font-size: 14px;
}

.panel-president{
  border:2px solid #005D9D;
  border-radius:30px;
}

.panel-president-message{
  background:#005D9D;
  border:5px solid #FFF;
  border-radius:30px;
  font-size:16px;
  color:#FFF !important;
}

.president-image{
  width:140px;
  height:140px;
  padding:10px;
  float:left;
  border-radius:50%;
}

.radius-logo{
  width:125px;
  height:125px;
  padding:5px;
  float:right;
  border-radius:50%;
  background:#FFF;
}

.bg-banner-computer {
    background-image: url("img/banner_computer.jpg");
}
.resource-ul li{
  margin-top: 10px;
}

.tab-res p {
  margin-left: 25px;
}

.dropdown-menu{
  margin: 0px !important;
  margin-top: -5px !important;
}

.social-image-footer{
  min-height: 20px;
  max-height: 20px;
  margin: 5px;
}

.btn-block-nav{
    margin-top: 4px;
    border-radius: 0px !important;
    margin-bottom: -5px;
}

.bloc-34-field{
   margin-bottom: 10px ;
}

.padding-content{
  margin-top: 80px;
}

.bg-stack-of-books{
  background-image:url("img/stack-of-books.png");
}

.bac-panal{
  background-color:#82979e;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 15px;
}

.blogpost {
    clear: both;
    margin-bottom: 60px;
}

.blogpost .featured {
    float: left;
    height: auto;
    margin: 0 20px;
    max-width: 200px;
}

.blogpost h3 {
    margin-top: 0;
}

.blogpost img {
    height: auto;
}

.blogpost .excerpt {
    margin-left: 100px;
}

.excerpt > h3 > a {
   color: #345ba9 !important;
}

.blue-heading {
  color: #345ba9 !important;
}

.blue-heading :hover {
    color: #78c8ce;
}

.meta {
    border-right: 1px solid #efefef;
    float: left;
    font-size: 14px;
    text-align: right;
}

.meta .date {
    margin: 0;
}

.meta, .meta a {
    color: #999;
}

.meta .date .day {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    opacity: 0.4;
    padding: 0 10px 10px 0;
}

.meta .date .month {
    border-top: 1px solid #efefef;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px 10px 0 0;
    text-transform: uppercase;
}

.excerpt .cats {
    border-bottom: 1px dotted #efefef;
    border-top: 1px dotted #efefef;
    margin: 4px 0 10px;
    padding: 4px 0;
}

.content .cats ul, .cats ul {
    float: left;
    list-style: outside none none;
}

.cats p {
    color: #ddd;
    margin: 0;
}

.cats li {
    float: left;
    margin-right: 5px;
}

.cats a {
    color: #bbb;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.cats a:hover {
    color: #78c8ce;
}

.widget .widget_title {
    border-bottom: 5px solid #efefef;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.widget + .widget {
    margin-top: 30px;
}

.widget.Carousel.Vibe + .widget {
    margin-top: 0;
}

.col-md-3 .widget + .widget {
    clear: both;
    display: inline-block;
    width: 100%;
}

.widget #s {
    border: 1px solid #efefef;
    padding: 6px;
}

.widget ul li {
    border-bottom: 1px dotted #efefef;
    display: inline-block;
    font-size: 14px;
    padding: 8px 0;
    width: 100%;
}

.widget ul.flex-direction-nav li {
    border: medium none;
    padding: 0;
}

.widget ul li > ul li:last-child {
    border-bottom: medium none;
}

.widget ul li > ul.children {
    margin: 0;
    padding-left: 0;
}

.widget ul.hierarchial li > ul.children li {
    clear: both;
    padding: 10px 0 0;
}

.widget ul.hierarchial li > ul.children li a {
    padding-left: 8px;
}

.widget ul li.current-cat a {
    color: #78c8ce;
    font-weight: 600;
}
.list-unstyled {
  margin-top: 20px;
}

.widget ul.hierarchial li > ul.children li::before {
    content: "î‚“";
    font-family: "fonticon";
    font-size: 10px;
    line-height: 16px;
}

.widget ul li:hover > a {
    color: #78c8ce;
}

.widget ul li.product:hover a, .widget ul.flex-direction-nav li:hover a {
    color: #fff;
}

.widget .menu li > .sub-menu {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    display: block !important;
    opacity: 1;
    position: relative !important;
    width: 100%;
}

.widget .menu-item-has-children:hover > a::before {
    border: medium none;
}

.widget .menu li a {
    color: #444;
    padding: 6px 0;
}

.widget .menu li.current-menu-item a {
    color: #78c8c9;
}

.tagcloud a {
    background: #78c8c9 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 11px !important;
    font-weight: 600;
    margin: 0 10px 10px 0;
    padding: 6px 8px;
    text-transform: uppercase;
}

.widget #searchform label {
    display: none;
}

.widget .more_posts li small {
    display: block;
    margin-left: 70px;
}

.more_posts{
    padding-left: 0px ;
}

.nav-tabs > li > a {
    border-radius: 2px 2px 0 0;
    font-size: 11px;
    font-weight: 600;
    margin-right: 0;
    text-transform: uppercase;
}

.widget .nav.nav-tabs > li > a {
    padding: 10px 6px;
}

.sidebar-posts .widget #searchform input[type="text"] {
    border: 1px solid #DDDDDD;
    font-size: 14px;
    padding: 6px 12px;
}

.widget .chosen-container {
    min-width: 100%;
}

.sidebar-posts .widget #searchform input[type="submit"], #signup_submit, #submit {
    background-color: #78c8ce;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 7px 20px;
    text-transform: uppercase;
}

.tabs ul.tabtitle {
    cursor: pointer;
    display: block;
}

.tabs .nav {
    margin: 0 !important;
}

.nav.nav-tabs li a {
    white-space: nowrap;
}

.nav.nav-tabs li a i {
    float: left;
    font-size: 16px;
    margin-right: 5px;
}

.tab-content {
    padding: 15px 0;
}

@media only screen and (max-width: 767px) {

	.learn_more_lazuli{margin-left: 10px;}
	.btn-bright-cerulean {
	      margin-left: 11px;
		   }
  .tab-content {
      padding: 0 0;
  }
	.bg-gray {
    background-color: #E4E4E5;
    padding-bottom: 30px;
  }
}

.posts li {
    clear: both;
    display: inline-block;
    margin: 2px 0;
    padding: 2px;
    width: 100%;
}

.posts li:hover {
    background: #f3f5f6 none repeat scroll 0 0;
}

.posts li img, .tab-pane li img {
    border: 3px solid #eef1f3;
    float: left;
    height: auto;
    margin-right: 10px;
    transition: all 0.2s ease-in-out 0s;
    min-width: 60px;
    max-width: 60px;
}

.tab-pane li:hover img {
    border-color: #78c8c9;
}

.posts li a > span {
    color: #2a3744;
}

.posts li small a {
    color: #aaa;
    font-size: 11px;
}

.widget .nav-tabs li {
    padding-bottom: 0;
    text-align: center;
    width: 33%;
}

.widget .tab-content li {
    padding: 6px 0;
}

.nav-tabs > li > a {
    border-radius: 4px 4px 0 0;
    margin: 0;
}

.tabs .tabpanes {
    clear: both;
}

.tabs ul.tabtitle li {
    display: inline-block;
    float: left;
}

.tabs .tabtitle li {
    background: #444 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    position: relative;
    text-align: center;
}

.tabs .tabtitle li:hover, .tabs .tabtitle li.active {
    background: #78c8ce none repeat scroll 0 0;
}

.tabs label:first-of-type {
    z-index: 4;
}

.clear-shadow {
    clear: both;
}

.tabpanes li {
    background: #fff none repeat scroll 0 0;
}

.tabcontent {
    font-size: 14px;
    opacity: 0;
    position: relative;
    z-index: 5;
}

.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
    border-bottom: 0 none;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: none;
}

.tab-content > .active, .pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-bottom: 0;
    margin-top: -1px;
}

.tabs-below > .nav-tabs > li > a {
    border-radius: 0 0 2px 2px;
}

.tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
    border-bottom-color: transparent;
    border-top-color: #ddd;
}

.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover, .tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd;
}

.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs, .tabs-right > .nav-tabs {
    min-width: 140px;
    width: 25%;
}

.tabs-right .tab-content, .tabs-left .tab-content {
    display: inline-block;
    width: 70%;
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    margin-bottom: 3px;
    margin-right: 0;
    min-width: 74px;
}

.tabs-left > .nav-tabs {
    border-right: 1px solid #ddd;
    float: left;
    margin-right: 19px !important;
}

.tabs-left > .nav-tabs > li > a {
    border-radius: 2px 0 0 2px;
    margin-right: -1px;
}

.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus {
    background-color: #78c8c9;
    border-color: #78c8c9;
    color: #fff;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
    border-color: #78c8c9 transparent #78c8c9 #78c8c9;
}

.nav.nav-tabs > li > a {
    padding: 10px 24px;
}

.tabs-right > .nav-tabs {
    border-left: 1px solid #ddd;
    float: right;
    margin-left: 19px !important;
}

.tabs-right > .nav-tabs > li > a {
    border-radius: 0 2px 2px 0;
    margin-left: -1px;
}

.tabs-right > .nav-tabs > li > a:hover, .tabs-right > .nav-tabs > li > a:focus {
    background-color: #78c8c9;
    border-color: #78c8c9 #78c8c9 #78c8c9 #dddddd;
    color: #fff;
}

.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover, .tabs-right > .nav-tabs .active > a:focus {
    border-color: #78c8c9 #78c8c9 #78c8c9 transparent;
}

.active .tabcontent {
    animation-duration: 1s;
    animation-name: fadeinblock;
    display: block;
    padding: 15px;
    z-index: 2;
}

.image-style >p > img {
  max-width: 100%;
}

.services-images{
  padding-top: 30px;
}

.category-list {
    padding-left: 0;
}

.bgc-platinum-lc{
  background-image: url('img/field.jpg');
}

.texture-fabric::before {
    background: rgba(0, 0, 0, 0) url("img/texture-fabric.png") repeat scroll 0 0;
}

/* MARGINS & PADDINGS */
.p-xxs {
  padding: 5px;
}

.p-xs {
  padding: 10px;
}

.p-sm {
  padding: 15px;
}

.p-m {
  padding: 20px;
}

.p-md {
  padding: 25px;
}

.p-lg {
  padding: 30px;
}

.p-xl {
  padding: 40px;
}

.p-w-xs {
  padding: 0 10px;
}

.p-w-sm {
  padding: 0 15px;
}

.p-w-m {
  padding: 0 20px;
}

.p-w-md {
  padding: 0 25px;
}

.p-w-lg {
  padding: 0 30px;
}

.p-w-xl {
  padding: 0 40px;
}

.p-h-xs {
  padding: 10px 0;
}

.p-h-sm {
  padding: 15px 0;
}

.p-h-m {
  padding: 20px 0;
}

.p-h-md {
  padding: 25px 0;
}

.p-h-lg {
  padding: 30px 0;
}

.p-h-xl {
  padding: 40px 0;
}

.m-xxs {
  margin: 2px 4px;
}

.m {
  margin: 15px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m-md {
  margin: 20px;
}

.m-lg {
  margin: 30px;
}

.m-xl {
  margin: 50px;
}

.m-n {
  margin: 0 !important;
}

.m-l-none {
  margin-left: 0;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-md {
  margin-left: 20px;
}

.m-l-lg {
  margin-left: 30px;
}

.m-l-xl {
  margin-left: 40px;
}

.m-l-n-xxs {
  margin-left: -1px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-l-n-sm {
  margin-left: -10px;
}

.m-l-n {
  margin-left: -15px;
}

.m-l-n-md {
  margin-left: -20px;
}

.m-l-n-lg {
  margin-left: -30px;
}

.m-l-n-xl {
  margin-left: -40px;
}

.m-t-none {
  margin-top: 0;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-md {
  margin-top: -20px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-t-n-xl {
  margin-top: -40px;
}

.m-r-none {
  margin-right: 0;
}

.m-r-xxs {
  margin-right: 1px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-r-md {
  margin-right: 20px;
}

.m-r-lg {
  margin-right: 30px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-r-n-xxs {
  margin-right: -1px;
}

.m-r-n-xs {
  margin-right: -5px;
}

.m-r-n-sm {
  margin-right: -10px;
}

.m-r-n {
  margin-right: -15px;
}

.m-r-n-md {
  margin-right: -20px;
}

.m-r-n-lg {
  margin-right: -30px;
}

.m-r-n-xl {
  margin-right: -40px;
}

.m-b-none {
  margin-bottom: 0;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.m-b-n-xxs {
  margin-bottom: -1px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-md {
  margin-bottom: -20px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.m-b-n-xl {
  margin-bottom: -40px;
}

#bloc-43 h3 {
    font-size: 40px;
}

#bloc-43 p {
    font-size: 25px;
}

.quote {
    background-color: rgba(1, 1, 1, 0.3);
    text-shadow: 0 4px 6px #000000;
}

.tc-platinum {
    color: #e9e9e9 !important;
}

.news-letters  >p > img  {
  max-width: 100%;
}

.case-studies{
  padding: 80px;
  padding-top: 0;
  padding-bottom: 0;
}

.contentHighlight-A{
    background-color: #f5f5f5;
    border: 7px solid #ebebeb;
    margin-bottom: 25px;
    padding: 15px;
}

.quote-author{
    color: #666666;
    display: block;
    font: italic 11px/1.5em Verdana,Arial,Helvetica,sans-serif;
}

.blogShort{
  border-bottom:1px solid #ddd;
}

.add{
  background: #333; padding: 10%; height: 300px;
}

.nav-sidebar {
    width: 100%;
    padding: 30px 0;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.nav-sidebar .active a {
    cursor: default;
    background-color: #0b56a8;
    color: #fff;
}

.nav-sidebar .active a:hover {
    background-color: #E50000;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.btn-blog {
    color: #ffffff;
    background-color: #E50000;
    border-color: #E50000;
    border-radius:0;
    margin-bottom:10px
}

.our-team-container .bloc-pad {
    padding: 43px !important;
}

.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#0b56a8;
    border-color: #0b56a8;
}

article h2{
  color:#333333;
}

h2{
  color:#0b56a8;
}

.margin10{
   margin-bottom:10px; margin-right:10px;
 }

 .container .text-style{
    text-align: justify;
    line-height: 23px;
    margin: 0 13px 0 0;
    font-size: 14px;
}

.nav-tab-2 > li {
    float: left;
    font-size: 16px;
    margin-top: 4px;
    width: 100%;
}

.nav-tab-2 > .active > a {
  background-color:#0b56a8 !important;
}

.tab-content-1{
  padding-right: 5px;
  padding-left: 5px;
}

.image-border-noPad {
    border: 1px solid #d6d6d6;
    margin-right: 20px;
    width:100px;
}

.csciReport-container img {
    background-color: #fafafa;
    border: 1px solid #d6d6d6;
    margin-right: 40px;
    padding: 5px;
}

.contentHighlight-B {
    background-color: #fff;
    background-image: url("img/yelhighlight.png");
    background-repeat: repeat-x;
    border: 7px solid #ebebeb;
    margin-bottom: 25px;
    padding: 15px;
		background-size: contain;
}

.imgIcon {
    border: 0 none;
    float: left;
    height: 30px;
    padding: 3px 0;
    width: 30px;
}

h2.bar {
    background-color: #0b56a8;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px 15px;
}

.bgc-grey {
    background: #eceaea;
    margin: 2%;
    padding: 1%;
    width: 96%;
}

.text-blue{
  color: #345ba9;
}

.heading-color{
  color: #4a4444;
}

.search input {
    float: left;
}

.btn-search {
    background: #345ba9 none repeat scroll 0 0;
    border: 1px solid #345ba9;
    color: white;
    float: right;
    height: 34px;
    margin-left: -5px;
    outline: medium none !important;
    position: absolute;
    width: 45px;
}

.btn-search:hover{
  color: #fff !important;
}

.panel-default>.panel-heading {
  color: #fff;
  background-color: #82979e;
  border-color: #82979e;
}

.panel-heading{
  cursor: pointer;
}

.modal-sm {
    width: 350px;
}

.modal-header {
  border: 0;
}

.modal-body {
  font-size: 16px;
}

#search-li{
  margin-top: 9px;
}

#search-li input{
  width: 125px;
}

#login-button-li a{
  padding-top:6px;
}

.login-button{
  margin-top: 0;
}

.team-popup-img{
  float: left;
  margin-right: 25px;
}

#team-disc{
  margin-top: 10px;
}

.team-container{
  margin-top: 50px;
  margin-bottom: 10px;
}

.popup-team-content{
  /*text-align: justify;*/
  min-height:300px;
  padding:0px 50px 50px 50px;
}

.m-o-f .col-sm-6 {
    padding-right: 50px;
    text-align: justify;
}

.donate-btn {
    background: #ff861c;
    font-weight: bold;
}

.row.news-container {
    margin: 80px 140px
}

.news-container .news{
    border: 1px solid #ddd;
    margin: 1%;
    padding: 5px;
    width: 31.3333%;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    word-break: break-all;
}

@media only screen and (max-width: 767px) {

	.learn_more_lazuli{margin-left: 10px;}

	.news-container .news {
		width: 100% !important;

	}
  .row.news-container{
    margin: 60px 180px !important;
  }

}

@media only screen and (max-width: 600px) {
  .row.news-container{
    margin: 60px 120px !important;
  }
}

@media only screen and (max-width: 470px) {

  .row.news-container{
		margin: 60px 60px !important;
	}
	.bottom-footer-box{
		display: none;
	}
}

@media only screen and (max-width: 290px) {

  .row.news-container{
		margin: 30px 30px !important;
	}
}

.news-container .news:hover {
    overflow-y: auto;
 }

.news-container .news .title{
  font-weight: bold;
}

.carousel-control{
  width: 10%;
}

.post-image{
  float:left;
  padding-right: 10px;
  padding-bottom: 10px;
}
a{
  word-break: normal;
}

.post-introductory{
  font-size: 16px;
}

.post-date{
  font-size: 16px;
  font-weight: bold;
}

.post-content{
  font-size: 16px;
}

.post-title{
  font-weight: bold;
}

.newslatter-img{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
}

.lb-sub-custom{
    color: #7F7F7F;
    font-size: 17px;
    margin-bottom: 7px !important;
}

.back-button {
    bottom: 20px;
    height: 40px;
    opacity: 0;
    position: fixed;
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
    z-index: 500;
    margin-left: 20px;
}

.showback-button {
    font-size: 14px;
    opacity: 1;
}

.showback-button span {
    margin-top: 7px;
}

.brown-bg-color{
   background-color: #F79645;
}

.custom-ul-style tr td ul{
  padding: 10px;
}

.featured-images{
  padding-left:10px;
  max-width:30%
}

.b-b-gray{
   border-bottom: 5px solid #efefef;
   padding-bottom: 13px;
   padding-top: 5px;
}

.requiredMarkC{
  color: red;
}

.comment-form{
  padding:40px 40px 40px 40px;
}

#carousel-example-generic .carousel-control.left , #carousel-example-generic .carousel-control.right{
  background-image: none;
}

.recurring-content{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 110px;
}

.recurring-btn{
   width: 100%;
}

#loading-icon{
  width:87%;
  height:100%;
  position: absolute;
  z-index: 1000;
  display:none;
}

#loading-icon img{
  display:block;
  margin:15% auto auto;
}

.about-bloc{
  padding-top:45px;
  width: 40%;
}

.about-video-bloc{
  padding-top:87px;
  width: 60%;
}

.bg-black{
  background-color: black;
}

.bg-white{
  background-color: white;
}

.white-frame-box{
 padding:5px 10px 5px 10px;
 border:1px solid;
}

.white-frame-box > .row{
  margin-right: 0;
  margin-left: 0;
  padding:5px;
}

.custom-container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}


.no-margin{
  margin: 0;
}

.rounded{
  border-radius: 5px;
}

.quote-heading{
  padding:6px;
}

.bg-custom-blue{
  background-color: #345BA9;
  color:white;
}

.bg-custom-blue > .h-text > a{
  color:white;
}

.bg-custom-blue > .h-text > a:hover{
  color:white;
}

.indent-block {
    padding: 0 10px 0 10px;
    border-left: 1px dashed #c1c1c1;
    margin-left: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-style: italic;
}

.show-small{
	display: none;
}
.show-large{
	display: block;
}


@media only screen and (max-width: 767px) {

	.nav  .btn-bright-cerulean {
    background: #2EC1E4 !important;
    color: #FFFFFF!important;
	}

  .recurring-content{
    padding: 10px 10px 10px 10px !important;
  }
	.header-banner{
		margin-top: 75px !important;
		background-size: cover;
	}

	.statement-bloc-text {
	    line-height: 27px;
	    font-size: 22px;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

	.container .text-style{
		text-align: left;
	}
}

@media only screen and (max-width: 736px) {

	.nav  .btn-bright-cerulean {
		background: #2EC1E4 !important;
		color: #FFFFFF!important;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

	.statement-bloc-text {
			line-height: 27px;
			font-size: 22px;
	}

	.team-container .col-sm-3{
    height: 240px;
    width:33.33%;
    float: left;
  }

	.blocs-team-sub {
 		 font-size: 13px !important;
  }

	.header-banner{
		margin-top: 75px !important;
		background-size: cover;
	}

	.container .text-style{
		text-align: left;
	}
}

@media only screen and (max-width: 667px) {
	.nav  .btn-bright-cerulean {
    background: #2EC1E4 !important;
    color: #FFFFFF!important;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

	#bloc-26 p {
    font-size: 12px;
	}

	#bloc-13 p {
	    font-size: 20px;
	}

	.blocs-team-sub {
 		 font-size: 13px !important;
  }

  .team-container .col-sm-3{
    height: 240px;
    width:33.33%;
    float: left;
  }
	.header-banner{
		margin-top: 75px !important;
		background-size: cover;
	}

	.container .text-style{
		text-align: left;
	}
}

@media only screen and (max-width: 640px) {

	.nav  .btn-bright-cerulean {
    background: #2EC1E4 !important;
    color: #FFFFFF!important;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

  .ab-table tr td button {
    padding-left: 5px;
    padding-right: 5px;
    white-space: normal;
    font-size: 14px;
  }

	.container .text-style{
		text-align: left;
	}
}

@media only screen and (max-width: 768px) {
	.navbar .nav {
			margin-right: 0 !important;
	}
	.nav img.img-responsive {
    margin: 10px;
	}
	.nscc-logo {
	    width: 33% !important;
	    margin: 6px;
	}
	div#___gcse_0 {
		position: unset !important;
		width: 100% !important;
	}

	.gsc-control-cse {
    background-color: #345ba9 !important;
    margin-top: 16px;
  }


}

@media only screen and (max-width: 568px) {
	.navbar .nav {
		  margin-right: 0 !important;
	}
	.nav img.img-responsive {
    margin: 10px;
	}

	.nav  .btn-bright-cerulean {
    background: #2EC1E4 !important;
    color: #FFFFFF!important;
	}
	div#___gcse_0 {
		position: unset !important;
		width: 100% !important;
	}
	.gsc-control-cse {
    background-color: #345ba9 !important;
    margin-top: 16px;
  }


	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

	#bloc-26 p {
    font-size: 12px;
	}

	#bloc-13 p {
    font-size: 20px;
	}

	.blocs-team-sub {
			font-size: 13px !important;
	}

  .team-container .col-sm-3{
    height: 240px;
    width:33.33%;
    float: left;
  }

  .voffset-lg{
    margin-top: 0px;
  }

  .btn-group-lg > .btn, .btn-lg{
    padding: 6px 12px;
    font-size: 14px;
    margin-left: 10px;
  }

  .bannerContent h3{
      font-size: 20px !important;
  }

	.bg-gr-tx-wt {
    min-height: 220p;
    padding: 8px;
    margin: 15px 6px !important;
 }

  #bloc-1 p{
    font-size: 15px;
  }

  .bloc{
    background-size: auto 100%;
  }

  .nscc-logo{
    width:80%
  }

  .hidden-div{
    display: none;
  }

  .no-top-margin{
    margin-top: 0px;
  }

  .img-responsive.pull-right{
    float:none !important;
    margin-left: 15px;
  }

  .col-sm-12, .col-sm-4{
    margin: 0px;
  }


  .col-sm-8 .newsletter{
    margin-left: 15px;
  }

  .container.bloc-md{
    padding: 0px;
  }

  #bloc-6 p{
    font-size: 15px;
  }

  #bloc-6 h3{
    font-size: 15px;
  }

	.container .text-style{
		text-align: left;
	}
}

@media only screen and (max-width: 550px) {

	.nav  .btn-bright-cerulean {
		background: #2EC1E4 !important;
		color: #FFFFFF!important;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

	#bloc-26 p {
    font-size: 12px;
	}

	#bloc-13 p {
	    font-size: 20px;
	}

	.blocs-team-sub {
 		 font-size: 13px !important;
  }

	.header-banner{
		margin-top: 75px !important;
		background-size: cover;
	}

    #loading-icon img{
      display:block;
      margin:30% auto auto;
  }

  .bannerContent h3{
      font-size: 20px !important;
  }

  #bloc-1 p{
    font-size: 15px;
  }

  .bloc{
    background-size: auto 100%;
  }

  .nscc-logo{
    width:80%
  }

  .hidden-div{
    display: none;
  }

  .no-top-margin{
    margin-top: 0px;
  }


  .img-responsive.pull-right{
    float:none !important;
    margin-left: 15px;
  }

  .col-sm-12, .col-sm-4{
    margin: 0px;
  }


  .col-sm-8 .newsletter{
    margin-left: 15px;
  }

  .container.bloc-md{
    padding: 0px;
  }

  #bloc-6 p{
    font-size: 15px;
  }

  #bloc-6 h3{
    font-size: 15px;
  }
	.footer-section {
    padding: 0 !important;
	}
	.social-icons {
		margin-top: 0px;
	}

	.container .text-style{
		text-align: left;
	}

}

@media only screen and (max-width: 480px) {
	.nav  .btn-bright-cerulean {
		background: #2EC1E4 !important;
		color: #FFFFFF!important;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

	#bloc-26 p {
    font-size: 12px;
	}

	#bloc-13 p {
    font-size: 20px;
	}

	.blocs-team-sub {
			font-size: 13px !important;
	}

	.bg-city {
    background-image: url(img/city.jpg);
    background-size: cover !important;
   }
    #loading-icon img{
      display:block;
      margin:50% auto auto;
  }

  .bannerContent h3{
      font-size: 20px !important;
  }

  #bloc-1 p{
    font-size: 15px;
  }

  .bloc{
    background-size: auto 100%;
  }

  .nscc-logo{
    width:80%
  }

  .hidden-div{
    display: none;
  }

  .no-top-margin{
    margin-top: 0px;
  }

  .img-responsive.pull-right{
    float:left !important;
    margin-left: 15px;
  }

  .col-sm-12, .col-sm-4{
    margin: 0px;
  }


  .col-sm-8 .newsletter{
    margin-left: 15px;
  }

  .container.bloc-md{
    padding: 0px;
  }

  #bloc-6 p{
    font-size: 15px;
  }

  #bloc-6 h3{
    font-size: 15px;
  }

	.container .text-style{
		text-align: left;
	}
}

@media only screen and (max-width: 414px) {
	.nav  .btn-bright-cerulean {
    background: #2EC1E4 !important;
    color: #FFFFFF!important;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

	.statement-bloc-text {
	    line-height: 25px;
	    font-size: 20px;
	}

	#bloc-26 p {
    font-size: 12px;
	}

	#bloc-13 p {
    font-size: 20px;
	}

	.blocs-team-sub {
			font-size: 13px !important;
	}

  .team-container .col-sm-3{
    height: 240px;
    width:50%;
    float: left;
  }

	.header-banner{
		margin-top: 75px !important;
		background-size: cover;
	}

	.bg-city {
    background-image: url(img/city.jpg);
    background-size: cover !important;
	}

	.container .text-style{
		text-align: left;
	}
}

@media only screen and (max-width: 385px) {
	.nav  .btn-bright-cerulean {
    background: #2EC1E4 !important;
    color: #FFFFFF!important;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

	.bg-city {
    background-image: url(img/city.jpg);
    background-size: cover !important;
 }

 .blocs-team-sub {
		 font-size: 13px !important;
 }

 #bloc-13 p {
     font-size: 20px;
 }
	.header-banner{
		margin-top: 75px !important;
		background-size: cover;
	}
    #loading-icon img{
      display:block;
      margin:50% auto auto;
  }

  .bannerContent h3{
      font-size: 20px !important;
  }

  #bloc-1 p{
    font-size: 15px;
  }

  .bloc{
    background-size: auto 100%;
  }

  .hidden-div{
    display: none;
  }

  .no-top-margin{
    margin-top: 0px;
  }

  .img-responsive.pull-right{
    float:left !important;
    margin-left: 15px;
  }

  .col-sm-12, .col-sm-4{
    margin: 0px;
  }


  .col-sm-8 .newsletter{
    margin-left: 15px;
  }

  .container.bloc-md{
    padding: 0px;
  }

  #bloc-6 p{
    font-size: 15px;
  }

  #bloc-6 h3{
    font-size: 15px;
  }

  .team-container .col-sm-3{
    height: 240px;
    width:100%;
    float: left;
  }

  .btn-lapis-lazuli{
    margin-left: 10px;
  }
  .tab-pane ol li {
      padding-right: 32px;
      text-align: left;
  }

	.container .text-style{
		text-align: left;
	}

}

@media only screen and (max-width: 375px) {
	.nav  .btn-bright-cerulean {
    background: #2EC1E4 !important;
    color: #FFFFFF!important;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

 .blocs-team-sub {
		 font-size: 13px !important;
 }

	 #bloc-13 p {
	    font-size: 20px;
	}

	.container .text-style{
		text-align: left;
	}
}

@media only screen and (max-width: 320px) {
	.nav  .btn-bright-cerulean {
    background: #2EC1E4 !important;
    color: #FFFFFF!important;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

	.bg-city {
    background-image: url(img/city.jpg);
    background-size: cover !important;
	}

	.header-banner{
    margin-top: 75px !important;
		background-size: cover;
  }
	.header{
		padding-bottom: 0px;
	}

	h1 {
	    font-size: 22px !important;
	}

	p {
    font-size: 13px !important;
	}

	.blocs-team-sub {
	    font-size: 13px !important;
	}

  .team-container .col-sm-3{
    height: 240px;
    width:100%;
    float: left;
  }

  .voffset-lg{
    margin-top: 0px;
  }

  .btn-group-lg > .btn, .btn-lg{
    padding: 6px 12px;
    font-size: 11px;
  }

  .bannerContent h3{
      font-size: 20px !important;
  }

  #bloc-1 p{
    font-size: 15px;
  }

  .bloc{
    background-size: auto 100%;
  }

  .nscc-logo{
    width:80%
  }

  .hidden-div{
    display: none;
  }

  .no-top-margin{
    margin-top: 0px;
  }

  .img-responsive.pull-right{
    float:left !important;
    margin-left: 15px;
  }

  .col-sm-12, .col-sm-4{
    margin: 0px;
  }


  .col-sm-8 .newsletter{
    margin-left: 15px;
  }

  .container.bloc-md{
    padding: 0px;
  }

  #bloc-6 p{
    font-size: 15px;
  }

  #bloc-6 h3{
    font-size: 15px;
  }

	#bloc-13 p {
    font-size: 20px;
	}

	.container .text-style{
		text-align: left;
	}

}

@media only screen and (max-width: 290px) {
	.nav  .btn-bright-cerulean {
    background: #2EC1E4 !important;
    color: #FFFFFF!important;
	}

	.show-small{
		display: block;
	}
	.show-large{
		display: none;
	}

  .ab-table tr td button {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px ;
  }

	#bloc-13 p {
    font-size: 20px;
	}

	.container .text-style{
		text-align: left;
	}
}
@media only screen and (max-width: 767px) {
div#___gcse_0 {
    width: auto !important;
    float: none !important;
    margin-top: 3px;
    position: unset !important;
    right: auto !important;
}
}
@media (max-width: 767px)
{
.nav > li {
      padding-left: 30px !important;
  }
}
