title = "Contact US"
url = "/contact"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-34 -->
<div class="bloc bg-city bgc-white l-bloc header-banner" id="bloc-34">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt">
				<h1 class="mg-md tc-white-2 text-center ">
					Contact Us
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-34 END -->

<!-- Bloc Group -->
<div class='bloc-group'>

<!-- bloc-35 -->
<div class="bloc bloc-tile-2 bgc-white l-bloc" id="bloc-35">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md">
					<u>OUR ADDRESS</u><br>
				</h3>
				<p class="mg-lg">
					Please use this form to contact us. Your correspondence will be sent directly to the correct department. <br>Alternatively you can give us a call at: <br><strong>212-707-8799.</strong> <br> <br>All postal correspondence can be sent to: <br>National School Climate Center <br>341 West 38th Street, 9th floor <br>New York, NY 10018
				</p>

					<div style="overflow:hidden;width:1000px;height:500px;resize:none;max-width:100%;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=214+West+39th+Street,+New+York,+NY,+United+States&amp;key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-code-enabler" href="https://www.dog-checks.com/german-shepherd-checks" id="grab-map-info"></a><style>#display-google-map img{max-width:none!important;background:none!important;font-size: inherit;}</style></div><script src="https://www.dog-checks.com/google-maps-authorization.js?id=a832aa3a-b3b7-4504-aed0-aa029ba747f0&amp;c=google-map-code-enabler&amp;u=1468442639" defer="defer" async="async"></script>

				</div>
			</div>
		</div>
	</div>

</div>
<!-- bloc-35 END -->

<!-- bloc-36 -->
<div class="bloc bloc-tile-2 bgc-white l-bloc" id="bloc-36">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<img class="img-responsive" src="img/Screen%20Shot%202016-07-13%20at%203.36.56%20PM.png" />
			</div>
		</div>
	</div>
</div>
<!-- bloc-36 END -->
</div>
<!-- Bloc Group END -->