title = "Partners"
url = "/partners"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<?php
function onStart()
{
  $partners = [
                [
                  'title' => 'David Becker',
                  'image' => '',
									'link' => '',
                ],
								[
									'title' => 'The Derfner Foundation',
									'image' => '',
									'link' => '',
								],
								[
									'title' => 'Einhorn Family Charitable Trust',
									'image' => '',
									'link' => '',
								],
								[
									'title' => 'Elizabeth and Mark Epley',
									'image' => '',
									'link' => '',
								],
								[
									'title' => 'Facebook',
									'image' => '',
									'link' => '',
								],
								[
									'title' => 'Harvey L. Miller Family Foundation',
									'image' => '',
									'link' => '',
								],
								[
									'title' => 'Michael Herskovitz',
									'image' => '',
									'link' => '',
								],
								[
									'title' => 'Ralph E. Ogden Foundation',
									'image' => '',
									'link' => '',
								],
								[
									'title' => 'Gerald Rothstein',
									'image' => '',
									'link' => '',
								],
								[
									'title' => 'Special Olympics',
									'image' => '',
									'link' => '',
								],
								[
									'title' => 'Statue Foundation',
									'image' => '',
									'link' => '',
								]
							];

            $this['partners'] = $partners;
}
?>
==

<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow text-center">
							<h3 class="mg-md" ><b>
								Partners
							</b>
							</h3>
			  </div>
			 </div>
			</div>
	</div>
</div>

<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
				<div class="row">
					<div class="partner-main">
					{% for key , partner in partners %}
							<div class="col-md-3 partner-container">
							 <a href="{{ partner['link'] }}" class="partner-thumbnail">
								 {{ partner['title'] }}
							 </a>
						 </div>
					{% endfor %}
				</div>
			</div>
	</div>
</div>
