title = "Error - Page not found"
url = "/404"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12 error-page">

        <h1>This Page Not Found!</h1>
        <p>
		   We're sorry the page you were looking for could not be found.
		<br>
					<!-- You can either head back to <a href="/">homepage</a>. -->
	    </p>
				</div>

        </div>
		</div>
</div>
<!-- bloc-39 END -->