title = "Bully Prevention - National School Climate Center"
url = "/bully-prevention-old"
layout = "default"
is_hidden = 1
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md text-center">
					Bully Prevention
					<a href="/about/contact-us" class="btn   btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>
				</h3>

			</div>
		</div>
	</div>
</div>
<div class="bloc bgc-white l-bloc bg-gray" id="bloc-38">
	<div class="container bloc-lg container-bg-white">
		<div class="row">
			<div class="col-sm-12">
      	<div class="col-sm-3">
          <nav class="nav-sidebar">
      		<ul class="nav-tab-2 nav tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Bully Prevention</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">Tool Kit</a></li>
                <li class=""><a href="#tab3" data-toggle="tab">BullyBust/Upstanders</a></li>
                <li class=""><a href="#tab4" data-toggle="tab">Student leadership</a></li>
                <li class=""><a href="#tab5" data-toggle="tab">Social Crisis Preparedness</a></li>
      		</ul>
      	</nav>
      </div>
      <!-- tab content -->
      <div class="tab-content tab-content-1">
        <div class="tab-pane active text-style col-md-8" id="tab1">
          <h2>Bully Prevention</h2>
          <p><strong class="orangeTxt largeTxt">Promoting a Community of Upstanders &amp; Preventing Mean, Cruel and/or Bullying Behaviors</strong></p>
          The Alarming Facts:
          <ul>
              <li>In many school communities, over 50% of students do not feel safe in school.</li>
              <li>The U.S. Centers for Disease Control and Prevention affirmed that bullying is a public health problem.</li>
              <li>One in three students report being bullied.</li>
              <li>There is a growing body of research that shows that mean, cruel and/or bullying behaviors adversely affects everyone: the target of this behavior (the “victim”), the people who see or hear about it (“witnesses”) and the person who is acting in mean, cruel and/or bullying ways!</li>
              <li>In fact, the entire school community is affected by the negative behavior of even a minority.</li>
          </ul>
          <p>The most common finding in NSCC’s school climate measurement using the <a href="">Comprehensive School Climate Inventory (CSCI)</a> with thousands of schools is that, although the adults believe that social as well as physical safety is a “mild” and sometimes “moderately severe problem”, students consistently rate school safety as a <strong>“severe problem.”</strong> As a result, a significant percentage of our work with schools, districts, State Departments of Education and the federal government has been focused on promoting Upstander (or socially responsible) behavior and preventing mean, cruel and/or bullying behavior. All of NSCC’s bully prevention efforts are grounded in comprehensive school climate improvement efforts that prevent mean, cruel and/or bullying behaviors and promote Upstander behaviors.</p>
          <p>To learn more about the research and best practices that provide the foundation for our work in this area, <a target="_blank" href="{{'assets/pdf/bully-prevention/bully-prevention-research-what-works.pdf'|theme}}"><strong>click here.</strong></a></p>
          NSCC partners with schools to prevent mean, cruel and/or bullying behaviors and promote Upstander behaviors in various ways. Our work is grounded in a six-step implementation process that is detailed in the <a href="#tab2" data-toggle="tab">Breaking the Bully-Victim-Bystander Cycle Tool Kit: Creating a Climate of Safety and Responsibly.</a> This process is aligned with the U.S. Department of Education's bully prevention guidelines. This comprehensive, school climate informed implementation process supports educational leaders and the whole school community working on:
          <ul>
              <li>Developing a shared vision about what kind of school you want your school to be.</li>
              <li>Assessing your school’s current strengths and needs in a comprehensive, reliable and valid manner.</li>
              <li>Supporting district, Principal, classroom and student leadership.</li>
              <li>Teaching and learning with students in classrooms, advisory classes, and other small group experiences.</li>
              <li>Individual efforts that range from ‘one-on-one’ moments with students who may be acting in mean, cruel and/or bullying ways to strategies that enhance parent/educator/mental health professional partnerships.</li>
              <li>Supporting school-home-community partnerships that prevent the bully-victim-bystander cycle and promote Upstander behavior.</li>
          </ul>
        </div>

        <div class="tab-pane text-style col-md-8" id="tab2">
          <h2>Bully-Victim-Bystander Cycle Tool Kit</h2>
          <p>The <em>Breaking the Bully-Victim-Bystander Cycle Tool Kit</em> the foundation for our safe, supportive and civil schools efforts with schools, districts, networks of schools and State Departments of Education.</p>
          <p>Mean, cruel and/or bullying behavior is always a social act: there is virtually never a bully and a victim without witnesses. When we work to transform school communities from a culture of bystanders to a culture of Upstanders, we are not only promoting comprehensive and effective bully prevention efforts, we are, just as importantly, promoting the skills, knowledge and dispositions that provide the foundation for an engaged and responsible democratic citizenry.</p>
          This <em>Tool Kit</em> is both practical and comprehensive. It includes five modules that support students, educators, parents and community members learning and working together to prevent bullying and promote Upstander behavior. It is organized around the following ideas, essential questions, guidelines and tools (e.g. protocols, rubrics)
          <ol>
              <li>Developing a shared vision about what kind of school you want your school to be?</li>
              <li><a href="/">Assessing your schools current strengths and needs</a> in a comprehensive, reliable and valid manner;</li>
              <li>Supporting Principal leadership;</li>
              <li>Teaching and learning with students in classrooms, Advisories and other small group experiences;</li>
              <li>Individual efforts that range from ‘one-on-one’ moments with students who may be acting in mean, cruel and/or bullying ways to strategies that enhance essential parent/educator/mental health professional partnerships;</li>
              <li>Supporting school-home-community partnerships that prevent the bully-victim-bystander cycle and promote Upstander behavior.</li>
          </ol>
          <p><a href="{{'assets/pdf/tool-kit/toolkit_info.pdf'|theme}}"><em>Breaking the Bully-Victim-Bystander Cycle Tool Kit</em></a> flyer</p>
          <p><strong><em>The Breaking the Bully-Victim-Bystander Cycle Tool Kit</em> learning module.</strong> This ten session learning module is one important component of NSCC’s new <a href="//scrc.schoolclimate.org">School Climate Resource Center</a></p>
        </div>

        <div class="tab-pane  text-style col-md-8" id="tab3">
          <h2>BullyBust/Upstanders</h2>
          <p>The National School Climate Center's <em>BullyBust: Promoting a Community of Upstanders</em> campaign provides free supports to schools nationwide to help students and adults become part of the solution to end harmful harassment, teasing, and violence in our nation's schools. Through <em>BullyBust: Promoting a Community of Upstanders</em>, schools have access to concrete, research-based resources that educate adults and youth on how to take a stand against bullying and create a positive community of Upstanders&mdash;people who recognize when bullying occurs and safely act to make it right. Recent statistics show that every 7 minutes a child is bullied, and 85% of the time there is NO Intervention. However, <strong>a school-wide commitment to end bullying can reduce the problem by up to 50%</strong>. Through BullyBust, schools can: </p>
          <ul>
              <li>Join the <a href="//www.bullybust.org/educators/partner-schools">Partner School Program</a> and access free classroom-based and school-wide toolkits, resources, and guided activities to educate the entire community on effective bully prevention steps. </li>
              <li>Connect with a global community of supporters through the <a href="//www.bullybust.org/students/commitment-wall">Upstander Commitment Wall</a> and <a href="//www.bullybust.org/students/pledge">Stand Up Pledge</a>.</li>
              <li>Empower youth to create a community-wide awareness and bully prevention effort through the <a href="//www.bullybust.org/upstander">Upstander Alliance</a>.</li>
              <li>Learn from schools, experts, youth leaders, and celebrity ambassadors nationwide through the <a href="//www.bullybust.org/upstander/upstander-central/wicked">Upstander Central!</a></li>
          </ul>
          <blockquote>
              The BullyBust Partner School Program was a huge success! Our kids are now reporting the "Upstanders" of the school instead of the bullies. The reports of bullying have gone down over half of the reports from last year! The teachers and students are so happy we began this program. Thank you!
              <br>
              <span class="quote-author">&mdash;Carol Little<br>
          <em>School Counselor, Harrisburg District (Weiner, Arkansas)</em></span>
          </blockquote>
          <p><strong>Join the movement! Because together, we can stand strong against bullying...for good!</strong></p>
        </div>

        <div class="tab-pane text-style col-md-8" id="tab4">
          <h2>Student leadership</h2>
          <p>Supporting <strong>student engagement and leadership:</strong> Research has shown that the most effective programs that promote Upstander behavior and prevent bullying in a school incorporate student voice, engagement and student leadership. When students are invited to “buy in” to the solutions and take ownership in co-creating an improved school climate, the outcomes are stronger, more meaningful and longer lasting.</p>
          <p>NSCC has created <a href="//www.bullybust.org/">BullyBust: Promoting a Community of Upstanders</a> and <a href="//www.bullybust.org/upstander">Upstander Central</a> sites to support student leadership in this area as well as to provide everyone in the school community &ndash; parents, educators and students &ndash; with information and guidelines on ways to reduce mean, cruel and bullying behavior and promote a community of Upstanders.</p>
          <p>NSCC has created the <a href="//www.bullybust.org/upstander/toolkit">Upstander Alliance Tool Kit</a> (with both a moderator and a student guide) to promote student voice in anti-bullying efforts. This linked set of web-based resources are designed to support K-12 students and student teams, in collaboration with adult moderators at the school, in two overlapping ways. First, to raise awareness about mean, cruel and bullying behavior,. And, secondly, to take steps that will help to transform your school from a community of bystanders to a community of Upstanders (socially responsible students and adults). In addition to these detailed tool kits, the <a href="//www.bullybust.org/upstander/upstander-central/gregory-maguire">Upstander Central</a> was created as a space where youth could share their best practices, connect with other Upstander Alliances across the country, and receive tips and encouragement from experts, youth leaders, and celebrities committed to standing strong against bullying. </p>
          <p>To learn more about the Upstander Alliance guidelines, resources, activities and Upstander Central that supports BullyBust's Upstander student teams, <a href="//www.bullybust.org/upstander">click here.</a></p>
        </div>

        <div class="tab-pane text-style col-md-8" id="tab5">
          <h2>Social Crisis Preparedness: An Expanded Approach</h2>
          <p>Social Crisis Preparedness: Supporting district and building leaders developing <strong>social crisis preparedness programs.</strong> <em>The Breaking the Bully-Victim-Bystander Cycle Tool Kit</em> provides a comprehensive social crisis preparedness effort.</p>
          <p>Growing out of our collaborative work with the Ohio State Department of Education, NSCC suggests that schools need to develop social crisis preparedness programs that compliment and extend current efforts that focus on physical dangers, like fires, tornadoes and school violence. </p>
          <p>NSCC recommends that school districts and State Departments of Education consider developing Social Crisis Preparedness Programs that can be integrated into existing school safety plan. All schools are required to have crisis preparedness plans that anticipate physical dangers (e.g. fires, shootings, tornadoes, etc.). In fact, social dangers &ndash; like bullying and bystander behavior &ndash; are also processes that undermine students’ ability to learn and develop in healthy ways.</p>
          <div class="contentHighlight-A">
              <img alt="Video" src="{{'assets/includes/img/ico-video.png'|theme}}">&nbsp;Multimedia &mdash; Why is crisis/emergency planning important?
              <ul>
                  <li><a target="_blank" href="{{'assets/vid/social-crisis-preparedness/bob-interview.flv'|theme}}" rel="640,400" class="bumpbox">Robert Canning &mdash; Director of the Ohio Safe Schools Center</a></li>
                  <li><a target="_blank" href="{{'assets/vid/social-crisis-preparedness/jon-interview.flv'|theme}}" rel="640,400" class="bumpbox">Jonathan Cohen &mdash; Co-founder and President of NSCC</a></li>
              </ul>
          </div>
        </div>

      </div>

   </div>
  </div>
 </div>
</div>
