title = "Database - National School Climate Center"
url = "/policy/database/AZ"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>Arizona</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>Yes</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>Standards: These standards are part of an assessment tool geared to help all schools assess the strengths and limitations of their instructional practices and organizational conditions. School Climate standards are as follows: (1) There is a shared philosophy of commitment, ownership, vision, mission and goals that promote a culture of excellence; (2) Facilities support a safe and orderly environment conducive to student learning; (3)There is a policy, leadership, and staff support for an equitable code of discipline that supports student' understanding of rules, laws and expectations for responsible behavior that enables teaching and learning; (4) There is leadership, staff, student and community involvement in the development and implementation of safety plans that meet state requirements; (5) Teachers and staff build positive, nurturing relationships with students and work to improve student attendance, dropout rates, and graduation rates; (6) Student achievement is highly valued and publicly celebrated; (7) A healthy school culture promotes social skills, conflict management, and prevention programs so that students are prepared and ready to learn; (8) A culture of respect exists where relationships, trust, communication and collaboration are valued within the entire school community; (9) Change is accepted as a normal and positive process that leads to continuous district/school improvement; (10) All members of the school community are active partners in governance, and support and participate in school-wide improvement efforts; (11) Students are provided with a variety of learning opportunities within the normal school day; and may receive additional assistance beyond the regular classroom instruction to support their academic learning. www.azed.gov/schooleffectiveness/ STDSRUBRIC.pdf Yes, "A healthy school culture promotes social skills, conflict management, and prevention programs so that students are prepared and ready to learn." - Standard 7.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>Yes, "A healthy school culture promotes social skills, conflict management, and prevention programs so that students are prepared and ready to learn." - Standard 7.</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>N/A</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>N/A</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>N/A</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes: ARS  15-341(2005).</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Yes, if an event takes place that is considered a serious offense under ARS  13-706, or involves a deadly weapon, or causes serious physical injury, a report must be made to local law enforcement.  15-341(A)(31).</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>Yes, if the verbal conduct is considered: harassment, intimidation, or bullying.  15-341(A)(37). See below for additional information.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>Yes, students are prohibited from harassing, intimidating and bullying other students: on school grounds, on school property, on school buses, at school bus stops, and at school sponsored events.  15-341(A)(37). Also, there must be procedures in place for students and parents to confidentially report incidents and/or suspected incidents of harassment, intimidation, or bullying.  15-341(A)(37)(a-b). Additionally, school district employees are REQUIRED to report suspected incidents of harassment, intimidation, or bullying.  15-341(A)(37)(c).</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>Yes, Standards 4 and 10 (see above).</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>No</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>Yes, Standard 2: Facilities support a safe and orderly environment conducive to student learning.</td>
							</tr>
						</tbody>
					</table>

				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
