title = "Policy Center - National School Climate Center"
url = "/policy/database"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md text-center">
					Online Database: Policies/Laws
				</h3>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">
        <h2>Online Database: Policies/Laws</h2>
        <p>This database contains information about the state laws and educational policies for school climate as well as bully prevention in each state. From this database, you can generate profiles of the state policies for school climate and bully prevention efforts in individual states, and view predetermined reports on state policies for these two issues.</p>

				<div align="center" style="margin-bottom:20px;">
						<div id="map"></div>
					  <div id="state" style="font-weight:bold;"></div>
				</div>

        <p>This database builds on the 2007 school climate policy scan that the NSCC and the National School Climate Council conducted that focused on the following four questions:</p>
        <ol>
        <li>To what extent do states value climate?</li>
        <li>How is school climate defined at a State level and connected to policy and practice in the state?</li>
        <li>When State Departments of Education do integrate climate into their systems of accountability and other policies, what specific tools, assessments, programs, and supporting literature do they mandate or recommend to schools and districts?</li>
        <li>Finally, we have questioned: what more can states do to effectively promote positive school climate?</li>
        </ol>
        <p>To read a summary of our policy scan, please <a href="{{'assets/pdf/policy/policyscan.pdf'|theme }}">click here.</a></p>
        <p><strong>These databases are intended to support an understanding of what states have adopted in policy and practice in order to accomplish greater academic achievements, safer schools and positive youth development.</strong></p>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. (Last updated in December 2012). Please let us know if there are changes to your state's school climate or bully prevention policies.</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->

{% put scripts %}
<script type="text/javascript" src="{{'assets/includes/map/raphael-min.js'|theme }}"></script>
<script type="text/javascript" src="{{'assets/includes/map/states'|theme }}"></script>

<script type="text/javascript">
$(document).ready(function() {

	var R = Raphael("map", 580, 375),
		attr = {
		"fill": "#d3d3d3",
		"stroke": "#fff",
		"stroke-opacity": "1",
		"stroke-linejoin": "round",
		"stroke-miterlimit": "4",
		"stroke-width": "1",
		"stroke-dasharray": "none",
		"scale": ".6, .6, .6, .6"
	},
	usRaphael = {};


		//Draw Map and store Raphael paths
		for (var state in usMap) {
			usRaphael[state] = R.path(usMap[state]).attr(attr);
		}

		//Do Work on Map
		for (var state in usRaphael) {
			usRaphael[state].color = Raphael.getColor();

			(function (st, state) {

				st[0].style.cursor = "pointer";

				st[0].onmouseover = function () {
					st.animate({fill: st.color}, 500);
					st.toFront();
					R.safari();
					var state_upper = state.toUpperCase();
					$('#state').html(state_name[state_upper]);
				};

				st[0].onmouseout = function () {
					st.animate({fill: "#d3d3d3"}, 500);
					st.toFront();
					R.safari();
				};

				st[0].onclick = function () {
					st.toFront();
					R.safari();
					window.location.href = "/policy/database/"+state.toUpperCase();
				};
			})(usRaphael[state], state);
		}

});//end of document ready
</script>
{% endput %}