title = "Database - National School Climate Center"
url = "/policy/database/FL"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>Florida</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>Yes</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>The following standards were set forth by the FL DOE Office of School Improvement: (1) A clearly defined school mission developed and embraced by all stakeholders including students; (2) A drug-free, weapon-free, nurturing environment for all students; where success in school and life becomes the only attractive option; (3) Strong academic goals for all students; (4)Clear discipline standards that are fair and consistent with a "zero tolerance" toward violence; (5) Positive, respectful staff-student relationships that empower students to take an active role in the development of school policies and rules; (6) Positive parent and teacher expectations of students; (7) Cultural inclusion which includes acknowledgment of cultural and ethnic differences in lifestyles, values, and beliefs; (8) Good communication between the members of the school population and between the community and school; (9) Absence of over- and under-representation of minorities in certain school programs. www.flbsi.org/newsdesk/waveseries/ wave4.pdf</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>N/A</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>N/A</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>N/A</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>N/A</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes. Fla. Stat  1006 .07(2)(2004) requires that each district school board develop and implement a "code of student conduct" that includes safety policies.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Yes. A student may be suspended or expelled for violence against any district school board personnel. Fla. Stat.  1006.07(2)(g). Additionally, if a student physically assaults another student or school employee, the student may be punished for violating the bullying and harassment policy. Fla. Stat.  1006.147(3).</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>Yes, if the verbal abuse constitutes bullying or harassment, the perpetrator may be punished for violating the bullying and harassment policy. Fla. Stat.  1006.147(3).</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>Yes, teasing and harassment are covered under the bullying and harassment policy. Fla. Stat.  1006.147. Harassment is defined as any threatening, insulting, or dehumanizing gesture, use of data or computer software, or written, verbal, or physical conduct directed against a student or school employee that: 1. Places a student or school employee in reasonable fear of harm to his or her person or damage to his or her property; 2. Has the effect of substantially interfering with a student's educational performance, opportunities, or benefits; or 3. Has the effect of substantially disrupting the orderly operation of a school.  1006.147(3)(b).</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>Yes, the bullying and harassment policy protects a student's emotional and intellectual safety.  1006.147(3)(a).</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>Yes, for safety: each district is responsible for providing, among others, teachers and administrators with instruction on identifying, preventing, and responding to bullying and harassment.  1006.147(5)(l).</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>No</td>
							</tr>
						</tbody>
					</table>

				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
