title = "Database - National School Climate Center"
url = "/policy/database/GA"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>Georgia</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>Yes</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>O.C.G.A.  20-2-155 (1985) states that the state board of education will establish a statewide school climate management program</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>No, but school climate improvements include: promoting positive gains in student achievement scores, student and teacher morale, community support, and attendance, while decreasing suspensions, expulsions, and drop-outs, under O.C.G.A.  20-2-155. Also, Georgia State Department of Education utilizes NSCC's definition of school climate in their discussion of their state survey as well in their accountability system.</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>Yes, results of the program have to be reported to the General Assembly. O.C.G.A.  20-2-155. See also O.C.G.A.  20-2-131 (10).</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>No</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>Yes, surveys.</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes: O.C.G.A.  160-4-8-.15(2004).</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Yes, physical assault or battery of teachers, administrators, and other school personnel is prohibited.  160-4-8-.15(2)(a)(3).</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>Yes, verbal assault, including threatening violence or sexual harassment is prohibited.  160-4-8-.15(2)(a).</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>Limited, sexual harassment is prohibited.  160-4-8-.15(2)(a)(5). Harassment, in general, is prohibited under the anti-bullying policy O.C.G.A.  20-2-751.4 (2010).</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>Yes, upon the request of local boards, the State Board of Education will provide technical assistance, workshops, printed materials, and any other assistance that is deemed appropriate. O.C.G.A.  20-2-155</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>No</td>
							</tr>
						</tbody>
					</table>

				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
