title = "Database - National School Climate Center"
url = "/policy/database/ID"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>Idaho</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>Yes</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>[Administrative Code] IDAPA 08.02.03 160 requires each school district to adopt and implement policy that includes school climate.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>No, however the Idaho Coordinated School health program does. "healthy school environment involves two arenas. A positive emotional and social climate is critical to support learning and healthy social development. A safe and functional physical plant of the school, including the school building and grounds, is important to allow students an opportunity to succeed." www.sde.idaho.gov/site/csh/ enironment.htm</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>Yes, as part of the coordinated school health program. (currently only 9 pilot schools)</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>Yes, surveys.</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes: Idaho Code Ann.  18-917A(2010)</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Yes, physical violence is prohibited.</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>Yes, verbal abuse is prohibited.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>Yes, harassment is prohibited.</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>Yes, a student may be in violation of the policy if his acts create an "intimidating or abusive educational environment" for another student.  18-17A(2)(b).</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>Yes, on the Idaho DOE website there are school climate resources such as surveys, and rubrics.</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>No</td>
							</tr>
						</tbody>
					</table>


				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
