title = "Database - National School Climate Center"
url = "/policy/database/IL"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>Illinois</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>Yes</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>Illinois' Comprehensive System of Learning Supports (http://www.isbe.net/learningsupports/default.htm). A Comprehensive System of Learning Supports: Promotes the necessary conditions for learning which includes: A safe, caring, participatory, and responsive school climate and; The development of academic, physical, social, emotional, and behavioral competencies. Addresses barriers to learning and teaching such as: bullying, disengagement, absenteeism, and behavioral health issues.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>Yes, "School climate" refers to the quality and character of school life. It is based on patterns of school life experiences and reflects norms, goals, values, interpersonal relationships, teaching, learning and leadership practices and organizational structures (National School Climate Council). It plays a role in: the adoption of new practices; large transformational changes; social and emotional learning; the prevalence of mental health issues; the prevalence of school violence and bullying; academic success; teacher attrition; and much more. According to the National School Climate Center, most researchers agree that the essential school climate areas of focus include: Safety (e.g. rules and norms; physical safety; social-emotional safety); Relationships (e.g. respect for diversity; school connectedness/engagement; Social support- adults; social support - students; leadership); Teaching and Learning (e.g. social, emotional, ethical and civic learning; support for learning; professional relationships); and the Institutional Environment (e.g. physical surrounding). A Comprehensive System of Learning Supports is fully integrated with the Curriculum and Instruction System and the Governance/Management System, as part of the district/school improvement policy and practice.</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>Yes</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>Unknown</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>Yes, as part of Illinois' 5 Essentials Survey</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes, 105 ILCS 5/27-23.7(2010).</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Yes, physical violence is prohibited.</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>Yes, verbal abuse is prohibited.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>Yes, harassment is prohibited.</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>Yes, a student can be found in violation of the policy if his actions cause a substantial and detrimental effect to another's mental health, or if his actions cause a substantial interference with another student's academic performance.</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>Yes, for safety: Illinois State BOE has a School Bullying Prevention Task Force (SBPTF) that highlights training and technical assistance opportunities for schools to effectively address bullying. http://www.isbe.net/SBPTF/default.htm</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>No</td>
							</tr>
						</tbody>
					</table>

				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
