title = "Database - National School Climate Center"
url = "/policy/database/ME"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>Maine</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>No, but there is state support.</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>There are school climate guidelines. www.mainecshp.com/school_climate/ guidelines.html</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>Yes: "School climate is the synthesis of policies, procedures, activities, programs, and facilities, both formal and informal, within a school infrastructure that affect the attitudes and behaviors of all people in the school-staff, students, parents, and visitors. Constant attention must be paid to the creation and continuation of a school climate that is warm, welcoming, supportive, and encouraging. School administrators play a key role in creating a positive working environment for staff, an environment that is conducive to learning and promotes students' healthy development, and an environment that welcomes families as partners." d.</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>Yes, through the Coordinated School Health Program</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>Yes. www.mainecshp.com/guidelines.html</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes, there are safety guidelines.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Yes, under Guidelines 1 and 2, schools must provide a physically healthy environment in which students and staff are free from violence, harassment, discrimination, and abuse.</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>Yes, under Guidelines 1 and 2, schools must provide a physically healthy environment in which students and staff are free from violence, harassment, discrimination, and abuse.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>Yes, under Guidelines 1 and 2, schools must provide a healthy environment in which students and staff are free from harassment and abuse.</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>Yes, under Guidelines 1 and 2, schools must provide a socially and emotionally healthy environment.</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>Yes, under Guideline 4, students should be given a voice regarding school climate issues, including a Student Leadership Team that meets on a regular basis for input regarding school climate policy-making.</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>Yes, under Guideline 4, students are to plan and conduct school and community service and service learning activities.</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>Yes, for dispute/conflict resolution, positive behavior supports, and safety. Guidelines 2 and 7</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>Yes, under Guideline 3.</td>
							</tr>
						</tbody>
					</table>

				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
