title = "Database - National School Climate Center"
url = "/policy/database/MI"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>Michigan</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>Yes</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>Michigan has standards for teachers regarding learning environment. "The teacher works with others to create environments that support individual and collaborative learning, and that encourage positive social interaction, active engagement in learning, and self motivation." (1) The teacher collaborates with learners, families, and colleagues to build a safe, positive learning climate of openness, mutual respect, support, and inquiry; (2) The teacher develops learning experiences that engage learners in collaborative and self-directed learning and that extend learner interaction with ideas and people locally and globally; (3) The teacher collaborates with learners and colleagues to develop shared values and expectations for respectful interactions, rigorous academic discussions, and individual and group responsibility for quality work; (4) The teacher manages the learning environment to actively and equitably engage learners by organizing, allocating, and coordinating the resources of time, space, and learners attention; (5) The teacher uses a variety of methods to engage learners in evaluating the learning environment and collaborates with learners to make appropriate adjustments; (6) The teacher communicates verbally and nonverbally in ways that demonstrate respect for and responsiveness to the cultural backgrounds and differing perspectives learners bring to the learning environment; (7) The teacher promotes responsible learner use of interactive technologies to extend the possibilities for learning locally and globally. (8) The teacher intentionally builds learner capacity to collaborate in face-to-face and virtual environments through applying effective interpersonal communication skills.www.michigan.gov/documents/ mde/InTASC_Model_Core_Teaching_ Standards_2011_352031_7.pdf - 2011-05-03</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>N/A</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>N/A</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>N/A</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>Yes</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes, MCL 380.1311(11).</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Yes, physical violence is prohibited.</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>Yes, verbal assaults are prohibited. There is no statutory definition of verbal abuse, however. The definition is left up to the school boards.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>No</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>Yes. The Michigan DOE website has a link to a school climate survey. www.michigan.gov/documents/mde/School-Climate-Survey_285381_7.pdf - 2009-07-09</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>No</td>
							</tr>
						</tbody>
					</table>

				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
