title = "Database - National School Climate Center"
url = "/policy/database/MN"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>Minnesota</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>Yes, The Safe and Supportive Minnesota Schools Act [HF 826], which requires the Department of Education to create a school climate center, establish a state school climate council and develop a state model anti-bullying policy. Additionally, it requires all school districts and charter schools in the state to adopt local anti-bullying policies and provide safe and supportive programming.</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>https://www.revisor.mn.gov/bills/text.php?number=HF826&amp;version=7&amp;session=ls88&amp;session_year=2013&amp;session_number=0</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>HF 826 does not but MN Department of Education utilizes NSCC's definition of school climate, defining School climate as based on patterns of students', parents' and school personnel's experience of school life. It reflects norms and goals and values interpersonal relationships, teaching and learning practices and organizational structures. A positive school climate fosters youth development and learning necessary for a productive, contributing life in a democratic society. http://education.state.mn.us/MDE/EdExc/SchSaf/SchClimate/index.html</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>No</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>It is suggested: The legislation states, "the commissioner shall develop post departmental procedures for "investigating, reporting, and responding to noncompliance with this section, which may include an annual review of plans to improve and provide a safe and supportive school climate…." In addition, The School Safety Technical Assistance Center "shall… establish and maintain a central repository for collecting and analyzing information about prohibited conduct under section 121A.031, including but not limited to… other resources for improving the school climate and preventing prohibited conduct under section 121A.031."</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes, Minn. Stat. § 121A.03 requires school boards to develop a safety policy.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Yes, the policy must address physical violence.</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>Yes, and broadly</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>Yes, and broadly</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>Yes, in depth</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>It is "encouraged" but not required</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>Yes. The Dept. of Education and Dept. of Public Safety must provide TA to school climate council members upon request In addition, the commissioner is required to "establish a school safety technical assistance center at the department to help districts and schools ... provide a safe and supportive learning environment and foster academic achievement for all students by focusing on prevention, intervention, support, and recovery efforts to develop and maintain safe and supportive schools."</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>No</td>
							</tr>
						</tbody>
					</table>

				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
