title = "Database - National School Climate Center"
url = "/policy/database/ND"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>North Dakota</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>Yes</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>N. Dakota has Healthy and Safe School Environment System Standards which include, Standard III - Whole School Approach to Providing a Safe, Caring and Respectful School Culture and Climate. The indicators include: (1)Commitment to Safe, Caring, and Respectful School Culture and Climate; (2) Quality Approach to Safe, Caring and Respectful School Environment; (3) Education to Promote Safe, Caring and Respectful School Culture and Climate.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>Yes, as the "Sum of the values, cultures, safety practices, and organizational structure of the school that cause it to function and react in particular ways. It is the overall atmosphere of a school's learning environment. The general tone or prevailing attitude within the school includes the physical attributes of the school as well as the way business is carried out in the school. It is affected by how well students, staff and the community interact and what approaches are used to solve problems." (ND Dept. of Public Instruction Healthy and Safe School Environment System Standards 3/2007)</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>Yes, as a component of the Coordinated School Health Program.</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>Yes, through the Coordinated School Health Program.</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes, NDCC 15.1-19-10</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Limited, it prohibits the possession of weapon. However, there is currently a bullying bill in the N.D. legislative process, which does address physical, verbal violence.</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>No.However, there is currently a bullying bill in the N.D. legislative process, which does address physical, verbal violence.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>No.However, there is currently a bullying bill in the N.D. legislative process, which does address physical, verbal violence.</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>Yes, for safety on the Coordinated School Health's webpage. www.dpi.state.nd.us/health/SDFSC/ resource.shtm#bully</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>No</td>
							</tr>
						</tbody>
					</table>

				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
