title = "Database - National School Climate Center"
url = "/policy/database/NY"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>New York</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>Yes</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>NY has professional development standards tied to "Student Learning Environment": standard - Professional development ensures that educators have the knowledge and skill to create safe, secure, supportive, and equitable learning environments for all students. Indicators include: 1. Professional development provides opportunities for educators to create a safe, inclusive, equitable learning community where everyone participates in maintaining a climate of caring, respect, and high achievement. 2. Professional development provides opportunities for educators to collaborate with school psychologists and social workers to develop effective strategies for student behavior and classroom management, and to seek creative solutions to conflicts. 3. Professional development provides opportunities for educators to analyze and use data about student behavior (such as discipline referrals, suspension information, school climate surveys, and social-emotional data) to refine educational practices and promote optimal learning environments.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>New York has adopted the definition set forth by Wayne K. Hoy: School climate is a general term that refers to the feel, atmosphere, tone, ideology, or milieu of a school. Just as individuals have personalities, so too do schools; a school climate may be thought of as the personality of a school. The feelings and attitudes that are elicited by a school's environment are referred to as school climate. Most researchers agree that it is a multidimensional construct that includes physical, social, and academic dimensions." www.p12.nysed.gov/technology/library/</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>No</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes, New York has three (3) safety policies: Corporal Punishment, Safe Schools Against Violence in Education (SAVE), and Safe and Drug Free School and Community Act (SDFSCA).</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Yes, physical violence is prohibited. Ed. Law Ch. 16 Tit. II Art. 55 2801 (2)(d).</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>Yes (limited), threats of violence are prohibited. Ed. Law Ch. 16 Tit. II Art. 55 2801 (2)(d).</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>Yes, harassment is prohibited. Dignity for All Students Act, Art. 2 11.7 (2010).</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>Yes, educational performance and mental and emotional well-being are protected. Dignity for All Students Act, Art. 2 11.7.</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>Yes, for safety. Schools must implement training programs to discourage the development of discrimination and/or harassment. And, one staff member at every school must be thoroughly trained to handle human relations. N.Y. C.L.S. Educ. 13.</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>No</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>No</td>
							</tr>
						</tbody>
					</table>

				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
