title = "Database - National School Climate Center"
url = "/policy/database/OH"
layout = "default"
is_hidden = 0
==
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md ">
					Online Database: Policies/Laws
				</h3>
				 <a href="/about/contact-us" class="btn   btn-lg  btn-bright-cerulean">Contact Us</a>
			</div>
		</div>
	</div>
</div>

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">

        <div id="MapDiv">

        <h2>Ohio</h2>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. Please let us know if there are changes to your state's school climate policies.</p>
				<div class="scan_database">
					<h4>School Climate Policies: State Profile</h4>

					<table id="policy_scan_grid">
						<tbody>
							<tr>
								<th colspan="2">Basics</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a school climate policy?</span></td>
								<td>No, but there is state support.</td>
							</tr>
							<tr>
								<td><span>What is the source?</span></td>
								<td>Ohio School Climate Guidelines. Please follow the link for the full 22 page document. http://www.education.ohio.gov/ GD/DocumentManagement/ DocumentDownload.aspx? DocumentID=8563</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy define school climate? If so, how?</span></td>
								<td>N/A</td>
							</tr>
							<tr>
								<td><span>Is the policy part of the accountability system?</span></td>
								<td>N/A</td>
							</tr>
							<tr class="odd">
								<td><span>Is there funding for the school climate policy?</span></td>
								<td>N/A</td>
							</tr>
							<tr>
								<td><span>Is school climate measured?</span></td>
								<td>N/A</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Safety</th>
							</tr>
							<tr>
								<td><span>Is there a safety policy? (NSCC assumes that all states have a policy regarding physical safety (building structure etcetera) and emergency responses. This question is focused on personal safety.)</span></td>
								<td>Yes: Ohio Rev. Code Ann.  3313.666 (2010)</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address physical violence?</span></td>
								<td>Yes, physical violence is prohibited.</td>
							</tr>
							<tr>
								<td><span>Does the policy address verbal abuse?</span></td>
								<td>Yes, verbal abuse is prohibited.</td>
							</tr>
							<tr class="odd">
								<td><span>Does the policy address harassment and teasing?</span></td>
								<td>Yes, harassment is prohibited</td>
							</tr>
							<tr>
								<td><span>Does the policy address social, emotional and/or intellectual safety?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Relationship</th>
							</tr>
							<tr>
								<td><span>Are there youth engagement requirements?</span></td>
								<td>Yes, students are to be allowed the opportunity to provide input into the development of classroom rules and school policy. Guideline 6, Benchmark C &amp; Guideline 8</td>
							</tr>
							<tr class="odd">
								<th colspan="2">Teaching and Learning</th>
							</tr>
							<tr>
								<td><span>Is Service Learning a required pedagogic strategy, designed to foster student engagement/leadership?</span></td>
								<td>No</td>
							</tr>
							<tr class="odd">
								<td><span>Is there technical assistance and professional development available for teachers and school administrators?</span></td>
								<td>Yes, for the safety policy. To the extent funding allows, each school district must provide training, workshops, or courses regarding the policy.  3313.667(B)(1). For School Climate technical assistance and training materials that demonstrate the contributions of a positive school climate should be distributed along with coordinated training days. Guideline 1.Benchmark B.Indicator 1 &amp; 3 (see also Guidelines 4 &amp; 6 ).</td>
							</tr>
							<tr>
								<th colspan="2">External Environment</th>
							</tr>
							<tr class="odd">
								<td><span>Is there a policy mandating a clean and/or attractive school?</span></td>
								<td>No</td>
							</tr>
						</tbody>
					</table>

				</div>

        </div>

			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
