title = "Policy Center - National School Climate Center"
url = "/policy/policy-center"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- banner -->
<div class="bloc bg-publications-library-Dark tc-white bgc-white b-parallax" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
				<h3 class="mg-md text-center lg-shadow">
					School Climate Policy Center
					<a href="/about/contact-us" style="margin-top:10px;" class="btn btn-lg btn-bright-cerulean pulse-hvr animated">Contact us</a>
				</h3>
				<p class="text-center">
					Our policy center is designed to help school leaders think about creating policies that center around school climate improvement.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- banner -->

<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-md-12">
        <h2>Online Database: Policies/Laws</h2>
        <p>This database contains information about the state laws and educational policies for school climate as well as bully prevention in each state. From this database, you can generate profiles of the state policies for school climate and bully prevention efforts in individual states, and view predetermined reports on state policies for these two issues.</p>

				<div align="center" style="margin-bottom:20px;">
						<div id="map"></div>
					  <div id="state" style="font-weight:bold;"></div>
				</div>

        <p>This database builds on the 2007 school climate policy scan that the NSCC and the National School Climate Council conducted that focused on the following four questions:</p>
        <ol>
        <li>To what extent do states value climate?</li>
        <li>How is school climate defined at a State level and connected to policy and practice in the state?</li>
        <li>When State Departments of Education do integrate climate into their systems of accountability and other policies, what specific tools, assessments, programs, and supporting literature do they mandate or recommend to schools and districts?</li>
        <li>Finally, we have questioned: what more can states do to effectively promote positive school climate?</li>
        </ol>
        <p>To read a summary of our policy scan, please <a href="{{'assets/pdf/policy/policyscan.pdf'|theme }}">click here.</a></p>
        <p><strong>These databases are intended to support an understanding of what states have adopted in policy and practice in order to accomplish greater academic achievements, safer schools and positive youth development.</strong></p>
        <p>Maintenance of this database is a collective effort between NSCC and the National School Climate Council. Please contact Jessica Savage, (212) 707-8799 or jsavage@schoolclimate.org with questions or comments about the database. (Last updated in December 2012). Please let us know if there are changes to your state's school climate or bully prevention policies.</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->



<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-sm b-divider">
		<div class="row">
			<div class="col-md-12">
        <p><a href="/research/">School climate research</a> shows that safe, supportive, engaging and helpfully challenging schools are associated with and/or predictive of positive youth development, effective risk prevention efforts and increased academic achievement as well as teacher retention. <strong>These research findings underscores that school climate policy should be a part of educational policy and help to shape local school improvement efforts.</strong></p>
        <p>In theory, research should shape policy, which in turn dictates practice guidelines. In 2007 The National School Climate Council established that there was a gap between school climate research on the one hand and school climate policy, practice guidelines and applications as well as teacher education. State policies importantly shape and directly impact education experiences for students.</p>
        <p><strong>The National School Climate Center</strong> and the <a href="/about/mission-vision-us">National School Climate Council</a> are committed to narrowing this gap.</p>
        <p><strong>NSCC</strong> makes available the following policy-related services and resources:</p>
        
        <!--Accordion start-->
        
        <div class="panel-group" id="accordion">
    <div class="container bloc-md">
        <div class="row">
			<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Policy and Civil Rights Consultation Services</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
          <strong>NSCC</strong> offers the following policy consultation services regarding school climate, bullying, and harassment:
              <p></p>
              <ol>
                  <li>Consult with school districts to develop comprehensive school climate policies;</li>
                  <li>Consult with school districts to develop comprehensive bullying/harassment policies; and</li>
                  <li>Review of existing state and/or district school climate and/or bullying/harassment policies with analysis and recommendations regarding their alignment with comprehensive school climate policy.</li>
                  <li><span >Consult with schools to help prevent violations of civil rights statutes and eliminate victimization of students and members of the school community, including guidance regarding OCR’s Dear Colleague Letters (DCLs). <a href="#">Click here</a> for guidance documents regarding the DCLs and easy access to the DCLs.</span></li>
              </ol>
              <p><em>Some of the organizations and departments that NSCC has consulted to include: Numerous State Departments of Education (such as Louisiana, New Jersey, Tennessee, Connecticut, Pennsylvania, Ohio, New York, Minnesota, and South Dakota), school districts both large and small (such as Chicago and Westbrook, Connecticut), and national and local organizations (such as the Association for Alaska School Boards, Council of State Governments, New Jersey Office of Legislative Services, ASCD, Special Olympics, The Social-Emotional Learning Alliance for Massachusetts, New America, Alliance for Education and Futures Without Violence).</em></p>
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        State-Specific School Climate Policy Institutes</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
          <strong>NSCC</strong> develops and presents a one-day conference on school climate policy, geared to the specific needs of your state. The conference is intended for school district leadership teams to include school district superintendents, assistant superintendents, school leaders, school board members, as well as state education policy leaders.
              <p></p>
              <p>During the Institute, participants will learn about the school climate policy development process, as well as concrete guidelines they should consider for enhancing district-wide school climate policies. The Institute will help participants:</p>
              <ol>
                  <li>Learn how school climate approaches support current initiatives, including PBIS, Character Education, Social Emotional Learning and Restorative Practices.</li>
                  <li>Critically analyze how their district’s current policies and procedures align with a comprehensive school climate approach.</li>
                  <li>Connect school climate policy with civil rights concerns, such as discriminatory discipline and harassment.</li>
                  <li>Leave with tools to critically review and revise district policies to support a positive school climate.</li>
                  <li>Gain the opportunity to join an emerging professional learning community of school district teams working to further research-based school climate policy and practice efforts.</li>
              </ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Webinars, Technical Assistance, and Trainings</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
          <strong>NSCC</strong> offers webinars tailor-made to address specific areas of need in your district/state. Possible topics include: overcoming challenges to policy implementation; the policy development and implementation process &ndash; how to engage the entire community and facilitate buy-in; how to prevent discriminatory discipline practices through developing school climate policy in your district.
              <p></p>
              <p>NSCC offers coaching and technical assistance in various packages, from less intensive Technical Assistance involving telephone calls answering general questions on a needed basis, to more intensive coaching in order to assist districts with their policy drafting and implementation process.</p>
              <p>NSCC offers professional development trainings for educators regarding best practices for preventing discrimination, bullying, and harassment.
              <br>
              </p>
      </div>
    </div>
      </div>
  </div>
  </div>
  </div>
</div>
<!--Accordion end-->
        
			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->








<!-- bloc-39 -->
<div class="bloc bgc-white" id="bloc-39">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-md-12">
        <p><span>In addition, we have developed a number of resources and tools that can be used in conjunction with the above-listed services:</span></p>
        <ol>
            <li>The National School Climate Council created the <strong>National School Climate Standards</strong> to present a vision and framework for a positive and sustainable school climate. They complement national standards for Content, Leadership, and Professional Development and the Parent Teacher Association’s National Standards for Family School Partnerships Standards. To go directly to the Standards <a href="/about/mission-vision">click here</a>.</li>
            <li ><b>Online database of policies and laws:</b><span > This database contains information about the state laws and educational policies for school climate as well as bully prevention in each state. From this database, you can generate profiles of the state policies for school climate and bully prevention efforts in individual states, and view predetermined reports on state policies for these two issues.&nbsp;</span></li>
            <li ><b>Tools:</b>
                <ol>
                    <li ><span >NSCC Targeted Policy Analysis Checklist </span></li>
                    <li ><span >NSCC Prosocial Initiatives/Programs Inventory</span></li>
                    <li ><span >NSCC School Climate Policy Principles </span></li>
                    <li ><span >NSCC Comprehensive School Climate Policy Framework Tool</span></li>
                    <li ><span >Sample School Climate Adapted Targeted policies</span></li>
                </ol>
            </li>
        </ol>
			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->




{% put scripts %}
<script type="text/javascript" src="{{'assets/includes/map/raphael-min.js'|theme }}"></script>
<script type="text/javascript" src="{{'assets/includes/map/states'|theme }}"></script>

<script type="text/javascript">
$(document).ready(function() {

	var R = Raphael("map", 580, 375),
		attr = {
		"fill": "#d3d3d3",
		"stroke": "#fff",
		"stroke-opacity": "1",
		"stroke-linejoin": "round",
		"stroke-miterlimit": "4",
		"stroke-width": "1",
		"stroke-dasharray": "none",
		"scale": ".6, .6, .6, .6"
	},
	usRaphael = {};


		//Draw Map and store Raphael paths
		for (var state in usMap) {
			usRaphael[state] = R.path(usMap[state]).attr(attr);
		}

		//Do Work on Map
		for (var state in usRaphael) {
			usRaphael[state].color = Raphael.getColor();

			(function (st, state) {

				st[0].style.cursor = "pointer";

				st[0].onmouseover = function () {
					st.animate({fill: st.color}, 500);
					st.toFront();
					R.safari();
					var state_upper = state.toUpperCase();
					$('#state').html(state_name[state_upper]);
				};

				st[0].onmouseout = function () {
					st.animate({fill: "#d3d3d3"}, 500);
					st.toFront();
					R.safari();
				};

				st[0].onclick = function () {
					st.toFront();
					R.safari();
					window.location.href = "/policy/database/"+state.toUpperCase();
				};
			})(usRaphael[state], state);
		}

});//end of document ready
</script>
{% endput %}