title = "Donation - National School Climate Center"
url = "/donation-2"
layout = "donation"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"

[Stripecomponent]
==
<!-- bloc-49 -->
<div class="bloc bgc-platinum l-bloc bg-gray" id="polina" >
	<video poster="{{'assets/includes/img/Everest.jpg'|theme}}" id="bgvid" playsinline autoplay muted loop>
			<source src="{{'assets/vid/donation/Everest.webm'|theme}}" type="video/webm">
			<source src="{{'assets/vid/donation/Everest.mp4'|theme}}" type="video/mp4">
  </video>
	<div  class="container bloc-md container-bg-white-trans donation-form-container">

    <div class="col-sm-10 col-sm-offset-1">
			<div class="row">
				 <div class="col-sm-12" style="color: #473c3c; font-size: 20px; line-height: 36px; text-align: justify;">
							<h1>Make a Difference</h1>
							Each year NSCC works with hundreds of schools to measure and improve their climates for learning. NSCC has helped thousands of students feel safer and more supported in and around their schools. Our programs help schools reduce bullying, lower dropout rates and improve academic achievement though a positive school climate. But we can't do alone...we need YOUR support.
					</div>

			</div>
		 <div class="row" >
				<div class="col-sm-12">
					<p class="payment-errors"></p>
				</div>
				<div class="col-sm-12">
         {% component 'Stripecomponent' %}
      	</div>
		</div>
	</div>
 </div>
</div>
<!-- bloc-49 END -->