title = "Donation - National School Climate Center"
url = "/donate-paypal"
layout = "default"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"

[Stripecomponent]
[PayPalPayments]
==
<div class="bloc bg-banner-donation tc-white bgc-white b-parallax header-banner" id="bloc-26">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 bg-gr-tx-wt lg-shadow">
				    <h3 class="mg-md text-center lg-shadow ">
				         Help us create schools where <span class="orangeTxt">all students</span> thrive.
					    <!-- With your support, we can truly <br>make lasting <span class="orangeTxt">change</span> together. -->
				    </h3>
			    </div>
			</div>
		</div>
	</div>
</div>

<!-- bloc-49 -->
<div class="bloc bgc-platinum l-bloc bg-gray" id="polina" >
<!--     <video poster="{{'assets/includes/img/Everest.jpg'|theme}}" id="bgvid" playsinline autoplay muted loop>
        <source src="{{'assets/vid/donation/Everest.webm'|theme}}" type="video/webm">
        <source src="{{'assets/vid/donation/Everest.mp4'|theme}}" type="video/mp4">
  </video> -->
	<div  class="container bloc-md container-bg-white-trans donation-form-container">

    <div class="col-sm-10 col-sm-offset-1">
			<div class="row" style="text-align:left;">
				 <div class="col-sm-12">
							<h1>Give to NSCC every year, improve education every day.</h1>
              <p class="donation-msg">
							Each year NSCC works with hundreds of schools to measure and improve their climates for learning. NSCC has helped thousands of students feel safer and more supported in and around their schools.
							Our programs help schools reduce bullying, lower dropout rates, and improve academic achievement though a positive school climate.
             </p>
					</div>
			</div>

      {% partial "donation/donation-form" %}

	</div>
 </div>
</div>
<!-- bloc-49 END -->
