==
<style>
    #donations-annual-popup .img-background img {
        width: 100%;
        max-height: 480px;
        object-fit: cover;
        object-position: 50% 0%;
        border-radius: 4px;
    }
    #donations-annual-popup .img-background .img-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        background: rgba(0, 0, 0, 0.2);
    }
    #donations-annual-popup .modal-body {
        padding: 0px !important;
    }
    #donations-annual-popup .modal-body .close {
        position: absolute;
        right: 4px;
        top: 4px;
        z-index: 10001;
    }
    #donations-annual-popup .modal-body .content {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
    }
    #donations-annual-popup .text-wrap {
        position: relative;
        margin-top: 10%;
        padding-left: 10%;
    }
    #donations-annual-popup .text-wrap .title-1 {
        font-size: 27.5px;
        color: white;
        font-weight: 600;
    }
    #donations-annual-popup .text-wrap .title-2 {
        color: white;
        font-size: 50px;
        font-weight: 900;
        margin-top: 10px;
    }
    #donations-annual-popup .text-wrap .title-3 {
        color: white;
        font-size: 25px;
        margin-top: 20px;
    }
    #donations-annual-popup .btn-donate-now {
        background: #59bbd4;
        border-color: #59bbd4;
        border-radius: 10px;
        font-weight: 900;
        margin-top: 20px;
        font-size: 30px;
    }
    @media (max-width: 480px) {
        #donations-annual-popup .img-background img {
            max-height: 176px;
        }
        #donations-annual-popup .text-wrap {
            margin-top: 7%;
            margin-left: 2%;
        }
        #donations-annual-popup .text-wrap .title-1 {
            font-size: 12px;
            color: white;
            font-weight: 600;
            margin-bottom: 2px;
        }
        #donations-annual-popup .text-wrap .title-2 {
            color: white;
            font-size: 20px;
            font-weight: 900;
            margin-top: 0px;
        }
        #donations-annual-popup .text-wrap .title-3 {
            color: white;
            font-size: 12px;
            margin-top: 2px;
        }
        #donations-annual-popup .btn-donate-now {
            margin-top: 0px;
            font-size: 10px;
        }
    }
</style>

<div class="modal fade" id="donations-annual-popup" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    <div class="img-background" style="background: #fff">
                        <img class="img-responsive center-block" src="{{'assets/images/donation//annual-popup-bg-min.jpg'|theme}}" />
                        <div class="img-overlay"></div>
                    </div>
                    <div class="content">
                        <div class="text-wrap">
                            <h4 class="title-1" style=""> #EveryStudentEverySchool </h4>
                            <h2 class="title-2">All kids deserve<br>a chance.</h2>
                            <h5 class="title-3">Join us in creating a positive school climate<br>for <strong>every student, in every school.</strong></h5>
                            <button type="button" class="btn btn-primary btn-donate-now" onclick="window.location='{{ url("donate") }}'">DONATE NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>