[viewBag]
==
<?php
function onStart(){
 $this['constantcontact_ca'] = config::get('constantcontact.CONSTANTCONTACT_CA');
 $this['constantcontact_list'] = config::get('constantcontact.CONSTANTCONTACT_LIST');
}
?>
==
<div class="modal inmodal" id="donation" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm" style="margin-left:auto;margin-right:auto; ">
        <div class="modal-content animated fadeIn">
            <div class="modal-header" style="padding-bottom:0px;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>

                    <h3 class="mg-md text-center" >
                          <span style="color: #075081;font-size: 27px;font-weight: bold;">Join</span> <span style="color:#45AEC2;font-size: 27px;font-weight: bold;">Our</span> <span style="color:#7B7B7B;font-size: 27px;font-weight: bold;">Mission </span><span style="color:#25486A;font-size: 27px;font-weight: bold;">Today</span>
                    </h3>

            </div>
            <div class="modal-body">
                    <p>Bullying, bias and hate related incidents are on the rise. NSCC is at the forefront of responding to this public health crisis, but we are in need of financial support to meet the high demand.</p>
                    <center>

                    <div class="donateBtn-homeContainer">
                        <a href="/donation" class="btn  btn-bright-cerulean  btn-md"><b>Donate to our Mission</b></a>
                    </div>
                  </center>
                   <hr>

                    <form data-id="embedded_signup:form" class="ctct-custom-form Form ctct-embed-signup" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
                    	<span id="success_message" style="display:none;">
            						 <div style="color:#345BA9">Thanks for signing up!</div><br>
            					</span>
                      <input data-id="ca:input" name="ca" value="{{constantcontact_ca}}" type="hidden">
                      <input data-id="list:input" name="list" value="{{constantcontact_list}}" type="hidden">
                    	<input data-id="source:input" name="source" value="EFD" type="hidden">
            					<input data-id="required:input" name="required" value="list,email" type="hidden">
            					<input data-id="url:input" name="url" value="" type="hidden">

                      <div class="form-group text-center">
                        <p data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required">Sign Up for our Newsletter!</label>
                        <input data-id="Email Address:input" name="email" value="" class="form-control"  maxlength="80%" type="text"></p>
                        <button type="submit" class="btn submit btn-lapis-lazuli btn-md  Button ctct-button Button--block Button-secondary" data-enabled="enabled">Sign up today</button>
                      </div>
      				  </form>
            </div>
        </div>
    </div>
</div>
