==
<style>
    #other-way-donate-popup .modal-dialog {
        margin-left: auto;
        margin-right: auto;
    }
    #other-way-donate-popup .modal-header {
        color: #5abbd4;
        border-bottom: 1px solid #d3d3d3;
    }
    #other-way-donate-popup .modal-header .close {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 30px;
    }
    #other-way-donate-popup .modal-header .modal-title {
        font-size: 20px;
    }
    #other-way-donate-popup .modal-body p {
        font-size: 17px;
    }
</style>
<div class="modal fade" id="other-way-donate-popup">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Other ways to donate</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {#<p>#}
                {#    Cash contributions entitle you to a tax deduction for the amount of the gift. <br>#}
                {#    To make a gift by check, please make your check payable to <b>NSCC</b> and mail to: <br><br>#}
                {#</p>#}
                {#<p>#}
                {#    <strong>Mailing Address:</strong>#}
                {#    National School Climate Center, <br>#}
                {#    223 West 38th St., PO Box 490 <br>#}
                {#    New York, NY 10018#}
                {#</p>#}
                <br>
                <h4 class="orangeTxt">Gifts by Check</h4>
                <p>Cash contributions entitle you to a tax deduction for the amount of the gift. To make a gift by check, please make your check payable to NSCC and mail to:</p>
                <p><strong>National School Climate Center (NSCC)</strong>
                    <br><strong>223 West 38th Street, P.O. Box 490</strong>
                    <br><strong>New York, NY 10018</strong>
                </p>
                <hr />
                <h4 class="orangeTxt">Gifts of Securities</h4>
                <p><strong>Merrill Lynch Delivery Instruction:</strong>
                    <br>Account Name: <strong>National School Climate Center</strong>
                    <br>DPC #: <strong>8862</strong>
                    <br/>Account #: <strong>847-03630</strong>
                </p>
                <p>To assure proper transfer of your stock, please notify us:</p>
                <p>212-707-8799 ext. 21 
                    <br>Email: <a href="mailto:info@schoolclimate.org"> info@schoolclimate.org</a>
                </p>
                <hr />
            </div>
        </div>
    </div>
</div>