==
<style>
    .frameWrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }
    .frameWrapper iframe,
    .frameWrapper object,
    .frameWrapper embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    button.close {
        margin: -20px -12px 0 0;
        font-size: 30px;
    }
    .modal-dialog {
        top: 50% !important;
        transform: translateY(-50%) !important;
    }
</style>
<div class="control-popup modal fade" id="safety-popup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="safety-video" class="frameWrapper">
                    <iframe id="iframeSafety" src="https://player.vimeo.com/video/298217916" width="100%" height="320" frameborder="0" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="control-popup modal fade" id="engagement-popup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="engagement-video" class="frameWrapper">
                    <iframe id="iframeEngagement" src="https://player.vimeo.com/video/298217864" width="100%" height="320" frameborder="0" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>allow="autoplay; fullscreen" 
    </div>
</div>

<div class="control-popup modal fade" id="inclusion-popup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="inclusion-video" class="frameWrapper">
                    <iframe id="iframeInclusion" src="https://player.vimeo.com/video/298217952" width="100%" height="320" frameborder="0" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
<script>
    var iframeSafety = document.getElementById("iframeSafety");
    var playerSafety = new Vimeo.Player(iframeSafety);
    
    playerSafety.on('loaded', function() {
      console.log('loaded!');
    });

    $("#safety-popup").on('shown.bs.modal', function () {
        playerSafety.getPaused().then(function(paused) {
            if (paused) {
                playerSafety.play();
            }
        });
    })
    
    $("#safety-popup").on('hidden.bs.modal', function () {
        playerSafety.pause();
    })
    
    
    
    var iframeEngagement = document.getElementById("iframeEngagement");
    var playerEngagement = new Vimeo.Player(iframeEngagement);
    
    playerEngagement.on('loaded', function() {
      console.log('loaded!');
    });

    $("#engagement-popup").on('shown.bs.modal', function () {
        playerEngagement.getPaused().then(function(paused) {
            if (paused) {
                playerEngagement.play();
            }
        });
    })
    
    $("#engagement-popup").on('hidden.bs.modal', function () {
        playerEngagement.pause();
    })
    
    
    
    
    var iframeInclusion = document.getElementById("iframeInclusion");
    var playerInclusion = new Vimeo.Player(iframeInclusion);
    
    playerInclusion.on('loaded', function() {
      console.log('loaded!');
    });

    $("#inclusion-popup").on('shown.bs.modal', function () {
        playerInclusion.getPaused().then(function(paused) {
            if (paused) {
                playerInclusion.play();
            }
        });
    })
    
    $("#inclusion-popup").on('hidden.bs.modal', function () {
        playerInclusion.pause();
    })
</script>